/* ==========================================================================
   FONT STYLE AREA
   ========================================================================== */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('fonts/ProximaNovaCond-Regular.eot');
  src: url('fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/ProximaNova-Extrabld.eot');
  src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**/
#step_area{} 
#step_area h1, .new_get_quort_area_inner h1, .new_get_court_child_one h1, .new_get_court_child_two h1, .new_get_court_child_three h1{font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;}
#step_area .stepS{}
#step_area .stepS .stepOne{}
#step_area .stepS .stepOne span.StepIcon{}
#step_area .stepS .stepOne span.StepIcon{}
#step_area .stepS .stepOne br{display: inline-block; margin: 0; padding: 0;}
#step_area .stepS .stepOne p{color: #ffffff;
font-family: "proxima_nova_rgbold";font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;
font-size: 15px;
text-align: center;}
#step_area .stepGet a{
  background: #eba883 none repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-family: "proxima_nova_rgbold";
  font-size: 25px;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
}
.textCenter {margin: 18px 0 30px;}
.new_get_court_child_one p, .new_get_court_child_two p {font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;font-size: 15px;margin: 15px auto;width: 102px;}
#exhi_quort .new_get_court_child_one {margin-left: 125px;}
.new_get_court_child_three p {font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;margin: 15px auto;width: 135px;}
#exhi_quort .new_get_court_child_three p {width: 170px;}
.new_get_quort_btn a {font-family: "proxima_nova_rgbold";font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;}
.mail_left_text h2 {padding-top: 45px;margin: 6px 0;}
#pest_header .headesr_slide_text {padding: 30px;width: 525px;}
.new_get_court_child_three {width: 165px;}
.new_get_court_child_one {margin-left: 115px;}
#wedding_quort .new_get_court_child_three {width: 190px;}
#pest_quort .new_get_court_child_three {width: 165px;}
#pest_quort .new_get_court_child_three p {margin: 0 auto;}
.new_fix_fix_quort{height: 1px;overflow: hidden;width: 100%;}
.get_quort_area {background: #2f8dda none repeat scroll 0 0;}
.get_court_child_one, .man_get_court_child_one {margin-left: 115px;width: 135px;}
.get_court_child_two, .man_get_court_child_two {margin-left: 20px;margin-right: 20px;width: 125px;}
.get_court_child_three, .man_get_court_child_three { width: 135px;}
.get_court_child_one p, .get_court_child_two p, .get_court_child_three p, .man_get_court_child_one p, .man_get_court_child_two p, .man_get_court_child_three p{margin: 10px 0;}
#stand_lock .mail_left_text h2 {padding-top: 33px;}
.inner_quort_area p {color: #fff;}
#management_company .mail_left_text h2 {padding-top: 5px;}
.mail_right_text h2 {margin: 6px 0;}
#aduio_vusioul .mail_left_text h2 {padding-top: 15px;}
.mail_left_text h2 {padding-top: 5px;}
#companies_in_dubai .mail_left_text h2 {padding-top: 35px;}
#florists_dubai .mail_left_text h2 {padding-top: 20px;}
#gift_pc .mail_left_text h2 {padding-top: 20px;}
#confureance_event .mail_left_img {margin-top: 25px;}
#product_event .mail_left_img { margin-top: 20px;}
.QuotesSec {background: #2F8DDA none repeat scroll 0 0;}
.QuotesSec h2 {color: #ffffff;}
#white.get_quort_area {background: #2F8DDA none repeat scroll 0 0;}
#white.get_quort_area .inner_quort_area p {color: #ffffff;}
#get_quort .new_get_court_child_three p {width: 190px;}
#florists_quort .new_get_court_child_three p {width: 100px;}
#pest_control_services .mail_left_text h2 {padding-top: 50px;}
#event_quort .new_get_court_child_three {width: 190px;}
#event_quort .new_get_court_child_three p {width: 170px;}













/* Desktop Layout: 768px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 970px;} 
.printing_press_area_img {margin-top: 60px;}    
.printing_press_area_txt {width: 615px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;}    
.inner_business_card_area_txt {width: 675px;} 
.stationary_area_inner_text {width: 600px;}    
.promot_event_area_text {width: 670px;}   
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 970px;}
.man_child_service_img {width: 300px;}  
.man_child_service_img img {height: 250px;width: 300px;} 
.man_child_service_txt {width: 655px;} 
.man_get_court_child_one {margin-left: 215px;}
.man_child_inner_mainpress_area {margin-left: 48px;margin-right: 48px;} 
.man_icon_boot {margin-left: -104px;}
.child_handyman_txt {width: 670px;} 
.child_handyman_img {width: 280px;}
.child_man_electrical_txt {width: 595px;}
.child_plumbing_txt {width: 655px;}
.child_man_painting_txt {width: 605px;}
.child_install_txt {width: 705px;}    
/**/    
.photo_icon_boot {margin-left: 225px}    
    
    
    
    
    
    
    
    
    
    
    
        
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 700px;} 
.child_header_area {margin-left: 26px;margin-top: 26px;}    
.printing_press_area_img {margin-top: 60px;width: 250px;height: 250px;}    
.printing_press_area_txt {width: 420px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;width: 150px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.inner_business_card_area_txt {width: 440px;} 
.inner_business_card_area_img {width: 230px;}  
.stationary_area_inner_img {width: 230px;}    
.stationary_area_inner_text {width: 430px;}    
.promot_event_area_text {width: 430px;}    
.promot_event_area_img {width: 230px;}    
.printing_press_area_img img {height: 220px;width: 250px;}    
.stationary_area_inner_img img {height: 170px;width: 230px;} 
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 710px;}
.main_child_hedder {float: none;margin: 35px auto;}    
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 210px;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 180px;width: 200px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 485px;} 
.man_get_court_child_one {margin-left: 90px;}
.man_child_inner_mainpress_area {margin-left: 10px;
margin-right: 10px;
width: 200px;} 
.man_icon_boot {margin-left: -104px;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}    
/**/    
.photo_icon_boot {margin-left: 140px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 710px;} 
.cleaning_child_hedder {margin: 25px auto;width: 617px;float: none;}    
.clearing_hed_btn {width: 287px;} 
.clearing_hed_btn a { font-size: 16px;padding: 15px;}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* Mobile Layout: 320px. */
@media only screen and (min-width: 200px) and (max-width: 479px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 290px;} 
.child_header_area {height: 342px;
margin-bottom: 30px;
margin-left: 5px;
margin-top: 30px;
opacity: 1;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
width: 280px;}
.child_header_area h1 {font-size: 24px;
line-height: 28px;
padding-top: 5px;} 
.child_header_area h3 {font-size: 17px;
padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 9px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;margin: 0 auto;width: 250px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;margin: 0 auto;width: 280px;}    
.child_inner_mainpress_area {float: none;margin: 0 auto;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 280px;}    
.get_court_child_one, .get_court_child_two, .get_court_child_three {float: none;margin: 5px auto;width: 150px;} 
.corporate_area_inner h2 {padding-left: 5px;}    
.stationary_area_inner_img img {height: 160px;width: 220px;}    
.printing_press_area_img img {height: 190px;width: 220px;}    
.inner_dubai_printing_press_area h3 {font-size: 18px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 300px;}
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 310px;}
.main_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;
padding-top: 10px;}
.main_child_hedder h3 {font-size: 14px;
padding-bottom: 14px;
padding-top: 20px;}    
.main_child_hedder h4 {padding-top: 5px;}    
.main_hed_btn {margin: 1px auto 0;width: 255px;}
.main_hed_btn a {font-size: 15px;
    padding: 10px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 260px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 190px;
width: 250px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 280px;float: none; margin: 0 auto;} 
.man_get_court_child_one, .man_get_court_child_three, .man_get_court_child_two {
  float: none;
  margin: 0 auto;
}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}     
.man_get_quort_area_inner h1 {font-size: 25px;}    
.man_get_quort_btn a {font-size: 20px;} 
.man_get_quort_btn {width: 200px;} 
.man_inner_dubai_printing_press_area h3 {font-size: 20px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 300px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 360px;}      
.cleaning_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 5px;
width: 100%;}  
.cleaning_child_hedder h3 {width: 100%;}    
.cleaning_inner_mainpress_area {width: 300px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}     
.clearing_hed_btn {height: 47px;margin:0 auto 0 0;width: 251px;}
.clearing_hed_btn a {font-size: 14px;padding: 10px 13px;}    
.headesr_slide_text h3 {margin-top: 0;} 
#event_header .headesr_slide_text {height: 358px;}    
    
    
    
    
    

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 430px;} 
.child_header_area {margin-bottom: 10px;margin-left: 10px;margin-top: 10px;padding-left: 5px;padding-right: 5px;padding-top: 5px;width: 410px;}
.child_header_area h1 {font-size: 35px;padding-top: 5px;} 
.child_header_area h3 {padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 85px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;
margin: 0 auto;
width: 300px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;
margin: 0 auto;
width: 400px;}    
.child_inner_mainpress_area {margin-left: 25px;margin-right: 25px;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 400px;}    
.get_court_child_one {margin-left: 0;width: 120px;}    
.get_court_child_two {width: 120px;}
.get_court_child_three {width: 120px;}    
.printing_press_area_img img {height: 275px;width: 290px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 100%; min-width:410px;}
.man_get_quort_area_inner{width:410px;}    
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 280px;}
.main_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 5px;padding-top: 10px;}
.main_child_hedder h4 {padding-top: 12px;}
.main_child_hedder h3 {font-size: 14px;padding-bottom: 20px;padding-top: 20px;}    
.main_hed_btn {margin: 10px auto 0;}
.main_hed_btn a {font-size: 18px;padding: 15px 20px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 310px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 210px;
width: 280px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {float: none;
margin: 0 auto;
min-width: 390px;
width: 90%;} 
.man_get_court_child_one {margin-left: 45px;}
.man_get_court_child_three {margin-left: 107px;
margin-right: 5px;
width: 190px;}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: auto;}
.child_man_painting_img {margin-right: auto;}     
/*Cleaning*/
.cleaning_headder_inner {width: 410px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 295px;}      
.cleaning_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 12px;}  
.cleaning_inner_mainpress_area {width: 410px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}    
.cleaning_child_hedder h3 {font-size: 14px;padding-bottom: 16px;width: 375px;}    
.clearing_hed_btn {height: 47px;margin: 0 auto 0 70px;width: 251px;}
.clearing_hed_btn a {font-size: 14px;padding: 11px 18px;}    
    
    
    
    
    
    
    
    

    
}
