<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Dear {{ name }},</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
	Thank you for contacting BusinessBid.
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%; ">
	Our team is looking into your request and you can expect to be contacted with either an answer to your question or a solution to the issue raised.
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%;  ">
	Our expected time-frames to respond will vary according to the severity or complexity of the matter being addressed and volume of contacts reaching us but we will usually respond within 48 hours.
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%;  ">
            However we assure you that we are working to get back to you as fast as possible and to properly address your questions and concern.
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%;  ">
	If the matter is urgent or need help call us on 04 42 13 777.   
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;text-align:left">Regards<br>BusinessBid Team</p>


