 <table width="100%" bgcolor="#939598" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td colspan="2" align="center" valign="middle" bgcolor="#939598">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="23" bgcolor="#f36e23">&nbsp;</td>
  </tr>
  <tr>
    <td height="92" align="center" bgcolor="#FFFFFF"><img src="http://115.124.120.36/web/img/logo.png" ></td>
  </tr>
  <tr>
    <td height="34" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF"><table width="550" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%; color:#262626; ">
        <p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%"> Please click the below link to change your password.</p></td>
      </tr>
<table width="280" bgcolor="#d25e00" align="center" cellspacing="2" cellpadding="0" border="0">
<tbody>
<tr>
<td bgcolor="#ff7201" align="center">
<a target="_blank" style="color:#ffffff;font-family:Proxinova,Calibri,Arial; font-size:20px;text-decoration:none;display:block;padding-top:12px;padding-bottom:12px" href="http://115.124.125.80{{ path('b_bids_b_bids_user_email_verify', {'userid': userid, 'userhash': userhash}) }}" > Click Here </a>
</td>
</tr>
</tbody>
</table>
</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
 
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
    </table>

    </td>
  </tr>
  </table>
