/* ==========================================================================
   Css reset
   ========================================================================== */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* ==========================================================================
   Common Styles
   ========================================================================== */
.alignleft{float:left;margin-right:15px}.alignright{float:right;margin-left:15px}.aligncenter{display:block;margin:0 auto 15px}a:focus{outline:solid 0}img{max-width:100%;height:auto}.fix{overflow:hidden}h1,h2,h3,h4,h5,h6{margin:0 0 15px;font-weight:700}body,html{height:100%}a{transition:.3s;color:#333}a:hover{text-decoration:none}

@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;font-style: normal;}

#header_area_404{height: 100%;overflow: hidden;position: relative;width: 100%;}
#header_area_404 img.bg{width: 100%;height: 100%;display: block;}
#header_area_404 .main_area_404{position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
#header_area_404 .main_area_404 .text_404{margin: 95px auto;position: relative;text-align: center;overflow: hidden;    width: 540px;z-index: 1;}
#header_area_404 .main_area_404 .text_404::after {background: #000000 none repeat scroll 0 0;border-radius: 5px;content: "";height: 100%;left: 0;opacity: 0.5;position: absolute;top: 0;width: 100%;z-index: -1;}
#header_area_404 .main_area_404 .text_404 h1{color: #ffffff;font-family: "proxima_nova_rgsemibold";font-size: 23px;font-weight: normal;line-height: normal;margin: 0;padding-bottom: 45px;padding-top: 25px;}
#header_area_404 .main_area_404 .text_404 img{height: 100%;margin-top: 42px;max-height: 135px;max-width: 325px;width: 100%;}
#header_area_404 .main_area_404 .a404_footer{margin: 350px auto 20px;overflow: hidden;text-align: center;width: 330px;}
#header_area_404 .main_area_404 .a404_footer h2{color: #ffffff;font-family: "proxima_nova_rgsemibold";font-size: 20px;font-weight: normal;line-height: normal;margin: 0;padding-bottom: 45px;padding-top: 25px;}
#header_area_404 .main_area_404 .a404_footer a{display: inline-block; color: #fff;}
#header_area_404 .main_area_404 .a404_footer a:hover{color: #ddd;}
#header_area_404 .main_area_404 .a404_footer img.footer_logo_404{}

/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
#header_area_404 .main_area_404 .a404_footer {margin: 50px auto 20px;}
    
}
/* ==========================================================================
   Tablet Layout: 768px. 
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
#header_area_404 .main_area_404 .a404_footer {margin: 30px auto 20px;}
    
}
/* ==========================================================================
   Mobile Layout: 320px.
   ========================================================================== */
@media only screen and (max-width: 767px) { 
#header_area_404 .main_area_404 .a404_footer {margin: 20px auto;width: 280px;}
#header_area_404 .main_area_404 .text_404 {width: 250px;}  
#header_area_404 .main_area_404 .text_404 h1 {font-size: 18px;padding: 20px 5px;}    
#header_area_404 .main_area_404 .text_404 img {margin-top: 35px;max-height: 80px;max-width: 190px;}     
    
}
/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
#header_area_404 .main_area_404 .a404_footer {margin: 20px auto;} 
#header_area_404 .main_area_404 .text_404 {width: 420px;}  
#header_area_404 .main_area_404 .text_404 h1 {font-size: 18px;}

}