{% extends '::base.html.twig' %}
{% block title %}Get Free Commercial Cleaning Quotes Now{% endblock %}
{% block noindexMeta %}<link rel="canonical" href="{{ url('b_bids_b_bids_post_by_search_inline',{'categoryid':catid }) }}" />{% endblock %}
{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
    .pac-container:after{
        content:none !important;
    }
</style>
<link rel="stylesheet" href="{{ asset('css/nprogress.css') }}">
<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
<div class="cat-form">
  <div class="photo_form_one_area modal1">
    <h1>Need cleaning at your company or commercial facility?</h1>
    <p>Whether it is an office, warehouse, school or restaurant, fill out a simple form and get competitive quotes from multiple cleaning companies. Compare quotes and hire the best one.
      <br>OR<br><br><span class="call-us">CALL (04) 4213777</span></p>
  </div>

        {{ form_start(form, {attr: {id: 'category_form'}}) }}
        {# , {attr: {novalidate: 'novalidate'}} #}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 1 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/servicesrequired.png') }}" alt="Servicesrequired">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>What kind of cleaning services do you require?</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in form.subcategory %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          {% if form.subcategory|length is odd %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner" ></div>
                           </div>
                          {% endif %}
                          <div class="error" id="photography_service"></div>
                      </div>
                      <div class="photo_contunue_btn proceed">
                          <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 2 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimension.png') }}" alt="Dimension">
                  </div>
                  <div class="inner_photo_one_form_table service">
                      <h3>What kind of property is the service required for?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.service.children[0] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.service.children[2] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.service.children[4] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[4] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.service.children[1] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[1] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.service.children[3] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[3] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.service.children[5] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_widget( form.service_other  ,{'attr': {'class': 'service'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="service"></div>
                      </div>
                  </div>
              </div>
          </div>
          {# <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimensionIcon.png') }}" alt="cleaned Icon">
                  </div>
                  <div class="inner_photo_one_form_table offenCleaned">
                      <h3>How supplies do you need it cleaned?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.offen_cleaned.children[0] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_label( form.offen_cleaned.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.offen_cleaned.children[2] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_label( form.offen_cleaned.children[2] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.offen_cleaned.children[1] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_label( form.offen_cleaned.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.offen_cleaned.children[3] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_widget( form.offen_cleaned_other  ,{'attr': {'class': 'offenCleaned'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="offen_cleaned"></div>
                      </div>
                  </div>
              </div>
          </div> #}
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/equipment.png') }}" alt="Equipment">
                  </div>
                  <div class="inner_photo_one_form_table supplies">
                      <h3>Will you provide cleaning equipment and supplies?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.supplies.children[0] ,{'attr': {'class': 'supplies'}}) }}
                                  {{ form_label( form.supplies.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner ">
                                 {{ form_widget( form.supplies.children[1] ,{'attr': {'class': 'supplies'}}) }}
                                  {{ form_label( form.supplies.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="supplies"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/cleaning.png') }}" alt="Cleaning">
                  </div>
                  <div class="inner_photo_one_form_table occupied">
                      <h3>Will the property be in use during cleaning?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.occupied.children[0] ,{'attr': {'class': 'occupied'}}) }}
                                  {{ form_label( form.occupied.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner ">
                                 {{ form_widget( form.occupied.children[1] ,{'attr': {'class': 'occupied'}}) }}
                                  {{ form_label( form.occupied.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="occupied"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/space.png') }}" alt="Space">
                  </div>
                  <div class="inner_photo_one_form_table spaces">
                      <h3>What spaces is the cleaning required for?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.spaces.children[0] ,{'attr': {'class': 'spaces'}}) }}
                                  {{ form_label( form.spaces.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner ">
                                 {{ form_widget( form.spaces.children[1] ,{'attr': {'class': 'spaces'}}) }}
                                  {{ form_label( form.spaces.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="spaces"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/specific.png') }}" alt="Specific">
                  </div>
                  <div class="inner_photo_one_form_table specific">
                      <h3>What specific services would you require?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.specific.children[0] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner ">
                                 {{ form_widget( form.specific.children[2] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.specific.children[4] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[4] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text innertext2">
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.specific.children[1] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[1] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.specific.children[3] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[3] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.specific.children[5] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[5] ) }}
                             </div>
                              <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.specific.children[6] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_widget( form.specific_other ,{'attr': {'class': 'specific'}}) }}
                                   <h5>(max 30 characters)</h5>
                             </div>

                          </div>
                          <div class="error" id="specific"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/planned.png') }}" alt="Planned">
                  </div>
                  <div class="inner_photo_one_form_table often">
                      <h3>How often do you need this service?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.often.children[0] ,{'attr': {'class': 'often'}}) }}
                                  {{ form_label( form.often.children[0] ) }}
                             </div>

                             <div class="child_pho_table_left_inner_text innertext2">
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.often.children[1] ,{'attr': {'class': 'often'}}) }}
                                  {{ form_label( form.often.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.often.children[2] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_widget( form.often_other ,{'attr': {'class': 'often'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="often"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimension.png') }}" alt="Dimension">
                  </div>
                  <div class="inner_photo_one_form_table dimension">
                      <h3>What dimension services would you require?</h3>
                      <div class="child_pro_tabil_main">
                        {% for dimensions in form.dimension %}
                          <div class="child_accounting_three1_{{ cycle(['right', 'left'], loop.index) }}">
                            {{ form_widget(dimensions,{'attr': {'class': 'dimensions'}}) }} {{ form_label(dimensions) }}
                          </div>
                        {% endfor %}

                          <div class="child_pho_table_right">
                            <div class="child_accounting_three1_right innertext2"></div>
                          </div>

                         {#  <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimension.children[0] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[0] ) }}
                             </div>
                              <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.dimension.children[1] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimension.children[2] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[2] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">

                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.dimension.children[3] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[3] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimension.children[4] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[4] ) }}
                             </div>
                             <div class="child_pho_table_left_inner innertext2">
                             </div>
                          </div> #}
                          <div class="error" id="dimension"></div>
                      </div>
                        <div class="inner_photo_one_form_table">
                      <div class="proceed">
                          <a href="javascript:void(0)" id="continue2" class="button3"><button type="button">CONTINUE</button></a>
                      </div>
                      <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback1">BACK</a></div>
                    </div>
                  </div>
              </div>

          </div>
        </div>
        {# step 2 ends#}
 {# step 3 #}
         <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                  <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 3 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          {% if form.contactname is defined %}
          <div class="photo_form_main">
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/name.png') }}" alt="Name">
                  </div>
                  <div class="inner_photo_one_form_table" >
                      <h3>{{ form_label( form.contactname ) }}</h3>
                          {{ form_widget( form.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/email.png') }}" alt="Email">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.email ) }} </h3>
                     {{ form_widget( form.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/location.png') }}" alt="Location">
                  </div>
                  <div class="inner_photo_one_form_table res2" >
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main res21">
                          <div class="child_accounting_three_left">
                              {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>


              {% if form.city is defined %} <div class="photo_one_form for-uae ">
              <div class="inner_photo_one_form mask domcity_cont" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city icon.png') }}" alt="City Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                    <h3>{{ form_label( form.city ) }}</h3>
                    <div class="child_pro_tabil_main city_cont">
                      {{ form_widget( form.city,{'attr':{'class':''}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if form.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/location icon.png') }}" alt="Location Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.location ) }}</h3>
                     {{ form_widget( form.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if form.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/mobile icon.png') }}" alt="Mobile Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table">
                        <h3>{{ form_label( form.mobilecode ) }}</h3>


                        <label style="margin-top:-4px;"><b>Area Code</b></label>
                        {{ form_widget( form.mobilecode ) }}
                        {{ form_widget( form.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/phone icon.png') }}" alt="Phone Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table">
                            <h3>{{ form_label( form.homecode ) }}</h3>


                             <label style="margin-top:-4px;"><b>Area Code</b></label>
                            {{ form_widget( form.homecode ) }}
                            {{ form_widget( form.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div></div>
                    {% endif %}


            <div class="photo_one_form for-foreign">
              {% if form.country is defined %}
              <div class="inner_photo_one_form mask intCountry_cont" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/international icon.png') }}" alt="international Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.country ) }}</h3>
                     {{ form_widget( form.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city icon.png') }}" alt="City Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.cityint ) }}</h3>
                      {{ form_widget( form.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if form.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/mobile icon.png') }}" alt="Mobile Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.mobilecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.mobilecodeint ) }}
                      {{ form_widget( form.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/phone icon.png') }}" alt="Phone Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.homecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.homecodeint ) }}
                      {{ form_widget( form.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>

            <div class="photo_one_form" id="hireBlock">
              <div class="inner_photo_one_form hire_cont">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/looking to hire.png') }}" alt="Looking To Hire">
                  </div>
                  <div class="inner_photo_one_form_table resp1">
                    <h3>When are you looking to hire?*</h3>
                    <div class="child_pro_tabil_main  ">
                      {{ form_widget( form.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/information.png') }}" alt="Information">
                </div>
                <div class="inner_photo_one_form_table resp1">
                    <h3>Is there any other additional information you would like to provide?</h3>
                    {{ form_widget( form.description ) }}
                     <br> <h5 class="char">(max 120 characters)</h5>
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}
                <div class="inner_photo_one_form_table">
                  <div class="proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(form.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                  <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        </script></div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <p>Page 4 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}" rel="nofollow" alt="Twitter Bird"/></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}" rel="nofollow" alt="Facebook Sign" /></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn11">
                  <a href="{{ path('bizbids_vendor_search') }}">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn11">
                  <a href="{{ path('b_bids_b_bids_home_homepage') }}" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}
           {{ form_end(form) }}
</div>
</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
<script type="text/javascript">
    function scrollBox (tag) {
        $('html,body').animate({scrollTop: tag.position().top -10},'slow');
    }
    $(document).ready(function () {
        var forms = [
            '[ name="{{ form.vars.full_name }}"]'
          ];
        var validationFlag = true;
          $( forms.join(',') ).submit( function( e ){
            e.preventDefault();
            console.log("tried submitting")
            if(validationFlag) {
                postForm( $(this), function( response ){
                    if(response.hasOwnProperty('error')) {
                        alert(response.error);
                        var i = 1;
                        for (i = 1; i < 5; i++) {
                            $("div#step"+i).hide();
                        };
                        $("div#step"+response.step).show();
                    } else {
                        var form=document.createElement("form");form.setAttribute("method","post"),form.setAttribute("action",'{{ path("bizbids_job_post_sucessful") }}');var hiddenField=document.createElement("input");hiddenField.setAttribute("name","jobno"),hiddenField.setAttribute("value",response.jobNo),hiddenField.setAttribute("type","hidden"),form.appendChild(hiddenField),document.body.appendChild(form),form.submit();
                        $("#category_form")[0].reset();
                    }
                });
                ga('send', 'event', 'Button', 'Click', 'Form Sent');
            }
            return false;
          });
        function postForm( $form, callback ) {
            NProgress.start();
              $.ajax({
                type        : $form.attr( 'method' ),
                beforeSend  : function() { NProgress.inc() },
                url         : $form.attr( 'action' ),
                data        : $form.serialize(),
                success     : function(data) {
                  callback( data );
                  NProgress.done();
                },
                error : function (xhr) {
                    alert("Error occured.please try again");
                    NProgress.done();
                }
              });
        }
    })
</script>
<script type="text/javascript" src="{{ asset('js/nprogress.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/reviewsform.general.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/'~ twigFileName ~'.min.js') }}" ></script>
{% endblock %}
