{% extends '::base.html.twig' %}
{% block title %}Get Moving & Storage Services Quotes Now{% endblock %}
{% block noindexMeta %}<link rel="canonical" href="{{ url('b_bids_b_bids_post_by_search_inline',{'categoryid':catid }) }}" />{% endblock %}
{% block banner %}

{% endblock %}

{% block maincontent %}

<style>
    .pac-container:after{
        content:none !important;
    }
</style>
<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('css/nprogress.css') }}">
<link rel="stylesheet" href="{{ asset('css/validationEngine.jquery.css') }}" type="text/css"/>
<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
<div class="cat-form">
  <div class="photo_form_one_area modal1">
    <h1>Looking for Moving & Storage in the UAE</h1>
    <p>Tell us bit about your requirement and get free quotes from experienced Moving & Storage Services companies in under a minute. Compare quote and hire the best one.
      <br>OR<br><br><span class="call-us">CALL (04) 4213777</span></p>
  </div>

        {{ form_start(form, {attr: {id: 'category_form',novalidate: 'novalidate'}}) }}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 1 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form kindofService">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Moving & Storage-1.png') }}" alt="Moving storage">
                  </div>
                  {% set oddoreven = 'even' %}
                  {% if form.subcategories|length is odd %}
                    {% set oddoreven = 'odd' %}
                  {% endif %}
                  <div class="inner_photo_one_form_table">
                      <h3>What service is required?</h3>
                      <div class="child_pro_tabil_main">
                          {% for child in form.subcategories %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child, { 'attr': {'class': 'validate[minCheckbox[1]]'}} ) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          {% if oddoreven == 'odd' %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner innertext2"></div>
                           </div>
                          {% endif %}
                          <div class="error" id="kind_service"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/plan.png') }}" alt="Plan">
                  </div>
                  <div class="inner_photo_one_form_table eventPlaned">
                      <h3>What date do you require the service?</h3>
                      {{ form_widget( form.event_planed ,{'attr': {'class': 'event validate[required] text-input datepicker'}}) }}
                  </div>
                  <div class="error" id="event_planed"></div>
                  <div class="photo_contunue_btn proceed">
                      <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                  </div>
              </div>
          </div>
        </div>

        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 2 of 4</p>
                    </div>
               </div>
              </div>
          </div>

          <div class="photo_one_form" id='movingFromBlock' style="display:none;">
              <div class="inner_photo_one_form movingFrom">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Moving & Storage-moving from.png') }}" alt="Moving & Storage-moving from icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3 id='movingFromQuestion'>Where in UAE you are moving from?</h3>
                      {{ form_widget( form.moving_from ,{'attr': {'class': 'form-input validate[optional,condRequired[categories_form_subcategories_0,categories_form_subcategories_1]]'}}) }}
                  </div>
                  <div class="error" id="moving_from"></div>
              </div>
          </div>

          <div class="photo_one_form" id='movingToBlock' style="display:none;">
            <div class="inner_photo_one_form movingTo">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Moving & Storage-moving to.png') }}" alt="Moving & Storage-moving to icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3 id='movingToQuestion'>Where in UAE you are moving to?</h3>
                      {{ form_widget( form.moving_to ,{'attr': {'class': 'form-input validate[optional,condRequired[categories_form_subcategories_0,categories_form_subcategories_1]]'}}) }}
                  </div>
                  <div class="error" id="moving_to"></div>
              </div>
          </div>

          {% set oddoreven = 'even' %}
          {% set durationLength = form.duration|length - 1 %}
          {% if form.duration|length is odd %}
            {% set oddoreven = 'odd' %}
          {% endif %}
          <div class="photo_one_form" id="storageBlock" style="display:none;">
            <div class="inner_photo_one_form duration">
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/Moving & Storage-choose storage.png') }}" alt="calander Icon">
                </div>
                <div class="inner_photo_one_form_table">
                    <h3 >How long do you require storage for?</h3>
                    <div class="child_pro_tabil_main">
                      {% for child in form.duration %}
                            {% if child.vars.label == 'Other' %}
                              <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                                <div class="child_pho_table_left_inner_text" >
                                    {{ form_widget(child) }}
                                    {{ form_widget( form.duration_other,{'attr': {'class': 'validate[condRequired[categories_form_duration_3]]'}}) }}
                                    <h5>(max 30 characters)</h5>
                                </div>
                              </div>
                            {% else %}
                              <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                                <div class="{% if oddoreven == 'even' and durationLength == loop.index %}child_pho_table_left_inner_text{% else %}child_pho_table_left_inner{% endif %}" >
                                    {{ form_widget(child,{'attr': {'class': 'validate[optional,condRequired[categories_form_subcategories_2]]'}}) }} {{ form_label(child) }}
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if oddoreven == 'odd' %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner_text innertext2"></div>
                           </div>
                          {% endif %}
                      <div class="error" id="duration"></div>
                  </div>
                </div>
            </div>
          </div>

          {% set oddoreven = 'even' %}
          {% if form.packing|length is odd %}
            {% set oddoreven = 'odd' %}
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Moving & Storage-packing assistance.png') }}" alt="Moving Storage-packing assistance">
                  </div>
                  <div class="inner_photo_one_form_table packing">
                      <h3>Do you require packing teaching?</h3>
                      <div class="child_pro_tabil_main">
                        {% for child in form.packing %}
                          <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                            <div class="child_pho_table_left_inner" >
                                {{ form_widget(child,{'attr': {'class': 'validate[required]'}}) }} {{ form_label(child) }}
                            </div>
                          </div>
                        {% endfor %}
                        {% if (oddoreven == 'odd') %}
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_left_inner_text innertext2"></div>
                         </div>
                        {% endif %}
                    </div>
                  </div>
              </div>
          </div>

          {% set oddoreven = 'even' %}
          {% if form.usage|length is odd %}
            {% set oddoreven = 'odd' %}
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Moving & Storage-service required.png') }}" alt="Moving & Storage-service required Icon">
                  </div>
                  <div class="inner_photo_one_form_table usage">
                      <h3>Is the service required for?</h3>
                      <div class="child_pro_tabil_main">
                        {% for child in form.usage %}
                          <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                            <div class="child_pho_table_left_inner" >
                                {{ form_widget(child,{'attr': {'class': 'validate[required]'}}) }} {{ form_label(child) }}
                            </div>
                          </div>
                        {% endfor %}
                        {% if (oddoreven == 'odd') %}
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_left_inner_text innertext2"></div>
                         </div>
                        {% endif %}
                        <div class="error" id="usage"></div>
                    </div>
                  </div>
              </div>
          </div>

          {% set oddoreven = 'even' %}
          {% if form.premises|length is odd %}
            {% set oddoreven = 'odd' %}
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Moving & Storage-current premises.png') }}" alt="Moving & Storage-current premises icon">
                  </div>
                  <div class="inner_photo_one_form_table premises">
                      <h3>Size of your current premises?</h3>
                      <div class="child_pro_tabil_main">
                        {% for child in form.premises %}
                            {% if child.vars.label == 'Other' %}
                              <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                                <div class="child_pho_table_left_inner_text" >
                                    {{ form_widget(child) }}
                                    {{ form_widget( form.premises_other ,{'attr': {'class': 'validate[condRequired[categories_form_premises_4]]'}}) }}
                                    <h5>(max 30 characters)</h5>
                                </div>
                              </div>
                            {% else %}
                              <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                                <div class="{% if oddoreven == 'even' and premisesLength == loop.index %}child_pho_table_left_inner_text{% else %}child_pho_table_left_inner{% endif %}" >
                                    {{ form_widget(child,{'attr': {'class': 'validate[required]'}}) }} {{ form_label(child) }}
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if oddoreven == 'odd' %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner_text innertext2"></div>
                           </div>
                          {% endif %}
                        <div class="error" id="premises"></div>
                    </div>
                    <div class="inner_photo_one_form_table">
                      <div class="proceed">
                          <a href="javascript:void(0)" id="continue2" class="button3"><button type="button">CONTINUE</button></a>
                      </div>
                      <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback1">BACK</a></div>
                    </div>
                  </div>
              </div>
          </div>
        </div>
      {# step 2 ends#}
      {# step 3 #}
         <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                  <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 3 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          {% if form.contactname is defined %}
          <div class="photo_form_main">
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/name.png') }}" alt="Name">
                  </div>
                  <div class="inner_photo_one_form_table" >
                      <h3>{{ form_label( form.contactname ) }}</h3>
                          {{ form_widget( form.contactname ,{'attr': {'class': 'form-input name validate[required,custom[onlyLetterSp]]'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/email.png') }}" alt="Email">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.email ) }} </h3>
                     {{ form_widget( form.email ,{'attr': {'class': 'form-input email_id validate[required,custom[email]]'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/location.png') }}" alt="Location">
                  </div>
                  <div class="inner_photo_one_form_table res2" >
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main res21">
                          <div class="child_accounting_three_left">
                              {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': 'land_location validate[minCheckbox[1]]'}}) }}
                                  <p>{{ form_label( form.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location validate[minCheckbox[1]]'}}) }}
                                  <p>{{ form_label( form.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>


              {% if form.city is defined %} <div class="photo_one_form for-uae ">
              <div class="inner_photo_one_form mask domcity_cont" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city icon.png') }}" alt="City Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                    <h3>{{ form_label( form.city ) }}</h3>
                    <div class="child_pro_tabil_main city_cont">
                      {{ form_widget( form.city,{'attr':{'class':'validate[condRequired[categories_form_locationtype_0]]'}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if form.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/location icon.png') }}" alt="Location Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.location ) }}</h3>
                     {{ form_widget( form.location,{'attr':{'class':'form-input validate[condRequired[categories_form_locationtype_0]]'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if form.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/mobile icon.png') }}" alt="Mobile Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table">
                        <h3>{{ form_label( form.mobilecode ) }}</h3>


                        <label style="margin-top:-4px;"><b>Area Code</b></label>
                        {{ form_widget( form.mobilecode, {'attr':{'class': 'validate[condRequired[categories_form_locationtype_0]]'}} ) }}
                        {{ form_widget( form.mobile,{'attr':{'class':'form-input validate[condRequired[categories_form_locationtype_0],custom[number],minSize[6]]'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/phone icon.png') }}" alt="Phone Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table">
                            <h3>{{ form_label( form.homecode ) }}</h3>


                             <label style="margin-top:-4px;"><b>Area Code</b></label>
                            {{ form_widget( form.homecode, {'attr':{'class': 'validate[optional]'}} ) }}
                            {{ form_widget( form.homephone,{'attr':{'class':'form-input validate[optional,custom[number]]'}} ) }}

                        </div>
                    </div>
              </div></div>
                    {% endif %}


            <div class="photo_one_form for-foreign">
              {% if form.country is defined %}
              <div class="inner_photo_one_form mask intCountry_cont" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/international icon.png') }}" alt="international Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.country ) }}</h3>
                     {{ form_widget( form.country,{'attr':{'class':'form-input validate[condRequired[categories_form_locationtype_1]]'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city icon.png') }}" alt="City Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.cityint ) }}</h3>
                      {{ form_widget( form.cityint,{'attr':{'class':'form-input validate[condRequired[categories_form_locationtype_1],custom[onlyLetterSp]]'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if form.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/mobile icon.png') }}" alt="Mobile Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.mobilecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.mobilecodeint,{'attr':{'class':'form-control validate[condRequired[categories_form_locationtype_1],custom[number]]'}} ) }}
                      {{ form_widget( form.mobileint,{'attr':{'class':'form-input1 validate[condRequired[categories_form_locationtype_1],custom[number],minSize[6]]'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/phone icon.png') }}" alt="Phone Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.homecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.homecodeint,{'attr':{'class':'form-control validate[optional,custom[number]]'}} ) }}
                      {{ form_widget( form.homephoneint,{'attr':{'class':'form-input1 validate[optional,custom[number]]'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>

            <div class="photo_one_form" id="hireBlock">
              <div class="inner_photo_one_form hire_cont">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/looking to hire.png') }}" alt="Looking To Hire">
                  </div>
                  <div class="inner_photo_one_form_table resp1">
                    <h3>When are you looking to hire?*</h3>
                    <div class="child_pro_tabil_main  ">
                      {{ form_widget( form.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/information.png') }}" alt="Information">
                </div>
                <div class="inner_photo_one_form_table resp1">
                    <h3>Is there any other additional information you would like to provide?</h3>
                    {{ form_widget( form.description, {'attr': {'class': 'validate[optional]'} } ) }}
                     <br> <h5 class="char">(max 120 characters)</h5>
                </div>

                <div class="inner_photo_one_form_table">
                  <div class="proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(form.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                  <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        </div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <p>Page 4 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}" rel="nofollow" alt="Twitter Bird"/></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}" rel="nofollow" alt="Facebook Sign" /></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn11">
                  <a href="{{ path('bizbids_vendor_search') }}">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn11">
                  <a href="{{ path('b_bids_b_bids_home_homepage') }}" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}

</div>
{{ form_rest(form) }}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
<script type="text/javascript" src="{{ asset('js/nprogress.js') }}"></script>
<script src="{{ asset('js/jquery.validationEngine-en.js') }}" type="text/javascript" charset="utf-8"></script>
<script src="{{ asset('js/jquery.validationEngine.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/reviewsform.general.js') }}" ></script>

<script type="text/javascript">
function scrollBox(tag) {
    $('html,body').animate({
        scrollTop: tag.position().top - 10
    }, 'slow');
}
$(document).ready(function() {
  $( "#categories_form_event_planed" ).datepicker({dateFormat: 'dd/mm/yy',changeMonth: true,changeYear: true,minDate: 0, maxDate: "+15M +10D"});

  var validationFlag = true;
  // binds form submission and fields to the validation engine
  $("#category_form").validationEngine({
      ignore: ":hidden"
  });
  $('div.proceed').click(function() {
      var clickedStep = $(this).children("a:first").attr('id'),
          $step = clickedStep.match(/\d+/);

      if ($step) {
          if ($step == "1") {
              valid = $("#category_form").validationEngine('validate');
              if (valid == false) {
                  $("#category_form").validationEngine({
                      ignore: ":hidden"
                  });
                  return false;
              }
              $("[name='categories_form[subcategories][]']:checked:checked:enabled").each(function() {
                  var selectedSubCategory = $(this).val();
                  switch (selectedSubCategory) {
                      case '839':
                          $('div#movingFromBlock,div#movingToBlock').show();
                          $('#movingFromQuestion').html('Where in UAE you are moving from?');
                          $('#movingToQuestion').html('Where in UAE you are moving to?');
                          break;
                      case '840':
                          $('div#movingFromBlock,div#movingToBlock').show();
                          $('#movingFromQuestion').html('Where in UAE you are moving from?');
                          $('#movingToQuestion').html('Which country you are moving to?');
                          break;
                      case '841':
                          $('div#storageBlock').show();
                          break;
                  }
              });
          } else if ($step == "2") {

              var valid = $("#category_form").validationEngine('validate');
              if (valid == false) {
                  $("#category_form").validationEngine({
                      ignore: ":hidden"
                  });
                  return false;
              }
          } else if ($step == "3") {
            validationFlag = false;
              valid = $("#category_form").validationEngine('validate');
              if (valid == false) {
                  $("#category_form").validationEngine({
                      ignore: ":hidden"
                  });
                  return false;
              }
              validationFlag = true;
              //$("#category_form").trigger( "submit" );
          }

          $("div#step" + $step).hide();
          $step++;
          $("#category_form").validationEngine('attach');
          $("div#step" + $step).show();
          scrollBox($("div#step" + $step));
          return true;
      }
  });
  $("div.goback").click(function(){
      var gobackStep = $(this).children("a:first").attr('id'), $step = gobackStep.match(/\d+/);
      $("div#step"+$step).show();
      if($step == 1)
        $('div#movingFromBlock,div#movingToBlock,div#movingFromBlock,div#movingToBlock,div#storageBlock').hide();
      $step++;
      $("div#step"+$step).hide();
  });
  {#  Form submission #}
  var forms = [
    '[ name="{{ form.vars.full_name }}"]'
  ];

  $(forms.join(',')).submit(function(e) {
      e.preventDefault();
      console.log("tried submitting")
      if (validationFlag) {
          postForm($(this), function(response) {
              if (response.hasOwnProperty('error')) {
                  alert(response.error);
                  var i = 1;
                  for (i = 1; i < 5; i++) {
                      $("div#step" + i).hide();
                  };
                  $("div#step" + response.step).show();
              } else {
                var form=document.createElement("form");form.setAttribute("method","post"),form.setAttribute("action",'{{ path("bizbids_job_post_sucessful") }}');var hiddenField=document.createElement("input");hiddenField.setAttribute("name","jobno"),hiddenField.setAttribute("value",response.jobNo),hiddenField.setAttribute("type","hidden"),form.appendChild(hiddenField),document.body.appendChild(form),form.submit();
                  $("#category_form")[0].reset();
              }
          });
          ga('send', 'event', 'Button', 'Click', 'Form Sent');
      }
      return false;
  });

  function postForm($form, callback) {
      NProgress.start();
      $.ajax({
          type: $form.attr('method'),
          beforeSend: function() {
              NProgress.inc()
          },
          url: $form.attr('action'),
          data: $form.serialize(),
          success: function(data) {
              callback(data);
              NProgress.done();
          },
          error: function(xhr) {
              alert("Error occured.please try again");
              NProgress.done();
          }
      });
  }

});
</script>
{% endblock %}
