 <style type='text/css'>
.tg
{
    border-collapse:collapse;border-spacing:0;border-color:#ccc
}
.tg td
{
    font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#fff
}
.tg th
{
    font-family:Arial,sans-serif;
    font-size:14px;
    font-weight:400;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    border-color:#ccc;
    color:#333;
    background-color:#f0f0f0
}
.tg .tg-4eph
{
    background-color:#f9f9f9
}
</style>
<table class='tg'>
    <tr>
        <th class='tg-031e' colspan='2'>
            Cheque Pickup Details
        </th>
    </tr>
    <tr>
        <td class='tg-4eph'>
            Company Name :
        </td>
        <td class='tg-4eph'>
            {{ vendorCompName }}
        </td>
    </tr>
    <tr>
        <td class='tg-031e'>
            Address :
        </td>
        <td class='tg-031e'>
            {{ formData['address'] }}
        </td>
    </tr>
    <tr>
        <td class='tg-4eph'>
            City :
        </td>
        <td class='tg-4eph'>
            {{ formData['city'] }}
        </td>
    </tr>
    <tr>
        <td class='tg-031e'>
            Contact Number :
        </td>
        <td class='tg-031e'>
            {{ formData['contactnumber'] }}
        </td>
    </tr>
    <tr>
        <td class='tg-4eph'>
            Contact Person :
        </td>
        <td class='tg-4eph'>
            {{ formData['contactperson'] }}
        </td>
    </tr>
    {% if formData['bankname'] is defined %}
    <tr>
        <td class='tg-031e'>
            Bank Name :
        </td>
        <td class='tg-031e'>
            {{ formData['bankname'] }}
        </td>
    </tr>
    <tr>
        <td class='tg-031e'>
            Check Number :
        </td>
        <td class='tg-031e'>
            {{ formData['checknumber'] }}
        </td>
    </tr>
    {% endif %}
</table>