
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Dear Admin,</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">The user with the Email ID is {{ email }} has Provided  feedback to BusinessBid</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
<span style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
----------------------------------------------------------------------------------------------------------------------------------------
	<span><b>Name:</b> {{ name }}</span>
	<span><b>Subject:</b> {{ summary }}</span>
	<span><b>Feedback:</b> {{ feedback }}</span>
</span>
</p>

