<table width="900" border="0" cellspacing="0" cellpadding="0" id="printTable" class="print-table">
  <tr>
    <td height="204" align="center" valign="top">
      <table width="900" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="459" height="82" style="padding:0px; height:110px;"><a href="{{ path('b_bids_b_bids_home_homepage')}}"><img src="http://115.124.120.36/stagging/web/img/logo.jpg" ></a></td>
          <td width="292" align="left" valign="middle"  style="font-family:Arial,  Helvetica, sans-serif; font-weight:600; font-size:40px;line-height:36px;padding:3px 0px 3px 10px; margin-left:8px; font-weight:bolder;">INVOICE</td>
        </tr>
      </table>
      <table width="900" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="465" height="80" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:30px;padding:10px 10px 20px 1px; margin-left:8px; ">
              <p>BusinessBid DMCC<br />
              503, Indigo Icon Tower<br />
              Cluster F, JLT-Dubai, UAE<br />
              (04) 4213777<br />
            <u>www.businessbid.ae</u></p>
          </td>
          <td width="292" align="left" valign="top"  style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:30px;padding:10px 10px 3px 10px; margin-left:8px; ">			          <p>Invoice Date: {{ paydate|date('d-m-Y') }}<br>
             Invoice #: {{ ordernumber }}<br>
             Payment Type: {{ paytype }}</p></td>
        </tr>
        <tr>
          <td height="70" align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:30px;padding:3px 10px 20px 1px; margin-left:8px; ">SOLD TO<br />
            {{ bizname }}<br />
            {{ address }}, U.A.E<br />
            {{ smsphone }}<br />
          {{ email }}</td>
          <td align="left" valign="top"  style="font-family:Arial, Helvetica, sans-serif; font-size:18px;line-height:30px;padding:3px 10px 3px 10px; margin-left:8px; ">&nbsp;</td>
        </tr>
      </table>
      <table width="900" border="1" cellspacing="0" cellpadding="15">
        <tr>
          <td height="72" colspan="3" align="center" valign="middle" bgcolor="#3670b7" style="font-family:Arial, Helvetica, sans-serif; font-size:35px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; color:#fff;">CHARGE SUMMARY</td>
        </tr>
        <tr>
          <td width="298" align="center" valign="middle" bgcolor="#e1e1e1"  style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Lead Package</td>
          <td width="304" align="center" valign="middle" bgcolor="#e1e1e1" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Number of Leads</td>
          <td width="298" align="center" valign="middle" bgcolor="#e1e1e1" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Service Category</td>
        </tr>
        {% for c in categories %}
        <tr>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; font-weight:600; margin-left:8px; ">{% if c.leadpack == 10 %}Bronze{% elseif c.leadpack == 25 %}Silver {% elseif c.leadpack == 50 %} Gold {% elseif c.leadpack == 100 %} Platinum {% endif %}</td>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif;  font-weight:600;font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{{ c.leadpack }}</td>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{{ c.category }}</td>
        </tr>
        {% endfor %}
      </table><br/><br/>
      <table width="900" border="1" cellspacing="0" cellpadding="15">
        <tr>
          <td height="72" colspan="5" align="center" valign="middle" bgcolor="#3670b7" style="font-family:Arial, Helvetica, sans-serif; font-size:35px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; color:#fff;">TRANSACTIONS</td>
        </tr>
        <tr>
          <td width="298" align="center" valign="middle" bgcolor="#e1e1e1" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Date</td>
          <td width="298" align="center" valign="middle" bgcolor="#e1e1e1" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Description</td>
          <td width="298" align="center" valign="middle" bgcolor="#e1e1e1" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Amount (AED)</td>
        </tr>
        {% set grandtotal = 0 %}
        {% for o in order %}
        <tr>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{{ o.created|date('d-m-Y') }}</td>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{% if categories[ loop.index - 1 ].leadpack == 10 %}Bronze{% elseif categories[ loop.index - 1 ].leadpack == 25 %}Silver {% elseif categories[ loop.index - 1 ].leadpack == 50 %} Gold {% elseif categories[ loop.index - 1 ].leadpack == 100 %} Platinum {% endif %}</td>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{{ o.amount }}</td>
          {% set grandtotal = grandtotal + o.amount %}
        </tr>
        {% endfor %}
        <tr>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{{ paydate|date('d-m-Y') }}</td>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:18px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">Grand Total</td>
          <td align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-weight:600; font-size:20px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">{{ grandtotal }}</td>
        </tr>
      </table>    </td>
    </tr>
    <tr>
     <td height="40" style="font-family:Arial, Helvetica, sans-serif; font-size:14px;padding:0px 0px 20px 0px; margin-left:8px; font-style:italic; "><p>Please note that this is an electronically generated invoice</p></td>
    </tr>
    <tr>
      <td height="32" style="font-family:Arial, Helvetica, sans-serif; font-size:20px;line-height:37px;padding:3px 10px 3px 10px;  margin-left:0px; ">Thank you for your business</td>
    </tr>
    <tr style="padding-bottom:40px;"><td height="51"><img  width="330" src="http://115.124.120.36/stagging/web/img/business-bid-seal.jpg" ></td></tr>
     <tr>
      <td style="width:100%; height:150px;"></td>
    </tr>
    <tr>
      <td><hr /></td>
    </tr>
    <tr>
      <td height="33" align="center" valign="middle" style="font-family:Arial, Helvetica, sans-serif; font-size:16px;line-height:37px;padding:3px 10px 3px 10px; margin-left:8px; ">BusinessBid DMCC is registered and licensed as a Freezone Company under the Rules & Regulations of DMCC.</td>
    </tr>
  </table>