*{
	margin:0;
	padding:0;
}

body{
	font-size:13px;
	color:#333;
	font-family:Arial, Helvetica, sans-serif;
	/*background:url('../../img/globalsearch/bg.jpg') repeat-x #718693;*/
}

#page{
	/* The main container div */
	width:620px;
	margin:100px auto 0;
}

h1{
	font-family:Corbel,'Myriad Pro',Arial, Helvetica, sans-serif;
	overflow:hidden;
}

#searchForm{
    background-color: rgba(245, 245, 245, 1);
    padding: 20px;
    margin: 20px 0px;
    position: relative;
    border-radius: 4px;
}

fieldset{
	border:none;
}

#searchInputContainer{
	/* This div contains the transparent search box */
	width:420px;
	height:36px;
	background:url("../../img/globalsearch/searchBox.png") no-repeat;
	float:left;
	margin-right:12px;
}

#s{
    border: medium none;
    color: #888;
    float: left;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    margin-right: 12px;
    outline: medium none;
    padding: 0px 0px 0px 10px;
    text-shadow: 1px 1px 0px #FFF;
    width: 81%;
    box-shadow: 0px 0px 3px 1px #E0E0E0;
}

/* The UL that contains the search type icons */

.icons{
	list-style:none;
	margin:10px 0 0 335px;
	height:19px;
	position:relative;
}

.icons li{
	background:url("../../img/globalsearch/icons.png") no-repeat;
	float:left;
	height:19px;
	text-indent:-9999px;
	cursor:pointer;
	margin-right:5px;
}

/* Styling each icon */

li.web{ width:15px;}
li.web.active,
li.web:hover{ background-position:left bottom;}

li.images{ width:22px; background-position:-18px 0;}
li.images.active,
li.images:hover{ background-position:-18px bottom;}

li.news{ width:14px; background-position:-44px 0;}
li.news.active,
li.news:hover{ background-position:-44px bottom;}

li.videos{ width:17px; background-position:right 0;}
li.videos.active,
li.videos:hover{ background-position:right bottom;}

span.arrow{
	/* The little arrow that moves below the icons */
	
	width:11px;
	height:6px;
	margin:21px 0 0 5px;
	position:absolute;
	background:url('../../img/globalsearch/arrow.png') no-repeat;
	left:0;
}


/* The submit button */


#submitButton{
    background: url('..//img/globalsearch/buttons.png') no-repeat scroll 0% 0% #F6A580;
    width: 189px;
    height: 36px;
    overflow: hidden;
    text-transform: uppercase;
    border: medium none;
    cursor: pointer;
    color: #FFF;
    font-size: 15px;
}

#submitButton:hover{
	background-position:left bottom;
}


/* The Search tutorialzine.com / Search the Web radio buttons */


#searchInContainer{
	float:left;
	margin-top:12px;
	width:330px;
}

label{
	color:#DDDDDD;
	cursor:pointer;
	font-size:11px;
	position:relative;
	right:-2px;
	top:-2px;
	margin-right:10px;
	white-space:nowrap;
	/*float:left;*/
}

input[type=radio]{
	cursor:pointer;
	/*float:left;*/
}


/* Styling the search results */


.pageContainer{
    border-bottom: 0px solid #5E7481;
    margin-bottom: 0px;
    box-shadow: 0px 0px 0px #798E9C;
}


p.notFound{
	text-align:center;
	padding:0 0 40px;
}


/* Web & news results */


.webResult{
    margin-bottom: 30px;
    background: none repeat scroll 0% 0% #F5F5F5;
    padding-bottom: 20px;
}

.webResult h2{
    background-color: rgba(225, 225, 225, 1);
    font-size: 18px;
    font-weight: normal;
    padding: 8px 20px;
    border-radius: 0px;
}
.webResult h2 b{ color:#333; }
.webResult h2 a{
    color: rgba(2, 140, 194, 1);
    border: medium none;
    text-decoration: underline;
}
.webResult p{
    line-height: 1.5;
    padding: 15px 20px 0px;
    margin-bottom: 0px;
}
.webResult p b{ color:#333;}
.webResult > a{ margin-left:20px;}


/* Image & video search results */


.imageResult{
	float:left;
	height:180px;
	margin:0 0 20px 40px;
	text-align:center;
	width:152px;
	overflow:hidden;
}
.imageResult img{ display:block;border:none;}
.imageResult a.pic{
	border:1px solid #fff;
	outline:1px solid #777;
	display:block;
	margin:0 auto 15px;
}

/* The show more button */

#more{
	width:83px;
	height:24px;
	background:url('../../img/globalsearch/more.png') no-repeat;
	cursor:pointer;
	margin:40px auto;
}

#more:hover{
	background-position:left bottom;
}

.Create-ticket-form {
background: none repeat scroll 0px 0px #FFFFFF;
border: 1px solid #FFF;
margin: auto auto 30px;
padding: 30px 20px 20px;
width: 100%;
float: left;
border-radius: 4px;
box-shadow: 1px 1px 6px -2px #E6E6E6;
}

/* Giving Credit */

p.credit{
	margin:20px 0;
	text-align:center;
}

p.credit a{
	background-color:#4B5A64;
	border:1px solid;
	border-color:#3D4D57 #788E9B #788E9B #3D4D57;
	color:#c0d0d8;
	font-size:10px;
	padding:4px 8px;
	text-shadow:1px 1px 0 #38464F;
}

p.credit a:hover{
	background-color:#38464f;
	border-color:#38464f #788E9B #788E9B #38464f;
}

a, a:visited {
	text-decoration:none;
	outline:none;
	color:#97cae6;
}

a:hover{
	border-bottom:1px dashed transparent;
}

.clear{
	clear:both;
}