{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
<script>
$('.bbspop').popover();
$('.bbspop').popover({ trigger: "hover" });
</script>

<div class="container">

<div class="page-title"><h1>Select Your Service Package</h1></div>
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>
<div id="spinner" style="margin: 0px; padding: 0px; position: fixed; right: 0px;
  top: 0px; width: 100%; height: 100%; background-color: #666666; z-index: 30001;
  opacity: .8; filter: alpha(opacity=70); display: none">
  <p style="position: absolute; top: 30%; left: 45%; color: White;">
    Please wait ...<img src="{{ asset('img/waiting.gif') }}" alt="Loading">
  </p>
</div>
		<table class="table package">
				<thead>
					{% for keys,value in selectedCatsArray %}
					<tr>{# start #}
						<th colspan="6">
						<h5 class="gray-bg-head">{{ value.category }}</h5>
							<div class="featuresclass bronze">
								<h1 class="bro">Bronze</h1>
								<ul>
									<li>
										<h2>10</h2>
										<h5>Leads</h5>
									</li>
									<li>
										<h6>AED</h6>
										<h4 class="bro">{{ value.bPrice }}<span> / Lead</span></h4>
									</li>
								</ul>
								<span class="select-package" onClick="updatePrice(this);return false;" id="category{{ keys }}_1"><a>Select Package</a></span>
							</div>
							<div class="featuresclass silver">
								<h1 class="sil">Silver</h1>
								<ul>
									<li>
										<h2>25</h2>
										<h5>Leads</h5>
									</li>
									<li>
										<h6>AED</h6>
										<h4 class="sil">{{ value.sPrice }}<span> / Lead</span></h4>
										<h6><strong>SAVE 5%</strong></h6>
									</li>
								</ul>
								<span class="select-package" onClick="updatePrice(this);return false;" id="category{{ keys }}_2"><a>Select Package</a></span>
	 				        </div>
							<div class="featuresclass gold">
								<h1 class="gold">Gold</h1>
								<ul>
									<li>
										<h2>50</h2>
										<h5>Leads</h5>
									</li>
									<li>
										<h6>AED</h6>
										<h4 class="gold">{{ value.gPrice }}<span> / Lead</span></h4>
										<h6><strong>SAVE 10%</strong></h6>
									</li>
								</ul>
								<span class="select-package" onClick="updatePrice(this);return false;" id="category{{ keys }}_3" ><a>Select Package</a></span>
							</div>
						<div class="featuresclass platinum">
							<h1 class="plat" >Platinum</h1>
								<ul>
									<li>
										<h2>100</h2>
										<h5>Leads</h5>
									</li>
									<li>
										<h6>AED</h6>
										<h4 class="plat">{{ value.pPrice }}<span> / Lead</span></h4>
										<h6><strong>SAVE 15%</strong></h6>
									</li>
								</ul>
								<span class="select-package" onClick="updatePrice(this);return false;" id="category{{ keys }}_4"><a>Select Package</a></span>
						</div></th>
				    </tr>{# end #}
				{% endfor %}
			</thead>
		</table>

	<div class="col-sm-12 plan-details">
		<h2>You are signing up for</h2>
		<div class="plan-table">
			<table width="100%" border="1" cellspacing="5" cellpadding="5">
				<thead>
				  <tr>
					<td width="216">Plan Details</td>
					<td width="197">Price</td>
					<td width="189">Discount</td>
					<td width="191">Total</td>
				  </tr>
				</thead>
				<tbody>
				{% for keys,value in selectedCatsArray %}
				  <tr>
					<td>{{ value.category }}</td>
					<td id="actualPrice_{{ keys }}"></td>
					<td id="discountPrice_{{ keys }}"></td>
					<td id="totalPrice_{{ keys }}"></td>
				  </tr>
				{% endfor %}
				{% if otcStatus == 0 %}
				  <tr>
					<td>Account Setup Fee <span><a tabindex="0" class="popover-icon" role="button" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover" title="The Account Setup fee is one time charge and includes:" data-content="<ul><li>Creation of dedicated webpage with a full business profie.</li> <li>Access to 24/7 online dashboard with reporting features.</li> <li>Compilation and publication of 5 recent customer reviews.></li></ul>">.</a></span></td>
					<td>AED 600</td>
					<td>AED 0</td>
					<td>AED 600</td>
				  </tr>
				  </tbody>
			  	{% endif %}
				<tfoot>
				   <tr>
					<td><strong>Grand Total </strong></td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td id="grandTotal"><strong>{% if otcStatus == 0 %}AED 600{% endif %}</strong></td>
				  </tr>
				</tfoot>  
				
			</table>
		</div>
		<div class="plan-action-links">
			<span class="back-package"><a href="#" class="btn btn-success">Back</a></span>
			<span class="proceed-package"><a class="btn btn-success" id="proceedPayment">Proceed to Payment</a></span>
		</div>
	</div>
</div>
<script type="text/javascript">
var planObj    = {{ selectedCatsArray|json_encode|raw }};
var grandTotal = [];
{% if otcStatus == 0 %}
	var OTC = 600;
{% else %}
	var OTC = 0;
{% endif %}
var maxCats    = {{ totalSelectedCats }};
var payUrl     = "{{ path('b_bids_b_bids_pymt_form',{'purchaseID': purchaseID }) }}";
var purchaseID = "{{ purchaseID }}";
var redeemUrl  = "{{ path('b_bids_b_bids_store_lead_plan') }}";
var disabled 	= false;
</script>
<script type="text/javascript" src="{{ asset('js/leads.plan.js') }}"></script>
	<script>
		$(function () {
  $('[data-toggle="popover"]').popover()
})
	</script>
{% endblock %}
