/* ==========================================================================
   Css reset
   ========================================================================== */
html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* ==========================================================================
   Common Styles
   ========================================================================== */
.alignleft{float:left;margin-right:15px}.alignright{float:right;margin-left:15px}.aligncenter{display:block;margin:0 auto 15px}a:focus{outline:solid 0}img{max-width:100%;height:auto}.fix{overflow:hidden}h1,h2,h3,h4,h5,h6{margin:0 0 15px;font-weight:700}body,html{height:100%}a{transition:.3s;color:#333}a:hover{text-decoration:none}


input, textarea, select {
	
color: #606060;
    font-family: "ProximaNovaCond-Regular";
    font-size: 14.5px;
    font-style: normal;
    font-weight: normal;
}
input {
height: 18px;

}
/* ==========================================================================
    Fonts Style
   ========================================================================== */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('fonts/ProximaNovaCond-Regular.eot');
  src: url('fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/ProximaNova-Extrabld.eot');
  src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}





/* ==========================================================================
    Fonts Style
   ========================================================================== */
#compare_price_side{ 
     background: #F1F1F1;
    padding: 20px;
    border-radius: 5px;
 }
#compare_price_side .inner_compare_price{ 
 
padding: 10px 10px 30px;
position: relative;
 }
#compare_price_side .inner_compare_price .inner_compare{}
#compare_price_side .inner_compare_price .inner_compare h2{ 
    color: #000;
    font-family: "proxima_nova_rgsemibold";
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    left: 0;
    margin: 0;
 
    top: 0;
    width: 99%;
    padding: 2px 6px;
}
#compare_price_side .inner_compare_price .inner_compare h3{color: #606060;
font-family: "proxima_novalight";
font-size: 13px;
font-style: normal;
font-weight: bold;
margin: 0;
padding-bottom: 10px;
padding-top: 36px;
 }
#compare_price_side .inner_compare_price .inner_compare p{color: #559bda;
display: block;
font-family: "proxima_nova_rgsemibold";
font-size: 14.5px;
font-style: normal;
font-weight: normal;
line-height: 1.3em;
padding-bottom: 5px;
padding-top: 15px;
text-align: left;}
#compare_price_side .recqure_service{}
#compare_price_side .recqure_service select{border: 1px solid #cccccc;height: 31px;
border-radius: 5px;
 
font-family: "ProximaNovaCond-Regular";
font-size: 14.5px;
font-style: normal;
font-weight: normal;
padding: 5px;
width: 328px;}
#compare_price_side .recqure_service select option{color: #606060;}
#compare_price_side .name_area{}
#compare_price_side .name_area input{border: 1px solid #cccccc;
border-radius: 5px;
color: #606060;
overflow: hidden;
padding: 5px;
width: 315px;}
#compare_price_side .name_area input[placeholder], [placeholder], [placeholder] {color: #606060;
font-family: "ProximaNovaCond-Regular";
font-size: 14.5px;
font-style: normal;
font-weight: normal;
line-height: 1.3em;}
#compare_price_side .phone_number{}
#compare_price_side .phone_number p{}
#compare_price_side .phone_number .phone_dropdown{}
#compare_price_side .phone_number .phone_dropdown select{border: 1px solid #cccccc;
border-radius: 5px;height: 31px;
float: left;
font-family: "ProximaNovaCond-Regular";
font-style: normal;
font-weight: normal;
padding: 5px;
width: 98px;}
#compare_price_side .phone_number .phone_dropdown option{color: #606060;font-family: "ProximaNovaCond-Regular";
font-style: normal;
font-weight: normal;}
#compare_price_side .phone_number .phone_input{}
#compare_price_side .phone_number .phone_input input{border: 1px solid #cccccc;
border-radius: 5px;
margin-left: 10px;
padding: 5px;
width: 205px;}
#compare_price_side .email_input{}
#compare_price_side .email_input input{border: 1px solid #cccccc;
border-radius: 5px;
padding: 5px;
width: 313px;}
.button_area_c {
  overflow: hidden;
  padding-bottom: 0px;
  padding-top: 30px;
}
.centerwidth {
width: 280px;
    text-align: center;
	}
	
.button_area_c button {
background: #ff4300 none repeat scroll 0 0;
    border: 1px solid #ff4300;
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-family: "proxima_nova_rgsemibold";
    font-size: 15px;
    font-style: normal;
    font-weight: normal;
    margin-right: 3px;
    padding: 12px;
    text-transform: uppercase;
    transition: all 0.9s ease 0s;
    margin-left: 22px;
}
.button_area_c button:hover {background: #c63400 none repeat scroll 0 0;}



















