{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">
<div class="page-title"><h1>My Profile</h1></div>
{# user update information #}
{% set pid = app.session.get('pid') %}
{% set uid = app.session.get('uid') %}
{# {{ dump(certArray) }}
{{ dump(cityArray) }}
{{ dump(productsArray) }}
{{ dump(subcat) }} #}
<div class="">

<div class="row">
	<div class="col-sm-6 vendor-user user-information dashboard-container">
	 <div class="tab-pane active profile-inform" id="profile">
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger">{{ flashMessage }}</div>
		{% endfor %}

		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">{{ flashMessage }}</div>
		{% endfor %}	
	</div>
	<div class="pane-title"><h2>Vendor Information</h2></div>

	{% for accounts in account %}
	<div class="field-item"><label>Contact Name</label><div class="field-value"> {{ accounts.contactname }}</div></div>
	{% if accounts.bizname is not empty %}
	<div class="field-item"><label>Business Name</label><div class="field-value"> {{ accounts.bizname }}</div></div>
	{% endif %}
	<div class="field-item"><label>Mobile Number</label><div class="field-value"> {{ accounts.smsphone }}</div></div>
	{% if accounts.homephone is not empty %}
	<div class="field-item"><label>Business Phone Number</label><div class="field-value"> {{ accounts.homephone }}</div></div>
	{% endif %}
	{% if accounts.fax is not empty %}
	<div class="field-item"><label>Fax Number</label><div class="field-value"> {{ accounts.fax }}</div></div>
	{% endif %}
	{% if accounts.address is not empty %}
	<div class="field-item"><label>Address</label><div class="field-value"> {{ accounts.address }}</div></div>
	{% endif %}
	{% endfor %}
		{% for users in user %}
	<div class="field-item"><label>Email Address</label><div class="field-value"> {{ users.email }}</div></div>
	<div class="field-item"><label>Created Date</label><div class="field-value"> {{ users.created|date('Y-m-d h:i:s') }}</div></div>
	<div class="field-item"><label>Updated Date</label><div class="field-value"> {{ users.updated|date('Y-m-d h:i:s') }}</div></div>
	<div class="field-item"><label>Last Access Date</label><div class="field-value"> {{ users.lastaccess|date('Y-m-d h:i:s') }}</div></div>

	{% endfor %}
	</div>
{# user update ends #}

	{# user information starts #}
	{# <div class="col-sm-6 vendor-user general-information dashboard-container">
	<div class="pane-title"><h2>User Information</h2></div>
	{% for accounts in account %}
	<div class="field-item"><label>Contact Name</label><div class="field-value">{{ accounts.contactname }}</div></div>
	{% if accounts.bizname is not empty %}
	<div class="field-item"><label>Business Name</label><div class="field-value"> {{ accounts.bizname }}</div></div>
	{% endif %}
	<div class="field-item"><label>Mobile Number</label><div class="field-value"> {{ accounts.smsphone }}</div></div>
	{% if accounts.homephone is not empty %}
	<div class="field-item"><label>Business Phone Number</label><div class="field-value"> {{ accounts.homephone }}</div></div>
	{% endif %}
	{% if accounts.fax is not empty %}
	<div class="field-item"><label>Fax Number</label><div class="field-value"> {{ accounts.fax }}</div></div>
	{% endif %}
	{% if accounts.address is not empty %}
	<div class="field-item"><label>Address</label><div class="field-value"> {{ accounts.address }}</div></div>
	{% endif %}
	{% endfor %} #}


	{# user information ends #}
</div>

<div class="row text-right update-account">
	{% if pid == 3 %}
		<a href="{{ path('b_bids_b_bids_vendor_update', {'vendorid': uid }) }}" class="btn btn-success"> Update My Profile </a>
	{% else %}
		<a href="{{ path('b_bids_b_bids_consumer_update', {'consumerid':  uid  })  }}" class="btn btn-success"> Update My Profile</a>
	{% endif %}
</div>
<div class="business-information dashboard-container">
<div class="pane-title"><h2>Services Provided</h2></div>
<div class="sub-pane-title"><h3>List the services you provide</h3></div>
<div class="">
	
	<form action="{{ path('bizbids_addcat')}}" method="post">
		<div class="morecertificates subcatadd">
			<input type="text" id="form_cat" name="cat[]" placeholder="Enter your category">
			
		</div>
		<a id="addform">Add</a>
		<div id="moreproducts">
		</div>
		
		<input type="hidden" id="vendorid" name="vendorid" value="{{ vendorid }}">
		<input type="hidden" id="setdata" value="0">
		<input type="submit" id="savecat" name="form[save]" value="Save">
		
		
	</form>
		
	
</div>

{% if productsArray is not empty %}
       <!-- <div class="field-item"><label>Product</label><div class="field-value"></div></div>-->
        {% endif %}
{% if maincat is not empty %}
<div class="field-item"><label>Service Category</label>
{% for m in maincat %}
        <div class="field-value">{{m.category }}</div>
  	{% endfor %} </div>     {% endif %}
  	{#
{% if subcat is not empty %}
<div class="field-item"><label>Services Portfolio</label>
{% for s in subcat %}
        <div class="field-value">{{ s.category }}</div>
  	{% endfor %} </div>     {% endif %}
#}
 {% if certArray is not empty %}
        <div class="field-item"><label>Certificates</label>
        {% for c in certArray %}
        <div class="field-value"> {{ c.certification  }}</div>
        {% endfor %}
        </div>
        {% endif %}
   
{% if displaycat is not empty %}
<div class="field-item"><label>Service Portfolio</label>
	{% for a in displaycat %}
	<div class="main-cat">
		<div class="field-value editcategory" id="{{ a.id }}">
			<span class="catname">{{ a.category }} </span>
			
		</div>
		<span id="editdt" >
				<input id="vendid" type="hidden" value="{{ a.id }}">
				<span class="editcatname"><a href="#editdt" id="editcat{{ a.id }}" class="editcat">Edit</a>  </span>
				<span class="deletecatname"><a href="{{ path('bizbids_deletecat', {'id': a.id }) }}">Delete</a> </span> 
			</span>
	</div>
	{% endfor %}
	</div>
{% endif %}

</div>
</div>

</div>

{% endblock %}


