{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
{# JavaScript/JQuery functions start #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script>

$(document).ready(function(){
$("input[type=radio]").click(function(){
	var abc = $(this).attr("id");
	var idarr = abc.split("_");

  $("input:radio").each(function(){
   	 var $this = $(this);

   	 if($this.attr('id').indexOf(idarr[0])>=0 ){

		if($this.attr('id')==abc){
			$this.attr('checked','true');

			if(idarr[1]==1){
				$('#summary-'+idarr[0]).html('Bronze package @ 0% savings');
			}else if(idarr[1]==2){
				$('#summary-'+idarr[0]).html('Silver package @ 5% savings');
			}else if(idarr[1]==3){
				$('#summary-'+idarr[0]).html('Gold package @ 10% savings');
			}else if(idarr[1]==4){
				$('#summary-'+idarr[0]).html('Platinum package @ 20% savings');
			}
		}else {
			$this.removeAttr('checked');
		}
	}
  });

});


});

function getPrice(obj){


var pack = obj.id.split("_");
var packid = pack[1];
var cat = pack[0].split('category');
var categoryid = cat[1];
var price = 0;

$(document).ready(function(){
var realpath = window.location.protocol + "//" + window.location.host + "/";
						$.ajax({url:realpath+"/pullPackagePrice.php?categoryid="+categoryid , dataType : 'html',success:function(result){
						if(packid==1){

							 price = parseInt(result)*25;
							 $('#listprice'+categoryid).html('= AED '+price);

						}else if(packid==2){

							price = ((parseInt(result)*50)-((5*parseInt(result)*50)/100));
							$('#listprice'+categoryid).html(parseInt(result)*50 +'-5% DISCOUNT<br>= AED '+price+'<br> YOU SAVE AED '+(5*parseInt(result)*50)/100);
						}else if(packid==3){
							price = ((parseInt(result)*100)-((10*parseInt(result)*100)/100));
							$('#listprice'+categoryid).html(parseInt(result)*100 +'-10% DISCOUNT<br>= AED '+price+'<br> YOU SAVE AED '+((10*parseInt(result)*100)/100));
						}else if(packid==4) {
							price = ((parseInt(result)*250)-((20*parseInt(result)*250)/100));
							$('#listprice'+categoryid).html(parseInt(result)*250 +'-20% DISCOUNT<br>= AED '+price+'<br> YOU SAVE AED '+((20*parseInt(result)*250)/100));
						}

							$('#summary-listprice'+categoryid).html('AED '+price);
							$('#justprice'+categoryid).val(price);
							getTotal();
						}});



});
}

function validate()
{
	var checkflag = [];
	var categoryidArray = {{ categoryidArray|json_encode|raw }};
	for (var i=0; i < categoryidArray.length; i++) {
		var catname = categoryidArray[i];
		$('table.package tbody tr input[name=category'+catname+']').each(function(){
			if($(this).attr('checked')){
				checkflag.push($(this).attr('checked'));
			}
		});
	}


	if(categoryidArray.length  == checkflag.length) {
		{% if otcStatus == 0 %}
			if(!$('#otc').attr('checked')) {
				alert('please select One-time Registration charge');
				return false;
			}
		{% endif %}
		return true;
	}
	else
	{
		alert('please select a package');
		return false;
	}
}
function getTotal(){
	$(document).ready(function(){
	var total = 0;
	$("input[id^='justprice']").each(function(){
		var id = $(this).attr('id');
		var value = $(this).val();
		total = parseFloat(total)+parseFloat(value);
	});
	{% if otcStatus == 0 %}
		if($('#otc').attr('checked')){
			total += 600;
		}
	{% endif %}

	$('#grandtotal').html(total);
	$('#GrandTotal').val(total);
	});


}
function deleteCookie(cookiename)
    {
        var d = new Date();
        d.setDate(d.getDate() - 1);
        var expires = ";expires="+d;
        var name=cookiename;
        //alert(name);
        var value="";
        document.cookie = name + "=" + value + expires + "; path=/acc/html";
    }

function setcck(){
var cookies = document.cookie.split(";");
    for (var i = 0; i < cookies.length; i++)
    {
        var spcook =  cookies[i].split("=");
        if(spcook[0].indexOf('category')>=0){
        deleteCookie(spcook[0]);
        }
    }

var date = new Date();
 var minutes = 1;
 date.setTime(date.getTime() + (minutes * 60 * 1000));

{% for key , value in categoryArray %}
document.cookie = "category{{ key }}= {{ key }}; expries="+date;
{% endfor %}

}
</script>
{# JavaScript/JQuery functions ends #}

<div class="inner_container container choose-pack-block">
	<div class="packages-block">
		<div class="page-title"><h1>Choose Your Packages</h1></div>
		<div class="service-category-block">
			<h4>SELECT FROM AVAILABLE PACKAGES</h4>
		<form name="choosepack" method="post" action="../../../choosePackResult.php" onsubmit="return validate();">
			<table class="table package">
				<thead>
					<tr>
						<th></th>
						<th><div class="featuresclass bronze"><h1 class="bro">BRONZE</h1>
							<ul>
								<li>You save 0%</li>
							</ul>
							<span> 25 VERFIED LEADS </span>
						</div>
					</th>
					<th ><div class="featuresclass silver"><h1 class="sil">SILVER</h1><ul>
						<li>You save 5%</li></ul>
						<span> 50 VERFIED LEADS </span>
					</div>
				</th>
				<th>
					<div class="featuresclass gold">
						<h1 class="gold">GOLD</h1><ul>
							<li>You save 10%</li></ul>
							<span> 100 VERFIED LEADS </span>
						</div>
					</th>
					<th>
						<div class="featuresclass platinum">
							<h1 class="plat" >PLATINUM</h1><ul>
								<li>You save 20%</li></ul>
								<span> 250 VERFIED LEADS </span>
							</div>
						</th>
						<th></th>
					</tr>
					<tr>
						<th>SERVICE CATEGORY</th>
						<th>
							<div style=" width:200px; height:40px;"></div>
						</th>
						<th>
						</th>
						<th >
						</th>
						<th>
						</th>
						<th>PACKAGE COST (AED)</th>
					</tr>
				</thead>
			<tbody>
					<input type="hidden" name="uid" value="{{ uid  }}" >
		{# category listing using for loop #}
			{% for keys,value in categoryArray %}

				<tr>
					<td>{{ value }}<input type="hidden" name="categories[]" value="{{ keys }}" /> </td>

					<td><input type="radio" name="category{{ keys }}" id="category{{ keys }}_1" onclick="getPrice(this);" value="1"></td>
					<td><input type="radio" name="category{{ keys }}" id="category{{ keys }}_2" onclick="getPrice(this);" value="2"></td>
					<td><input type="radio" name="category{{ keys }}" id="category{{ keys }}_3" onclick="getPrice(this);" value="3"></td>
					<td><input type="radio" name="category{{ keys }}" id="category{{ keys }}_4" onclick="getPrice(this);" value="4"></td>
					<td id="listprice{{ keys }}"></td>
					<input type="hidden" name="justprice{{ keys }}" id="justprice{{ keys }}" value="0">
				</tr>

			{% endfor %}
		{# category listing ends #}
			</tbody>
			</table>
			{# OTC table #}
			{% if otcStatus == 0 %}
			<table class="table package">
				<thead>
					<tr>
						<th colspan="5">One-time Registration</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3">One-time Registration to Business Bid Network Panel</td>
						<td colspan="2"><input onclick="$('#otc_tr').show();" type="radio" name="otc" value="1" placeholder="one time charge" id="otc"></td>
					</tr>
				</tbody>
			</table>
			{% endif %}
			{# OTC table ends #}
		</div>


		<div class="service-category-block pack-summary">
			<h5>TOTAL SUMMARY</h5>
			<table class="table package">
				<thead>
					<tr>
						<th>Service Category</th>
						<th>Package</th>
						<th>Cost</th>

					</tr>
				</thead>
				<tbody>
				{% if otcStatus == 0 %}
					<tr id="otc_tr" style="display: none;">
						<td>One-time Registration to Business Bid Network Panel</td>
						<td> - </td>
						<td>AED 600</td>
					</tr>
				{% endif %}
				{# summary listing #}
				{% for keys,value in categoryArray %}
					<tr>
						<td>{{ value }}</td>
						<td id="summary-category{{ keys }}">Choose your pack</td>
						<td id="summary-listprice{{ keys }}"></td>
					</tr>

				{% endfor %}
				{# summary listing ends #}
				</tbody>
			</table>
		</div>
		<div class="total-amount">
			<h2>Total Amount - <span id="grandtotal"></span> AED <input type="hidden" name="GrandTotal" id="GrandTotal"></h2>
			<a href="Javascript:window.history.back();"  onclick="setcck();" class="btn btn-primary">Back</a>
			<button type="submit" id="submit" class="btn btn-primary">Proceed to Payment Options</button>
	</form>
		</div>



	</div>
</div>
{% endblock %}
