{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}

<script>
$(document).ready(function(){
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
       
        // Create stars holder
        var $span = $('<span />').width(size);
        
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

});
</script>
<div class="container">
<div class="page-title"><h1>Reviews</h1></div>
<div>
	
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}

<div class="row">
<table class="vendor-enquiries">

<thead><tr><td>Review</td><td>Business Name</td><td>Created Date</td><td>Rating</td><td>Status</td></tr></thead>
{% if reviews| length == 0 %}
		<tr><td colspan="5">No reviews found.</td></tr>
{% else %}
	{% for r in reviews %}
	<tr>
		<td>{% if r.review|length > 50 %}{{ r.review|slice(0,50) }}...{% else %} {{ r.review }} {% endif %}</td>
		<td>{{ r.bizname }}</td>
		<td>{{ r.created | date('Y-m-d h:i:s') }}</td> 
		<td><span class="stars">{{ r.rating }}</span></td>
		<td>{{ r.status }}</td>
		
	</tr>
	{% endfor %}
{% endif %}
</table>

</div>
</div>
<div>

</div>


</div> 
{%  endblock %}
