{% extends '::newconsumer_dashboard.html.twig' %}


{% block enquiries %}


<script>
$(document).ready(function(){
$('#logo-form').hide();
$('.albumform').hide();
	$('#changeimage').click(function(){

		$('#logo-form').show();
	});
	$('#newalbum').click(function(){
		$('.albumform').show(); });

	});

</script>
<div class="col-md-9 dashboard-rightpanel user-profile-basic">
	<div class="page-title"><h1>My Account</h1></div>
	<div class="row user-profile-block">
		<div class="user-profile-basic">
			<!--<div class="profile-image">
			{% for a in accountArray %}
				{% set image = a.logopath %}
				{% set logopath = "http://115.124.120.36/web/logo/"~image %}

				{% if image is not empty %}
				<img src="{{ logopath }}" width="250px"><a href="#" id="changeimage">Change Profile Image</a> <h1> {{ contactname }}</h1>
				{% else %}
				<img src="{{ asset('img/no-image.png') }}" ><a href="#" id="changeimage">Add Profile Image</a> <h1> {{ contactname }}</h1>
				{% endif %}
			{% endfor %}
			</div>-->

			<!--<div id="logo-form">

				<form name="logoform" method="post" enctype="multipart/form-data" action="{{ asset('consumerlogo.php') }}">

					<div class="col-md-8"><input type="file" name="vendorlogo"/><input type="hidden" name="vendorid" value="{{ consumerid }}"></div>

					<div class="col-md-4"><input type="submit" name="submit" class='btn btn-success btn-getquotes text-center' value="Upload"></div>
				</form>

			</div>-->


			<div class="row">
			 {% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
	<div class="tab-content">
		<div class="panel-title"><h2>Profile Information</h2></div>
		<div class="tab-pane active profile-inform" id="profile">
				<div class="col-md-8 profile-info">

				{{ form_start(profileform) }}
				{{ form_errors(profileform) }}
					<div class="form-item">{{ form_label(profileform.contactname) }}<span class="req">*</span> :<div class="control"> {{ form_widget(profileform.contactname) }}</div></div>
					<div class="form-item">{{ form_label(profileform.mobilecode) }}<span class="req">*</span> :<div class="control"> {{ form_widget(profileform.mobilecode) }} {{ form_widget(profileform.smsphone) }} </div></div>
					<div class="form-item">{{ form_label(profileform.homecode) }}<span class="req">*</span> :<div class="control"> {{ form_widget(profileform.homecode) }}{{form_widget(profileform.homephone) }} </div></div>
					<div class="form-item">{{ form_label(profileform.address) }} :<div class="control">{{ form_widget(profileform.address) }} </div></div>

					<div class="form-item pull-right text-right">{{ form_widget(profileform.save) }}</div>

				{{ form_end(profileform) }}
				</div>

			</div>
		</div>
		</div>
		</div>
		</div>
{% endblock %}

