{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>My Orders</h1></div>
<div>
<table class="vendor-enquiries">
<thead><tr><td>OrderId</td><td>Status</td><td>Created Date</td><td>Amount</td></tr></thead>
{% for enquiry in enquiries %}
							<tr>
							<td>{{ enquiry.ordernumber }}</td>
							<td>{% if enquiry.status == 1 %} processed ... {% else %} processing {% endif %}</td>
							<td>{{ enquiry.created|date('Y-m-d h:i:s') }}</td>
							<td>{{ enquiry.amount }}</td>
							
						</tr>
						{% endfor %}

	
	</table>
</div>
</div> 
{% endblock %}  
