{% extends '::base.html.twig' %}

{% block banner %}
{% endblock %}

{% block maincontent %}
<div class="container">
<div class="page-title"><h1>Forgot your password?</h1></div>
<div class="col-md-12 consumer-pass">
<p>Please submit your registered email address. An activation link will be sent to your email.</p>
<div class="form_wrapper col-md-6">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	 {{ form_start(form) }}
		{{ form_errors(form) }}
		<div>
			
			
			<div class="control-group">{{ form_label(form.email) }}</div>

			<div class="control"> {{ form_widget(form.email) }}</div>
		</div>
			{{ form_rest(form) }} 
	{{ form_end(form) }}
	
</div>
</div>
</div>
{% endblock %}
