<style type="text/css">
.tg{border-collapse:collapse;border-spacing:0;border-color:#ccc}.tg td{font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff}.tg th{font-family:Arial,sans-serif;font-size:14px;font-weight:400;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0}.tg .tg-4eph{background-color:#f9f9f9}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">Tag</th>
    <th class="tg-031e">Value</th>
  </tr>
  {% set rowColor = '' %}
{% for fields in formExtraFields %}
  {% if loop.index is divisible by(2) %} {% set rowColor = 'tg-4eph' %} {% else %} {% set rowColor = 'tg-031e' %} {% endif %}
  <tr>
    <td class="{{ rowColor }}">{{ fields.keyName }}</td>
    <td class="{{ rowColor }}">{{ fields.keyValue }}</td>
  </tr>
{% endfor %}
</table>