{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>Leads Management History</h1></div>
<div>
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
</div>
<div class="row">
<table class="col-md-6 vendor-enquiries">
<thead><tr><th>Category</th><th>Total Leads Purchased Till Date</th><th>Total Available Leads</th>
<!--<th>Deducted Leads History
</th><th>Package</th>-->
<th>Action</th></tr></thead>
{% if leads is not empty %}
{% for l in leads %}

<tr>
<td>{% if l.flag == 2 %}<a href="{{  path ('b_bids_b_bids_view_leads_freetrailhistory', {'uid':l.vendorid,'catid':l.categoryid} ) }}">{{ l.category }}</a>{% else  %}<a href="{{  path ('b_bids_b_bids_view_leads_history', {'uid':l.vendorid,'catid':l.categoryid} ) }}">{{ l.category }}</a>{% endif %}</td>
<td>{{ l.pur }}</td>
<td>{% if l.leadpack is empty %} 0 {% else %} {{ l.leadpack }} {% endif %}</td>
<!--<td>
	{% if ((l.deductedlead is empty) and (l.deductedfreelead is empty))  %} N/A 
	{% elseif l.deductedlead is empty  %} {{ l.deductedfreelead }}  Freetrail 
	{% elseif l.deductedfreelead is empty  %}{{ l.deductedlead }} Purchased leads
	{% else %} {{ l.deductedlead }} Purchased leads<br/> and {{ l.deductedfreelead }} Freetrail {% endif %}</td>
	
<td>{% if l.flag == 2 %}Freetrail {% elseif l.flag is empty  %}Freetrail {% else  %} Lead Purchased {% endif %}</td>-->
<td> <a href="{{ path('b_bids_b_bids_setsessioncategory', {'catid': l.category } ) }}" class="btn btn-success">Buy leads </a> 
 

{% endfor %}
{% else %}
<tr><td colspan="2" style="text-align:enter;">No Data Available</td></tr>
{% endif %}
</table>
</div>
</div>{% endblock %}

