{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}

	<style type="text/css">
	.camouflage{
		display: none;
	}
	.exposed{
		display: block;
	}
	.errorinput{ content: attr(title); color: red; margin-left: 0.6rem; }
	</style>
	<script>
	(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();

	$(document).ready(function(){
	
$('.bbspop').popover();
$('.bbspop').popover({ trigger: "hover" });
    $('[data-toggle="popover"]').popover();
    $('#form_ccExpDate_month,#form_ccExpDate_year').width(60);
    $('#form_ccSubmit').hide();
    $("#form_ccNumber").keyup(function(){
        var ccVal = $(this).val();
        if(ccVal == '') {
            $('small#errorCCNum').html('Enter card number.');
        } else if(isNaN(ccVal)) {
            $('small#errorCCNum').html('Numbers only !');
        } else {
            $('small#errorCCNum').html('');
            var result = getCreditCardType(ccVal);
            if(result == 'unknown'){
                $('small#errorCCNum').html('Only Master and Visa card allowed');
            } else {
                $('small#errorCCNum').html('');
            }

            var result = isValidCreditCard(type, ccnum);
            if(result) {
                $('small#errorCCNum').html('');
            } else {
                $('small#errorCCNum').html('Invalid card number');
            }
        }
    })
    $("#form_ccName").keyup(function(){
        var ccVal = $(this).val();
        if(ccVal == '') {
            $('small#errorCCName').html('Enter card holder\'s name.');
        } else if(!isNaN(ccVal)) {
            $('small#errorCCName').html('Numbers not allowed !');
        } else {
            $('small#errorCCName').html('');
        }
    })
    $("#form_ccCVV").keyup(function(){
        var ccVal = $(this).val();
        if(ccVal == '') {
            $('small#errorCCVV').html('Enter cvv number.');
        } else if(isNaN(ccVal)) {
            $('small#errorCCVV').html('Numbers only!');
        } else if (ccVal.length > 3){
            $('small#errorCCVV').html('Only 3 digits allowed.');
        } else {
            $('small#errorCCVV').html('');
        }
    })
    $("input[name='payType'],div#editAdress").click(function (){
        var payType = $("input[name='payType']:checked").val();
        if(payType == 'check pickup') {
            $( 'div#checkFillForm' ).toggleClass( "camouflage" );
            $( 'div#checkAddShow' ).toggleClass( "camouflage" );
        }
        else if(payType == 'cash pickup') {
            $( 'div#cashFillForm' ).toggleClass( "camouflage" );
            $( 'div#cashAddShow' ).toggleClass( "camouflage" );
        }
    });
    $('.btn-success').click(function () {
        var payType = $("input[name='payType']:checked").val();//$("input:radio[name='payType']").val();
        alert('Your '+payType+' payment is being processed. Please click OK and do not leave this page');
        if(payType == 'cc') {
            $( "#ccForm" ).submit();
        } else if (payType == 'paypal') {
             $( "#payPalForm" ).submit();
        } else if (payType == 'check pickup') {
            $( "#checkForm" ).submit();
        } else if (payType == 'cash pickup') {
            $( "#cashForm" ).submit();
        }
    })
    $('#form_ccExpDate_month').change(function () {
        var ccmonth = $(this).val();
        if(ccmonth == '') {
            $('small#errorCCExp').html('Select expiry month.');
        } else {
            $('small#errorCCExp').html('');
        }
    })
    $('#form_ccExpDate_year').change(function () {
        var ccmonth = $(this).val();
        if(ccmonth == '') {
            $('small#errorCCExp').html('Select expiry year.');
        } else {
            $('small#errorCCExp').html('');
        }
    })

    $("#form_contactnumber").keyup(function(){
        var ccVal = $(this).val();
        if(ccVal == '') {
            $('small#errorConNum').html('Enter Mobile Contact Number.');
        } else if(isNaN(ccVal)) {
            $('small#errorConNum').html('Numbers only!');
        } else {
            $('small#errorConNum').html('');
        }
    })
});
function getCreditCardType(accountNumber)
{

  //start without knowing the credit card type
  var result = "unknown";

  //first check for MasterCard

  if (/^5[1-5]/.test(accountNumber))
  {
    result = "mastercard";
  }

  //then check for Visa
  else if (/^4/.test(accountNumber))
  {
    result = "visa";
  }

  //then check for AmEx
  /*else if (/^3[47]/.test(accountNumber))
  {
    result = "amex";
  }*/

  return result;
}

function isValidCreditCard(type, ccnum)
{
/* Visa: length 16, prefix 4, dashes optional.
Mastercard: length 16, prefix 51-55, dashes optional.
Discover: length 16, prefix 6011, dashes optional.
American Express: length 15, prefix 34 or 37.
Diners: length 14, prefix 30, 36, or 38. */

  var re = new Regex({ "visa": "/^4\d{3}-?\d{4}-?\d{4}-?\d",
                       "mc": "/^5[1-5]\d{2}-?\d{4}-?\d{4}-?\d{4}$/",
                       "disc": "/^6011-?\d{4}-?\d{4}-?\d{4}$/",
                       "amex": "/^3[47]\d{13}$/",
                       "diners": "/^3[068]\d{12}$/"}[type.toLowerCase()])

   if (!re.test(ccnum)) return false;
   // Remove all dashes for the checksum checks to eliminate negative numbers
   ccnum = ccnum.split("-").join("");
   // Checksum ("Mod 10")
   // Add even digits in even length strings or odd digits in odd length strings.
   var checksum = 0;
   for (var i=(2-(ccnum.length % 2)); i<=ccnum.length; i+=2) {
      checksum += parseInt(ccnum.charAt(i-1));
   }
   // Analyze odd digits in even length strings or even digits in odd length strings.
   for (var i=(ccnum.length % 2) + 1; i<ccnum.length; i+=2) {
      var digit = parseInt(ccnum.charAt(i-1)) * 2;
      if (digit < 10) { checksum += digit; } else { checksum += (digit-9); }
   }
   if ((checksum % 10) == 0) return true; else return false;
}
	
	</script>
	
<div class="container" >
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>

<div class="col-sm-12">
	<div class="package-details">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" id="selectpackagedetails">
			<thead>
				<tr>
					<td width="216">Package Details </td>
					<td width="197">Price</td>
					<td width="189">Discount</td>
					<td width="189">Total</td>
				</tr>
			</thead>
			<tbody>
				{% set OTC = 0 %}
				{% set grandTotal = 0 %}
				{% for lead in purchasingLeads %}
					{% set priceArray = lead.price |split(' - ') %}

				<tr>
					<td width="216">{{ lead.plan }} Package: {{ lead.category }}</td>
					{% set multiplier = leadsPerPack[lead.plan] %}
					<td width="197">AED {{ priceArray[0] * multiplier }}</td>
					<td width="189">
						{% if lead.plan != 'Bronze' %}
							{% set selPlan = leadsPack[lead.plan] %}
							AED {{ (priceArray[0] * leadsPerPack[lead.plan]) - (priceArray[selPlan] * leadsPerPack[lead.plan]) }}
						{% else %}
							AED 0
						{% endif %}
					</td>
					<td width="189">AED {% if lead.plan != 'Bronze' %}{{ priceArray[selPlan] * leadsPerPack[lead.plan] }}{% set grandTotal = grandTotal + (priceArray[selPlan] * leadsPerPack[lead.plan]) %}{% else %}{{ priceArray[0] * multiplier }}{% set grandTotal = grandTotal + (priceArray[0] * multiplier) %}{% endif %}</td>

				</tr>
				{% endfor %}
				{% if otcStatus == 0 %}
					{% set OTC = registerFee %}
				<tr>
					<td width="216">Account Setup Fee <span><a tabindex="0" class="popover-icon" role="button" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover" title="The Account Setup fee is one time charge and includes:" data-content="<ul><li>Creation of dedicated webpage with a full business profie.</li> <li>Access to 24/7 online dashboard with reporting features.</li> <li>Compilation and publication of 5 recent customer reviews.</li></ul>"></a></span>
					</td>
					<td width="197">AED {{ registerFee }}</td>
					<td width="189">AED 0</td>
					<td width="189">AED {{ registerFee }}</td>
				</tr>
				</tbody>
				{% endif %}
				<tfoot>
				<tr>
					<td width="216">Grand Total</td>
					<td width="197"></td>
					<td width="189"></td>
					<td width="189"><strong>AED {{ (grandTotal + OTC)|number_format(2, '.', ',') }}</strong></td>
				</tr>
				</tfoot>
		</table>
	</div>
	<div class="paymentmethod">
		<table width="100%" border="1" cellspacing="5" cellpadding="5">
			<thead>
				<tr>
					<td width="100%">Payment Method</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="100%"><strong>How would you like to pay <span class="payment_value">{{ (grandTotal + OTC)|number_format(2, '.', ',') }}</span> AED ?</td>
				</tr>
			</tbody>
		</table>
		<div class="credit-card-option col-sm-12 position-in-opt left-clear" style="width:100%; float:left;">
			<div class="col-sm-12 position-in-opt"><input type="radio" name="payType" checked="checked" value="cc" />Credit Card</div>

			<div class="col-sm-9">

        <script src="https://checkout.com/cdn/js/checkout.js"></script>

            <form class="payment-form">
                <script>
                  var publickey = 'pk_04d5b10a-845e-4267-866b-7a16910dd048'; //PublicKey provided by Checkout

                  Checkout.render({
                      debugMode: true,
                      namespace: 'CheckoutIntegration',
                      publicKey: publickey,
                      paymentToken: "{{token}}",
                      customerEmail: '{{usermail}}',
                      customerName: '{{custome}}',
                      paymentMode: 'card',
                      value: {{ (grandTotal + OTC)* 100 }},
                      currency: 'AED',
                      forceMobileRedirect: true,
                      payButtonSelector: '#payButtonId',
                      widgetContainerSelector: '.payment-form',
                      useCurrencyCode: false,
                      
                       styling: {
                            widgetColor: 'rgba(204, 204, 204, 0.16)',
                            themeColor: '',
                            buttonColor: '',
                            buttonLabelColor: '',
                            logoUrl: '',
                            formButtonColor: '',
                            formButtonLabelColor: '',
                            iconColor: '',
                            overlayShade: 'dark',
                            overlayOpacity: 0.8,
                            buttonLabel: 'Visa Checkout'
                        },

                 
                      cardCharged: function (event) {
					  console.log(event);
                          document.getElementById('cko-cc-paymenToken').value = event.data.paymentToken;
                          document.getElementById('payment-tokenform').submit();
                      }

                  });
				  
				  
                </script>

            </form>
			<form name="payment-tokenform" method="post" id="payment-tokenform" action="http://www.businessbid.ae/vendor/home">
                <input type="hidden" id ="cko-cc-paymenToken" name ="cko-cc-paymenToken" />
            </form>
			</div>
			<div class="col-sm-3"><img src="{{ asset('img/payment-icon.jpg') }}" /></div>
		</div>

		 <div class="check-pickup-option col-sm-12 position-in-opt">
			<div class=""><input type="radio" name="payType" value="check pickup" />Cheque Pick Up</div>
			<!--<div class="col-sm-2" id="editAdress"><a>Edit Address</a></div>-->
			<div class="col-sm-12" id="checkAddShow">
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="100%">{{ vendorAddress }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 camouflage" id="checkFillForm">
				{{ form_start(checkForm,{'attr': {'id': 'checkForm'}}) }}
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="20%"><label>Company Name:</label></td>
							<td width="80%">{{ vendorCompName }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.address) }}<span class="credit">*</span>:</td>
							<td width="80%">{{ form_widget(checkForm.address) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.addresssecond) }}:</td>
							<td width="80%">{{ form_widget(checkForm.addresssecond) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.city) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.city) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.contactnumber) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.contactnumber) }}<small class="errorinput" id="errorConNum"></small></td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.contactperson) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.contactperson) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.bankname) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.bankname) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.checknumber) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.checknumber) }}</td>
						</tr>
						<tr class="camouflage">
							<td width="20%"></td>
							<td width="80%">{{ form_widget(checkForm.Submit) }}</td>
						</tr>
					</tbody>
				</table>
				{{ form_end(checkForm) }}
			</div>
		</div>

		 <div class="check-pickup-option col-sm-12 position-in-opt">
			<div class=""><input type="radio" name="payType" value="cash pickup" />Cash Pick Up</div>
			<!--<div class="col-sm-2" id="editAdress"><a>Edit Address</a></div>-->
			<div class="col-sm-12" id="cashAddShow">
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="100%">{{ vendorAddress }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 camouflage" id="cashFillForm">
                {{ form_start(cashForm,{'attr': {'id': 'cashForm'}}) }}
                <table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
                    <tbody>
                        <tr>
                            <td width="20%"><label>Company Name:</label></td>
                            <td width="80%">{{ vendorCompName }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.address) }}<span class="credit">*</span>:</td>
                            <td width="80%">{{ form_widget(cashForm.address) }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.addresssecond) }}:</td>
                            <td width="80%">{{ form_widget(cashForm.addresssecond) }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.city) }}:<span class="credit">*</span></td>
                            <td width="80%">{{ form_widget(cashForm.city) }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.contactnumber) }}:<span class="credit">*</span></td>
                            <td width="80%">{{ form_widget(cashForm.contactnumber) }}<small class="errorinput" id="errorConNum"></small></td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.contactperson) }}:<span class="credit">*</span></td>
                            <td width="80%">{{ form_widget(cashForm.contactperson) }}</td>
                        </tr>
                        <tr class="camouflage">
                            <td width="20%"></td>
                            <td width="80%">{{ form_widget(cashForm.Submit) }}</td>
                        </tr>
                    </tbody>
                </table>
                {{ form_end(cashForm) }}
            </div>
		</div>

		{# <div class="paypal-option col-sm-12 position-in-opt">
			<div class="col-sm-10"><input type="radio" name="payType" value="paypal"/>PayPal</div><div class="col-sm-2"><img src="{{ asset('img/Paypal.jpg') }}" /></div>

			<div class="col-sm-12">
				{{ form_start(paypalForm,{'attr': {'id': 'payPalForm'}}) }}
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="100%"></td>
						</tr>
					</tbody>
				</table>
				{{ form_end(paypalForm) }}
			</div>
		</div> #}
	</div>
</div>
	<div class="row text-right update-account">
		<a href="#" class="btn btn-success"> Place Order </a>
	</div>
</div>

{% endblock %}
