{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
{% set userid = app.session.get('uid') %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>View Leads History for Category: {{ cat  }} </h1></div>
<div class="row">
<table class="col-md-6 vendor-enquiries">
<tr>
<th>Job Request <br> Recieved Date</th>
<th>Job Request <br> Number</th>
<th>Subject</th>
<th>Job Request <br> Accepted Date</th>
<th>Contact Name</th>
<th>Leads Deducted</th>
</tr>

{% if leadsviews is not empty %}
{% for l in leadsviews %}
<tr>
<td class="center-align">{{ l.created|date('Y-m-d') }}</td>
<td class="center-align">{{ l.id }}</td>
<td><a href="{{ path('b_bids_b_bids_enquiry_view', {'enquiryid' : l.id } ) }}">{{ l.subj }}</a></td>

<td class="center-align">{{ l.updated|date('Y-m-d') }}</td>
<td>{{ l.contactname }}</td>
<td class="center-align">{{ subcount[loop.index-1] }} Leads Deduducted</td>
</tr>

{% endfor %}

			
{% else %}
<tr><td colspan="2" align="center">No Data Available</td></tr>
{% endif %}


</table>

{{ render(controller('BBidsBBidsHomeBundle:User:getleadcredit', { 'userid': userid })) }}

</div> 
</div> 
{% endblock %}
