{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}
{% block maincontent %} 
<script src = "{{ asset('js/bootstrap.js') }}"></script>
<script src = "{{ asset('js/bootstrap.min.js') }}"></script>
<script>
$(document).ready(function(){
$('#vendor').css('display','none');

$('#customertab').click(function(){
    
		$('#vendor').css('display','none');
		$('#customer').css('display','block');
		$('#vendor-help').css('display','none');
		$('#consumer-help').css('display','block');
		$("#register").attr("href", "{{ path('b_bids_b_bids_consumer_register') }}")

});
$('#vendortab').click(function(){
		$('#customer').css('display','none');
		$('#vendor').css('display','block');
		$('#vendor-help').css('display','block');
		$('#consumer-help').css('display','none');
		$("#register").attr("href", "{{ path('b_bids_b_bids_vendor_register') }}")
		
	});


});

</script>
<div class="container">

	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
<div class="login-wrapper col-md-12">
<div class="page-title">
			<h1>Write a Review</h1>
		</div>
<div class="login_inner_wrapper">
<div class="login-block col-md-6 review-login">
		<h5>Please login using your credentials below.</h5>
	
		{{ form_start(form) }}
		{{ form_errors(form) }}
	
		<div class="login-fb">
			<a href="#" class="fb-but"></a>
			<p>We will never post anything on your wall without your permission</p>
		</div>	
		<h2> <span>OR</span> </h2>
	
		<div>

			<h4>LOGIN</h4>
			<div> {{ form_widget(form.email) }}</div>

			<div> {{ form_widget(form.password) }}</div>
		</div>
		<div class="forgot-passord-block">
		<div class="col-sm-6">{{ form_rest(form) }}</div>
		<div class="col-sm-6"><a href="{{ path('b_bids_b_bids_forgot_password') }}" >Forgot your password?</a></div>
		</div>
		<div class="new-user col-sm-12">Are you a new user? <a href="{{ path('b_bids_b_bids_consumer_register') }}" id="register">Register here</a></div>		
		<div id="consumer-help">
			<h6>Need Help?</h6>
			<p>Call Customer Support Line: <br>1800 555 323</p>
			<p>Get help via Live Chat</p>
		</div>
		<div id="vendor-help" style="display:none">
			<h6>Need Help?</h6>
			<p>Call Vendor Support Line:<br>1800 555 111</p>
			<p>Get help via Live Chat</p>
		</div>

		
</div>
<div class="col-md-6 login-content review-block-bg" id="customer">
	
</div>


</div>
</div>

</div>
<script>
$(document).ready(function(){
var url = window.location.href;
var arr = url.split("#");
if(arr[1]=='vendor'){	
	$('#myTab a[href="#profile"]').tab('show');
		$('#customer').css('display','none');
		$('#vendor').css('display','block');
		$("#register").attr("href", "{{ path('b_bids_b_bids_vendor_register') }}");
}
});
</script>
{% endblock %}
