{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>My Leads</h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
</div>
<div class="row pull-right">
	<a href="{{ path ('b_bids_b_bids_vendor_register_step_2') }}" class="btn btn-success"> Buy Leads </a>
</div>
<div class="row">
<table class="col-md-6 vendor-enquiries">
<thead><tr><th>Category</th><th>Lead Pack</th><th>Status</th></tr></thead>
{% for l in leads %}
	
	<tr><td>{{ l.category }}</td><td>{% if l.leadpack is empty %} 0 {% else %} {{ l.leadpack }} {% endif %}</td><td>{% if l.status == 0 %} In active {% elseif l.status == 1 %} Active {% endif %}</td>

{% endfor %}
</table>
</div>
</div>

{% endblock %}
