{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>Orders</h1></div>
{% if count !=0 %}
<div class="row text-right page-counter">
		<div class="counter-box"><span class="now-show">Now showing : {{ from }} to {{ to }} records</span></div>
	</div>
	{% endif %}
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
</div>

<div class="table-wrapper">
<table class="vendor-enquiries">
<thead><tr><th>Date Purchased</th><th>Order Number</th>
<!--<th>Leads</th>-->
<th>Amount(AED)</th><th>Payment Type</th><th>Status</th></tr></thead>
{% if orders is not empty %}
{% for order in orders %}

        <tr>
        <td>{{ order.created|date('Y-m-d h:i:s') }}</td>
        <td><a href="{{ path('b_bids_b_bids_vendor_order_view', {'id': order.id}) }}" >{{ order.ordernumber }}</a></td>


        <td>{{ order.amount }}</td>
        <td>{{ order.payoption }}</td>
        <td>{% if order.status == 0 %} Not Approved {% elseif order.status == 1 %} Approved  {% elseif order.status == 3 %} Pending {% endif %}</td>
        </tr>

{% endfor %}

{% else %}
<tr align="center"><td colspan="3" style="text-align:center; width:100%;">Orders Not Available</td></tr>
{% endif %}
</table>
{% if count !=0 %}
<div class="row text-right top-spce">
		<div class="counter-box">{% set Epage_count = -count//4 %}
		<ul class="pagination">
		  <li><a href="{{ path('b_bids_b_bids_vendororders',{'offset':1}) }}">&laquo;</a></li>
		{% for i in 1..-(Epage_count) %}
		  <li><a href="{{ path('b_bids_b_bids_vendororders',{'offset':i}) }}">{{ i }}</a></li>
		{% endfor %}
		  <li><a href="{{ path('b_bids_b_bids_vendororders',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
		</ul>
		</div>
	</div>
</div>
{% endif %}
{# <div class="table-wrapper">
<div class="panel-title"><h2>FreeTrail Orders</h2></div>
<table class="vendor-enquiries">
<thead><tr><th>Order Date</th><th>Order Number</th><th>No:Leads</th><th>Duration</th><th>Status</th><th>Order Accepted date</th></tr></thead>
{% if freepack is not empty %}
{% for f in freepack %}

        <tr><td>{{ f.created|date('Y-m-d h:i:s') }}</td><td>{{ f.orderno }}</a></td><td>{{ f.leads }}</td><td>{{ f.duration }} days</td><td>{% if f.status == 0 %} Not Approved {% elseif f.status == 1 %} Approved </a>{% endif %}</td><td>{{ f.updated|date('Y-m-d h:i:s') }}</td></tr>

{% endfor %}
{% else %}
<tr><td align="center">Orders Not Available</td></tr>
{% endif %}

</table>
</div> #}
</div>
{% endblock %}
