{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<script type="text/javascript">

 function confirmEnq(enqcat,enqid) {

 	var con = confirm(1 +" lead will be deducted upon accepting this enquiry. Are you sure to Accept this enquiry? This action cannot be reverted!");
 	if(con) {
		{# Check if he is having enough leads #}
		$.ajax({
			url: "{{ path('b_bids_b_bids_checkvendor_leads_available') }}",
			method: "POST",
			data:{'enqcat':enqcat,'enqid':enqid},
			success: function(result){
				{# console.log(result); #}
				var obj = jQuery.parseJSON( result ) ;
				if(obj.status == 'Successful') {
					if(obj.leadCount != 0) {
						var acceptanceUrl = "{{ path('b_bids_b_bids_accept_enquiry',{'category': "enqcat", 'enquiryid': "enqid" }) }}";
						var urlset = acceptanceUrl.replace('enqcat', enqcat);
						var urlset = urlset.replace('enqid', enqid);
						window.open(urlset,"_self");
						return true;
					} else {
						alert('You do not have sufficient lead credit to accept this enquiry. Please purcace more leads');
						return false;
					}
				} else {
					alert(obj.status);
					return false;
				}
    	}});
	}
	else {
		alert("Action canceled to accept the requested enquiry");
		return false;
	}
 }
{#
 function pullcount(enqcat,enqid) {
	var realpath = window.location.protocol + "//" + window.location.host + "/stagging/";
	var xmlhttp;

	if (window.XMLHttpRequest)
	{// code for IE7+, Firefox, Chrome, Opera, Safari
		xmlhttp=new XMLHttpRequest();
	}
	else
	{// code for IE6, IE5
		xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	}
	xmlhttp.onreadystatechange=function()
	{
		if (xmlhttp.readyState==4 && xmlhttp.status==200)
		{
			var r = xmlhttp.responseText.split("-");
			confirmEnq(enqcat,enqid,1);
		}
	}
	xmlhttp.open("GET",realpath+"/pullEnquiryCount.php?enqid="+enqid,true);
	xmlhttp.send();
}
#}
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
	$("#datepicker3").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024',
		onSelect: function(date){
			var selectedDate = new Date(date);
			var msecsInADay = 86400000;
			var endDate = new Date(selectedDate.getTime() + msecsInADay);

			$("#datepicker4").datepicker( "option", "minDate", endDate );
			$("#datepicker4").datepicker( "option", "maxDate", '+2y' );
		}
	});

	$("#datepicker4").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true
	});


});
</script>
<div class="col-md-9 dashboard-rightpanel">
<div class="page-title"><h1>My Job Requests</h1></div>

<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage | raw }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
</div>
<div class="admin_filter">
	{{ form_start(form) }}
		<div class="col-md-3 clear-right"> {{ form_label(form.category) }} {{ form_widget(form.category) }}</div>
		<div class="col-md-3 clear-right"> {{ form_label(form.city) }} {{ form_widget(form.city) }}</div>
		<div class="col-md-2 clear-right"> {{ form_label(form.fromdate) }} {{ form_widget(form.fromdate , { 'id': 'datepicker3' }) }}</div>
	    <div class="col-md-2 clear-right"> {{ form_label(form.todate) }} {{ form_widget(form.todate, { 'id': 'datepicker4'  } ) }} </div>
		<div class="col-md-2 top-space"> {{ form_widget(form.filter,{'label': 'Search' }) }}{{ form_rest(form) }} </div>
</div>
<div class="table-wrapper">
<table class="vendor-enquiries">
<thead><tr>
<th>Date Recieved</th>
<th>Job Request Number</th>
<th>Category</th><th>Subject</th><th>City</th><th>Job Status</th><th>Description</th><th>Actions</th></tr></thead>
       {% if enquiries is not empty %}

	{% for enquiry in enquiries %}
	<tr>
			<td>{{ enquiry.created|date('Y-m-d h:i:s') }} </td>
			<td><a href="#" data-toggle="modal" data-target="#myModal" class="myModalEnq" data-enq="{{ enquiry.id }}">{{ enquiry.id }}</a></td>
			<td>{{ enquiry.category }} </td>
			<td>{% if enquiry.acceptstatus == 1 %} <a href="{{ path('b_bids_b_bids_enquiry_view', {'enquiryid':enquiry.id } ) }}">{% if enquiry.subj|length>20 %}{{ enquiry.subj|slice(0,20) }}... {% else %} {{ enquiry.subj }} {% endif %}</a>{% else %} {% if enquiry.subj|length>20 %}{{ enquiry.subj|slice(0,20) }}... {% else %} {{ enquiry.subj }} {% endif %}{% endif %}</td>
			<td>{{ enquiry.city }} </td>
			<td>{% if enquiry.acceptstatus == 1 %} Accepted  {% else %} Not Accept</a> {% endif %} </td>
	</td>
			<td> {{ enquiry.description }} </td>
			<td>{% if enquiry.acceptstatus == 1 %} Accepted | <a href="{{ path('b_bids_b_bids_view_consumer', {'id' : enquiry.authorid,'eid':enquiry.id } ) }}" > View Customer Information</a> {% else %} <a href="#" onclick="confirmEnq('{{ enquiry.category }}','{{ enquiry.id }}')";>Accept Lead</a> {% endif %} </td>
	</tr>
	{% endfor %}
		</table>
</div>
{% if count is not empty %}
<div class="row text-right">
<div class="row text-right page-counter"><div class="counter-box"><span class="now-show">Now showing : {{ from }} to {{ to }} of {{ count }} records</span></div></div>
		<div class="counter-box">{% set Epage_count = -count//4 %}
		<ul class="pagination">
		  <li><a href="{{ path('b_bids_b_bids_vendor_enquiries',{'offset':1}) }}">&laquo;</a></li>
		{% for i in 1..-(Epage_count) %}

		  <li><a href="{{ path('b_bids_b_bids_vendor_enquiries',{'offset':i}) }}">{{ i }}</a></li>

		{% endfor %}

		  <li><a href="{{ path('b_bids_b_bids_vendor_enquiries',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
		</ul>
		</div>

	</div>
	{% endif %}
	{% else %}
	<tr><td colspan="2" align="center">No Enquiries found</td></tr>
	{% endif %}
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Additional Information</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>

</div>
<script>
	$(document).ready(function(){$(".myModalEnq").on("click",function(){$(".modal-body").html("Loading Data..... Please wait.");var a=$(this).attr("data-enq"),t="{{ path('b_bids_b_bids_form_extra_fields', {'id':'enq' } ) }}",d=t.replace("enq",a);$.ajax({url:d,success:function(a){$(".modal-body").html(a)}})})});
</script>
{% endblock %}
