{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}

<script>
$(document).ready(function(){
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
       
        // Create stars holder
        var $span = $('<span />').width(size);
        
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

});
</script>
<div class="container">
<div class="page-title"><h1>Reviews</h1></div>
<div>
	
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}

<div class="row">
<table class="vendor-enquiries">
<thead><tr><td>Review</td><td>Author</td><td>Created Date</td><td>Rating</td><td>Subject</td><td>Description</td></tr></thead>
{% if reviews| length == 0 %}
		<tr><td colspan="5">No reviews found.</td></tr>
{% else %}
	{% for r in reviews %}
	<tr>
		<td>{% if r.review|length > 50 %}{{ r.review|slice(0,50) }}...{% else %} {{ r.review }} {% endif %}</td>
		<td>{{ r.author }}</td>
		<td>{{ r.created | date('Y-m-d h:i:s') }}</td> 
		<td><span class="stars">{{ r.rating }}</span></td>
		<td>{% if r.subj|length > 30%}{{ r.subj|slice(0,30) }}...{% else %} {{ r.subj }} {% endif %}</td>
		<td>{% if r.description|length > 30%}{{ r.description|slice(0,30) }}...{% else %} {{ r.description }} {% endif %}</td>
	</tr>
		{% endfor %}
{% endif %}
</table>

</div>
</div>
<div>
<div>{% set page_count = -count//10 %} 

<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_vendorreviews',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(page_count) %}

  <li><a href="{{ path('b_bids_b_bids_vendorreviews',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}
  
  <li><a href="{{ path('b_bids_b_bids_vendorreviews',{'offset':-(page_count)}) }}">&raquo;</a></li>
</ul>
</div> 
</div>


</div> 
{% endblock %}
