{% set priorityArray = ['No Priority', 'Urgent', '1-3 days', '4-7 days', '7-14 days', 'Just Planning'] %}
<style type="text/css">
.tg{border-collapse:collapse;border-spacing:0;border-color:#ccc}.tg td{font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff}.tg th{font-family:Arial,sans-serif;font-size:14px;font-weight:400;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0}.tg .tg-4eph{background-color:#f9f9f9}
</style>

    <p class="western" lang="en-AU" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Arial, serif">Dear Vendor,</font></p>

    <p class="western" lang="en-AU" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Arial, serif">Please note that you have received a job request with the following details. The same job request has been sent to you via text message (SMS).</font></p>

    <p style="margin-bottom: 0cm; line-height: 100%"><font face="Times New Roman, serif"><font style="font-size: 12pt"><font color="#000000"><font face="Arial, serif">Please access your BusinessBid dashboard to accept the job and receive client contact information. You may also accept the job via your phone by replying BID {{ jobNo }} to the text message.</font></font></font></font><br />
    &nbsp;</p>

    <p class="western" lang="en-AU" style="margin-bottom: 0.35cm; line-height: 115%">&nbsp;</p>
    <table class="tg">
      <tr>
        <th class="tg-031e" colspan="2">Job Information</th>
      </tr>
      <tr>
        <td class="tg-4eph">Job reference number</td>
        <td class="tg-4eph">{{ jobNo }}</td>
      </tr>
      <tr>
        <td class="tg-4eph">Looking for</td>
        <td class="tg-4eph">{{ eSubCategoryString }}</td>
      </tr>
    {% set rowColor = '' %}

    {% for fields in formExtraFields %}
      {% if loop.index is divisible by(2) %} {% set rowColor = 'tg-4eph' %} {% else %} {% set rowColor = 'tg-031e' %} {% endif %}
      <tr>
        <td class="{{ rowColor }}">{{ fields.keyName }}</td>
        <td class="{{ rowColor }}">{{ fields.keyValue }}</td>
      </tr>
    {% endfor %}
        {% if city is not empty %}
        <tr>
            <td class="tg-031e">Customer City Location</td>
            <td class="tg-031e">{{ city }}</td>
        </tr>
        {% endif %}

        {% if hire is not empty %}
        <tr>
            <td class="tg-4eph">Customer Job Priority</td>
            <td class="tg-4eph">{{ priorityArray[hire] }}</td>
        </tr>
        {% endif %}

        {% if description is not empty %}
        <tr>
            <td class="tg-031e">Additional Information</td>
            <td class="tg-031e">{{ description }}</td>
        </tr>
        {% endif %}
    </table>

    <p class="western" lang="en-AU" style="margin-bottom: 0.35cm; line-height: 115%">&nbsp;</p>

    <p class="western" lang="en-AU" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Arial, serif">Regards,</font></p>

    <p class="western" lang="en-AU" style="margin-bottom: 0.35cm; line-height: 115%"><font face="Arial, serif">BusinessBid Team</font></p>