{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}
<div class="container">

<div class="page-title"><h1>Mapped Consumer</h1></div>

<div class="col-sm-6 vendor-user gray-bg">
	{% for u in user %}
		
		<div class="field-item"><label>Email</label><div class="field-value">: {{ u.email }}</div></div>

	{% endfor %}

	{% for a in account %}
		<div class="field-item"><label>Name</label><div class="field-value">: {{ a.contactname }}</div></div>
		<div class="field-item"><label>Address</label><div class="field-value">: {{ a.address }}</div></div>
		<div class="field-item"><label>Mobile</label><div class="field-value">: {{ a.smsphone }}</div></div>
		<div class="field-item"><label>Home Phone</label><div class="field-value">: {{ a.homephone }}</div></div>
		

	{% endfor %}
</div>
</div>
{% endblock %}
