{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container">
<div class="bg-success">

{% for flashMessage in app.session.flashbag.get('error') %}

    <div class="error-container">
        <h1>{{ flashMessage }}</h1>
    </div>
{% endfor %}
</div></div>
{% endblock %}
