<!DOCTYPE HTML>

<html lang="en">
<head>
{% set aboutus = app.request.uri ~ '#aboutus' %}
{% set meetteam = app.request.uri ~ '#meetteam' %}
{% set career = app.request.uri ~ '#career' %}
{% set valuedpartner = app.request.uri ~ '#valuedpartner' %}
{% set vendor = app.request.uri ~ '#vendor' %}

<title>{% block title %}
{% if app.request.uri is sameas('http://www.businessbid.ae/') %}
    Hire a Quality Service Professional at a Fair Price
{% elseif app.request.uri starts with 'http://www.businessbid.ae/contactus' %}
    Contact Us Form
{% elseif app.request.uri is sameas('http://www.businessbid.ae/login') %}
    Account Login
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node3' %}
    How BusinessBid Works for Customers
{% elseif app.request.uri starts with 'http://www.businessbid.ae/review/login' %}
    Write A Review Login
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node1' %}
    Are you A Vendor
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/14?city=' %}
    Accounting & Auditing Quote Form
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/924?city=' %}
    Get Signage & Signboard Quotes
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/89?city=' %}
    Obtain IT Support Quotes
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/114?city=' %}
    Easy Way to get Photography & Videos Quotes
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/996?city=' %}
    Procure Residential Cleaning Quotes Right Here
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/994?city=' %}
    Receive Maintenance Quotes for Free
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/87?city=' %}
    Acquire Interior Design & FitOut Quotes
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/45?city=' %}
    Get Hold of Free Catering Quotes
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/93?city=' %}
    Find Free Landscaping & Gardens Quotes
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/79?city=' %}
    Attain Free Offset Printing Quotes from Companies
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/47?city=' %}
    Get Free Commercial Cleaning Quotes Now
{% elseif app.request.uri starts with 'http://www.businessbid.ae/post/quote/bysearch/inline/997?city=' %}
    Procure Free Pest Control Quotes Easily
{% elseif app.request.uri == 'http://www.businessbid.ae/web/app.php/node4' %}
    Vendor Reviews Directory Home Page
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Accounting%20%2526%20Auditing' %}
    Accounting & Auditing Reviews Directory Page
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Signage%20%2526%20Signboards' %}
    Find Signage & Signboard Reviews
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=IT%20Support' %}
    Have a Look at IT Support Reviews Directory
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Photography%20and%20Videography' %}
    Check Out Photography & Videos Reviews Here
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Residential%20Cleaning' %}
    View Residential Cleaning Reviews From Here
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Maintenance' %}
    Find Genuine Maintenance Reviews
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Interior%20Design%20%2526%20Fit%20Out' %}
    Locate Interior Design & FitOut Reviews
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Catering' %}
    See All Catering Reviews Logged
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Landscaping%20and%20Gardening' %}
    Listings of all Landscaping & Gardens Reviews
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Offset%20Printing' %}
    Get Access to Offset Printing Reviews
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Commercial%20Cleaning' %}
    Have a Look at various Commercial Cleaning Reviews
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4?category=Pest%20Control%20and%20Inspection' %}
    Read the Pest Control Reviews Listed Here
{% elseif aboutus == 'http://www.businessbid.ae/aboutbusinessbid#aboutus' %}
    Find information About BusinessBid
{% elseif meetteam == 'http://www.businessbid.ae/aboutbusinessbid#meetteam' %}
    Let us Introduce the BusinessBid Team
{% elseif career == 'http://www.businessbid.ae/aboutbusinessbid#career' %}
    Have a Look at BusinessBid Career Opportunities
{% elseif valuedpartner == 'http://www.businessbid.ae/aboutbusinessbid#valuedpartner' %}
    Want to become BusinessBid Valued Partners
{% elseif vendor == 'http://www.businessbid.ae/login#vendor' %}
    Vendor Account Login Access Page
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node2' %}
    How BusinessBid Works for Vendors
{% elseif app.request.uri starts with 'http://www.businessbid.ae/vendor/register' %}
    BusinessBid Vendor Registration Page
{% elseif app.request.uri starts with 'http://www.businessbid.ae/faq' %}
    Find answers to common Vendor FAQ’s
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node4' %}
    BusinessBid Vendor Reviews Directory Home
{% elseif app.request.uri ~ '#consumer' starts with 'http://www.businessbid.ae/login#consumer' %}
    Customer Account Login and Dashboard Access
{% elseif app.request.uri starts with 'http://www.businessbid.ae/node6' %}
    Find helpful answers to common Customer FAQ’s
{% elseif app.request.uri starts with 'http://www.businessbid.ae/feedback' %}
    Give us Your Feedback
{% elseif app.request.uri starts with 'http://www.businessbid.ae/sitemap' %}
    Site Map Page
{% elseif app.request.uri starts with 'http://www.businessbid.ae/forgotpassword' %}
    Did you Forget Forgot Your Password
{% elseif app.request.uri starts with 'http://www.businessbid.ae/user/email/verify/' %}
    Do You Wish to Reset Your Password
{% elseif app.request.uri starts with 'http://www.businessbid.ae/aboutbusinessbid#contact' %}
    All you wanted to Know About Us
{% elseif app.request.uri starts with 'http://www.businessbid.ae/are_you_a_vendor' %}
    Information for All Prospective Vendors
{% else %}
    Business BID
{% endif %}
{% endblock %}</title>


<meta name="google-site-verification" content="QAYmcKY4C7lp2pgNXTkXONzSKDfusK1LWOP1Iqwq-lk" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% if app.request.uri is sameas('http://www.businessbid.ae/') %}
    <link rel="canonical" href="http://www.businessbid.ae/index.php">
    {% endif %}
    {% if app.request.uri is sameas('http://www.businessbid.ae/index.php') %}
    <link rel="canonical" href="http://www.businessbid.ae/">
    {% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block noindexMeta %}
    {% endblock %}
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <!--[if lt IE 8]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ asset('js/respond.src.js') }}"></script>
    <link type="text/css" rel="stylesheet" href="{{ asset('css/hover-min.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/hover.css') }}">
     <link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
     <link type="text/css" rel="stylesheet" href="{{ asset('css/slicknav.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/new-style.css') }}">


    <link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ asset('css/responsive.css') }}">
    <link href="http://fonts.googleapis.com/css?family=Amaranth:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ asset('css/owl.carousel.css') }}">
    <link rel="stylesheet" href={{ asset('css/font-awesome.min.css') }}>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
<script>
$(document).ready(function(){
    var realpath = window.location.protocol + "//" + window.location.host + "/";
});
</script>
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>

{% block customcss %}

{% endblock %}

{% block javascripts %}
<script>
$(document).ready(function(){
    {% if keyword is defined %}
        window.onload = function(){
              document.getElementById("submitButton").click();
            }
    {% endif %}
    var realpath = window.location.protocol + "//" + window.location.host + "/";

    $('#category').autocomplete({
        source: function( request, response ) {
        $.ajax({
            url : realpath+"ajax-info.php",
            dataType: "json",
            data: {
               name_startsWith: request.term,
               type: 'category'
            },
            success: function( data ) {
                response( $.map( data, function( item ) {
                    return {
                        label: item,
                        value: item
                    }
                }));
            },
            select: function(event, ui) {
                alert( $(event.target).val() );
            }
        });
        },autoFocus: true,minLength: 2
    });

    $("#form_email").on('input',function (){
        var ax =    $("#form_email").val();
        if(ax==''){
            $("#emailexists").text('');
        }
        else {

            var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            var $th = $(this);
            if (filter.test(ax)) {
                $th.css('border', '3px solid green');
            }
            else {
                $th.css('border', '3px solid red');
                e.preventDefault();
            }
            if(ax.indexOf('@') > -1 ) {
                $.ajax({url:realpath+"checkEmail.php?emailid="+ax,success:function(result){
                    if(result == "exists") {
                        $("#emailexists").text('Email address already exists!');
                    } else {
                        $("#emailexists").text('');
                    }
                }
            });
            }

        }
    });
    $("#form_vemail").on('input',function (){
        var ax =    $("#form_vemail").val();
        var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        var $th = $(this);
        if (filter.test(ax))
        {
            $th.css('border', '3px solid green');
        }
        else {
            $th.css('border', '3px solid red');
            e.preventDefault();
            }
        if(ax==''){
        $("#emailexists").text('');
        }
        if(ax.indexOf('@') > -1 ) {
            $.ajax({url:realpath+"checkEmailv.php?emailid="+ax,success:function(result){

            if(result == "exists") {
                $("#emailexists").text('Email address already exists!');
            } else {
                $("#emailexists").text('');
            }
            }});
        }
    });
    $('#form_description').attr("maxlength","240");
    $('#form_location').attr("maxlength","30");
});
</script>
<script type="text/javascript">
window.fbAsyncInit = function() {
    FB.init({
    appId      : '754756437905943', // replace your app id here
    status     : true,
    cookie     : true,
    xfbml      : true
    });
};
(function(d){
    var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement('script'); js.id = id; js.async = true;
    js.src = "//connect.facebook.net/en_US/all.js";
    ref.parentNode.insertBefore(js, ref);
}(document));

function FBLogin(){
    FB.login(function(response){
        if(response.authResponse){
            window.location.href = "//www.businessbid.ae/devfbtestlogin/actions.php?action=fblogin";
        }
    }, {scope: 'email,user_likes'});
}
</script>

<script type="text/javascript">
$(document).ready(function(){

  $("#subscribe").submit(function(e){
  var email=$("#email").val();

    $.ajax({
        type : "POST",
        data : {"email":email},
        url:"{{ asset('newsletter.php') }}",
        success:function(result){
            $("#succ").css("display","block");
        },
        error: function (error) {
            $("#err").css("display","block");
        }
    });

  });
});
</script>


{% endblock %}

{% block customjs %}

{% endblock %}

{% block jquery %}

{% endblock %}
{% block googleanalatics %}

<!-- Google Analytics -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PZXQ9P');</script>

{% endblock %}
</head>
{% spaceless %}
<body>

{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}


 <div class="main_header_area">
            <div class="inner_headder_area">
                <div class="main_logo_area">
                    <a href="{{ path('b_bids_b_bids_home_homepage')}}"><img src="{{ asset('img/logo.png')}}" alt="Logo"></a>
                </div>
                <div class="facebook_login_area">
                    <div class="phone_top_area">
                        <h3>(04) 42 13 777</h3>
                    </div>
                    {% if uid is empty %}
                    <div class="fb_login_top_area">
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_login') }}"><img src="{{ asset('img/sign_in_btn.png') }}" alt="Sign In"></a></li>
                            <li><img src="{{ asset('img/fb_sign_in.png') }}" alt="Facebook Sign In" onclick="FBLogin();"></li>
                        </ul>
                    </div>
                    {% elseif uid is not null %}
                    <div class="fb_login_top_area1">
                        <ul>
                        <li class="profilename">Welcome, <span class="profile-name">{{ name }}</span></li>
                        <li><a class='button-login naked' href="{{ path('b_bids_b_bids_logout') }}"><span>Log out</span></a></li>
                          <li class="my-account"><img src="{{ asset('img/admin-icon1.png') }}" alt="My Account"><a href="{% if pid == 1 %}{{ path('b_bids_b_bids_admin_dashboard') }}{% elseif pid == 2 %}{{ path('b_bids_b_bids_consumer_home') }}{% elseif pid == 3 %}{{ path('b_bids_b_bids_vendor_home') }}{% endif %}"><span>My Account</span></a>
            </li>
                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="mainmenu_area">
            <div class="inner_main_menu_area">
                <div class="original_menu">
                    <ul id="nav">
                        <li><a href="{{ path('b_bids_b_bids_home_homepage') }}">Home</a></li>
                        <li><a href="{{ path('bizbids_vendor_search') }}">Find Services Professionals</a>
                            <ul>
                                {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vendorSearch' })) }}
                            </ul>
                        </li>
                        <li><a href="{{ path('b_bids_b_bids_node4') }}">Search reviews</a>
                            <ul>
                                {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vedorReview' })) }}
                            </ul>
                        </li>
                        <li><a href="http://www.businessbid.ae/resource-centre/home/">resource centre</a>
                            <ul>
                                {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vendorResource' })) }}
                            </ul>
                        </li>
                    </ul>
                </div>
                {% if uid is empty %}
                <div class="register_menu">
                    <div class="register_menu_btn">
                        <a href="{{ path('bizbids_template5') }}">Register Your Business</a>
                    </div>
                </div>
                {% elseif uid is not null %}
                <div class="register_menu1">
                  <img src="{{ asset('img/admin-icon1.png') }}" alt="My Account">  <a href="{% if pid == 1 %}{{ path('b_bids_b_bids_admin_dashboard') }}{% elseif pid == 2 %}{{ path('b_bids_b_bids_consumer_home') }}{% elseif pid == 3 %}{{ path('b_bids_b_bids_vendor_home') }}{% endif %}"><span>My Account</span></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="main-container-block">
    <!-- Banner block Ends -->


    <!-- content block Starts -->
    {% block maincontent %}
    <div class="main_content">
    <div class="container content-top-one">
    <h1>How does it work? </h1>
    <h3>Find the perfect vendor for your project in just three simple steps</h3>
    <div class="content-top-one-block">
    <div class="col-sm-4 float-shadow">
    <div class="how-work">
    <img src="{{ asset('img/tell-us.jpg') }} " />
    <h4>TELL US ONCE</h4>
    <h5>Simply fill out a short form or give us a call</h5>
    </div>
    </div>
    <div class="col-sm-4 float-shadow">
    <div class="how-work">
    <img src="{{ asset('img/vendor-contacts.jpg') }} " />
    <h4>VENDORS CONTACT YOU</h4>
        <h5>Receive three quotes from screened vendors in minutes</h5>
    </div>
    </div>
    <div class="col-sm-4 float-shadow">
    <div class="how-work">
    <img src="{{ asset('img/choose-best-vendor.jpg') }} " />
    <h4>CHOOSE THE BEST VENDOR</h4>
    <h5>Use quotes and reviews to select the perfect vendors</h5>
    </div>
    </div>
    </div>
    </div>

<div class="content-top-two">
    <div class="container">
    <h2>Why choose Business Bid?</h2>
    <h3>The most effective way to find vendors for your work</h3>
    <div class="content-top-two-block">
    <div class="col-sm-4 wobble-vertical">
    <div class="choose-vendor">
    <img src="{{ asset('img/convenience.jpg') }} " />
    <h4>Convenience</h4>
    </div>
    <h5>Multiple quotations with a single, simple form</h5>
    </div>
    <div class="col-sm-4 wobble-vertical">
    <div class="choose-vendor">
    <img src="{{ asset('img/competitive.jpg') }} " />
    <h4>Competitive Pricing</h4>
    </div>
    <h5>Compare quotes before picking the most suitable</h5>

    </div>
    <div class="col-sm-4 wobble-vertical">
    <div class="choose-vendor">
    <img src="{{ asset('img/speed.jpg') }} " />
    <h4>Speed</h4>
    </div>
    <h5>Quick responses to all your job requests</h5>

    </div>
    <div class="col-sm-4 wobble-vertical">
    <div class="choose-vendor">
    <img src="{{ asset('img/reputation.jpg') }} " />
    <h4>Reputation</h4>
    </div>
    <h5>Check reviews and ratings for the inside scoop</h5>

    </div>
    <div class="col-sm-4 wobble-vertical">
    <div class="choose-vendor">
    <img src="{{ asset('img/freetouse.jpg') }} " />
    <h4>Free To Use</h4>
    </div>
    <h5>No usage fees. Ever!</h5>

    </div>
    <div class="col-sm-4 wobble-vertical">
    <div class="choose-vendor">
    <img src="{{ asset('img/support.jpg') }} " />
    <h4>Amazing Support</h4>
    </div>
    <h5>Local Office. Phone. Live Chat. Facebook. Twitter</h5>

    </div>
    </div>
    </div>

</div>
        <div class="container content-top-three">
            <div class="row">
    {% block recentactivity %}
    <h2>We operate all across the UAE</h2>
            <div class="col-md-6 grow">
    <img src="{{ asset('img/location-map.jpg') }} " />
            </div>

    <div class="col-md-6">
                <h2>Recent Jobs</h2>
                <div id="demo2" class="scroll-text">
                    <ul class="recent_block">
                        {% for activity in activities %}
                        <li class="activities-block">
                        <div class="act-date">{{ activity.created|date('d-m-Y G:i') }}</div>
                        {% if activity.type == 1%}
                            {% set fullname = activity.contactname %}
                            {% set firstName = fullname|split(' ') %}
                        <span><strong>{{ firstName[0] }}</strong> from {{ activity.city }}, posted a new job against <a href="{{ path('b_bids_b_bids_home_homepage') }}search?category={{ activity.category }}">{{ activity.category }}</a></span>
                        {% else %}
                            {% set fullname = activity.contactname %}
                            {% set firstName = fullname|split(' ') %}
                        <span><strong>{{ firstName[0] }}</strong> from {{ activity.city }}, recommended {{ activity.message }} for <a href="{{ path('b_bids_b_bids_home_homepage') }}search?category={{ activity.category }}">{{ activity.category }}</a></span>
                        {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                </div>


    <div class="col-md-12 side-clear">
    {% block requestsfeed %}
    <div class="request">
    <h2>{{ enquiries }}</h2>
    <span>NUMBER OF NEW REQUESTS UPDATED TODAY</span>
    </div>
    {% endblock %}
    </div>
            </div>


    {% endblock %}
            </div>

         </div>
        </div>

    </div>

     <div class="certified_block">
        <div class="container">
            <div class="row">
            <h2 >We do work for you!</h2>
            <div class="content-block">
            <p>Each vendor undergoes a carefully designed selection and screening process by our team to ensure the highest quality and reliability.</p>
            <p>Your satisfication matters to us!</p>
            <p>Get the job done fast and hassle free by using Business Bid's certified vendors.</p>
            <p>Other customers just like you, leave reviews and ratings of vendors. This helps you choose the perfect vendor and ensures an excellent customer
        service experience.</p>
            </div>
            </div>
        </div>
    </div>
     <div class="popular_category_block">
        <div class="container">
    <div class="row">
    <h2>Popular Categories</h2>
    <h3>Check out some of the hottest services in the UAE</h3>
    <div class="content-block">
    <div class="col-sm-12">
    <div class="col-sm-2">
    <ul>
    {% if uid is not empty %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':14}) }}">Accounting and <br>Auditing Services</a></li>
    {% else %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':14}) }}">Accounting and <br>Auditing Services</a></li>
    {% endif %}

    </ul>
    </div>
    <div class="col-sm-2">
    <ul>

    {% if uid is not empty %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':87}) }}">Interior Designers and <br> Fit Out</a> </li>
    {% else %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':87}) }}">Interior Designers and <br> Fit Out</a> </li>
    {% endif %}

    </ul>
    </div>
    <div class="col-sm-2">
    <ul>
    {% if uid is not empty %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':924}) }}">Signage and <br>Signboards</a></li>
    {% else %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':924}) }}">Signage and <br>Signboards</a></li>
    {% endif %}



    </ul>
    </div>
    <div class="col-sm-2">
    <ul>
    {% if uid is not empty %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':45}) }}">Catering Services</a></li>
    {% else %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':45}) }}">Catering Services</a> </li>
    {% endif %}

    </ul>
    </div>

    <div class="col-sm-2">
    <ul>
    {% if uid is not empty %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':93}) }}">Landscaping and Gardens</a></li>
    {% else %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':93}) }}">Landscaping and Gardens</a></li>
    {% endif %}


    </ul>
    </div>
    <div class="col-sm-2">
    <ul>
    {% if uid is not empty %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':89}) }}">IT Support</a></li>
    {% else %}
    <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':89}) }}">IT Support</a> </li>
    {% endif %}


    </ul>
    </div>
    </div>
    </div>
    <div class="col-sm-12 see-all-cat-block"><a  href="/resource-centre/home" class="btn btn-success see-all-cat" >See All Categories</a></div>
    </div>
    </div>
       </div>


    {% endblock %}
    <!-- content block Ends -->

    <!-- footer block Starts -->
    {% block footer %}
</div>
        <div class="main_footer_area" style="width:100%;">
            <div class="inner_footer_area">
                <div class="customar_footer_area">
                   <div class="ziggag_area"></div>
                    <h2>Customer Benefits</h2>
                    <ul>
                        <li class="convenience"><p>Convenience<span>Multiple quotations with a single, simple form</span></p></li>
                        <li class="competitive"><p>Competitive Pricing<span>Compare quotes before choosing the most suitable.</span></p></li>
                        <li class="speed"><p>Speed<span>Quick responses to all your job requests.</span></p></li>
                        <li class="reputation"><p>Reputation<span>Check reviews and ratings for the inside scoop</span></p></li>
                        <li class="freetouse"><p>Free to Use<span>No usage fees. Ever!</span></p></li>
                        <li class="amazing"><p>Amazing Support<span>Phone. Live Chat. Facebook. Twitter.</span></p></li>
                    </ul>
                </div>
                <div class="about_footer_area">
                    <div class="inner_abour_area_footer">
                        <h2>About</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#aboutus">About Us</a></li>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#meetteam">Meet the Team</a></li>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#career">Career Opportunities</a></li>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#valuedpartner">Valued Partners</a></li>
                            <li><a href="{{ path('b_bids_b_bids_contactus') }}">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="inner_client_area_footer">
                        <h2>Client Services</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_node4') }}">Search Reviews</a></li>
                            <li><a href="{{ path('b_bids_b_bids_reviewlogin') }}">Write a Review</a></li>
                        </ul>
                    </div>
                </div>
                <div class="vendor_footer_area">
                    <div class="inner_vendor_area_footer">
                        <h2>Vendor Resources</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_login') }}#vendor">Login</a></li>
                            <li><a href="{{ path('bizbids_template5') }}">Grow Your Business</a></li>
                            <li><a href="{{ path('bizbids_template2') }}">How it Works</a></li>
                            <li><a href="{{ path('b_bids_b_bids_vendor_register') }}">Become a Vendor</a></li>
                            <li><a href="{{ path('b_bids_b_bids_faq') }}">FAQ's & Support</a></li>
                        </ul>
                    </div>
                    <div class="inner_client_resposce_footer">
                        <h2>Client Resources</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_login') }}#consumer">Login</a></li>
                            {# <li><a href="{{ path('b_bids_b_bids_how_it_works_2') }}">How it Works</a></li> #}
                            <li><a href="http://www.businessbid.ae/resource-centre/home-2/">Resource Center</a></li>
                            <li><a href="{{ path('b_bids_b_bids_node6') }}">FAQ's & Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="saty_footer_area">
                    <div class="footer_social_area">
                       <h2>Stay Connected</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/businessbid?ref=hl" rel="nofollow"  target="_blank"><img src="{{ asset('img/f_face_icon.PNG') }}" alt="Facebook Icon" ></a></li>
                            <li><a href="https://twitter.com/BusinessBid" rel="nofollow" target="_blank"><img src="{{ asset('img/f_twitter_icon.PNG') }}" alt="Twitter Icon"></a></li>
                            <li><a href="https://plus.google.com/102994148999127318614" rel="nofollow"  target="_blank"><img src="{{ asset('img/f_google_icon.PNG') }}" alt="Google Icon"></a></li>
                        </ul>
                    </div>
                    <div class="footer_card_area">
                       <h2>Accepted Payment</h2>
                        <img src="{{ asset('img/card_icon.PNG') }}" alt="card_area">
                    </div>
                </div>
                <div class="contact_footer_area">
                    <div class="inner_contact_footer_area">
                        <h2>Contact Us</h2>
                        <ul>
                            <li class="place">
                                <p>Suite 503, Level 5, Indigo Icon<br/>
                            Tower, Cluster F, Jumeirah Lakes<br/>
                            Tower - Dubai, UAE</p>
                            <p>Sunday-Thursday<br/>
                            9 am - 6 pm</p>
                            </li>
                            <li class="phone"><p>(04) 42 13 777</p></li>
                            <li class="business"><p>BusinessBid DMCC,<br/>
                            <p>PO Box- 393507, Dubai, UAE</p></li>
                        </ul>
                    </div>
                    <div class="inner_newslatter_footer_area">
                        <h2>Subscribe to Newsletter</h2>
                        <p>Sign up with your e-mail to get tips, resources and amazing deals</p>
                             <div class="mail-box">
                                <form name="news" method="post"  action="http://115.124.120.36/resource-centre/wp-content/plugins/newsletter/do/subscribe.php" onsubmit="return newsletter_check(this)" >
                                <input type="hidden" name="nr" value="widget">
                                <input type="email" name="ne" id="email" value="" placeholder="Enter your email">
                                <input class="submit" type="submit" value="Subscribe" />
                                </form>
                            </div>
                        <div class="inner_newslatter_footer_area_zig"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="botom_footer_menu">
            <div class="inner_bottomfooter_menu">
                <ul>
                    <li><a href="{{ path('b_bids_b_bids_feedback') }}">Feedback</a></li>
                    <li><a data-toggle="modal" data-target="#privacy-policy">Privacy policy</a></li>
                    <li><a href="{{ path('b_bids_b_bids_sitemap') }}">Site Map</a></li>
                    <li><a data-toggle="modal" data-target="#terms-conditions">Terms & Conditions</a></li>
                </ul>
            </div>

        </div>
    {% endblock %}
    <!-- footer block ends -->
</div>{#
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> #}
{% block footerScript%}
<script src="{{ asset('js/new/plugins.js') }}"></script>
<script src="{{ asset('js/new/main.js') }}"></script>
{% endblock %}


<!-- Pure Chat Snippet -->
<script type="text/javascript" data-cfasync="false">(function () { var done = false;var script = document.createElement('script');script.async = true;script.type = 'text/javascript';script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';document.getElementsByTagName('HEAD').item(0).appendChild(script);script.onreadystatechange = script.onload = function (e) {if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {var w = new PCWidget({ c: '07f34a99-9568-46e7-95c9-afc14a002834', f: true });done = true;}};})();</script>
<!-- End Pure Chat Snippet -->
</body>
{% endspaceless %}
</html>
