<!DOCTYPE HTML>
<head>
<title>Business BID Administrator</title>
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--[if lt IE 9]>
  	<script src="{{ asset('js/html5shiv.min.js') }}"></script>
  	<script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!--[if IE 8]>
		<link type="text/css" rel="stylesheet" href="{{ asset('css/style-ie.css') }}">
	<![endif]-->
	<script src="{{ asset('js/respond.src.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/eticket.css') }}">
<link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
{# <script src="{{ asset('js/query-1.10.2.min.js') }}"></script> #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{# <script src="{{ asset('js/bootstrap.js') }}"></script> #}
<script src="{{ asset('js/bootstrap.min.js') }}"></script>

<script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.min.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
<script>
$(document).ready(function() {
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_updateemailid").on('input',function (){
		var ax = 	$("#form_updateemailid").val();
		//alert(ax);
		if(ax==''){
			$("#emailexists").text('');
		} else {

			var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
			var $th = $(this);
			if (filter.test(ax)) {
				$th.css('border', '3px solid green');
			}
			else {
				$th.css('border', '3px solid red');
				e.preventDefault();
			}
			if(ax.indexOf('@') > -1 ) {
				$.ajax({url:realpath+"checkEmail.php?emailid="+ax,success:function(result){
					if(result == "exists") {
						$("#emailexists").text('Email address already exists!');
					} else {
						$("#emailexists").text('');
					}
				}
				});
			}

		}
	});

});
</script>
{% block chartscript %}


{% endblock %}
</head>
<body>
{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}
{% if uid is not null %}
<div class="top-nav-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 contact-info">
				<div class="col-sm-3">
					<span class="glyphicon glyphicon-earphone fa-phone"></span>
					<span>(04) 42 13 777</span>
				</div>
				<div class="col-sm-3 left-clear">
					<!--<span class="contact-no"><a href="/contact">Contact Us</a></span>-->
				</div>
			</div>
			<div class="col-sm-6 clear-right dash-right-top-links">
				<ul>
					<li>Welcome, <span class="profile-name"><a href="{{ path('b_bids_b_bids_admin_edit',{'userid': uid}) }} ">{{ name }}</a></span></li>
					<li><a href="{{ path('b_bids_b_bids_logout') }}">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% block maincontent %}
<div class="main_container" >
	{% block header %}
	<div class="header container">
    	<div class="col-md-6">
		<a href="{{ path('b_bids_b_bids_admin_home') }}"><img src="{{ asset('img/logo.jpg') }}"> </a>
        </div>
        <div class="col-md-6">
        </div>
    </div>
	{% endblock %}
	{% block menu %}
    <div class="menu_block menu_block-admin">
    	<div class="container side-clear">
        		<div class="navbar-header col-sm-2 side-clear">
					<ul class="page-title"><li><a href="{{ path('b_bids_b_bids_admin_home') }}">DASHBOARD</a></li></ul>
				</div>
				{% block topmenu %}
					<div class="collapse navbar-collapse navHeaderCollapse col-sm-10 side-clear pull-right">
						<ul class="nav navbar-nav">
							<li><a href="{{ path('b_bids_b_bids_admin_enquiries', { 'offset' : 1 })}}">Job Requests</a></li>
							<li class="active"><a href="{{ path('b_bids_b_bids_freetrails', { 'offset': 1 }) }}">Free Trial</a></li>
							<li class="active"><a href="{{ path('b_bids_b_bids_admin_users', { 'offset': 1 }) }}">Users</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Vendor</a>
								<ul class="dropdown-menu"  aria-labelledby="dropdownMenu" role="menu">
									<li><a href="{{ path('b_bids_b_bids_admin_orders', {'offset':1}) }}"> Vendor Orders</a></li>
									<li><a href="{{ path('b_bids_b_bids_vendor_category_mapping') }}">Vendor Category Mapping</a></li>
									<li><a href="{{ path('bizbids_vendor_on_off_service') }}">Vendor Status Toggle</a></li>
									<li><a href="{{ path('bizbids_vendor_reviews_upload') }}" target="_blank">Vendor Upload Reviews</a></li>
									<li><a href="{{ path('bizbids_anonymous_reviews_upload') }}" target="_blank">Vendor Anonymous Reviews</a></li>
								</ul>
							</li>
							<li class="dropdown">
								{# <a href="{{ path('b_bids_b_bids_admin_report') }}">Report</a> #}
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Report</a>
								<ul class="dropdown-menu"  aria-labelledby="dropdownMenu" role="menu">
									<li><a href="{{ path('b_bids_b_bids_vendor_reports') }}">Vendor Reports</a></li>
									<li><a href="{{ path('b_bids_b_bids_orders_reports') }}">Vendor Orders</a></li>
									<li><a href="{{ path('b_bids_b_bids_customer_reports') }}">Customer Reports</a></li>
									<li><a href="{{ path('b_bids_b_bids_enquiries_reports') }}">Job Requests</a></li>
									<li><a href="{{ path('b_bids_b_bids_categories_reports') }}">Categories</a></li>
									<li><a href="{{ path('b_bids_b_bids_vendor_leads_list') }}">Vendor Leads List</a></li>
								</ul>
							</li>
							<li><a href="{{ path('b_bids_b_bids_admin_categories') }}"> Categories</a></li>
							<li><a href="{{ path('b_bids_b_bids_reviews', {'offset':1}) }}">Reviews</a></li>
							<li class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown" href="#">Manage Leads</a>
								<ul class="dropdown-menu"  aria-labelledby="dropdownMenu" role="menu">
									<li><a href="{{ path('bizbids_lead_dedcution_return_upload') }}">Lead Refund / Deduction</a></li>
									<li><a href="{{ path('b_bids_b_bids_admin_lead_management') }}">Lead Refund / Deduction History</a></li>
								</ul>
							</li>
							<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="{{ path('b_bids_b_bids_ticket_adminhome') }}">Support<span class="caret"></span></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('b_bids_b_bids_ticket_adminlist', {'usertype':'Vendor'}) }}">Vendor Ticket List</a></li>
									<li><a href="{{ path('b_bids_b_bids_ticket_adminlist', {'usertype':1}) }}">Customer Ticket List</a></li>
								</ul>
							</li>
						</ul>
					</div>
				{% endblock %}
        </div>
    </div>
	{% endblock %}
    	{% block pageblock %}
	<div class="page-bg">
    <div class="container inner_container admin-dashboard">
	{% block dashboard %}
        <div class="col-md-6">
        	<div class="overview_block block  overview-cotainer">
				<table>
					<tr>
						<td>Total Job Requests</td>
						<td><span class="pull-right">{{ totalenquirycount }}</span></td>
					</tr>
					<tr>
						<td>Total  Job Requests This Year</td>
						<td><span class="pull-right">{{ totalenquirycount2 }}</span></td>
					</tr>
					<tr>
						<td>Vendor Orders</td>
						<td><span class="pull-right">{{ totalordercount }}</span></td>
					</tr>
					<tr>
						<td>No. of Customers</td>
						<td><span class="pull-right">{{ totalcustcount }}</span></td>
					</tr>
					<tr>
						<td>No. of Vendors</td>
						<td><span class="pull-right">{{ totalusercountforapproval }}</span></td>
					</tr>
					<tr>
						<td>Job Requests Not Accepted</td>
						<td><span class="pull-right">{{ totalenquiryawaitingcount }}</span></td>
					</tr>
					<tr>
						<td>Reviews Awaiting Approval</td>
						<td><span class="pull-right">{{ totalreviewsawaitingcount }}</span></td>
					</tr>
				</table>
            </div>
        </div>
	{% endblock %}

	{% block statistics %}
        <div class="col-md-6 last statistics">
        	<div class="overview_block block">
         <div id="linechart" style="min-width: 400px; margin: 0 auto"></div>
            </div>
        </div>
	{% endblock %}

	{% block latestorders %}
        <div class="latest-orders top-spce">
        	<div class="overview_block block">
            	<h2>Last 10 Vendor Orders</h2>
                <table>
				<thead><tr>
				<th>Date Received</th>
				<th>Order Number</th>
				<th>Vendor Name</th>
				<th>Business Name</th>
				<th>Vendor Email-Id</th>
				<th>Category</th>
				<th>Lead Package</th>
				<th>Payment Type</th>
				<th>Status</th>
				<th>Amount</th>
				</tr></thead>
				<tbody>
				{% if orders|length > 0 %}

					{% for order in orders %}
						<tr><td>{{ order.created|date('Y-m-d h:i:s') }}</td><td>{{ order.ordernumber }}</td>
						<td>{{ order.contactname }}</td>
						<td>{{ order.bizname }}</td>
						<td>{{ order.email }} </td>
						<td>{{ order.category }}</td>
						<td>{% if order.leadpack == 25 %} Bronze {% elseif order.leadpack == 50 %} Silver
						{% elseif order.leadpack == 100 %} Gold {% elseif order.leadpack == 250 %} Platinum {% endif %}
						</td>
						<td>{{ order.payoption }}</td>
						<td>{% if order.status == 1 %}<font color="green">Approved</font>{% else %}<font color="red">Pending</font>{% endif %}</td>
						<td>{{ order.amount }}</td></tr>
					{% endfor %}

				{% else %}
					<tr> <td colspan="6" class="no-record"> No Records found  </td></tr>
				{% endif %}
				</tbody>
				</table>
            </div>
        </div>
	{% endblock %}

	{% block enquiries %}
        <div class="mid latest-enquires assasa">
        	<div class="overview_block block">
            	<h2>Last 10 Job Requests</h2>
                <table>
				<thead><tr>
				<th>Date Received</th>
				<th>Job Request Number</th>
				<th>Subject</th>
				<th>Category</th>
				<th>City</th>
				<th>Name</th>
				<th>Email</th>
				<th>Contact Number</th>
				<th>Status</th></tr></thead>
				<tbody>
				{% if enquiries|length > 0 %}
					{% for enquiry in enquiries %}
						<tr><td>{{ enquiry.created|date('Y-m-d h:i:s') }} </td>
						<td>{{ enquiry.id }} </td>
						<td>{{ enquiry.subj|slice(0,20) }} </td>
						<td>{{ enquiry.category }} </td>
						<td>{{ enquiry.location }}</td>
						<td>{{ enquiry.contactname }}</td>
						<td>{{ enquiry.email }}</td>
						<td>{{ enquiry.smsphone }}</td>
						<td>{% if enquiry.acceptstatus == 1 %}<font color="green">Accepted</font>{% else %} <font color="red">Waiting</font>{% endif %}</td></tr>
					{% endfor %}
				{% else %}
				<tr> <td colspan="6" class="no-record"> No Records found  <td>
				{% endif %}
				</tbody>
				</table>
            </div>
        </div>
	{% endblock %}

    </div>
    </div>
	{% endblock %}
   {% block footer %}
	<div class="footer-dashboard text-center">

			<div class="container">
				<div class="col-sm-6 footer-messages">Copyright 2013 - 2014 BusinessBid</div>
    			<div class="col-sm-6 clear-right"></div>
			<div>
    	</div>
	{% endblock %}

{% endblock %}
</body>
</html>
