{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container">
<div class="bg-success">
{% for flashMessage in app.session.flashbag.get('success') %}

	<div> 
		<div class="alert alert-success">{{ flashMessage }}</div>
	</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('message') %}

	<div>
		<div class="alert alert-success">{{ flashMessage }}</div>
	</div>
{% endfor %}
</div></div> 
{% endblock %}
