<!DOCTYPE html>
<head>
<title>Business BID Administrator</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Cache-control" content="public">
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--[if lt IE 9]>
  	<script src="{{ asset('js/html5shiv.min.js') }}"></script>
  	<script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{{ asset('js/bootstrap.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script>
$(document).ready(function() {
	$('.dropdown-toggle').dropdown();
});
</script>
{% block jquery %}

{% endblock %}

{% block customcss %}

{% endblock %}


</head>
<body>

{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}


{% if uid is not null %}

<div class="welcome-message">
	<div class="container">
	<div class="btn-group">
	<button class="btn">Welcome, {{ name }}</button>
		<button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
		 <ul class="dropdown-menu">
			<li><a href="{{ path('b_bids_b_bids_logout') }}">Logout</a></li>
		    <li><a href="{{ path('b_bids_b_bids_account') }}">My Account</a></li>
		    <li><a href="{{ path('b_bids_b_bids_change_password') }}">Change Password</a></li>
		    <li> <a href="{{ path('b_bids_b_bids_home_homepage')}}" target="_blank">View Site</a></li>
		</ul>
	</div>
	</div>
</div>

{% endif %}

<div class="main_container">
	{% block header %}
	<div class="header container">
    	<div class="col-md-6">
		<a href="{{ path('b_bids_b_bids_home_homepage') }}"  >	<img src="{{ asset('img/logo.jpg') }}"> </a>
        </div>
        <div class="col-md-6">
        </div>
    	</div>
	{% endblock %}
	{% block menu %}
	<div class="menu_block">
			<div class="container">
				<div class="navbar-header col-sm-5 " >
					<div class="page-title"><ul><li>DASHBOARD</li></ul></div>
				</div>
				{% block topmenu %}
					<div class="collapse navbar-collapse navHeaderCollapse col-sm-7">
						<ul class="nav navbar-nav navbar-left">
							<li><a href="{{ path('b_bids_b_bids_enquiries_my') }}">Overview</a></li>
							<li><a href="{{ path('b_bids_b_bids_consumerreviews') }}">Last 10 Enquires</a></li>
							<li><a href="#">Last 10 Orders</a></li>
							<li><a href="{{ path ('b_bids_b_bids_vendor_register_step_2') }}">Free Trial</a></li>
						</ul>
					</div>
				{% endblock %}
        	</div>
  		</div> 
	{% endblock %}
    
	
		{% block pageblocknew %}
    	<div class="container inner_container aaa" >
		{% block leftmenutab %}
			<div class="row">
				<div class="col-md-3 left-clear" >
					<div class="left-tab-menu">
						<ul>
							<li class="enquiry"><a href="{{ path('b_bids_b_bids_vendor_enquiries') }}">Enquires</a></li>
							<li class="lead-management"><a href="{{ path('b_bids_b_bids_leads_my') }}">Lead Management</a></li>
							<li class="lead-purchases"><a href="{{ path('b_bids_b_bids_vendororders') }}">Lead Purchases</a></li>
							<li class="account"><a href="#">My Account</a></li>
							<li class="support"><a href="#">Support</a></li>
						</ul>
					</div>
				</div>
			</div>	
		{% endblock %}
		
		{% block dashboardgrid %}
        	<div class="col-md-9">
        		<div class="overview_block block">
				
            	</div>
        	</div>
		{% endblock %}
    
    	</div>
	{% endblock %}
	
	{% block pageblock %}
    	<div class="container inner_container">
		
    		<h1>Dashboard</h1>
		{% block dashboard %}
	
        	<div class="col-md-6">
        	<div class="overview_block block">
            		<h2>Overview</h2>
                
            	</div>
        	</div>
		{% endblock %}

		{% block statistics %}
        	<div class="col-md-6  last">
        	<div class="overview_block block">
        	    	<h2>Statistics</h2>
                
            	</div>
        	</div>
		{% endblock %}

		{% block latestorders %}
        	<div class="col-md-12 mid">
        	<div class="overview_block block">
            		<h2>Latest 10 Orders</h2>
                
            	</div>
        	</div>
		{% endblock %}
        
		{% block enquiries %}
        	<div class="col-md-12 mid">
        	<div class="overview_block block">
            		<h2>Last 10 Enquires</h2>
                
            	</div>
        	</div>
		{% endblock %}
    
    
    	</div>
	{% endblock %}
   	{% block footer %}
    	<div class="footer text-center">
    	<div><a href="../../../../bizbids_support">Create Ticket</a></div><a href="../../../../bizbids_support/view.php">View Ticket</a><div></div><div>Copyright 2012 - 2014 Business BIDS</div>
    	</div>
    	{% endblock %}

</div>
</body>
</html>
