<!DOCTYPE html>
<head>
<title>Business BID</title>
<meta name="google-site-verification" content="QAYmcKY4C7lp2pgNXTkXONzSKDfusK1LWOP1Iqwq-lk" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
<link rel="stylesheet" href="/resources/demos/style.css">
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/hover-min.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/hover.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
<link type="text/css" rel="stylesheet" href="{{ asset('css/eticket.css') }}">
<!--[if lt IE 9]>
	<script src="{{ asset('js/html5shiv.min.js') }}"></script>
	<script src="{{ asset('js/respond.min.js') }}"></script>
<![endif]-->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{{ asset('js/respond.src.js') }}"></script>
<script src="{{ asset('js/jquery-1.10.2.js') }}"></script>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
{# <script src="{{ asset('js/bootstrap.js') }}"></script> #}
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.min.js') }}"></script>
<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
<!--
<script>


</script>
-->
<!-- - main menu start- -->

<script>

$(document).ready(function(){
	 if ($('input[name="form[city][]"]:checked').length == $('input[name="form[city][]"]').length) {
       //do something
       $('#checkcity').prop('checked',true);
    }
    else
    {
		 $('#checkcity').prop('checked',false);
	}
});
$(document).ready(function(){
	$('#addform').click(function(){
		var setid = $('#setdata').val();
		var data = (parseInt(setid) + 1)-1;
		var ff = parseInt(data)+ parseInt(1);
		$('#setdata').val(ff);
		if(ff < 9)
			$("#moreproducts").append('<div class="morecertificates subcatadd"><input  type="text" id="form_cat" name="cat[]" placeholder="Enter your category"/><div id="cat-add-error'+ff+'" style="color:red;"></div>');
		/*
		var setid = $('#setdata').val();
		var data = (parseInt(setid) + 1)-1;
		var ff = parseInt(data)+ parseInt(1);
		var test = "form[subcategory"+ff+"]";
		$('#setdata').val(ff);

		var form = document.createElement('input');
		form.setAttribute('type','text');
		//form.setAttribute('name','cat[]');
		//form.setAttribute('id','form_cat');
		form.setAttribute('placeholder','Enter the subcategory');

		var anc = document.createElement('a');
		anc.setAttribute('href','#');
		anc.setAttribute('class','remove_field');
		anc.innerHTML = "Remove";

		var div  = document.createElement('div');
		//div.setAttribute('class','morecertificates');

		div.append(form);
		//div.append(anc);

		//$("#moreproducts").append(anc);
		*/
	});

	$('#addform1').click(function(){
		var setid = $('#setdata').val();
		var data = (parseInt(setid) + 1)-1;
		var ff = parseInt(data)+ parseInt(1);
		$('#setdata').val(ff);
		if(ff < 9)
			$("#moreproducts1").append('<div class="morecertificates subcatadd"><input  type="text" id="form_cat" name="cat[]" placeholder="Enter your category"/><div id="cat-add-error'+ff+'" style="color:red;"></div>');
	});

	 $('.remove_field').click(function(){ //user click on remove text
        $(this).closest('div').remove();
    });
	$('[id^="editcat"]').click(function(){
		var id = $(this).attr('id').split('editcat')[1];
		$("#"+id).append('<div class="editblock'+id+'"><form action="{{ path('bizbids_editcat') }}"><input type="text" id="editdataa" name="edited"/><input type="hidden" value= "'+id+'" id="idval" name="idval"/><input type="submit" name="submit" value="submit" id="edit-submit"/><a href="#" class="can'+id+'" id="cancel-edit">Cancel</a></form></div>');
		$("#editcat"+id).hide();
		});

	$('[id^="editcat-port"]').click(function(){
		var id = $(this).attr('id').split('editcat-port')[1];
		$("#"+id).append('<div class="editblock-port'+id+'"><form action="{{ path('bizbids_editcat_port') }}"><input type="text" id="editdataa1" name="edited"/><input type="hidden" value= "'+id+'" id="idval" name="idval"/><input type="submit" name="submit" value="submit" id="edit-submit"/><a href="#" class="can1'+id+'" id="cancel-edit1">Cancel</a></form></div>');
		$("#editcat"+id).hide();
		});

	$(document).on("click", '#cancel-edit', function() {
		var id = $(this).attr('class').split('can')[1];
		$("#editcat"+id).show();
		$('.editblock'+id).hide();
		$('html,body').animate({
		scrollTop: $("#editdt").offset().top},
		'slow');

	});

	$(document).on("click", '#cancel-edit1', function() {
		var id = $(this).attr('class').split('can1')[1];
		$("#editcat-port"+id).show();
		$('.editblock-port'+id).hide();
		$('html,body').animate({
		scrollTop: $("#editdt-port").offset().top},
		'slow');

	});


    $('#checkcity').click(function(event) {  //on click
        if(this.checked) { // check select status
            $('input[name="form[city][]"]').each(function() { //loop through each checkbox
                this.checked = true;  //select all checkboxes with class "checkbox1"
            });
        }else{
            $('input[name="form[city][]"]').each(function() { //loop through each checkbox
                this.checked = false; //deselect all checkboxes with class "checkbox1"
            });
        }
    });



	/*
	$('#savecat').click(function(){

		if($('[id^="cat-add-error"]').val() == '')
		{
			var id = $(this).attr('id').split('cat-add-error')[1];
			console.log(id);
			$('#cat-add-error').text("Category cannot be left blank");
			return false;
		}
		else
		{
			return true;
		}
		});
	*/

$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;

        // Create stars holder
        var $span = $('<span />').width(size);

        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

});
</script>

<script>
  $(function() {
    $( "#datepicker1" ).datepicker();
  });
$(function() {
    $( "#datepicker2" ).datepicker();
  });

</script>

<script>
	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$('#category').autocomplete({
	      	source: function( request, response ) {
		      	$.ajax({
			      	url : realpath+"ajax-info.php",
			      	dataType: "json",
					data: {
					   name_startsWith: request.term,
					   type: 'category'
					},
	 				success: function( data ) {
		 				response( $.map( data, function( item ) {
							return {
								label: item,
								value: item
							}
						}));
					},
					select: function(event, ui) {
                       alert( $(event.target).val() );
                    }
      			});
	      	},
	      	autoFocus: true,
	      	minLength: 2
      	});
    });
	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_subcategory").html('<option value="0">Select</option>');
	$("#form_category").on('change',function (){
	var ax = 	$("#form_category").val();

	$.ajax({url:realpath+"pullSubCategoryByCategory.php?categoryid="+ax,success:function(result){

	$("#form_subcategory").html(result);
	}});
	});

});

	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_email").on('input',function (){
	var ax = 	$("#form_email").val();
	if(ax==''){
	$("#emailexists").text('');
	}
	if(ax.indexOf('@') > -1 ) {

	$.ajax({url:realpath+"checkEmail.php?emailid="+ax,success:function(result){

	if(result == "exists") {
	$("#emailexists").text('Email address already exists!');
	} else {
	$("#emailexists").text('');
	}
	}});
	}
	});

});

	$(document).ready(function(){
	$('#form_description').attr("maxlength","300");
	$('#form_location').attr("maxlength","30");

	});

</script>

	<script>
		$(document).ready(function() {
			setTimeout(function() {
				// Slide

				$('#menu > div > a.expanded + ul').slideToggle('medium');
				$('#menu > div > a').click(function() {
					$('#menu > div > a.expanded').not(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
					$(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
				});
			}, 250);
		});
	</script>

<script type='text/javascript' >

	function jsfunction(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";

	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//~ alert(xmlhttp.responseText);
	//alert('fghf');
	//document.getElementById("searchval").innerHTML=xmlhttp.responseText;
	// megamenublogAjax();
	// megamenubycatAjax();
	// megamenubycatVendorSearchAjax();
	// megamenubycatVendorReviewAjax();
	}
	  }
	xmlhttp.open("GET",realpath+"ajax-info.php",true);
	xmlhttp.send();



	}

function megamenublogAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
									//document.getElementById("megamenu1").innerHTML=xmlhttp.responseText;
		/*var mvsa = document.getElementById("megamenu1Anch");
		for (var i = 0; i < mvsa.childNodes.length; i++) {
			if (mvsa.childNodes[i].className == "dropdown-menu Resourcesegment-drop") {
				mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
			  break;
			}
		}*/
	}
	  }
	xmlhttp.open("GET",realpath+"mega-menublog.php",true);
	//xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorSearch",true);

	xmlhttp.send();



	}
	function megamenubycatAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	document.getElementById("megamenubycatUl").innerHTML=xmlhttp.responseText;
	}
	  }
	xmlhttp.open("GET",realpath+"mega-menubycat.php",true);
	xmlhttp.send();



	}
	function megamenubycatVendorSearchAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	//console.log(xmlhttp.responseText);
		var mvsa = document.getElementById("megamenuVenSearchAnch");
		for (var i = 0; i < mvsa.childNodes.length; i++) {
			if (mvsa.childNodes[i].className == "dropdown-menu Searchsegment-drop") {
				mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
			  break;
			}
		}
	//document.getElementById("megamenuVenSearchAnch").innerHTML = xmlhttp.responseText;
	}
	  }
	//xmlhttp.open("GET",realpath+"mega-menubycat.php?type=vendorSearch",true);
	xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorSearch",true);
	xmlhttp.send();



	}
	function megamenubycatVendorReviewAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();

	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
		//alert(xmlhttp.responseText);
			var mvsa = document.getElementById("megamenuVenReviewAnch");
			for (var i = 0; i < mvsa.childNodes.length; i++) {
					if (mvsa.childNodes[i].className == "dropdown-menu Reviewsegment-drop") {
						mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
					  break;
					}
			}

		//document.getElementById("megamenuVenReviewUl").innerHTML = xmlhttp.responseText;
	}
	  }
	  xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorReview",true);
	//xmlhttp.open("GET",realpath+"mega-menubycat.php?type=vendorReview",true);
	xmlhttp.send();



	}

</script>

<script type="text/javascript">
/*function show_submenu(b, menuid)
{
	alert(menuid);

	document.getElementById(b).style.display="block";
	if(menuid!="megaanchorbycat"){
	document.getElementById(menuid).className = "setbg";
	}
}*/

function hide_submenu(b, menuid)
{


	//setTimeout(dispminus(b,menuid), 200);



	//document.getElementById(b).onmouseover = function() { document.getElementById(b).style.display="block"; }
	//document.getElementById(b).onmouseout = function() { document.getElementById(b).style.display="none"; }
	//document.getElementById(b).style.display="none";
}

function dispminus(subid,menuid){
	//if(menuid!="megaanchorbycat"){
	//document.getElementById(menuid).className = "unsetbg";
	//}
	//document.getElementById(subid).style.display="none";


	}


$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });

});

 $(document).ready(function(){
      $(".Searchsegment-drop").mouseover(function(){
        $("#megamenuVenSearchAnch").css("background-color","#0e508e");
      });

	   $(".Searchsegment-drop").mouseout(function(){
        $("#megamenuVenSearchAnch").css("background-color","#1e7cc8");
      });
    });
 $(document).ready(function(){
      $(".Reviewsegment-drop").mouseover(function(){
        $("#megamenuVenReviewAnch").css("background-color","#0e508e");
      });

	   $(".Reviewsegment-drop").mouseout(function(){
        $("#megamenuVenReviewAnch").css("background-color","#1e7cc8");
      });
    });


</script>
<!---main menu ends - -->
{% block jquery %}

{% endblock %}

{% block customcss %}

{% endblock %}


</head>
<body>

{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}

{% if uid is not null %}
<div class="top-nav-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 contact-info">
				<div class="col-sm-3">
					<span class="glyphicon glyphicon-earphone fa-phone"></span>
					<span>(04) 42 13 777</span>
				</div>
				<div class="col-sm-3 left-clear">
					<span class="contact-no"><a href="{{ path('b_bids_b_bids_contactus') }}">Contact Us</a></span>
				</div>
			</div>
			<div class="col-sm-6 clear-right dash-right-top-links">
				<ul>
					<li>Welcome, <span class="profile-name">{{ name }}</span></li>
					<li><a href="{{ path('b_bids_b_bids_logout') }}">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endif %}

<div class="main_container">
	{% block header %}
	<div class="header container">
    	<div class="col-md-6 logo">
        	<a href="{{ path('b_bids_b_bids_home_homepage') }}" > <img src="{{ asset('img/logo.jpg') }}"> </a>
        </div>
        <div class="col-md-6">
        </div>
    	</div>
	{% endblock %}
	{% block menu %}
	<div class="menu_block">
			<div class="container">


				{% block topmenu %}
					<div class="container">
	<div class="row">

        <nav class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('b_bids_b_bids_home_homepage') }}">Home</a></li>

        <li class="dropdown">
          <a href="{{ path('bizbids_vendor_search') }}" class="dropdown-toggle" data-toggle="dropdown">Find Services Professionals<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vendorSearch' })) }}
          </ul>
        </li>
         <li class="dropdown">
          <a href="{{ path('b_bids_b_bids_node4') }}" class="dropdown-toggle" data-toggle="dropdown">Vendor Review <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vedorReview' })) }}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right  col-md-5">
         <form class="navbar-form navbar-left" action="{{ path('b_bids_b_bids_home_search') }}">
        <div class="form-group">
          <input id='category' type="text" class="form-control serice-required" placeholder="Type the serive you require"><datalist id="searchval"></datalist>
        </div>
        <button type="submit" class="btn btn-default serice-required-btn">Search</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>

	</div>
</div>



					</div>
				{% endblock %}
        	</div>
  		</div>
	{% endblock %}


	{% block pageblocknew %}
	<div class="page-bg">
    	<div class="container inner_container">
		<div class="row ">
			<div class="dashboard-panel ">

					{% block megamenu %}
	<div id="megamenuVenSearch" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenuVenSearch','megamenuVenSearchAnch');" onMouseOut="javascript:hide_submenu('megamenuVenSearch','megamenuVenSearchAnch');" ><div><ul id="megamenuVenSearchUl"></ul></div></div>
	<div id="megamenuVenReview" class="submenu menu-mega megamenubg-1 megamenubg" onMouseOver="javascript:show_submenu('megamenuVenReview','megamenuVenReviewAnch');" onMouseOut="javascript:hide_submenu('megamenuVenReview','megamenuVenReviewAnch');"><div class="review-menu-left"><ul id="megamenuVenReviewUl"></ul></div><div  class="review-menu-right"><button class="btn btn-success write-button" type="button" >Write a Review</button></div></div>
	<ul id="megamenu1" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenu1','megamenu1Anch');" onMouseOut="javascript:hide_submenu12('megamenu1','megamenu1Anch');" ></ul>
	<div id="megamenubycat" class="submenu menu-megabycat megamenubg" onMouseOver="javascript:show_submenu('megamenubycat','megaanchorbycat');" onMouseOut="javascript:hide_submenu('megamenubycat','megaanchorbycat');"><div><ul id="megamenubycatUl"></ul></div><div></div></div>

	{% if uid is not null %}

	<script type="text/javascript">

	document.getElementById("megamenuVenSearch").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenuVenReview").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenu1").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenubycat").setAttribute("class", "submenu menu-megabycat-login megamenubg");
	</script>


	{% endif %}	{% endblock %}
				{% block leftmenutab %}
				<div class="left-panel">
					<div class="left-tab-menu">
						<ul>
							<li><a class="user-dashboard" href="{{ path('b_bids_b_bids_vendor_home') }}">Vendor Dashboard</a></li>
							<li><a class="account" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Account <span class="caret"></span></a>
								<ul id="collapseOne" class="panel-collapse collapse menu-col">
									<a href="{{ path('b_bids_b_bids_account') }}">My Profile</a>
									<a href="{{ path('b_bids_b_bids_vendorupdatepasssword') }}">Change Password</a>
									<a href="{{ path('b_bids_b_bids_vendorupdatemail') }}">Update Email</a>
									<a href="{{ path('b_bids_b_bids_vendordeleteAccount') }}">Delete Account</a>
								</ul>
							</li>

							{% if (emailCount is defined) and (emailCount != 0) %}
                            <li>
                            	<a class="messages1" href="{{ path('b_bids_b_bids_mymessages') }}">Messages<span class="mess-read">NEW</span></a>
                            </li>
                            {% else %}
							<li>
								<a class="messages" href="{{ path('b_bids_b_bids_mymessages') }}">Messages</a>
							</li>
							{% endif %}
							<li><a class="reviews" href="{{ path('b_bids_b_bids_vendor_enquiries') }}">My Job Requests</a></li>
					      	{# <li><a class="lead-purchases" href="{{ path ('b_bids_b_bids_vendor_register_step_2') }}">Purchase Leads</a></li> #}
					      	<li><a class="lead-purchases" href="{{ path ('b_bids_b_bids_vendor_purchase_leads') }}">Purchase Leads</a></li>
				        	<li><a class="orders" href="{{ path('b_bids_b_bids_vendororders') }}">View All Orders</a></li>
				        	<li><a class="enquiry" href="{{ path('b_bids_b_bids_my_reviews') }}">Reviews and Ratings</a></li>
				        	<li><a class="lead-management" href="{{ path('b_bids_b_bids_leads_history') }}">Lead Management</a></li>
							<li><a class="support" href="{{ path ('b_bids_b_bids_ticket_home') }}">Support</a>
								<!--<ul class="ticket-links">
								<li><a class="creat-ticket" href="{{ path('b_bids_b_bids_support') }}">Create Ticket</a></li>
								<li><a class="view-ticket" href="{{ path('b_bids_b_bids_supportview') }}">View Ticket</a></li>
								</ul>-->
							</li>
						</ul>
					</div>
				</div>
		{% endblock %}


	{% endblock %}

	{% block pageblock %}
    	<div class="container inner_container">
    		<h1>Dashboard</h1>
		{% block dashboard %}
        	<div class="col-md-6">i
        		<div class="overview_block block">
            				<h2>Overview</h2>
            					<table>
							<tr>
							<td>Total Job Requests</td>
							<td>{% for enqvendor in enquiriesvendorcount %}
								{{ enqvendor.noofenqueries }}
								{% endfor %}
								</td>
							</tr>
							<tr>
							<td>Total Job Requests Accepted</td>
							<td>1111</td>
							</tr>
							<tr>
							<td>Total Orders</td>
								<td><span class="pull-right">{{ totalordercount }}</td>
								</tr>
								<tr>
									<td>Overall Ratings (Highest is 5) </td>
									<td><span class="pull-right">{% if (enquiriesvendorcount==1) %}{{ enquiriesvendorcount }}{% else %}{{ enquiriesvendorcount }}{% endif %}</td>
								</tr>
								<tr>
									<td>Service Categories</td>
									<td><span class="pull-left overview-catgories">
										{% if((orders=='')) %}
										<p>N/A</p>
										{% else %}
										{% for o in orders %}
										<li>{{ o.category }}</li>
										{% endfor %}
										{% endif %}
										</td>
								</tr>
							</tr>

						</table>

            		</div>
        	</div>
		{% endblock %}

		{% block statistics %}
        	<div class="col-md-6  last">
        	<div class="overview_block block">
        	    	<h2>Statistics</h2>

            	</div>
        	</div>
		{% endblock %}

		{% block latestorders %}
        	<div class="col-md-12 mid">
        	<div class="overview_block block">
            		<h2>Latest 10 Orders</h2>
            		<table border="1">
						<tr>
							<th>Orderid</th>
							<th>Status</th>
							<th>Date Added</th>
							<th>Amount</th></tr>
									{% for enquiry in enquiries %}
							<tr>
							<td>{{ enquiry.ordernumber }}</td>
							<td>{% if enquiry.status == 1 %} processed ... {% else %} processing {% endif %}</td>
							<td>{{ enquiry.created|date('Y-m-d h:i:s') }}</td>
							<td>{{ enquiry.amount }}</td>

						</tr>
						{% endfor %}
            		</table>

            	</div>
        	</div>
			</div>
		{% endblock %}

		{% block enquiries %}
						<table border="1">
								<thead><tr>
									<th>Enquiry Name</th>
									<th>Category</th>
									<th>Enquiry Date</th>
									<th>Status</th>
									</tr></thead>
                                     {% if enquiriesvendor is empty %}
                                      <tr><td>No Records Found<td></tr>
                                     {% else  %}

									{% for enqvendor in enquiriesvendor %}
									<tr>
										<td>{% if enqvendor.acceptstatus is empty  %}{{ enqvendor.subj }}{% else %}<a href=" {{ path('b_bids_b_bids_view_consumer', {'id' : enqvendor.authorid,'eid':enqvendor.id } ) }} ">{% if enqvendor.subj|length>20 %}{{ enqvendor.subj|slice(0,20) }}... {% else %} {{ enqvendor.subj }} {% endif %}</a>{% endif %}</td>
									<td>{{ enqvendor.category }}</td>
									<td>{{ enqvendor.created|date('Y-m-d') }}</td>
									<td>{% if enqvendor.acceptstatus is empty  %} Not Accepted {% else %} Accepted {% endif %}</td>

								</tr>
								{% endfor %}
                                                                {% endif %}
                        						</table>
						{% endblock %}

    	</div>
	{% endblock %}

</div>
    	</div>
</div>
	{% block footer %}
    	<div class="footer-dashboard text-center">
		<div class="container">
		<div class="col-sm-6 footer-messages">Copyright 2013 - 2014 BusinessBid</div>
    	<div class="col-sm-6 clear-right"></div>

    	</div>
		</div>
    	{% endblock %}
<!-- Pure Chat Snippet -->
<script type="text/javascript" data-cfasync="false">(function () { var done = false;var script = document.createElement('script');script.async = true;script.type = 'text/javascript';script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';document.getElementsByTagName('HEAD').item(0).appendChild(script);script.onreadystatechange = script.onload = function (e) {if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {var w = new PCWidget({ c: '07f34a99-9568-46e7-95c9-afc14a002834', f: true });done = true;}};})();</script>
<!-- End Pure Chat Snippet -->
</body>

<script type="text/javascript">
//window.onload = jsfunction();
</script>

</html>
