<!DOCTYPE html>
<head>
	<title>Business BID Administrator</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Cache-control" content="public">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/hover-min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/hover.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/eticket.css') }}">
	<!--[if lt IE 9]>
  	<script src="{{ asset('js/html5shiv.min.js') }}"></script>
  	<script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{ asset('js/bootstrap.js') }}"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>

	<script src="{{ asset('js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('bundles/obhighcharts/js/highcharts/highcharts.js') }}"></script>
	<script src="{{ asset('bundles/obhighcharts/js/highcharts/modules/exporting.js') }}"></script>
	
<!---main menu start -->


<!---main menu ends --->
{% block chartscript %}


{% endblock %}

{% block jquery %}

{% endblock %}

{% block customcss %}
{% endblock %}


</head>
<body>

{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}


{% if uid is not null %}
<div class="top-nav-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 contact-info">
				<div class="col-sm-3">
					<span class="glyphicon glyphicon-earphone fa-phone"></span>
					<span>(04) 347 2022</span>
				</div>
				<div class="col-sm-3 left-clear">
					<span class="contact-no"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact">Contact Us</a></span>
				</div>
			</div>
			<div class="col-sm-6 clear-right dash-right-top-links">
				<ul>
					<li>Welcome, <span class="profile-name">{{ name }}</span></li> 
					<li><a href="{{ path('b_bids_b_bids_logout') }}">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% endif %}

<div class="main_container">
	{% block header %}
	<div class="header container">
    	<div class="col-md-6 logo">
		<a href="{{ path('b_bids_b_bids_home_homepage') }}"  >	<img src="{{ asset('img/logo.jpg') }}"> </a>
        </div>
        <div class="col-md-6">
        </div>
    </div>
	{% endblock %}
	{% block menu %}
	<div class="menu_block">
			<div class="container">
				<div class="navbar-header col-sm-6 ">
					<!--<ul class="page-title"><li>DASHBOARD</li></ul>-->
				</div>
				{% block topmenu %}
					<div class="navHeaderCollapse col-sm-7">
						<ul class="nav navbar-nav navbar-left"><!--<li><a href="{{ path('b_bids_b_bids_vendor_home') }}">Dashboard</a></li>
							<li><a href="{{ path('b_bids_b_bids_vendor_enquiries') }}">View All Enquires</a></li>
							<li><a href="{{ path('b_bids_b_bids_vendororders') }}">View All Orders</a></li>-->
							
							<li><a href="{{ path('b_bids_b_bids_home_homepage')}}">Home</a></li>
							<li id = "megamenuVenSearchAnch" class="dropdown" onClick="javascript:hide_submenu('megamenu1', 'megamenu1Anch')">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendor Search<b class="caret"></b></a>
							<ul class="dropdown-menu Searchsegment-drop"  role="menu" aria-labelledby="dropdownMenu"></ul>
							</li>
							<li id = "megamenuVenReviewAnch" class="dropdown" onClick="javascript:hide_submenu('megamenu1', 'megamenu1Anch')">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendor Review<b class="caret"></b></a>
							<ul class="dropdown-menu Reviewsegment-drop"  role="menu" aria-labelledby="dropdownMenu"></ul>
							</li>
							
							
							{% if (useridexistsfreeleads ==0) and (useridexists ==0)  %}
							<li><a class="free-trial" href="{{ path ('b_bids_b_bids_free_trial') }}">Free Trial</a></li>
							{% endif %}
							
						</ul></div>
						<div class="col-md-5 search_block">
							<form name="search" method="request" action="{{ path('b_bids_b_bids_home_search') }}">
							<input class="col-sm-8 search-box" type="text" list="browsers" placeholder="Type the service you require" id='category' name='category' ><datalist id="searchval"></datalist>
							<input type="submit" value="Search" class="search-btn form_submit col-sm-3" />
							</form>
							</div>
							
						
						
					</div>
				{% endblock %}
        	</div>
  		</div> 
	{% endblock %}
    
	
	{% block pageblock %}
		<div class="page-bg">
    	<div class="container inner_container">
		<div class="row">
			<div class="dashboard-panel">
				
				
	
				{% block leftmenutab %}
					<div class="left-panel">
						<div class="left-tab-menu">
							<ul>
							<li><a class="user-dashboard" href="{{ path('b_bids_b_bids_vendor_home') }}">Vendor Dashboard</a></li>
							<li><a class="account" href="{{ path('b_bids_b_bids_account') }}">My Profile</a></li>
							<li><a class="messages" href="{{ path('b_bids_b_bids_mymessages') }}">Messages</a></li>
					      	<li><a class="reviews" href="{{ path('b_bids_b_bids_vendor_enquiries') }}">My Job Requests</a></li>
					      	<li><a class="lead-purchases" href="{{ path ('b_bids_b_bids_vendor_register_step_2') }}">Pruchase Leads</a></li>
				        	<li><a class="orders" href="{{ path('b_bids_b_bids_vendororders') }}">View All Orders</a></li>
				        	<li><a class="enquiry" href="{{ path('b_bids_b_bids_my_reviews') }}">Reviews and Ratings</a></li>
				        	<li><a class="lead-management" href="{{ path('b_bids_b_bids_leads_history') }}">Lead Management</a></li>
					        <li><a class="support" href="{{ path ('b_bids_b_bids_ticket_home') }}">Support</a>
								<!--<ul class="ticket-links">
									<li><a class="creat-ticket" href="{{ path('b_bids_b_bids_support') }}">Create Ticket</a></li>
                                	<li><a class="view-ticket" href="{{ path('b_bids_b_bids_supportview') }}">View Ticket</a></li>
								</ul>-->
							</li>
							</ul>
						</div>
					</div>	
				{% endblock %}
		
		{% block dashboardgrid %}
        		<div class="col-md-9 dashboard-rightpanel">
					<div class="page-title"><a class="switch-user" href="{{ path('b_bids_b_bids_consumer_home') }}">Switch to My Customer Profile</a></div>
				<div class="dashboard-container">
				
        		<div class="overview_block">
					
				{% block dashboard %}
					<div class="col-md-6 overview-cotainer">
							<table>
								<tr>
								<td>Total Job Request</td>
								<td><span class="pull-right">{{ totalenquirycount }}
									</td>
								</tr>
								<tr>
								<td>Total Job Requests Accepted</td>
								<td><span class="pull-right">{{ totalusercountforapproval }}</td>
								</tr>
								<tr>
								<td>Total Orders</td>
								<td><span class="pull-right">{{ totalordercount }}</td>
								</tr>
								<tr>
									<td>Overall Review Out of 5 </td>
									<td><span class="pull-right">{% if (enquiriesvendorcount==1) %}{{ enquiriesvendorcount }}{% else %}{{ enquiriesvendorcount }}{% endif %}</td>
								</tr>
								<tr>
									<td colspan="2">
									<div>Categories</div>
									<ul class="pull-left overview-catgories">{% for o in orders %}
										<li>{{ o.category }}</li>
										{% endfor %}</ul>
									</td>
								</tr>
							</table>
        	    			</div>
				{% endblock %}

				{% block statistics %}
					<div class="col-md-6 statistics last">
         					<div id="linechart" style="min-width: 300px; margin: 0 auto"></div>       
            				</div>
				{% endblock %}
			</div>
		
        		<div class="col-md-12 mid">
        			<div class="overview_block block">
					<div class="latest-orders">
						<h2>Latest 10 Orders</h2>
						{% block latestorders %}
						<table border="1">
							<thead><tr>
								<th>Ordered Date</th>
								<th>Order Number</th>
								<th>Status</th>
								
								<th>Amount</th></tr></thead>
				                                {% if enquiries is empty %}
                                                                <tr><td>No Records Found<td></tr>
                                                                 {% else  %}

										{% for enquiry in enquiries %}
								<tr>
									<td>{{ enquiry.created|date('Y-m-d h:i:s') }}</td>
								<td><a href="{{ path('b_bids_b_bids_vendor_order_view', {'id': enquiry.id}) }}" >{{ enquiry.ordernumber }}</a></td>
								<td>{% if enquiry.status == 1 %} processed ... {% else %} processing {% endif %}</td>
								
								<td>{{ enquiry.amount }}</td>
								
							</tr>
							{% endfor %}
                                                       {% endif %}
						</table>
						{% endblock %}
            				</div>
		
					<div class="latest-enquires">
						<h2>Last 10 Enquires</h2>
						{% block enquiries %}
						<table border="1">
								<thead><tr>
									<th>Job Requested Date</th>
									<th>Subject</th>
									<th>Category</th>
									<th>Status</th>
									</tr></thead>
                                     {% if enquiriesvendor is empty %}
                                      <tr><td>No Records Found<td></tr>
                                     {% else  %}

									{% for enqvendor in enquiriesvendor %}
									<tr>
										<td>{{ enqvendor.created|date('Y-m-d') }}</td>
										<td><strong>{% if enqvendor.acceptstatus is empty  %}{{ enqvendor.subj }}{% else %}<a href=" {{ path('b_bids_b_bids_view_consumer', {'id' : enqvendor.authorid,'eid':enqvendor.id } ) }} ">{% if enqvendor.subj|length>20 %}{{ enqvendor.subj|slice(0,20) }}... {% else %} {{ enqvendor.subj }} {% endif %}</a>{% endif %}</strong></td>
									<td>{{ enqvendor.category }}</td>
									
									<td>{% if enqvendor.acceptstatus is empty  %} <span class="not-accepted">Not Accepted</span> {% else %} <span class="accepted">Accepted </span>{% endif %}</td>
									
								</tr>
								{% endfor %}
                                                                {% endif %}
                        						</table>
						{% endblock %}
					</div>
            			</div>
        		</div>
				</div>
				</div>
		{% endblock %}
    	</div>
    	</div>
	{% endblock %}
	</div>
</div>   	
{% block footer %}
    	<div class="footer-dashboard text-center">
			<div class="container"> 
				<div class="col-sm-6 footer-messages">Copyright 2012 - 2014 Business BIDS</div>
    			<div class="col-sm-6 clear-right"></div>
			<div>
    	</div>
{% endblock %}
	{% block megamenu %}
	<div id="megamenuVenSearch" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenuVenSearch','megamenuVenSearchAnch');" onMouseOut="javascript:hide_submenu('megamenuVenSearch','megamenuVenSearchAnch');" ><div><ul id="megamenuVenSearchUl"></ul></div></div>
	<div id="megamenuVenReview" class="submenu menu-mega megamenubg-1 megamenubg" onMouseOver="javascript:show_submenu('megamenuVenReview','megamenuVenReviewAnch');" onMouseOut="javascript:hide_submenu('megamenuVenReview','megamenuVenReviewAnch');"><div class="review-menu-left"><ul id="megamenuVenReviewUl"></ul></div><div  class="review-menu-right"><button class="btn btn-success write-button" type="button" >Write a Review</button></div></div>
	<ul id="megamenu1" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenu1','megamenu1Anch');" onMouseOut="javascript:hide_submenu12('megamenu1','megamenu1Anch');" ></ul>
	<div id="megamenubycat" class="submenu menu-megabycat megamenubg" onMouseOver="javascript:show_submenu('megamenubycat','megaanchorbycat');" onMouseOut="javascript:hide_submenu('megamenubycat','megaanchorbycat');"><div><ul id="megamenubycatUl"></ul></div><div></div></div> 
	
	{% if uid is not null %}

	<script type="text/javascript">
	document.getElementById("megamenuVenSearch").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenuVenReview").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenu1").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenubycat").setAttribute("class", "submenu menu-megabycat-login megamenubg");
	</script>
	{% endif %}	
	{% endblock %}

</body>

</html>
