{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container">
<div class="bg-success">

{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="error-container">
		<h1>{{ flashMessage }}</h1>
		<a href="{{ path('b_bids_b_bids_forgot_password') }}" title="" class="btn btn-primary">Forgot Password</a>
	</div>
{% endfor %}
</div></div> 
{% endblock %}
