<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge"/>
        <title>Hire a Quality Service Professional at a Fair Price</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="canonical" href="http://www.businessbid.ae/" />
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/slicknav.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/home-style.css') }}">
        <link type="text/css" rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">

        <script src="{{ asset('js/new/modernizr-2.6.2.min.js') }}"></script>


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        {#<script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.10.2.min.js') }}"><\/script>')</script>#}

  <style>
    #sticker {
    visibility:visible
      margin: 0 auto;
      text-shadow: 0 1px 1px rgba(0,0,0,.2);
    }
  </style>


        {% block googleanalatics %}
        <!-- Google Analytics -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PZXQ9P');</script>
        {% endblock %}
    </head>
    {% spaceless %}
    <body>
        {% set uid = app.session.get('uid') %}
        {% set pid = app.session.get('pid') %}
        {% set email = app.session.get('email') %}
        {% set name = app.session.get('name') %}
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="main_header_area">
            <div class="inner_headder_area">
                <div class="main_logo_area">
                    <a href="{{ path('b_bids_b_bids_home_homepage')}}"><img src="{{ asset('img/logo.png') }}" alt="Business Bid Logo"></a>
                </div>
                <div class="facebook_login_area">
                    <div class="phone_top_area">
                        <h3>(04) 42 13 777</h3>
                    </div>
                    {% if uid is empty %}
                    <div class="fb_login_top_area">
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_login') }}"><img src="{{ asset('img/sign_in_btn.png') }}" alt="Sign In"></a></li>
                            <li><img src="{{ asset('img/fb_sign_in.png') }}" alt="Facebook Sign In" onclick="FBLogin();"></li>
                        </ul>
                    </div>
                    {% elseif uid is not null %}
                    <div class="fb_login_top_area1">
                        <ul>
                        <li class="profilename">Welcome, <span class="profile-name">{{ name }}</span></li>
                        {# <li><a href="{{ path('b_bids_b_bids_logout') }}"><img src="{{ asset('img/admin-icon1.png') }}" alt="admin">Log out</a></li> #}


       <li><a class='button-login naked' href="{{ path('b_bids_b_bids_logout') }}"><span>Log out</span></a></li>
      <li class="my-account"><img src="{{ asset('img/admin-icon1.png') }}" alt="My Account"><a href="{% if pid == 1 %}{{ path('b_bids_b_bids_admin_dashboard') }}{% elseif pid == 2 %}{{ path('b_bids_b_bids_consumer_home') }}{% elseif pid == 3 %}{{ path('b_bids_b_bids_vendor_home') }}{% endif %}"><span>My Account</span></a>
            </li>

                        </ul>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% set serviceCatLinks, reviewCatLinks, resourceCatLinks,resource = '', '', '','' %}
        {% if uid is not empty %}
            {% for category in categories %}
                {% if loop.last %}
                    {% set serviceCatLinks = serviceCatLinks ~ '<li><a class="all-category" href="'~ path('bizbids_vendor_search') ~'">See All Categories</a></li>' %}

                    {% set reviewCatLinks = reviewCatLinks ~ '<li><a class="all-category" href="'~ path('b_bids_b_bids_node4') ~'">See All Reviews</a></li>' %}
                    {% set resourceCatLinks = resourceCatLinks ~ '<li><a class="all-category" href="http://www.businessbid.ae/resource-centre/home">See All Articles</a></li>' %}
                {% else %}
                    {% set serviceCatLinks = serviceCatLinks ~ '<li><a class="'~ category.catClass ~'" href="'~ path('b_bids_b_bids_post_by_search',{'categoryid':category.id }) ~'">'~ category.category ~' Quotes</a></li>' %}

                    {% set reviewCatLinks = reviewCatLinks ~ '<li><a class="'~ category.catClass ~'" href="'~ path('b_bids_b_bids_reviewform_post',{'catid':category.id}) ~'">'~ category.category ~' Reviews</a></li>' %}
                    {% if category.resourceLink is empty %}
                        {% set resource = 'home-2' %}
                    {% else %}
                        {% set resource = category.resourceLink %}
                    {% endif %}
                    {% set resourceCatLinks = resourceCatLinks ~ '<li><a class="'~ category.catClass ~'" href="http://www.businessbid.ae/resource-centre/'~ resource ~'">'~ category.category ~' Articles</a></li>' %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% for category in categories %}
            {% if loop.last %}
                    {% set serviceCatLinks = serviceCatLinks ~ '<li><a class="all-category" href="'~ path('bizbids_vendor_search') ~'">See All Categories</a></li>' %}

                    {% set reviewCatLinks = reviewCatLinks ~ '<li><a class="all-reviews" href="'~ path('b_bids_b_bids_node4') ~'">See All Reviews</a></li>' %}
                    {% set resourceCatLinks = resourceCatLinks ~ '<li><a class="all-articles" href="http://www.businessbid.ae/resource-centre/home">See All Articles</a></li>' %}
                {% else %}
                    {% set serviceCatLinks = serviceCatLinks ~ '<li><a class="'~ category.catClass ~'" href="'~ path('b_bids_b_bids_post_by_search_inline',{'categoryid':category.id }) ~'">'~ category.category ~' Quotes</a></li>' %}

                    {% set reviewCatLinks = reviewCatLinks ~ '<li><a class="'~ category.catClass ~'" href="'~ path('b_bids_b_bids_reviewform_post',{'catid':category.id}) ~'">'~ category.category ~' Reviews</a></li>' %}
                    {% if category.resourceLink is empty %}
                        {% set resource = 'home-2' %}
                    {% else %}
                        {% set resource = category.resourceLink %}
                    {% endif %}
                    {% set resourceCatLinks = resourceCatLinks ~ '<li><a class="'~ category.catClass ~'" href="http://www.businessbid.ae/resource-centre/'~ resource ~'">'~ category.category ~' Articles</a></li>' %}
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="mainmenu_area">
            <div class="inner_main_menu_area">
                <div class="original_menu">
                    <ul id="nav">
                        <li><a href="{{ path('b_bids_b_bids_home_homepage') }}">Home</a></li>
                        <li><a href="{{ path('bizbids_vendor_search') }}">Find Services Professionals</a>
                            <ul>
                                {{ serviceCatLinks|raw }}
                            </ul>
                        </li>
                        <li><a href="{{ path('b_bids_b_bids_node4') }}">Search reviews</a>
                            <ul>
                                {{ reviewCatLinks|raw }}
                            </ul>
                        </li>
                        <li><a href="http://www.businessbid.ae/resource-centre/home/">resource centre</a>
                            <ul>
                                {{ resourceCatLinks|raw }}
                            </ul>
                        </li>
                    </ul>
                </div>
                {% if uid is empty %}
                <div class="register_menu">
                    <div class="register_menu_btn">
                        <a href="{{ path('bizbids_template5') }}">Register Your Business</a>
                    </div>
                </div>
                {% elseif uid is not null %}
                <div class="register_menu1">
     <img src="{{ asset('img/admin-icon1.png') }}" alt="My Account"><a href="{% if pid == 1 %}{{ path('b_bids_b_bids_admin_dashboard') }}{% elseif pid == 2 %}{{ path('b_bids_b_bids_consumer_home') }}{% elseif pid == 3 %}{{ path('b_bids_b_bids_vendor_home') }}{% endif %}"><span>My Account</span></a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="one_area">
            <div class="one_child_area">
                <div class="inner_one_area_opacity"></div>
                <div class="inner_one_area">
                    <h3>Need to hire a quality service professional at a fair price? Ask us.</h3>
                    <h4>What service do you need? </h4>
                    <div class="home_top_sear_btn_n_plac">
                        <form method="GET" action="{{ path('b_bids_b_bids_home_search') }}">
                        <input id='category' type="text" name="category" placeholder="eg. cleaner, photographer, handyman etc.">
                        {# <a href="#">submit</a> #}
                        <button type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="two_area">
            <div class="two_child_area">
                <div class="inner_two_area_coain">
                    <h4>COMPLETELY FREE TO USE</h4>
                </div>
                <div class="inner_two_area_praper">
                    <h4>COMPARE COMPETITIVE QUOTES</h4>
                </div>
                <div class="inner_two_area_star">
                    <h4>CHOOSE RATED PROFESSIONALS</h4>
                </div>
            </div>
        </div>
        <div class="stick_bg_test">
            <div id="sticker" class="sticky_top_menu_area">
                <div class="sticky_top_menu_area_inner">
                   <div class="sticky_heading">
                       <h2>COMPARE UP TO 3 QUOTES INSTANTLY</h2>
                   </div>
                    <div class="sticky_table_menu">
                        <select name="categories">
                            {% for category in categories %}
                                <option value="{{ category.id }}" >{{ category.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="sticky_table_menu_btn"><a href="#" id="get_quotes">GET QUOTES</a></div>
                </div>
            </div>
        </div>
        <div class="three_area">
            <div class="three_child_area">
                <h2>How does BusinessBid work?</h2>
                <div class="inner_three_area">
                    <img src="{{ asset('img/step_one.png') }}" alt="Step One">
                    <h3>Tell us what you need?</h3>
                    <p>Fill out a quote request form.</p>
                </div>
                <div class="three_arrow"><img src="{{ asset('img/arrow.png') }}" alt="Arrow"></div>
                <div class="inner_three_area">
                    <img src="{{ asset('img/step_two.png') }}" alt="Step Two">
                    <h3>Receive multiple quotes</h3>
                    <p>Compare prices and reviews.</p>
                </div>
                <div class="three_arrow"><img src="{{ asset('img/arrow.png') }}" alt="Arrow"></div>
                <div class="inner_three_area">
                    <img src="{{ asset('img/stpe_three.png') }}" alt="Step Three">
                    <h3>Hire the best professional</h3>
                    <p>Once done, rate your experience</p>
                </div>
            </div>
        </div>
        <div class="fore_area">
            <div class="fore_child_area">
                <h2>Popular Categories</h2>
                <div class="inner_four_area">
                    <ul>
                        <li class="coain"><a href="/resource-centre/accounting-audit-firms/">Accounting & Auditing Services</a></li>
                        <li class="interior"><a href="/resource-centre/interior">Interior Design & Fit Out</a></li>
                        <li class="signage"><a href="/resource-centre/signage-graphics-companies/">Signage and Signboards</a></li>
                        <li class="catering"><a href="/resource-centre/catering-4/">Catering Services</a></li>
                    </ul>
                </div>
                <div class="inner_four_area middle">
                    <ul>
                        <li class="support"><a href="/resource-centre/it-support">IT Support</a></li>
                        <li class="landscaping"><a href="/resource-centre/landscaping-gardening-companies/">Landscaping and Gardens</a></li>
                        <li class="photography"><a href="/resource-centre/photography">Photography and Video</a></li>
                        <li class="offset"><a href="/resource-centre/printing-press/">Offset Printing</a></li>
                    </ul>
                </div>
                <div class="inner_four_area right">
                    <ul>
                        <li class="residential"><a href="/resource-centre/cleaning">Residential Cleaning</a></li>
                        <li class="commercial"><a href="/resource-centre/cleaning">Commercial Cleaning</a></li>
                        <li class="maintenance"><a href="/resource-centre/maintenance">Maintenance</a></li>
                        <li class="control"><a href="/resource-centre/pest-control-companies/">Pest Control</a></li>
                    </ul>
                </div>
                <div class="fore_btn">
                    <a href="{{ path('bizbids_vendor_search') }}">VIEW ALL CATEGORIES</a>
                </div>
            </div>
        </div>
        <div class="five_area">
            <div class="five_child_area">
                <div class="inner_five_text">
                    <h1>HIRE RATED PROFESSIONALS</h1>
                    <p>BusinessBid screens all service professionals to ensure they are licensed and certified to carry out their activity and have a good reputation in their industry. In addition, customers who have previously hired a vendor are able to rate the overall experience. As a BusinessBid user you have access to thousands of vendor reviews and ratings you can view before hiring a service professional.</p>               <p>Whether you need access to <a href="http://www.businessbid.ae/resource-centre/accounting-audit-firms/">audit firms</a>, <a href="http://www.businessbid.ae/resource-centre/interior/">interior design companies</a>, <a href="http://www.businessbid.ae/resource-centre/catering-4/">catering businesses</a>, or <a href="http://www.businessbid.ae/resource-centre/it-support/">IT services</a>, we can connect you to screened and approved professionals who you can trust to get things done.</p>
                    <div class="five_btn">
                        <a href="{{ path('b_bids_b_bids_node4') }}">Check Reviews & Ratings</a>
                    </div>
                </div>
                <div class="inner_five_img">
                    <img src="{{ asset('img/window.png') }}" alt="Browser Window">
                </div>
            </div>
        </div>
        <div class="six_area">
            <div class="six_child_area">
                <div class="inner_six_area_opaciry"></div>
                <div class="inner_six_area">
                    <h2>QUICK QUOTES THAT SAVE YOU MONEY</h2>
                    <p>All you need to do is fill out a simple form telling us what you need and we will have the most suitable professionals quote you for your project. You will usually have 3 service professionals contact you so you can compare quotes and ensure you get a great deal. Typically vendors will contact you within 30 minutes or less!</p>
                    <p>At BusinessBid we pride ourselves in being able to provide customers with multiple quotes at fast turnaround times.</p>
                    <form name="search" method="GET" action="{{ path('b_bids_b_bids_home_search') }}">
                    <div class="six_tabil">
                        <select name="category">
                            {% for category in categoriesList %}
                                <option value="{{ category.category }}" >{{ category.category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <input type="submit" class="six_btn" name="submit" value="START FREE QUOTES">
                    </form>
                </div>
            </div>
        </div>
        <div class="seven_area">
            <div class="seven_child_area">
                <h2>ARE YOU A SERVICE PROFESSIONAL?</h2>
                <p>Learn more on how joining BusinessBid can benefit your business.</p>
                <div class="seven_btn"><a href="{{ path('bizbids_template5')}}">FIND OUT MORE</a></div>
            </div>
        </div>
        <div class="main_footer_area">
            <div class="inner_footer_area">
                <div class="customar_footer_area">
                   <div class="ziggag_area"></div>
                    <h2>Customer Benefits</h2>
                    <ul>
                        <li class="convenience"><p>Convenience<span>Multiple quotations with a single, simple form</span></p></li>
                        <li class="competitive"><p>Competitive Pricing<span>Compare quotes before choosing the most suitable.</span></p></li>
                        <li class="speed"><p>Speed<span>Quick responses to all your job requests.</span></p></li>
                        <li class="reputation"><p>Reputation<span>Check reviews and ratings for the inside scoop</span></p></li>
                        <li class="freetouse"><p>Free to Use<span>No usage fees. Ever!</span></p></li>
                        <li class="amazing"><p>Amazing Support<span>Phone. Live Chat. Facebook. Twitter.</span></p></li>

                    </ul>
                </div>
                <div class="about_footer_area">
                    <div class="inner_abour_area_footer">
                        <h2>About</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#aboutus">About Us</a></li>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#meetteam">Meet the Team</a></li>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#career">Career Opportunities</a></li>
                            <li><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#valuedpartner">Valued Partners</a></li>
                            <li><a href="{{ path('b_bids_b_bids_contactus') }}">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="inner_client_area_footer">
                        <h2>Client Services</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_node4') }}">Search Reviews</a></li>
                            <li><a href="{{ path('b_bids_b_bids_reviewlogin') }}">Write a Review</a></li>
                        </ul>
                    </div>
                </div>
                <div class="vendor_footer_area">
                    <div class="inner_vendor_area_footer">
                        <h2>Vendor Resources</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_login') }}#vendor">Login</a></li>
                            <li><a href="{{ path('bizbids_template5') }}">Grow Your Business</a></li>
                            <li><a href="{{ path('bizbids_template2') }}">How it Works</a></li>
                            <li><a href="{{ path('b_bids_b_bids_vendor_register') }}">Become a Vendor</a></li>
                            <li><a href="{{ path('b_bids_b_bids_faq') }}">FAQ's & Support</a></li>
                        </ul>
                    </div>
                    <div class="inner_client_resposce_footer">
                        <h2>Client Resources</h2>
                        <ul>
                            <li><a href="{{ path('b_bids_b_bids_login') }}#consumer">Login</a></li>
                            {# <li><a href="{{ path('b_bids_b_bids_how_it_works_2') }}">How it Works</a></li> #}
                            <li><a href="/resource-centre/home/">Resource Center</a></li>
                            <li><a href="{{ path('b_bids_b_bids_node6') }}">FAQ's & Support</a></li>
                        </ul>
                    </div>
                </div>
                <div class="saty_footer_area">
                    <div class="footer_social_area">
                       <h2>Stay Connected</h2>
                        <ul>
                            <li><a href="https://www.facebook.com/businessbid?ref=hl" rel="nofollow" target="_blank"><img src="{{ asset('img/f_face_icon.PNG') }}" alt="Facebook Icon" ></a></li>
                            <li><a href="https://twitter.com/BusinessBid" rel="nofollow" target="_blank"><img src="{{ asset('img/f_twitter_icon.PNG') }}" alt="Twitter Icon"></a></li>
                            <li><a href="https://plus.google.com/102994148999127318614" rel="nofollow" target="_blank"><img src="{{ asset('img/f_google_icon.PNG') }}" alt="Google Icon"></a></li>
                        </ul>
                    </div>
                    <div class="footer_card_area">
                       <h2>Accepted Payment</h2>
                        <img src="{{ asset('img/card_icon.PNG') }}" alt="card_area">
                    </div>
                </div>
                <div class="contact_footer_area">
                    <div class="inner_contact_footer_area">
                        <h2>Contact Us</h2>
                        <ul>
                            <li class="place">
                                <p>Suite 503, Level 5, Indigo Icon<br/>
                            Tower, Cluster F, Jumeirah Lakes<br/>
                            Tower - Dubai, UAE</p>
                            <p>Sunday-Thursday<br/>
                            9 am - 6 pm</p>
                            </li>
                            <li class="phone"><p>(04) 42 13 777</p></li>
                            <li class="business"><p>BusinessBid DMCC,<br/>
                            <p>PO Box- 393507, Dubai, UAE</p></li>
                        </ul>
                    </div>
                    <div class="inner_newslatter_footer_area">
                        <h2>Subscribe to Newsletter</h2>
                        <p>Sign up with your e-mail to get tips, resources and amazing deals</p>
                             <div class="mail-box">
                                <form name="news" method="post"  action="http://115.124.120.36/resource-centre/wp-content/plugins/newsletter/do/subscribe.php" onsubmit="return newsletter_check(this)" >
                                <input type="hidden" name="nr" value="widget">
                                <input type="email" name="ne" id="email" value="" placeholder="Enter your email">
                                <input class="submit" type="submit" value="Subscribe" />
                                </form>
                            </div>
                        <div class="inner_newslatter_footer_area_zig"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="botom_footer_menu">
            <div class="inner_bottomfooter_menu">
                <ul>
                    <li><a href="{{ path('b_bids_b_bids_feedback') }}">Feedback</a></li>
                    <li><a data-toggle="modal" data-target="#privacy-policy">Privacy policy</a></li>
                    <li><a href="{{ path('b_bids_b_bids_sitemap') }}">Site Map</a></li>
                    <li><a data-toggle="modal" data-target="#terms-conditions">Terms & Conditions</a></li>
                </ul>
            </div>
               <div class="copy_rightt">
                <p>© <span>2015 BusinessBid DMCC</span> </p>
            </div>
        </div>

        {# Terms & conditons #}
        {# <div class="modal fade" id="terms-conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Terms &amp; Conditions</h4>
              </div>
            <iframe src="/htm-files/terms-conditions.html" width="100%" height="500" frameborder="0">
            </iframe>
            </div>
          </div>
        </div>
        Privacy policy
        <div class="modal fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
              </div>
            <iframe src="/htm-files/privacy-policy.html" width="100%" height="500" frameborder="0">
            </iframe>

            </div>
          </div>
        </div> #}
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
        <script>
        $(window).load(function(){
          $("#sticker").sticky({ topSpacing: 0, center:true, className:"hey" });
        });
      </script>
        <script type="text/javascript">
        $(document).ready(function(){
            $('select[name="categories"]').bind('change',function () {
            {% if uid is not empty %}
                var cat = $(this).val(), urlPath = "{{ path('b_bids_b_bids_post_by_search',{'categoryid': 'cid' }) }}";
            {% else %}
                var cat = $(this).val(), urlPath = "{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 'cid' }) }}";
            {% endif %}
                urlPath = urlPath.replace("cid", cat);
                $("#get_quotes").attr('href', urlPath);
            });

            {% if keyword is defined %}
            window.onload = function(){
                document.getElementById("submitButton").click();
            }
            {% endif %}
            var realpath = window.location.protocol + "//" + window.location.host + "/";

            $('#category').autocomplete({
                source: function( request, response ) {
                $.ajax({
                    url : realpath+"ajax-info.php",
                    dataType: "json",
                    data: {
                       name_startsWith: request.term,
                       type: 'category'
                    },
                    success: function( data ) {
                        response( $.map( data, function( item ) {
                            return {
                                label: item,
                                value: item
                            }
                        }));
                    },
                    select: function(event, ui) {
                        alert( $(event.target).val() );
                        console.log( $(event).val() );
                    }
                });
                },autoFocus: true,minLength: 2
            });
        });
        </script>
        <div id="fb-root"></div>
        <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
            appId      : '754756437905943', // replace your app id here
            status     : true,
            cookie     : true,
            xfbml      : true
            });
        };
        (function(d){
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement('script'); js.id = id; js.async = true;
            js.src = "//connect.facebook.net/en_US/all.js";
            ref.parentNode.insertBefore(js, ref);
        }(document));

        function FBLogin(){
            FB.login(function(response){
                if(response.authResponse){
                    window.location.href = "//www.businessbid.ae/devfbtestlogin/actions.php?action=fblogin";
                }
            }, {scope: 'email,user_likes'});
        }
        </script>
        <script src="{{ asset('js/new/jquery.sticky.js') }}"></script>
        <script src="{{ asset('js/new/plugins.js') }}"></script>
        <script src="{{ asset('js/new/main.js') }}"></script>

        <!-- Pure Chat Snippet -->
        <script type="text/javascript" data-cfasync="false">(function () { var done = false;var script = document.createElement('script');script.async = true;script.type = 'text/javascript';script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';document.getElementsByTagName('HEAD').item(0).appendChild(script);script.onreadystatechange = script.onload = function (e) {if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {var w = new PCWidget({ c: '07f34a99-9568-46e7-95c9-afc14a002834', f: true });done = true;}};})();
        </script>
        <!-- End Pure Chat Snippet -->
    </body>
    {% endspaceless %}
</html>
