<!DOCTYPE html>
<head>
	<title>Business BID</title>
	<meta name="google-site-verification" content="QAYmcKY4C7lp2pgNXTkXONzSKDfusK1LWOP1Iqwq-lk" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>-->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/hover-min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/hover.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/eticket.css') }}">
	<!--<script src="{{ asset('js/bootstrap.min.js') }}"></script>-->
	<!--[if lt IE 9]>
  	<script src="{{ asset('js/html5shiv.min.js') }}"></script>
  	<script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<script src="{{ asset('js/respond.src.js') }}"></script>
	<script src="{{ asset('js/bootstrap.js') }}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
	<script>
	$(document).ready(function(){

	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$('#category').autocomplete({
	      	source: function( request, response ) {
	      	$.ajax({
	      	url : realpath+"ajax-info.php",
	      	dataType: "json",
	data: {
	   name_startsWith: request.term,
	   type: 'category'
	},
	 success: function( data ) {
	 response( $.map( data, function( item ) {

	return {
	label: item,
	value: item

	}

	}));
	},
	select: function(event, ui) {
                               alert( $(event.target).val() );
                            }
	      	});
	      	},
	      	autoFocus: true,
	      	minLength: 2

	      });

});
	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_subcategory").html('<option value="0">Select</option>');
	$("#form_category").on('change',function (){
	var ax = 	$("#form_category").val();

	$.ajax({url:realpath+"pullSubCategoryByCategory.php?categoryid="+ax,success:function(result){

	$("#form_subcategory").html(result);
	}});
	});

});

	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_email").on('input',function (){
	var ax = 	$("#form_email").val();
	if(ax==''){
	$("#emailexists").text('');
	}
	if(ax.indexOf('@') > -1 ) {

	$.ajax({url:realpath+"checkEmail.php?emailid="+ax,success:function(result){

	if(result == "exists") {
	$("#emailexists").text('Email address already exists!');
	} else {
	$("#emailexists").text('');
	}
	}});
	}
	});

});

	$(document).ready(function(){
	$('#form_description').attr("maxlength","300");
	$('#form_location').attr("maxlength","30");

	});

</script>
	<script>
		$(document).ready(function() {
			setTimeout(function() {
				// Slide

				$('div.example_menu > div > a.expanded + ul').slideToggle('medium');
				$('div.example_menu > div > a').click(function() {
					$('div.example_menu > div > a.expanded').not(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
					$(this).toggleClass('expanded').toggleClass('collapsed').parent().find('> ul').slideToggle('medium');
				});
			}, 250);
		});
	</script>


	<script type='text/javascript' >

	function jsfunction(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";

	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//~ alert(xmlhttp.responseText);
	document.getElementById("searchval").innerHTML=xmlhttp.responseText;
	megamenublogAjax();
	megamenubycatAjax();
	megamenubycatVendorSearchAjax();
	megamenubycatVendorReviewAjax();
	}
	  }
	xmlhttp.open("GET",realpath+"ajax-info.php",true);
	xmlhttp.send();



	}
	function megamenublogAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
									//document.getElementById("megamenu1").innerHTML=xmlhttp.responseText;
		//~ var mvsa = document.getElementById("megamenu1Anch");
		//~ for (var i = 0; i < mvsa.childNodes.length; i++) {
			//~ if (mvsa.childNodes[i].className == "dropdown-menu Resourcesegment-drop") {
				//~ mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
			  //~ break;
			//~ }
		//~ }
	}
	  }
	xmlhttp.open("GET",realpath+"mega-menublog.php",true);
	//xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorSearch",true);

	xmlhttp.send();



	}
	function megamenubycatAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	document.getElementById("megamenubycatUl").innerHTML=xmlhttp.responseText;
	}
	  }
	xmlhttp.open("GET",realpath+"mega-menubycat.php",true);
	xmlhttp.send();



	}
	function megamenubycatVendorSearchAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	//console.log(xmlhttp.responseText);
		var mvsa = document.getElementById("megamenuVenSearchAnch");
		for (var i = 0; i < mvsa.childNodes.length; i++) {
			if (mvsa.childNodes[i].className == "dropdown-menu Searchsegment-drop") {
				mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
			  break;
			}
		}
	//document.getElementById("megamenuVenSearchAnch").innerHTML = xmlhttp.responseText;
	}
	  }
	//xmlhttp.open("GET",realpath+"mega-menubycat.php?type=vendorSearch",true);
	xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorSearch",true);
	xmlhttp.send();



	}
	function megamenubycatVendorReviewAjax(){


	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();

	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
		//alert(xmlhttp.responseText);
			var mvsa = document.getElementById("megamenuVenReviewAnch");
			for (var i = 0; i < mvsa.childNodes.length; i++) {
					if (mvsa.childNodes[i].className == "dropdown-menu Reviewsegment-drop") {
						mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
					  break;
					}
			}

		//document.getElementById("megamenuVenReviewUl").innerHTML = xmlhttp.responseText;
	}
	  }
	  xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorReview",true);
	//xmlhttp.open("GET",realpath+"mega-menubycat.php?type=vendorReview",true);
	xmlhttp.send();
	}


</script>

<script type="text/javascript">
function show_submenu(b, menuid)
{


	document.getElementById(b).style.display="block";
	if(menuid!="megaanchorbycat"){
	document.getElementById(menuid).className = "setbg";
	}
}

function hide_submenu(b, menuid)
{


	setTimeout(dispminus(b,menuid), 200);



	//document.getElementById(b).onmouseover = function() { document.getElementById(b).style.display="block"; }
	//document.getElementById(b).onmouseout = function() { document.getElementById(b).style.display="none"; }
	//document.getElementById(b).style.display="none";
}

function dispminus(subid,menuid){
	//~ if(menuid!="megaanchorbycat"){
	//~ document.getElementById(menuid).className = "unsetbg";
	//~ }
	//~ document.getElementById(subid).style.display="none";


	}


$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });

});

 $(document).ready(function(){
      $(".Searchsegment-drop").mouseover(function(){
        $("#megamenuVenSearchAnch").css("background-color","#0e508e");
      });

	   $(".Searchsegment-drop").mouseout(function(){
        $("#megamenuVenSearchAnch").css("background-color","#1e7cc8");
      });
    });
 $(document).ready(function(){
      $(".Reviewsegment-drop").mouseover(function(){
        $("#megamenuVenReviewAnch").css("background-color","#0e508e");
      });

	   $(".Reviewsegment-drop").mouseout(function(){
        $("#megamenuVenReviewAnch").css("background-color","#1e7cc8");
      });
    });


</script>
{% block jquery %}

{% endblock %}

{% block customcss %}

{% endblock %}


</head>
<body>

{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}

{% if uid is not null %}
<div class="top-nav-bar">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 contact-info">
				<div class="col-sm-3">
					<span class="glyphicon glyphicon-earphone fa-phone"></span>
					<span>(04) 42 13 777</span>
				</div>
				<div class="col-sm-3 left-clear">
					<span class="contact-no"><a href="{{ path('b_bids_b_bids_contactus') }}">Contact Us</a></span>
				</div>
			</div>
			<div class="col-sm-6 clear-right dash-right-top-links">
				<ul>
					<li>Welcome, <span class="profile-name">{{ name }}</span></li>
					<li><a href="{{ path('b_bids_b_bids_logout') }}">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

{% endif %}

<div class="main_container">
	{% block header %}
	<div class="header container">
    	<div class="col-md-6 logo">
        	<a href="{{ path('b_bids_b_bids_home_homepage') }}" > <img src="{{ asset('img/logo.jpg') }}"> </a>
        </div>
        <div class="col-md-6">
        </div>
    	</div>
	{% endblock %}
	{% block menu %}
	<div class="menu_block">
			<div class="container">
				{% block topmenu %}
					<div class="container">
	<div class="row">

        <nav class="navbar navbar-default" role="navigation">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{ path('b_bids_b_bids_home_homepage') }}">Home</a></li>

        <li class="dropdown">
          <a href="{{ path('bizbids_vendor_search') }}" class="dropdown-toggle" data-toggle="dropdown">Find Services Professionals<b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vendorSearch' })) }}
          </ul>
        </li>
         <li class="dropdown">
          <a href="{{ path('b_bids_b_bids_node4') }}" class="dropdown-toggle" data-toggle="dropdown">Vendor Review <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {{ render(controller('BBidsBBidsHomeBundle:Menu:fetchMenu',{ 'typeOfMenu': 'vedorReview' })) }}
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right  col-md-5">
         <form class="navbar-form navbar-left" action="{{ path('b_bids_b_bids_home_search') }}">
        <div class="form-group">
          <input id='category' type="text" class="form-control serice-required" placeholder="Type the serive you require"><datalist id="searchval"></datalist>
        </div>
        <button type="submit" class="btn btn-default serice-required-btn">Search</button>
      </form>
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>

	</div>
</div>



					</div>
				{% endblock %}
        	</div>
  		</div>
	{% endblock %}


	{% block pageblocknew %}
		<div class="page-bg">
    	<div class="container inner_container">
		<div class="row ">
			<div class="dashboard-panel">


    <!-- mega menu div block starts -->
		{% block megamenu %}
		<div id="megamenuVenSearch" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenuVenSearch','megamenuVenSearchAnch');" onMouseOut="javascript:hide_submenu('megamenuVenSearch','megamenuVenSearchAnch');" ><div><ul id="megamenuVenSearchUl"></ul></div></div>
		<div id="megamenuVenReview" class="submenu menu-mega megamenubg-1 megamenubg" onMouseOver="javascript:show_submenu('megamenuVenReview','megamenuVenReviewAnch');" onMouseOut="javascript:hide_submenu('megamenuVenReview','megamenuVenReviewAnch');"><div class="review-menu-left"><ul id="megamenuVenReviewUl"></ul></div><div  class="review-menu-right"><button class="btn btn-success write-button" type="button" >Write a Review</button></div></div>
		<ul id="megamenu1" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenu1','megamenu1Anch');" onMouseOut="javascript:hide_submenu12('megamenu1','megamenu1Anch');" ></ul>
		<div id="megamenubycat" class="submenu menu-megabycat megamenubg" onMouseOver="javascript:show_submenu('megamenubycat','megaanchorbycat');" onMouseOut="javascript:hide_submenu('megamenubycat','megaanchorbycat');"><div><ul id="megamenubycatUl"></ul></div><div></div></div>

		{% if uid is not null %}

		<script type="text/javascript">

		document.getElementById("megamenuVenSearch").setAttribute("class", "submenu menu-mega-login megamenubg");
		document.getElementById("megamenuVenReview").setAttribute("class", "submenu menu-mega-login megamenubg");
		document.getElementById("megamenu1").setAttribute("class", "submenu menu-mega-login megamenubg");
		document.getElementById("megamenubycat").setAttribute("class", "submenu menu-megabycat-login megamenubg");
		</script>
	{% endif %}
		{% endblock %}

	{% block leftmenutab %}
				<div class="left-panel">
					<div class="left-tab-menu">
						<ul>
							<li><a class="user-dashboard" href="{{ path ('b_bids_b_bids_consumer_home') }}">Customer Dashboard</a></li>
							<li><a class="enquiries reviews" href="{{ path ('b_bids_b_bids_consumer_postenquiries') }}">My Job Requests</a></li>
							<li><a class="enquiry" href="{{ path ('b_bids_b_bids_ratings') }}">Rating & Reviews</a></li>
							<li><a class="account" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">My Account <span class="caret"></span></a>
								<ul id="collapseOne" class="panel-collapse collapse menu-col">
									<a href="{{ path('b_bids_b_bids_consumeraccount') }}">My Profile</a>
									<a href="{{ path('b_bids_b_bids_consumerupdatepasssword') }}">Change Password</a>
									<a href="{{ path('b_bids_b_bids_consumerupdatemail') }}">Update Email</a>
									<a href="{{ path('b_bids_b_bids_consumerdeleteAccount') }}">Delete Account</a>
								</ul>
							</li>
							{% if (emailCount is defined) and (emailCount != 0) %}
                            <li>
                            	<a class="messages1" href="{{ path('b_bids_b_bids_customer_messages') }}">Messages<span class="mess-read">NEW</span></a>
                            </li>
                            {% else %}
							<li>
								<a class="messages" href="{{ path('b_bids_b_bids_customer_messages') }}">Messages</a>
							</li>
							{% endif %}
							<li><a class="support" href="{{ path('b_bids_b_bids_customer_ticket_home')}}">Support</a>

								<!--<ul class="ticket-links">
								<li><a class="creat-ticket" href="{{ path('b_bids_b_bids_support_consumer') }}">Creat Ticket</a></li>
								<li><a class="view-ticket" href="{{ path('b_bids_b_bids_supportview_consumer') }}">View Ticket</a></li>
								</ul>-->
							</li>
							<li class="get-quote-link"><a href="{{ path('b_bids_b_bids_post_quote') }}">GET QUOTES NOW</a></li>
						</ul>
					</div>

				</div>
		{% endblock %}


	{% endblock %}



		{% block enquiries %}
        	<div class="col-md-9 dashboard-rightpanel">
				<div class="overview_block">
					{% if pid == 3 %}
				<div class="page-title">
					<h1>My Customer Account</h1>

							<a class="switch-user-vendor" href="{{ path('b_bids_b_bids_vendor_home') }}">Switch to My Vendor Profile</a>

				</div>
				{% endif %}
				<div>
        	<div class="dashboardmain_block">
				<h3>Welcome {{ name }}, to your personalised BusinessBid Dashboard where you can:</h3>
				<ul>
					<li>View all the job requests you have logged</li>
					<li>View all your posted vendor reviews</strong></li>
					<li>Update your personal profile</li>
					<li>View all communications and messages</li>
					<li>Log any support issues</li>
					<li>Log new job requests</li>
				</ul>
        	</div>
        	</div>
		{% endblock %}
</div>
    	</div>
</div></div>
	{% block footer %}
    	<div class="footer-dashboard text-center">
		<div class="container">
		<div class="col-sm-6 footer-messages">Copyright 2013 - 2014 BBusinessBid</div>
    	<div class="col-sm-6 clear-right"></div>

    	</div>
		</div>
    	{% endblock %}
<!-- Pure Chat Snippet -->
<script type="text/javascript" data-cfasync="false">(function () { var done = false;var script = document.createElement('script');script.async = true;script.type = 'text/javascript';script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript';document.getElementsByTagName('HEAD').item(0).appendChild(script);script.onreadystatechange = script.onload = function (e) {if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) {var w = new PCWidget({ c: '07f34a99-9568-46e7-95c9-afc14a002834', f: true });done = true;}};})();</script>
<!-- End Pure Chat Snippet -->
</body>
<script type="text/javascript">
//window.onload = jsfunction();
</script>
</html>
