{% extends '::newconsumer_dashboard.html.twig' %}
{% block pageblock %}
		
		<div class="container">
		<div class="dashboard-panel">
		
		{% block leftmenutab %}
				<div class="left-panel">
					<div class="left-tab-menu">
						<ul>
							<li><a class="user-dashboard" href="{{ path ('b_bids_b_bids_consumer_home') }}">Customer Dashboard</a></li>
							<li><a class="lead-purchases" href="{{ path ('b_bids_b_bids_customer_ticket_home') }}">Submit Support Ticket</a></li>
                            <li><a class="account" href="{{ path('b_bids_b_bids_customer_ticket_list') }}">View All Tickets</a></li>
                            <li><a class="livechat" href="#">Live Chat</a></li>
                            <li><a class="contact" href="{{ path('b_bids_b_bids_contactus') }}">Contact Us</a></li>
						</ul>
					</div>
				</div>	
		{% endblock %}

		{% block enquiries %}
				<div class="col-md-9 dashboard-rightpanel">
				<div>
					{% for flashMessage in app.session.flashbag.get('error') %}
				
						<div class="alert alert-danger">{{ flashMessage }}</div>
							
						{% endfor %}
						
						{% for flashMessage in app.session.flashbag.get('success') %}
				
						<div class="alert alert-success">{{ flashMessage }}</div>
							
						{% endfor %}
						
						{% for flashMessage in app.session.flashbag.get('message') %}
				
						<div class="alert alert-success">{{ flashMessage }}</div>
					{% endfor %}
				 </div>
				 	<div class="page-title"><h1>Create Ticket</h1>	</div>
					<div class="Create-ticket-form">
						<div class="create-ticket col-sm-7">
							{{ form(ticketform) }}
						</div>
						<div class="add-certificate col-sm-5">
								<div class="add-certificate-block">
								<h4>We believe you need help with something and you've come to the right place. However, you may be able to find an answer to your questions by accessing the following sections:</h4>
								<ul>
								<li>Browse our FAQ's for a comprehensive list of everyday queries.</li>
								<li>?Live Chat with our Support Personnel who might be able to help you immediately.</li>
								</ul>
								<h5>Sometimes it's easier to try one of the options above for a quicker resolution.</h5>
								<h5><strong>We are here to serve you better!</strong></h5>
								</div>
							</div>	 
					</div>
				</div>
		{% endblock %}
		</div>
		</div>


	
{% endblock %}
