{% extends '::newconsumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="page-bg">	
	<div class="container">
		<div class="dashboard-panel">
		{% block leftmenutab %}
				<div class="left-panel">
					<div class="left-tab-menu">
						<ul>
							<li><a class="user-dashboard" href="{{ path ('b_bids_b_bids_consumer_home') }}">Customer Dashboard</a></li>
							<li><a class="lead-purchases" href="{{ path ('b_bids_b_bids_customer_ticket_home') }}">Submit Support Ticket</a></li>
                            <li><a class="account" href="{{ path('b_bids_b_bids_customer_ticket_list') }}">View All Tickets</a></li>
                            <li><a class="livechat" href="#">Live Chat</a></li>
                            <li><a class="contact" href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact">Contact Us</a></li>
						</ul>
					</div>
				</div>	
		{% endblock %}

		{% block enquiries %}
		<div class="col-md-9 dashboard-rightpanel">
			<div class="page-title"><h1>All Tickets</h1>	</div>
			<div class="search_filter">
				<p id="ticketidFilter"></p>
				<p id="dateFilter"></p>
				<p id="subjectFilter"></p>
				<p id="statusFilter"></p>
				<p id="priorityFilter"></p>
			</div>
			<div class="Create-ticket-form ticket-lists">
				
				<table id="vendorTicketList" class="display">
					<thead>
						<tr>
							<th>Sl. No</th>
							<th>Date Received</th>
							<th class="ticket-id">Ticket Id</th>
							<th >Subject</th>
							<th>Priority</th>
							<th>Status</th>
						</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Sl. No</th>
						<th>Date Received</th>
						<th>Ticket Id</th>
						<th>Subject</th>
						<th>Priority</th>
						<th>Status</th>
					</tr>
					</tfoot>
					<tbody>
						{# 0 =>Close 1=>Open 2=>Solved 3=>Pending #}
						{% for list in listData %}
							<tr>
								<td class="sl-no">{{ loop.index }}</td>
								<td class="date-rcvd">{{ list.ticketDatetime.date |slice(0, 10) }}</td>
								<td class="ticket-id"><a href="{{ path('b_bids_b_bids_customer_ticket_view', {'id': list.id}) }}">#C{{ list.ticketNo }}</a></td>
								<td class="subject">{{ list.ticketSubject|length > 50 ? list.ticketSubject|slice(0, 50) ~ '...' : list.ticketSubject  }}</td>
								<td class="status">{% if list.ticketPriority == 1 %}Low {% elseif list.ticketPriority == 2 %}Medium{% else %}High{% endif %}</td>
								<td class="status"><span>{% if list.ticketStatus == 1 %} <span class="open-status">Open </span>{% elseif list.ticketStatus == 2 %}<span class="close-status">Close</span>{% elseif list.ticketStatus == 3 %}<span class="pending-status">Pending</span>{% endif %}</span></td>								
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
<script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilter.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/myscript.js') }}" type="text/javascript"></script>
		{% endblock %}
		</div>
	</div>
</div>

{% endblock %}
