{% extends '::newconsumer_dashboard.html.twig' %}
{# Do not remove this array #}
{% set issueType = ["Other Issue","Account Suspension","Identity Verification","Job Requests","Reviews & Ratings","System Issue","Vendor Dispute","Email Address Change","Lead Refund"] %}
{% block pageblock %}
		
		<div class="container">
		<div class="dashboard-panel">
		
		{% block leftmenutab %}
				<div class="left-panel">
					<div class="left-tab-menu">
						<ul>
							<li><a class="user-dashboard" href="{{ path ('b_bids_b_bids_consumer_home') }}">Customer Dashboard</a></li>
							<li><a class="lead-purchases" href="{{ path ('b_bids_b_bids_customer_ticket_home') }}">Submit Support Ticket</a></li>
                            <li><a class="account" href="{{ path('b_bids_b_bids_customer_ticket_list') }}">View All Tickets</a></li>                            
                            <li><a class="livechat" href="#">Live Chat</a></li>
                            <li><a class="contact" href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact">Contact Us</a></li>
						</ul>
					</div>
				</div>	
		{% endblock %}

		{% block enquiries %}
				<div class="col-md-9 dashboard-rightpanel">
					<div>
						{% for flashMessage in app.session.flashbag.get('error') %}
					
							<div class="alert alert-danger">{{ flashMessage }}</div>
								
							{% endfor %}
							
							{% for flashMessage in app.session.flashbag.get('success') %}
					
							<div class="alert alert-success">{{ flashMessage }}</div>
								
							{% endfor %}
							
							{% for flashMessage in app.session.flashbag.get('message') %}
					
							<div class="alert alert-success">{{ flashMessage }}</div>
								
							{% endfor %}
					</div>
					<div class="Create-ticket-form">
							<div class="row">
							<div class="col-md-10">
								<div class="tic-section">
								<label>Request ID</label>
									<p>: #C{{ ticketDetails.ticketNo }}</p>
								</div>
								<div class="tic-section">
								<label>type of Issue</label>
									<p>: {{ issueType[ticketDetails.ticketTypeId] }}</p>
								</div>
								<div class="tic-section">
								<label>Subject</label>
									<p>: {{ ticketDetails.ticketSubject }}</p>
								</div>
								<div class="tic-section">
								<label>Status</label>
									<p>: {% if ticketDetails.ticketStatus == 1 %} Open {% elseif ticketDetails.ticketStatus == 2 %} Close {% elseif ticketDetails.ticketStatus == 3 %} Pending {% endif %}</p>
								</div>
								<div class="tic-section">
									<label>Last Updated</label>
									{% if ticketConversation | length > 0 %}
									{% set ticketConversationSize = ticketConversation | length %}
									<p>: {{ ticketConversation[ticketConversationSize - 1 ] .ticketDatetime.date |slice(0, 10) }}</p>
									{% else %}
									<p>: {{ ticketDetails.ticketDatetime.date |slice(0, 10) }}</p>
									{% endif %}
								</div>
                			</div>
							
							<div class="col-md-2">
							{% if ticketDetails.ticketUploadFile != '' %}
								<div class="tic-section">
									<label>Attachments</label>
										<a href="{{ asset('support/uploads/download.php?filenale=' ~ ticketDetails.ticketUploadFile ) }}"  target="_blank">Downloads</a>
								</div>
							{% else %}
							<div class="tic-attach-section">
									<label>Attachments</label>
										<p>No attachments</p>
								</div>							
                			
                			{% endif %}
						</div></div>
						
						<div class="row">

							<div class="tic-info-main">
                 				<div class="tic-info-block">
                     				<div class="name">{{ name }}</div>
                        			<div class="date">{{ ticketDetails.ticketDatetime.date }}</div>
                        			<div class="tic-info-content review">{{ ticketDetails.ticketQuestion }}</div>
                    			</div>
								{% if ticketConversation is not empty %}
									{% for replies in ticketConversation %}
										<div class="tic-info-block">
		                     				<div class="name">{% if replies.userId != 0 %}  {{ name }} {% else %} Admin {% endif %}</div>
		                        			<div class="date">{{ replies.ticketDatetime.date }}</div>
		                        			<div class="tic-info-content review">{{ replies.ticketResponse }}</div>
		                    			</div>
									{% endfor %}
								{% endif %}
								<div class="tic-info-reply">
									{{ form(form) }}
									<a class="btn btn-sm btn-warning cancel" href="{{ path('b_bids_b_bids_ticket_list') }}">Cancel</a>
								</div>										
							</div>
						</div>
					</div>
				</div>
		{% endblock %}
		</div>
		</div>
{% endblock %}