{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.min.css') }}">
<style>
    .pac-container:after{
    content:none !important;
}
    .mask{
        display: none;
    }
</style>
<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
    <div class="cat-form">
        <div class="page-title"><h1>GET FREE QUOTES FROM {{ category }} COMPANIES IN THE UAE</h1></div>
        <div class="cat-form-block">
            <div class="category-steps-block">
                <div class="col-md-4 steps"><span>1</span><p>Choose what services you require</p></div>
                <div class="col-md-4 steps"><span>2</span><p>Vendors contact you & offer you quotes</p></div>
                <div class="col-md-4 steps"><span>3</span><p>You engage the best Vendor</p></div>
            </div>
            {{ form_start(form) }}
            <div class="cat-list-cont">
                <div class="cat-list-block" id="catering">
                    <div class="col-md-1 icon-block">
                        <img src="{{asset('img/cat1.png')}}">
                    </div>
                    <div class="col-md-11">
                        <h2>What kind of catering services do you require?*</h2>
                        {% for child in form.subcategory %}
                        <div class="col-md-4 sub-category">
                            {{ form_widget(child,{'attr': {'class': 'catering'}}) }} {{ form_label(child) }}
                            </div>
                    {% endfor %}
                        <div class="error" id="cat_services"></div>
                    </div>
                </div>


                <div class="col-md-6 clear-left">
                     <div class="cat-list-block" id="event">
                         <div class="col-md-2 icon-block"> <img src="{{asset('img/cat2.png')}}"></div>
                            <div class="col-md-10">
                            <h2>{{ form_label( form.event_planed ) }}</h2>
                            <div class="row1">
                               {{ form_widget( form.event_planed ,{'attr': {'class': 'event'}}) }}
                            </div>

                        <div class="error" id="cat_event"></div>
                    </div>

                     </div>

                </div>

                 <div class="col-md-6 clear-right">
                     <div class="cat-list-block" id="live">
                         <div class="col-md-2 icon-block"> <img src="{{asset('img/cat3.png')}}"></div>
                            <div class="col-md-10 cus-height">
                            <h2>Would you require a Live Station?*</h2>
                            <div class="col-md-6 clear-left">
                                <div class="form-group">
                                    {{ form_widget( form.live_station.children[0] ,{'attr': {'class': 'live1'}}) }}
                                    {{ form_label( form.live_station.children[0] ) }}
                                </div>
                            </div>
                            <div class="col-md-6 clear-right">
                                <div class="form-group">
                                    {{ form_widget( form.live_station.children[1] ,{'attr': {'class': 'live1'}}) }}
                                    {{ form_label( form.live_station.children[1] ) }}
                                </div>
                            </div>

                        <div class="error" id="cat_livestation"></div>
                    </div>

                     </div>

                </div>



                 <div class="cat-list-block sup-top" id="meal">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/cat4.png')}}"></div>
                    <div class="col-md-11">
                        <h2>What type of meal would you like?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.mealtype.children[0] ,{'attr': {'class': 'meal'}}) }}
                                {{ form_label( form.mealtype.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.mealtype.children[1] ,{'attr': {'class': 'meal'}}) }}
                                {{ form_label( form.mealtype.children[1] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.mealtype.children[2] ,{'attr': {'class': 'meal'}}) }}
                                {{ form_label( form.mealtype.children[2] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.mealtype.children[3] ,{'attr': {'class': 'meal'}}) }}
                                {{ form_label( form.mealtype.children[3] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.mealtype.children[4] ,{'attr': {'class': 'meal'}}) }}
                                {{ form_label( form.mealtype.children[4] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.mealtype.children[5] ,{'attr': {'class': 'meal'}}) }}
                                {{ form_label( form.mealtype.children[5] ) }}
                                <div class="other">
                                {{ form_widget( form.meal_other ,{'attr': {'class': 'meal'}}) }}
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                        <div class="error" id="cat_meal"></div>
                    </div>
                </div>





                <div class="col-md-6 clear-left">
                     <div class="cat-list-block" id="beverages">
                         <div class="col-md-2 icon-block"> <img src="/stagging/web/img/cat5.png"></div>
                            <div class="col-md-10">
                            <h2>Would you like beverages included?*</h2>
                            <div class="col-md-6 clear-left">
                                <div class="form-group">
                                    {{ form_widget( form.beverages.children[0] ,{'attr': {'class': 'beverages'}}) }}
                                    {{ form_label( form.beverages.children[0] ) }}
                                </div>
                            </div>
                            <div class="col-md-6 clear-left">
                                <div class="form-group">
                                    {{ form_widget( form.beverages.children[1] ,{'attr': {'class': 'beverages'}}) }}
                                    {{ form_label( form.beverages.children[1] ) }}
                                </div>
                            </div>

                        <div class="error" id="cat_beverages"></div>
                    </div>

                     </div>

                </div>




                <div class="col-md-6 clear-right">
                     <div class="cat-list-block" id="dessert">
                         <div class="col-md-2 icon-block"> <img src="/stagging/web/img/cat6.png"></div>
                            <div class="col-md-10">
                            <h2>Would you like dessert included?*</h2>
                            <div class="col-md-6 clear-left">
                                <div class="form-group">
                                    {{ form_widget( form.dessert.children[0] ,{'attr': {'class': 'desert'}}) }}
                                    {{ form_label( form.dessert.children[0] ) }}
                                </div>
                            </div>
                            <div class="col-md-6 clear-left">
                                <div class="form-group">
                                    {{ form_widget( form.dessert.children[1] ,{'attr': {'class': 'desert'}}) }}
                                    {{ form_label( form.dessert.children[1] ) }}
                                </div>
                            </div>

                        <div class="error" id="cat_dessert"></div>
                    </div>

                     </div>

                </div>
                <div class="cat-list-block" id="staff">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/cat7.png')}}"></div>
                    <div class="col-md-11">
                        <h2>What type of support staff would you like?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.support_staff.children[0] ,{'attr': {'class': 'cat_support'}}) }}
                                {{ form_label( form.support_staff.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.support_staff.children[1] ,{'attr': {'class': 'cat_support'}}) }}
                                {{ form_label( form.support_staff.children[1] ) }}
                            </div>
                        </div>
                         <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.support_staff.children[2] ,{'attr': {'class': 'cat_support'}}) }}
                                {{ form_label( form.support_staff.children[2] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.support_staff_other.children[0] ,{'attr': {'class': 'cat_radsupport'}}) }}
                                {{ form_label( form.support_staff_other.children[0] ) }}
                            </div>
                        </div>
                        <div class="error" id="cat_support"></div>
                    </div>
                </div>





                 <div class="cat-list-block sup-top" id="cuisine">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/cat8.png')}}"></div>
                    <div class="col-md-11">
                        <h2>What type of cuisine would you like served?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.cuisine.children[0] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( form.cuisine.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.cuisine.children[1] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( form.cuisine.children[1] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.cuisine.children[2] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( form.cuisine.children[2] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.cuisine.children[3] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( form.cuisine.children[3] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.cuisine.children[4] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( form.cuisine.children[4] ) }}
                                <div class="other">
                                    {{ form_widget( form.cuisine_other ,{'attr': {'class': 'cuisine'}}) }}
                                    <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                        <div class="error" id="cat_cuisine"></div>
                    </div>
                </div>



                 <div class="cat-list-block" id="guest">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/cat9.png')}}"></div>
                    <div class="col-md-11">
                        <h2>How many guests are you expecting?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.guests.children[0] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( form.guests.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.guests.children[1] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( form.guests.children[1] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.guests.children[2] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( form.guests.children[2] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.guests.children[3] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( form.guests.children[3] ) }}
                            </div>
                        </div>

                         <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.guests.children[4] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( form.guests.children[4] ) }}
                            </div>
                        </div>
                         <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.guests.children[5] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( form.guests.children[5] ) }}
                            </div>
                        </div>
                        <div class="error" id="cat_guest"></div>
                    </div>
                </div>


                {% if form.contactname is defined %}
            <div class="cat-list-block" id="name">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon6.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.contactname ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.contactname ) }}
                    </div>
                    <div class="error" id="cat_name"></div>
                </div>
            </div>
            <div class="cat-list-block" id="email_id">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon7.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.email ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.email ,{'attr': {'class': 'email_id'}}) }}
                    </div>
                    <div class="error" id="cat_email"></div>
                </div>
            </div>
            {% endif %}

            <div class="cat-list-block" id="location">
                <div class="col-md-1 icon-block space-top "><img src="{{asset('img/icon8.png')}}"></div>
                <div class="col-md-11">
                    <h2>Select your Location*</h2>
                    <div class="row1">
                        <div class="form-control cus-location">
                            <div class="col-md-6 align-right">
                                {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': 'acc_location'}}) }}
                                {{ form_label( form.locationtype.children[0] ) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'acc_location'}}) }}
                                {{ form_label( form.locationtype.children[1] ) }}
                            </div>
                        </div>
                    </div>
                    <div class="error" id="cat_loc"></div>
                </div>
            </div>


            {% if form.city is defined %}
            <div class="cat-list-block mask" id="domCity">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon-city.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.city ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.city ) }}
                    </div>
                <div class="error" id="acc_city"></div>
                </div>
            </div>
            {% endif %}

            {% if form.location is defined %}
            <div class="cat-list-block mask" id="domArea">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/area-icon.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.location ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.location ) }}
                    </div>
                <div class="error" id="acc_area"></div>
                </div>
            </div>
            {% endif %}

            {% if form.mobilecode is defined %}
            <div class="row1 mask" id="domContact">
                <div class="col-md-6 clear-left">
                    <div class="cat-list-block" id="uae_mobileno">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-mobile.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.mobilecode ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left int-country"><label><b>Area Code</b> </label>{{ form_widget( form.mobilecode ) }}</div> <div class="col-md-6 clear-right"> {{ form_widget( form.mobile ) }}</div>
                            </div>
                        <div class="error" id="acc_mobile"></div>
                        </div>
                    </div>
                </div>
                {# <div class="col-md-6 clear-right">
                    <div class="cat-list-block">
                        <div class="col-md-2 icon-block space-top"> <img src="{{asset('img/icon4.png')}}"></div>
                        <div class="col-md-10">
                            <h2>Other Mobile Number</h2>
                            <div class="col-md-12">
                                {{ form_widget( form.mobileother ) }}
                            </div>
                        <div class="error" ></div>
                        </div>
                    </div>
                </div> #}
                <div class="col-md-6 clear-right">
                    <div class="cat-list-block">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-phone.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.homecode ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left int-country"><label><b>Area Code</b> </label> {{ form_widget( form.homecode ) }}</div>  <div class="col-md-6 clear-right"> {{ form_widget( form.homephone ) }} </div>
                            </div>
                        <div class="error"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.country is defined %}
            <div class="cat-list-block mask" id="intCountry">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon-country.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.country ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.country ) }}
                    </div>
                <div class="error" id="acc_intcountry"></div>
                </div>
            </div>

            <div class="cat-list-block mask" id="intCity">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon-city.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.cityint ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.cityint ) }}
                    </div>
                <div class="error" id="acc_intcity"></div>
                </div>
            </div>
            {% endif %}

            {% if form.mobilecodeint is defined %}
            <div class="row clear-left clear-right mask" id="intContact">
                <div class="col-md-6 clear-left">
                    <div class="cat-list-block" id="int_mobileno">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-mobile.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.mobilecodeint ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left  int-country"><label><b>Country Code</b> <i>+</i></label>{{ form_widget( form.mobilecodeint ) }}</div> <div class="col-md-6 clear-right"> {{ form_widget( form.mobileint ) }}</div>
                            </div>
                        <div class="error" id="acc_intmobile"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 clear-left">
                    <div class="cat-list-block">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-phone.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.homecodeint ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left  int-country"><label><b>Country Code</b> <i>+</i></label> {{ form_widget( form.homecodeint ) }}</div>  <div class="col-md-6 clear-right"> {{ form_widget( form.homephoneint ) }} </div>
                            </div>
                        <div class="error" ></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="cat-list-block">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon4.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.hire ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.hire ) }}
                    </div>
                <div class="error" id="acc_hire"></div>
                </div>
            </div>

            <div class="cat-list-block">
                <div class="col-md-1 icon-block space-top-more"> <img src="{{asset('img/icon9.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.description ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.description ) }}
                        <span>(max 120 characters)</span>
                    </div>
                <div class="error" id="acc_desc"></div>
                </div>
            </div>
            <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                <noscript>
               <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                   height="300" width="500" frameborder="0"></iframe><br>
             </noscript>
             <div class="extra-text">
                 <div class="extra-block">
                     <ul>
                        <li>Enter text then click on button below to get quotes</li>
                        <li>Your privacy is important, we do not provide information to third parties</li>
                     </ul>
                 </div>
             </div>

        <div class="cat-submit">{{ form_widget(form.postJob, {'label':'GET QUOTES NOW'}) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

</div>
<script>
$(function() {
    $( "#categories_form_event_planed" ).datepicker({dateFormat: 'dd/mm/yy',changeMonth: true,changeYear: true,minDate: 0, maxDate: "+15M +10D"});
});
</script>

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>

<script type="text/javascript" src="{{ asset('js/catering_sevices.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/categoriesform.general.js') }}"></script>
{% endblock %}
