{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
    .pac-container:after{
    content:none !important;
}
.mask{
    display: none;
}
</style>
<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
    <div class="cat-form">
        <div class="page-title"><h1>GET FREE QUOTES FROM {{ category }} COMPANIES IN THE UAE</h1></div>
        <div class="cat-form-block">
            <div class="category-steps-block">
                <div class="col-md-4 steps"><span>1</span><p>Choose what services you require</p></div>
                <div class="col-md-4 steps"><span>2</span><p>Vendors contact you & offer you quotes</p></div>
                <div class="col-md-4 steps"><span>3</span><p>You engage the best Vendor</p></div>
            </div>
            {{ form_start(form) }}
            <div class="cat-list-cont">
                <div class="cat-list-block" id="lservice">
                    <div class="col-md-1 icon-block space-top">
                        <img src="{{asset('img/lg1.png')}}">
                    </div>
                    <div class="col-md-11">
                        <h2>What kind of Landscaping services do you require?*</h2>
                        {% for child in form.subcategory %}
                            <div class="col-md-4 sub-category">
                                {{ form_widget(child ,{'attr': {'class': 'sservice'}}) }} {{ form_label(child) }}
                            </div>
                        {% endfor %}
                    <div class="error" id="land_service"></div>
                </div>

                </div>

                <div class="cat-list-block sup-top" id="lproperty">
                    <div class="col-md-1 icon-block ">
                        <img src="{{asset('img/lg2.png')}}">
                    </div>
                    <div class="col-md-11">
                        <h2>What kind of property is the service required for?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.property_type.children[0] ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.property_type.children[1]  ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[1] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.property_type.children[2]  ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[2] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.property_type.children[3]  ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[3] ) }}
                                    <div class="other">
                                        {{ form_widget( form.property_type_other  ,{'attr': {'class': 'kindofproperty'}}) }}
                                        <span>(max 30 characters)</span>
                                    </div>
                                </div>
                        </div>
                        <div class="error" id="land_property"></div>
                    </div>
                </div>



                     <div class="cat-list-block sup-top" id="lneed">
                         <div class="col-md-1 icon-block space-top-more"> <img src="{{asset('img/lg3.png')}}"></div>
                            <div class="col-md-11">
                            <h2>Do you need any of the following lawn & garden services?*</h2>
                            <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[0] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[1] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[1] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[2] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[2] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[3] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[3] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[4] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[4] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[5] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[5] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[6] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[6] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_list.children[7] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[7] ) }}
                                <div class="other">
                                {{ form_widget( form.service_list_other ,{'attr': {'class': 'lawn_garden'}}) }}
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.service_none.children[0] ,{'attr': {'class': 'lawn_garden_other'}}) }}
                                {{ form_label( form.service_none.children[0] ) }}
                            </div>
                        </div>

                        <div class="error" id="land_need"></div>
                    </div>
                </div>
                 <div class="cat-list-block sup-top" id="lfeature">
                    <div class="col-md-1 icon-block space-top-more"> <img src="{{asset('img/lg5.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Do you require any custom features installed or repaired?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_service.children[0] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_service.children[1] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[1] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_service.children[2] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[2] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_service.children[3] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[3] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_service.children[4] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[4] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_service.children[5] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[5] ) }}
                                <div class="other">
                                {{ form_widget( form.landscape_other ,{'attr': {'class': 'land_need'}}) }}
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.landscape_none.children[0] ,{'attr': {'class': 'land_otherneed'}}) }}
                                {{ form_label( form.landscape_none.children[0] ) }}
                            </div>
                        </div>





                        <div class="error" id="land_kindofprop"></div>
                    </div>
                </div>



                 <div class="cat-list-block sup-top" id="lirrigation">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/lg6.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Do you need of the following irrigation services installed or repaired?*</h2>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.irrigation.children[0] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[0] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.irrigation.children[1] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[1] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.irrigation.children[2] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[2] ) }}
                            </div>
                        </div>

                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.irrigation.children[3] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[3] ) }}
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.irrigation.children[4] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[4] ) }}
                                <div class="other">
                                {{ form_widget( form.irrigation_other ,{'attr': {'class': 'land_irrig'}}) }}
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 clear-left">
                            <div class="form-group">
                                {{ form_widget( form.irrigation_none.children[0],{'attr': {'class': 'land_oirrigation'}} ) }}
                                {{ form_label( form.irrigation_none.children[0] ) }}
                            </div>
                        </div>
                        <div class="error" id="land_irrigation"></div>
                    </div>
                </div>

                  <div class="cat-list-block" id="ldimension">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/lg8.png')}}"></div>
                    <div class="col-md-11">
                        <h2>What is the dimension of this project?*</h2>
                        <div class="row1 sup-top">
                            <div class="form-group col-md-4 clear-left">
                                {{ form_widget( form.dimensions.children[0] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[0] ) }}<sup>2</sup>
                            </div>
                            <div class="form-group col-md-4 clear-left">
                                {{ form_widget( form.dimensions.children[1] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[1] ) }}<sup>2</sup>
                            </div>
                            <div class="form-group col-md-4 clear-left">
                                {{ form_widget( form.dimensions.children[2] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[2] ) }}<sup>2</sup>
                            </div>
                            <div class="form-group col-md-4 clear-left">
                                {{ form_widget( form.dimensions.children[3] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[3] ) }}<sup>2</sup>
                            </div>
                            <div class="form-group col-md-4 clear-left color-blue">
                                {{ form_widget( form.dimensions.children[4] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[4] ) }}<sup>2</sup>+
                            </div>
                        </div>
                        <div class="error" id="land_dimension"></div>
                    </div>
                </div>

                {% if form.contactname is defined %}
            <div class="cat-list-block" id="name">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon6.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.contactname ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.contactname ,{'attr': {'class': 'name'}}) }}
                    </div>
                    <div class="error" id="land_name"></div>
                </div>
            </div>
            <div class="cat-list-block" id="email_id">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon7.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.email ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.email ,{'attr': {'class': 'email_id'}}) }}
                    </div>
                    <div class="error" id="land_email"></div>
                </div>
            </div>
            {% endif %}

            <div class="cat-list-block" id="location">
                <div class="col-md-1 icon-block space-top "><img src="{{asset('img/icon8.png')}}"></div>
                <div class="col-md-11">
                    <h2>Select your Location*</h2>
                    <div class="row1">
                        <div class="form-control cus-location">
                            <div class="col-md-6 align-right">
                                {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': 'land_location'}}) }}
                                {{ form_label( form.locationtype.children[0] ) }}
                            </div>
                            <div class="col-md-6">
                                {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                {{ form_label( form.locationtype.children[1] ) }}
                            </div>
                        </div>
                    </div>
                    <div class="error" id="land_loc"></div>
                </div>
            </div>


            {% if form.city is defined %}
            <div class="cat-list-block mask" id="domCity">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon-city.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.city ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.city ) }}
                    </div>
                <div class="error" id="acc_city"></div>
                </div>
            </div>
            {% endif %}

            {% if form.location is defined %}
            <div class="cat-list-block mask" id="domArea">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/area-icon.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.location ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.location ) }}
                    </div>
                <div class="error" id="acc_area"></div>
                </div>
            </div>
            {% endif %}

            {% if form.mobilecode is defined %}
            <div class="row1 mask" id="domContact">
                <div class="col-md-6 clear-left">
                    <div class="cat-list-block" id="uae_mobileno">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-mobile.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.mobilecode ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left int-country"><label><b>Area Code</b> </label>{{ form_widget( form.mobilecode ) }}</div> <div class="col-md-6 clear-right"> {{ form_widget( form.mobile ) }}</div>
                            </div>
                        <div class="error" id="acc_mobile"></div>
                        </div>
                    </div>
                </div>
                {# <div class="col-md-6 clear-right">
                    <div class="cat-list-block">
                        <div class="col-md-2 icon-block space-top"> <img src="{{asset('img/icon4.png')}}"></div>
                        <div class="col-md-10">
                            <h2>Other Mobile Number</h2>
                            <div class="col-md-12">
                                {{ form_widget( form.mobileother ) }}
                            </div>
                        <div class="error" ></div>
                        </div>
                    </div>
                </div> #}
                <div class="col-md-6 clear-right">
                    <div class="cat-list-block">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-phone.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.homecode ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left int-country"> <label><b>Area Code</b> </label>{{ form_widget( form.homecode ) }}</div>  <div class="col-md-6 clear-right"> {{ form_widget( form.homephone ) }} </div>
                            </div>
                        <div class="error"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if form.country is defined %}
            <div class="cat-list-block mask" id="intCountry">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon-country.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.country ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.country ) }}
                    </div>
                <div class="error" id="acc_intcountry"></div>
                </div>
            </div>

            <div class="cat-list-block mask" id="intCity">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon-city.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.cityint ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.cityint ) }}
                    </div>
                <div class="error" id="acc_intcity"></div>
                </div>
            </div>
            {% endif %}

            {% if form.mobilecodeint is defined %}
            <div class="row clear-left clear-right mask" id="intContact">
                <div class="col-md-6 clear-left">
                    <div class="cat-list-block" id="int_mobileno">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-mobile.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.mobilecodeint ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left  int-country"><label><b>Country Code</b> <i>+</i></label>{{ form_widget( form.mobilecodeint ) }}</div> <div class="col-md-6 clear-right"> {{ form_widget( form.mobileint ) }}</div>
                            </div>
                        <div class="error" id="acc_intmobile"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 clear-left">
                    <div class="cat-list-block">
                        <div class="col-md-2 icon-block space-top1"> <img src="{{asset('img/icon-phone.png')}}"></div>
                        <div class="col-md-10">
                            <h2>{{ form_label( form.homecodeint ) }}</h2>
                            <div class="row1">
                                <div class="col-md-6 clear-left  int-country"><label><b>Country Code</b> <i>+</i></label>{{ form_widget( form.homecodeint ) }}</div>  <div class="col-md-6 clear-right"> {{ form_widget( form.homephoneint ) }} </div>
                            </div>
                        <div class="error" ></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="cat-list-block">
                <div class="col-md-1 icon-block space-top"> <img src="{{asset('img/icon4.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.hire ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.hire ) }}
                    </div>
                <div class="error" id="acc_hire"></div>
                </div>
            </div>

            <div class="cat-list-block">
                <div class="col-md-1 icon-block space-top-more"> <img src="{{asset('img/icon9.png')}}"></div>
                <div class="col-md-11">
                    <h2>{{ form_label( form.description ) }}</h2>
                    <div class="row1">
                        {{ form_widget( form.description ) }}
                        <span>(max 120 characters)</span>
                    </div>
                <div class="error" id="acc_desc"></div>
                </div>
            </div>



                <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                <noscript>
               <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                   height="300" width="500" frameborder="0"></iframe><br>
             </noscript>
             <div class="extra-text">
                 <div class="extra-block">
                     <ul>
                        <li>Enter text then click on button below to get quotes</li>
                        <li>Your privacy is important, we do not provide information to third parties</li>
                     </ul>
                 </div>
             </div>
        <div class="cat-submit">{{ form_widget(form.postJob, {'label':'GET QUOTES NOW'}) }}</div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>

<script type="text/javascript" src="{{ asset('js/landscaping_gardens.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/categoriesform.general.js') }}"></script>
{% endblock %}
