{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
    .pac-container:after{
        content:none !important;
    }
</style>
<link rel="stylesheet" href="{{ asset('css/nprogress.css') }}">
<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
<div class="cat-form">
  <div class="photo_form_one_area modal1">
    <h2>Looking for a Printing Press in UAE?</h2>
    <p>Just tell us a little bit about your printing press or business cards requirement and we will get you multiple quotes in a <span>few easy steps</span>. Compare quotes and hire the best printing company</p>
  </div>

        {{ form_start(form, {attr: {id: 'category_form'}}) }}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/services_icon.png') }}" alt="Camara Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>What kind of service do you required*</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in form.subcategory %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          <div class="error" id="photography_service"></div>
                      </div>
                      <div class="photo_contunue_btn proceed">
                          <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/calander_icon.png') }}" alt="calander Icon">
                  </div>
                  <div class="inner_photo_one_form_table often">
                      <h3>How often do you need this service?*</h3>
                       <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.often.children[0] ,{'attr': {'class': 'often'}}) }}
                                  {{ form_label( form.often.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.often.children[1] ,{'attr': {'class': 'often'}}) }}
                                  {{ form_label( form.often.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="often"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/requirements_icon.png') }}" alt="requirements Icon">
                  </div>
                  <div class="inner_photo_one_form_table printSize">
                      <h3>What are your print requirements?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.print_size.children[0] ,{'attr': {'class': 'printSize'}}) }}
                                  {{ form_label( form.print_size.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.print_size.children[2] ,{'attr': {'class': 'printSize'}}) }}
                                  {{ form_label( form.print_size.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.print_size.children[4] ,{'attr': {'class': 'printSize'}}) }}
                                  {{ form_label( form.print_size.children[4] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.print_size.children[1] ,{'attr': {'class': 'printSize'}}) }}
                                  {{ form_label( form.print_size.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                  {{ form_widget( form.print_size.children[3] ,{'attr': {'class': 'printSize'}}) }}
                                  {{ form_label( form.print_size.children[3] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">

                           </div>

                          </div>
                          <div class="error" id="print_size"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/mac_design_icon.png') }}" alt="Image Icon">
                  </div>
                  <div class="inner_photo_one_form_table assistance">
                      <h3>Would you require design assistance?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.assistance.children[0] ,{'attr': {'class': 'assistance'}}) }}
                                  {{ form_label( form.assistance.children[0] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.assistance.children[1] ,{'attr': {'class': 'assistance'}}) }}
                                  {{ form_label( form.assistance.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="assistance"></div>
                      </div>
                      <div class="photo_contunue_btn proceed"><a href="javascript:void(0)" id="continue2">CONTINUE</a></div>
                      <div class="photo_contunue1_btn_back goback"><a href="javascript:void(0);"id="goback1">BACK</a></div>
                  </div>
              </div>


          </div>
        </div>
        {# step 2 ends#}

        {# step 3 #}
        <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          {% if form.contactname is defined %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/add_man_icon.png') }}" alt="MAN Icon">
                  </div>
                  <div class="inner_photo_one_form_table1" >
                      <h3>{{ form_label( form.contactname ) }}</h3>
                          {{ form_widget( form.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.email ) }} </h3>
                     {{ form_widget( form.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/hand_shaik_icon.png') }}" alt="hand_shaik_icon Icon">
                  </div>
                  <div class="inner_photo_one_form_table2">
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_accounting_three_left">
                              {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- ---------- For UAE ---------- -->


            <div class="photo_one_form for-uae">
              {% if form.city is defined %}
              <div class="inner_photo_one_form mask" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( form.city ) }}</h3>
                    <div class="child_pro_tabil_main mess1">
                      {{ form_widget( form.city,{'attr':{'class':'form-input'}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if form.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/area.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.location ) }}</h3>
                     {{ form_widget( form.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if form.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table1">
                        <h3>{{ form_label( form.mobilecode ) }}</h3>


                        <label style="margin-top:-15px;"><b>Area Code</b></label>
                        {{ form_widget( form.mobilecode ) }}
                        {{ form_widget( form.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table1">
                            <h3>{{ form_label( form.homecode ) }}</h3>


                             <label style="margin-top:-15px;"><b>Area Code</b></label>
                            {{ form_widget( form.homecode ) }}
                            {{ form_widget( form.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div>
                    {% endif %}
            </div>

            <!------------ For UAE ------------>
            <!------------ For International ------------>
            <div class="photo_one_form for-foreign">
              {% if form.country is defined %}
              <div class="inner_photo_one_form mask" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter your country.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.country ) }}</h3>
                     {{ form_widget( form.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.cityint ) }}</h3>
                      {{ form_widget( form.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if form.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.mobilecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.mobilecodeint ) }}
                      {{ form_widget( form.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.homecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.homecodeint ) }}
                      {{ form_widget( form.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>
            <!------------ End International ------------>

            <div class="photo_one_form" style="margib:top:-50px;">
              <div class="inner_photo_one_form">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/aed.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( form.hire ) }}</h3>
                    <div class="child_pro_tabil_main ">
                      {{ form_widget( form.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                </div>
                <div class="inner_photo_one_form_table1 ">
                    <h3>{{ form_label( form.description ) }}</h3>
                    {{ form_widget( form.description ) }}
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}

                <div class="inner_photo_one_form_table">
                  <div class=" proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(form.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                   <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}"/></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}"/></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn">
                  <a href="javascript:void(0);" onclick="reQuote();">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn">
                  <a href="http://www.businessbid.ae" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}
        {{ form_rest(form) }}
</div>
</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
<script type="text/javascript">
    function scrollBox (tag) {
        $('html,body').animate({scrollTop: tag.position().top -10},'slow');
    }
    $(document).ready(function () {
        var forms = [
            '[ name="{{ form.vars.full_name }}"]'
          ];
        var validationFlag = true;
          $( forms.join(',') ).submit( function( e ){
            e.preventDefault();
            console.log("tried submitting")
            if(validationFlag) {
                postForm( $(this), function( response ){
                    if(response.hasOwnProperty('error')) {
                        alert(response.error);
                        var i = 1;
                        for (i = 1; i < 5; i++) {
                            $("div#step"+i).hide();
                        };
                        $("div#step"+response.step).show();
                    } else {
                        $('p#enquiryResult:contains("processing")').text($('p#enquiryResult:contains("processing")').text().replace('processing',response.jobNo));
                        $("#category_form")[0].reset();
                    }
                });
            }
            return false;
          });
        function postForm( $form, callback ) {
            NProgress.start();
              $.ajax({
                type        : $form.attr( 'method' ),
                beforeSend  : function() { NProgress.inc() },
                url         : $form.attr( 'action' ),
                data        : $form.serialize(),
                success     : function(data) {
                  callback( data );
                  NProgress.done();
                },
                error : function (xhr) {
                    alert("Error occured.please try again");
                    NProgress.done();
                }
              });
        }
    })
</script>
<script type="text/javascript" src="{{ asset('js/nprogress.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/reviewsform.general.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/'~ twigFileName ~'.min.js') }}" ></script>
{% endblock %}
