{% extends '::base_admin.html.twig' %}
{% block pageblock %}
<script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilter.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/bootstrap.js') }}"></script>
<script src="{{ asset('js/datatable/bootstrap.min.js') }}"></script>
<script type="text/javascript">
	$(document).ready( function () {
		$.datepicker.regional[""].dateFormat = 'yy-mm-dd';
        $.datepicker.regional[""].changeMonth = true;
        $.datepicker.regional[""].changeYear = true;
        $.datepicker.setDefaults($.datepicker.regional['']);
		$('#consumerTicketList').dataTable({
			"bLengthChange": false,
	     	"iDisplayLength": 10,
	     	"language": {
	     		"search": "_INPUT_",
		        "searchPlaceholder": "Search records"
		    },
		    "sZeroRecords": "No Records to dispaly",
			"sPaginationType" : 'full_numbers',
			"sDom": '<"top"l>rt<"bottom"ip><"clear">'
		}).columnFilter({aoColumns:[
						null,
						{ type:"date-range", sSelector: "#dateFilter" },
						{ sSelector: "#ticketidFilter" },
						{ sSelector: "#subjectFilter" },
						{ type:"select", values : ["Open", "Close", "Pending"], sSelector: "#statusFilter" }
						]}
					);

	} );
</script>
<div class="page-bg">
	<div class="container">
		<div class="page-title"><h1>Vendor Tickets</h1></div>
		<div>
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger">{{ flashMessage }}</div>

		{% endfor %}

		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="alert alert-success">{{ flashMessage }}</div>

		{% endfor %}

		{% for flashMessage in app.session.flashbag.get('message') %}
			<div class="alert alert-success">{{ flashMessage }}</div>

		{% endfor %}
		</div>
		<div class="search_filter consumer-tickets-list-filter">
			<p id="ticketidFilter"></p>
			<p id="dateFilter"></p>
			<p id="subjectFilter"></p>
			<p id="statusFilter"></p>
		</div>
		<div class="Create-ticket-form ticket-lists">

			<div class="latest-orders">


				<table cellpadding="0" cellspacing="0" border="0" class="display" id="consumerTicketList">
					<thead>
						<tr>
							<th>Sl. No</th>
							<th>Date Received</th>
							<th>Ticket ID</th>
							<th>Subject</th>
							<th>Status</th>
						</tr>
					</thead>
					<tfoot>
					<tr>
						<th>Sl. No</th>
						<th>Date Received</th>
						<th>Ticket Id</th>
						<th>Subjects</th>
						<th>Status</th>
					</tr>
					</tfoot>
					<tbody>
						{% for list in ticketsList %}
							<tr>
								<td class="sl-no">{{ loop.index }}</td>
								<td class="date-rcvd">{{ list.ticketDatetime.date |slice(0, 10) }}</td>
								<td class="ticket-id"><a href="{{ path('b_bids_b_bids_ticket_adminview', {'id': list.id}) }}">#V{{ list.ticketNo }}</a></td>
								<td class="subject">{{ list.ticketSubject|length > 50 ? list.ticketSubject|slice(0, 50) ~ '...' : list.ticketSubject  }}</td>
								<td class="status"><span>{% if list.ticketStatus == 1 %}<span class="open-status">Open</span>{% elseif list.ticketStatus == 2 %}<span class="close-status">Close</span>{% elseif list.ticketStatus == 3 %}}<span class="pending-status">Pending</span>{% endif %}</span></td>
							</tr>
						{% endfor %}

					</tbody>
				</table>
			</div>
			<div style="clear:both; height:10px"></div>
		</div>
		</div> <!-- container div ends -->

{% endblock %}
