{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div id="aboutus" class="container about-us">	
<div class="page-title1">About BusinessBid</div>
		<div class="content-block">
		<h2>It's all about connecting Customers and Services</h2>
		<p>The concept of BusinessBid was introduced into the UAE after detailed and extensive research which highlighted the need of a comprehensive, efficient and a single source of connecting users to vendors within the UAE market. Simply put we are trying to provide a solution.</p>
		</div>
		<div class="content-block">
		<h2>For Customers</h2>
		<p>We understand how important it is to engage a reliable service provider who provides great service at a competitive price and instead of calling around for quotes and waiting for vendors to get back to you; we do the hard work for you.</p>
		<ul>
			<li>Receive competitive quotes from your local professionals</li>
			<li>Find qualified vendors and service providers in your area</li>
			<li>Save time and money</li>
		</ul>
		</div>
		<div class="content-block">
		<h2>For Businesses</h2>
		<p>We also understand that sustaining a business can be challenging and growing a customer base can be even tougher. Therefore in addition of being customer centric we care about the businesses of our service providers.</p>
		<p>We notify you when a customer requests a service you can provide and ensure you are receiving quality leads, even while you're on-the-go.</p>
		<ul>
			<li>Promote your business online and get access to a large audience</li>
			<li>Attract new customers who are seeking to engage service professionals</li>
			<li>Get access to more jobs</li>
		</ul>
		</div>
</div>

<div id="meetteam" class="meet-team">
	<div class="container">	
		<div class="page-title1">Meet the team</div>
		<div class="col-sm-4">
			<div class="content-block">
			<p>The team at BusinessBid are seasoned professiotnals who have over 50 years of valuable experience in within the service industry in different global market places under different demanding and evolving market trends.</p>
		</div>
		</div>		
		<div class="col-sm-4">
			<div class="content-block">
			<p>Our philosophy is to keep things simple. Simplicity is what everyone understands and that's how we operate.</p>
		</div>
		</div>		
		<div class="col-sm-4">
			<div class="content-block">
			<p>Our team consists of professionals who are dedicated to customer service, understand and value the business of our customers and vendors and are dedicated to providing our stakeholders with an amazing experience.</p>
		</div>
		</div>
	</div>
	<div class="container commit-block">
		<h2>Our commitment is to ensure value for time and money and our focus is to keep improving on an already high benchmark of client satisfaction. <br>Our team consists of dedicated</h2>
	</div>	
</div>
<div class="meet-team-bottom">
	<div class="container">
		<div class="content-block">
			<ul>
				<li>Account Managers who recognize the need for understanding the value offerings of our vendors and fully assist them in how to best position their service offerings.</li>
				<li>Customer Service Associates who understand customer service and are client-centric.  No matter how big or small their request is, it becomes a personal responsibility to resolve them.</li>
				<li>Technology Managers and Technical Teams who are constantly reviewing and improving our technology platforms to help create a better experience for our users to ensure the perfect experience.</li>
				<li>Marketing Managers who are studying the emerging trends of technology, social media engagement to understand the needs of customers and vendors and how best to provide value to them</li>
				<li>Operations Managers and Analysts who ensure operational efficiency by working on better processes and working models to ensure the delivery of our services are immaculate.</li>
				<li>Office and Support Staff who are the unsung heroes who help in optimizing day-to-day activities and transactions so to support our other critical teams.</li>			
			</ul>
		</div>
		<p>Our teams are supported and managed by our leadership team who have created an amazing work and people culture to enable the best performance. <br>Our  focus on governance and efficient  frameworks and investments into technology help us improve service delivery and serve our clients better.</p>
	</div>	
</div>
<div id="career" class="career-opnt">
	<div class="container">
		<div class="page-title1">Career Opportunities</div>
		<h6>We are always on the look-out for committed and talented and people to join our buzzing team. The people who succeed with us are those who are passionate about their areas, have new ideas and the drive to make things happen!</h6>
		
	</div>	
	<div class="container">
		<div class="col-sm-12 career-offer">
		<h3>What do we offer as an organisation?</h3>
			<div class="col-sm-6">
				<span class="col-sm-1 count-num">1</span>
					<span class="col-sm-11">
						<h5>We provide a solution</h5>
						<p>We strive our best to create a solution to an existing problem - create simplicity</p>
					</span>
			</div>
			<div class="col-sm-6">
				<span class="col-sm-1 count-num">4</span>
					<span class="col-sm-11">
						<h5>Environment & Culture</h5>
						<p>We understand creating an excellent atmosphere is essential for work performance</p>
					</span>
			</div>
			<div class="col-sm-6">
				<span class="col-sm-1 count-num">2</span>
					<span class="col-sm-11">
						<h5>Growth & Development</h5>
						<p>We value our people and if you grow- we grow</p>
					</span>
			</div>
			<div class="col-sm-6">
				<span class="col-sm-1 count-num">5</span>
					<span class="col-sm-11">
						<h5>Work Hard & Play Hard</h5>
						<p>We know it's not all about work and there is a balancing act to accommodate fun and work.</p>
					</span>
			</div>
			<div class="col-sm-6">
				<span class="col-sm-1 count-num">3</span>
					<span class="col-sm-11">
						<h5>Reward & Recognition</h5>
						<p>We know motivation is critical to aim higher</p>
					</span>
			</div>
			<div class="col-sm-6">
				<span class="col-sm-1 count-num">6</span>
					<span class="col-sm-11">
						<h5>Creativity & Ideas</h5>
						<p>We listen. So if you have an idea or a suggestion which will help you and us, let us know.</p>
					</span>
			</div>
		</div>
		<div class="col-sm-12 send-mail-link"><div class="send-link">Send us an email on <a href="mailto:careers@businessbid.ae?Subject=careers" target="_top">careers@businessbid.ae</a></div></div>
	</div>
	
<div id="valuedpartner" class="valued-partners">
	<div class="container">
		<div class="page-title1">Valued Partners</div>
		<h2>If you are interested in teaming up with us and becoming one of our esteemed partners</h2>
		
		<div class="tab-content">
		<h4>Please reach out to us on the details below</h4>
			<div class="column">
				<div class="send-link"><a href="mailto:support@businessbid.ae" target="_top">support@businessbid.ae</a></div>
			</div>
			
			<div class="column">
				<div class="send-link"><a href="#">(04) 42 13 777</a></div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
