{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<script type="text/javascript">
function getpath(cat){
	var catCounter = {{ catcount }};
var hostname = window.location.hostname;
var uricat = encodeURIComponent(cat);
var uri = "http://"+hostname+"/web/app.php/search?category="+uricat;


  window.open(uri, "_self");

}
</script>
<div class="container">
<div class="review-block row">
<h1>All Categories</h1>
		{# {% for category in categories %}

			<div><a href="#" onclick='getpath("{{ category.category }}")'>{{ category.category }}</a></div>
			{% endfor %}
		#}
{# {% set diff = ((catcount)/3)%}
{% set diff2 = diff|round()*2 %}
{% set diff3 = diff|round()*3 %} #}

{% set diff = 4 %}
{% set diff2 = 4 %}
{% set diff3 = 3 %}

{% set i=0 %}
{% set classcount =0 %}
		{% for value in segments %}

			{% if value is not iterable %}
				{% set classcount = classcount+1 %}
				{% if i==0 %}
					<div class="col-md-4">
				{% endif %}
				<h3> {{ value }} </h3>
			{% else %}
			<ul class="block-one{{ classcount }}" id="{{ i }}">
				{% if value is not empty %}
					{% for cat in value %}
						{% set i=i+1 %}
							<li><a class="{{ i }}" href="/web/app.php/search?category={{ cat }}">{{ cat }} </a></li>
						{% if i== (diff+3)|round() %}
							</ul></div><div class="col-md-4"><ul>
						{% elseif i== (diff2+4) %}
							</ul></div><div class="col-md-4"><ul>
						{% elseif i== catcount+1 %}
						</ul>
					</div>
						{% endif %}
					{% endfor %}
					{% if value|length < 2 %}
						<li>&nbsp;</li>
						<li>&nbsp;</li>
					{% endif %}
				{% else %}
					{% set i=i+1 %}
					<li>Coming Soon</li>
					<li>&nbsp;</li>
					<li>&nbsp;</li>
					{% if i== (diff+3)|round() %}
						</ul></div><div class="col-md-4"><ul>
					{% elseif i== (diff2+4) %}
						</ul></div><div class="col-md-4"><ul>
					{% elseif i== catcount+1 %}
						</ul></div>
					{% endif %}
				{% endif %}
			</ul>
			{% endif %}

		{% endfor %}
</div>
</div>
{% endblock %}

