{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container form-horizontal">
<h1>Customer Registration</h1>
	<div  class="form_wrapper">
	{% for flashMessage in app.session.flashbag.get('error') %}

		<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{{ error }}
		{{ form_start(form) }}
		{{ form_errors(form) }}
<div>
	<div>   {{ form_errors(form.contactname) }} </div>
    <div>   {{ form_errors(form.email) }} </div>

	<div>   {{ form_errors(form.mobilecode) }} </div>
	<div>	{{ form_errors(form.smsphone) }} </div>
	<div>   {{ form_errors(form.homecode) }} </div>
    <div>   {{ form_errors(form.homephone) }} </div>
    <div>   {{ form_errors(form.password.first) }} </div>
    <div>   {{ form_errors(form.password.second) }} </div>
</div>
<div>
		<div class="control-group">{{ form_label(form.contactname) }}<span class="req">*</span> : </div><div class="control">{{ form_widget(form.contactname) }}</div>
		<div class="control-group">{{ form_label(form.email) }}<span class="req">*</span> : <span class="req" id="emailexists"></span></div><div class="control">{{ form_widget(form.email) }}</div>

		<div>{{ form_label(form.mobilecode) }}<span class="req">*</span> : </div><div class="control">{{ form_widget(form.mobilecode) }}{{ form_widget(form.smsphone) }} <p class="help-block">(This number will be treated as primary contact for all the SMS related activities)</p></div>
		<div>{{ form_label(form.homecode) }}</div><div class="control">{{ form_widget(form.homecode) }}{{ form_widget(form.homephone) }}  </div>
        <div class="control">
            {{ form_label(form.password.first) }}<span class="req">*</span> : {{ form_widget(form.password.first) }}<p class="help-block"></p>
            {{ form_label(form.password.second) }}<span class="req">*</span> : {{ form_widget(form.password.second) }}
        </div>
        <div class="control">
            <div class="captcha-block">
                <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                <noscript>
               <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                   height="300" width="500" frameborder="0"></iframe><br>
             </noscript><div class="extra-text">
             <div class="extra-block">
                     <ul>
                        <li>Enter text then click on button below to register</li>
                        <li>Your privacy is important, we do not provide information to third parties</li>
                     </ul>
                 </div>
             </div>
            </div>
        </div>
		<div class="control-group">{{ form_rest(form) }} </div>
</div>
{{ form_end(form) }}
</div></div>
{% endblock %}
