{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}


<div id="contact" class="contact-detail">
	<div class="container">

		<div class="page-title">
			<h1>Contact Us</h1>
			<p>We would love to hear from you. You can call us, email us, send us the good old-fashioned letter or even visit us.</p>
		</div>
			{% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

		<div class="contact-content">
			<div class="column-left">
				<div class="feedback-form">


			{{ form_start(form,{'attr': {'onsubmit':'return contactUsValidate();'}}) }}
					<div class="control">{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
					<div class="control">{{ form_label(form.mobile) }}{{ form_widget(form.mobile) }}</div>
					<div class="control">{{ form_label(form.email) }} {{ form_widget(form.email) }}</div>
					<div class="control">{{ form_label(form.usertype) }}
					{# {{ form_widget(form.usertype) }} #}
					{% for child in form.usertype %}
						<div class="col-md-3 sub-category">
							{{ form_widget(child) }} {{ form_label(child) }}
							</div>
					{% endfor %}
					</div>
					<div class="control"> {{ form_label(form.message) }}{{ form_widget(form.message) }}<p class="help-block">(maximum 1000 characters)</p></div>
					<div class="control">
						<div class="captcha-block">
							<div class="col-sm-5 captcha-image">
								<img src="{{ asset('vvv/captcha.php') }}" id="captcha" /><br/>
									<a href="#" onclick="scrollTo();"
										id="change-image">Not readable? Change text.</a><br/><br/>
							</div>
							<div class="col-sm-7 captcha-text">
									{{ form_widget(form.verification) }}
							</div>
						</div>
					</div>
					<div class="control">{{ form_widget(form.submit) }}</div>

			{{ form_end(form) }}
				</div>
			</div>

			<div class="column-right">
			<div class="column-map">
				<p>If you would like to come and visit us, we are located at the address below: <br><br>Suite 503, Level 5,
Indigo Icon Tower, <br>Cluster F, Jumeirah Lakes Tower - Dubai, UAE<br>Sunday-Thursday 9 am - 6 pm <br/><br><span class="glyphicon glyphicon-earphone"></span> 04 42 13 777<br/><span class="glyphicon glyphicon-envelope"></span> BusinessBid DMCC, PO Box- 393507, Dubai, UAE
</p>

			</div>
			</div>

		</div>

		<div class="align-center"><img src="{{ asset('img/logo.jpg') }} "> </div>


	</div>





</div>
<script type="text/javascript">
	function scrollTo() {
		var pathUrl = "{{ asset('vvv/captcha.php') }}"+"?";
		document.getElementById('captcha').src=pathUrl+Math.random();
        $('html, body').animate({ scrollTop: $('.captcha-block').offset().top }, "slow");
        document.getElementById('form_verification').focus();
        return false;
    }
    function contactUsValidate () {
		var enteredText = $("#form_verification").val(),vFlag = true;

		$.ajax({
			type: "POST",
			url: "{{ asset('vvv/check.php') }}",
			data: {"code": enteredText},
			success: function (result) {
				if(result == 'true') {
					return true;
				} else {
					alert("Invalid Captcha");
					vFlag = false;
				}
			}
	  	});
	  	return vFlag;
	}
</script>

{% endblock %}

