<p>
    <span  style="family:Calibri,Arial,sans-serif;font-size:12px;"><b>Dear Admin</b> ,</span>
    <span  style="family:Calibri,Arial,sans-serif;font-size:12px;">
        <span>
            <br>
            Please note that a customer has written a review on a vendor.
            <br>
            <br>
            Please log into action the review accordingly.
            <br><br>
        </span>
        <br>
        Regards
        <br>
        BusinessBid
        <br>
        <br>
    </span>
    <span style="family:Calibri,Arial,sans-serif;font-size:12px;">
        <u></u>
        <u></u>
    </span>
</p>
