<html>
<p>
<b>
<span style="font-size:10.0pt;font-family:Helvetica,sans-serif"><b>Dear {{ name }},</b></span>
</b><br/>
<span style="font-size:10.0pt;font-family:Helvetica,sans-serif">

<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Thank you for submitting your request. Your job request number is {{ jobrequestno }} .</p>
<br/>
<p>What's next?.</p><br/>
</span>
<span>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
Please ensure that you have your phone handy as vendors will soon start contacting you to discuss your project requirements and pricing.
</P>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
After you vendor engagement, please remember to write a review on your experience. This will help us to serve you better.
</P>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
And of course, if you have any questions or need help call us on 04 42 13 777. 
</P>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
Good Luck with your project!. 
</P>
<br>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
<br>
BusinessBid</p>
</span>
</p>
</p>
</html>
