<table>
    <p class="MsoNormal">
        <span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">Thank you for your message.</span>
        <span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
            <u></u>
            <u></u>
        </span>
    </p><br/>
    <p class="MsoNormal">
        <span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
            We value your feedback and please be assured that we will always strive to serve you better
        </span>
    </p>
    <p class="MsoNormal">
        <span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
            Our teams will look into this and initiate contact with you if required within 2 business days.
        </span>
    </p>
    <span style="font-family:Calibri,sans-serif; color:red;">
        If you have any questions or need help call us on 04 42 13 777
        <br>
        <br>
    </span>
    <span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
        <u></u>
        <u></u>
    </span>
</p>
</span>
</table>