{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/globalsearch/styles.css')}}" />


<div id="contact" class="contact-detail">
	<div class="page-bg">
	<div class="container">
		<div class="Create-ticket-form">
		<div class="page-title"><h1>Site Search</h1></div>
		<form id="searchForm" method="post">
				<fieldset>
					<input id="s" type="text" value="{% if keyword is not empty %} {{ keyword }} {% endif %}"/>
					<input type="submit" value="Submit" id="submitButton" />
					
						<!-- <div id="searchInContainer">
							<input type="radio" name="check" value="site" id="searchSite" checked />
							<label for="searchSite" id="siteNameLabel">Search</label>
							
							<!-- <input type="radio" name="check" value="web" id="searchWeb" style="display:none;" /> -->
							<!-- <label for="searchWeb">Search The Web</label> -->
					<ul class="icons" style="display:none;">
						<li class="web" title="Web Search" data-searchType="web">Web</li>
						<li class="images" title="Image Search" data-searchType="images">Images</li>
						<li class="news" title="News Search" data-searchType="news">News</li>
						<li class="videos" title="Video Search" data-searchType="video">Videos</li>
					</ul>
				</fieldset>
		</form>
    	<div id="resultsDiv"></div>

    </div>
	</div>
	</div>  
</div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
	<script src="{{ asset('js/globalsearch/script.js')}}"></script>
{% endblock %}

