{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}
<div class="col-md-9 dashboard-rightpanel">
<h1>My Customer Account</h1>
<div class="page-title"> 
<h2>My Job Request Details</h2>
</div>

<table>
<tr>
<th>Date</th>
<th>Category</th>
<th>Subject</th>
<th>City</th>
<th>Description</th>
</tr>
{%  if mappedenquiry is not empty %}
{% for e in mappedenquiry %} 
							<tr>
							<td>{{ e.created|date('Y-d-m') }}</td>
							<td>{{ e.category }}</td>
							<td>{{ e.subj }}</a></td>
							<td>{{ e.location }}</td>
                            <td>{{ e.description }} </td>
                            
						</tr>{% endfor %}
{% else %}
<tr>
<td>No Details are Available</td>
</tr>
{% endif %}
</table>
</div>

{% endblock %}
