{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}
<div class="col-md-9 dashboard-rightpanel">
<h1>My Customer Account</h1>
<div class="page-title"> 
<h2>Review Details</h2>
</div>

<table>
<tr>
<th>Date</th>
<th>Category</th>
<th>Subject</th>
<th>Review</th>
<th>Business Now</th>
<th>Business Recomendation</th>
<th>Service Experience</th>
<th>Service Summary</th>

</tr>

{% for r in mappedreview %} 
<tr><td>{{ r.created|date('Y-m-d H:m:s') }}</td>
<td>{{ r.category }}</td>
<td>{{ r.subj }}</td>
<td>{{ r.review }}</td>
<td>{{ r.businessknow }}</td>
<td>{{ r.businessrecomond }}</td>
<td>{{ r.serviceexperience }}</td>
<td>{{ r.servicesummary }}</td>
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
