{% extends '::base.html.twig' %}
{% block banner %}
{% endblock %}

{% block maincontent %}

<script>
	$(document).ready(function(){
	$('span[id^="contactdetailsdiv"]').hide();
	$('input[id^="contactdetails-"]').click(function(){
			var btid = $(this).attr('id');
			var arr = btid.split('-');


		$('#contactdetails-'+arr[1]).hide();
		$('#contactdetailsdiv'+arr[1]).show();

	});

	$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;

        // Create stars holder
        var $span = $('<span />').width(size);

        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();
});


</script>
<div class="container">
	<div class="breadcrum">Home / Vendor Review & Rating / {{ category }}</div>
	<div class="review-list-filter row">
		<div class="col-md-4 review-cat"><input type="text" readonly  name="" value="{{ category }}"></div>
		<div class="col-md-4 review-city"><input type="text" readonly  name="" value="{{ city }}"></div>
		<div class="col-md-4 review-sort form-horizontal">
				<div class="form-group">
					<div class="col-sm-4 control-label">Sort By</div>
					<div class="col-sm-8"> {{ form_start(form) }} {{form_widget(form.filter) }}{{ form_end(form)}} </div>
				</div>
		 </div>
	</div>



	<div class="review-list-container">
		<div class="review-list-title">{{ category }}</div>
		{% for i,vendor in vendors %}
		<div class="review-list-block">
			<div class="list-block row">
				<h2><a href="{{ path('b_bids_b_bids_vendor', {'userid': vendor.userid }) }}">{{ vendor.bizname }}</a></h2>
				<div class="col-md-2 verified-block">

						<span class="stars">{{ vendor.rating }}</span>{{ vendor.rating|round(1, 'floor') }} {% if vendor.rating == 1 %} star {% else %} stars {% endif %}
						<a href="{{ path('b_bids_b_bids_vendor', {'userid': vendor.userid }) }}#rating">{{ vendor.1  }} Verified Reviews</a>
				</div>
				<div class="col-md-7 description-block">
					<p>{{ vendor.description|slice(0,200) }}...<a href="{{ path('b_bids_b_bids_vendor', {'userid': vendor.userid }) }}">See more</a></p>

				</div>


				<div class="col-md-3 get-quote-block">
					<input class="btn btn-success btn-block getQuotes" type="submit" onclick="window.open('{{ path('b_bids_b_bids_post_by_search',{'categoryid':categoryid}) }}', '_self');" value="Get a Quotes">
					<span id="contactdetailsdiv{{ i }}"><p><label>Address</label> : {{ vendor.address }}<p><label>SMS Phone</label> : {{ vendor.smsphone }}</p></span><input class="btn btn-success btn-block getContact" type="submit" id="contactdetails-{{ i }}" value="Get Contact Details">
				</div>

			</div>

		</div>
		{% endfor %}
	</div>
	{% if(count) %}
<div class="row text-right ">
	<div class="counter-box top-space">
	{% set page_count = -count//10 %}
<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_reviewform_post',{'offset':1,'cid':categoryid,'city':city }) }}">&laquo;</a></li>
{% for i in 1..-(page_count) %}

  <li><a href="{{ path('b_bids_b_bids_reviewform_post',{'offset':i,'cid':categoryid,'city':city }) }}">{{ i }}</a></li>

{% endfor %}

  <li><a href="{{ path('b_bids_b_bids_reviewform_post',{'offset':-(page_count),'cid':categoryid,'city':city }) }}">&raquo;</a></li>
</ul>
</div>
</div>
{% endif %}

	<div class="row get-matched-block">
		<div class="col-md-3 get-matched-img"></div>
		<div class="col-md-6 get-matched-cont">
			<h3>Get matched Right Away</h3>
			<p>Use our vendor match technology to receive quotations from the most appropriate vendors immediately.</p>
		</div>
		<div class="col-md-3 get-matched-but"><input class="btn btn-success btn-block" type="submit" onclick="window.open('{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':categoryid}) }}', '_self');" value="Get Matched to Pros"></div>
	</div>
</div>


{% endblock %}
