{% extends '::base.html.twig' %}

{% block banner %}
{% endblock %}


{% block maincontent %}
<div class="container faq-container">
<div class="breadcrum">Home > FAQs</div>
<div class="page-title"><h1>Frequently Asked Questions</h1></div>
 <h2>About BusinessBid</h2>
<div class="panel-group" id="accordion">
<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">How can BusinessBid help me with my project?</a>
	  </h4>
	 </div>
 <div id="collapseOne" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
		 We are UAE’s biggest and largest service portal covering 700+ individual services across 

		the residential, commercial, corporate, automotive and lifestyle industries. Our team brings 

		a cumulative total of 50+ years of service industry experience from many different global 

		marketplaces. Our unique lead management system, our comprehensive Review section, along with 

		an extensive <a href="/resource_centre">Resource Centre</a> with a library of useful articles and information provides our users 

		with an effective tool to find the most suitable vendor.  
  </div>
</div>
</div>
<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Does BusinessBid operate in my city?</a>
	  </h4>
	 </div>
 <div id="collapseTwo" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
		Yes, BusinessBid vendors operate across all cities within the UAE. 
  </div>
</div>
</div>
<h2>Advantages of Using BusinessBid</h2>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">What are my benefits as a BusinessBid user? </a>
	 </h4>
  </div>
 <div id="collapseThree" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
		 BusinessBid’s aim is to provide the consumer with a one-stop online portal which will provide 

		them with reliable, prompt, high quality and value for money quotes from service professionals 

		across residential, commercial, automotive and lifestyle related projects and requirements. Some of 

		the key benefits are: 
		<ul>

		 <li> Convenience: Allows you to receive multiple quotes from various vendors with a single 

		form and eliminates the hassle of multiple searches. </li>

		 <li> Competitive Pricing: Receive at least three quotations from vendors so you know you 

		have a choice to get the most competitive pricing! </li>

		 <li> Speed: As vendors are competing with each other you can be assured that you will get a 

		swift response. No more waiting around! </li>

		 <li> Reputation: All vendors are pre-qualified and verified to ensure they are reputable and 

		skilled. </li>

		 <li> Quality: Our vendor rating system focusses on vendors delivering high quality service 

		and a positive user experience.</li>

		 <li> Free to Use: The website is completely free for users with no search or membership fees 

		charged ever!  </li>

		 <li> Portal: Get access to your personal services dashboard where you can view and manage 

		your jobs from anywhere, anytime. </li>

		</ul>
 </div>
</div>
</div>
<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> How can BusinessBid ensure that I find the right service vendor?</a>
	  </h4>
	 </div>
<div id="collapseFour" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
			BusinessBid matches your project with the most suitable pre-screened vendors using our unique 

			vendor matching technology. The process is extremely simple and all that you are required to do is 

			fill out a simple form describing your project. You will then receive quotes from up to three vendors 

			who you can screen based on a personal meeting as well as by reviewing actual reviews & ratings 

			provided by previous users based on their experience with the vendor.
	</div>
</div>
</div>


<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive"> Is there an obligation to use vendors recommended by BusinessBid?</a>
	  </h4>
	 </div>
<div id="collapseFive" class="panel-collapse collapse">
   <div class="panel-body panel-answer"> Not at all. However, our process ensures that you have the choice to use the best service providers for your project needs.
   </div>
</div>
</div>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix"> Does BusinessBid provide any due diligence before recommending vendors?</a>
	  </h4>
	 </div>
<div id="collapseSix" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
		BusinessBid performs an extensive due diligence process prior to selecting and recommending any vendor. We ensure that we bring reliable, reputable and highly skilled service professionals into  our network that can deliver high quality projects consistently and create a positive experience for our users.
 </div>
</div>
</div>
<h2> Feedback & Reviews from Real Users. </h2>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven"> What are Ratings & Reviews? Are they relevant?</a>
		 </h4>
	 </div>
<div id="collapseSeven" class="panel-collapse collapse">
   <div class="panel-body panel-answer">

			<p> Ratings & Reviews are an important tool we offer to our users. They help us keep track of the 

			quality of service provided by our member service professionals. For all requests you place with 

			BusinessBid, you'll be asked to submit Ratings & Reviews for the service professionals you choose 

			based on your experience with them. When you do, you not only help other consumers make the 

			right choice, you also contribute to the overall quality of service offered. Click here for a Ratings & 

			Reviews sample.</p>

			<p>We at BusinessBid value our customers feedback. We use the information provided by users on the 

			experiences they have had to rate a vendor based on metrics such as quality, pricing and overall 

			customer service. This information helps other users to make an informed decision in selecting 

			specific vendors for their projects. Also, vendor feedback helps them improve their quality of service 

			and ensures they can deliver an outstanding customer experience. You can view a sample Ratings & 

			Reviews by clicking here. <a href="{{ path('b_bids_b_bids_node4') }}">Rating & Reviews</a></p>
     </div>
    </div>
</div>
<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">  When can I provide my vendor feedback to BusinessBid?</a>
		 </h4>
	 </div>
<div id="collapseEight" class="panel-collapse collapse">
   <div class="panel-body panel-answer">

	 The ideal time to provide feedback would be when the project has been completed. You will 

	receive notification from our team that prompts you to complete a short feedback form on our website.
	</div>
</div>
</div>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine"> What features does my online account provide? </a>
		 </h4>
	 </div>
<div id="collapseNine" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
		 Once users sign up, they have access to an online account that is located on the header banner of 

		our homepage and called “My BusinessBid”. Clicking on this will lead you to the customer dashboard 

		<a href="{{ path('b_bids_b_bids_consumer_register') }}">Click here to register</a> which includes several useful features such as the following:

		<ul>

		<li> Update your personal details and profile.</li>

		<li> View and manage your project requests</li>

		<li> Complete your reviews & feedback </li>
		</ul>
	</div>
</div>
</div>
<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Where can I find useful information for my projects?</a>
		 </h4>
	 </div>
<div id="collapseTen" class="panel-collapse collapse">
   <div class="panel-body panel-answer">
		We understand that your project is very important to you, and you want it done right. To ensure you 

		have the best information available, we have created an ever expanding library of useful articles and 

		related information across all our service categories. You can access this information by clicking on 

		Resource Centre on our homepage. <a href="http://www.businessbid.ae/resource_centre">Resource center</a>
	</div>
</div>
</div>

<h2>Vendor Qualification</h2>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"> How do we qualify our vendors?</a>
		 </h4>
	 </div>
	<div id="collapseEleven" class="panel-collapse collapse">
	   <div class="panel-body panel-answer">
				Before finalizing a vendor, users can look at customer feedback and reviews to establish that 
	
				the vendor is reputable. In addition, BusinessBid conducts regular vendor due diligence analysis 
	
				to confirm that the vendor business is in operation and is in good standing.
		</div>
	</div>
</div>


<!--new faq starting here-->
<h2>Account & General</h2>
<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve"> I am unable to sign in to my account. What should I do?</a>
		 </h4>
	 </div>
	<div id="collapseTwelve" class="panel-collapse collapse">
	   <div class="panel-body panel-answer">
				If you are having trouble signing in, there are a few things to check.
				<ul>
				<li>Double check that you are using the correct email or username and password combination.</li>
				<li>If you have forgotten your username or password, you can <a href="{{ path('b_bids_b_bids_forgot_password') }}" >reset</a> it here.</li>
				<li>If you are still having trouble; submit a support ticket and we can see if there is another issue with your account.</li>						
				</ul>
		</div>
	</div>
</div>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapsethirteen">How do I update or reset my password?</a>
		 </h4>
	 </div>
	<div id="collapsethirteen" class="panel-collapse collapse">
	   <div class="panel-body panel-answer">
				To update your password; sign in to your account.  Click My Profile tab and then “Update My Profile” and you can update your contact information from there.
				<ul>
					<li>If you have forgotten your BusinessBid password and cannot sign in, <a href="{{ path('b_bids_b_bids_forgot_password') }}" >click here</a> and enter the email address that is registered to your BusinessBid account. Instructions to reset your password will be sent to that email address.</li>
				</ul>
		</div>
	</div>
</div>

<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapsefourteen"> How do I update my email address or personal details?</a>
		 </h4>
	 </div>
	<div id="collapsefourteen" class="panel-collapse collapse">
	   <div class="panel-body panel-answer">
				To update your email address; sign in to your account.  Click My Profile tab and then “Update My Profile” and you can update your contact information from there.
		</div>
	</div>
</div>


<div class="panel">
    <div class="panel-heading panel-question">
      <h4 class="panel-title">
		 <a data-toggle="collapse" data-parent="#accordion" href="#collapsefifteen">How do I subscribe to or unsubscribe from BusinessBid newsletters?</a>
		 </h4>
	 </div>
	<div id="collapsefifteen" class="panel-collapse collapse">
	   <div class="panel-body panel-answer">
				Please email our customer centre support on <a href="{{ path('b_bids_b_bids_contactus')}}">support@businessbid.ae</a>
		</div>
	</div>
</div>


<!--new faq ending here-->


		<div>
		<br>
		<br>
			<h4>Still does not answer your question?</h4>
			<h5>Please email us on <a href="{{ path('b_bids_b_bids_contactus')}}">support@businessbid.ae</a> or contact the customer support line on 04 42 13 777.</h5>
		</div>
</div>
</div>
{% endblock %} 
