{% extends '::base.html.twig' %}

{% block banner %}
{% endblock %}

{% block maincontent %}
<div class="container">
	<!-- <div class="breadcrum">Home/ Vendor Review & Rating</div> -->
	<div class="vendor-review-dic row">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <div class="vendor_reviews_area">
            <div class="vendor_reviews_area_child">
                <div class="vendor_reviews_area_child_img">
                    <img src="{{ asset('img/praper_one.png') }}" alt="Our One Page Praper">
                </div>
                <div class="vendor_reviews_area_child_txt">
                    <h2>Vendor Reviews Directory</h2>
                    <p>Search our directory for ratings and reviews for screened and approved BusinessBid service professionals. You can search for vendors by sorting by Highest Rated, Most Reviewed or by the Best Match vendors for the project. </p>
                    <p>Just select the type of service you are looking for, and you will find a list of rated service professionals for your project.</p>
                </div>               
            </div>           
        </div>
        <div class="position_area">
			<div class="vandor_reviews_directory">
				<div class="vandor_reviews_directory_txt">
					<h2>Browse Our Live Directory of Vendors</h2>
				</div>
				<div class="vandor_reviews_directory_dropdown">
					{{ form_start(formreview) }}
						{{ form_widget(formreview.category,{'attr': {'class': 'form-control'}}) }}
						
						  
				</div>     
				<div class="vandor_reviews_directory_btn">
							{{ form_row(formreview.submit, { 'label': 'BROWSE REVIEWS' }) }}
							{{ form_end(formreview) }}    
						</div>      
			</div>             
        </div>
        <div class="thework_reviews_area">
            <div class="thework_reviews_area_child">
				<div class="thework_reviews_area_child_img">
                    <img src="{{ asset('img/praper_two.png') }}" alt="Our two Page Praper">
                </div>
                <div class="thework_reviews_area_child_txt">
                    <h2>LET US DO THE WORK FOR YOU</h2>
                    <p>Allow us to match you with the most suitable service professionals for your project. </p>
                    <p>Just select the type of job you need done and tell us a little bit about your requirement. We will get 3 of the most suitable screened and approved service professionals’ contact you with quotations.</p>
                </div>
            </div>
        </div>
        <div class="position_area_two">
            <div class="thework_reviews_directory">
                <div class="thework_reviews_directory_txt">
                    <h2>Find Me Vendors</h2>
                </div>
                <div class="vandor_reviews_directory_dropdown">
					<form name="search" method="request" action="{{ path('b_bids_b_bids_home_search') }}">
						<select name="category" id="categoryfind" class="form-control"></select>
						<!-- <select name="city" id="city"></select> -->
				</div>
				<div class="thework_reviews_directory_btn">
						<input type="submit" class="findme_btn" name="submit" value="FIND ME VENDORS"> 
						</form>
				</div>
            </div>     
        </div>       
       {#
	<div id="catlist" class="review-block row">
		<h1>Find Vendor Ratings & Reviews by Segment</h1>
			{% set diff = ((catcount)/3)%}
			{% set diff2 = diff|round()*2 %}
			{% set diff3 = diff|round()*3 %}
			{% set i=0 %}
			{% set classcount =0 %}
				{% for value in segments %}
					{% if value is not iterable %}
						{% set classcount = classcount+1 %}
						{% if i==0 %}
						{% endif %}
						<div class="col-md-4">
							<h3> {{ value }} </h3>
							{% else %}
								{% if value is not empty %}
									{% for cat in value %}
										{% set i=i+1 %}
										<ul class="block-one{{ classcount }}">
											<li><a href="/web/app.php/node4?category={{ cat }}">{{ cat }} </a></li>
										</ul>
										{% if i== (diff+3)|round() %}
										{% elseif i== (diff2+4) %}
										{% elseif i== catcount+1 %}
										{% endif %}
									{% endfor %}
									{% if value|length < 2 %}
										<ul>
											<li>&nbsp;</li>
											<li>&nbsp;</li>
										</ul>
									{% endif %}
								{% else %}
									<ul>
										<li>Coming Soon</li>
										<li>&nbsp;</li>
										<li>&nbsp;</li>
									</ul>
								{% endif %}
						</div>
					{% endif %}
				{% endfor %}
			</div>
			#}
      </div>
     </div>
        
        <!-- Footer Script Here -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/main.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
 
{% endblock %}

