{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
	.pac-container:after{
    content:none !important;
}
</style>
<div class="container category-search">
<div class="page-title"><h1>{{ category }}</h1></div>
<div class="category-steps-block">
	<div class="col-md-4 steps"><span>1</span><p>Choose what services you require</p></div>
	<div class="col-md-4 steps"><span>2</span><p>Vendors contact you & offer you quotes</p></div>
	<div class="col-md-4 steps"><span>3</span><p>You engage the best Vendor</p></div>
</div>


{{ form_start(form) }}
<div class="category-service-block">
<h1 class="title">what kind of {{ category }} do you need?</h1>
{% for child in form.subcategory %}
	<div class="col-md-3 sub-category">
		{{ form_widget(child) }} {{ form_label(child) }}
        </div>


{% endfor %} 
</div>
	
	
	
<div>
    <div>   {{ form_errors(form.subj) }} </div>
	<div>	{{ form_errors(form.description) }} </div>
	<div>	{{ form_errors(form.city) }} </div>
</div>
<div class="category-wrapper">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	<div class="categroy-wrapper-fieldset">{{ form_row(form.subj, { 'label': 'Enter your subject heading *' }) }}</div>
	<div class="categroy-wrapper-fieldset">{{ form_label(form.city) }} {{ form_widget(form.city) }}</div>
	<div class="categroy-wrapper-fieldset">{{ form_label(form.location) }} {{ form_widget(form.location) }}</div>
	<div class="categroy-wrapper-fieldset">{{ form_label(form.hire) }} {{ form_widget(form.hire) }}</div>
	<div class="categroy-wrapper-fieldset">{{ form_row(form.description, {'label':'Describe what you need done *'}) }}<p class="help-blocksearch">(maximum 240 characters)</p></div>
	<div class="category-wrapper-fieldset"><div class="text-center">{{ form_widget(form.postJob, {'label':'GET QUOTES NOW'}) }} {{ form_rest(form) }}</div></div>
</div>
	
</div> 
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
	var input = document.getElementById('form_location');
	var options = {componentRestrictions: {country: 'AE'}};
	new google.maps.places.Autocomplete(input, options);
</script>
{% endblock %}
