{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
	.pac-container:after{
    content:none !important;
}
</style>

<script>
$(document).ready(function(){
		/*$('#form_description').popover();*/
		
		$('#form_city option[value="{{ selectedCity }}"]').prop('selected',true);
		$( "#form_mobilecode" ).change(function() {
		var other=$( "#form_mobilecode" ).val();
		
			if(other=='000')
			{
				$("#form_mobile").remove().removeAttr('required');
				$("span#other1").css("display","block"); 
			}
			else
			{
				if ($('#form_mobile').length == 0) 
				{
					$('<input type="text" id="form_mobile" name="form[mobile]" size="7">').appendTo('#mob');
				}
				
				$("span#other1").css("display","none"); 
				
			}

			});
			
			$( "#form_homecode" ).change(function() {
			var other2=$( "#form_homecode" ).val();
			if(other2=='00')
			{
				$("#form_homephone").remove().removeAttr('required');
				$("span#other2").css("display","block");
			}
			else
			{
				
				
				if ($('#form_homephone').length == 0) 
				{
					$('<input type="text" id="form_homephone" name="form[homephone]" size="7">').appendTo('#phn');
				}
				$("span#other2").css("display","none");
			}
		
		});
		
		
		$( "#form_city" ).change(function() {
		
			var other3=$( "#form_city" ).val();
			if(other3 =='other')
			{
				$("#form_location").remove().removeAttr('required');
				$("span#other3").css("display","block");
			}
			else
			{
				if ($('#form_location').length == 0) 
				{
					$('<input type="text" id="form_location" name="form[location]">').appendTo('#loc');
				}
				$("span#other3").css("display","none");
			}
		
		
		});
		
		
			
			
		
		
		
});
</script>
<div class="container category-search">
<div class="page-title"><h1>{{ category }}</h1></div>
<div class="category-steps-block">
	<div class="col-md-4 steps"><span>1</span><p>Choose what services you require</p></div>
	<div class="col-md-4 steps"><span>2</span><p>Vendors contact you & offer you quotes</p></div>
	<div class="col-md-4 steps"><span>3</span><p>You engage the best Vendor</p></div>
</div>



{{ form_start(form) }}

<div class="category-service-block">

<h1 class="title">what kind of {{ category }} services do you need?</h1>
{% for child in form.subcategory %}
	<div class="col-md-3 sub-category">
		{{ form_widget(child) }} {{ form_label(child) }}
        </div>


{% endfor %}
</div>



			{{ form_errors(form) }}
<div>
	<div>   {{ form_errors(form.contactname) }} </div>

    <div>   {{ form_errors(form.hire) }} </div>
	<div>	{{ form_errors(form.subj) }} </div>
	<div>	{{ form_errors(form.description) }} </div>
	<div>	{{ form_errors(form.email) }} </div>
	<div>	{{ form_errors(form.mobilecode) }} </div>
	<div>	{{ form_errors(form.mobile) }} </div>
	<div>	{{ form_errors(form.homecode) }} </div>
	<div>	{{ form_errors(form.homephone) }} </div>
	<div>	{{ form_errors(form.city) }} </div>

</div>



<div class="category-wrapper">

	{% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

			<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
	<div class="categroy-wrapper-fieldset">{{ form_label(form.contactname) }} {{ form_widget(form.contactname) }}</div>
	<div class="categroy-wrapper-fieldset">{{ form_label(form.email) }} {{ form_widget(form.email) }}</div>
	<div id="mob" class="categroy-wrapper-fieldset contact">{{ form_label(form.mobilecode) }} {{ form_widget(form.mobilecode) }}{{ form_widget(form.mobile) }}<span id="other1" style="display:none">{{ form_widget(form.mobileother) }}</span></div>
	<div id="phn" class="categroy-wrapper-fieldset contact">{{ form_label(form.homecode) }} {{ form_widget(form.homecode) }} {{ form_widget(form.homephone) }}<span id="other2" style="display:none">{{ form_widget(form.homephoneother) }}</span></div>
	<div class="categroy-wrapper-fieldset">{{ form_label(form.city) }} {{ form_widget(form.city) }}</div>
	<div id="loc" class="categroy-wrapper-fieldset">{{ form_label(form.location) }} {{ form_widget(form.location) }}</div>
	<span id="other3" style="display:none"><div class="categroy-wrapper-fieldset">{{ form_label(form.locationother) }} {{ form_widget(form.locationother) }}</div></span>
	<div class="categroy-wrapper-fieldset">{{ form_label(form.hire) }} {{ form_widget(form.hire) }}</div>
	<div class="categroy-wrapper-fieldset">{{ form_row(form.subj, { 'label': 'Enter your subject heading *' }) }} </div>
	<div class="categroy-wrapper-fieldset">{{ form_row(form.description, {'label':'Describe what you need to be done *'}) }}<p class="help-blocksearch">(maximum 240 characters) </p></div>
	<!--<div class="categroy-wrapper-fieldset terms">{{ form_widget(form.accept) }} {{ form_label(form.accept) }}</div>-->
	<div class="category-wrapper-fieldset"><div class="text-center">{{ form_widget(form.postJob, {'label':'GET QUOTES NOW'}) }} {{ form_end(form) }}</div></div>
</div>

</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
	var input = document.getElementById('form_location');
	var options = {componentRestrictions: {country: 'AE'}};
	new google.maps.places.Autocomplete(input, options);
</script>
{% endblock %}
