{% extends '::base.html.twig' %}

{% block banner %}
        <div class="hiring_area_main">
            <div class="inner_hiring_area">
                <div class="vendor_im">
                    <img src={{ asset("img/tabmobile.png") }} alt="Why join BusinessBid?">
                </div>
                <div class="vendor_im_text">
                    <h1>Why join BusinessBid?</h1>
                    <p>Customers across the UAE use BusinessBid to find reliable service professionals for their project requirements. By joining BusinessBid, you’ll get access to new customers and get their detailed project briefs sent to you via SMS and e-mail. Many service professionals rely on BusinessBid as their single and most effective form of advertising – join us today and experience the BusinessBid edge!</p>
                    <a href="{{ path('b_bids_b_bids_vendor_register') }}" class="find_out_btn">SIGN UP NOW</a>
                </div>
            </div>
        </div>
        <div class="impression_main_area">
            <div class="inner_impression_area">
                <div class="inner_impression_business">
                    <div class="inner_impression_business_img">
                        <img src={{ asset("img/grow.png") }} alt="Grow your business">
                    </div>
                    <div class="inner_impression_business_content">
                        <h4>Grow your business</h4>
                        <p>Everyday, hundreds of customers log their project requirements with BusinessBid knowing they will receive quotations from UAE’s top screened and approved service professionals. They fill in a detailed brief of the project requirements, which is sent, by SMS and e-mail to our pros. Get access to UAE’s largest lead generation portal to win new customers and grow your business.</p>
                    </div>
                </div>
                <div class="inner_impression_business">
                    <div class="inner_impression_business_img">
                        <img src={{ asset("img/projects.png") }} alt="Choose your projects">
                    </div>
                    <div class="inner_impression_business_content">
                        <h4>Choose your projects</h4>
                        <p>Tell us about the services you offer, the type of projects you are looking for and the areas of the UAE you cover and you will receive project requests based on the criteria you specify. Study the project requirements and only take up the jobs that work for you and your schedule.</p>
                    </div>
                </div>
                <div class="inner_impression_business">
                    <div class="inner_impression_business_img">
                        <img src={{ asset("img/model.png") }} alt="Simple billing model">
                    </div>
                    <div class="inner_impression_business_content">
                        <h4>Simple billing model</h4>
                        <p>As a BusinessBid service partner, you are only charged if you are interested in a project and would like to contact the customer and send a quote. You never pay to view a project brief or when you finalize a deal. Sending a quote for a project always costs the same flat fee and there are never any hidden charges. Leads can be purchased through your vendor dashboard by either cheque or credit card – just top up on lead credits whenever you want to send customer quotations.</p>
                    </div>
                </div>
                <div class="inner_impression_business">
                    <div class="inner_impression_business_img">
                        <img src={{ asset("img/reach.png") }} alt="Extend your reach">
                    </div>
                    <div class="inner_impression_business_content">
                        <h4>Extend your reach</h4>
                        <p>Being a BusinessBid service partner gives you the opportunity to take up business beyond areas and services you normally deal in.  You are able to select your service offerings and locations through your vendor dashboard thereby allowing you an opportunity to easily diversify your business.</p>
                    </div>
                </div>
                <div class="inner_impression_business">
                    <div class="inner_impression_business_img">
                        <img src={{ asset("img/support.png") }} alt="Dedicated support ">
                    </div>
                    <div class="inner_impression_business_content">
                        <h4>Dedicated support </h4>
                        <p>Every BusinessBid service partner has a dedicated relationship manager to help them through the process. Whether you have questions on signing up, enhancing your profile or purchasing leads, we are here to help you at every step of the way. </p>
                    </div>
                </div>
            </div>
        </div>
       
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
   {% endblock %}
{% block maincontent %}

{% endblock %}
