{% extends '::base.html.twig' %}

{% block banner %}
       <div class="welcome_header_area">
           <div class="inner_wolcome_area">
               <div class="wolcome_video_area">
                   <div class="youtube_video_welcome"><img src={{ asset("img/macbook.png") }} alt="Mac Book Pro"></div>
                   <div class="ifream_wolcome">
						<iframe src="https://www.youtube.com/embed/La-gaNJQ64Q" frameborder="0" allowfullscreen></iframe>
					</div>
               </div>
               <div class="wolcome_content_area">
                   <h1>Welcome to BusinessBid</h1>
                   <p>BusinessBid is UAE’s largest one-stop services portal with over 700 services across multiple trades. We reach out to thousands of customers everyday to help them find quality service professionals like you with the expertise and reliability to complete their projects.</p>
                   <p>It’s your business – but let us do the hard work for you. Watch our short video to learn how we can help grow your business.</p>
                   <a href="{{ path('b_bids_b_bids_vendor_register') }}" class="sign_up_btn">join NOW</a> 
               </div>
           </div>
       </div>
       <div class="join_why_area">
           <div class="inner_join">
               <div class="inner_join_text">
                   <h2>Why join BusinessBid?</h2>
                   <p>Customers know that logging their project requirements with BusinessBid will mean they’ll receive quotations from
companies that have been screened and approved to be the best in the industry. Joining BusinessBid’s elite panel of
vendors will allow you to meet new customers and grow your business.</p>
                    <a href="{{ path('bizbids_template4') }}" class="find_out_btn">find out more</a>
               </div>
               <div class="inner_join_img">
                   <img src={{ asset("img/member.png") }} alt="Why join BusinessBid?">
               </div>
           </div>
       </div>
       <div class="how_does_work_main_area">
           <div class="inner_how_does_work">
               <div class="inner_how_does_img">
                   <img src={{ asset("img/mobilepc.png") }} alt="How does BusinessBid work?">
               </div>
               <div class="inner_how_does_txt">
                   <h2>How does BusinessBid work?</h2>
                   <p>Our unique lead management system matches customer leads with service providers like you. We forward the
project details via text message and email so you can instantly view the job and respond if you are interested. </p>
                  <p>Tell us about the services you offer and leave the rest to BusinessBid.</p>
                  <a href="{{ path('bizbids_template2') }}" class="find_out_btn">Find Out How it Works in 3 easy steps</a>
               </div>
           </div>
       </div>
       <div class="how_does_hire_main_area">
           <div class="inner_how_does_hire">
               <div class="inner_how_hire_txt">
                   <h2>How do I get hired on BusinessBid?</h2>
                   <p>Once you have registered as a service provider on BusinessBid, you can be assured that you have
access to qualified customer leads thereby generating a reliable source of new business.</p>
                  <p>To help you improve your success rate at finalizing these projects, we have compiled some useful tips
and advice that is sure to give you an edge. </p>
                  <a href="{{ path('bizbids_template3') }}" class="sign_up_btn">Learn more</a>
               </div>
               <div class="inner_how_hire_img">
                   <img src={{ asset("img/hend.png") }} alt="How do I get hired on BusinessBid?">
               </div>               
           </div>
       </div>
       <div class="how_does_work_main_area">
           <div class="inner_how_does_work">
               <div class="inner_how_does_img leads_igm">
                   <img src={{ asset("img/leads.png") }} alt="BusinessBid Leads">
               </div>
               <div class="inner_how_does_txt leads_txts">
                   <h2>BusinessBid Leads</h2>
                   <p>The BusinessBid fee structure is extremely simple. Once you receive a customer inquiry you are only charged if you are interested in quoting for the project. A lead credit is then deducted from your account and you are able to purchase more anytime you would like to top-up.</p>
                   <p>It’s indeed that simple!</p>
                  <a href="{{ path('bizbids_are_you_a_vendor') }}" class="sign_up_btn">Click Here For More Information</a>
               </div>
           </div>
       </div> 
       <div class="how_does_hire_main_area">
           <div class="inner_how_does_hire">
               <div class="inner_how_hire_txt supp_vandor_text">
                   <h2>Vendor Support</h2>
                   <p>At BusinessBid our aim is to ensure you get the best help and support. No matter how big or small your
concern we are there to hold your hand and assist you. All our business partners are allocated a dedicated
and experienced client manager who is committed to helping your business grow. </p>
                  <div class="support_area_vendor">
                      <div class="supp_img">
                          <img src={{ asset("img/phone_icon.png") }} alt="Phone Icon">
                      </div>
                      <div class="supp_text">
                          <h4>VENDOR SUPPORT LINE:</h4>
                          <h3>(04) 421 3777</h3>
                      </div>
                  </div>
               </div>
               <div class="support_img_inner">
                   <img src={{ asset("img/man.png") }} alt="Vendor Support">
               </div>               
           </div>
       </div>             
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    {% endblock %}
{% block maincontent %}

{% endblock %}

