{% extends '::base.html.twig' %}

{% block banner %}
{% endblock %}

{% block maincontent %}

<script src="{{ asset('js/jquery.scrollbox.js') }}"></script>
<script src="{{ asset('js/modernizr-2.8.3.min.js') }}"></script>
<script src="{{asset('js/main.js') }}"></script>
<script type="text/javascript">
  $('#demo2').scrollbox({
    linear: true,
    step: 1,
    delay: 0,
    speed: 100
  });
</script>

<script src = "{{ asset('js/jquery.timers-1.2.js') }}"></script>
<script src = "{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script src = "{{ asset('js/jquery.galleryview-3.0-dev.js') }}"></script>
{# <script src = "{{ asset('js/bootstrap.js') }}"></script>
<script src = "{{ asset('js/bootstrap.min.js') }}"></script> #}
<link type="text/css" href = "{{ asset('css/jquery.galleryview-3.0-dev.css') }}" rel="stylesheet">
<script>
$(document).ready(function(){
  $.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;

        // Create stars holder
        var $span = $('<span />').width(size);

        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

  $("button[data-target^='.bs-example-modal-lg_']").click(function(){
  var clss = $(this).attr('data-target');

    var cs = clss.split("_");

      $('#myGallery'+cs[1]).galleryView();


  });

$('#getcontvalue').hide();
  $('#getcontbutton').click(function(){
  $('#getcontvalue').show();
  $('#getcontbutton').hide();
});

$('div[id^="morediv"]').hide();
  $('span[id^="seemore"]').click(function(){
    var idd = $(this).attr('id');
    var arr = idd.split("_");

    $('#lessdiv_'+arr[1]).hide();
    $('#morediv_'+arr[1]).show();
  });
    $('span[id^="seeless"]').click(function(){
      var idd = $(this).attr('id');
      var arr = idd.split("_");
      $('#morediv_'+arr[1]).hide();
      $('#lessdiv_'+arr[1]).show();
    });

});
</script>

<div class="container vendor-view">
  <div class="breadcrum">Home / Vendor Review / {{ profile.bizname}}</div>
     <div id="homes" class="two_vendor_page_area">
            <div class="two_vendor_page_inner">
                <div class="two_vendor_child">
                    <div class="two_child_inner_vebdor">
                        <div class="two_vendor_child_inner_pre">
                            <div class="two_vendor_child_inner_pre_img">
                              {% if profile.logopath is null %}
                                <img src="{{ asset('img/noimage2.jpg') }}" alt="">
                              {% else %}
                                <img src="{{asset('logo/' ~ profile.logopath) }}" alt="{{ profile.bizname }}">
                              {% endif %}
                            </div>
                            <div class="two_vendor_child_inner_pre_txt">
                                <h2>{{ profile.bizname}}</h2>
                                 <div class="rating_inner">
                                     <ul>
                                        {% if finalRating.rating == 0 %}
                                        <li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li>
                                        {% else %}
                                         <li><img src="{{asset('img/star'~ roundrating(finalRating.rating|round(1, 'floor')) ~'.png') }}" alt="star{{ finalRating.rating|round(1, 'floor') }}"></li>
                                         {% endif %}
                                     </ul>
                                </div> </br>
                                <p><span>{{ finalRating.rating|round(1, 'floor') }}</span>| {{ noOfReviews }} Verified Review(s)</p>
                            </div>
                            <div class="two_vendor_child_inner_pre_btn">
                                <button type="submit" class="compare_btn">SEND ENQUIRY </button>
                                <button type="submit" class="compare_btn" id="getcontbutton">VIEW CONTACT DETAILS </button>
                                {# {% if profile is not empty %}
                                <div id="getcontvalue" class="contactdetails"><h2>Contact details</h2> <p><label>SMS Phone</label> : {{ profile.smsphone }} </p><p><label>Home Phone</label> : {{ profile.homephone }}</p>  <p><label>Address</label> :{{ profile.address }}</p></div>
                                {% endif %} #}
                            </div>
                        </div>
                        <div class="two_vendor_child_inner">
                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home" class="active">Profile</a></li>
                                      <li><a href="#photos">Photos</a></li>
                                      <li><a href="#reviews">Ratings & Reviews</a></li>
                                      <li></li>
                                  </ul>
                              </div>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div id="home">
                                <h2>{{ profile.bizname}}</h2>
                                <div id="profile_child">
                                  {% if profile.description is not empty %}
                                    <h2>{{ profile.description[:50] }}</h2>
                                    <p>{{ profile.description }}</p>
                                  {% else %}
                                    <h2>No description</h2>
                                    <p>No description</p>
                                  {% endif %}
                                </div>
                                <div class="profile_child_one">
                                    <h3>Services Portfolio</h3>
                                    {% for c in categories %}
                                      <p>{{ c['category'] }}</p>
                                    {% endfor %}

                                    {% if services is not empty %}
                                      {% for service in services %}
                                        <p>{{ service.category }}</p>
                                      {% endfor %}
                                    {% endif %}

                                    <h3>Certifications</h3>
                                    {% if certifications is not empty %}
                                    {% for c in certifications %}
                                    <p> {{ c.certification }} </p>
                                    {% endfor %}
                                    {% else %}
                                      <p>No certifications available</p>
                                    {% endif %}

                                    <h3>Products</h3>
                                    {% if products is not empty %}
                                    {% for pr in products %}
                                    <p> {{ pr.product }} </p>
                                      {% endfor %}
                                    {% else %}
                                      <p>No products available</p>
                                    {% endif %}
                                </div>
                                <div class="profile_child_two">
                                    <h3>Service Area </h3>
                                    {% if cities is not empty %}
                                    {% for city in cities %}
                                      <p>{{ city.city }}</p>
                                    {% endfor %}
                                    {% else %}
                                      <p>No service area</p>
                                    {% endif %}

                                    <h3>Business License</h3>
                                    <img src="{{ asset('img/praper_three.png') }}" alt="Praper_three">
                                    {% if expLicense is not empty %}
                                      <a href="{{ asset('img/licenses/' ~ expLicense.file ~ '') }}" target="_blank">CLICK TO VIEW</a>
                                    {% else %}
                                      <p>No license to view</p>
                                    {% endif %}
                                </div>
                            </div>
                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home">Profile</a></li>
                                      <li><a href="#photos" class="active">Photos</a></li>
                                      <li><a href="#reviews">Ratings & Reviews</a></li>
                                      <li></li>
                                  </ul>
                              </div>
                            <div id="photos">
                                <h2>Photos</h2>
                                <div id="photos_child">
                                    <h2>My Work</h2>
                                    <p>{{ albums|length }} Projects</p>

                                    <div id="owl-demo" class="owl-carousel">
                                    {% for i,album in albums %}
                                      {% for j,p in photos[i] %}
                                        {% set albumid = p.albumid %}
                                        {% set photoid = p.photoid %}
                                        {% set ext = p.phototag %}
                                        {% set imagepath = "http://115.124.120.36/stagging/web/gallery/"~albumid~"/"~albumid~loop.index %}
                                    <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ imagepath }}" alt="{{ album.albumname }}" height="144" width="150">
                                            <h3>{{ album.albumname }}</h3>
                                        </div>
                                    </div>

                                    {% endfor %}
                                    {% endfor %}
                                    {# <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ asset('http://115.124.120.36/stagging/web/img/superiourtwo.png') }}" alt="Superior">
                                            <h3>Superior</h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ asset('http://115.124.120.36/stagging/web/img/gardenlip.png') }}" alt="Gardenleep">
                                            <h3>Gardenleep</h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ asset('http://115.124.120.36/stagging/web/img/eoge.png') }}" alt="EDGE Landscaping">
                                            <h3>EDGE Landscaping</h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ asset('http://115.124.120.36/stagging/web/img/rising.png') }}" alt="Rising Green">
                                            <h3>Rising Green Inc.</h3>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ asset('http://115.124.120.36/stagging/web/img/rising.png') }}" alt="Rising Green">
                                            <h3>Rising Green Inc.</h3>
                                        </div>
                                    </div> #}






                                </div>
                            </div>
                            {# <div id="owl-demo" class="owl-carousel">
                                  {% for i, album in albums %}
                                    {% set albumid = album.albumid %}
                                    {% set defaultphotoid = album.defaultphotopath %}
                                    {% set imagepath = "http://115.124.120.36/stagging/web/gallery/"~albumid~"/"~albumid~loop.index %}
                                    {% set i = i+1 %}
                                    {% set photocount = album.photocount %}
                                    <div class="item">
                                        <div class="inner_child_photos">
                                            <img src="{{ imagepath }}" alt="{{ album.albumname }}">
                                            <h3>{{ album.albumname }}</h3>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div> #}
                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home">Profile</a></li>
                                      <li><a href="#photos">Photos</a></li>
                                      <li><a href="#reviews" class="active">Ratings & Reviews</a></li>
                                      <li></li>
                                  </ul>
                              </div>
                            <div id="reviews">
                                <h2>Ratings & Reviews</h2>
                               {#  <button type="submit" class="reviews_button_review">Write a Review</button> #}
                                {% if war == 3%}
                                  <p> You are logged in as <h3>{{ profile.bizname }}</h3></p>
                                {% elseif war == 2%}
                                  {% set userid = app.session.get('uid') %}
                                  {% set returnurl = 'b_bids_b_bids_vendor+'~vendorid %}
                                  {% set userid = app.session.get('uid') %}
                                  <button type="submit" class="reviews_button_review" onclick="window.open('{{ path('b_bids_b_bids_login', {'returnurl': returnurl} ) }}', '_self');">Write a Review</button>
                                {% elseif war == 1 %}
                                  {% set userid = app.session.get('uid') %}
                                  {% set returnurl = '/post/review/'~ userid ~'/'~ vendorid ~'/'~ enqid %}
                                    <button type="submit" class="reviews_button_review" onclick="window.open('{{ path('b_bids_b_bids_post_review', {'authorid':userid, 'vendorid': vendorid, 'enquiryid':enqid }) }}', '_self');">Write a Review</button>
                                {% elseif war == 0 %}
                                   <p> You do not have any enquiry mapped against this vendor to write a review </p>
                                {% endif %}

                                <div id="reviews_child">
                                    <ul>
                                        <li><h4>Sort by newest</h4></li>
                                        <li><a href="?sort=date"><p>Date</p></a></li>
                                        <li><a href="?sort=rating"><p>Rating</p></a></li>
                                    </ul>
                                </div>
                                <div class="comments_area">
                                    {% for r in reviews %}
                                    <div class="reviews_inner_rating">
                                         <div class="rating_inner rating_inners">
                                             <ul>
                                                 {% if r.rating == 0 %}
                                                  <li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li>
                                                  {% else %}
                                                   <li><img src="{{asset('img/star'~ roundrating(r.rating|round(1, 'floor')) ~'.png') }}" alt="star{{ r.rating|round(1, 'floor') }}"></li>
                                                   {% endif %}
                                             </ul>
                                         </div>
                                        <p><span>{{ r.rating }}</span>| {{ r.created|date('Y-m-d') }}</p>
                                    </div>
                                    <div class="reviews_inner_rating_text">
                                        <p><span>{{ r.author }}</span>{# in <a href="">West Hollywood, CA</a></br>
                                         <span>Project:</span> <a href="">Renovate or Repair a Home</a> #}</p>
                                        <p class="botm">{{ r.review }}</p>
                                    </div>
                                  {% endfor %}
                          <div class="border_area"></div>
                         {# <div class="pagenavarea">
                            <div class="pagenavarea_inner">
                             <ul>
                                 <li><a href="">Prev</a></li>
                                 <li><a href="" class="actve">1</a></li>
                                 <li><a href="">2</a></li>
                                 <li><a href="">3</a></li>
                                 <li><a href="">4</a></li>
                                 <li><a href="">.....</a></li>
                                 <li><a href="">29</a></li>
                                 <li><a href="">30</a></li>
                                 <li><a href="">Next</a></li>
                             </ul>
                             </div>
                         </div> #}
                                </div>
                            </div>
                          </div>
                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home" class="active">Profile</a></li>
                                      <li><a href="#photos">Photos</a></li>
                                      <li><a href="#reviews">Ratings & Reviews</a></li>
                                      <li><a href="#homes">Top of Page</a></li>
                                  </ul>
                              </div>

                        </div>
                       </div>
                    </div></div>

            <div class="two_vendor_sideber"><!-- Sidber -->
                            <div class="two_vendor_sideber_inner">
                                <h2>Find Landscaping & Gardening Companies</h2>
                                <p>Just tell us a little bit about what you need, and receive quotations from leading landscaping & gardening companies in the UAE.</p>
                                <button type="submit" class="compare_btn">COMPARE QUOTES NOW</button>
                            </div>
                        </div>
        </div>




        <script src="{{ asset('js/plugins.js') }}"></script>
          {#
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ asset('js/jquery-1.11.2.min.js') }}"><\/script>')</script>
          <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/main.js') }}"></script> #}

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>

</div>
</div>

{% endblock %}

