{% extends '::base.html.twig' %}

{% block banner %}
{% endblock %}

{% block maincontent %}
<script src = "{{ asset('js/jquery.timers-1.2.js') }}"></script>
<script src = "{{ asset('js/jquery.easing.1.3.js') }}"></script>
<script src = "{{ asset('js/jquery.galleryview-3.0-dev.js') }}"></script>
<script src = "{{ asset('js/bootstrap.js') }}"></script>
<script src = "{{ asset('js/bootstrap.min.js') }}"></script>
<link type="text/css" href = "{{ asset('css/jquery.galleryview-3.0-dev.css') }}" rel="stylesheet">
<script>
$(document).ready(function(){
	$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;

        // Create stars holder
        var $span = $('<span />').width(size);

        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

	$("button[data-target^='.bs-example-modal-lg_']").click(function(){
	var clss = $(this).attr('data-target');

		var cs = clss.split("_");

			$('#myGallery'+cs[1]).galleryView();


	});

$('#getcontvalue').hide();
	$('#getcontbutton').click(function(){
	$('#getcontvalue').show();
	$('#getcontbutton').hide();
});

$('div[id^="morediv"]').hide();
	$('span[id^="seemore"]').click(function(){
		var idd = $(this).attr('id');
		var arr = idd.split("_");

		$('#lessdiv_'+arr[1]).hide();
		$('#morediv_'+arr[1]).show();
	});
		$('span[id^="seeless"]').click(function(){
			var idd = $(this).attr('id');
			var arr = idd.split("_");
			$('#morediv_'+arr[1]).hide();
			$('#lessdiv_'+arr[1]).show();
		});



});
</script>

<div class="container vendor-view">
	<div class="breadcrum">Home / Vendor Review / {% for p in profile %}{{ p.bizname }} {% endfor %}</div>
		<div class="row vendor-detail-block">
			<div class="col-md-3 vendor-img">
				{% for p in profile %}
					<div class="thumbnail">
						<img src="http://115.124.120.36/web/logo/{{ p.logopath }}"/>
					</div>
				{% endfor %}
			</div>
			<div class="col-md-6 vendor-title">
				<h2>{% for p in profile %}{{ p.bizname }}{% endfor %}</h2>
				<div class="share">
				<!-- AddThis Button BEGIN -->
					<div class="addthis_toolbox addthis_default_style ">
					<a class="addthis_button_preferred_1"></a>
					<a class="addthis_button_preferred_2"></a>
					<a class="addthis_button_preferred_3"></a>
					<a class="addthis_button_preferred_4"></a>
					<a class="addthis_button_compact"></a>
					<a class="addthis_counter addthis_bubble_style"></a>
					</div>
				<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-53799bdd524f2e06"></script>
				<!-- AddThis Button END --></div>
			</div>
			<div class="col-md-3 button-block">
					{# <input class="btn btn-success btn-block" type="submit" onclick="window.open('{{ path('b_bids_b_bids_post_by_search_inline') }}', '_self');" value="Request for Quotes"> #}
					<input class="btn btn-success btn-block" type="submit" id="getcontbutton"  value="Get Contact Details">
					{% for p in profile %}
					<div id="getcontvalue" class="contactdetails"><h2>Contact details</h2> <p><label>SMS Phone</label> : {{ p.smsphone }} </p><p><label>Home Phone</label> : {{ p.homephone }}</p>  <p><label>Address</label> :{{ p.address }}</p></div>
					{% endfor %}
			</div>
		</div>
		<div class="row vendor-content-block">


		<ul class="nav nav-tabs" id="myTab">
		  <li id="profileli" class='active'><a href="#profile" data-toggle="tab">Profile</a></li>
		  <li id="photosli"><a href="#photos" data-toggle="tab">Photos</a></li>
		  <li id="ratingreviews"><a href="#rating" data-toggle="tab">Rating & Reviews</a></li>
		</ul>

		<div class="tab-content vendor-panel">
		  <div class="tab-pane active" id="profile">
					{% for p in profile %}
							<h1>{{ p.bizname }}</h1>
							<p>{{ p.description }}</p>
					{% endfor %}
				<div class="row">
					<div class="col-md-4">
						<h2>Services Offered</h2>
						<ul>
							{% for c in categories %}
								<li>{{ c['category'] }}</li>
							{% endfor %}
							{% for key,value in subs %}
								<li>{{ value }}</li>
							{% endfor %}
						</ul>
					</div>
					<div class="col-md-4">
						<h2>Area Serviced</h2>
						<ul>
							{% if cities is not empty %}
							{% for city in cities %}
								<li>{{ city.city }}</li>
							{% endfor %}
							{% else %}
								<li>No service area</li>
							{% endif %}
						</ul>

						<h2>Brands & Products</h2>
						<ul>
							{% if products is not empty %}
								{% for pr in products %}
								<li> {{ pr.product }} </li>
								{% endfor %}
							{% else %}
								<li>No products available</li>
							{% endif %}
						</ul>
					</div>
					<div class="col-md-4">
						<h2>Certifications</h2>
						<ul>
							{% if certifications is not empty %}
								{% for c in certifications %}
								<li> {{ c.certification }} </li>
								{% endfor %}
							{% else %}
								<li>No certifications available</li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="row">
					{# <div class="col-md-4">
						<h2>Area Serviced</h2>
						<ul>
						{% if cities is not empty %}
							{% for city in cities %}
								<li>{{ city.city }}</li>
							{% endfor %}
							{% endif %}
						</ul>
					</div> #}
					{# <div class="col-md-4">
						<h2>Quick Info</h2>
						<ul>
							{% for c in certifications %}
								<li>{{ c.certification }} </li>
							{% endfor %}
						</ul>
					</div> #}
					<div class="col-md-4">

					</div>
				</div>
		  </div>
		  <div class="tab-pane" id="photos">

			{% for p in profile %}
				<h1>{{ p.bizname }}</h1>
			{% endfor %}


			 <div class="row vendor-album">
				{% for i, album in albums %}
					{% set albumid = album.albumid %}
	                {% set defaultphotoid = album.defaultphotopath %}
            		{% set imagepath = "http://115.124.120.36/stagging/web/gallery/"~albumid~"/"~albumid~loop.index %}
					{% set i = i+1 %}
					{% set photocount = album.photocount %}


				<div class="col-md-4 album-block">
					<div class="image-block">
						<img src="{{ imagepath }}" width="90px" ></div>
					<div class="content-block">
						<div><strong>{{ album.albumname }}</strong></div>
						<button class="photobutton" data-target=".bs-example-modal-lg_{{ i }}" data-toggle="modal">
							{{ album.photocount }} Photo(s)</button>
						<div class="photodes">
							<div id="lessdiv_{{ i }}" >{% if album.summary|length > 50 %} {{ album.summary| slice(0,50) }}...<span id="seemore_{{ i }}"> see more </span> {% else %} {{ album.summary }} {% endif %}</div>
							<div id="morediv_{{ i }}">  {{ album.summary }} <span id="seeless_{{ i }}"> less </span> </div>
						</div>
						{# {{ album.updated| date('jS F, Y') }} #}
							<div class="modal fade bs-example-modal-lg_{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
							  <div class="modal-dialog modal-lg{{ i }}">
								<div class="modal-content" id="myModal{{ i }}">
								<ul id="myGallery{{ i }}">

										{% for pic in 1..photocount %}
										<li><img src="http://115.124.120.36/stagging/web/gallery/{{ albumid }}/{{ albumid ~ pic }}" alt="{{ pic }}" /></li>
										{% endfor %}

									</ul>
								</div>
							  </div>
							</div>
					</div>
				</div>
				{% endfor %}

			 </div>
			</div>
		  <div class="tab-pane" id="rating">
			<div class="row vendor-review-header">
				<div class="col-md-9">
					<h2>Ratings & Reviews</h2>
					{% for p in profile %}
							<h3>{{ p.bizname }}</h3>
					{% endfor %}
				</div>
				<div class="col-md-3 getcontactdetails">

				{% if war == 3%}
					<p> You are logged in as {% for p in profile %}<h3>{{ p.bizname }}</h3>	{% endfor %} </p>
				{% elseif war == 2%}
					{% set userid = app.session.get('uid') %}
					{% set returnurl = 'b_bids_b_bids_vendor+'~vendorid %}
					{% set userid = app.session.get('uid') %}
					<input class="btn btn-success btn-block" type="submit" onclick="window.open('{{ path('b_bids_b_bids_login', {'returnurl': returnurl} ) }}', '_self');" value="Please login to Write a Review">
					Real feedback from real Business Bids.
				{% elseif war == 1 %}
					{% set userid = app.session.get('uid') %}
					{% set returnurl = '/post/review/'~ userid ~'/'~ vendorid ~'/'~ enqid %}
					<input class="btn btn-success btn-block" type="submit" onclick="window.open('{{ path('b_bids_b_bids_post_review', {'authorid':userid, 'vendorid': vendorid, 'enquiryid':enqid }) }}', '_self');" value="Write a Review">
					Real feedback from real Business Bids.
				{% elseif war == 0 %}
					 <p> You do not have any enquiry mapped against this vendor to write a review </p>
				{% endif %}

				</div>
			</div>
			<div>
				{% for r in reviews %}
				<div>
					<h4>{{ r.author }}</h4>
					<p>{{ r.review }}</p>
					<span class="stars">{{ r.rating }}</span>| {{ r.created|date('Y-m-d h:i:s') }}
				</div>
				{% endfor %}
			</div>
		</div>
		</div>

			<script>
				$(function(){
				var loc = window.location.href;
				var arr = loc.split('#');
				if(arr[1]=="rating"){
						$('#myTab a[href="#rating"]').tab('show');
				}
				})
			</script>

		</div>

</div>

{% endblock %}

