{% extends '::base.html.twig' %}

{% block banner %}
{% endblock %}

{% block maincontent %}
<div>
        <span>
{% for a in albuminfo %}

              <span> Album Name: {{ a.albumname }}</span>
              <span> Album Summary: {{ a.summary }}</span>
{% endfor %}
<span>
{% for p in photos %}
	{% set albumid = p.albumid %}
	{% set photoid = p.photoid %}
	{% set ext = p.phototag %}
	{% set imagepath = "http://115.124.120.36/stagging/web/gallery/"~albumid~"/"~albumid~loop.index %}
	<img src="{{ imagepath }}" height="300" width="200">
{% endfor %}
</span>
</div>
{% endblock %}
