<html>
    <p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Dear {{ name }},</p>
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
		Thank you for submitting your feedback on the respective vendor.
	</p>
			
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
		We have now published your review and passed on your feedback to the vendor.
	</p>
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
		To review your feedback please login to your dashboard or visit www.businessbid.ae
	</p>
       
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
		Please be assured that we will always strive to serve you better.
	</p>
       
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
		If you have any questions or need help call us on 04 42 13 777.
	</p>
           
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Regards
		<br>
		BusinessBid</p>
    </p>
</html>
