<p>
    <span  style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#000;"><b>Dear {{ name }}</b> ,</span>
    <span  style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#000;">
        <span>
            <br>
            Customer wrote a feedback about you.
            <br>
            <br>
            Contact Admin about to publish the feedback.
            <br>
            <br>
            To view your past feedbacks please login to your dashboard or visit www.businessbid.ae
            <br>
            <br>
            Please be assured that we will always strive to serve you better.
            <br><br>
        </span>
        <b>If you have any questions or need help call us on 04 42 13 777</b>
        <br>
        <br>
        Regards
        <br>
        BusinessBid
        <br>
        <br>
    </span>
    <span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#1f497d">
        <u></u>
        <u></u>
    </span>
</p>