{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container">
<div class="page-title1">Login</div>
<div class="row authenwrapp">
	<p>Your username already exists in our Database. Please enter your password to continue! </p>
<div class="authenwrapp-block">
		<div class="col-md-6 authenlogin">
				{{ form_start(form) }}
					{{ form_errors(form) }}
			{% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>
				
			{% endfor %}
			
			{% for flashMessage in app.session.flashbag.get('success') %}

			<div class="alert alert-success">{{ flashMessage }}</div>
				
			{% endfor %}
			{% for flashMessage in app.session.flashbag.get('message') %}

			<div class="alert alert-success">{{ flashMessage }}</div>
				
			{% endfor %}
			
			<div>
				<div class="control-group"><label>Username</label></div>

				<div class="control emailhidden"><input type="text" readonly="readonly" name="username" value ="{{ useremail }}"/></div>
				<div class="control-group">{{ form_label(form.password) }} <span>*</span></div> <div class="control">{{ form_widget(form.password) }}</div>
				<div class="control">{{ form_rest(form) }} </div> 
				
			</div>
		</div>
		<div class="col-md-5 forgotlogin">
			<div> <span class="orclass">OR</span> <a href="{{ path('b_bids_b_bids_forgot_password_auto', {'email': useremail}) }}">Click here to reset your Password</a></div>

		</div>
</div>
</div>
</div>
{% endblock %}
