{% set pid = app.session.get('pid') %}

{% extends  pid == 2 ? '::consumer_dashboard.html.twig' :  pid == 3 ? '::vendor_dashboard.html.twig' : '::base_admin.html.twig' %}

{% block pageblock %}


<div class="container">
<div class="page-title"><h1>Change your password</h1></div>
<div class="col-md-12 consumer-pass">
<div class="form_wrapper col-md-6">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	 {{ form_start(form) }}
		{{ form_errors(form) }}
		<div>
			<div class="control-group">{{ form_label(form.oldpassword) }}</div><div class="control"> {{ form_widget(form.oldpassword) }}</div>
			<div class="control">{{ form_widget(form.newpassword) }} </div>
			<div class="control">{{ form_rest(form) }}</div>
		</div>
			 
	{{ form_end(form) }}
	
</div>
</div>
</div>
{% endblock %}
