{% extends '::newconsumer_dashboard.html.twig' %}


{% block enquiries %}


<script>
$(document).ready(function(){
$('#logo-form').hide();
$('.albumform').hide();
	$('#changeimage').click(function(){

		$('#logo-form').show(); 
	});
	$('#newalbum').click(function(){
		$('.albumform').show(); });

	});

</script>
<div class="col-md-9 dashboard-rightpanel user-profile-basic">
	<div class="page-title"><h1>My Account</h1></div>
	<div class="row user-profile-block">
		<div class="user-profile-basic">
			
				
			<div class="row">
			 {% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div> 
	
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>	
	
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
				<div class="tab-content">
					 <div class="panel-title"><h2>Update Password</h2></div>
					 <div class="tab-pane active profile-inform" id="profile">
						<div class="col-md-8 profile-info">
						{{ form_start(passwordform) }}
						{{ form_errors(passwordform) }}
							<div class="form-item">{{ form_label(passwordform.password) }}<span class="req">*</span> :<div class="control"> {{ form_widget(passwordform.password) }}</div></div>
							<div class="form-item">{{ form_label(passwordform.npassword) }}<span class="req">*</span> :<div class="control"> {{ form_widget(passwordform.npassword) }} </div></div>
							<div class="form-item">{{ form_label(passwordform.cpassword) }}<span class="req">*</span> :<div class="control"> {{form_widget(passwordform.cpassword) }} </div></div>
							<div class="form-item pull-right text-right">{{ form_widget(passwordform.Submit) }}</div>
							
						{{ form_end(passwordform) }}
						</div>
					</div>
				</div>
			</div>	
		</div>
		</div>
		</div>
	

{% endblock %}

