{% extends '::consumer_dashboard.html.twig' %}


{% block pageblock %}
<div class="container">
<div class="page-title"><h1>My Enquiries</h1></div>
<div>
<table class="vendor-enquiries">
<thead><tr><td>Enquiry</td><td>Description</td><td>City</td><td>Category</td><td>Enquiry Date</td></tr></thead>

	{% for enquiry in enquiries %}
	<tr>
<td>{% if enquiry.subj|length>40 %} {{ enquiry.subj|slice(0,40) }}... {% else %} {{ enquiry.subj }} {% endif %}</td>
<td>{% if enquiry.description|length > 20 %} {{ enquiry.description|slice(0, 20) }}... {% else %} {{ enquiry.description }} {% endif %}</td>
<td>{{ enquiry.city }} </td>
<td>{{ enquiry.category }} </td>		
<td>{{ enquiry.created|date('Y-m-d h:i:s') }} </td>

	</tr>
	{% endfor %}
	</table>
</div>
</div> 
{% endblock %}               
