{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>Mapped Customer</h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
</div>
<div class="col-sm-6 vendor-user gray-bg">
	{% for u in user %}
		
		<div class="field-item"><label>Email Address</label><div class="field-value"> {{ u.email }}</div></div>


	{% endfor %}

	{% for a in account %}
		<div class="field-item"><label>Name</label><div class="field-value">{{ a.contactname }}</div></div>
		<div class="field-item"><label>Address</label><div class="field-value">{% if a.address is empty %} N/A {% else %}{{ a.address }}{% endif %}</div></div>
		<div class="field-item"><label>Mobile Number</label><div class="field-value">{{ a.smsphone }}</div></div>
		<div class="field-item"><label>Home Phone</label><div class="field-value"> {{ a.homephone }}</div></div>
		<div class="field-item"><label>Description</label><div class="field-value">{% if a.description is empty %} N/A {% else %} {{ a.description }} {% endif %}</div></div>
		
		

	{% endfor %}
	{% for e in enquiry %}
	<div class="field-item"><label>Job Request</label><div class="field-value"> {{ e.subj }}</div></div>
	
			<div class="field-item"><label>Location</label><div class="field-value"> {% if e.location is empty %} N/A {% else %} {{ e.location }}{% endif %}</div></div>
{% endfor %}
</div>
</div>
{% endblock %}
