{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}
<div class="col-md-9 dashboard-rightpanel">
<div class="page-title"><h1>My Customer Account</h1></div>
{# user update information #}
{% set pid = app.session.get('pid') %}
{% set uid = app.session.get('uid') %}

<div class="row">
<div class="panel-title"><h2>My Profile</h2></div>
	<div class="vendor-user user-information dashboard-container">
	{% for users in user %}
	
	{% for accounts in account %}
	<div class="field-item"><label>Contact Name</label><div class="field-value">{{ accounts.contactname }}</div></div>
	{% if accounts.bizname is not empty %}
	<div class="field-item"><label>Business/Company Name</label><div class="field-value">{{ accounts.bizname }}</div></div>
	{% endif %}
	<div class="field-item"><label>Mobile Number</label><div class="field-value">{{ accounts.smsphone }}</div></div>
	{% if accounts.homephone is not empty %}
	<div class="field-item"><label>Home Phone</label><div class="field-value">{{ accounts.homephone }}</div></div>
	{% endif %}
	{% if accounts.fax is not empty %}
	<div class="field-item"><label>Fax Number</label><div class="field-value">{{ accounts.fax }}</div></div>
	{% endif %}
	{% if accounts.address is not empty %}
	<div class="field-item"><label>Address</label><div class="field-value">{{ accounts.address }}</div></div>
	{% endif %}
	{% endfor %}
	<div class="field-item"><label>Email Address</label><div class="field-value">{{ users.email }}</div></div>
	<div class="field-item"><label>Member Since</label><div class="field-value">{{ users.created|date('Y-m-d h:i:s') }}</div></div>
	<div class="field-item"><label>Updated Date</label><div class="field-value">{{ users.updated|date('Y-m-d h:i:s') }}</div></div>
	<div class="field-item"><label>Last Access Date</label><div class="field-value">{{ users.lastaccess|date('Y-m-d h:i:s') }}</div></div>

	{% endfor %}
	</div>
	 

{# user update ends #}

	
</div>
{% if pid != 3 %}
<div class="row text-right update-account">	

		<a href="{{ path('b_bids_b_bids_consumer_update', {'consumerid':  uid  })  }}" class="btn btn-success"> Update My Profile </a>

</div>
	{% endif %}
{% endblock %}


