<table>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;"><b>Dear {{ name }},</b></p>
 
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;">Your account has been updated and you will now be able to access your Vendor Profile.</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;">Now you can login as vendor</p>

<p class="MsoNormal">
<span style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;">Regards<br>BusinessBid</span>
<span style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;">
<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">
<span style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt;">
<u></u>
<u></u>
</span>
</p>

</table>
