{% extends '::consumer_dashboard.html.twig' %}


{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel user-profile-basic">
	<div class="page-title"><h1>My Account</h1></div>
	<div class="row user-profile-block">
		<div class="user-profile-basic">
				
			<div class="row">
			 {% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div> 
	
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>	
	
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
				<div class="tab-content">
				  <div class="tab-pane active profile-inform" id="profile">
				<div class="col-md-8 profile-info delete-account">
				<h2>Delete Account</h2>
					<p>We are disappointed to hear that you wish to close your account!  Please call our Support Centre or Email us and we are confident that our team will be able to ease your concerns</p>
				<h5><strong>Customer Support Line :<a href-"#">(04) 42 13 777</a></strong></h5>
				<h5><strong>Email :<a href-"#">support@businessbid.ae</a></strong></h5>
				</div>
				</div>
				</div>
			</div>	
		</div>
		
	

{% endblock %}

