{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}



<script src="{{ asset('js/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" >
	$(document).ready(function() {
    $('#example').DataTable({
    	"searching": false,
    	"lengthChange": false,
    	"bSort": false
    });
} );
</script>
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>My Job Request</h1></div>

<div>
<table id="example">
	<thead>
	<tr>
		<th>Date</th>
		<th>Job Request Number</th>
		<th>Category</th>
		<th>Subject</th>
		<th>City</th>
		<th>Description</th>
		<th>My Job Request Details</th>
	</tr>
	</thead>

	{% if enquiries is not empty %}
	<tbody>
		{% for e in enquiries %}

				<tr>
					<td>{{ e.created|date('Y-d-m') }}</td>
					<td><a href="#" data-toggle="modal" data-target="#myModal" class="myModalEnq" data-enq="{{ e.id }}">{{ e.id }}</a></td>
					<td>{{ e.category }}</td>
					<td>{{ e.subj }}</a></td>
					<td>{{ e.location }}</td>
					<td>{{ e.description }} </td>
					<td><a href="{{ path('b_bids_b_bids_mapped_vendor',{'eid':e.id}) }}">View Matched Vendors</a></td>
				</tr>
			{% endfor %}
		</tbody>

		{% endif %}
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Additional Information</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>


</div>
<script>
	$(document).ready(function(){$(".myModalEnq").on("click",function(){$(".modal-body").html("Loading Data..... Please wait.");var a=$(this).attr("data-enq"),t="{{ path('b_bids_b_bids_form_extra_fields', {'id':'enq' } ) }}",d=t.replace("enq",a);$.ajax({url:d,success:function(a){$(".modal-body").html(a)}})})});
</script>
{% endblock %}
