{% extends '::consumer_dashboard.html.twig' %}

{% block jquery %}
{# JavaScript/JQuery functions starts #}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script src="http://code.jquery.com/jquery-latest.js"></script>
 <script type="text/javascript">
 $(document).ready(function () {
 
 
    $('input[id^="form_category"]').click(function () {
		$('input[id^="form_category"]').each(function(){
			$(this).parent().find('.subcategory').remove();
			
		
			
		});
		
			var idarr = $(this).attr('id').split('_');
			var s=$(this).val();
			var ids= $(this).attr('id');
		   loadjsajax(ids,s);   
			$('#cityvalidate').css('display','none');
		   	$('#city').css('display','block');
		   

    });
   
});


function loadjsajax(id,value)
{

var realpath = window.location.protocol + "//" + window.location.host + "/";
var xmlhttp;
if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
  xmlhttp=new XMLHttpRequest();
  }
else
  {// code for IE6, IE5
  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
xmlhttp.onreadystatechange=function()
  {
  if (xmlhttp.readyState==4 && xmlhttp.status==200)
    {
			
			var newNode = document.createElement('div');  
			newNode.id =  "subcat"+value;
			newNode.setAttribute("class","subcategory");
			newNode.innerHTML =xmlhttp.responseText;
			var abc = document.getElementById(id).parentNode;
			
			abc.appendChild(newNode);	
			
			
    }
  }
xmlhttp.open("GET",realpath+"/pullcategoriesBySegmentstovendor.php?id="+value+"&mode=selectsubcat",true);
xmlhttp.send();
}

</script>
             
{# JavaScript/JQuery functions ends #}

{% endblock %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">
	<div  class="page-title"> <h1>Freetrail Lead  Pack</h1></div>
	{% for flashMessage in app.session.flashbag.get('success') %}
		<div class="alert alert-success">{{ flashMessage }}</div>
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('error') %}
		<div class="alert alert-error">{{ flashMessage }}</div>
	{% endfor %}
	<div class="category-block"><h4>CHOOSE YOUR BUSINESS OFFERING </h4>
		<div class="category-content">
			
			<div class="field-item">
				{{ form_start(form) }}
				{% for child in form.category %}
					<div class="field-item">{{ form_widget(child) }} {{ form_label(child) }} </div>
				{% endfor %}
				
				
			</div>
		</div>
	</div>
	<div class="category-block"><h4>CHOOSE YOUR CITY <span data-toggle='tooltip'  title="Please select at least one City">i</span></h4>
		<div class="category-content"><p>
			<p class="message" id="cityvalidate" >Please select the category</p>
			<div class="city" id="city" style="display:none">
				{% for child in form.city %}
					<div class="field-item">{{ form_widget(child) }} {{ form_label(child) }}</div>
				{% endfor %}
			</div>
		</div>
	</div>
		<div class="col-sm-12 side-clear proceed-freetrial"><div class="row"> {{ form_widget(form.free, { 'label': 'Proceed to your Free Trial now' }) }} </div></div>
	</div>

{% endblock %}
