{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
<div class="container payment-confirmation">
<br>
<div class="page-title"><h1>Order Confirmation</h1></div><br>
<h5>Thank you for your payment, your order number is {{ ordernumber }}</h5><br>
<p>Your order will be activated within 48 hours of the payment being processed.<br>
Businessbid has access to customers who are looking to engage vendors all over the UAE for their project needs.</p><br>
<p>With your own BusinessBid Account you can be assured that you have access to qualified customers leads<br>
thus generating a reliable and easy source of new business generation.</p>
<p>Please ensure you set up your dashboard and profile to reflect your preferences and business needs.</p>
<br>
<div><a href="{{ path('b_bids_b_bids_vendororders') }}" class="btn btn-success see-all-cat">CONTINUE</a></div>

<div class="col-sm-10 next-step">
<div class="page-title"><h1>WHAT ARE THE NEXT STEPS?</h1></div>
<ul>
 <li>Once your payment has been processed you will begin to receive customer enquiries and leads on the registered mobile contact number for the services that you have subscribed for. This Usually takes up to 48 hours, defending upon the mode of payment.</li>
 <li>You will receive an update notification from the BusinessBid team and/or contact from your account manager. </li>
</ul>
<p>If you have questions or need assistance contact us on 04 42 13 777 or email us on <a href="mailto:support@businessbid.ae" target="_top">support@businessbid.ae</a></p>
</div>
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>

</div>
{% endblock %}
