{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
<script>
<script>
$('.bbspop').popover();
$('.bbspop').popover({ trigger: "hover" });
</script>
</script>
	<style type="text/css">
	.camouflage{
		display: none;
	}
	.exposed{
		display: block;
	}
	.errorinput{ content: attr(title); color: red; margin-left: 0.6rem; }
	</style>
<div class="container">
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>

<div class="col-sm-12">
	<div class="package-details">
		<table width="100%" border="1" cellspacing="5" cellpadding="5" id="selectpackagedetails">
			<thead>
				<tr>
					<td width="216">Package Details </td>
					<td width="197">Price</td>
					<td width="189">Discount</td>
					<td width="189">Total</td>
				</tr>
			</thead>
			<tbody>
				{% set OTC = 0 %}
				{% set grandTotal = 0 %}
				{% for lead in purchasingLeads %}
					{% set priceArray = lead.price |split(' - ') %}

				<tr>
					<td width="216">{{ lead.plan }} Package: {{ lead.category }}</td>
					{% set multiplier = leadsPerPack[lead.plan] %}
					<td width="197">AED {{ priceArray[0] * multiplier }}</td>
					<td width="189">
						{% if lead.plan != 'Bronze' %}
							{% set selPlan = leadsPack[lead.plan] %}
							AED {{ (priceArray[0] * leadsPerPack[lead.plan]) - (priceArray[selPlan] * leadsPerPack[lead.plan]) }}
						{% else %}
							AED 0
						{% endif %}
					</td>
					<td width="189">AED {% if lead.plan != 'Bronze' %}{{ priceArray[selPlan] * leadsPerPack[lead.plan] }}{% set grandTotal = grandTotal + (priceArray[selPlan] * leadsPerPack[lead.plan]) %}{% else %}{{ priceArray[0] * multiplier }}{% set grandTotal = grandTotal + (priceArray[0] * multiplier) %}{% endif %}</td>

				</tr>
				{% endfor %}
				{% if otcStatus == 0 %}
					{% set OTC = registerFee %}
				<tr>
					<td width="216">Account Setup Fee <span><a tabindex="0" class="popover-icon" role="button" data-toggle="popover" data-html="true" data-placement="bottom" data-trigger="hover" title="The Account Setup fee is one time charge and includes:" data-content="<ul><li>Creation of dedicated webpage with a full business profie.</li> <li>Access to 24/7 online dashboard with reporting features.</li> <li>Compilation and publication of 5 recent customer reviews.</li></ul>"></a></span>
					</td>
					<td width="197">AED {{ registerFee }}</td>
					<td width="189">AED 0</td>
					<td width="189">AED {{ registerFee }}</td>
				</tr>
				</tbody>
				{% endif %}
				<tfoot>
				<tr>
					<td width="216">Grand Total</td>
					<td width="197"></td>
					<td width="189"></td>
					<td width="189"><strong>AED {{ (grandTotal + OTC)|number_format(2, '.', ',') }}</strong></td>
				</tr>
				</tfoot>
		</table>
	</div>
	<div class="paymentmethod">
		<table width="100%" border="1" cellspacing="5" cellpadding="5">
			<thead>
				<tr>
					<td width="100%">Payment Method</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td width="100%"><strong>How would you like to pay <span class="payment_value">{{ (grandTotal + OTC)|number_format(2, '.', ',') }}</span> AED ?</td>
				</tr>
			</tbody>
		</table>
		<div class="credit-card-option col-sm-12 position-in-opt left-clear" style="width:100%; float:left;">
			<div class="col-sm-12 position-in-opt"><input type="radio" name="payType" checked="checked" value="cc" />Credit Card</div>

			<div class="col-sm-9">
				{{ form_start(form,{'attr': {'id': 'ccForm'}}) }}
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						{# {{ form(form) }} #}
						<tr>
							<td width="20%">{{ form_label(form.ccNumber) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(form.ccNumber) }}<small class="errorinput" id="errorCCNum"></small></td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(form.ccName) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(form.ccName) }}<small class="errorinput" id="errorCCName"></small></td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(form.ccExpDate) }}:<span class="credit">*</span></td>{#
							<td width="80%">{{ form_widget(form.ccExpDate) }}</td> #}
							<td width="80%">{{ form_widget(form.ccExpDate, {'date_pattern': '<span style="display: none;">{{ day }}</span> {{ month }} <span class="delim">&#47;</span> {{ year }}<small class="errorinput" id="errorCCExp"></small>'})  }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(form.ccCVV) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(form.ccCVV) }}<small class="errorinput" id="errorCCVV"></small></td>
						</tr>
					</tbody>
				</table>
				{{ form_end(form) }}
			</div>
			<div class="col-sm-3"><img src="{{ asset('img/payment-icon.jpg') }}" /></div>
		</div>

		 <div class="check-pickup-option col-sm-12 position-in-opt">
			<div class=""><input type="radio" name="payType" value="check pickup" />Cheque Pick Up</div>
			<!--<div class="col-sm-2" id="editAdress"><a>Edit Address</a></div>-->
			<div class="col-sm-12" id="checkAddShow">
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="100%">{{ vendorAddress }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 camouflage" id="checkFillForm">
				{{ form_start(checkForm,{'attr': {'id': 'checkForm'}}) }}
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="20%"><label>Company Name:</label></td>
							<td width="80%">{{ vendorCompName }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.address) }}<span class="credit">*</span>:</td>
							<td width="80%">{{ form_widget(checkForm.address) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.addresssecond) }}:</td>
							<td width="80%">{{ form_widget(checkForm.addresssecond) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.city) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.city) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.contactnumber) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.contactnumber) }}<small class="errorinput" id="errorConNum"></small></td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.contactperson) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.contactperson) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.bankname) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.bankname) }}</td>
						</tr>
						<tr>
							<td width="20%">{{ form_label(checkForm.checknumber) }}:<span class="credit">*</span></td>
							<td width="80%">{{ form_widget(checkForm.checknumber) }}</td>
						</tr>
						<tr class="camouflage">
							<td width="20%"></td>
							<td width="80%">{{ form_widget(checkForm.Submit) }}</td>
						</tr>
					</tbody>
				</table>
				{{ form_end(checkForm) }}
			</div>
		</div>

		 <div class="check-pickup-option col-sm-12 position-in-opt">
			<div class=""><input type="radio" name="payType" value="cash pickup" />Cash Pick Up</div>
			<!--<div class="col-sm-2" id="editAdress"><a>Edit Address</a></div>-->
			<div class="col-sm-12" id="cashAddShow">
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="100%">{{ vendorAddress }}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-sm-12 camouflage" id="cashFillForm">
                {{ form_start(cashForm,{'attr': {'id': 'cashForm'}}) }}
                <table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
                    <tbody>
                        <tr>
                            <td width="20%"><label>Company Name:</label></td>
                            <td width="80%">{{ vendorCompName }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.address) }}<span class="credit">*</span>:</td>
                            <td width="80%">{{ form_widget(cashForm.address) }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.addresssecond) }}:</td>
                            <td width="80%">{{ form_widget(cashForm.addresssecond) }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.city) }}:<span class="credit">*</span></td>
                            <td width="80%">{{ form_widget(cashForm.city) }}</td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.contactnumber) }}:<span class="credit">*</span></td>
                            <td width="80%">{{ form_widget(cashForm.contactnumber) }}<small class="errorinput" id="errorConNum"></small></td>
                        </tr>
                        <tr>
                            <td width="20%">{{ form_label(cashForm.contactperson) }}:<span class="credit">*</span></td>
                            <td width="80%">{{ form_widget(cashForm.contactperson) }}</td>
                        </tr>
                        <tr class="camouflage">
                            <td width="20%"></td>
                            <td width="80%">{{ form_widget(cashForm.Submit) }}</td>
                        </tr>
                    </tbody>
                </table>
                {{ form_end(cashForm) }}
            </div>
		</div>

		{# <div class="paypal-option col-sm-12 position-in-opt">
			<div class="col-sm-10"><input type="radio" name="payType" value="paypal"/>PayPal</div><div class="col-sm-2"><img src="{{ asset('img/Paypal.jpg') }}" /></div>

			<div class="col-sm-12">
				{{ form_start(paypalForm,{'attr': {'id': 'payPalForm'}}) }}
				<table width="100%" border="1" cellspacing="5" cellpadding="5" class="paymentmethod">
					<tbody>
						<tr>
							<td width="100%"></td>
						</tr>
					</tbody>
				</table>
				{{ form_end(paypalForm) }}
			</div>
		</div> #}
	</div>
</div>
	<div class="row text-right update-account">
		<a href="#" class="btn btn-success"> Place Order </a>
	</div>
</div>
<script type="text/javascript" src="{{ asset('js/leads.paymentform.js') }}"></script>
{% endblock %}
