{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}

<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>My Job Request</h1></div>
{% if count !=0 %}
<div class="row text-right page-counter">
		<div class="counter-box"><span class="now-show">Now showing : {{ from }} to {{ to }} records</span></div>
	</div>
	{% endif %}
<div>
<table border="1">
						<tr>
							<th>Date</th>
							<th>Job Request Number</th>
							<th>Category</th>
							<th>Subject</th>
							<th>City</th>
                            <th>Description</th>
                            <th>My Job Request Details</th>
							
							
							</tr>
							{% if enquiries is not empty %}
							{% for e in enquiries %} 
							<tr>
							<td>{{ e.created|date('Y-d-m') }}</td>
							<td>{{ e.id }}</td>
							<td>{{ e.category }}</td>
							<td>{{ e.subj }}</a></td>
							<td>{{ e.location }}</td>
                            <td>{{ e.description }} </td>
                            <td><a href="{{ path('b_bids_b_bids_mapped_vendor',{'eid':e.id}) }}">View Mapped Vendors</a></td>
						</tr>
						{% endfor %}
                                           
						{% else %}
						<tr><td>No Enquiry Data</td></tr>
						{% endif %}
					</table>
					
</div>
{% if(count!=0) %}
<div class="pagination-wrapper">
			{% set Epage_count = -count//4 %}
				<ul class="pagination">

				 <li><a href="{{ path('b_bids_b_bids_consumer_postenquiries',{'offset':1}) }}">&laquo;</a></li>
				{% for i in 1..-(Epage_count) %}

				 <li><a href="{{ path('b_bids_b_bids_consumer_postenquiries',{'offset':i}) }}">{{ i }}</a></li>

				{% endfor %}

				<li><a href="{{ path('b_bids_b_bids_consumer_postenquiries',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
				</ul>
             </div>
             {% endif %}
</div> 
			

{% endblock %}
