<html>
    <p>
        <b>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif"><b>Dear {{ name }},</b></span>
        </b><br/>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Thank you for your purchase. Your job request number is  {{ OrderNumber }} .</p>
            <br/>
        </span>
        <span>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
                Our administrative teams will activate your purchase within 48 hours and you will start receiving new customer leads very soon to keep you busy!
            </P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
                Please be assured that we will always strive to serve you better.
            </P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
                If you have any questions or need help call us on 04 42 13 777.
            </P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
                <br>
            BusinessBid</p>
        </span>
    </p>
</p>
</html>
