{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
<div class="container">

<div class="page-title"><h1>Processing your paypal payment</h1></div>
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>

<div class="col-sm-12">
    <div class="package-details">

    </div>
    <div class="paymentmethod">


<form method="post" name="paypal_form" action="{{ formAction }}">
<input type="hidden" name="business" value="management@businessbid.ae">
<input type="hidden" name="cmd" value="_cart">
<input type="hidden" name="upload" value="1">
<input type="hidden" name="return" value="{{ return }}">
<input type="hidden" name="cancel_return" value="{{ cancel_return }}">
<input type="hidden" name="notify_url" value="{{ notify_url }}">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="invoice" value="1619351482">
<input type="hidden" name="item_name_1" value="Leads Purchase">
<input type="hidden" name="item_number_1" value="{{ purchaseID }}">
<input type="hidden" name="quantity_1" value="{{ quantity }}">
<input type="hidden" name="amount_1" value="{{ grandTotal }}">

{#
<input type="hidden" name="amount_1" value="{{ grandTotal }}">
<input type="hidden" name="first_name" value="Mohamed">
<input type="hidden" name="last_name" value="Asif">
<input type="hidden" name="address1" value="Address of me">
<input type="hidden" name="city" value="City of me">
<input type="hidden" name="state" value="State of me">
<input type="hidden" name="country" value="US">
<input type="hidden" name="zip" value="123456">
<input type="hidden" name="email" value="asif18@asif18.com">
#}
<center><br><br>If you are not automatically redirected to paypal within 5 seconds...<br><br>
<input type="submit" value="Click Here" class="btn-success"></center>
</form>
    </div>
</div>

</div>
<script type="text/javascript">
    $(document).ready(function() {
        document.paypal_form.submit();
    });
</script>
{% endblock %}
