{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

{# <div class="page-title"><h1>Select Your Lead Plan</h1></div> #}
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>

<div class="service-category-select col-sm-12 side-clear">
	<h2>Select Your Service Category</h2>
	<div class="filter-leadpack">
	<div class="col-sm-6 side-clear service-category-type">
		<div class="col-sm-9 side-clear">
			<input type="search" name="parentCat" id="parentCat" placeholder="Type service category, e.g - Accountant, Catering" title="Start typing a service category name" />
		</div>
		<div class="col-sm-3">
			<input class="submit-pack" type="submit" value="Add" id="autoCompleteAdd" />
		</div>
	</div>
	<div class="col-sm-1"><span class="ORval">OR</span></div>
	<div class="col-sm-5 side-clear service-category-option">
		<div class="col-sm-9 side-clear">
			<select name="selectBoxParentCat" id="selectBoxParentCat">
				<option selected="selected">Choose Category from List</option>
				{{ categoryOptions | raw }}
			</select>
		</div>
		<div class="col-sm-3 clear-right">
			<input class="submit-pack" type="submit" value="Add" id="selectBoxAdd" />
		</div>
	</div>
	</div>
	<div class="service-category-select col-sm-12">
		<table width="660" border="1" cellspacing="5" cellpadding="5" id="selectedCatTable">
			<thead>
			  <tr>
				<td width="216">Service Category </td>
				<td width="197">Price Per Lead (AED)</td>
				<td width="189">Action</td>
			  </tr>
			</thead>
			<tbody>
			  <tr id="nocat"><td colspan="3">No Service Category Selected.</td></tr>
			</tbody>
		</table>
	</div>
	<div class="row text-right update-account">
			<a href="#" class="btn btn-success"> Proceed to View Packages </a>
	</div>
</div>
</div>
<script type="text/javascript">
	var availableCat     = {{ catArray|json_encode|raw }};
	var availableNumbers = {{ catPrice|json_encode|raw }};
	var purchaseID       = '{{ purchaseID }}';
	var redeemUrl        = "{{ path('b_bids_b_bids_store_purchase_leads') }}";
	var planUrl          = "{{ path('b_bids_b_bids_vendor_lead_plan',{ 'purchaseID': purchaseID }) }}";
	var selectedCats     = new Array();
</script>
<script type="text/javascript" src="{{ asset('js/purchase.leads.js') }}"></script>
{% endblock %}
