{% if credits is empty %}

No leads credited	

{% else %}


<div class="top-space-block">
<table class="col-md-6 vendor-enquiries">
 <thead>
 <tr>
     <th>Category Name </th>
	 <th>Leads Credited </th>
	 <th>New Lead Count </th>
	 <th>Lead Credited Date </th>
</tr>
</thead>
<tbody>
{% for c in credits %}
 <tr>
     <td class="center-align">{{ c.category }} </td>
	 <td class="center-align"> {{ c.leadcredited }}</td>
	 <td class="center-align">{{ c.newleadcount }} </td>
	 <td class="center-align"> {{ c.created | date('Y-m-d') }}</td>	 
</tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
