{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<script>
$(document).ready(function(){

    $('#form_albumimages').change(function(e,data){
        var inp = $(this).get(0);
        var uploadErrors = [];
        var acceptFileTypes = /^image\/(gif|jpe?g|png)$/i;
        for (var i = 0; i < inp.files.length; ++i) {
          var name = inp.files.item(i).name;
          var fileType = inp.files.item(i).type;
          var fileSize = inp.files.item(i).size;
            if(!acceptFileTypes.test(fileType)) {
                uploadErrors.push('File No.'+ (i+1) +' is not an accepted file type');
            }
            if(fileSize > 5000000) {
                uploadErrors.push('Filesize is too big');
            }
          // console.log("here is a file name: " + name);
        }
        if(uploadErrors.length > 0) {
            alert(uploadErrors.join("\n"));
            $(this).val('');
            return false;
        }
        return true;
    });

	var max_fields      = 10; //maximum input boxes allowed
    var wrapper         = $(".products"); //Fields wrapper
    var add_button      = $(".add_products_button"); //Add button ID

    var x = 1; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
        if(x < max_fields){ //max input box allowed
            x++; //text box increment
            $("#moreproducts").append('<div class="morecertificates"><input type="text" name="product[]"/><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
    });

    var max_fields_cerificates      = 5; //maximum input boxes allowed
    var wrapper_cerificates         = $(".certificates"); //Fields wrapper
    var add_button_cerificates      = $(".add_certificate_button"); //Add button ID

    var x_cerificates = 1; //initlal text box count
    $(add_button_cerificates).click(function(e){ //on add input button click
        e.preventDefault();
        if(x_cerificates < max_fields_cerificates){ //max input box allowed
            x_cerificates++; //text box increment
            $("#morecertificates").append('<div class="morecertificates"><input type="text" name="certification[]"/><div class="upload-button"><input type="file" name="certificationfile[]"/></div><a href="#" class="remove_field">Remove</a></div>'); //add input box
        }
    });

    $(wrapper_cerificates).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x_cerificates--;
    });


$('#logo-form').hide();
$('.albumform').hide();
	$('#changeimage').click(function(){

		$('#logo-form').show();
	});
	$('#newalbum').click(function(){
		$('.albumform').show(); });

	});

</script>
<script type="text/javascript">
function deleteEntity(entity,id,vid)
{
    if(entity=="certification")
    {
        var con = confirm("Are You sure to delete the Certification");
        if(con)
        {
            var url = "{{ path('b_bids_b_bids_unlink_certification', {'id':'cid','vid':'vid'}) }}";
            var urlset = url.replace('cid', id);
            urlset = urlset.replace('vid', vid);
            window.open(urlset,"_self");
            return true;
        }
        else
        {
            return false;
        }
    }
    else if(entity=="product")
    {
        var con = confirm("Are You sure to delete the Product");
        if(con)
        {
            var url = "{{ path('b_bids_b_bids_unlink_product', {'id':'pid','vid':'vid'}) }}";
            var urlset = url.replace('pid', id);
            urlset = urlset.replace('vid', vid);
            window.open(urlset,"_self");
            return true;
        }
        else
        {
            return false;

        }
    }

    else if(entity=="license")
    {
        var con = confirm("Are You sure to delete the License");
        if(con)
        {
            var url = "{{ path('b_bids_b_bids_unlink_lisence', {'id':'eid','vid':'vid'}) }}";
            var urlset = url.replace('eid', id);
            urlset = urlset.replace('vid', vid);
            window.open(urlset,"_self");
            return true;
        }
        else
        {
            return false;
        }
    }

    else if(entity=="album")
    {
        var con = confirm("Are You sure to delete the Album");
        if(con)
        {
            var url = "{{ path('b_bids_b_bids_unlink_album', {'id':'eid','vid':'vid'}) }}";
            var urlset = url.replace('eid', id);
            urlset = urlset.replace('vid', vid);
            window.open(urlset,"_self");
            return true;
        }
        else
        {
            return false;
        }
    }
}
</script>
<script>
  $(function() {
    $( "#datepicker3" ).datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024' });
  });
  </script>
<div class="col-md-9 dashboard-rightpanel user-profile-basic">
	<div class="page-title"><h1>My Profile</h1>	</div>
	<div class="row user-profile-block">
		<div class="user-profile-basic">
			<div class="profile-inform-image">
			{% for a in accountArray %}
				<div class="profile-image">{% set image = a.logopath %}
				{% set logopath = "http://115.124.120.36/web/logo/"~image %}
				</div>
				{% if image is not empty %}
				<div class="profile-picture"><img src="{{ logopath }}" width="250px"><a href="#" id="changeimage">Change Profile Image</a></div>
				{% else %}
				<div class="profile-picture"><img src="{{ asset('img/no-image.png') }}" ><a href="#" id="changeimage">Add Profile Image</a>
				</div>
				{% endif %}

			{% endfor %}
			<div class="profile-name">
				<h1>{{ bizname }}</h1>
				<div id="logo-form">

					<!--<form name="logoform" method="post" enctype="multipart/form-data" action="/vendorlogo.php">

						<div class="col-md-7"><input type="file" name="vendorlogo"/><input type="hidden" name="vendorid" value="{{ vendorid }}"></div>

						<div class="col-md-5"><input type="submit" name="submit" class='btn btn-success btn-getquotes text-center' value="Upload"></div>
					</form>-->
					{{ form_start(logoform) }}
					<div class="col-md-7">{{ form_widget(logoform.image) }}</div>
					<div class="col-md-5">{{ form_widget(logoform.Upload) }}</div>
					{{ form_end(logoform) }}
				</div>
			</div>
			</div>

			<ul class="nav nav-tabs" role="tablist">
			  <li class="active profile-icon"><a href="#profile" role="tab" data-toggle="tab">Information</a></li>
			  <li class="certificate-icon"><a href="#certificates" role="tab" data-toggle="tab">Certifications</a></li>
			  <li class="products-icon"><a href="#products" role="tab" data-toggle="tab">Products</a></li>
			  <li class="album-icon"><a href="#license" role="tab" data-toggle="tab">Business License</a></li>
			  <li class="album-icon"><a href="#album" role="tab" data-toggle="tab">Album</a></li>
			   <li class="address-icon"><a href="#address" role="tab" data-toggle="tab">Service Area</a></li>
			   <li class="address-icon"><a href="#portfolio" role="tab" data-toggle="tab">Service Portfolio</a></li>
			</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane active profile-inform" id="profile">

  {% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
  	{{ form_start(profileform) }}
	{{ form_errors(profileform) }}
		<div class="field-item col-sm-6">{{ form_label(profileform.bizname) }}<span class="req">*</span> {{ form_widget(profileform.bizname) }}</div>
		<div class="field-item col-sm-6">{{ form_label(profileform.contactname) }}<span class="req">*</span> {{ form_widget(profileform.contactname) }}</div>
		<div class="field-item col-sm-6">{{ form_label(profileform.mobilecode) }}<span class="req">*</span> <div class="control">{{ form_widget(profileform.mobilecode) }}{{ form_widget(profileform.smsphone) }}</div></div>
		<div class="field-item col-sm-6">{{ form_label(profileform.homecode) }}<div class="control"> {{form_widget(profileform.homecode) }} {{form_widget(profileform.homephone) }}</div></div>
		<!--<div class="field-item col-sm-6">{{ form_label(profileform.address) }} {{ form_widget(profileform.address) }}</div>-->
		<div class="field-item col-sm-6">{{ form_label(profileform.fax) }} {{ form_widget(profileform.fax) }}</div>
		<div class="field-item-full col-sm-6">{{ form_label(profileform.description) }} {{ form_widget(profileform.description) }}</div>
		<div class="field-item-save">{{ form_widget(profileform.save) }}</div>
	{{ form_end(profileform) }}
  </div>
  <div class="tab-pane" id="address">
  	{{ form_start(cityform, { 'attr': {'class': 'city_form'} }) }}
  	<ul>
		{% for a in cityform.city %}
		
			<li class="city-field-item">
				{{ form_widget(a) }}{{ form_label(a) }}
			</li>
		{% endfor %}
			<li class="city-field-item">
				<input type="checkbox" id="checkcity" name="checkcity" value="all"><label>All of UAE</label>
			</li>
			{{ form_widget(cityform.save, { 'attr': {'class': 'save_city'} },{ 'label': 'Save' }) }}
		</ul>
		
			

	{{ form_end(cityform) }}
  </div>
	<div class="tab-pane certificate" id="certificates">
		<div class="list-certificate col-sm-7">
			{% for c in certifications %}
				<p><button type="button" class="close" title="Delete"  aria-hidden="true" onclick = "return deleteEntity('certification','{{ c.id }}','{{ vendorid }}');" >&times;</button> {{ c.certification }}</p>
			{% endfor %}
		</div>
		<div class="add-certificate col-sm-5">
			<h2>Add Your Certifications</h2>
			<div class="add-certificate-block certificates">
				<form name="form" method="post" action="{{ path('b_bids_b_bids_vendor_save_certification') }}" onsubmit="return certificateValidate();" enctype="multipart/form-data">
					<span class="file-upload-wrapper">
						<input type="text" id="form_certification" name="certification[]">
						<div class="upload-button"><input type="file" name="certificationfile[]"></div>
					</span>
					<span>

					</span>
					<div id="morecertificates">
					</div>
					<div class="pull-right"><a class="add_certificate_button"> add more certificates <span class="glyphicon glyphicon-plus"></span></a></div>
					<h5>Industry certifications are always an advantage for:</h5>
					<ul>
						<li>Proving you are genuine.</li>
						<li>Being recognised as a specialist vendor within your industry</li>
						<li>Attracting more customers.</li>
					</ul>
					<button type="submit" id="form_save" name="form[save]">Add Certificate</button>
				</form>
				{# {{ form_start(certificationform) }}
				{{ form_widget(certificationform.certification) }}
				<h5>Upload any in-house products or recommended products you work with.</h5><br>

				{{ form_widget(certificationform.save, { 'label': 'Add Certificate' }) }}
				{{ form_end(certificationform) }} #}
			</div>
		</div>
	</div>
	<div class="tab-pane" id="products">
		<div class="list-product">
			<div class="list-certificate col-sm-7">
				{% for p in products %}
					<p><button type="button" title="Delete" class="close"  aria-hidden="true" onclick = "return deleteEntity('product','{{ p.id }}','{{ vendorid }}');" >&times;</button>{{ p.product }} </p>
				{% endfor %}
			</div>
			<div class="add-certificate col-sm-5">
				<h2>Add Your Products</h2>
				<form name="form" method="post" action="{{ path('b_bids_b_bids_vendor_save_product')}}" onsubmit="return productValidate();">
					<div class="add-certificate-block products">
						<span class="file-upload-wrapper">
						<input type="text" id="form_product" name="product[]">
						</span>
						<span>

						</span>
						<div id="moreproducts">
						</div>
						<div class="pull-right"><a class="add_certificate_button add_products_button"> add more products <span class="glyphicon glyphicon-plus"></span></a></div>
						<h5>Upload any in-house products or recommended products you work with.</h5><br>

						<button type="submit" id="form_save" name="form[save]" >Product &amp; Services</button>
						{# {{ form_start(productform) }}
						{{ form_widget(productform.product) }}
						<h5>This certificate of qualification is hereby granted to:</h5>
						<ul>
							<li>For helping you get genuine enquires.</li>
							<li>This also helps proove your genuinity</li>
						</ul>

						{{ form_widget(productform.save, { 'label': 'Product & Services' }) }}
						{{ form_end(productform) }} #}
					</div>
				</form>
			</div>

		</div>
	</div>
  <div class="tab-pane" id="license">
  		<div class="list-certificate col-sm-7">
				{% for e in expLicense %}
					<div> License Expiry Date<p>
                        <button type="button" title="Delete" class="close"  aria-hidden="true" onclick = "return deleteEntity('license','{{ e.id }}','{{ vendorid }}');" >&times;</button>{{ e.licenseName ~' - '~ e.expdate|date('Y-m-d') }}<div>License:<span><a href="{{ asset('img/licenses') }}/{{ e.file}}">Click here to download the license</a></span></div></p></div>
				{% endfor %}
		</div>
		<div class="add-certificate col-sm-5">
				<h2>Add Your Business License</h2>
				<div class="newalbum add-certificate-block">
					{{ form_start(licenseform) }}
                            {{ form_label(licenseform.name) }} {{ form_widget(licenseform.name) }}
							{{ form_label(licenseform.expirydate) }} {{ form_widget(licenseform.expirydate, { 'id': 'datepicker3' }) }}
							{{ form_label(licenseform.licensefile) }} {{ form_widget(licenseform.licensefile) }}
							<h5>"Your license provides credibility and authenticity of your business.  Upon verification we will display your license on your profile."</h5>
							{{ form_widget(licenseform.save) }}
						{{ form_end(licenseform)  }}
				</div>

		</div>
  </div>
  <div class="tab-pane" id="album">
  	{% for a in albums %}
			{% set albumid = a.albumid %}
			{% set defaultphotoid = a.defaultphotopath %}
			{% set imagepath = "http://115.124.120.36/stagging/web/gallery/"~albumid~"/"~albumid~loop.index %}
			<div class="photo">
                <button type="button" title="Delete Album" class="close" onclick = "return deleteEntity('album','{{ a.id }}','{{ vendorid }}');">&times;</button>
                <a target="_blank" href="{{ path('b_bids_b_bids_album_view',{'albumid': albumid })}}"><img src="{{ imagepath }}" width="90px"></a>
				<p>{{ a.albumname }} </p><p>{{ a.photocount }} Photo(s) </p><p>{# <button>Add Photo</button> #}</p>
			</div>
		{% endfor %}
		<div class="newalbum">
			<div><button id="newalbum">New Album</button></div>
			<div class="albumform">
			{{ form_start(albumform,{'attr': {'onsubmit': 'return albumValidate();'}}) }}
                    {{ form_label(albumform.albumname) }} {{ form_widget(albumform.albumname) }}
                    {{ form_label(albumform.description) }} {{ form_widget(albumform.description) }}
					{{ form_widget(albumform.albumimages, { 'full_name': albumform.albumimages.vars.full_name ~ '[]' }) }}
					{{ form_widget(albumform.save) }}
				{{ form_end(albumform)  }}
			</div>
		</div>
  </div>
  
  <div class="tab-pane" id="portfolio">
		<div class="pane-title"><label>Services Provided</label></div>
		<div class="sub-pane-title"><label>List the services you provide</label></div>
		<div class="">
			<form action="{{ path('bizbids_addcat_port')}}" method="post">
				<div class="morecertificates subcatadd">
					<input type="text" id="form_cat" name="cat[]" placeholder="Enter your category">	
				</div>
				<a id="addform1">Add</a>
				<div id="moreproducts1">
				</div>
				<input type="hidden" id="vendorid" name="vendorid" value="{{ vendorid }}">
				<input type="hidden" id="setdata" value="0">
				<input type="submit" id="savecat" name="form[save]" value="Save">
			</form>
		</div>
		{% if maincat is not empty %}
		<div class="field-item1">
			<label style="margin: 10px 10px;  width: 100%;  float: left;">Service Category</label>
			{% for m in maincat %}
				<div class="editcategory-port">
					{{m.category }}
				</div>
			{% endfor %} 
		</div>     
		{% endif %}
		{% if displaycat is not empty %}
			<div class="field-item1"><label>Service Portfolio</label>
				{% for a in displaycat %}
				<div class="main-cat">
					<div class="field-value editcategory-port" id="{{ a.id }}">
						<span class="catname">{{ a.category }} </span>
					</div>
					<span id="editdt" >
						<input id="vendid" type="hidden" value="{{ a.id }}">
						<span class="editcatname-port"><a href="#editdt-port" id="editcat-port{{ a.id }}" class="editcat-port">Edit</a>  </span>
						<span class="deletecatname-port"><a href="{{ path('bizbids_deletecat_port', {'id': a.id }) }}">Delete</a> </span> 
					</span>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>

  </div>
</div>
<!-- Tab panes ending -->
		</div>
	</div>
</div>
<script type="text/javascript">
function albumValidate()
{
    var isValid = true;
    var albumName = $('#form_albumname');
    if(albumName.val() == '') {
        albumName.css('border', '3px solid red');
        albumName.focus();
        isValid = false;
    } else {
        albumName.css('border', '3px solid green');
    }
    return isValid;
}

function productValidate() {
	var isValid = true;
	$('input[name="product[]"]').each(function() {
		var aValue = $(this).val();
		console.log(aValue);
		if(aValue == '') {
			alert('All product fields should be filled.');
			$(this).focus();
			isValid = false;
		}
	});
	return isValid;
};

function certificateValidate() {
	var isValid = true;
	$('input[name="certification[]"]').each(function() {
		var aValue = $(this).val();
		if(aValue == '') {
			$(this).css('border', '3px solid red');
			$(this).focus();
			isValid = false;
		} else {
			$(this).css('border', '3px solid green');
		}
	});
	if(isValid == true)
	{
		$('input[name="certificationfile[]"]').each(function() {
			var aValue    = $(this).val();
			var extension = ["jpg","jpeg","gif","png"];
			var ext       =aValue.substring(aValue.lastIndexOf('.')+1);
			var flag=0;
			for(i=0;i<extension.length;i++)
			{
				if(ext==extension[i])
				{
					flag=0;
					break;
				}
				else
				{
					flag=1;
				}
			}
			if(flag!=0) {
				alert('File type not allowed');
				$(this).focus();
				$(this).css('border', '3px solid red');
				isValid = false;
				return isValid;
			}
			else if(aValue == '') {
				$(this).focus();
				$(this).css('border', '3px solid red');
				isValid = false;
				return isValid;
			} else {
				$(this).css('border', '3px solid green');
			}
		});
	}
	return isValid;
};
</script>
{% endblock %}

