{% extends '::vendor_dashboard.html.twig' %}

{% block pageblock %}
<div class="container">

<div class="page-title"><h1>ORDER : {% for o in order %} {{ o.ordernumber }} {% endfor %} </h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
</div>
<div class="row orderdetails">
<table class="col-sm-6 gray-bg vendor-enquiries" width="100%">

	{% for o in order %}
		
	<tr><td width="30%"><strong>Order Number</strong></td><td width="70%">{{ o.ordernumber }}</td></tr>
	<tr><td><strong>Amount</strong></td><td>{{ o.amount }}</td></tr>
	<tr><td><strong>Status</strong></td><td>{% if o.status == 0 %} Not Approved {% elseif o.status==1 %} Approved {% endif %}</td></tr>
	<tr><td><strong>Payment Type</strong></td><td>{{ o.payoption }}</td></tr>
	{% endfor %}
</table>
</div>
<div class="row">
<table class="col-sm-6  gray-bg vendor-enquiries" width="100%">
<thead><tr><td>Category Name</td><td>Lead Pack</td></thead>
	{% for c in categories %}
		<tr><td width="50%">{{ c.category }}</td><td>{{ c.leadpack }}</td></tr>
	{% endfor %}
</table>
</div>
{% endblock %}
