{% extends '::consumer_dashboard.html.twig' %}


{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel user-profile-basic">
	<div class="page-title"><h1>My Account</h1></div>
	<div class="row user-profile-block">
		<div class="user-profile-basic">
			
				
			<div class="row">
			 {% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div> 
	
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>	
	
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
				<div class="tab-content">
				  <div class="tab-pane active profile-inform" id="profile">
				<div class="col-md-8 profile-info delete-account">
				<h2>Update Email</h2><br>
				<p>Please raise a support ticket <a href="{{ path ('b_bids_b_bids_ticket_home') }}">click here.</a></p>
				</div>
				</div>
				</div>
			</div>	
		</div>
		
	

{% endblock %}

