/* ==========================================================================
   About Us Area
   ========================================================================== */
#top_about_us_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
#top_about_us_area .main_top_about_us_area{width: 1140px;
margin: 0 auto;
overflow: hidden;}
#top_about_us_area .inner_top_about_us_img{float: left;
margin-right: 20px;
width: 470px;
margin-top: 60px;}
#top_about_us_area .inner_top_about_us_img img{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
max-width: 470px;
max-height: 480px;}
#top_about_us_area .inner_top_about_us_text{width: 645px;
overflow: hidden;
float: right;}
#top_about_us_area .inner_top_about_us_text h2{color: #2b80c6;
font-family: "proxima_nova_rgregular";
font-size: 25px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-top: 18px;
text-transform: uppercase;}
#top_about_us_area .inner_top_about_us_text h3{color: #777777;
font-family: 'proxima_nova_rgsemibold';
font-size: 18px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-top: 12px;
text-transform: uppercase;}
#top_about_us_area .inner_top_about_us_text p{color: #777777;
font-family: "proxima_nova_rgregular";
font-size: 14px;
font-style: normal;
font-weight: normal;
line-height: 22px;
margin: 0;
padding: 10px 0;}
#top_about_us_area .inner_top_about_us_text p#ul{margin: 0;
padding: 0;}


/* ==========================================================================
   About our team Area
   ========================================================================== */
#team.about_our_team{background: #eeeeee;
overflow: hidden;
padding: 30px 0;}
#team .main_team_area{width: 1140px;
margin: 0 auto;
overflow: hidden;}
#team .inner_our_team_area_text{float: left;
margin-right: 20px;
overflow: hidden;
width: 520px;}
#team .inner_our_team_area_text h1{color: #000000;
float: left;
font-size: 45px;
font-style: normal;
font-weight: normal;
line-height: 1.4em;
margin: 0;
padding: 25px 0;
width: 525px;}
#team .inner_our_team_area_text h1 span.coma{color: #cbcbcb;
font-family: "proxima_nova_rgsemibold";
font-size: 100px;
float: left;}
#team .inner_our_team_area_text .rotet{color: #cbcbcb;
font-family: "proxima_nova_rgsemibold";
font-size: 100px;
height: 45px;
transform: rotate(180deg);
-webkit-transform: rotate(180deg);
-moz-transform: rotate(180deg);
-o-transform: rotate(180deg);
-ms-transform: rotate(180deg);    
width: 45px;
float: left;}
#team .inner_our_team_area_text h1 span.main{float: left;
font-family: 'proxima_novalight';}
#team .inner_our_team_area_text h1 span.bold{float: left;
font-family: "proxima_nova_rgsemibold";
padding-left: 38px;}
#team .inner_our_team_area_text h2{color: #2b80c6;
font-family: "proxima_nova_rgregular";
font-size: 25px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
#team .inner_our_team_area_text h3{color: #777777;
font-family: 'proxima_nova_rgsemibold';
font-size: 18px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-top: 12px;
text-transform: uppercase;}
#team .inner_our_team_area_text p{color: #777777;
font-family: "proxima_nova_rgregular";
font-size: 14px;
font-style: normal;
font-weight: normal;
line-height: 22px;
margin: 0;
padding: 10px 0;}
#team a#button_about_team{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: 'proxima_nova_rgsemibold';
font-size: 20px;
margin-top: 20px;
padding: 11px 22px;
text-align: center;
text-decoration: none;
transition: all 0.9s ease 0s;}
#team a#button_about_team:hover{background: #d4926e none repeat scroll 0 0;}
#team .inner_our_team_area_img{float: left;
margin-left: 5px;
margin-top: 0;
overflow: hidden;
width: 545px;}
#team .inner_team_two_line{margin-left: 75px;
width: 375px;}
#team .inner_team_three_line{width: 560px;}
#team .child_team{float: left;
height: 172px;
position: relative;
width: 175px;
margin-right: 10px;
margin-bottom: 10px;}
#team .child_team img{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
max-width: 170px;
max-height: 170px;}
#team .child_team .tag{background: #fff none repeat scroll 0 0;
border-radius: 3px;
bottom: 12px;
left: 10px;
position: absolute;
width: 150px;}
#team .child_team .tag h2{color: #3784c4;
display: block;
font-family: "proxima_nova_rgsemibold";
font-size: 15px;
font-style: normal;
font-weight: normal;
line-height: 1.4em;
margin: 0;
text-align: center;}
#team .child_team .tag p{color: #777777;
font-family: "proxima_nova_rgregular";
font-size: 12px;
font-style: normal;
font-weight: normal;
line-height: 1.4em;
margin: 0;
text-align: center;
padding-bottom: 2px;}
#team .inner_team_two_line, #team .inner_team_three_line{}


/* ==========================================================================
   About your oppourtunity Area
   ========================================================================== */
#oppourtinity.your_opputunity_area{background: #ffffff;
overflow: hidden;
padding: 30px 0;}
#oppourtinity .inner_oppournity_area{width: 1140px;
margin: 0 auto;
overflow: hidden;}
#oppourtinity .child_oppournity_img{float: left;
margin-right: 20px;
margin-top: 55px;
width: 470px;}
#oppourtinity .child_oppournity_img img{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
max-width: 470px;
max-height: 470px;}
#oppourtinity .child_oppournity_text{width: 625px;
float: right;
margin-left: 20px;}
#oppourtinity .child_oppournity_text h2{color: #2b80c6;
font-family: "proxima_nova_rgregular";
font-size: 25px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
#oppourtinity .child_oppournity_text h3{color: #777777;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-bottom: 15px;
padding-top: 12px;
text-transform: uppercase;}
#oppourtinity .child_oppournity_text p{color: #777777;
font-family: "proxima_nova_rgregular";
font-size: 14px;
font-style: normal;
font-weight: normal;
line-height: 22px;
margin: 0;
padding: 10px 0;}
#oppourtinity .child_area{}
#oppourtinity .child_area .child_left{background: #eeeeee none repeat scroll 0 0;
border: 2px solid #d2d2d2;
border-radius: 50%;
color: #777777;
height: 29px;
padding-top: 10px;
text-align: center;
width: 40px;
float: left;
margin-right: 16px;}
#oppourtinity .child_area .child_left span{}
#oppourtinity .child_area .child_right{}
#oppourtinity .child_area .child_right h4{color: #2b80c6;
font-family: 'proxima_nova_rgsemibold';
font-size: 15px;
font-style: normal;
font-weight: normal;
margin: 0;
text-transform: uppercase;}
#oppourtinity .child_area .child_right p{color: #777777;
font-family: "proxima_nova_rgregular";
font-size: 14px;
font-style: normal;
font-weight: normal;
line-height: 22px;
margin: 0;
padding: 10px 0;}


/* ==========================================================================
   About valued partner Area
   ========================================================================== */
#partner.our_valuable_partner{background: #EEEEEE;
overflow: hidden;
padding: 30px 0;}
#partner .inner_partnar_area{width: 1140px;
margin: 0 auto;
overflow: hidden;}
#partner .inner_partner_text{width: 635px;
float: left;
margin-right: 20px;}
#partner .inner_partner_text h2{color: #2b80c6;
font-family: "proxima_nova_rgregular";
font-size: 25px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
#partner .inner_partner_text h3{color: #777777;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-bottom: 15px;
padding-top: 12px;
text-transform: uppercase;}
#partner .inner_partner_text h4{color: #777777;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-style: normal;
font-weight: normal;
margin: 0;
padding-bottom: 15px;}
#partner .inner_partner_text a#button{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: block;
font-family: "proxima_nova_rgsemibold";
font-size: 20px;
margin-top: 20px;
padding: 11px 22px;
text-align: center;
text-decoration: none;
transition: all 0.9s ease 0s;
width: 450px;}
#partner .inner_partner_text a#button:hover{background: #d4926e none repeat scroll 0 0;}
#partner .inner_partner_img{float: right;
width: 350px;}
#partner .inner_partner_img img{display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 100%;
max-width: 350px;
max-height: 310px;}









/* ==========================================================================
   Desktop Layout: 1024px.
   ========================================================================== */

@media only screen and (min-width: 992px) and (max-width: 1199px) { 
#top_about_us_area .main_top_about_us_area, #team .main_team_area, #oppourtinity .inner_oppournity_area, #partner .inner_partnar_area {width: 970px;}
#top_about_us_area .inner_top_about_us_img, #oppourtinity .child_oppournity_img {margin-top: 60px;width: 310px;}  
#top_about_us_area .inner_top_about_us_img img, #oppourtinity .child_oppournity_img img{max-height: 310px;max-width: 310px;}    
#top_about_us_area .inner_top_about_us_text {width: 630px;}    
#team .inner_our_team_area_text {width: 515px;}
#team .inner_our_team_area_img {width: 428px;margin-top: 45px;}
#team .child_team {height: 130px;margin-bottom: 8px;margin-right: 8px;width: 130px;}   
#team .inner_team_two_line {margin-left: 65px;width: 310px;}    
#team .child_team img {max-height: 130px;max-width: 130px;}  
#team .child_team .tag {bottom: 10px;left: 10px;width: 111px;}    
#team .child_team .tag p {font-size: 10px;}   
#team .inner_team_three_line {width: 418px;}  
#oppourtinity .child_oppournity_text {width: 595px;}
#oppourtinity .child_area .child_right {float: left;width: 525px;}   
#partner .inner_partner_text {width: 585px;} 
#partner .inner_partner_text a#button {width: 315px;}    
    
    
    
    
    
    
    
    
    
}

/* ==========================================================================
   Tablet Layout: 768px.
   ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 991px) { 
#top_about_us_area .main_top_about_us_area, #team .main_team_area, #oppourtinity .inner_oppournity_area, #partner .inner_partnar_area {width: 720px;}
#top_about_us_area .inner_top_about_us_img, #oppourtinity .child_oppournity_img {width: 420px;float: none;margin: 0 auto;}  
#top_about_us_area .inner_top_about_us_img img, #oppourtinity .child_oppournity_img img{max-height: 420px;max-width: 420px;}    
#top_about_us_area .inner_top_about_us_text, #team .inner_our_team_area_text, #team .inner_our_team_area_img, #oppourtinity .child_oppournity_text {width: 700px;float: none;margin: 5px auto;}    
#team .inner_our_team_area_text {width: 515px;}
#team .inner_our_team_area_img {width: 428px;margin-top: 45px;}
#team .child_team {height: 130px;margin-bottom: 8px;margin-right: 8px;width: 130px;}   
#team .inner_team_two_line {margin-left: 65px;width: 310px;}    
#team .child_team img {max-height: 130px;max-width: 130px;}  
#team .child_team .tag {bottom: 10px;left: 10px;width: 111px;}    
#team .child_team .tag p {font-size: 10px;}   
#team .inner_team_three_line {width: 418px;}  
#oppourtinity .child_oppournity_text {width: 595px;}
#oppourtinity .child_area .child_right {float: left;width: 525px;}   
#partner .inner_partner_text {width: 460px;} 
#partner .inner_partner_text a#button {width: 315px;}  
#partner .inner_partner_img {float: right;margin-top: 15px;width: 235px;}
    
    
}


/* ==========================================================================
   Mobile Layout: 320px.
   ========================================================================== */

@media only screen and (min-width: 200px) and (max-width: 479px) { 
#top_about_us_area .main_top_about_us_area, #team .main_team_area, #oppourtinity .inner_oppournity_area, #partner .inner_partnar_area {width: 280px;}
#top_about_us_area .inner_top_about_us_img, #oppourtinity .child_oppournity_img {width: 200px;float: none;margin: 0 auto;}  
#top_about_us_area .inner_top_about_us_img img, #oppourtinity .child_oppournity_img img{max-height: 200px;max-width: 200px;}    
#top_about_us_area .inner_top_about_us_text, #team .inner_our_team_area_text, #team .inner_our_team_area_img, #oppourtinity .child_oppournity_text, #partner .inner_partner_text {width: 280px;float: none;margin: 5px auto;}    
#team .inner_our_team_area_text {width: 280px;}
#team .child_team {height: 130px;margin-bottom: 8px;margin-right: 8px;width: 130px;}   
#team .inner_team_two_line, #team .inner_team_three_line {float: none;margin: 0 auto;width: 280px;}    
#team .child_team img {max-height: 130px;max-width: 130px;}  
#team .child_team .tag {bottom: 10px;left: 10px;width: 111px;}    
#team .child_team .tag p {font-size: 10px;}   
#team .inner_team_three_line {width: 280px;}  
#oppourtinity .child_oppournity_text {width: 280px;}
#oppourtinity .child_area .child_right {float: none;
width: 280px;
margin: 10px auto;
text-align: center;}   
#partner .inner_partner_text a#button {width: 228px;float: none;margin: 8px auto;}  
#partner .inner_partner_img {float: none;margin: 0 auto;width: 235px;}
#team .inner_our_team_area_text h1 {font-size: 20px;width: 250px;} 
#team .inner_our_team_area_text h1 span.coma {font-size: 60px;}    
#team .inner_our_team_area_text .rotet {font-size: 60px;height: 20px;width: 24px;}    
#oppourtinity .child_area .child_left {margin: 0 auto;float: none;overflow: hidden;}
#partner .inner_partner_text h2 {padding-top: 0;} 
#partner .inner_partner_text h3 {font-size: 15px;padding-top: 5px;}    
    

}

/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */

@media only screen and (min-width: 480px) and (max-width: 767px) { 
#top_about_us_area .main_top_about_us_area, #team .main_team_area, #oppourtinity .inner_oppournity_area, #partner .inner_partnar_area {width: 420px;}
#top_about_us_area .inner_top_about_us_img, #oppourtinity .child_oppournity_img {width: 300px;float: none;margin: 0 auto;}  
#top_about_us_area .inner_top_about_us_img img, #oppourtinity .child_oppournity_img img{max-height: 300px;max-width: 300px;}    
#top_about_us_area .inner_top_about_us_text, #team .inner_our_team_area_text, #team .inner_our_team_area_img, #oppourtinity .child_oppournity_text, #partner .inner_partner_text {width: 420px;float: none;margin: 5px auto;}    
#team .inner_our_team_area_text {width: 420px;}
#team .inner_our_team_area_img {width: 420px;margin-top: 45px;}
#team .child_team {height: 130px;margin-bottom: 8px;margin-right: 8px;width: 130px;}   
#team .inner_team_two_line {margin-left: 65px;width: 420px;}    
#team .child_team img {max-height: 130px;max-width: 130px;}  
#team .child_team .tag {bottom: 10px;left: 10px;width: 111px;}    
#team .child_team .tag p {font-size: 10px;}   
#team .inner_team_three_line {width: 418px;}  
#oppourtinity .child_oppournity_text {width: 420px;}
#oppourtinity .child_area .child_right {float: left;width: 340px;}   
#partner .inner_partner_text a#button {width: 315px;}  
#partner .inner_partner_img {float: none;margin: 0 auto;width: 235px;}
#team .inner_our_team_area_text h1 {font-size: 35px;}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}