/* Theme Style */



/*
img { vertical-align: middle; }

@font-face {
 font-family:Avenir;
 src: url(fonts/AvenirLTStd-Light.eot);}

@font-face {
 font-family:Avenir;
 src: url(fonts/AvenirLTStd-Light.ttf);
}

@font-face {
 font-family:AvenirBold;
 src: url(fonts/AvenirNextLTPro-Demi.eot);}

@font-face {
 font-family:AvenirBold;
 src: url(fonts/AvenirNextLTPro-Demi.ttf);
}


.content {
	margin: auto;
	clear: both;
}

a {

color:#006699;

text-decoration: none;

}
a:hover {

color:#DB8606;

text-decoration: underline;

}

td {
	color: #3E3E3E;
	text-decoration: none;
	border: none;
}
p { padding: 3px 0 3px 0; }
h1,h2,h3,h4,h5,h6 { margin: 5px 0 5px 0; }
hr {
  text-align: center;
  margin: 5px auto 5px auto;
  border: 0;
  width: 100%;
  color: #F3C67D;
  background-color: #F3C67D;
  height: 2px;
}


option { padding-right: 5px; }
.content table td { padding: 0px; }
.content table td table td { padding: 2px; }
.content table td table td table,.content table td table td table td { padding: 0; margin: 0; }
.pre-footer {
	display:none;
	border-bottom: 1px solid #999;
	background: #EEB358 url("images/bgbar.gif");
	line-height: 25px;
	height: 25px;
	text-align: center;
	font-size: 10px;
color: white;
}

.Create-ticket-form #form_submit{
background: #F6A580!important;
border: 1px solid #F6A580!important;
color: #FFF!important;
font-size: 19px;
padding: 3px!important;
font-weight: 400;
width: 29.7%!important;
margin: auto;
font-family: Avenir;
border-radius: 4px;
}

.footer {
	display:none;
	padding: 3px 10px 3px 10px;
	color: #CCC;
	font-size: 10px;
	line-height: 25px;
	height: 25px;
}
.barTxt { font-size: 10px; color: white; }



.inputsubmit {
	font-size: 11px;
	background: #EEB358 url("images/bgbar.gif");
	color: white;
	border: #A6A6A6 solid 1px;
}

.inputsubmit2 {
	font-size: 11px;
	background-color: #FFFFFF;
	color: #006699;
	border: #FFFFFF;
	border-style: solid;
 	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px
}

.error {
	color: #FF0000;
	text-decoration: none;
	border: none;
	font-weight: bold;
}

.mainTable { background-color: #F4FAFF; }
.mainTableAlt { background-color: #FFFFFF; }
.mainTableOn { background-color: #FFFFF0; }
.TableHeader { background: #EEB358 url("images/bgbar.gif"); line-height: 25px; height: 25px; }
.TableMsg { background-color: #ADADAD; width: 100%; }
.TableHeaderText { color: #FFFFFF; font-size: 14px; text-align: center; }
.TableHeaderText a { color: #FFFFFF; font-size: 14px; text-align: center; }
.TableInfoText { color: #000000; font-size: 14px; background-color: #FFFFFF; }
.priLow { background-color: #DDFFDD; }
.priNormal { background-color: #FFFFF0; }
.priHigh { background-color: #FEE7E7; }
.privReceived { background-color: #3669CF; color: #3E3E3E; }
.privBox { background-color: #FFFFFF; }
.privBorder { background-color: black; }
.privAttachments { background-color: #94C7FF; }
.msgReceived { background-color: #E9E9E9; color: #3E3E3E; font-size: 10px; }
.msgAnswered { background-color: #FFE0B3; color: #3E3E3E; font-size: 10px; }
.msgAttachments { background-color: #F4FAFF; color: #000000; font-size: 10px; }
.msgBorder { background-color: #ADADAD;  margin-top: 10px; }
.msgBorderInfo { background-color: #ffffff; }
.msgBox { background-color: #F9F9F9; }

.searchBox {
padding: 6px 10px;
margin: auto;
background-color: #F7F7F7;
text-align: left;
}

.searchBox input[type="text"]{
padding: 7px;
width: auto;
border-radius: 4px;
border: solid 1px #ccc;
margin-top: 0px;
height: 19px;
margin-bottom: 10px;
}

.searchBox select{
padding: 7px;
width: auto;
border-radius: 4px;
border: solid 1px #ccc;
margin-top: 0px;
}


.searchBox input[type="submit"]{
background: #F6A580;
border: 1px solid #F6A580;
color: #FFF;
font-size: 17px;
padding: 3px;
font-weight: 400;
width: 14%!important;
border-radius: 4px;
margin: auto;
font-family: Avenir;
height: 33px;
margin-top: 0px;
margin-bottom: 0px;
line-height: 18px;
}

.loginBox, .Create-ticket-form{
background: none repeat scroll 0px 0px #FFFFFF;
border: 1px solid #FFF;
margin: auto auto 30px;
padding: 10px 20px 2px;
width: 100%;
float: left;
border-radius: 4px;
box-shadow: 1px 1px 6px -2px #E6E6E6;
}


.loginBox .form-item{
margin: 10px 0px 20px 0px;
text-align: left;
width: 47%;
padding: 0px 20px 0px 0px;
float: left;
}

.Create-ticket-form .form-item:nth-child(odd){
margin: 10px 30px 20px 0px;
text-align: left;
width: 47%;
float: left;
}

.Create-ticket-form .form-item:nth-child(even){
margin: 10px 0px 20px 0px;
text-align: left;
width: 48%;
float: left;
}

.Create-ticket-form .form-item-subject{ width:100%; float:left;}

.loginBox .form-item label, .Create-ticket-form .form-item label, .form-item-subject label{
    display: inline-block;
    margin-bottom: 5px;
    font-weight: bold;
}

.loginBox .form-item input, .Create-ticket-form .form-item input{
background-color: #F5F5F5;
background-image: none;
border: 1px solid #EBEBEB;
border-radius: 0px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
color: #555;
line-height: 1.42857;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
vertical-align: middle;
width: 94%;
}

.Create-ticket-form .form-item-subject textarea{
background-color: #F5F5F5;
background-image: none;
border: 1px solid #EBEBEB;
border-radius: 0px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
color: #555;
line-height: 1.42857;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
vertical-align: middle;
width: 44.3%;
}

.Create-ticket-form .form-item select{
    background-color: #F5F5F5;
    background-image: none;
    border: 1px solid #EBEBEB;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}


.loginBox .form-item .inputsubmit{
background: #F6A580;
border: 1px solid #F6A580;
color: #FFF;
font-size: 19px;
padding: 3px;
font-weight: 400;
width: 29.7%;
margin: auto;
font-family:Avenir;
}

.inputsubmit{
background: #F6A580!important;
border: 1px solid #F6A580!important;
color: #FFF!important;
font-size: 19px;
padding: 3px!important;
font-weight: 400;
width: 29.7%!important;
margin: auto;
font-family: Avenir;
}


.loginBox td { padding: 8px; }

.loginBox td table td { line-height: 30px; }

.buttons { text-align: center; clear:both; }

#claim-ticket input {
	letter-spacing: -1px;
	font-family: sans-serif;
	border: 1px solid #333;
	border-top-color: #999;
	border-left-color: #999;
	background-color: #eee;
	color: #333;
	padding: 0.5em 2em;
	cursor: pointer;
}
#claim-ticket input:hover {
	background-color: #E5FFBF;
	color: #6f9913;
	border-color: #6f9913;
}
* html #claim-ticket input {
	padding-top: 0.1em;
	padding-bottom: 0.1em;
}
#claim-ticket p {
	margin-bottom: 2em;
	background-color: #FFFFBF;
	padding: 0.5em;
}

.Create-ticket-form{
background: none repeat scroll 0px 0px #F4F4F4;
border: 1px solid #EEE;
margin: 30px auto;
padding: 20px;
width: 600px;
}

.Create-ticket-form input, .Create-ticket-form textarea{
background-color: #FFF;
background-image: none;
border: 1px solid #CCC;
border-radius: 4px;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
color: #555;
line-height: 1.42857;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
vertical-align: middle;
width: 95%;
margin-bottom: 20px;
}
*/

.Create-ticket-form{
background: none repeat scroll 0px 0px #FFFFFF;
border: 1px solid #FFF;
margin: auto auto 30px;
padding: 30px 20px 20px;
width: 100%;
float: left;
border-radius: 4px;
box-shadow: 1px 1px 6px -2px #E6E6E6;
}

.create-ticket{
padding-left: 0px;
padding-right: 75px;
}

.create-ticket #form div{ margin-bottom:20px;}

.Create-ticket-form textarea{ min-height:100px;}

.Create-ticket-form input{
background-color: #F5F5F5;
background-image: none;
border: 1px solid #EBEBEB;
border-radius: 0px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
color: #555;
line-height: 1.42857;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
vertical-align: middle;
width: 100%;
}

.Create-ticket-form textarea{
background-color: #F5F5F5;
background-image: none;
border: 1px solid #EBEBEB;
border-radius: 0px;
box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
color: #555;
line-height: 1.42857;
padding: 6px 12px;
transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
vertical-align: middle;
width: 100%;
}

.Create-ticket-form select{
    background-color: #F5F5F5;
    background-image: none;
    border: 1px solid #EBEBEB;
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    vertical-align: middle;
    width: 100%;
}

.Create-ticket-form .add-certificate-block {
background-color: #f7f7f7;
padding: 0px 17px 20px;
border: solid 1px #f1f1f1;
border-radius: 4px;
width: 100%;
float: left;
}

.Create-ticket-form .add-certificate h4{
background: url(../img/Create-ticket-bg.png) no-repeat center 100px;
padding: 20px 0px;
height: 330px;
background-size: 85%;
font-size: 15px;
text-align: center;
font-family: Avenir;
line-height: 22px;
}

.Create-ticket-form .add-certificate h5{
background: none;
padding: 0px;
font-size: 15px;
height: auto;
text-align: center;
font-family: Avenir;
line-height: 22px;
}

.Create-ticket-form .add-certificate ul {
padding-left: 20px;
}

.Create-ticket-form .add-certificate ul li{
padding: 0px 0px 10px;
font-size: 15px;
text-align: left;
line-height: 18px;
list-style-type: disc;
}

#ticketidFilter, #subjectFilter{ width:16%; float:left; margin-right:5px;}
#subjectFilter{ margin-left:5px;}
#statusFilter, #priorityFilter{
width: 12%;
float: left;
margin-left: 14px;
}

.consumer-tickets-list-filter #subjectFilter{ width:31%; float:left;}

.tic-info-reply #form_status{
width: 20%;
margin: 5px 10px 10px;
}

#dateFilter{
float: left;
width: 37%;
margin-left: 15px;
}

.Create-ticket-form table, .Create-ticket-form table thead{
width: 100%;
border: 0px solid #DBDBDB;
}

#dateFilter input{
width: 38%;
margin-right: 5px;
display: inline;
background-color: #fff;
}


#vendorTicketList_wrapper{ width:100%; float:left;}

.ticket-lists{ padding: 10px 20px 20px;}

.ticket-lists table tfoot tr{ display:none;}

.search_filter{
border-radius: 0px;
line-height: 24px;
margin-bottom: 2px;
padding: 10px 0px 0px;
width: 100%;
float: left;
}

.search_filter select, .search_filter input{
border: 1px solid rgba(83, 175, 206, 1);
color: #333;
border-radius: 0px;
padding: 8px;
}

.search_filter label{
    color: rgba(0, 139, 186, 1);
    font-weight: normal;
}

.tic-section{
width: 100%;
float: left;
margin-bottom: 6px;
}

.tic-section label{ float:left; width:16%;}

.tic-info-main{
border: solid 1px #ECECEC;
padding: 5px 5px 15px;
margin: 15px;
float: left;
width: 97%;
}

.tic-info-main .tic-info-block{
margin: 1px 0px;
float: left;
width: 100%;
background: #fff;
padding: 15px 10px;
border-bottom: solid 1px #E5E5E5;
}

.tic-info-main .tic-info-block .name{
font-size: 15px;
color: #000;
background: url(../img/message-prof-icon.png) left no-repeat;
padding-left: 15px;
width: 80%;
float: left;
font-weight: bold;
}

.tic-info-main .tic-info-block .date{
float: right;
font-size: 12px;
line-height: 22px;
font-weight: bold;
color: #0A5B8C;
}

.tic-info-main .tic-info-block .review {
padding: 2px 0px 0px 15px;
background: none;
border: none;
width: 100%;
float: left;
}

.tic-info-main .tic-info-block .review a{
color: #999;
}

.tic-info-reply{
margin: 15px;
float: left;
width: 96.5%;
}

.tic-info-reply textarea{ background-color:#fff; border:1px solid rgba(83, 175, 206, 1); margin-bottom:10px;}

.tic-info-reply .cancel{
width: auto;
float: left;
height: 39px;
padding: 8px 27px;
font-size: 15px;
line-height: 1.5;
border-radius: 3px;
border: 0px;
color: #007AD2;
box-shadow: 1px 1px 1px 1px #D0D0D0;
background: #F4F4F4;
margin-top: -39px;
margin-left: 100px;
text-indent: 0px;
}

.ticket-lists table tr th {
background-color: #FFFFFF;
padding: 15px 8px 10px;
border: solid 0px #F3F3F3;
color: #333;
text-align: left;
}

.ticket-lists table tr td{
padding: 15px 0px 15px 8px;
border-right: solid 0px #EBEBEB;
background-color: #F7F7F7;
}

#vendorTicketList .btn-sm, #consumerTicketList .btn-sm{
padding: 5px 27px;
font-size: 15px;
line-height: 1.5;
border-radius: 3px;
border: 0px;
color: #007AD2;
box-shadow: 1px 1px 1px 1px #D0D0D0;
background: #fff;
}

.ticket-id{ width:10%;}

.subject{ width:20%;}

.sl-no{
width: 5%;
padding-left: 20px!important;
}

.date-rcvd { width:12%;}

.status { width:8%;}

.action{ width:5%;}

.open-status, .close-status, .pending-status, .cleared-status{
padding: 3px 22px;
font-size: 15px;
line-height: 1.5;
border-radius: 3px;
border: 0px;
color: #FFFFFF;
}

.open-status{ background-color:#41b33a;}

.cleared-status{ background-color:#DACF0B;}

.close-status{ background-color:#dd3601;}

.pending-status{ background-color:#333;}

.dataTables_paginate{
width: 100%;
float: left;
text-align: center;
/* background: #F5F5F5; */
padding: 20px 0px 0px;
cursor:pointer;
}

.dataTables_paginate span a.paginate_active,  .dataTables_paginate span a.paginate_button{
padding: 3px 8px;
font-size: 15px;
line-height: 1.5;
background: #E5E5E5;
margin: 2px;
}

.dataTables_paginate span a.paginate_active{
color: #000;
cursor:pointer;
}

.dataTables_info{
margin-bottom: -40px;
margin-top: 30px;
}

.dataTables_paginate span a{ color: #0055C7;}

.dataTables_paginate .first, .dataTables_paginate .previous, .dataTables_paginate .next, .dataTables_paginate .last{
padding: 3px 14px;
font-size: 15px;
line-height: 1.5;
border: 0px;
color: #FFFFFF;
background-color: #7ED8F9;
margin: 2px;
}

.dataTables_paginate .first{
border-radius: 30px 0px 0px 30px;
}

.dataTables_paginate .previous{
border-radius: 0px;
}

.dataTables_paginate .next{
border-radius: 0px;
}

.dataTables_paginate .last{
border-radius:  0px 30px 30px 0px ;
}
/*
#vendorTicketList table td.view-btn-section{ width:150px;}




