/* Fonts Style */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('fonts/ProximaNovaCond-Regular.eot');
  src: url('fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/ProximaNova-Extrabld.eot');
  src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{background: #1e7cc8 none repeat scroll 0 0;font-family: 'proxima_novalight', sans-serif;margin: 0;}
h1, h2, h3, h4, h5, h6{letter-spacing: normal; font-weight: normal;line-height: 1.4em;}
/* ==========================================================================
   Responsive menu
   ========================================================================== */
.my-account{
    display: none;
  }
.slicknav_menu {background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    display: none;
    padding: 0;
    position: relative;
    z-index: 2147483647;}
.slicknav_nav {background: #1E7CC8 none repeat scroll 0 0;}
.slicknav_btn {background-color: #1e7cc8;}
.slicknav_nav ul {height: 300px;list-style: outside none none;overflow: scroll;}
.slicknav_nav a {color: #fff;display: block;
    margin: 2px 5px;
    padding: 5px 10px 5px 33px;
    text-transform: uppercase;    
    text-decoration: none;}
.slicknav_nav a:hover {background:#F6A580;
    text-transform: uppercase;
    color: #ffffff !important;
    text-decoration: none;}
/*Header Area*/
.main_header_area{background: #f2f2f2 none repeat scroll 0 0;
margin: 0;
overflow: hidden;
padding: 0;}

.main-container-block{
  width: 100%;
  float: left;
  background: #fff;
}
.inner_headder_area{margin: 0 auto;
overflow: hidden;box-sizing: content-box;
width: 1140px;}
.main_logo_area{float: left;
height: 46px;
margin-top: 15px;
width: 298px;}
.main_logo_area img{height: 100%;
width: 100%;}
.facebook_login_area{float: right;
overflow: hidden;
width: 520px;}
.phone_top_area{border-right: 2px solid #dfdfdf;
float: left;
height: 50px;
margin-right: 15px;
padding-top: 30px;
padding-bottom: 45px;
width: 190px;}
.phone_top_area h3{background: rgba(0, 0, 0, 0) url("img/phone_icon.png") no-repeat scroll left center;
color: #555555;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-weight: normal;
margin: 0;
padding-left: 60px;}
.fb_login_top_area{float: left;
padding-top: 20px;
width: 310px;}
.fb_login_top_area ul{margin: 0; padding: 0; list-style: none;}
.fb_login_top_area ul li{float: left; margin-right: 10px;}
.fb_login_top_area ul li a{}
.fb_login_top_area ul li a img{}



.fb_login_top_area1{  float: left;
  padding-top: 33px;
 
}
.fb_login_top_area1 .profilename {
  width:183px;
}
.fb_login_top_area1 ul{margin: 0; 
    padding: 0; 
    list-style: none;}
.fb_login_top_area1 ul li{float: left;
 }
.fb_login_top_area1 ul li a{}




.button-login {
  position: relative;
  display: block;
    width: 89px;
  height: 37px;
/*  height: 40px;*/
  margin-top: -7px;
  margin-left: 20px;
 /* padding: 0 0 0 55px;*/
  font: 700 16px/37px 'proxima_nova_rgsemibold';
  text-decoration: none;
  text-transform: uppercase;
  background: #1e7cc8 none repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  font-size: 17px;
}


.button-login span {
  font-size: 14px;
  text-transform: none;
  color: #fff;
    padding: 0px 20px;
}

.button-login:before {
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  font: 20px/40px entypo;
  text-align: center;
  color: #fff;
  border-radius: 2px 0 0 2px;
}




.button-login:hover {
    background: #428bca none repeat scroll 0 0;
    color: #ffffff !important;
    text-decoration: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  
}

/* reverse */
.button-login.reverse {
  color: #fff;
}

.button-login.reverse span {
  color: #eee;
}

.button-login.fb.reverse {
   background: rgba(0, 0, 0, 0) url("img/admin-icon.png") no-repeat scroll left center;
  background: linear-gradient(to bottom, #4477cc 0%, #2f5fae 100%);
}



.button-login.reverse:before {
  color: #555;
  background: linear-gradient(to bottom, #ffffff 0%, #e6e6e6 100%);
}

/* naked */
.button-login.naked:before {
   background: rgba(0, 0, 0, 0) url("img/admin-icon.png") no-repeat scroll left center;
  border-right: 1px solid #aaa;
  background: none;
}

.button-login.fb.naked:before {
  color: #356ac2;
}

 .fb_login_top_area1 {  float: left;
  padding-top: 33px;
 
}  
  
.fb_login_top_area1 ul li {margin-right: 0;}  
.register_menu {
  float: none;
  width: 230px;
  margin: 0 auto;}  
 .register_menu1{float: right;
    overflow: hidden;
    width: 27%;
    padding-right: 12px;
}

.register_menu1 img{
padding-top: 18px;
  width:30px;
    float: right;
}
.register_menu1 span{
    font-family: "proxima_nova_rgsemibold";
  font-size: 15px;
  font-weight: normal;
  color: #f1efef;
  line-height: 1.3em;
    float: right;
  padding: 21px 0px 0px 0px;
}
/*Main Menu Area*/
.mainmenu_area{background: #1e7cc8 none repeat scroll 0 0;
margin: 0;
padding: 0;}
.info_circel_active{background: #2c80c6 none repeat scroll 0 0;
border: 3px solid #2c80c6;
border-radius: 50%;
margin: 0 auto;
height: 19px;
width: 19px;}
.info_circel_actived{background: #2c80c6 none repeat scroll 0 0;
border: 3px solid #2c80c6;
border-radius: 50%;
float: left;
margin: 2px;    
height: 19px;
width: 19px;}
.info_circel_inactive{background: #ffffff none repeat scroll 0 0;
border: 3px solid #2c80c6;
border-radius: 50%;
float: left;
margin: 2px;    
height: 19px;
width: 19px;}
.inner_child_info_photo_area.mobile{margin: 0 auto;
overflow: hidden;
display: none;    
padding: 10px 0;
width: 95px;}
.child_mobile_ingography p {
    font-family: "proxima_novalight";
    font-style: normal;
    font-weight: normal;
    padding-top: 28px;
    text-align: center;
}
.inner_main_menu_area{margin: 0 auto;
width: 1140px;}
.register_menu{float: right;
overflow: hidden;
width: 230px;}
.search_btn{cursor: pointer;
float: left;
margin-top: 15px;
overflow: hidden;
width: 18px;}
.search_btn img{}
.register_menu_btn {
  float: left;
  overflow: hidden;
  width: 210px;
}
.register_menu_btn a{background: #eca883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgsemibold";
font-size: 17px;
font-weight: normal;
line-height: 1.3em;
margin-top: 9px;
padding: 10px 15px;
text-decoration: none;}
.register_menu_btn a:hover{background: #d58a62 none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}
.original_menu{width: 800px;
float: left;
margin-right: 20px;}
.original_menu ul{margin: 0; 
    padding: 0; 
    list-style: none;}
.original_menu ul li{float: left; 
    margin-right: 10px; 
    position:relative;}
.original_menu ul li a{color: #f1efef;
    display: inline-block;
    font-family: "proxima_nova_rgsemibold";
    font-size: 15px;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0;
    padding: 20px 22px;
    text-decoration: none;
    text-transform: uppercase;}
.original_menu ul li a:hover{background: #0E508E;
    color: #ffffff !important;
    text-decoration: none;}
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.inner_child_info_photo_area.mobile {display: block;padding: 0;}    
.inner_child_info_photo_area {
    width: 400px;
    display: none;
}
.inner_child_info_photo_area_hr {
    display: none;
}
}

@media only screen and (min-width: 200px) and (max-width: 479px) { 
.button-login span {
  font-size: 12px;
  }

  .button-login {

    width: 83px;
}
.button-login span {
  font-size: 12px;
  }

  .button-login {

    width: 83px;
}
.my-account{
  padding-bottom: 20px;
width:100%;
display: block;
} 
 .my-account span{   font-family: "proxima_nova_rgsemibold";
  font-size: 15px;
  font-weight: normal;
  color: #393939;
  line-height: 1.3em;
  /* float: right; */
  padding: 22px 0px 0px 55px;
  margin-top: -2px;
  float: left;}
.my-account img{
  width:20%;
}

.fb_login_top_area1 ul li img {
  width: 40px;
  padding-left: 14px;
  padding-top: 15px;
}
.fb_login_top_area1 ul li {
  float: left;
  width:none;
  }

.inner_child_info_photo_area.mobile {display: block;padding: 0;}    
.inner_child_info_photo_area {
    width: 400px;
    display: none;
}
.inner_child_info_photo_area_hr {
    display: none;
}

}
.original_menu ul li a:hover{background: #0E508E;color: #ffffff !important;text-decoration: none;}

/* ==========================================================================
   DROPDOWN MENU AREA
   ========================================================================== */
.original_menu ul li ul{border-left: 1px solid #d7d7d7;
border-top: 1px solid #d7d7d7;
height: 322px;
left: -9999999px;
margin-top: 0;
padding: 0;
position: absolute;
top: 58px;
width: 566px;
z-index: 99999999;}
.original_menu ul li:hover{background: #F6A580;cursor: pointer;}
.original_menu ul li:hover ul{ left:0px;}
.original_menu ul li ul li{background: #1e7cc8 none repeat scroll 0 0;
    border-bottom: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
    float: left;
    margin-right: 0;
    padding: 0;
    width: 282px;
    z-index: 5;}
    .original_menu ul li ul li a.auditing{background: #1e7cc8 url("img/ac-services.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.auditing:hover{background: #F6A580 url("img/ac-services.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.interior{background: #1e7cc8 url("img/interior-design.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.interior:hover{background: #F6A580 url("img/interior-design.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.signage{background: #1e7cc8 url("img/signage-signboard.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.signage:hover{background: #F6A580 url("img/signage-signboard.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.catering{background: #1e7cc8 url("img/catering-services.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.catering:hover{background: #F6A580 url("img/catering-services.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.support{background: #1e7cc8 url("img/it-support.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.support:hover{background: #F6A580 url("img/it-support.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.landscaping{background: #1e7cc8 url("img/landscape.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.landscaping:hover{background: #F6A580 url("img/landscape.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.photography{background: #1e7cc8 url("img/photo.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.photography:hover{background: #F6A580 url("img/photo.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.offset{background: #1e7cc8 url("img/stationaery.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.offset:hover{background: #F6A580 url("img/stationaery.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.wedding{background: #1e7cc8 url("img/stationaery.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.wedding:hover{background: #F6A580 url("img/stationaery.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.residential{background: #1e7cc8 url("img/cleaner.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.residential:hover{background: #F6A580 url("img/cleaner.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.commercial{background: #1e7cc8 url("img/sweep.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.commercial:hover{background: #F6A580 url("img/sweep.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.maintenance{background: #1e7cc8 url("img/working.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.maintenance:hover{background: #F6A580 url("img/working.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.control{background: #1e7cc8 url("img/pest-icon.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.control:hover{background: #F6A580 url("img/pest-icon.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}

.original_menu ul li ul li a.all-category{background: #1e7cc8 url("img/see-all.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.all-category:hover{background: #F6A580 url("img/see-all.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}


.original_menu ul li ul li a.all-articles{background: #1e7cc8 url("img/see-all.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.all-articles:hover{background: #F6A580 url("img/see-all.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.all-reviews{background: #1e7cc8 url("img/see-all.png") no-repeat scroll left center;
padding-left: 45px;padding-top: 15px !important;}
.original_menu ul li ul li a.all-reviews:hover{background: #F6A580 url("img/see-all.png") no-repeat scroll left center;
padding-left: 45px;padding-top: 15px !important;}



/* ==========================================================================
   NEW ICONS STYLE STARTS
   ========================================================================== */

.original_menu ul li ul li a.bouquet{background: #1e7cc8 url("img/Bouquet_of_Flowers_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.bouquet:hover{background: #F6A580 url("img/Bouquet_of_Flowers_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}

.original_menu ul li ul li a.wedding{background: #1e7cc8 url("img/Wedding_Cake_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.wedding:hover{background: #F6A580 url("img/Wedding_Cake_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}

.original_menu ul li ul li a.partying{background: #1e7cc8 url("img/Boy_Partying_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.partying:hover{background: #F6A580 url("img/Boy_Partying_256.png") no-repeat scroll left center;
padding-left: 45px;padding-top: 15px !important;}

.original_menu ul li ul li a.fair_stand{background: #1e7cc8 url("img/Fair_stand_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.fair_stand:hover{background: #F6A580 url("img/Fair_stand_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}


.original_menu ul li ul li a.give_gift{background: #1e7cc8 url("img/Give_a_Gift_256.png")
 no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.give_gift:hover{background: #F6A580 url("img/Give_a_Gift_256.png") 
no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}

.original_menu ul li ul li a.karaoke_sign{background: #1e7cc8 url("img/Karaoke_Sign_256.png")
 no-repeat scroll left center;padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.karaoke_sign:hover{background: #F6A580 url("img/Karaoke_Sign_256.png") 
no-repeat scroll left center;padding-left: 45px; padding-top: 15px !important;}


.original_menu ul li ul li a.give_gift{background: #1e7cc8 url("img/gift.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.give_gift:hover{background: #F6A580 url("img/gift.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.wedding{background: #1e7cc8 url("img/Wedding_Cake_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a.wedding:hover{background: #F6A580 url("img/Wedding_Cake_256.png") no-repeat scroll left center;
padding-left: 45px; padding-top: 15px !important;}
.original_menu ul li ul li a{background: #1e7cc8 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-family: "proxima_novalight";
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;}
.original_menu ul li ul li a:hover{ background:#F6A580; 
    color:#cccccc;
    border-radius:0px;
    text-decoration:none;}



.one_area{background: #A4632C url("img/headde_bg.png") no-repeat scroll center center;
height: 100%;
overflow: hidden;
width: 100%;}
.one_child_area{position: relative;width: 1140px; margin: 0 auto;}
.inner_one_area_opacity{background: #000000 none repeat scroll 0 0;
border-radius: 3px;
height: 190px;
left: 150px;
opacity: 0.4;
position: absolute;
width: 840px;
z-index: 1;}
.inner_one_area{margin: 119px auto 169px;
position: relative;
width: 840px;
z-index: 999999;}
.inner_one_area h3{color: #ffffff;
font-family: "ProximaNova-Extrabld";
font-size: 26px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-left: 22px;
padding-top: 15px;
text-align: left;}
.inner_one_area h4{color: #ffffff;
font-family: "ProximaNova-Extrabld";
font-size: 23px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-left: 23px;
padding-top: 3px;
text-align: left;}
.inner_one_area input{border: 1px solid #d7d7d7;
border-radius: 3px;
color: #000000;
height: 60px;
margin-left: 22px;
margin-top: 15px;
padding: 5px 5px 5px 7px;
width: 760px;}
input[placeholder], [placeholder], *[placeholder] {
    color: #000000;
    font-family: 'proxima_nova_rgsemibold';
    font-size: 18px;
    font-weight: normal;
    line-height: 1.3em;
}
.two_area{background: #f2f2f2 none repeat scroll 0 0;
overflow: hidden;
padding: 10px 0;}
.two_child_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.two_child_area h4{color: #9b9b9b;
font-family: "proxima_nova_rgsemibold";
font-size: 15px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-left: 50px;
padding-top: 12px;}
.inner_two_area_coain{background: #f2f2f2 url("img/coain_icon.png") no-repeat scroll left center;
float: left;
height: 45px;
margin-right: 20px;
overflow: hidden;
width: 366px;}
.inner_two_area_praper{background: #f2f2f2 url("img/prapper_icon.png") no-repeat scroll left center;
float: left;
height: 45px;
margin-right: 20px;
overflow: hidden;
width: 366px;}
.inner_two_area_star{background: #f2f2f2 url("img/star_icon.png") no-repeat scroll left center;
float: left;
height: 45px;
overflow: hidden;
width: 366px;}
.three_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 0 0 20px;}
.three_child_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.three_child_area h2{color: #333333;
font-family: "proxima_nova_rgsemibold";
font-size: 30px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-top: 0px;
text-align: center;}
.inner_three_area{float: left;
margin-right: 0;
margin-top: 50px;
overflow: hidden;
text-align: center;
width: 360px;}
.inner_three_area img{}
.inner_three_area h3{color: #2b80c6;
font-family: "proxima_nova_rgsemibold";
font-size: 20px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-top: 10px;
text-transform: uppercase;}
.inner_three_area p{color: #888888;
font-family: "proxima_nova_rgregular";
font-size: 15px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-top: 5px;
text-transform: uppercase;}
.three_arrow{float: left;
margin-top: 150px;
overflow: hidden;
width: 24px;}
.fore_area{background: #2e75b9 url("img/arrea_bg.png") repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.fore_child_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.fore_child_area h2{color: #ffffff;
font-family: "proxima_nova_rgsemibold";
font-size: 30px;
font-weight: normal;
margin: 0;
padding-top: 30px;
text-align: center;
text-transform: uppercase;}
.inner_four_area{color: #ffffff;
float: left;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-weight: normal;
line-height: 1.3em;
margin: 20px 25px;
overflow: hidden;
width: 320px;}
.fore_child_area .middle{padding-left: 60px;
width: 250px;}
.fore_child_area .right{padding-left: 60px;
width: 250px;}
.inner_four_area ul{margin: 0;
padding: 0;
list-style: none;}
.inner_four_area ul li{padding-left: 33px;
margin-top: 10px;}
.auditing{background:url("img/calculateor.png") no-repeat scroll left center;}
.coain{background:url("img/calculateor.png") no-repeat scroll left center;}
.interior{background:url("img/interor_desing.png") no-repeat scroll left center;}
.signage{background:url("img/signbord.png") no-repeat scroll left center;}
.catering{background:url("img/cataring.png") no-repeat scroll left center;}
.support{background:url("img/it_support.png") no-repeat scroll left center;}

.bouquet{background:url("img/it_support.png") no-repeat scroll left center;}

.landscaping{background:url("img/gergening.png") no-repeat scroll left center;}
.photography{background:url("img/camera_icon.png") no-repeat scroll left center;}
.offset{background:url("img/offPet_printing.png") no-repeat scroll left center;}
.residential{background:url("img/racidintial.png") no-repeat scroll left center;}
.commercial{background:url("img/comarcial.png") no-repeat scroll left center;}
.maintenance{background:url("img/managmeent.png") no-repeat scroll left center;}
.control{background:url("img/pet_control.png") no-repeat scroll left center;}
.fore_btn{margin: 30px auto;
width: 240px;}
.fore_btn a{background: #eca883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-weight: normal;
line-height: 1.3em;
padding: 20px;
text-decoration: none;}
.fore_btn a:hover{background: #d58a62 none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}
.five_area{background: #E6E6E4 url("img/arrea_tang.png") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.five_child_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.inner_five_text{float: left;
margin-right: 10px;
overflow: hidden;
width: 620px;}
.inner_five_text h1{font-family: "proxima_nova_rgsemibold";
font-size: 30px;
color: #333333;
line-height: 1.3em;
margin: 0;
margin-top: 40px;
font-weight: normal;}
.inner_five_text p{font-family: "proxima_nova_rgregular";
font-size: 15px;
margin: 0;
margin-top: 15px;
font-weight: normal;
line-height: 1.3em;}
.five_btn{}
.five_btn a{background: #eca883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-weight: normal;
line-height: 1.3em;
margin-bottom: 40px;
margin-top: 25px;
padding: 15px 35px;
text-decoration: none;
text-transform: uppercase;}
.five_btn a:hover{background: #d58a62 none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}
.inner_five_img{float: left;
margin-bottom: 20px;
margin-top: 37px;
overflow: hidden;
width: 500px;}
.inner_five_img img{}
.six_area{background: #243859 url("img/arrae_mac.png") no-repeat scroll center center;
height: 100%;
overflow: hidden;
width: 100%;}
.six_child_area{margin: 0 auto;
overflow: hidden;
position: relative;
width: 1140px;}
.inner_six_area_opaciry{background: #000000 none repeat scroll 0 0;
border-radius: 3px;
height: 330px;
left: 185px;
opacity: 0.4;
position: absolute;
top: 30px;
width: 770px;
z-index: 1;}
.inner_six_area{color: #ffffff;
margin: 60px auto;
position: relative;
text-align: center;
width: 730px;
z-index: 999999;}
.inner_six_area h2{color: #dbd8d8;
font-family: "proxima_nova_rgsemibold";
font-size: 25px;
font-weight: normal;
line-height: 1.3em;
margin: 0;}
.inner_six_area p{color: #dbd8d8;
font-family: 'proxima_nova_rgregular';
font-size: 14px;
font-weight: normal;
line-height: 1.3em;
margin: 15px 0 0;}
.six_tabil{}
.six_tabil select{border: medium none #d7d7d7;
border-radius: 5px;
height: 40px;
margin: 25px 0;
width: 380px;
padding-left: 15px;}
.six_btn{margin:0px auto;
width: 240px;}
.six_btn a{background: #eca883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-weight: normal;
line-height: 1.3em;
padding: 15px 30px;
text-decoration: none;}
.six_btn a:hover{background: #d58a62 none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}
.seven_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
width: 100%;}
.seven_child_area{margin: 0 auto;
overflow: hidden;
position: relative;
width: 1140px;}
.seven_child_area h2{color: #1e7cc8;
font-family: "proxima_nova_rgsemibold";
font-size: 25px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-top: 30px;
text-align: center;}
.seven_child_area p{color: #1e7cc8;
font-family: 'proxima_nova_rgregular';
font-size: 15px;
font-weight: normal;
line-height: 1.3em;
margin: 0;
padding-top: 10px;
text-align: center;}
.seven_btn{margin: 20px auto;
width: 240px;}
.seven_btn a{background: #eca883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgsemibold";
font-size: 18px;
font-weight: normal;
line-height: 1.3em;
padding: 15px 30px;
text-decoration: none;}
.seven_btn a:hover{background: #d58a62 none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}

/*Footer Area*/
.main_footer_area{background: #2084cc none repeat scroll 0 0;
overflow: hidden;
position: relative;}
.inner_footer_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.ziggag_area{background: rgba(0, 0, 0, 0) url("img/zikzag.png") repeat scroll center top;
height: 11px;
left: 0;
margin-top: 0;
overflow: hidden;
position: absolute;
width: 211px;}
.customar_footer_area{background: #0e508e none repeat scroll 0 0;
float: left;
margin-right: 20px;
margin-top: 40px;
overflow: hidden;
padding-bottom: 20px;
padding-left: 10px;
padding-right: 10px;
position: relative;
width: 190px;}
.customar_footer_area h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin-bottom: 10px;
text-transform: uppercase;
padding-top: 10px;}
.customar_footer_area ul{margin: 0; padding: 0; list-style: none;}
.customar_footer_area ul li{color: #ffffff;
padding-left: 35px;}
.customar_footer_area ul li.convenience{background:url("img/conven.png") no-repeat scroll left top;}
.customar_footer_area ul li.competitive{background:url("img/compet-price.png") no-repeat scroll left top;}
.customar_footer_area ul li.speed{background:url("img/speed.png") no-repeat scroll left top;}
.customar_footer_area ul li.reputation{background:url("img/reputation.png") no-repeat scroll left top;}
.customar_footer_area ul li.freetouse{background:url("img/free-use.png") no-repeat scroll left top;}
.customar_footer_area ul li.amazing{background:url("img/amazing.png") no-repeat scroll left top;}
.customar_footer_area ul li a{}
.customar_footer_area ul li p{color: #ffffff;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
padding: 0;}
.customar_footer_area ul li p span{color: #c5e3ff;
display: block;
font-size: 12px;
line-height: 14px;
width: 100%;}
.about_footer_area{float: left;
margin-left: 20px;
margin-top: 26px;
overflow: hidden;
width: 170px;}
.inner_abour_area_footer{float: left;
margin-bottom: 20px;
width: 180px;}
.inner_abour_area_footer h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.inner_abour_area_footer ul{margin: 0; padding: 0; list-style: none;}
.inner_abour_area_footer ul li{float: none;}
.inner_abour_area_footer ul li a{color: #ffffff;
display: inline-block;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
padding: 0 0 3px;
text-decoration: none;}
.inner_abour_area_footer ul li a:hover{color: #ffffff !important;text-decoration: none;}
.inner_client_area_footer{float: left;
overflow: hidden;
width: 180px;}
.inner_client_area_footer h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.inner_client_area_footer ul{margin: 0; padding: 0; list-style: none;}
.inner_client_area_footer ul li{}
.inner_client_area_footer ul li a{color: #ffffff;
display: inline-block;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
padding: 0 0 3px;
text-decoration: none;}
.inner_client_area_footer ul li a:hover{color: #ffffff !important;text-decoration: none;}
.vendor_footer_area{float: left;
margin-left: 20px;
margin-top: 25px;
overflow: hidden;
width: 180px;}
.inner_vendor_area_footer{float: left;
margin-bottom: 28px;
overflow: hidden;
width: 180px;}
.inner_vendor_area_footer h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.inner_vendor_area_footer ul{margin: 0; padding: 0; list-style: none;}
.inner_vendor_area_footer ul li{}
.inner_vendor_area_footer ul li a{color: #ffffff;
display: inline-block;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
padding: 0 0 3px;
text-decoration: none;}
.inner_vendor_area_footer ul li a:hover{color: #ffffff !important;text-decoration: none;}
.inner_client_resposce_footer{}
.inner_client_resposce_footer h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.inner_client_resposce_footer ul{margin: 0; padding: 0; list-style: none;}
.inner_client_resposce_footer ul li{}
.inner_client_resposce_footer ul li a{color: #ffffff;
display: inline-block;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
padding: 0 0 3px;
text-decoration: none;}
.inner_client_resposce_footer ul li a:hover{color: #ffffff !important;text-decoration: none;}
.saty_footer_area{float: left;
margin-left: 20px;
margin-top: 25px;
overflow: hidden;
width: 200px;}
.footer_social_area{float: left;
margin-bottom: 100px;
overflow: hidden;
width: 200px;}
.footer_social_area h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.footer_social_area ul{margin: 0; padding: 0; list-style: none;}
.footer_social_area ul li{float: left;
padding-left: 10px;
padding-top: 0;}
.footer_social_area ul li.facebook{background:url("img/f_face_icon.PNG") no-repeat scroll left top;}
.footer_social_area ul li.twitter{background:url("img/f_twitter_icon.PNG") no-repeat scroll left top;}
.footer_social_area ul li.google_plus{background:url("img/f_google_icon.PNG") no-repeat scroll left top;}
.footer_social_area ul li a{color: #ffffff;
display: inline-block;
font-size: 14px;
font-weight: normal;
line-height: 20px;
margin-bottom: 0;
padding: 0 0 3px;
text-decoration: none;}
.footer_social_area ul li a:hover{color: #ffffff !important;text-decoration: none;}
.footer_card_area{float: left;
overflow: hidden;
width: 143px;}
.footer_card_area h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.footer_card_area img{display: block;
margin-left: auto;
margin-right: auto;}
.contact_footer_area{float: left;
margin-left: 10px;
margin-top: 25px;
width: 285px;}
.inner_contact_footer_area{float: left;
width: 250px;}
.inner_contact_footer_area h2{color: #ffffff;
font-size: 14px;
font-weight: normal;
margin: 10px 0;
text-transform: uppercase;}
.inner_contact_footer_area ul{margin: 0; padding: 0; list-style: none;}
.inner_contact_footer_area ul li{float: none;
margin-bottom: 10px;
min-height: 27px;
padding-top: 0;}
.inner_contact_footer_area ul li.place{background-image: url("img/f_map_icon.PNG");
background-position: left top;
background-repeat: no-repeat;}
.inner_contact_footer_area ul li.phone{background-image: url("img/f_call_icon.PNG");
background-position: left top;
background-repeat: no-repeat;}
.inner_contact_footer_area ul li.business{background-image: url("img/f_message_icon.PNG");
background-position: left top;
background-repeat: no-repeat;}
.inner_contact_footer_area ul li p{
color: #fff;
font-size: 14px;
line-height: 18px;
margin: 0 0 10px;
padding-left: 32px;}
.inner_newslatter_footer_area{background: #0e508e none repeat scroll 0 0;
border-radius: 5px;
float: left;
height: 165px;
overflow: hidden;
position: relative;
width: 285px;}
.inner_newslatter_footer_area h2{color: #ffffff;
font-family: "proxima_nova_rgsemibold";
font-size: 24px;
font-weight: normal;
margin: 10px 0;
text-align: center;
text-transform: none;}
.inner_newslatter_footer_area p{color: #c5e3ff;
display: block;
font-size: 12px;
line-height: 14px;
padding-left: 15px;
padding-right: 15px;
text-align: left;
width: 100%;
font-weight: normal;}
.inner_newslatter_footer_area_zig{background: rgba(0, 0, 0, 0) url("img/zigzag_turn.png") repeat scroll center top;
bottom: -1px;
height: 16px;
left: 0;
margin-top: 0;
overflow: hidden;
position: absolute;
width: 290px;}
.mail-box {background-color: #333;
border-radius: 5px;
box-shadow: 0 0 12px 5px #212121 inset;
font-size: 15px;
margin: 20px 0 20px 15px;
padding: 5px;
width: 250px;
}
.mail-box input[type="email"] {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  padding: 6px 5px;
  width: 65%;
}
.mail-box input[type="submit"] {
  background-color: #bdbdbd;
  border: 0 none;
  box-shadow: 0 17px 3px 0 #9e9d9d inset;
  color: #000;
  padding: 6px 1px;
  width: 28%;
}
input, select, textarea {
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  padding: 7px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
}
.botom_footer_menu{background: #2084CC;
overflow: hidden;padding-bottom: 30px;}
.inner_bottomfooter_menu{margin: 0 auto;
overflow: hidden;
text-align: center;
width: 600px;}
.inner_bottomfooter_menu ul{margin: 0; padding: 0; list-style: none;}
.inner_bottomfooter_menu ul li{float: left;
margin-right: 20px;}
.inner_bottomfooter_menu ul li a{color: #fff;
cursor: pointer;
font-size: 11px !important;
font-weight: normal;
padding: 5px 30px 5px 0;
text-decoration: none;
text-transform: uppercase;}
.inner_bottomfooter_menu ul li a:hover{color: #ffffff !important;text-decoration: none;}













/* ==========================================================================
   Desktop Layout: 1024px.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .my-account{

    display: none;
  }
.mail-box {margin-left: 18px;}
.inner_headder_area, .inner_main_menu_area, .one_child_area, .two_child_area, .three_child_area, .fore_child_area, .five_child_area, .six_child_area, .seven_child_area, .inner_footer_area{width: 970px;}
.original_menu {width: 720px;}
.original_menu ul li a {padding: 20px 18px;}
.inner_one_area_opacity {left: 65px;}
.inner_two_area_coain {width: 280px;}
.inner_two_area_praper {width: 295px;}
.inner_two_area_star {width: 300px;}
.inner_three_area {width: 290px;}
.inner_four_area {width: 260px;}
.fore_btn {width: 250px;}
.fore_btn a {padding: 14px 25px;}
.inner_five_text {width: 455px;}
.inner_six_area_opaciry {left: 105px;}
.customar_footer_area {margin-right: 10px;width: 180px;}
.about_footer_area {margin-left: 0;
margin-right: 10px;
width: 150px;}
.inner_abour_area_footer, .inner_client_area_footer, .inner_vendor_area_footer {width: 140px;}
.footer_social_area {width: 160px;}
.vendor_footer_area {margin-left: 0px;width: 150px;}
.saty_footer_area {margin-left: 0px;width: 160px;}
.fore_child_area .middle {
  padding-left: 30px;}
.fore_child_area .right {
  padding-left: 20px;}
.contact_footer_area {width: 260px;}

/**/
.sticky_top_menu_area_inner{width: 970px;}
.sticky_table_menu {width: 300px;}
.sticky_table_menu select {width: 290px;}


}
/* ==========================================================================
   Tablet Layout: 768px.
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .my-account{

    display: none;
  }
.inner_headder_area, .inner_main_menu_area, .one_child_area, .two_child_area, .three_child_area, .fore_child_area, .five_child_area, .six_child_area, .seven_child_area, .inner_footer_area{width: 700px;}
.main_logo_area {height: 25px;
margin-top: 25px;
width: 160px;}
.original_menu {float: none;
margin: 0 auto;
width: 700px;}
.original_menu ul li {margin-right: 5px;}
.original_menu ul li a {padding: 10px 12px;}
.register_menu {display: none;
float: none;
margin: 5px auto;
overflow: hidden;}
.original_menu ul li ul {height: 300px;
overflow: scroll;
top: 38px;
width: 280px;}
.inner_one_area {margin: 60px auto;
width: 600px;}
.inner_one_area input {height: 50px;width: 475px;}
input[placeholder], [placeholder], [placeholder] {font-size: 15px;}
.inner_one_area_opacity {left: 50px;
width: 600px;
height: 210px;}
.inner_two_area_coain {margin-left: 100px;
margin-right: 20px;
width: 240px;}
.inner_two_area_praper {width: 295px;margin-right: 5px;}
.inner_two_area_star {width: 300px;
margin: 0 auto;
float: none;}
.inner_three_area {
  width: 200px;
}
.inner_three_area img {
  width: 100px;
}
.three_arrow{margin-top: 90px;}
.three_arrow img{width: 10px;}
.inner_four_area {margin: 50px 15px;
width: 200px;}
.fore_btn {width: 250px;}
.fore_btn a {padding: 14px 25px;}
.inner_five_text {width: 400px;}
.inner_five_img {margin-top: 70px;width: 280px;}
.inner_five_img img {
  width: 100%;
}
.inner_six_area {width: 600px;}
.inner_six_area_opaciry {left: 40px;
width: 629px;
height: 380px;}
.customar_footer_area { margin-right: 0;width: 180px;}
.about_footer_area {margin-left: 10px; width: 130px;}
.vendor_footer_area {margin-left: 10px;width: 150px;}
.saty_footer_area {float: none;
margin: 0 auto;
width: 500px;}
.footer_social_area {float: left;margin: 17px auto 0;}
.contact_footer_area {
  float: none;
  margin: 0 auto;
  overflow: hidden;
  width: 500px;}
.inner_contact_footer_area {
  margin:50px auto;
  width: 300px;
}
.inner_newslatter_footer_area {float: none;width: 285px;
  margin: 15px auto;}
.phone_top_area {height: 40px;
  margin-right: 5px;padding-top: 20px;width: 180px;}
.customar_footer_area, .about_footer_area, .vendor_footer_area, .footer_card_area, .inner_newslatter_footer_area{display: none;}
.fore_child_area .middle {padding-left: 0;
width: 200px;}
.fore_child_area .right {
padding-left: 0;
width: 200px;}


/**/
.sticky_top_menu_area_inner{width: 700px;}
.sticky_heading {margin-right: 10px;width: 340px;}
.sticky_heading h2{font-size: 18px;}
.sticky_table_menu {width: 210px;margin-right: 5px;}
.sticky_table_menu select {width: 208px;}
.sticky_table_menu_btn {width: 115px;margin-top: 4px;}
.sticky_table_menu_btn a {font-size: 15px;padding: 8px 10px;}














}
/* ==========================================================================
   Mobile Layout: 320px.
   ========================================================================== */
@media only screen and (min-width: 200px) and (max-width: 479px) {

  .my-account{

width:100%;
display: block;
} 
 .my-account span{   font-family: "proxima_nova_rgsemibold";
  font-size: 15px;
  font-weight: normal;
  color: #393939;
  line-height: 1.3em;
  /* float: right; */
  padding: 22px 0px 0px 55px;
  margin-top: -2px;
  float: left;}
.my-account img{
  width:20%;
}
  .button-login span {
  font-size: 12px;
  }

  .button-login {

    width: 83px;
}
.inner_headder_area, .inner_main_menu_area, .one_child_area, .two_child_area, .three_child_area, .fore_child_area, .five_child_area, .six_child_area, .seven_child_area, .inner_footer_area, .inner_bottomfooter_menu{width: 280px;}
    .slicknav_menu{display: block;}
    .original_menu {display: none;}
.main_logo_area {
  float: none;
  height: 30px;
  margin: 5px auto;
  width: 180px;
}
.facebook_login_area {
  float: none;
  margin: 0 auto;
  width: 280px;
}
.fb_login_top_area {float: none;
margin: 0 auto;
width: 290px;
}
.fb_login_top_area ul li {margin-right: 0;}
.register_menu {
  float: none;
  width: 230px;
  margin: 0 auto;}


   .fb_login_top_area1 {float: none;
margin: 0 auto;
width: 290px;
}  
  
.fb_login_top_area1 ul li {margin-right: 0;}  


.register_menu {
  float: none;
  width: 230px;
  margin: 0 auto;}  
  .register_menu1 {
  float: none;
  width: 230px;
  margin: 0 auto;}  
.phone_top_area {
  border-right: 0 solid #dfdfdf;
  float: none;
  height: 30px;
  margin: 0 auto;
  padding-top: 10px;}
.inner_one_area {margin: 10px auto;
width: 260px;}
.inner_one_area input {height: 40px;
margin-left: 5px;
width: 200px;}
input[placeholder], [placeholder], [placeholder] {font-size: 15px;}
.inner_one_area_opacity {height: 183px;
left: 0;
top: 10px;
width: 300px;}
.inner_one_area h3 {font-size: 20px;
padding-left: 10px;
line-height: 1.1em;}
.inner_two_area_coain {float: none;
margin: 0 auto;
width: 280px;}
.inner_two_area_praper {float: none;
margin: 0 auto;width: 280px;}
.inner_two_area_star {width: 280px;
margin: 0 auto;
float: none;}
.inner_three_area {float: none;
margin: 10px auto;
width: 280px;
}
.inner_three_area img {
  width: 200px;
}
.three_arrow{display: none;}
.inner_four_area {margin: 10px auto;
width: 250px;
float: none;}
.fore_btn {width: 250px;}
.inner_five_text {width: 250px;
float: none;
margin: 0 auto;}
.inner_five_img {float: none;
margin:0 auto 20px;width: 250px;}
.inner_five_img img {
  width: 100%;
}
.inner_six_area {width: 250px;
margin: 30px auto;}
.inner_six_area_opaciry {height: 530px;
left: 4px;
top: 10px;
width: 270px;}
.six_tabil select {width: 250px;}
.six_btn a, .seven_btn a, .five_btn a, .fore_btn a {font-size: 15px;padding: 10px 20px;}
.seven_btn {width: 160px;}
.customar_footer_area, .about_footer_area, .vendor_footer_area, .saty_footer_area {float: none;margin: 15px auto;}
.inner_abour_area_footer {margin-bottom: 20px;}
.inner_newslatter_footer_area {float: left;
  height: 170px;width: 260px;margin-bottom: 20px;}
 .inner_newslatter_footer_area h2 {font-size: 20px;}
.inner_newslatter_footer_area p {padding-right: 10px;width: auto;}
.mail-box {width: 235px;}
.customar_footer_area, .about_footer_area, .vendor_footer_area, .footer_card_area, .inner_newslatter_footer_area{display: none;}
.footer_social_area {margin-bottom: 0;}
.contact_footer_area {float: none;margin: 20px auto;}
.mainmenu_area {display: none;}
.saty_footer_area{float: left;}
.inner_contact_footer_area {
  width: 260px;
}
.inner_bottomfooter_menu ul li {
  float: none;
  margin-right: 20px;
  text-align: left;
}
.fore_child_area .middle {padding-left: 0;
width: 250px;}
.fore_child_area .right {
padding-left: 0;
width: 250px;}
.inner_one_area h4 {font-size: 20px;line-height: 1.2em;padding-left: 10px; padding-top: 20px;}

/**/
.sticky_top_menu_area_inner{width: 280px;}
.sticky_heading {float: none;
margin: 0 auto;
width: 250px;}
.sticky_heading h2{font-size: 18px;
padding: 3px 0;}
.sticky_table_menu {float: none;
margin: 0 auto;
width: 250px;}
.sticky_table_menu select {height: 30px;margin: 5px 0;padding-left: 5px;width: 240px;}
.sticky_table_menu_btn {float: none;
margin: 0px auto 10px;
width: 145px;}
.sticky_table_menu_btn a {font-size: 16px;
padding: 10px 20px;}
.slicknav_menu {display: block;padding: 0px;}

}

/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .my-account{
width:100%;
display: block;
  padding-bottom: 20px;
} 
 .my-account span{   font-family: "proxima_nova_rgsemibold";
  font-size: 15px;
  font-weight: normal;
  color: #393939;
  line-height: 1.3em;
  /* float: right; */
  padding: 22px 0px 0px 55px;
  margin-top: -2px;
  float: left;}
.my-account img{
  width:20%;
}
.fb_login_top_area1 ul li img {
  width: 40px;
  padding-left: 14px;
  padding-top: 15px;
}
.inner_headder_area, .inner_main_menu_area, .one_child_area, .two_child_area, .three_child_area, .fore_child_area, .five_child_area, .six_child_area, .seven_child_area, .inner_footer_area{width: 420px;}
.main_logo_area {
  float: none;margin: 5px auto;
  width: 298px;}
.facebook_login_area {
  float: none;
  margin: 0 auto;width: 400px;}
.phone_top_area {
  border-right: 0 solid #dfdfdf;
  float: none;
  height: 20px;margin: 0 auto;padding-top: 10px;}
.fb_login_top_area {
  float: none;
  margin: 0 auto;
  padding-top: 10px;
  width: 310px;
}
.fb_login_top_area1 {
  float: none;
  margin: 0 auto;
  padding-top: 10px;
  width: 310px;
}
.inner_child_info_photo_area.mobile {display: block;padding: 0;}   
    .slicknav_menu{display: block;}
    .original_menu {display: none;}
.register_menu {
  float: none;width: 230px;
  margin: 0 auto;}
.inner_one_area {margin: 60px auto;
width: 350px;}
.inner_one_area input {height: 50px;
width: 270px;
margin-left: 5px;}
input[placeholder], [placeholder], [placeholder] {font-size: 15px;}
.inner_one_area_opacity {height: 255px;
left: 18px;
width: 385px;}
.inner_two_area_coain {float: none;
margin: 0 auto;
width: 300px;}
.inner_two_area_praper {float: none;
margin: 0 auto;width: 300px;}
.inner_two_area_star {width: 300px;
margin: 0 auto;
float: none;}
.inner_three_area {float: none;
margin: 10px auto;
width: 350px;
}
.inner_three_area img {
  width: 200px;
}
.three_arrow{display: none;}
.inner_four_area {margin: 0px auto;
width: 300px;
float: none;}
.fore_btn {width: 250px;}
.fore_btn a {padding: 14px 25px;}
.inner_five_text {width: 400px;
float: none;
margin: 0 auto;}
.inner_five_img {float: none;
margin:0 auto 20px;width: 300px;}
.inner_five_img img {
  width: 100%;
}
.inner_six_area {width: 400px;}
.inner_six_area_opaciry {height: 440px;
left: 4px;
width: 412px;}
.inner_bottomfooter_menu {width: 400px;}
.register_menu_btn a {margin-bottom: 5px;}


.customar_footer_area, .about_footer_area, .vendor_footer_area, .footer_card_area, .inner_newslatter_footer_area{display: none;}
.footer_social_area {margin-bottom: 0;}
.contact_footer_area {float: none;margin: 20px auto;}
.inner_contact_footer_area {
  float: none;
  margin: 0 auto;
  overflow: hidden;
  width: 300px;
}
.mainmenu_area {display: none;}
.saty_footer_area{float: left;}
.fore_child_area .middle {padding-left: 0;
width: 300px;}
.fore_child_area .right {
padding-left: 0;
width: 300px;}
.inner_one_area h3 {line-height: 1.1em;
padding-left: 10px;}
.inner_one_area h4 {padding-left: 10px;}


/**/
.sticky_top_menu_area_inner{width: 400px;}
.sticky_heading {float: none;
margin: 0 auto;
width: 340px;}
.sticky_heading h2{font-size: 18px;
padding: 3px 0;}
.sticky_table_menu {float: none;
margin: 0 auto;
width: 345px;}
.sticky_table_menu select {height: 30px;margin: 5px 0;padding-left: 5px;width: 340px;}
.sticky_table_menu_btn {float: none;
margin: 0px auto 10px;
width: 145px;}
.sticky_table_menu_btn a {font-size: 16px;
padding: 10px 20px;}
.slicknav_menu {display: block;padding: 0px;}












.dropdown_select {
  border: none;
}