/* Smartphones (portrait and landscape) ----------- */
@media (max-width: 1199px) {
	.category-search .category-steps-block .steps {
	    background: url("../img/steps_bg.png") no-repeat scroll 44px 5px / 87% auto rgba(0, 0, 0, 0);
	    color: #ffffff;
	    font-size: 18px;
	    margin-bottom: 20px;
	    padding: 5px 15px;
	}

	.category-search .category-steps-block .steps p {
	    display: table-cell;
	    float: right;
	    font-size: 16px;
	    height: 101px;
	    padding-right: 11px;
	    padding-top: 25px;
	    text-align: left;
	    vertical-align: middle;
	    width: 72%;
	}

	.category-search .category-steps-block .steps span {
	    color: #ffffff;
	    float: left;
	    font-size: 57px !important;
	    padding: 8px 8px 8px 44px;
	    width: 20%;
	}
}

@media (max-width:991px){
	.category-search .category-steps-block .steps{
		float: none;
		background: url("../img/steps_bg.png") no-repeat scroll center center rgba(0, 0, 0, 0);
		width: 70%;
		clear: both;
		height: 100px !important;
		margin: auto;
	}

	.category-search .category-steps-block .steps span{
		padding: 8px 8px 8px 24%;
	}

	.category-search .category-steps-block .steps p{
		padding-left: 0px;
		padding-right: 34px;
		float: left;
		padding-left: 30px;
		width: 57%;
	}

	.cat-form-block .col-md-11, .cat-form-block .col-md-10, .cat-list-block .col-md-11{
		border-left: 0px solid #eee;
		padding-top: 0px;
	}

	.cat-list-block .col-md-10{
		padding-top: 0px !important;
	}

	.cat-list-cont .col-md-6{
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.align-right{
		float: left !important;
	    margin-right: 50px;
	    margin-left: 10px;
	    width: auto !important;
	}
}

@media (max-width:547px){
	.category-search .category-steps-block .steps{
		width: 100% !important;
		color: #1e7cc8 !important;
		background: none !important;
	}

	.category-search .category-steps-block .steps span{
		color: #1e7cc8;
	}

	.cat-list-block{
		padding-bottom: 10px;
	}
}

/************ node4 responsiveness *****************/
/*=============================Responsive Layout==========================================*/
/* Big Computer Layout: 1100. */
@media only screen and (max-width: 1025px) {	

}

/* Computer Layout: 1024px. */
@media only screen and (min-width: 992px) and (max-width: 1024px) {	
.vendor_reviews_area_child_img, .thework_reviews_area_child_img {width: 250px;}
.vendor_reviews_area_child, .thework_reviews_area_child {width: 970px;} 
.vendor_reviews_area_child_txt, .thework_reviews_area_child_txt {padding: 40px 10px 45px 40px;width: 710px;} 
.position_area, .position_area_two {width: 970px;} 
.vandor_reviews_directory, .thework_reviews_directory {width: 968px;}  
.vandor_reviews_directory_txt, .thework_reviews_directory_txt {width: 395px;}  
/* Vendor Review Page */    
.inner_vendor_area {width: 970px;}    
.child_inned_vendor {width: 650px;} 
.child_inned_sideber_vendpr {float: right;width: 300px;}  
.child_sideber_vendor {width: 300px;} 
.vendor_child_main_content_img {margin: 10px;}
.vendor_child_main_content_txt {margin-right: 10px;width: 215px;} 
.vendor_child_main_content_rating {margin-right: 0;margin-bottom: 50px;} 
.get_mached_right_way_img {padding: 10px;}  
.get_mached_right_way_btn {margin-left: 5px;width: 190px;} 
.mached_btn {font-size: 16px;}  
.child_sideber_vendor input { width: 180px;}    
#sticky.stick {right: 20px;}
    
/* Vendor Review Page  2*/     
.two_vendor_page_inner {width: 970px;}  
.two_vendor_sideber {padding: 10px;width: 200px;}  
.compare_btn {font-size: 13px;}    
    
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
.vendor_reviews_area_child_img, .thework_reviews_area_child_img {width: 200px;}
.vendor_reviews_area_child, .thework_reviews_area_child {width: 750px;} 
.vendor_reviews_area_child_txt, .thework_reviews_area_child_txt {padding: 30px 10px 35px 30px;width: 540px;} 
.position_area, .position_area_two {width: 750px;} 
.vandor_reviews_directory, .thework_reviews_directory {width: 748px;}  
.vandor_reviews_directory_txt, .thework_reviews_directory_txt {width: 285px;}  
.vandor_reviews_directory_txt h2 {font-size: 15px;}    
.vandor_reviews_directory_dropdown {width: 255px;}
.thework_reviews_directory_dropdown {width: 215px;}    
/* Vendor Review Page */    
.inner_vendor_area {width: 750px;}    
.child_inned_vendor {width: 500px;} 
.child_inned_sideber_vendpr {float: right;width: 230px;}  
.child_sideber_vendor {width: 230px;} 
.vendor_child_main_content_img {margin: 5px;width: 100px;}
.vendor_child_main_content_txt {margin-right: 10px;width: 215px;} 
.vendor_child_main_content_txt h2 {margin: 0;}      
.vendor_child_main_content_rating {margin-right: 0;margin-bottom: 50px;} 
.get_mached_right_way_img {padding: 10px;}  
.get_mached_right_way_btn {float: left;width: 300px;margin-left: 50px;margin-bottom: 20px;margin-top: 0px;} 
.mached_btn {font-size: 16px;}  
.child_sideber_vendor input { width: 110px;}    
.vendor_top_menu_drop_one {width: 270px;}
.vendor_child_main_content_rating {float: left;margin: 5px auto !important;overflow: hidden;width: 145px;}
.vendor_child_main_content_rating img{width: 100%;}
.rating_inner_text h3 {margin: 0;}
.rating_checkbox label {font-size: 15px;margin-top: 15px;}    
.pagenavarea_inner {width: 480px;}  
#sticky.stick {right: -6px;}    
    
/* Vendor Review Page  2*/      
.two_vendor_page_inner {width: 750px;}  
.two_vendor_sideber {padding: 10px;width: 200px;}  
.compare_btn {font-size: 13px;} 
#home {width: 520px;}    
.two_vendor_child {width: 520px;margin-left: 10px;} 
.two_vendor_child_inner_pre {padding-bottom: 10px;}    
.two_vendor_child_inner_pre_img {float: left;margin-top: 20px;padding: 10px;width: 265px;}
.two_vendor_child_inner_pre_btn {float: left;margin-top: 0;} 
.two_vendor_child_mainmenu ul li a{margin-left: 18px;}    
#owl-demo {width: 480px;}
.owl-buttons {width: 520px;}
.two_vendor_child_inner_menu ul li a{margin-left: 15px;}  
#reviews_child {width: 100%;}
.comments_area {width: 100%;}    
.original_menu ul li ul {width: 282px;} 
    
    
    
    
    
    
    
    
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.vendor_reviews_area_child_img, .thework_reviews_area_child_img {float: none;margin: 20px auto 0;width: 200px;}
.vendor_reviews_area_child, .thework_reviews_area_child {margin: 10px auto 115px;width: 450px;} 
.vendor_reviews_area_child_txt, .thework_reviews_area_child_txt {padding: 10px;width: 440px;float: none;margin: 0 auto;overflow: hidden;} 
.position_area, .position_area_two {width: 450px;} 
.vandor_reviews_directory, .thework_reviews_directory {bottom: 2px;width: 448px;}  
.vandor_reviews_directory_txt, .thework_reviews_directory_txt {width: 100%;}  
.vandor_reviews_directory_txt h2 {font-size: 17px;text-align: center;}    
.vandor_reviews_directory_dropdown {width: 255px;}
.thework_reviews_directory_dropdown {width: 215px;} 
.thework_reviews_area_child {margin: 20px auto 110px;} 
.thework_reviews_directory_txt h2 {text-align: center;}    
.position_area {width: 450px;} 
/* Vendor Review Page */  
.compare_btn_area{display: block;}    
.inner_vendor_area {width: 400px;}    
.child_inned_vendor {float: none;margin: 0 auto;width: 370px;} 
.vendor_child_main_content_rating img{width: 100%;}    
.child_inned_sideber_vendpr {display: none;float: left;width: 280px;}  
.child_sideber_vendor {width: 280px;position: relative;} 
.vendor_child_main_content_img {margin: 5px;width: 100px;}
.vendor_child_main_content_txt {margin-right: 3px;width: 115px;} 
.vendor_child_main_content_rating {margin-right: 0;margin-bottom: 50px;} 
.get_mached_right_way_img {margin-right: 5px;overflow: hidden;padding: 5px;width: 70px;} 
.get_mached_right_way_img img {width: 100%;}    
.get_mached_right_way_btn {float: left;width: 280px;margin-left: 50px;margin-bottom: 20px;margin-top: 0px;} 
.mached_btn {font-size: 16px;margin-top: 0px}  
.child_sideber_vendor input { width: 150px;}    
.vendor_top_menu_drop_one {width: 356px;}
.vendor_child_main_content_rating {float: none;margin: 1px auto !important;overflow: hidden;width: 120px;}
.rating_inner p {float: left;} 
.squaredTwo {float: none;margin: 0 auto;} 
.rating_checkbox label {text-align:  center;}
.vendor_child_main_content_txt h2 {margin: 0;}    
.vendor_top_menu_drop_two { padding-right: 9px;padding-top: 0;width: 346px;}        
.pagenavarea_inner {width: 300px;}    
#sticky.stick {position: relative;right: 0px;}    
.vendor_child_main_content {padding: 2px;}    
.get_mached_right_way {width: 370px;padding-top: 0px;} 
.get_mached_right_way_text {float: right;margin: 0 auto;overflow: hidden;padding-top: 2px;width: 280px;}
.get_mached_right_way_btn {float: none;margin: 0 auto;overflow: hidden;width: 197px;margin-bottom: 10px;}  
.gray_box_area{display: block;}
.gray_box_area_child{background: #2b80c6 none repeat scroll 0 0;color: #ffffff;margin-top: 10px;padding: 10px;width: 100%;}
.gray_box_area_child p{}    

/* Vendor Review Page  2*/      
.two_vendor_page_inner {width: 450px;}  
.two_vendor_sideber {padding: 10px;width: 200px;}  
.compare_btn {font-size: 13px;} 
#home {width: 400px;}    
.two_vendor_child {margin-bottom: 15px;margin-left: 10px;width: 400px;} 
.two_vendor_child_inner_pre {padding-bottom: 10px;}    
.two_vendor_child_inner_pre_img {float: left;margin-top: 20px;padding: 5px;width: 110px;}
.two_vendor_child_inner_pre_txt {float: left;padding-top: 22px;width: 150px;} 
.two_vendor_child_inner_pre_txt h2 {font-size: 16px;}   
.rating_inner {width: 130px;}
.rating_inner ul li img {margin-left: 1px;width: 84%;}    
.two_vendor_child_inner_pre_img img {width: 100%;}    
.two_vendor_child_inner_pre_btn {float: left;margin-left: 5px;margin-right: 5px;margin-top: 0;width: 120px;}    
#owl-demo {width: 380px;}
.owl-buttons {width: 400px;}
.two_vendor_child_inner_menu ul li a {font-size: 16px;margin-left: 5px;padding: 5px;margin-top: 7px;margin-bottom: 7px;}  
#reviews_child {width: 100%;}
.comments_area {width: 100%;}  
.two_vendor_child_inner_menu ul li:last-child {float: left;margin-right: 0;} 
.two_vendor_sideber {float: none;margin: 10px auto;overflow: hidden;padding: 10px;width: 300px;}
.two_vendor_child_inner_menu {margin-bottom: 20px;}  
.two_vendor_child_mainmenu ul li a {font-size: 15px;margin-left: 10px;padding: 3px 7px;}    
.profile_child_one h3, .profile_child_two h3 {padding-top: 0;}    
    
    
    
    
}

/* Normal Mobile Layout: 320px. */
@media only screen and (min-width: 320px) and (max-width: 469px) {
.vendor_reviews_area_child_img, .thework_reviews_area_child_img {float: none;margin: 20px auto 0;width: 200px;}
.vendor_reviews_area_child, .thework_reviews_area_child {margin: 10px auto 115px;width: 300px;} 
.vendor_reviews_area_child_txt, .thework_reviews_area_child_txt {padding: 10px;width: 290px;float: none;margin: 0 auto;overflow: hidden;} 
.position_area, .position_area_two {width: 300px;} 
.vandor_reviews_directory{bottom: -82px;}
.vandor_reviews_directory, .thework_reviews_directory {width: 298px;} 
.thework_reviews_area {margin-top: 200px;}
.vandor_reviews_directory_btn {margin: 10px auto;width: 175px;} 
.vandor_reviews_directory_dropdown {float: none;margin: 0 auto;width: 255px;}    
.vandor_reviews_directory_txt, .thework_reviews_directory_txt {width: 100%;}  
.vandor_reviews_directory_txt h2 {font-size: 17px;text-align: center;} 
.thework_reviews_directory_dropdown {width: 250px;float: none;margin: 0 auto;} 
.thework_reviews_area_child {margin: 20px auto 175px;} 
.thework_reviews_directory_txt h2 {text-align: center;}    
.thework_reviews_directory{bottom: 10px;}    
.thework_reviews_directory_btn {float: none;margin: 10px auto;width: 180px;}    
.position_area {width: 300px;} 
/* Vendor Review Page */ 
.compare_btn_area{display: block;}    
.inner_vendor_area {margin-left: 10px;width: 290px;}    
.child_inned_vendor {width: 280px;} 
.vendor_child_main_content_rating img{width: 86%;}    
.child_inned_sideber_vendpr {float: left;width: 280px;display: none;}  
.child_sideber_vendor {width: 280px;position: relative;}
.vendor_child_main_content_img {margin: 0px;width: 80px;}
.vendor_child_main_content_txt {margin-left: 5px;margin-right: 5px;padding-top: 0;width: 100px;} 
.vendor_child_main_content_txt ul li {font-size: 12px;text-align: center;}    
.vendor_child_main_content_txt h2 {margin: 0;}    
.vendor_child_main_content_rating {margin-right: 0;margin-bottom: 50px;} 
.get_mached_right_way_img {padding: 10px;width: 100%;}  
.get_mached_right_way_btn {float: left;width: 280px;margin-left: 50px;margin-bottom: 20px;margin-top: 0px;} 
.mached_btn {font-size: 16px;}  
.child_sideber_vendor input { width: 110px;}    
.vendor_top_menu_drop_one {width: 270px;}
.vendor_child_main_content_rating {float: none;margin: 0px auto !important;overflow: hidden;width: 70px;}
.child_sideber_vendor {position: relative;}  
.vendor_top_menu_drop_two { padding-right: 9px;padding-top: 0;width: 258px;}    
.pagenavarea_inner {width: 300px;}  
#sticky.stick {position: relative;right: 0px;}      
.vendor_child_main_content {padding: 5px;}
.get_mached_right_way {padding: 15px;} 
.get_mached_right_way_text {width: 245px;}
.get_mached_right_way_btn {margin-bottom: 3px;margin-left: 0px;margin-top: 0;width: 197px;}  
.gray_box_area{display: block;} 
    
    
/* Vendor Review Page  2*/      
.two_vendor_page_inner {width: 300px;}  
.two_vendor_sideber {padding: 10px;width: 200px;}  
.compare_btn {font-size: 13px;} 
#home {width: 280px;}    
.two_vendor_child {margin-bottom: 15px;margin-left: 10px;width: 280px;} 
.two_vendor_child_inner_pre {padding-bottom: 10px;}    
.two_vendor_child_inner_pre_img {float: left;margin-top: 20px;padding: 5px;width: 100px;}
.two_vendor_child_inner_pre_txt {float: left;padding-top: 22px;width: 150px;} 
.two_vendor_child_inner_pre_txt h2 {font-size: 14px;}   
.rating_inner {width: 100%;}
.rating_inner ul li {margin-right: 3px;width: 10px;}
.rating_checkbox label {font-size: 13px;text-align: center;}
.squaredTwo {float: none;margin: 0 auto;width: 40px;} 
.get_mached_right_way_img img {display: block;margin-left: auto;margin-right: auto;}    
.rating_inner_text {text-align: center;width: 100%;}    
.rating_inner ul li img {margin-left: 1px;width: 100%;}    
.two_vendor_child_inner_pre_img img {width: 100%;}    
.two_vendor_child_inner_pre_btn {float: left;margin-left: 5px;margin-right: 5px;margin-top: 0;width: 267px;}    
.two_vendor_child_inner_pre_btn button{float: left;margin-left: 5px;margin-right: 6px;margin-top: 0;overflow: hidden;width: 45%;}    
#owl-demo {width: 280px;}
.owl-buttons {width: 300px;}
.two_vendor_child_inner_menu ul li a {font-size: 16px;margin-left: 5px;padding: 5px;margin-top: 7px;margin-bottom: 7px;}  
#reviews_child {width: 100%;}
.comments_area {width: 100%;}  
.two_vendor_child_inner_menu ul li:last-child {float: left;margin-right: 0;} 
.two_vendor_sideber {float: none;margin: 10px auto;overflow: hidden;padding: 10px;width: 280px;}
.two_vendor_child_inner_menu {margin-bottom: 20px;}  
.two_vendor_child_mainmenu ul li a {font-size: 15px;margin-left: 5px;padding: 3px 7px;}    
.profile_child_one h3, .profile_child_two h3 {padding-top: 0;}    
    
}





/* Simple Mobile Layout: 240px. */
@media only screen and (max-width: 240px) {
.vendor_reviews_area_child_img, .thework_reviews_area_child_img {float: none;margin: 20px auto 0;width: 200px;}
.vendor_reviews_area_child, .thework_reviews_area_child {margin: 10px auto 115px;width: 200px;} 
.vendor_reviews_area_child_txt, .thework_reviews_area_child_txt {padding: 10px;width: 190px;float: none;margin: 0 auto;overflow: hidden;} 
.position_area, .position_area_two {width: 200px;} 
.vandor_reviews_directory{bottom: -82px;}
.vandor_reviews_directory, .thework_reviews_directory {width: 198px;} 
.thework_reviews_area {margin-top: 200px;}
.vandor_reviews_directory_btn {margin: 10px auto;width: 175px;} 
.vandor_reviews_directory_dropdown {float: none;margin: 0 auto;width: 155px;}    
.vandor_reviews_directory_txt, .thework_reviews_directory_txt {width: 100%;}  
.vandor_reviews_directory_txt h2 {font-size: 17px;text-align: center;} 
.thework_reviews_directory_dropdown {width: 190px;float: none;margin: 0 auto;} 
.thework_reviews_area_child {margin: 20px auto 195px;} 
.thework_reviews_directory_txt h2 {text-align: center;}    
.thework_reviews_directory{bottom: 10px;}    
.thework_reviews_directory_btn {float: none;margin: 10px auto;width: 180px;}    
.position_area {width: 200px;} 
/* Vendor Review Page */
.compare_btn_area{display: block;}    
.inner_vendor_area {margin-left: 10px;width: 190px;}    
.child_inned_vendor {width: 180px;} 
.vendor_child_main_content_rating img{width: 86%;}        
.child_inned_sideber_vendpr {float: left;width: 180px;display: none;}  
.child_sideber_vendor {width: 180px;position: relative;}
.vendor_child_main_content_img {margin: 5px;width: 130px;}
.vendor_child_main_content_txt {margin-right: 10px;width: 115px;} 
.vendor_child_main_content_rating {margin-right: 0;margin-bottom: 50px;} 
.get_mached_right_way_img {padding: 10px;}  
.get_mached_right_way_btn {float: left;width: 180px;margin-left: 50px;margin-bottom: 20px;margin-top: 0px;} 
.mached_btn {font-size: 16px;width: 76%;}  
.child_sideber_vendor input { width: 110px;}    
.vendor_top_menu_drop_one {width: 170px;}
.vendor_child_main_content_rating {float: none;margin: 10px auto !important;overflow: hidden;width:180px;}
.child_sideber_vendor {position: relative;}  
.vendor_top_menu_drop_two { padding-right: 9px;padding-top: 0;width: 158px;}    
.pagenavarea_inner {width: 200px;}  
#sticky.stick {position: relative;right: 0px;}      
.vendor_child_main_content {padding: 15px;}
.get_mached_right_way {padding: 15px;} 
.get_mached_right_way_text {width: 145px;}
.get_mached_right_way_btn {margin-bottom: 3px;margin-left: 0px;margin-top: 0;width: 197px;}
.gray_box_area{display: block;}
    
    
/* Vendor Review Page  2*/      
.two_vendor_page_inner {width: 200px;}  
.two_vendor_sideber {padding: 10px;width: 200px;}  
.compare_btn {font-size: 13px;} 
#home {width: 200px;}    
.two_vendor_child {margin-bottom: 15px;margin-left: 10px;width: 180px;} 
.two_vendor_child_inner_pre {padding-bottom: 10px;}    
.two_vendor_child_inner_pre_img {float: left;margin-top: 20px;padding: 5px;width: 110px;}
.two_vendor_child_inner_pre_txt {float: left;padding-top: 22px;width: 150px;} 
.two_vendor_child_inner_pre_txt h2 {font-size: 16px;}   
.rating_inner {width: 130px;}
.rating_inner ul li img {margin-left: 1px;width: 84%;}    
.two_vendor_child_inner_pre_img img {width: 100%;}    
.two_vendor_child_inner_pre_btn {float: left;margin-left: 5px;margin-right: 5px;margin-top: 0;width: 120px;}    
#owl-demo {width: 280px;}
.owl-buttons {width: 300px;}
.two_vendor_child_inner_menu ul li a {font-size: 16px;margin-left: 5px;padding: 5px;margin-top: 7px;margin-bottom: 7px;}  
#reviews_child {width: 100%;}
.comments_area {width: 100%;}  
.two_vendor_child_inner_menu ul li:last-child {float: left;margin-right: 0;} 
.two_vendor_sideber {float: none;margin: 10px auto;overflow: hidden;padding: 10px;width: 180px;}
.two_vendor_child_inner_menu {margin-bottom: 20px;}  
.two_vendor_child_mainmenu ul li a {font-size: 15px;margin-left: 10px;padding: 3px 7px;}    
.profile_child_one h3, .profile_child_two h3 {padding-top: 0;}  
    
    
    
    
    
}
