@charset "utf-8";
/* CSS Document */

body{font-family:Proxinova, Lato, sans-serif!important; font-size:14px;}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('new_fonts/proximanova-bold-webfont.eot');
    src: url('new_fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-bold-webfont.woff') format('woff'),
         url('new_fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {font-family:Avenir; src: url(../fonts/AvenirLTStd-Light.eot);}
 
@font-face {font-family:Avenir; src: url(../fonts/AvenirLTStd-Light.ttf); /* TTF file for CSS3 browsers */}

@font-face { font-family:Avenir; font-weight:bold; src: url(../fonts/AvenirNextLTPro-Demi.eot);}
 
@font-face { font-family:Avenir; font-weight:bold; src: url(../fonts/AvenirNextLTPro-Demi.ttf); /* TTF file for CSS3 browsers */}

@font-face {font-family:Proxinova; src: url(../fonts/PROXIMANOVA-REGULAR.eot);}
 
@font-face {font-family:Proxinova; src: url(../fonts/PROXIMANOVA-REGULAR.ttf); /* TTF file for CSS3 browsers */}

@font-face {font-family:Proxinova-bold ; src: url(../fonts/proximanova-bold.eot);}
 
@font-face {font-family:Proxinova-bold; src: url(../fonts/proximanova-bold.ttf); /* TTF file for CSS3 browsers */}

@font-face {font-family:Proxinova-semibold; src: url(../fonts/proximanova-semibold.eot);}
 
@font-face {font-family:Proxinova-semibold; src: url(../fonts/proximanova-semibold.ttf); /* TTF file for CSS3 browsers */}

/* ==========================================================================
   FONT STYLE AREA
   ========================================================================== */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('fonts/ProximaNovaCond-Regular.eot');
  src: url('fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/ProximaNova-Extrabld.eot');
  src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}






/* Header */

.topStrip { width: 100%; height: auto; float: left; background: #f5f5f5; }
.contactInfo { float: left; width: 100%; padding: 16px 0; }
.contactInfo a { color: #1e7bc8; float: left; margin: 0; border-right: 1px solid #dddddd; padding: 0 25px;  font-size: 13px; }
.noneBorder { border-right: none !important; }
.socialSearch { float: right; margin: 8px 0; }
.socialSearch .loginBtn { float: left; margin: 0 5px; }
.socialSearch .facebookBtn { float: left; }
header { width: 100%; float: left; height: auto; padding: 10px 0; }
header .logoImg { max-width: 306px; min-height: 71px; float: left; margin: 0; padding: 0; }
header .navSection { width: 100%; float: left; }
.navigation { float: left; margin: 14px 0; }
.navigation ul { display: block; list-style: none; float: left; margin: 0; padding: 0; }
.navigation ul li { float: left; }
.navigation ul li a { float: left; margin: 0 12px; font-size: 16px; }
.navigation ul li a:hover { color: #1e7bc8; text-decoration: none; }
.navpad { padding: 10px 0; }
/*mainNavigation*/
.mainNavigation { width: 100%; float: left; background: #1e7cc8; margin: 0; padding: 0; }
.mainNavigation nav { float: left; }
.mainNavigation nav ul { display: block; float: left; list-style: none; margin: 0; padding: 0; }
.mainNavigation nav ul li { float: left; }
.mainNavigation nav ul li a { float: left; color: #fff; font-size: 18px; margin: 0; padding: 15px 20px; }
.mainNavigation nav ul li a:hover { background: #0e508e; }
.mainNavigation .searchSec { width: 100%; float: left; margin: 7px 0; }
.searchItem { float: left; }
.searchSub { float: left; background: #f6a580; border: none; color: #fff; font-size: 16px; }
/* Header */
.blogImg { float: left; width: 100%; text-align: center; padding: 0 50px; }
.blogImg img { margin: 35px 0; border: solid 5px #E9E9E9; }
.header { background-color: #fff; padding: 0px 10px 10px; }
.main_container { width: 100%; padding: 0px; margin: auto; }
.left-clear { padding-left: 0px; }
.both-clear { padding: 0px; }
#main { width: 73%; float: left; margin-right: 20PX; }
.odd { padding: 20px; width: 100%; float: left; background: #FFF; border-radius: 0px 0px 5px 5px; }
/*.odd ul li { background: url(images/bullet-icon.png) no-repeat left 4px; padding-left: 25px; line-height: 18px; padding: 5px 5px 5px 25px; text-align: justify; }*/
.odd p { text-align: justify; }
.page-header { padding-bottom: 10px; border-bottom: 0px solid #eeeeee; margin-top: 0px; }
.page-header h1.page-title { margin: 20px 0; }
#sidebar { width: 25%; float: left; }
.carousel.carousel-fade .item { -webkit-transition: opacity 0.5s ease-in-out; -moz-transition: opacity 0.5s ease-in-out; -ms-transition: opacity 0.5s ease-in-out; -o-transition: opacity 0.5s ease-in-out; transition: opacity 0.5s ease-in-out; opacity: 0; }
.article_banner { min-height: 250px; border: solid 1px #ccc; margin-bottom: 20px; }
.article_banner .banner_image img { width: 100%; }
.banner_content { position: absolute; background: none repeat scroll 0 0 rgba(255, 255, 255, 1); padding: 30px; color: #000; border-radius: 6px; width: 400px; margin-top: -280px; margin-left: 50px; min-height: 210px; box-shadow: 1px 1px 10px 5px #6F6F6F; }
.get_quotes { text-align: center; }
.banner_content p { color: #000000; font-size: 16px; font-weight: 600; text-transform: uppercase; }
.banner_content ul { padding-left: 18px; }
.banner_content .get_quotes a, .get_quotes-bottom a { color: #ffffff; background: #f6a580; border-color: #f6a580; padding: 7px 50px 5px 15px; }
.banner_content ul li { font-size: 18px; }
#search { padding: 1px 0px 1px 14px; width: 100%; background-color: #FFD7C5; border-radius: 4px; float: left; height: 37px; margin-bottom: 20px; }
#search label { width: 14%; float: left; padding: 7px 0px; font-size: 16px; }
#search input[type="text"] { width: 74.8%; float: left; margin-right: 0px; border-radius: 0px; border: 0px; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.075) inset; }
#search input[type="submit"] { width: 11%; background: #FFF ; color: #F79090; height: 35px; border: 0px!important; border-radius: 0px; margin-top: 0px; box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.075) inset; padding-right: 0px; }
select, input[type="text"] { height: 35px; padding: 6px; }
.carousel.carousel-fade .active.item { opacity: 1; }
.carousel.carousel-fade .active.left, .carousel.carousel-fade .active.right { left: 0; z-index: 2; opacity: 0; filter: alpha(opacity=0); }
.carousel.carousel-fade .next, .carousel.carousel-fade .prev { left: 0; z-index: 1; }
.carousel.carousel-fade .carousel-control { z-index: 3; }
.left_nav .navbar-nav > li > a { color: #fff; }
.left_nav .navbar-nav > li > a:hover { background-color: transparent; color: #fff; background-color: #0e508e!important; }
.form-control { }
.navbar-nav > li > a { font-size: 17px; font-weight: 500; padding-left: 3px; padding-right: 3px; padding-bottom: 14px; padding-top: 19px; color: #0e66b1; }
.navbar-nav > li > a:hover { background: none !important; color: #0e66b1; }
.setbg { background-color: #0e508e!important; color: #fff; }
.setbg a { color: #fff!important; }
.unsetbg { background-color: none; }
.left_nav { padding-right: 0px; }
.top_menu { float: right; }
.left_nav .navbar-nav a { padding-left: 25px; padding-right: 25px; font-weight: 400; padding-bottom: 15px; padding-top: 18px; }
.right_nav .navbar-nav a { font-size: 15px;  color: #333; }
.top_menu_bottom { float: right; width: 100%; text-align: right; }
.top_menu_bottom ul { display: block; list-style-type: none; margin-bottom: 0px; }
.user_menu_top { }
dropdown-menu Reviewsegment-drop{
 box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175) !important;
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  border-top: 1px solid #5C5C5C !important;
}
.user_menu_top .dropdown-menu, .menu_block .dropdown-menu {
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.175) !important;
  background: rgba(0, 0, 0, 0) !important;
  border: none !important;
  border-top: 1px solid #5C5C5C !important;
}
.right_nav .navbar-nav a { padding-left: 10px; padding-right: 15px; padding-top: 8px; }
.right_nav { padding-right: 0px; padding-top: 30px; }
.submenu { position: absolute; left: 0px; top: 0px; margin: 0px auto; padding: 0px; display: none; z-index: 100; }
.submenu li { clear: both; }
.fb { padding: 2px 0 0 !important; }
.fb:hover { background-color: none!important; }
.search-guide-wrapper { padding-bottom: 9px; padding-top: 14px; }
.logo.logo { padding-top: 14px; }
.recent_block { padding: 10px; }
.main_content h1 { font-size: 28px; color: #6B6B6B; font-weight: 600; }
table.package input { box-shadow: 0 0px 0px }
.feed_block, .recent_block { background: none repeat scroll 0 0 #F7F7F7; border: 1px solid #EEEEEE; height: 258px; overflow: scroll; overflow-x: hidden; width: 100%; border-top: 4px solid #1E7CC8; }
.review_block { padding: 14px; }
.review { background: #f7f7f7; border-radius: 4px; border: 1px solid #eee; padding: 10px; padding-top: 20px; padding-bottom: 20px; }
.featuresclass { background-color: #eee; border-radius: 0px; margin-left: 3px; margin-right: 3px; border: 1px solid #999 !important; }
.featuresclass h1 { border-bottom: 6px solid #FFFFFF !important; margin-top: 11px; padding-bottom: 11px; text-align: center; font-weight: 600; }
.featuresclass .bro { color: #333; }
.featuresclass .sil { color: #67c140; }
.featuresclass .gold { color: #EF702D; }
.featuresclass span { background: none repeat scroll 0 0 #FFFFFF; color: #EF702D; float: left; padding: 10px; text-align: center; width: 100%; }
.package th { border-bottom: 2px solid #018ED5 !important; }
.package tr td { border-bottom: 2px solid #018ED5 !important; color: #018ED5; background: #f4fbff; font-weight: 600; vertical-align: inherit !important; border-left: 1px solid #eee; border-right: 1px solid #eee; }
.packages-block h1 { margin-top: 0px; }
.request { margin-top: 10px; border: 1px solid #CCC; padding: 15px; background-color: #fbfbfb; border-radius: 5px; float: left; width: 100%; }
.request h1 { color: #BEBEBE; float: left; font-size: 66px; font-weight: bold; padding-left: 9px; text-transform: uppercase; margin: 0px; letter-spacing: 10px; }
.request span { float: left; font-size: 22px; font-weight: normal; line-height: 26px; padding: 9px; width: 50%; color: #666; text-transform: uppercase; }
.l_review h2 { color: #ED682C; font-size: 32px; font-weight: 600; margin-bottom: 0; margin-top: 10px; }
.review_list { border: 1px solid #CCC; padding: 23px 15px; background-color: #fbfbfb; border-radius: 5px; }
.review_list h3 { font-size: 16px; font-weight: 700; margin: 0; color: #ED682C; padding-bottom: 10px; }
.testimonials_block { background: #f0f0f0; border-top: 1px solid #eee; padding: 10px; }
.testimonials_block h1 { font-size: 28px; font-weight: 600; color: #207ac0; }
footer { background: none repeat scroll 0 0 #2084cc; float: left; width: 100%; }
.help-blocksearch { width: 69%; padding: 8px; color: #737373; float: right; }
.welcome-message { background: none repeat scroll 0 0 #333333; border-bottom: 1px solid #97D3E5; color: #FFFFFF; font-size: 13px; padding: 6px 9px 5px; text-align: right; width: 100%; }
.welcome-message a { color: #EF702D; }
.category-search { }
.category-search .category-steps-block .steps { color: #FFFFFF; font-size: 18px; margin-bottom: 20px; }
.category-search .category-steps-block .steps span { color: #FFFFFF; float: left; font-size: 69px !important; padding: 8px 8px 8px 55px; width: 20%; }
.category-search .category-steps-block .steps p { display: table-cell; float: right; font-size: 16px; height: 101px; padding-right: 60px; padding-top: 29px; text-align: left; vertical-align: middle; width: 72%; }
.category-service-block .sub-category label { font-weight: 400; }
.category-service-block { width: 100%; float: left; background: #f8f8f8; border: 1px solid #dadada; padding: 10px; margin-bottom: 20px; }
.category-service-block h1 { border-bottom: 1px solid #DADADA; color: #018ED5; font-size: 21px; font-weight: 600; line-height: 56px; margin-top: 0; text-align: center; text-transform: uppercase; }
.login-wrapper { float: left; margin-bottom: 20px; padding-top: 10px; padding-bottom: 10px; padding-left: 0px; }
.login-wrapper input { padding: 10px; border-radius: 5px; color: #333; margin: 10px 0px; width: 100%; border: solid 1px #ccc; line-height: 24px; }
.category-wrapper { width: 100%; float: left; margin-bottom: 20px; }
.category-wrapper .categroy-wrapper-fieldset { width: 100%; padding-bottom: 20px; float: left; }
.category-wrapper .categroy-wrapper-fieldset label { color: #018ED5; font-size: 16px; padding-right: 14px; font-weight: normal; text-align: right; text-transform: capitalize; width: 30%; float: left; }
.category-wrapper .categroy-wrapper-fieldset input { width: 69%; padding: 8px; border: 1px solid #bfbfbf; }
.category-wrapper .categroy-wrapper-fieldset textarea { width: 36%; height: 100px; border: 1px solid #bfbfbf; }
.category-wrapper .categroy-wrapper-fieldset select { width: 69%; padding: 8px; border: 1px solid #bfbfbf; }
.category-wrapper .contact #form_homecode { margin-right: 11px; width: 99px; }
.category-wrapper .contact #form_homephone { width: 672px; }
.category-service-block .sub-category { font-size: 13px; height: 37px; }
.category-service-block .sub-category input { width: 8%; float: left; }
.category-service-block .sub-category label { width: 90%; }
.category-wrapper .terms { width: 100%; float: left; text-align: center; padding-left: 430px; }
.category-wrapper .terms input { width: auto !important; padding-right: 10px; float: left; margin-right: 9px; }
.category-wrapper .terms label { padding: 0px; width: auto; font-size: 14px; color: #000; text-transform: none; font-weight: normal; }
.category-wrapper .btn-getquotes { text-align: center; }
.category-wrapper .btn-getquotes button { background: none; border: none; color: #FFF; text-transform: uppercase; }
.breadcrum { background: #eee; padding: 6px; margin-bottom: 20px; margin-top: 10px; }
.consumer-registration .reg { background: #f8f8f8; border: 1px solid #eee; border-radius: 5px; padding: 10px; margin-bottom: 20px; }
.consumer-registration h1 { border-bottom: 1px solid #DADADA; color: #018ED5; font-size: 20px; font-weight: 600; margin-top: 0; text-transform: uppercase; line-height: 40px; margin-bottom: 20px; }
.consumer-registration .consumer-wrapper-fieldset label { color: #666666; font-size: 16px; font-weight: normal; padding-right: 10px; text-align: right; width: 40%; }
.consumer-registration .consumer-wrapper-fieldset { width: 100%; float: left; margin-bottom: 15px; }
.consumer-registration .consumer-wrapper-fieldset input { width: 58%; padding: 8px; border: 1px solid #bfbfbf; }
.consumer-registration .btn-getquotes button { background: none; border: none; color: #FFF; text-transform: uppercase; float: right; }
.consumer-registration .btn-getquotes { float: right; font-size: 16px; margin-right: 10px; padding: 8px 50px; }
.reg-content { padding: 10px; }
.reg-content ul li { line-height: 24px; }
.search_block { background: #1e7cc8; margin-top: 0px; }
.search_block .search_block { background: #1e7cc8; margin-top: 10px; }
.menu_block { background: #1E7CC8; height: 53px; }
.menu_block a { color: #fff !important; text-transform: uppercase !important; }
.menu_block .navbar-nav > li > a { font-size: 13px; font-weight: bolder; padding-left: 20px; padding-right: 25px; }
.inner_container { background: #f0f0f0; margin-top: 20px; padding-bottom: 20px; }
.inner_container h1 { font-size: 18px; color: #1f7cc9; text-transform: uppercase; border-bottom: 1px solid #000; }
.inner_container .block { width: 100%; background: #FFF; padding-left: -10px; }
.inner_container .col-md-6 { padding-left: 0; }
.inner_container .block h2 { background: #1f7cc9; color: #fff; font-weight: 600; margin: 0px; font-size: 16px; padding-left: 10px; padding-top: 5px; padding-bottom: 5px; }
.inner_container .last { padding-right: 0px; }
.mid { float: left; padding: 0px; margin-top: 20px; }
.inner_container { padding: 10px; }
.inner_container .row { margin-left: 0px; margin-right: 0px; }
.inner_container .table { background: #fff; }
.segment-block { padding-bottom: 20px; padding-top: 10px; }
.segment-block h3 { color: #428BCA; font-size: 18px; font-weight: normal; margin: 0; padding-top: 7px; text-align: center; text-transform: uppercase; }
.footer { margin-top: 10px; }
.form-horizontal input { }
.addcategory-wrapper { width: 600px; background: none repeat scroll 0 0 #F4F4F4; border: 1px solid #eee; padding: 20px; margin: auto; }
.form-horizontal h1 { font-size: 22px; font-weight: 600; text-align: center; text-transform: uppercase; margin-bottom: 10px; }
.form-horizontal h2 { font-size: 18px; font-weight: 600; text-align: center; margin-bottom: 10px; }
.addcategory-wrapper .control-group, .addcategory-wrapper .control { width: 100%; padding-top: 5px; padding-bottom: 5px; }
.addcategory-wrapper input, .addcategory-wrapper select, .addcategory-wrapper textarea { background-color: #FFFFFF; background-image: none; border: 1px solid #CCCCCC; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; display: block; line-height: 1.42857; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; vertical-align: middle; width: 100%; }
.addcategory-wrapper textarea { }
input { height: 40px; }
select, textarea { background-color: #FFFFFF; background-image: none; border: 1px solid #CCCCCC; border-radius: 4px; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; color: #555555; line-height: 1.42857; padding: 6px 12px; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; vertical-align: middle; width: 100%; }
.form_wrapper { background: none repeat scroll 0 0 #F4F4F4; border: 1px solid #EEEEEE; margin: auto; padding: 20px; width: 600px; margin-bottom: 30px; }
 .form_wrapper .control-group, {
 padding-top: 5px;
 width: 100%;
}
.form_wrapper .sameline { float: left; margin-right: 10px; }
.form_wrapper .control { padding-bottom: 15px; width: 100%; }
.area-code { width: 123px; }
.phone-no { width: 429px; }
.form-inline { width: 100%; }
.form-inline .form-group { margin: 0px; }
.bg-danger { background-color: #F9F2F4; border: 1px solid; border-radius: 4px; color: #C7254E; font-size: 100%; margin-left: -11px; margin-right: -11px; padding: 8px 9px; white-space: nowrap; margin-bottom: 10px; }
.control p { margin: 0px; }
.bg-success { font-size: 20px; text-align: center; margin-top: 10px; margin-bottom: 10px; }
.bg-success span { background-color: #F9F2F4; border-radius: 4px; color: #C7254E; font-size: 100%; padding: 2px 19px; font-weight: 600; white-space: nowrap; }
.req { color: #F00; }
.bg { background-color: #D9EDF7; border-color: #BCE8F1; color: #31708F; font-size: 16px; padding-left: 10px; text-align: left; padding-top: 10px; padding-bottom: 10px; }
.bg:before { }
.jumbotron { padding: 0px; }
.footer_wrapper .block-title { color: #FFFFFF; font-size: 14px; font-weight: normal; margin-bottom: 10px; text-transform: uppercase; }
.footer_wrapper ul li a { color: #FFFFFF; font-size: 14px; font-weight: normal; line-height: 20px; margin-bottom: 0; }
.footer_wrapper ul li a:hover{color: #000000 !important; }
.menu li a { display: inline; font-size: 13px; font-weight: bolder; padding-left: 5px; padding-right: 5px; transition: all 0.5s ease 0s; }

.footer_quick_links_wrapper { padding: 8px 0px; background-color: #1666A7; }
.region-footer-quick-links .menu { padding-bottom: 0px; padding-top: 10px; }
.region-footer-quick-links .menu li { display: inline; }
.region-footer-quick-links .menu li a { color: #fff; font-weight: normal; padding: 5px 30px 5px 0px; text-transform: uppercase; font-size: 11px!important; }
.nav li a:hover { background: rgba(0, 0, 0, 0); }
.region-footer-links-five h4 {  color: #FFFFFF; font-size: 26px; padding: 21px 23px 22px 57px; width: 100%; }
.footer_bottom_links { color: #FFFFFF; padding: 5px; }
.footer_bottom_links .container { padding-top: 10px; font-size: 12px; }
.region-footer-social-links { text-align: right; margin-top: 10px; color: #fff; }
.follow_us p { float: left; line-height: 25px; margin: 0px; }
.facebook, .twitter, .gplus, .linkedin, .pinterest { background-position: 0; background-repeat: no-repeat; padding-left: 30px!important; line-height: 30px!important; }
.facebook { background-image: url("../images/facebook-icon.png"); }
.twitter { background-image: url("../images/twitter-icon.png"); }
.gplus { background-image: url("../images/gplus-icon.png"); }
.linkedin { }
.pinterest {  }
.payment-accept ul { margin-left: 20px; }
.payment-accept li { display: inline; margin: 6px 0px 0px; float: left; }
.testimonials_block h1 {background-position: right center; background-repeat: no-repeat; color: #207AC0; float: left; font-size: 32px; font-weight: bold; height: 135px; margin-bottom: 0; margin-right: 15px; padding: 13px 0; width: 215px; margin: 0px; }
.progress1 { width: 500px; margin-top: 50px; margin: auto; padding-top: 50px; padding-bottom: 50px; }
.progress1 p { text-align: center; }
.category-block { margin: 6px 0px; width: 32.4%; float: left; border: solid 1px #ccc; margin-right: 10px; }
.category-content { width: 100%; background-color: #FFFAF4; height: 450px; overflow: auto; padding-top: 10px; padding-left: 10px; padding-right: 10px; }
.category-content .field-item { line-height: 18px; padding-bottom: 0px; padding-top: 0px; }
.segcat label { font-weight: 700 !important; }
.segcat .subcategory label { font-weight: normal !important; }
.packinfo { background: none repeat scroll 0 0 #F5f5f5; color: #EF702D; float: left; height: 50px; padding: 7px; border-top: 1px solid #eee; width: 100%; font-size: 12px; font-weight: 600; }
.category-block h4 { margin-top: 0px; padding-top: 15px; padding-bottom: 5px; padding-left: 10px; background: #1E7CC8; text-align: left; color: white; height: 50px; font-size: 100%; font-weight: bold; margin-bottom: 0px; }
.package input { background: #F4FBFF; border: none; }
.category-block:last-child { margin-right: 0px; }
.summary { border: solid 1px #1B96BD; border-width: 1px; background-color: #E7FFFD; float: left; padding: 10px; width: 99%; margin: 10px 0px; color: #333; }
.summary h4 { border: solid 1px #1B96BD; border-width: 1px; background-color: #227DD1; float: left; padding: 10px; width: 100%; margin: 10px 0px; color: #fff; font-weight: bold; }
.message { border: solid 1px #1B96BD; border-width: 1px; background-color: #E7FFFD; float: left; padding: 10px; width: 100%; }
.field-item { width: 100%; padding: 5px 10px; }
.category-block label { line-height: 24px; padding-left: 5px; font-weight: normal; color: #000; font-size: 13px; }
.category-block input { float: left; width: 16px; height: 16px; }
.segcat { margin-bottom: 5px; }
.subcategory { padding-left: 0px; }
.footer_wrapper { padding-bottom: 10px; padding-top: 2px; }
.category-right-block { border-radius: 5px; padding: 7px 33px 22px; position: absolute; right: 138px; top: 305px; width: 460px; background-color: rgba(255, 255, 255, 0.7); -webkit-box-shadow: 0px -3px 22px -13px rgba(10,10,10,1); -moz-box-shadow: 0px -3px 22px -13px rgba(10,10,10,1); box-shadow: 0px -3px 22px -13px rgba(10,10,10,1); border: solid 1px #EEEEEE; padding-bottom: 30px; z-index: 1000; }
.edit-user-block h4 span { color: #1E7CC8; }
.edit-user-block .form_wrapper { margin: 0px; width: 570px; }
.edit-user-block .edit-user { padding: 20px; text-align: center; }
.login-fb { padding-top: 10px; }
.login-fb a {  clear: both; display: block; float: none; height: 45px; margin: auto; width: 217px; }
.login-fb p { font-size: 13px; margin: auto; padding-top: 7px; text-align: center; font-weight: 600; }
.login-wrapper h2 { font-size: 12px; text-align: center; margin-top: 36px; font-weight: 600; margin-bottom: 36px; background: #1E7CC8; border-radius: 5px; }
.login-wrapper h2 span { background: #1E7CC8; border-radius: 20px; padding: 10px; color: #fff; }
.new-user { border: 1px solid #DDDDDD; font-size: 17px; font-weight: 600; height: 49px; margin-top: 40px; padding-top: 10px; text-align: center; background-color: #F8F7F1; }
.account-content { padding: 20px; }
.account-content h2 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; text-transform: uppercase; }
.account-content h3 { margin: 0px; font-size: 16px; font-weight: 600; color: #EF702D; }
.account-content p { font-size: 13px; font-weight: 600; padding-bottom: 5px; }
.inner-banner-block { padding-bottom: 10px; }
.inner-banner-content h1 { font-size: 40px; font-weight: 600; color: #fff; }
.inner-banner-content h1 span { font-size: 26px; color: #EF702D; }
.banner-conntent { background-color: rgba(248, 251, 255, 0.92); border-left: 1px solid #E6E6E6; border-radius: 3px; border-right: 1px solid #E6E6E6; border-top: 1px solid #C6C6C6; padding: 15px; width: 639px; }
.banner-conntent h2 { margin: 0px; font-size: 18px; padding-top: 6px; }
.banner-conntent .icon {  display: block; padding-left: 48px; }
.banner-conntent p { font-size: 14px; }
.grow-business-block .business-block { background: none repeat scroll 0 0 #f7f7f7; border-left: 1px solid #E6E6E6; border-radius: 3px; border-right: 1px solid #E6E6E6; border-top: 1px solid #C6C6C6; height: 204px; margin-bottom: 30px; padding: 10px; }
.row1 { width: 100%; float: left; }
.video-cont { float: left; font-size: 13px; padding-left: 12px; }
.grow-business-block .business-block h1 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 4px; padding-bottom: 4px; }
.business-block a { display: block; }
.business-block span { color: #1E7CC8; float: left; font-size: 12px; padding-left: 7px; padding-top: 11px; width: auto; }
.grow-business-block .col-md-4 { padding: 10px !important; }
.grow-business-block .business-block p { color: #000; }
.grow-business-block .business-block .request-digit { background-color: #FFFFFF; border: 1px solid #EEEEEE; border-radius: 5px; display: inline-block; font-size: 32px; font-weight: bold; height: 51px; margin-top: 11px; padding: 0 13px; }
.business-block .btn-success { left: 0px; position: absolute; }
.row1 col-md-8 { padding: 0px !important; }
.video-icon { width: 155px; height: 88px; }
.works-content h1 { color: #EF702D; font-size: 28px; font-weight: 600; margin-bottom: 21px; margin-top: 24px; }
.works-content p { color: #000; }
.works-container .works-video { padding-top: 10px; }
.works-control-block .works-title { color: #EF702D; font-size: 28px; font-weight: 600; padding-top: 30px; text-align: center; }
.works-control-block .works-block { background: none repeat scroll 0 0 #F7F7F7; border: 1px solid #E6E6E6; border-radius: 33px; height: 204px; margin-bottom: 30px; margin-top: 11px; padding: 10px; }
.works-container .row { border-bottom: 4px solid #E6E6E6; padding-bottom: 20px; }
.works-control-block .works-block h1 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; display: table; float: left; font-size: 19px; height: 52px; margin-top: 8px; padding-bottom: 0; text-align: center; text-transform: uppercase; width: 100%; }
.works-control-block .works-block h1 span { display: table-cell; vertical-align: middle; }
.works-control-block .col-md-4 { padding: 10px; }
.works-control-block .works-block p { color: #000000; font-size: 17px; text-align: center; }
.signup { text-align: center; padding-top: 20px; padding-bottom: 20px; }
.faq-block { background-color: #F2F2F2; border-left: 1px solid #E6E6E6; border-radius: 3px; border-right: 1px solid #E6E6E6; border-top: 1px solid #C6C6C6; margin-top: 20px; margin-bottom: 20px; padding-bottom: 20px; }
.faq-block h1 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 15px; padding-bottom: 6px; text-transform: uppercase; }
.works-container { padding-top: 17px; }
.faq-block h2 { font-size: 17px; font-weight: 600; margin: 0px; }
.faq-block p { padding-bottom: 10px; color: #000; }
.signup-btn { font-size: 28px; width: 300px; }
.recent_block .activities-block { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; border-radius: 4px; float: left; margin-bottom: 10px; padding: 10px 10px 7px; width: 100%; }
.recent_block .activities-block .act-date { border-right: 3px solid #EEEEEE; color: #000; float: left; font-size: 11px; font-weight: 600; margin-right: 9px; text-align: center; width: 79px; }
.recent_block .activities-block a { font-weight: 700; color: #ED682C; }
.recent_block .activities-block span { }
.login_inner_wrapper { border-left: 1px solid #DDDDDD; border-bottom: 1px solid #DDDDDD; border-right: 1px solid #DDDDDD; float: left; }
.login-block { padding-top: 55px; }
.login-content { background-color: #F8F7F1; border-left: 1px solid #DDDDDD; min-height: 540px; }
.login-content h4 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 24px; padding-bottom: 4px; text-transform: uppercase; }
.login-content h3 { font-size: 17px; font-weight: 700; margin: 0; }
.login-content .login-icon { padding-bottom: 10px; padding-left: 71px; padding-right: 32px; }
.tabs li { background: #DDD; font-weight: 600; }
.tabs li a:hover { border: #ddd; }
.testimonials_block .col-md-3 { padding-right: 0px; width: 21%; }
.testimonials_block h3 { font-size: 23px; font-weight: 700; margin: 15px 0 0; }
.testimonials_block p { font-size: 14px; }
.ui-widget-content { background: none repeat scroll 0 0 #FFFFFF; border-color: #1E7CC8; border-image: none; border-style: solid; border-width: 5px 1px; font-size: 13px; line-height: 20px; padding-bottom: 10px; padding-left: 12px; padding-top: 10px; width: 651px !important; }
.ui-helper-hidden-accessible { display: none; }
.ui-widget-content li { list-style-type: none; }
.ui-widget-content li a { color: #000; }
.ui-widget-content li a:hover { color: #EF702D !important; text-decoration: none !important; }
.live {  bottom: 0; height: 34px; position: fixed; right: 0; width: 250px; z-index: 100000; margin-right: 106px; }
.panel-title > a { font-weight: 600; color: #666; }
.panel-title > a:hover { text-decoration: none !important; color: #EF702D; }
.page-title1 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 15px; padding-bottom: 6px; text-transform: uppercase; }
.how-works-block .row { padding-top: 10px; padding-bottom: 10px; padding-left: 0px; padding-right: 0px; border-bottom: 1px solid #ddd; margin: 0px; }
.how-works-block .row h1 { color: #EF702D; font-size: 29px; font-weight: 700; padding-right: 47px; text-align: right; width: 350px; }
.how-works-block .col-md-7 { padding-left: 0px; }

.how-works-block .col-md-7 { padding-top: 30px; }
.how-video { background: none repeat scroll 0 0 #EEEEEE; border-radius: 6px; margin: 12px auto auto; padding: 18px; text-align: center; margin-bottom: 20px; margin-top: 20px; }
.consumer-pass p { text-align: center; padding-top: 10px; font-weight: 700; }
.consumer-pass p span { color: #EF702D; }
.consumer-pass .col-md-6 { background: none repeat scroll 0 0 #F4F4F4; border: 1px solid #EEEEEE; margin-left: 23%; margin-top: 13px; padding: 20px; width: 510px; }
.consumer-pass { width: 100%; }
.choose-pack-block { background: #fff; }
.service-category-block h4 { color: #1E7CC8; font-size: 24px; font-weight: 600; padding-bottom: 10px; padding-left: 377px; padding-top: 40px; }
.service-category-block h5 { text-align: left; color: #1E7CC8; font-size: 24px; font-weight: 600; padding-top: 50px; }
.pack-summary th { background: #1E7CC8 !important; color: #fff !important; border: 1px solid #1E7CC8 !important; }
.total-amount { text-align: right; }
.total-amount h2 { color: #EF702D; font-size: 24px; font-weight: 600; }
.category-block h4 span { background: none repeat scroll 0 0 #EF702D; border-radius: 30px; color: #FFFFFF; float: right; margin-right: 12px; margin-top: -4px; padding: 5px; text-align: center; width: 25px; }
.menu-mega { top: 214px; }
.menu-mega-login { top: 85px; }
.menu-megabycat-login { top: 130px; }
.megamenubg { background-color: #1e7cc8; width: 1140px; margin: auto; color: #fff; left: 105px; z-index: 1000; border-top: solid 1px #ccc; overflow: hidden; }
.megamenubg .col-md-4 { padding: 0px; }
.megamenubg ul li { line-height: 18px; padding: 8px 0px; border-bottom: solid 1px #ccc; font-size: 14px; border-right: solid 1px #ccc; padding-left: 10px; }
.megamenubg ul li:hover { background: #f6a580; }
.megamenubg a { color: #fff; }
.megamenubg a:hover { text-decoration: none; }
.megamenubg .all-category { font-weight: bold!important; background-color: #0B3C68!important; text-align: center; }
.megamenubg ul { list-style-type: none; padding-left: 0px; }
.menu-megabycat { top: 104px; }
#megamenu1 .col-md-3 ul li { line-height: 16px; padding-bottom: 4px; }
.allcategories { float: left; margin-top: 10px; padding-left: 15px; text-align: left; width: 100%; }
.review-menu-left .allcategories { padding-left: 5px; }
.allcategories a { font-weight: 700; color: #E79110; padding-left: 0px; }
#megamenuVenSearch .col-md-3 ul li { line-height: 16px; padding-bottom: 4px; }
.orclass { background: none repeat scroll 0 0 #1E7CC8; border-radius: 20px 20px 20px 20px; color: #FFFFFF; padding: 10px; float: left; position: absolute; left: -23px; }
#megamenubycat .col-md-3 ul li { line-height: 16px; padding-bottom: 4px; font-size: 13px; }
.authenwrapp .forgotlogin a { float: left; height: 114px; padding-left: 71px; padding-right: 43px; text-align: center !important; width: 400px; }
.authenlogin { margin-right: 56px; }
.authenwrapp { margin: 10px; padding: 20px; }
.authenwrapp .forgotlogin { font-size: 19px; font-weight: 600; padding-top: 69px; text-align: center; }
.authenlogin .control { margin-left: 0px !important; margin-top: 0px !important; }
.authenwrapp p { text-align: center; font-size: 16px; font-weight: bold; padding-bottom: 20px; }
.authenwrapp .authenwrapp-block { background-color: #E1E1E1; border: 1px solid #EEEEEE; float: left; padding: 10px; width: 100%; }
.authenwrapp .control { margin: 10px; }
.authenwrapp .forgotlogin { margin: auto; border-left: 1px solid #EEEEEE; }
.review-menu-right { width: 40%; }

.vendor-review-dic .vendor-review-dic-cont, .vendor-review-matched .vendor-review-matched-cont { height: 182px; }
.vendor-review-dic { margin-bottom: 30px; }
.vendor-review-dic-cont h1, .vendor-review-matched-cont h1 { font-size: 28px; font-weight: bold; color: #217ac3; margin-top: 30px; }
.vendor-review-dic-filter, .vendor-review-matched-filter { background: none repeat scroll 0 0 #F7F7F7; border: 1px solid #EEEEEE; border-radius: 5px; float: left; padding: 10px; }
.vendor-review-dic-filter h3, .vendor-review-matched-filter h3 { font-size: 19px; font-weight: 600; margin: 7px 0 0; color: #333; text-align: center; }
.colcount { column-count: 3 !important; -webkit-column-count: 3 !important; -moz-column-count: 3 !important; }
.review-block { padding: 10px; background: #fbfbfb; border: 1px solid #eee; margin-top: 10px; }
.review-block h1 { border-bottom: 3px solid #F0832A; color: #217AC3; font-size: 28px; font-weight: 600; line-height: 45px; margin-top: 3px; }
.review-block ul { font-size: 13px; list-style-type: none; margin-left: 0; padding-left: 0; }
.review-block .segmentid { font-size: 16px; font-weight: 600; color: #217AC3; }
.colcount ul { padding-left: 8px; list-style-type: none; }
.colcount ul li { font-weight: 600; font-size: 14px; }
.colcount .segmentid { font-size: 16px; font-weight: 600; padding-left: 7px; }
.review-list-filter { background: #f8f7f1; padding: 10px; border: 1px solid #eee; margin-left: 0px; margin-right: 0px; }
.review-sort .form-group { margin-bottom: 0px; }
.review-list-title { color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 24px; padding-bottom: 4px; text-transform: uppercase; margin-bottom: 10px; }
.review-list-block { background: none repeat scroll 0 0 #F8F7F1; border: 1px solid #D2D2D2; padding: 4px 0px 0; border-bottom: 0px; }
.review-list-block row { margin: 0px; }
.review-list-block .list-block h2 { font-size: 20px; margin-left: 13px; }
.list-block { margin-left: 0px; margin-right: 0px; border-bottom: 1px solid #D2D2D2; padding-bottom: 20px; }
.get-matched-block { margin-top: 20px; background: #F8F7F1; margin-left: 0px; margin-right: 0px; margin-bottom: 20px; border: 1px solid #D2D2D2; padding: 10px; }

.vendor-view .vendor-detail-block .vendor-title h2 { color: #333; font-size: 23px; font-weight: 700; margin: 0; margin-top: 10px; }
.vendor-view .vendor-detail-block .button-block input { margin-top: 20px; }
.vendor-view .vendor-detail-block .share { margin-top: 30px; }
.vendor-content-block .nav-tabs { background: #e6e6e6; border-radius: 5px 5px 0px 0px; padding-top: 6px; padding-left: 6px; }
.vendor-content-block .nav-tabs > li.active > a { background: #ef702d; color: #fff; }
.vendor-content-block .nav-tabs li a:hover { background: #ef702d; color: #fff; margin-right: 2px; border-bottom: 0px; }
.vendor-content-block .nav-tabs li a { color: #333; font-weight: 700; }
.vendor-content-block .nav > li > a { padding: 10px 40px; }
.vendor-content-block .vendor-panel { border: 1px solid #eee; padding-left: 20px; padding-right: 20px; }
.vendor-content-block .vendor-panel h1 { border-bottom: 1px solid #EEEEEE; color: #333333; font-size: 23px; font-weight: 700; line-height: 37px; margin: 10px 0; }
.vendor-content-block .vendor-panel h2 { color: #EF702D; font-size: 20px; line-height: 37px; margin-bottom: 0px; }
.vendor-content-block .vendor-panel ul { padding-left: 14px; }
.vendor-content-block { margin-bottom: 20px; }
.vendor-review-header { margin-left: 0px; margin-right: 0px; }
.vendor-review-header h2 { color: #999999 !important; font-weight: 600; margin: 28px 0 0; padding: 0; }
.vendor-review-header h3 { margin: 0px; padding: 0px; font-size: 18px; color: #999 !important; }
.vendor-review-header { padding-bottom: 10px; border-bottom: 1px solid #eee; padding-top: 10px; }
.vendor-review-header .getcontactdetails { font-size: 13px; padding-top: 30px; text-align: center; font-weight: 600; }
.vendor-review-header .getcontactdetails .btn-success { background: #505050 !important; border-color: #505050 !important; color: #E79110 !important; margin-bottom: 4px; }
.vendor-album .album-block { float: left; padding: 12px; width: 25%; }
.album-block .image-block { float: left; padding-right: 11px; width: auto; }
#carousel { width: 480px; overflow: hidden; }
#carousel ul { width: 1920px; padding: 0; margin: 0; }
#carousel ul li { width: 480px; text-align: center; height: 280px; list-style: none; float: left; }
.user-profile-block { width: 80%; margin: auto; background: #eee; margin-top: 10px; border-radius: 4px; padding: 10px; border: 1px solid #e5e5e5; }
.profile-image { text-align: center; padding-top: 20px; margin-bottom: 30px; }
.profile-image img { z-index: -1000; }
.profile-image a { background: none repeat scroll 0 0 rgba(78, 144, 254, 0.7); color: #FFFFFF; display: block; font-size: 9px; font-weight: bold; left: 382px; line-height: 9px; margin-top: -24px; padding: 7px 0; position: relative; text-align: center !important; width: 14%; z-index: 1000; }
.user-profile-block #logo-form { width: 50%; margin: auto; }
.user-profile-block #logo-form label { width: 25%; float: left; padding-top: 10px; }
.user-profile-block #logo-form input { float: left; margin-bottom: 10px; }
.user-profile-block #logo-form .btn { margin-left: 10px; margin-top: 3px; }
.profile-image h1 { font-size: 22px; }
.user-profile-basic .row { margin: 0px; }
.profile-info { background: none repeat scroll 0 0 #FFFFFF; margin-right: 15px; padding: 10px; width: 49%; border-radius: 4px; }
.profile-info input, .profile-info textarea { margin-bottom: 14px; }
.city-info { padding: 10px; background: #FFF; width: 49%; border-radius: 4px; }
.city-info input { width: auto; margin-right: 6px; margin-top: -3px; }
.city-info label { width: 95%; }
.user-profile-block h2 { border-bottom: 1px solid #EEEEEE; font-size: 19px; margin: 8px 0 13px; padding-bottom: 6px; }
.user-profile .certificate { padding: 10px; background: #FFF; width: 49%; border-radius: 4px; margin-top: 20px; margin-right: 15px; }
.user-profile .add-certificate label { width: auto; }
.user-profile .add-certificate input, .user-profile .add-product input { width: 66%; }
.user-profile .album-block { background: #fff; padding: 10px; border-radius: 4px; margin-top: 20px; }
.user-profile .album-block .photo { display: inline-block; padding: 9px; width: 15%; }
.user-profile .album-block input { width: 60%; }
.albumform { width: 100%; }
.modal-dialog { width: 61%; }
.user-profile .products { padding: 10px; background: #FFF; width: 49%; border-radius: 4px; margin-top: 20px; }
.gv_galleryWrap { background: none repeat scroll 0 0 #FFFFFF !important; height: 465px !important; padding: 10px !important; width: 818px !important; }
.contactdetails { margin-top: 10px; }
.contactdetails h2 { font-size: 20px; font-weight: 600; color: #1E7CC8; }
.contactdetails p { padding: 0px; margin-bottom: 2px; }
.content-block span { text-decoration: none; color: #1E7CC8; cursor: pointer; }
.photodes { width: auto; float: left; font-size: 13px; color: #000; margin-top: 6px; }
.photobutton { background-color: #F9F2F4; border: medium none; border-radius: 4px; color: #C7254E; font-size: 90%; margin-top: 8px; padding: 2px 4px; white-space: nowrap; }
.user-profile-block .row { margin-left: 8px; margin-right: 8px; }
.list-certificate p, .list-product p { margin-bottom: 0; padding: 7px; transition: 0.5s ease all; }
.list-certificate p:hover, .list-product p:hover { background: #eee; }
.list-certificate, .list-product { overflow-x: hidden; overflow-y: scroll; max-height: 328px; min-height: 50px; }
.review-menu-left { /*-webkit-column-count: 3;
	-moz-column-count: 3;*/ float: left; margin-left: 10px; width: 57%; }

.review-menu-left .col-md-4 { padding: 0px; }
.review-menu-left .col-md-4 ul li { line-height: 16px; padding-bottom: 4px; padding-right: 6px; }
.megamenubg-1 a { color: #f1fbff; }
.allcategories a { color: #EF702D !important; }
.megamenubg-1 ul { margin-bottom: 0; display: block; list-style-type: none; margin-left: 0px; padding-left: 0px; }
.rating { cursor: pointer; margin-bottom: 10px; clear: both; display: block; }
.rating:after { content: '.'; display: block; height: 0; width: 0; clear: both; visibility: hidden; }
.cancel, .star { float: left; width: 17px; height: 15px; overflow: hidden; text-indent: -999em; cursor: pointer; }
.cancel, .cancel a { background: url(../images/deleterating.gif) no-repeat 0 -16px; }
.star, .star a { background: url(.../images/star.gif) no-repeat 0 0px; }
.cancel a, .star a { display: block; width: 100%; height: 100%; background-position: 0 0px; }
div.rating div.on a { background-position: 0 -16px; }
div.rating div.hover a, div.rating div a:hover { background-position: 0 -32px; }
.notchoose input { margin: 0 9px 0 0; width: auto; }
.notchoose label { font-weight: normal; width: 673px; }
.review-container .col-md-8 { padding-left: 0px; }
.review-container .review-container-left h1 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 15px; padding-bottom: 6px; text-transform: uppercase; }
.review-container .review-container-left .form_wrapper { margin: 0px; margin-bottom: 20px; width: auto; }
.review-container .review-container-right h2 { font-size: 18px; margin: 0; }
.review-container .review-container-right h4 { border-bottom: 4px solid #E6E6E6; color: #1E7CC8; font-size: 18px; font-weight: bold; margin-top: 4px; padding-bottom: 6px; text-transform: uppercase; }
.review-container .review-container-right .relatedreview { padding-top: 10px; padding-bottom: 10px; border-bottom: 1px solid #eee; }
.review-container .review-container-right { padding-top: 10px; padding-bottom: 10px; border: 1px solid #eee; border-radius: 4px; }
.note { margin: 10px; color: Red; }
.page-title h2 { color: #969696; font-size: 16px; font-weight: bold; margin: 20px 0px 0px; padding-bottom: 5px; text-transform: uppercase; }
.update-account { margin: 4px -8px; }
.category-right-block label { font-size: 16px; font-weight: normal; }
.ui-autocomplete { max-height: 400px; overflow-y: auto; /* prevent horizontal scrollbar */ overflow-x: hidden; /* add padding to account for vertical scrollbar */ padding-right: 20px; }
.how-video h3 { margin: 0px; padding-bottom: 20px; font-size: 32px; color: #1E7CC8; }
.vendor-review-matched-cont h2 { color: #217AC3; font-size: 28px; font-weight: bold; margin-top: 30px; }
.page-title h1 { padding-bottom: 5px; }
.faq-container { margin-bottom: 60px; }
.faq-container h2 { font-size: 16px; font-weight: 600; color: #1E7CC8; }
.faq-container .panel-body { font-size: 14px; }
.faq-container a { font-size: 14px; }
.getContact { background: none repeat scroll 0 0 #bfbfbf; border: medium none; color: #fff; font-size: 13px; margin-top: 10px; padding: 9px; }
.getContact:hover { background: #1E7CC8; color: #fff; }
.get-quote-block span { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #999999; border-radius: 4px; float: left; font-size: 13px; margin-top: 10px; padding: 9px; width: 100%; }
.get-quote-block span p { line-height: 18px; }
.admin_filter { background-color: #CCCCCC; border-radius: 4px; line-height: 24px; margin-bottom: 10px; padding: 3px; }
.admin_filter label { padding-top: 5px; }
.orderdetails { margin-bottom: 10px; }
.left-clear { padding-left: 0px; }
.footer-menu .menu li a { padding-left: 0px; }
.quick-links-bottom { text-align: right; padding-top: 4px; }

.ban-get-quote { width: 100%; background-color: #f6a580; padding: 9px; font-size: 18px; font-weight: 300; text-transform: uppercase; border: solid 1px #f6a580; }
.work-day-time { color: #fff; padding-left: 30px; line-height: 18px; display: block; font-size: 14px }
.mobile, .telphone { background-repeat: no-repeat; background-position: 0; padding-left: 32px; color: #fff; font-size: 14px; width: 100%; display: block; letter-spacing: 2px; line-height: 21px; }
.category-right-block h2 { font-size: 16px; border-bottom: solid 1px #ccc; padding-bottom: 5px; font-weight: 400; text-align: center; margin: 15px 0px 20px; color: #666;  text-transform: uppercase; }
.category-right-block h5 { font-size: 15px; font-weight: bold; text-align: center; color: #333; }
.side-clear { padding: 0px; }
address{ margin-bottom: 0px;}
.right-med { padding-right: 5px; }
.left-med { padding-left: 5px; }
.jumbotron { border-bottom: solid 1px #DFDFDF; }
.carousel-indicators li { background-color: #E77901; }
.carousel-indicators .active { background-color: #646464; }
.top-nav-bar { padding: 5px; background-color: #f5f5f5; }
.contact-info { color: #1e7bc8;  padding: 8px 0px; font-size: 13px; }
.contact-info a { color: #1e7bc8; }
.fa-phone { font-size: 12px; }
.contact-no { padding-left: 16px; border-left: solid 1px #ddd; }
.right-top-links { text-align: right; padding-left: 40px; }
.clear-right { padding-right: 0px; }
.search-box { margin-right: 15px; margin-left: 20px; }
.search-btn { background-color: #f6a580; border: solid 1px #f6a580; color: #fff; font-size: 19px; padding: 3px; font-weight: 400; margin: -3px 0 0; }
.search-block-top { margin: 10px 0px 5px 10px; font-size: 19px; }
.customer-benefits-block { width: 18.3%; float: left; box-sizing: border-box; margin-right: 40px; }
.customer-benefits-block-first { width: 16%; float: left; box-sizing: border-box; margin-right: 20px; }
.customer-benefits-block-last { width: 31%; float: left; box-sizing: border-box; }
.footer-right-menu-block { width: 78%; float: left; }
.customer-benefits { background-image: url(../images/benefits_bg.png); background-position: top left; background-repeat: repeat-x; margin-top: 20px; background-color: #0e508e; padding: 5px 18px; }
.customer-benefits span, .subscribe-text { width: 100%; display: block; font-size: 12px; color: #C5E3FF;  line-height: 14px; }
.eemail_caption { width: 100%; display: block; font-size: 12px; color: #C5E3FF;  line-height: 12px; }
.customer-benefits li:nth-child(1), .customer-benefits li:nth-child(2), .customer-benefits li:nth-child(3), .customer-benefits li:nth-child(4), .customer-benefits li:nth-child(5), .customer-benefits li:nth-child(6) { background-position: -3px -3px; background-repeat: no-repeat; padding-left: 28px; margin-bottom: 10px; }

address { margin-bottom: 10px; font-style: normal; line-height: 1.428571429; }
.subscribe_news { background-image: url(../images/subscribe_bg.png); border-radius:5px; background-position: bottom left; position: absolute; background-repeat: repeat-x; margin-top: 21px; background-color: #0e508e; padding: 5px 13px; width: 282px; margin-left: -10px; }
.customer-benefits-block-last h2 { color: #FFFFFF; font-size: 14px; font-weight: normal; margin-bottom: 10px; text-transform: uppercase; }
#block-menu-menu-footer-quick-links{width: 69%; float: left; margin-top: 30px;}
.subscribe-text { font-size: 12px; }
.mail-box { background-color: #333; border-radius: 5px; padding: 5px; margin: 20px 0px 30px; box-shadow: 0px 0px 12px 5px #212121 inset; font-size: 15px; }
.mail-box input[type="email"] { background-color: transparent; border: 0px; color: #fff; width: 65%; padding: 6px 5px; }
.mail-box input[type="submit"] { border: 0px; color: #000; width: 33%; padding: 6px 1px; box-shadow: 0px 17px 3px 0px #9E9D9D inset; background-color: #BDBDBD; }
.content-top-one { text-align: center; }
.content-top-one-block { width: 85%; margin: auto; }
.resource-centre h3 { font-size: 15px; font-weight: 600; background-image: url(../images/arrow-down.png); background-position: 0px; background-repeat: no-repeat; padding: 10px 10px 20px; margin-bottom: 0px;  }
.resource-centre ul { padding-left: 0px; }
.resource-centre ul li { list-style-type: none; padding: 3px 0px; }
.page-title h1, h1.page-title { font-size: 20px; font-weight: bold; text-transform: uppercase; color: #1e7cc8; border-bottom: solid 0px #E6E6E6; margin-bottom: 4px; }
.resource-centre ul li a { color: #333; }
.resource-centre ul li a:hover { color: #f06726; }
.resource-centre ul { background-position: right top; background-repeat: no-repeat; margin-top: 2px; }
.content-block img { float: left; padding-right: 10px; width: 300px; height: auto; }
.content-block h3 { width: 100%!important; clear: both; color: #FFA300; font-size: 20px; padding-top: 20px; margin-top: 0px; }
.content-block ul { padding-left: 0px; margin-left: 0px; }
.content-block ul li { width: 100%; list-style-type: none; }

.right-quotes h2 { font-size: 19px; padding: 12px; margin-top: 5px; font-weight: 400; margin-bottom: 10px; text-align: center; line-height: 24px; }
.right-quotes ul { }
.mail-box { background-color: #333; border-radius: 5px; padding: 5px; margin: 10px 0px 22px; box-shadow: 0px 0px 12px 5px #212121 inset; font-size: 15px; }
.mail-box .eemail_textbox_class { background-color: transparent; border: 0px; color: #BEBEBE; width: 65%; padding: 6px 5px; }
.mail-box .eemail_textbox_button { border: 0px; color: #000; width: 33%; padding: 6px 1px; box-shadow: 0px 17px 3px 0px #9E9D9D inset; background-color: #BDBDBD; }
#archives { width: 100%; float: left; color: #4D6D30; font-size: 16px; padding: 8px 10px 0px; font-weight: bold; background-color: #F2FFC7; }
.no-break { width: 100%; float: left; margin-top: 20px; line-height: 20px; background: #fff; box-shadow: 1px 0px 50px 0px #E7E7E7 inset; padding: 12px; }
.stButton .stFb, .stButton .stTwbutton, .stButton .stMainServices { height: 22px!important; line-height: 18px!important; }
.stButton .stButton_gradient { height: 22px!important; }
.rgw-lightbox, .rgw-element, .rgw-desktop { display: none; }
/*dropdown menus starting here*/
.dropdown-menu > li > a { padding: 8px 20px!important; color: #fff; font-size: 14px!important; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus { background-color: #0e508e!important; border-color: #428bca; border: 0px; }
.dropdown-menu > li { background: #1e7cc8; border-bottom: solid 1px #ccc; }
.dropdown-menu li.Automotive, .dropdown-menu li.Building, .dropdown-menu li.Commercial, .dropdown-menu li.Corporate, .dropdown-menu li.Education, .dropdown-menu li.Entertainment, .dropdown-menu li.General, .dropdown-menu li.Home, .dropdown-menu li.Landscape, .dropdown-menu li.Logistics, .dropdown-menu li.Technology, .dropdown-menu li.Travel, .dropdown-menu li.Automotive:hover, .dropdown-menu li.Building:hover, .dropdown-menu li.Commercial:hover, .dropdown-menu li.Corporate:hover, .dropdown-menu li.Education:hover, .dropdown-menu li.Entertainment:hover, .dropdown-menu li.General:hover, .dropdown-menu li.Home:hover, .dropdown-menu li.Landscape:hover, .dropdown-menu li.Logistics:hover, .dropdown-menu li.Technology:hover, .dropdown-menu li.Travel:hover { padding: 0px 2px 0px 23px!important; color: #fff; }

.dropdown-menu { padding: 0px 0; }
.dropdown-submenu { position: relative; }
.dropdown-submenu>.dropdown-menu { top: 0; left: 100%; margin-top: -1px; margin-left: -1px; -webkit-border-radius: 0 0px 0px 0px; -moz-border-radius: 0 0px 0px; border-radius: 0 0px 0px 0px; }
.dropdown-submenu:hover>.dropdown-menu { display: block; }
.dropdown:hover>.Searchsegment-drop, .dropdown:hover>.Reviewsegment-drop { display: block; }
.dropdown-submenu>a:after { display: block; content: " "; float: right; width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0 5px 5px; border-left-color: #ccc; margin-top: 5px; margin-right: -10px; }
.dropdown-submenu:hover>a:after { border-left-color: #fff; }
.dropdown-submenu.pull-left { float: none; }
.dropdown-submenu.pull-left>.dropdown-menu { left: -100%; margin-left: 10px; -webkit-border-radius: 0px 0 0px 0px; -moz-border-radius: 0px 0 0px 0px; border-radius: 6px 0 0px 0px; }
.dropdown-submenu ul.dropdown-menu { width: 563px; }
.dropdown-submenu ul.dropdown-menu li { width: 50%; float: left; border-right: solid 1px #ccc; }
.dropdown-submenu ul.dropdown-menu li:nth-child(even) { border-right: solid 0px #ccc; }
.dropdown-submenu ul.dropdown-menu li a { padding: 8px 4px 8px 8px!important; }
.dropdown-submenu ul.dropdown-menu li a:hover { background: #f6a580; color: #fff; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: #FFFFFF; }
.all-categories a, .all-categories a:hover { font-weight: bold!important; background-color: #0B3C68; text-align: center; }
#contact-box { position: absolute; left: 430px; top: 200px; }
#btnContact { background: #00DEFF; float: left; padding: 15px; cursor: pointer; border-bottom-left-radius: 5px; border-top-left-radius: 5px; }
#frmContact { background: #FAF8F8; padding: 15px; display: block; float: right; }
#frmContact div { margin-bottom: 15px }
#frmContact div label { margin-left: 5px }
.demoInputBox { padding: 10px; border: #F0F0F0 1px solid; border-radius: 4px; }
.error { background-color: #FF6600; border: #AA4502 1px solid; padding: 5px 10px; color: #FFFFFF; border-radius: 4px; }
.success { background-color: #12CC1A; border: #0FA015 1px solid; padding: 5px 10px; color: #FFFFFF; border-radius: 4px; }
.info { font-size: .8em; color: #FF6600; letter-spacing: 2px; padding-left: 5px; }
.btnAction { background-color: #2FC332; border: 0; padding: 10px 40px; color: #FFF; border: #F0F0F0 1px solid; border-radius: 4px; }
.txt-content { border-left: #F0F0F0 1px solid; padding: 5px 20px; margin: 0px auto 0px; height: 1500px; width: 1000px; background: #7C7C7C; }
.alert-success { background-color: #1E7CC8; border-color: #1E7CC8; color: #FFF; text-align: center; font-size: 14px; font-weight: 400; width: 90%; margin: 20px auto; }
.alert-danger { background-color: #F2DEDE; border-color: #999; color: #B94A48; text-align: center; font-size: 14px; font-weight: 400;  width: 90%; margin: 20px auto; }
/*blogs*/
.blogSection { float: left; width: 100%; height: auto; }
.blogSection h2 { color: #2b80c6; float: left; font-size: 18px; line-height: 27px; margin: 0; padding: 10px 0; width: 100%; }
.blog_heading h2 { color: #616161; float: left; font-size: 40px; font-weight: bold; line-height: normal; width: 100%; }
.authorDetail { border-bottom: 1px solid #ebebeb !important; float: left; margin: 0; padding: 0; width: 100%; }
.authorImage { border-radius: 50%; float: left; height: auto; overflow: hidden; width: auto; }
.authorName { color: #939393; float: left; font-size: 14px; margin: 22px 20px; width: auto; }
.nameDark { color: #464646; }
.vcard { padding-bottom: 10px; width: 100%; }
.authorLeft { float: left; margin: 18px 20px; width: 408px; }
.postDate { background: url("../images/calender-icon.png") no-repeat scroll left top rgba(0, 0, 0, 0); color: #939393; float: left; margin: 0 0 0 20px; min-width: 29px; padding: 5px 0 12px 42px; width: 40%; }
.postComment { background: url("../images/comment-icon.png") no-repeat scroll left 4px rgba(0, 0, 0, 0); color: #939393; float: left; font-size: 14px; margin: 3px 0 0; padding: 2px 0 2px 43px; width: 50%; }
.blog_heading { color: #cc062f !important; float: left !important; width: 100%; font-weight: normal !important; padding: 0px 0 14px !important; margin: 30px 0 0; }
.blog_heading a:hover { text-decoration: none !important; }
.blog_heading h3:hover { color: #eba883; }
.blogText p { color: #303030; font-size: 15px; float: left; margin: 0 0 20px; width: 95%; }
.aftertext { float: left; width: 100%; margin: 25px 0; border-bottom: 2px solid #3a5d9a; padding: 25px 0 }
.CountBtn { background: none repeat scroll 0 0 #eba883; border-radius: 5px; color: #fff; float: left; font-size: 18px; margin-right: 15px; padding: 8px 20px; }
a.CountBtn:hover, a.GetBtn:hover, a.searchBtn:hover, a.bannerBtn:hover, a.recBtn:hover, a.CountBtn:hover { color: #fff!important; background: #d58c64; text-decoration: none; }
.searchBtn { background: none repeat scroll 0 0 #eba883; border-radius: 5px; color: #fff; float: left; padding: 10px 40px; font-size: 18px; }
.blogSocial { float: left; }
.blogSocial ul { display: block; float: left; list-style: outside none none; margin: 5px 20px; padding: 0; }
.blogSocial ul li { float: left; }
.blogSocial ul li a { float: left; margin: 0 5px; }
.blogSearch { float: left; }
.blogSearch h4 { float: left; color: #2b80c6; line-height: 40px; }
.textCenter { float: left; margin: 30px 0; text-align: center; width: 100%; }
.blogSearch input { box-shadow: none; float: left; margin: 10px 0; }
.categoriesText { float: left; margin: 20px 0; }
.categoriesText h4 { float: left; color: #2b80c6; }
.categoriesText ul { display: block; float: left; margin: 0; padding: 0; list-style: none; }
.categoriesText ul li { float: left; width: 100%; }
.categoriesText ul li a { float: left; color: #303030; line-height: 28px; }
.blogDrop { float: left; margin: 20px 0; width: 100%; }
.blogDrop h4 { float: left; color: #2b80c6; }
.blogDrop select { float: left; width: 100%; }
/*A&A*/
.bannerDesign {background:#2F8DDA;
float: left;
height: auto;
width: 100%;}
.bannerDesign .bannerText {float: left;
height: auto;
margin-left: -15px;
margin-right: -15px;
padding-top: 30px;}

.bannerText h1 {color: #fff;
font-family:'Proxinova-bold';
font-size: 46px;
font-weight: bold;
line-height: 1.3em;
margin-top: 5px;
text-align: center;}
.bannerText h3 {
  color: #fff;
  font-family: 'Proxinova-bold';
  font-size: 46px;
  font-weight: bold;
  line-height: 1.3em;
  margin-top: 5px;
  text-align: center;
}

.bannerText h2 { color: #fff; font-size: 19px; font-weight: bold; text-align: center; text-transform: uppercase; line-height: 25px; font-family:'Proxinova-bold'; margin-top: 0px;}
.bannerText p {color: #ffffff;
font-family:'Proxinova-bold';
font-size: 16px;
text-align: center;}
/**/
.accounting_page_md {background: rgba(0, 0, 0, 0) url("../images/aa_headder.jpg") no-repeat scroll center top;padding: 25px 0;}
.accounting_ali_change{background: #ffffff;
padding-left: 10px;
padding-right: 10px;
border-radius: 5px;
opacity: 0.9;}
.accounting_ali_change h2{color: #262626;
font-family: 'proxima_nova_rgbold';
font-size: 32px;
font-weight: bold;
line-height: 1.3em;
margin-top: 5px;
text-align: center;}
.accounting_ali_change p{color: #262626;
font-family: "proxima_nova_rgbold";
font-size: 16px;
line-height: 1.3em;
margin-bottom: 15px;}
.accounting_btn{}

.interior_page_md{background: rgba(0, 0, 0, 0) url("../images/bg_intprior.jpg") no-repeat scroll center top !important;
padding: 25px 0;}
.interior_ali_change{background: #ffffff;
padding-left: 10px;
padding-right: 10px;
border-radius: 5px;
opacity: 0.9;
width: 490px}
.interior_ali_change h2{color: #262626;
font-family: 'proxima_nova_rgbold';
font-size: 28px;
font-weight: bold;
line-height: 1.3em;
margin-top: 5px;}
.interior_ali_change p{color: #262626;
font-family: "proxima_nova_rgbold";
font-size: 16px;
line-height: 1.3em;
margin-bottom: 15px;}
.interior_btn { margin: 27px 0;}

.catering_page_md{background: rgba(0, 0, 0, 0) url("../images/carering_bd_u.jpg") no-repeat scroll center top !important;
padding: 38px 0;}
.catering_ali_change{background: #ffffff;
    border-radius: 5px;
    opacity: 0.9;
    padding-left: 20px !important;
    padding-right: 20px !important;}
.catering_ali_change h2{color: #262626;
font-family: 'proxima_nova_rgbold';
font-size: 28px;
font-weight: bold;
line-height: 1.3em;
margin-top: 5px;}
.catering_ali_change p{color: #262626;
font-family: "proxima_nova_rgbold";
font-size: 16px;
line-height: 1.3em;
margin-bottom: 15px;}
.catering_btn{}

.landscaping_page_md{background: rgba(0, 0, 0, 0) url("../images/bg_landscape .jpg") no-repeat scroll center top !important;
padding: 38px 0;}
.landscaping_ali_change{background: #ffffff;
    border-radius: 5px;
    opacity: 0.9;
    padding-left: 20px !important;
    padding-right: 20px !important;}
.landscaping_ali_change h2{color: #262626;
font-family: 'proxima_nova_rgbold';
font-size: 28px;
font-weight: bold;
line-height: 1.3em;
margin-top: 5px;}
.landscaping_ali_change p{color: #262626;
font-family: "proxima_nova_rgbold";
font-size: 16px;
line-height: 1.3em;
margin-bottom: 15px;}
.landscping_btn{}

.it_support_page_md{background: rgba(0, 0, 0, 0) url("../images/it_bg_u.jpg") no-repeat scroll center top !important;
padding: 58px 0;}
.it_support_ali_change{background: #ffffff;
    border-radius: 5px;
    opacity: 0.9;
    padding-left: 20px !important;
    padding-right: 20px !important;}
.it_support_ali_change h2{color: #262626;
font-family: 'proxima_nova_rgbold';
font-size: 28px;
font-weight: bold;
line-height: 1.3em;
margin-top: 5px;}
.it_support_ali_change p{color: #262626;
font-family: "proxima_nova_rgbold";
font-size: 18px;
line-height: 1.3em;
margin-bottom: 15px;}
.it_support_btn{}

/**/
.bannerBtn { background: none repeat scroll 0 0 #eba883; border-radius: 5px; color: #fff; padding: 13px 20px; font-size: 18px; font-family:'Proxinova-bold';  }
a.bannerBtn { color: #fff !important; background: #eba883; text-decoration: none; }
.accountingSec { width: 100%; float: left; height: auto; margin: 40px 0; }
.accountingSec .accountImg { float: left; margin: 0; }
.accountingSec h2 { font-size: 25px; color: #1e7cc8; margin: 0 0 15px; float: left; text-transform: uppercase;font-weight:normal;}
.accountingSec p { font-size: 15px; color: #303030; float: left; margin: 0; line-height: 20px; }
.bannerImg { width: 100%; float: left; text-align: center; margin: 8% 0 0 0; padding: 0; }
/*steup setion*/
.stepSection { width: 100%; height: auto; float: left; background: #2f8dda; padding: 40px 0; }
.stepSection h1 { color: #fff; float: left; text-align: center; font-size: 35px; width: 100%; font-weight: bold; margin: 0 0 20px;}
.stepSection .stepS { float: left; padding: 0px 20%; text-align: center; width: 100%; }
.stepSection p { color: #fff; float: left; margin: 20px 0; width: 100%;  font-size: 15px; }
.stepGet { width: 100%; float: left; text-align: center; margin: 20px 0; }
.GetBtn { background: none repeat scroll 0 0 #eba883; border-radius: 5px; color: #fff !important; padding: 13px 20px; font-size: 18px; }
#step_area{}
#step_area h1{font-family: 'proxima_nova_rgbold';}
#step_area .stepS{}
#step_area .stepS .stepOne{}
#step_area .stepS .stepOne span.StepIcon{}
#step_area .stepS .stepOne span.StepIcon{}
#step_area .stepS .stepOne p{}
/*Accountant-Service*/
.accountantService { width: 100%; float: left; height: auto; padding: 40px 0; }
.accountantService h2 { color: #2f8dda; font-size: 25px; float: left; width: 100%; text-align: center; margin: 0 0 30px; font-weight: normal; }
.serviceIcon { width: 100%; float: left; text-align: center; }
.serviceHed { width: 100%; float: left; text-align: center; margin: 0; }
.serviceHed p { font-size: 17px; float: left; color: #303030; width: 100%; margin: 20px 0 50px; }
/*assuranceSection*/
.assuranceSection { width: 100%; height: auto; float: left; background: #f4f4f4; padding: 40px 0; border-top: 1px solid #e0e0e0; }
.assuranceText { float: left; }
.assuranceText h4 { color: #2b80c6; font-size: 25px; float: left; margin:0 0 10px 0; padding: 0; text-transform: uppercase; font-weight: normal;  }
.assuranceText p { color: #303030; float: left; width: 100%; font-size: 15px;  margin:0; padding: 0; }
.assuranceText h5 { color: #eba883; float: left; font-size: 20px; margin: 5px 0px; }
.assurancImg { float: left; width: 100%; text-align: center; padding: 0; margin: 50px 0; }
/*book-section*/
.bookSection { float: left; width: 100%; height: auto; padding: 40px 0 }
.bookImg { float: left; width: 100%; text-align: center; }
.bookText h2 { color: #2b80c6; float: left; font-size: 25px;  margin: 0 0 20px 0; text-transform: uppercase; font-weight: normal; }
.bookText p { color: #303030; float: left; width: 100%; font-size: 15px; margin: 5px 0; }
/*Buget-section*/
.budGet { width: 100%; height: auto; float: left; background: #f4f4f4; padding: 40px 0; border-top: 1px solid #e0e0e0; }
.budGet h2 { color: #2b80c6; float: left; font-size: 25px;  margin: 0 0 20px 0; text-transform: uppercase; font-weight: normal; }
.budGet p { color: #303030; float: left; width: 100%; font-size: 15px;  line-height: 20px; margin:10px 0; }
.budGet ul { display: block; float: left; font-size: 14px; margin: 20px 0; padding: 0; }
.budGet ul li { float: left; width: 100%; }
.budgetImg { float: left; width: 100%; text-align: center; padding: 17% 0; }
/*Payroll*/
.PayRoll { float: left; width: 100%; height: auto; padding: 40px 0 }
.payrollImg { float: left; width: 100%; text-align: center; }
.PayText h2 { color: #2b80c6; float: left; font-size: 25px;margin: 0 0 20px 0; text-transform: uppercase; font-weight: normal;}
.PayText p { color: #303030; float: left; width: 100%; font-size: 15px;}
/*QuotesSec*/
.QuotesSec { width: 100%; height: auto; float: left; background: #f4f4f4; padding: 30px 0; border-top: 1px solid #e0e0e0; }
.QuotesSec h2 { color: #2b80c6; width: 100%; text-align: center; font-size: 25px; line-height: 28px; font-weight: normal;}
.quoteBtn { width: 100%; float: left; text-align: center; margin: 30px 0 }
/*Resources*/
.resourceCenter { float: left; width: 100%; height: auto; padding: 40px 0 }
.resouceHed { width: 100%; float: left; margin: 0 0 30px; }
.resouceHed h2 {font-weight: normal; width: 100%; float: left; text-align: center; font-size: 25px; color: #2b80c6; margin: 10px 0;  }
.resouceHed p { color: #303030; float: left15px; width: 100%; text-align: center; }
.recText { width: 50%; float: left; }
.recText h2 { color: #2b80c6; float: left; font-size: 15px; margin: 0; }
.recText p { color: #303030; font-size: 15px; float: left; margin: 7px 0; }
.recImg { float: left; width: 50%; text-align: left; margin-bottom: 30px; padding-right: 20px; }
.recBtn { background: none repeat scroll 0 0 #eba883; border-radius: 5px; color: #fff; padding: 10px 15px; font-size: 13px; float: left; }
.recText ul { display: block; float: left; list-style: outside none none; margin: 4px 0 0 5px; padding: 0; }
.recText ul li { float: left; }
.recText ul li a { float: left; margin: 0 2px; }
.tagLine { float: left; text-align: center; padding: 9px 0 !important; margin: 0px; width: 100%; }
.tagLine p { color: #2084cc; font-size: 15px; margin: 0; text-transform: uppercase; }
.tagLine a:hover { text-decoration: none !important; color: #eba883 !important; }
/*Categories Page*/
.categoriesSec { width: 100%; height: auto; float: left; padding: 30px 0; }
.categoriesHed { width: 100%; float: left; text-align: center; }
.categoriesHed h1 { color: #2b80c6; font-size: 25px;  margin: 30px 0; }
/*cat*/
.catMargin { margin: 15px 0; }
.catererExperince { width: 100%; height: auto; float: left; background: #f4f4f4; padding: 30px 0; border-top: 1px solid #e0e0e0; }
.catererExperince h2 { color: #2b80c6; font-size: 25px; float: left;  margin: 0 0 10px 0; font-weight:normal}
.catererExperince p { color: #303030; font-size: 15px;  float: left; margin: 7px 0; }
.catererList { width: 100%; float: left; height: auto; }
.catererList h3 { color: #2b80c6; float: left; font-size: 18px; margin: 0; font-weight:normal}
.catererList p { color: #303030; font-size: 15px;  float: left; margin: 7px 0 20px; }
.catereIcon { float: left; margin: 0 0 25px; }
.PayRoll.experting, .resourceCenter.caterRec { background: #f4f4f4; border-top: 1px solid #e0e0e0; }
.caterQuotes { background: none; border: none; }
.paragraph-bottom-margin { margin:0 0 15px !important; }
.interioDesign { float: left; }
.interioDesign ul { display: block; float: left; margin: 0; padding: 0; }
.interioDesign ul li { float: left; width: 100%; color: #303030; font-size: 15px;  float: left; margin: 7px 0; }
.PayText.kitchen { float: left; }
.kitchen uli { display: block; float: left; }
.kitchen ul li { width: 100%; color: #303030; font-size: 15px;  float: left; margin: 1px 0; }
.supportContainer { max-width: 800px; width: 100%; margin: 0 auto; }
.pabx { background: none; border: none; }
.supportCen { background: #f4f4f4; border-top: 1px solid #e0e0e0; }
/*---singel-Blog-Page--*/
.aboutAuthor { background: #f4f4f4; width: 100%; height: auto; float: left; padding: 10px 0; margin: 30px 0 10px 0; border: 1px solid #e0e0e0; }
.authorDetail { float: left; border-bottom: none !important; }
.authorDetail h2 { color: #303030; float: left; font-size: 20px; font-weight: bold; margin: 0; padding: 0; }
.authorDetail p { color: #303030; font-size: 15px;  float: left; margin: 7px 0; }
.relatedArticles { float: left; margin: 0 0 30px 0; }
.relatedArticles h3 { float: left; width: 100%; color: #2b80c6; font-size: 20px; font-weight: bold; margin: 20px 0; }
.articleDetail { float: left; }
.articleImg { float: left; margin: 10px 0; }
.articleDetail p { color: #2b80c6; float: left; font-size: 14px;  margin: 10px 0; }
.margonB { margin: 40px 0; }
.blogQueots { width: 100%; float: left; text-align: center; padding: 20px 0 40px 0; }
.blogQueots h1 { color: #2b80c6; font-size: 36px; float: left; text-align: center; margin: 10px 0; border-bottom: none; width: 100%; }
.leaveReply { width: 100%; float: left; margin: 30px 0; }
.articleDetail a { float: left; width: 100%; }
/* Footer */

.budgetText { float: left; margin: 0; padding: 0; }
footer { width: 100%; height: auto; background: #2084cc; float: left; margin: 0; padding: 30px 0;  }
footer .footerLeft { background: url(../images/footerLeft.png) no-repeat; background-size: cover; float: left; width: 94%; min-height: 390px; padding: 3%; }
.footerLeft h1 { float: left; color: #fff; width: 100%; font-size: 15px; }
.footerIcon { width: 25px; min-height: 26px; float: left; }
.footerLeft ul { display: block; list-style: none; float: left; margin: 0; padding: 0; }
.footerLeft ul li { float: left; line-height: 14px; margin: 0; padding: 0; width: 100%; }
.footerLeft ul li h2 { color: #fff; float: left; font-size: 14px; line-height: 26px; margin: 0 10px; padding: 0; }
.footerLeft ul li p { float: left; color: #c5e3ff; width: 100%; padding: 0 0 0 35px; font-size: 13px; }
.footerAbout { float: left; width: 100%; margin: 0 0 50px; }
.footerAbout h1 { float: left; color: #fff; width: 100%; font-size: 13px; font-weight: bold; }
.footerAbout ul { display: block; list-style: none; float: left; margin: 0; padding: 0; }
.footerAbout ul li { float: left; width: 100%; margin: 5px 0; }
.footerAbout ul li a { float: left; color: #fff; font-size: 12px; width: 100%; }
.suscribeSection { width: 283px; min-height: 172px; float: left; background: url(../images/suscribe_bg.png) no-repeat; padding: 10px }
.socialIcon { margin: 0 2px 0 0; }
.locationIcon { margin: 0 2px 0 0; min-height: 86px; float: left }
.marginRight { margin: 0 24px; }
.whatsIcon { margin: -4px 2px 0 0; float: left }
.suscribeSection h3 { color: #fff; float: left; font-size: 24px; width: 100%; margin: 10px 0; }
.suscribeSection p { color: #93e3ff; float: left; font-size: 12px; width: 100%; }
.suscribeSection form { float: left; width: 100%; }
.suscribeSection form fieldset { width: 100%; min-height: 44px; float: left; background: url(../images/subscribe-strip.jpg) repeat-x; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.suscribeSection form fieldset input { background: none repeat scroll 0 0 rgba(0, 0, 0, 0); border: medium none; color: #bdbdbd; float: left; font-size: 13px; margin: 5px; width: 60%; }
.suscribeSection form fieldset input[type=submit] { background: none repeat scroll 0 0 #bdbdbd; color: #000; float: left; height: 32px; margin: 6px 7px; padding: 0; width: 30%; }
.footerNav { width: 100%; float: left; }
.footerNav ul { display: block; list-style: none; margin: 0; padding: 0; float: left; }
.footerNav ul li { float: left; }
.footerNav ul li a { float: left; color: #fff; font-size: 12px; margin: 0 15px; padding: 0; }
.textDecoration:hover { text-decoration: none; }
/* Footer */


a.cat1-img, a.cat2-img, a.cat3-img, a.cat4-img, a.cat5-img, a.cat6-img, a.cat7-img, a.cat8-img, a.cat9-img, a.cat10-img { display: block; height: 201px; text-indent: -9999px; width: 207px; border-radius:-webkit-border-radius: 100%;
}
.maincatpage .serviceHed { display: inline-block; }
.maincatpage .serviceIcon { float: none; margin: auto; display: block; width: 207px; }
a.cat1-img { background: url(../images/cat-1.png) no-repeat center center; }
a.cat1-img:hover { background: url(../images/cat-1_hover.png) no-repeat center center; width: 207px; min-height: 201px; }
a.cat2-img { background: url(../images/cat-2.png) no-repeat center center; }
a.cat2-img:hover { background: url(../images/cat-2-hover.png) no-repeat center center; width: 207px; min-height: 201px; }
a.cat3-img { background: url(../images/cat-3.png) no-repeat center center; }
a.cat3-img:hover { background: url(../images/cat-3-hover.png) no-repeat center center; width: 207px; min-height: 201px; }
a.cat4-img { background: url(../images/cat-4.png) no-repeat center center; }
a.cat4-img:hover { background: url(../images/cat-4-hover.png) no-repeat center center; width: 207px; min-height: 201px; }
a.cat5-img { background: url(../images/cat-5.png) no-repeat center center; }
a.cat5-img:hover { background: url(../images/cat-5-hover.png) no-repeat center center; width: 207px; min-height: 201px; }
a.cat6-img { background: url(../images/cat-6.png) no-repeat center center; }
a.cat6-img:hover { background: url(../images/cat-6-hover.png) no-repeat center center; width: 207px; min-height: 201px; }

a.cat7-img { background: url(../images/maintenance.png) no-repeat center center; }
a.cat7-img:hover { background: url(../images/maintenance_hover.png) no-repeat center center; width: 207px; min-height: 201px; }

a.cat8-img { background: url(../images/photography.png) no-repeat center center; }
a.cat8-img:hover { background: url(../images/photography_hover.png) no-repeat center center; width: 207px; min-height: 201px; }

a.cat9-img { background: url(../images/cleaning.png) no-repeat center center; }
a.cat9-img:hover { background: url(../images/cleaning_hover.png) no-repeat center center; width: 207px; min-height: 201px; }

a.cat10-img { background: url(../images/business_card.png) no-repeat center center; }
a.cat10-img:hover { background: url(../images/business_card_hover.png) no-repeat center center; width: 207px; min-height: 201px; }


.paddingZero { padding: 0; }
.resourceCenter .col-md-6 { min-height: 250px; }
.grayBg { background: none repeat scroll 0 0 #f4f4f4 }
img.signImg { width: 100%; }
.lightblue { background: #E3F0FA; float: left; width: 100%; }
.lightblue p { margin: 5px 0; color: #eba883; }
.lightblue p a { color: #2F8DDA; }
.blue a { text-transform: uppercase; }
a:focus, a.active { outline: none; text-decoration: none; border: none; }
.single p { float: none; width: 100%; }
.signBordBanner { margin: 2% 0 0; }
.InteriorBottom{margin:0 0 25px;}
a.steupLinkFont{font-size:30px;}
.bottomZero{margin:-10px 0 0 0;}
.hardwareLower{margin:20px 0;}
.securityUp{margin:-15px 0 0 0}
.rollLower{margin:60px 0 0;}
.flageDown{margin:40px 0 0}
.graphicsUp{margin:0; padding:0;}
.floorDown{margin:50px 0 0;} 
.artificiaLower{margin:25px; 0 0 0}
.deckingUp{margin:-20px 0 0;}
 @media only screen and (min-width:1px) and (max-width:767px) {
.maincatpage .serviceHed { float: none; }
.mobileImg { width: 100%; }
.recImg { width: 100%; margin-bottom: 30px; float: left; text-align: center; }
.recText { width: 100%; }
.recBtn { margin-bottom: 30px; }
.aftertext { margin: 10px 0; padding: 10px 0; }
.postDate { margin: 0; }
.authorLeft { width: 100%; margin-left: 0; }
.top_menu { float: left; width: 100%; }
select, input[type="text"] { float: left; margin: 20px 0; padding: 0 6px; }
.search_block .search_block { background: none repeat scroll 0 0 #1e7cc8; margin: 20px 0; }
.postDate { width: 100%; }
.postComment { width: 100%; }
.CountBtn { padding: 13px 60px; margin: 0 0 30px; }
.blogSocial ul li a { margin: 0 13px; }
.navigation ul li a { font-size: 15px; margin: 0 6px; }
.mainNavigation nav ul li { width: 100%; }
.mainNavigation nav ul li a { width: 100%; text-align: center; }
.footerAbout { margin: 0 0 15px; }
.padding { padding-left: 0 !important; }
.Padding { padding-right: 0 !important; }
.footerNav { margin: 20px 0; }
.footerNav ul li a { line-height: 2em; margin: 0 7px; padding: 0; }
.socialIcon { float: left; width: 100%; }
.suscribeSection { border-radius: 5px; width: 100%; }
.suscribeSection h3 { font-size: 22px; }
footer .footerLeft { width: 100%; }
.textAlign { text-align: center; }
}
 @media only screen and (min-width:768px) and (max-width:1050px) {
.mobileImg { width: 100%; }
.recImg { width: 100%; margin-bottom: 30px; float: left; text-align: center; }
.recText { width: 100%; text-align: center; }
.recText h2 { width: 100%; }
.recText ul { float: right; }
.recBtn { margin-bottom: 30px; }
.footerAbout { margin: 0 0 35px; }
footer .footerLeft { max-width: 235px; }
}


.Searchsegment-drop{
  width: 685px;
  margin-left: 0px;
  border-top: 1px solid #ccc;
}

.Reviewsegment-drop{
  width: 685px;
  margin-left: 0px;
  border-top:1px solid #CCC;
}

.Searchsegment-drop > li, .Reviewsegment-drop > li {
  background: #1e7cc8;
  border-bottom: solid 1px #ccc;
  width: 50%;
  float: left;
}


.Resourcesegment-drop ul li a, .Searchsegment-drop > li a, .Reviewsegment-drop > li a{
font-size: 14px!important;
line-height: 18px;
padding: 9px 0px 8px 10px!important;
border-right: solid 1px #ccc;
float: left;
width: 100%;
}

.dropdown-menu {
padding: 0px 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
    margin-left: -1px;
    -webkit-border-radius: 0 0px 0px 0px;
    -moz-border-radius: 0 0px 0px;
    border-radius: 0 0px 0px 0px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 0px 0 0px 0px;
    -moz-border-radius: 0px 0 0px 0px;
    border-radius: 6px 0 0px 0px;
}

.dropdown-submenu ul.dropdown-menu{
width:563px;
}

.dropdown-submenu ul.dropdown-menu li {
width: 50%;
float: left;
border-right: solid 1px #ccc;
}

.dropdown-submenu ul.dropdown-menu li:nth-child(even){border-right: solid 0px #ccc;}

.dropdown-submenu ul.dropdown-menu li a{padding: 8px  4px 8px 8px!important;}
.dropdown-submenu ul.dropdown-menu li a:hover{background: #f6a580; color:#fff;}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
text-decoration: none;
background-color: #f6a580;
color: #FFFFFF;
}

.Resourcesegment-drop{
	position: absolute;
	left: 0px;
	top: 53px;
	width: 750px;
}

.Resourcesegment-drop ul{ padding-left:0px; margin-left:0px;}

.Resourcesegment-drop ul li{
margin-left: 0px;
list-style-type: none;
width: 100%;
float: left;
border-bottom: solid 1px #ccc;
}

.Resourcesegment-drop a{ color:#fff;}
.Resourcesegment-drop .col-md-4{ padding:0px; width:45% !important;}

.dropdown-menu > li{background: #1e7cc8; border-bottom: solid 1px #ccc;}
.Resourcesegment-drop a:hover{ text-decoration:none;}
.dropdown-menu li.Accounting, .dropdown-menu li.Catering, .dropdown-menu li.Signage, .dropdown-menu li.Interior, .dropdown-menu li.Support, .dropdown-menu li.Landscaping, .dropdown-menu li.Pest, .dropdown-menu li.Accounting:hover, .dropdown-menu li.Catering:hover, .dropdown-menu li.Pest:hover, .dropdown-menu li.Signage:hover, .dropdown-menu li.Interior:hover, .dropdown-menu li.Support:hover, .dropdown-menu li.Landscaping:hover, .dropdown-menu li.Photography, .dropdown-menu li.Photography:hover, .dropdown-menu li.Offset, .dropdown-menu li.Offset:hover, .dropdown-menu li.Residential, .dropdown-menu li.Residential:hover, .dropdown-menu li.Maintenance, .dropdown-menu li.Maintenance:hover, .dropdown-menu li.Commercial, .dropdown-menu li.Commercial:hover{padding: 0px 0px 0px 30px!important; color:#fff;}

.dropdown-menu li.Accounting{background:#1e7cc8 url(../images/ac-services.png) left no-repeat;}

.dropdown-menu li.Accounting:hover{background:#f6a580 url(../images/ac-services.png) left no-repeat;}

.dropdown-menu li.Catering{background:#1e7cc8 url(../images/catering-services.png) left no-repeat;}

.dropdown-menu li.Catering:hover{background:#f6a580 url(../images/catering-services.png) left no-repeat;}

.dropdown-menu li.Signage{background:#1e7cc8 url(../images/signage-signboard.png) left no-repeat;}

.dropdown-menu li.Signage:hover{background:#f6a580 url(../images/signage-signboard.png) left no-repeat;}

.dropdown-menu li.Interior{background:#1e7cc8 url(../images/interior-design.png) left no-repeat;}

.dropdown-menu li.Interior:hover{background:#f6a580 url(../images/interior-design.png) left no-repeat;}

.dropdown-menu li.Support{background:#1e7cc8 url(../images/it-support.png) left no-repeat;}

.dropdown-menu li.Support:hover{background:#f6a580 url(../images/it-support.png) left no-repeat;}

.dropdown-menu li.Landscaping{background:#1e7cc8 url(../images/landscape.png) left no-repeat;}

.dropdown-menu li.Landscaping:hover{background:#f6a580 url(../images/landscape.png) left no-repeat;}

.dropdown-menu li.Photography{background:#1e7cc8 url(../images/photo.png) left no-repeat;}

.dropdown-menu li.Photography:hover{background:#f6a580 url(../images/photo.png) left no-repeat;}

.dropdown-menu li.Offset{background:#1e7cc8 url(../images/stationaery.png) left no-repeat;}

.dropdown-menu li.Offset:hover{background:#f6a580 url(../images/stationaery.png) left no-repeat;}

.dropdown-menu li.Maintenance{background:#1e7cc8 url(../images/working.png) left no-repeat;}

.dropdown-menu li.Maintenance:hover{background:#f6a580 url(../images/working.png) left no-repeat;}

.dropdown-menu li.Residential{background:#1e7cc8 url(../images/cleaner.png) left no-repeat;}

.dropdown-menu li.Residential:hover{background:#f6a580 url(../images/cleaner.png) left no-repeat;}

.dropdown-menu li.Commercial{background:#1e7cc8 url(../images/sweep.png) left no-repeat;}

.dropdown-menu li.Commercial:hover{background:#f6a580 url(../images/sweep.png) left no-repeat;}

.dropdown-menu li.Pest{background:#1e7cc8 url(../images/pest-icon.png) left no-repeat;}

.dropdown-menu li.Pest:hover{background:#f6a580 url(../images/pest-icon.png) left no-repeat;}



.newsletter-email{
	  margin-top: 17px;
	  background-color: #333;
	  box-shadow: 0px 0px 12px 5px #212121 inset;
	  border: none;
	  color:#eee;
	  height: 51px;
	  padding-right:98px;
	  margin-bottom: -12px;
}

.newsletter-submit{
  border: 0px;
  color: #000 !important;
  width: 33%;
  padding: 4px 2px;
  background-color: #BDBDBD !important;
  position: absolute;
  margin-top: -51px;
  float: right;
  right: 13px;
}

ul, ol{
	margin:0px !important;
}

.addr {

    background-position: 2px top;
    background-repeat: no-repeat;
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 18px;
    margin-top: 12px;
    padding-left: 32px;
    padding-top: 0;
}
.glyphicon-earphone:before {
  content: "\e182" !important;
}

























/* Desktop Layout: 768px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
.accounting_ali_change h2 {font-size: 28px;}
.landscaping_page_md {padding: 20px 0;}
.landscaping_ali_change h2 {font-size: 26px;}    
        
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.accounting_ali_change p {font-size: 15px;margin-bottom: 10px;}  
.accounting_ali_change h2 {font-size: 27px;margin-bottom: 5px;}
.interior_page_md {padding: 20px 0;}    
.interior_ali_change h2 {font-size: 25px;}   
.catering_page_md {padding: 20px 0;}  
.landscaping_page_md {padding: 25px 0;}
.landscaping_ali_change h2 {font-size: 25px;margin-bottom: 5px;}
.it_support_page_md {padding: 20px 0;} 
.it_support_ali_change h2 {font-size: 26px;}    
    
    
}
/* Mobile Layout: 320px. */
@media only screen and (min-width: 200px) and (max-width: 479px) { 
.accounting_ali_change {padding-top: 10px !important;}
.accounting_ali_change p {font-size: 15px;margin-bottom: 5px;}
.accounting_ali_change h2 {font-size: 23px;}
.bannerBtn {font-size: 14px;
padding: 13px 16px;}
.textCenter {margin: 25px 0;}  
.interior_page_md {padding: 10px 0;} 
.interior_ali_change {padding-top: 10px !important;} 
.interior_ali_change p {margin-bottom: 5px;} 
.interior_ali_change h2 {font-size: 22px;}    
.catering_page_md {padding: 20px 0;} 
.catering_ali_change {padding-top: 10px !important;}    
.catering_ali_change h2 {font-size: 22px;}    
.landscaping_page_md {padding: 10px 0;}
.landscaping_ali_change { padding-top: 10px !important;} 
.landscaping_ali_change h2 {font-size: 20px;}    
.it_support_page_md {padding: 10px 0;}   
.it_support_ali_change h2 {font-size: 20px;}   
    
    
    
    
    
    
    
    

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.accounting_ali_change p {font-size: 15px;margin-bottom: 10px;}
.accounting_ali_change h2 {font-size: 27px; margin-bottom: 5px;} 
.interior_ali_change h2 {font-size: 25px;}    
.catering_page_md {padding: 30px 0;}
.catering_ali_change h2 {font-size: 27px;margin-bottom: 5px;}    
.landscaping_page_md {padding: 20px 0;}
.landscaping_ali_change { padding-top: 40px !important;}    
.landscaping_ali_change h2 {font-size: 24px;}    
.it_support_page_md {padding: 20px 0;}
.it_support_ali_change h2 {font-size: 26px;}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    

    
}

