.ali{width: 970px;} 
/* Desktop Layout: 768px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 970px;} 
.printing_press_area_img {margin-top: 60px;}    
.printing_press_area_txt {width: 615px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;}    
.inner_business_card_area_txt {width: 675px;} 
.stationary_area_inner_text {width: 600px;}    
.promot_event_area_text {width: 670px;}   
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 970px;}
.man_child_service_img {width: 300px;}  
.man_child_service_img img {height: 250px;width: 300px;} 
.man_child_service_txt {width: 655px;} 
.man_get_court_child_one {margin-left: 215px;}
.man_child_inner_mainpress_area {margin-left: 48px;margin-right: 48px;} 
.man_icon_boot {margin-left: -104px;}
.child_handyman_txt {width: 670px;} 
.child_handyman_img {width: 280px;}
.child_man_electrical_txt {width: 595px;}
.child_plumbing_txt {width: 655px;}
.child_man_painting_txt {width: 605px;}
.child_install_txt {width: 705px;}    
/**/    
.photo_icon_boot {margin-left: 225px}    
    
    
    
    
    
    
    
    
    
    
    
        
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 700px;} 
.child_header_area {margin-left: 26px;margin-top: 26px;}    
.printing_press_area_img {margin-top: 60px;width: 250px;height: 250px;}    
.printing_press_area_txt {width: 420px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;width: 150px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.inner_business_card_area_txt {width: 440px;} 
.inner_business_card_area_img {width: 230px;}  
.stationary_area_inner_img {width: 230px;}    
.stationary_area_inner_text {width: 430px;}    
.promot_event_area_text {width: 430px;}    
.promot_event_area_img {width: 230px;}    
.printing_press_area_img img {height: 220px;width: 250px;}    
.stationary_area_inner_img img {height: 170px;width: 230px;} 
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 710px;}
.main_child_hedder {float: none;margin: 35px auto;}    
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 210px;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 180px;width: 200px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 485px;} 
.man_get_court_child_one {margin-left: 90px;}
.man_child_inner_mainpress_area {margin-left: 10px;
margin-right: 10px;
width: 200px;} 
.man_icon_boot {margin-left: -104px;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}    
/**/    
.photo_icon_boot {margin-left: 140px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 710px;} 
.cleaning_child_hedder {margin: 25px auto;width: 617px;float: none;}    
.clearing_hed_btn {width: 287px;} 
.clearing_hed_btn a { font-size: 16px;padding: 15px;}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* Mobile Layout: 320px. */
@media only screen and (min-width: 200px) and (max-width: 479px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 290px;} 
.child_header_area {height: 342px;
margin-bottom: 30px;
margin-left: 5px;
margin-top: 30px;
opacity: 1;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
width: 280px;}
.child_header_area h1 {font-size: 24px;
line-height: 28px;
padding-top: 5px;} 
.child_header_area h3 {font-size: 17px;
padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 9px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;margin: 0 auto;width: 250px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;margin: 0 auto;width: 280px;}    
.child_inner_mainpress_area {float: none;margin: 0 auto;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 280px;}    
.get_court_child_one, .get_court_child_two, .get_court_child_three {float: none;margin: 5px auto;width: 150px;} 
.corporate_area_inner h2 {padding-left: 5px;}    
.stationary_area_inner_img img {height: 160px;width: 220px;}    
.printing_press_area_img img {height: 190px;width: 220px;}    
.inner_dubai_printing_press_area h3 {font-size: 18px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 300px;}
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 310px;}
.main_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;
padding-top: 10px;}
.main_child_hedder h3 {font-size: 14px;
padding-bottom: 14px;
padding-top: 20px;}    
.main_child_hedder h4 {padding-top: 5px;}    
.main_hed_btn {margin: 1px auto 0;width: 255px;}
.main_hed_btn a {font-size: 15px;
    padding: 10px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 260px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 190px;
width: 250px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 280px;float: none; margin: 0 auto;} 
.man_get_court_child_one, .man_get_court_child_three, .man_get_court_child_two {
  float: none;
  margin: 0 auto;
}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}     
.man_get_quort_area_inner h1 {font-size: 25px;}    
.man_get_quort_btn a {font-size: 20px;} 
.man_get_quort_btn {width: 200px;} 
.man_inner_dubai_printing_press_area h3 {font-size: 20px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 300px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 360px;}      
.cleaning_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 5px;
width: 100%;}  
.cleaning_child_hedder h3 {width: 100%;}    
.cleaning_inner_mainpress_area {width: 300px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}     
.clearing_hed_btn {height: 47px;margin:0 auto 0 0;width: 251px;}
.clearing_hed_btn a {font-size: 14px;padding: 10px 13px;}    
    
    
    
    
    
    

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 430px;} 
.child_header_area {margin-bottom: 10px;margin-left: 10px;margin-top: 10px;padding-left: 5px;padding-right: 5px;padding-top: 5px;width: 410px;}
.child_header_area h1 {font-size: 35px;padding-top: 5px;} 
.child_header_area h3 {padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 85px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;
margin: 0 auto;
width: 300px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;
margin: 0 auto;
width: 400px;}    
.child_inner_mainpress_area {margin-left: 25px;margin-right: 25px;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 400px;}    
.get_court_child_one {margin-left: 0;width: 120px;}    
.get_court_child_two {width: 120px;}
.get_court_child_three {width: 120px;}    
.printing_press_area_img img {height: 275px;width: 290px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 100%; min-width:410px;}
.man_get_quort_area_inner{width:410px;}    
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 280px;}
.main_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 5px;padding-top: 10px;}
.main_child_hedder h4 {padding-top: 12px;}
.main_child_hedder h3 {font-size: 14px;padding-bottom: 20px;padding-top: 20px;}    
.main_hed_btn {margin: 10px auto 0;}
.main_hed_btn a {font-size: 18px;padding: 15px 20px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 310px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 210px;
width: 280px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {float: none;
margin: 0 auto;
min-width: 390px;
width: 90%;} 
.man_get_court_child_one {margin-left: 45px;}
.man_get_court_child_three {margin-left: 107px;
margin-right: 5px;
width: 190px;}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: auto;}
.child_man_painting_img {margin-right: auto;}     
/*Cleaning*/
.cleaning_headder_inner {width: 410px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 295px;}      
.cleaning_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 12px;}  
.cleaning_inner_mainpress_area {width: 410px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}    
.cleaning_child_hedder h3 {font-size: 14px;padding-bottom: 16px;width: 375px;}    
.clearing_hed_btn {height: 47px;margin: 0 auto 0 70px;width: 251px;}
.clearing_hed_btn a {font-size: 14px;padding: 11px 18px;}    
    
    
    
    
    
    
    
    

    
}