{% extends '::base_admin.html.twig' %}

{% block pageblock %} 
<script type="text/javascript">
    function newpass() {    
        var pass1 = document.getElementById("form_npassword").value;
		var pass2 = document.getElementById("form_rpassword").value;
        if (pass1 != pass2) {
            alert("Passwords Do not match");
            document.getElementById("form_npassword").style.border = "2px solid red";
            document.getElementById("form_rpassword").style.border = "2px solid red";
            return false;            
        }
        else {
            document.getElementById("form_npassword").style.border = "2px solid green";
            document.getElementById("form_rpassword").style.border = "2px solid green";
        }
    }
</script>
<div class="container">
<div class="page-title"><h1>Edit Admin Information</h1></div>
<div class="edit-user-block">


<div class="form_wrapper col-md-6">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}


	{{ form_start(form, {'attr': {'onsubmit':'return newpass();' }}) }}
		{{ form_errors(form) }}
<div>
   
     <div>   {{ form_errors(form.contactname) }} </div>
	<div>   {{ form_errors(form.mobilecode) }} </div>
	<div>	{{ form_errors(form.smsphone) }} </div>
	<div>   {{ form_errors(form.homecode) }} </div>
	<div>	{{ form_errors(form.homephone) }} </div>
	<div>   {{ form_errors(form.address) }} </div>
	<div>	{{ form_errors(form.bizname) }} </div>
	<div>	{{ form_errors(form.fax) }} </div>

</div>

		<div class="control-group">{{ form_label(form.username) }} : </div><div class="control"> {{ form_widget(form.username) }}</div>
		<div class="control-group">{{ form_label(form.npassword) }} : </div><div class="control"> {{ form_widget(form.npassword) }}</div>
		<div class="control-group">{{ form_label(form.rpassword) }} : </div><div class="control"> {{ form_widget(form.rpassword) }}</div>
		
</div>	
<div class="form_wrapper col-md-6">
		<div class="control-group">{{ form_label(form.bizname) }} : </div><div class="control"> {{ form_widget(form.bizname) }}</div>	
		<div class="control-group">{{ form_label(form.contactname) }} : </div><div class="control"> {{ form_widget(form.contactname) }}</div>
		<div class="control-group">{{ form_label(form.mobilecode) }}<span class="req">*</span> : </div><div class="control">{{ form_widget(form.mobilecode) }}{{ form_widget(form.smsphone) }}</div>
		<div class="control-group">{{ form_label(form.homecode) }}  <span class="req">*</span>:</div> 
		<div class="form-inline  control"> 
		<div class="form-group area-code">{{ form_widget(form.homecode) }} </div> <div class="form-group phone-no"> {{ form_widget(form.homephone) }}</div>
		<div class="control-group">{{ form_label(form.address) }} : </div><div class="control"> {{ form_widget(form.address) }}</div>
		<div class="control-group">{{ form_label(form.fax) }} : </div><div class="control">{{ form_widget(form.fax) }} </div> 
		
		<div class="sameline">{{ form_rest(form) }}</div>
		<div class="sameline"> <a class="btn btn-warning" href="{{ path('b_bids_b_bids_admin_users',{'offset':1}) }}">Cancel</a> </div>
	
</div>


</div>	
</div>
{% endblock %}
