{% extends '::base_admin.html.twig' %}


{% block pageblock %}

<script>
$(function() {
	$("#datepicker3").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024',
		onSelect: function(date){
			var selectedDate = new Date(date);
			var msecsInADay = 86400000;
			var endDate = new Date(selectedDate.getTime() + msecsInADay);

			$("#datepicker4").datepicker( "option", "minDate", endDate );
			$("#datepicker4").datepicker( "option", "maxDate", '+2y' );
		}
	});

	$("#datepicker4").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true
	});

	
});
</script>
<div class="container">

<div class="page-title"><h1>Report</h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
</div>
<div class="admin_filter">	
	{{ form_start(form) }}
		<div class="col-md-4 clear-right">{{ form_label(form.entity) }} {{ form_widget(form.entity) }}</div>
		<div class="col-md-3 clear-right" >  {{ form_label(form.fromdate) }} {{ form_widget(form.fromdate, { 'id': 'datepicker3' }) }}</div>
	    <div class="col-md-3 clear-right">{{ form_label(form.todate) }} {{ form_widget(form.todate, { 'id': 'datepicker4'  }) }} </div>
		<div class="col-md-2 top-space"> {{ form_widget(form.filter,{'label': 'Search' }) }}{{ form_rest(form) }} </div>
	{{ form(form) }}
</div>	

<div class="latest-orders">
<table>
{% if entity == 3 %}
<thead><tr><th>Subject</th><th>Description</th><th>Category</th><th>City</th><th>Email</th><th>Created Date</th></tr></thead>
{% elseif entity == 1 %}
<thead><tr><td>Order Number</td><td>Amount</td><td>Payment Type</td><td>Vendor Name</td><td>Created Date</td></tr></thead>
{% elseif entity == 2 %}
<thead><tr><td>Name</td><td>Email</td><td>Profile</td><td>Status</td><td>Created Date</td></tr></thead>
{% endif %}
	{% if entity == 3%}
		{% for e in res %}
			<tr><td>{{ e.subj|slice(0,20) }}...</td><td>{{ e.description|slice(0,20) }}...</td><td>{{ e.category }}</td><td>{{ e.city }}</td><td>{{ e.email }}</td><td>{{ e.created | date('Y-m-d h:i:s') }}</td></tr>		
		{% endfor %}
	{% elseif entity == 1%}
		{% for o in res %}
			<tr><td>{{ o.ordernumber }}</td><td>{{ o.amount }}</td><td>{{ o.payoption }}</td><td>{{ o.contactname }}</td><td>{{ o.created | date('Y-m-d h:i:s') }}</td></tr>		
		{% endfor %}
	{% elseif entity == 2%}
		{% for u in res %}
			<tr><td>{{ u.contactname }}</td><td>{{ u.email }}</td><td>{% if u.profileid == 1 %} Admin {% elseif u.profileid == 2 %} Consumer {% elseif u.profileid == 3 %} Vendor {% endif %}</td><td>{% if u.status == 1 %} Active {% elseif (u.status == 2) or (u.status == 0) %} Inactive {% elseif u.status == 3 %} Blocked {% endif %}</td><td>{{ u.created | date('Y-m-d h:i:s') }}</td></tr>		
		{% endfor %}
	
	{% endif %}
</table>

</div>
</div>



{% endblock %}
