{% extends '::base_admin.html.twig' %}

{% block pageblock %}

<div class="inner_container container">
	<div class="segment-block row">
			<div class="col-md-3"><h3>Select Segment</h3></div>
			<div class="col-md-6 segement-select">
				<form role="form">
                    <select class="form-control">
                    <option>all</option>
                    
                    </select>
                </form>
			</div>
			<div class="col-md-3 segment-add">
			 	<button class="btn btn-primary btn-block" type="button">Add New Category</button>
			</div>
	</div>
	<div class="segment-content row">
			<table class="table table-bordered">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Sub Category</th>
            <th>Price</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td><a href="#">Edit</a>/<a href="#">Delete</a></td>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
            <td><a href="#">Edit</a>/<a href="#">Delete</a></td>
          </tr>
          <tr>
            <td>Table cell</td>
            <td>Table cell</td>
            <td>Table cell</td>
			<td><a href="#">Edit</a>/<a href="#">Delete</a></td>
          </tr>
        </tbody>
      </table>
	  </div>
	
	
	</div>
</div>
{% endblock %}
