
{% extends '::base_admin.html.twig' %}

{% block pageblock %} 
<div class="container">
<div class="page-title"><h1>Edit Information</h1></div>
<div class="edit-user-block">


<div class="form_wrapper col-md-6">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}


	{{ form_start(form) }}
		{{ form_errors(form) }}
<div>
    <div>   {{ form_errors(form.review) }} </div>
	<div>	{{ form_errors(form.servicesummary) }} </div>
	<div>	{{ form_errors(form.serviceexperience) }} </div>

</div>
<div>
		<div class="control-group">{{ form_label(form.review) }} : </div><div class="control"> {{ form_widget(form.review) }}</div>
		<div class="control-group">{{ form_label(form.servicesummary) }}: </div><div class="control"> {{ form_widget(form.servicesummary) }}</div>
		<div class="control-group">{{ form_label(form.serviceexperience) }} : </div> <div class="control">{{ form_widget(form.serviceexperience) }}</div>
		 <div class="sameline">{{ form_label(form.update) }} </div><div class="control">{{ form_widget(form.update) }} </div>
		{{ form_rest(form) }}



</div>		
</div>


</div>	
</div>
{% endblock %}
