{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>Job Request Information<br>{% for e in enquiries %} Job Request Number {{ e.id }} {% endfor %}</h1></div>

<table class="col-sm-6 vendor-user gray-bg vendor-enquiries" width="100%">
    {% for enquiry in enquiries %}
    <tr><td><strong>Date Recieved</strong></td><td> {{ enquiry.created|date('Y-m-d h:i:s') }}   </td></tr>
    <tr><td width="30%"><strong>Subject</strong></td><td width="70%"> {{ enquiry.subj }} </td></tr>
    <tr><td><strong>Category</strong></td><td> {{ category }} </td></tr>
    <tr><td><strong>Sub Category</strong></td><td> {{ subCategoryString }} </td></tr>

    <tr><td><strong>City</strong></td><td>  {{ enquiry.city }} </td></tr>
    <tr><td><strong>Location</strong></td><td>	{{ enquiry.location }} </td></tr>
    <tr><td><strong>Name</strong></td><td>  {{ name2 }} </td></tr>
    <tr><td><strong>Updated Date</strong></td><td>  {{ enquiry.updated|date('Y-m-d h:i:s') }} </td></tr>
    <tr><td><strong>Email</strong></td><td> {{ email2 }} </td></tr>
    <tr><td><strong>Contact Number</strong></td><td>    {{ mobile }} </td></tr>
    <tr><td><strong>Status</strong></td><td>    {% if enquiry.status == 1 %} Active {% elseif enquiry.status == 2 %} Inactive {% elseif enquiry.status == 3 %} Blocked {% endif %}</td></tr>
    <tr><td><strong>Description</strong></td><td>   {{ enquiry.description }} </td></tr>
    <tr><td><strong>Matched vendors</strong></td><td> <a href="{{ path('b_bids_b_bids_admin_mapped_vendors', {'enquiryid' : enquiry.id }) }}" > View matched Vendors </a> </td></tr>
	<tr><td><strong>When are you looking to hire?</strong></td><td>{% if enquiry.hirePriority == 1 %} Urgent {% elseif enquiry.hirePriority == 2 %}1-3 Days{% elseif enquiry.hirePriority == 3 %}4-7 Days{% elseif enquiry.hirePriority == 4 %}7-14 Days{% elseif enquiry.hirePriority == 5 %}Just Planning{% endif %}</td> </tr>
    <!--<tr><td><strong>Vendor Response</strong></td><td> <a href="{{ path('b_bids_b_bids_admin_vendor_response', {'enquiryid' : enquiry.id }) }}"> View Vendor Response </a> </td></tr>-->

    {% endfor %}

</table>
</div>
<div class="container">
    <div class="page-title"><h1>Additional Information</h1></div>
<style type="text/css">
.tg{border-collapse:collapse;border-spacing:0;border-color:#ccc}.tg td{font-family:Arial,sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#fff}.tg th{font-family:Arial,sans-serif;font-size:14px;font-weight:400;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#ccc;color:#333;background-color:#f0f0f0}.tg .tg-4eph{background-color:#f9f9f9}
</style>
<table class="tg">
  <tr>
    <th class="tg-031e">Tag</th>
    <th class="tg-031e">Value</th>
  </tr>
  {% set rowColor = '' %}
{% for fields in formExtraFields %}
  {% if loop.index is divisible by(2) %} {% set rowColor = 'tg-4eph' %} {% else %} {% set rowColor = 'tg-031e' %} {% endif %}
  <tr>
    <td class="{{ rowColor }}">{{ fields.keyName }}</td>
    <td class="{{ rowColor }}">{{ fields.keyValue }}</td>
  </tr>
{% endfor %}
</table>
</div>


{% endblock %}
