{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script type="text/javascript">

 function deletefunc(enquiryid){
	var con = confirm('Are you sure to delete the Enquiry? The record once deleted cannot be retrived back!');
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_enquiry_delete',{'enquiryid': "ENQID"}) }}";
		var urlset = url.replace('ENQID', enquiryid);
		window.open(urlset,"_self");
		return true;
	}else{
		return false;
	}
 }
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
$("#datepicker").datepicker({
dateFormat: 'yy-mm-dd',
changeMonth: true,
minDate: new Date(),
maxDate: '+2y',
onSelect: function(date){

var selectedDate = new Date(date);
var msecsInADay = 86400000;
var endDate = new Date(selectedDate.getTime() + msecsInADay);

$("#datepicker2").datepicker( "option", "minDate", endDate );
$("#datepicker2").datepicker( "option", "maxDate", '+2y' );

}
});

$("#datepicker2").datepicker({
dateFormat: 'yy-mm-dd',
changeMonth: true
});

});


</script>
<div class="container">

<div class="page-title"><h1>ENQUIRIES</h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
</div>
<div class="row admin_filter">	
	{{ form_start(form) }}
		<div class="col-md-1" >  {{ form_label(form.category) }} </div><div class="col-md-3">{{ form_widget(form.category) }}</div>
		<div class="col-md-1" >  {{ form_label(form.fromdate) }} </div><div class="col-md-3">{{ form_widget(form.fromdate , { 'id': 'datepicker' }) }}</div>
	    <div class="col-md-1">{{ form_label(form.todate) }} </div><div class="col-md-3">{{ form_widget(form.todate, { 'id': 'datepicker2'  } ) }} </div>
		<div class="col-md-2"> {{ form_widget(form.filter,{'label': 'Search' }) }}{{ form_rest(form) }} </div>
		
		{{ form_end }}
</div>	
<div class="row">
{% if enquiries is not empty %}
<table class="vendor-enquiries">
<thead><tr><td>Subject</td><td>Description</td><td>City</td><td>Email</td><td>Created Date</td><td>Status</td><td>Action</td></tr></thead>

{% for enquiry in enquiries %}
	<tr>
		<td>{{ enquiry.subj }}</td>
		<td>{{ enquiry.description|slice(0,15) }}</td>
		<td>{{ enquiry.city }}</td>
		<td>{{ enquiry.email }}</td>
		<td>{{ enquiry.created|date('Y-m-d h:i:s') }}</td>
		<td>{% if enquiry.status == 1 %} Active {% elseif (enquiry.status == 2) or (enquiry.status == 0) %} Inactive {% elseif enquiry.status == 3 %} Blocked {% endif %}</td>
		<td><a href="{{ path('b_bids_b_bids_admin_enquiry_view',{'enquiryid': enquiry.id}) }}">View</a> | <a href="#" onclick="deletefunc('{{ enquiry.id }}')">Delete</a></td>
	{% endfor %}
</table>
</div>
<div>
<div>Now showing : {{ from }} to {{ to }} records</div>
<div>{% set Epage_count = -count//10 %} 
<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_admin_enquiries',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(Epage_count) %}

  <li><a href="{{ path('b_bids_b_bids_admin_enquiries',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}
  
  <li><a href="{{ path('b_bids_b_bids_admin_enquiries',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
</ul>
</div> 
</div>
{% else %}
<table><tr><td>No Enquiries Available</td></tr></table>
{% endif %}

{% endblock %}
