{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script type="text/javascript">

 function deletefunc(userid, username){
	var con = confirm('Are you sure to delete '+username+' ? The record once deleted cannot be retrived back');
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_user_delete',{'userid': "USERID"}) }}";
		var urlset = url.replace('USERID', userid);
			window.open(urlset,"_self");
		return true;
	}else{
		return false;
	}
 }
</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
	$("#datepicker3").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024',
		onSelect: function(date){
			var selectedDate = new Date(date);
			var msecsInADay = 86400000;
			var endDate = new Date(selectedDate.getTime() + msecsInADay);

			$("#datepicker4").datepicker( "option", "minDate", endDate );
			$("#datepicker4").datepicker( "option", "maxDate", '+2y' );
		}
	});

	$("#datepicker4").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true
	});

	var availableVendors = {{ accountList|json_encode|raw }};
    $( "#form_vendorname" ).autocomplete({
      source: availableVendors
    });
});
</script>

<div class="page-bg">	
    <div class="container inner_container admin-dashboard">
<div class="page-title"><h1>FREETRAIL LIST</h1></div>
{% if(count) %}
<div class="row text-right page-counter-history">
<div class="counter-box">Now showing : {{ from }} to {{ to }} of {{ count }} records</div></div>
{% endif %}
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	
<div class="admin_filter">	
	{{ form_start(form) }}
		
		<div class="col-md-3 side-clear" >  {{ form_label(form.vendorname) }} {{ form_widget(form.vendorname) }}</div>
		<div class="col-md-3 clear-right" >  {{ form_label(form.category) }} {{ form_widget(form.category) }}</div>
	    <div class="col-md-2 clear-right" >  {{ form_label(form.fromdate) }} {{ form_widget(form.fromdate , { 'id': 'datepicker3' }) }}</div>
	    <div class="col-md-2 clear-right">{{ form_label(form.todate) }} {{ form_widget(form.todate, { 'id': 'datepicker4'  } ) }} </div>
		<div class="col-md-2 top-space clear-right"> {{ form_widget(form.filter, {'label':'Search'}) }} </div>
		
	{{ form_rest(form) }}
</div>		
<div class="latest-orders">
<table>
<thead><tr><th>Date Recieved</th>
<th>Order No</th>
<th>Vendor Name</th>
<th>Business Name</th>
<th>Category</th>
<th>Email</th>
<th>Leads Credited</th>
<th>Leads Credited Date</th>
<th>Status</th>
<th>Expiry Date</th>
<!--<td>Action</td>-->
</tr></thead>
{% if(users is not empty) %}
	{% for user in users %}
	<tr>
	<td>{{ user.created|date('Y-m-d h:i:s') }}</td>
		<td>{% if(user.leads == 0) %}<a href="{{ path('b_bids_b_bids_admin_freetrail_edit',{'userid': user.userid}) }}"> {{ user.orderno }}</a>{% else %}{{ user.orderno }}{% endif %}</td>
		<td>{{ user.contactname }}</td>
		<td>{{ user.bizname }}</td>
		<td>{{ user.category }}</td>
		<td>{{ user.email }}</td>
		<td>{{ user.leads }}</td>
		<td>{% if (user.updated == '') %} N/A {% else %}{{ user.updated|date('Y-m-d h:i:s') }}{% endif %}</td>
		<td>{% if (user.status == 1) %} Active {% elseif (user.status == 0) %} Inactive  {% endif %}</td>
                   <td>{% if user.daysdif is empty %}  N/A {% else %}{{ user.daysdif }} {% endif %}</td>
	<!--<td><a href="{{ path('b_bids_b_bids_admin_user_edit',{'userid': user.id}) }}">Edit</a> | <a href="#" onclick="deletefunc('{{ user.id }}', '{{ user.email }}')">Delete</a></td>-->
	{% endfor %}
	{% else %}
	<tr>
	
	<td>NO Data Available</td>
	
	</tr>
	{% endif %}
</table>
</div>
</div>
{% if(count) %}

<div class="row text-right ">
	<div class="counter-box top-space">
	{% set page_count = -count//10 %} 
<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_freetrails',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(page_count) %}

  <li><a href="{{ path('b_bids_b_bids_freetrails',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}
  
  <li><a href="{{ path('b_bids_b_bids_freetrails',{'offset':-(page_count)}) }}">&raquo;</a></li>
</ul>
</div> 
</div>
{% endif %}
</div>
</div> 
{% endblock %}
