{% extends '::base_admin.html.twig' %}
{% block pageblock %}
<div class="page-bg">	
    <div class="container inner_container admin-dashboard">
		<div class="page-title"><h1>Lead Refund History</h1></div>
		<div class="row text-right page-counter-history"><div class="counter-box">Now showing : {{ from }} to {{ to }} of {{ count }} records</div></div>
		<div class="admin_filter">	
			<form name="form" method="post" action="">
				<div class="col-md-3 side-clear">{{ form_start(form) }} {{ form_widget(form.contactname, {'label' : 'Contact Name'}) }} </div><div class="col-md-1 clear-right"> {{ form_rest(form) }}</div>
			</form>
		</div>
		
		<div class="latest-orders top-spce">
			<table>
			<thead>
				<tr>
					<th>Contact Name</th>
					<th>Business Name</th>
					<th>Category</th>
					<th>Leadcount</th>
					<th>New Leadcount</th>
					<th> Leads Credited </th>
					<th>Refund Date</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for c in credits %}
				<tr>
					<td>{{ c.contactname }}</td>
					<td>{{ c.bizname }}</td>
					<td>{{ c.category }}</td>
					<td>{{ c.leadcount }}</td>
					<td>{{ c.newleadcount }}</td>
					<td>{{ c.leadcredited }}</td>
					<td>{{ c.created | date('Y-m-d') }} </td>
					<td>{% if(c.status==1) %}Approved {% else %} Disapprove {% endif %}</td>
				</tr>
				{% endfor %}
			</tbody>
			</table>
		</div>
		
	
		<div class="row text-right">
			<div class="counter-box">
				{% set page_count = -count//10 %}
				<ul class="pagination">
					<li><a href="{{ path('b_bids_b_bids_admin_lead_management', {'offset': 1}) }}"> &laquo; </a></li>
				
					{% for i in 1..-(page_count) %}
						<li><a href="{{ path('b_bids_b_bids_admin_lead_management', {'offset': i}) }}">{{ i }}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
</div>
</div>
{% endblock %}
