{% extends '::base_admin.html.twig' %}

{% block pageblock %}
{# <script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
    $.datepicker.regional[""].changeMonth = true;
    $.datepicker.regional[""].changeYear = true;
    $.datepicker.setDefaults($.datepicker.regional['']);
    $('#example').dataTable({
        "aaSorting": [[ 0, "desc" ]],
        "aaSortingFixed": [[0,'desc']],
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
        "sAjaxSource": "{{ asset('reports/orders_reports.php') }}",
        "fnServerParams": function(aoData) {
            if (aoData[30].value != '') {
                if (aoData[30].value     == "Bronze") {  aoData[30].value = 25; }
                else if (aoData[30].value == "Silver") {  aoData[30].value = 50; }
                else if (aoData[30].value == "Gold") { aoData[30].value = 100; }
                else { aoData[30].value = 250; }
            }
        }
    }).columnFilter({
        aoColumns: [{
            type: "date-range",
            sSelector: "#dateFilter",
            sRangeFormat: "<label>Date</label> {from} {to}"
        }
        , {
            sSelector: "#orderNoFilter"
        }, {
            sSelector: "#vendorFilter"
        }, {
            sSelector: "#businessFilter"
        }, {
            sSelector: "#categoryFilter"
        }, {
            type: 'select',
            sSelector: '#leadFilter',
            values : ["Bronze","Silver","Gold","Platinum"]
        }, {
            sSelector: "#paymentFilter"
        }, {
            type: 'number-range',
            sSelector: '#amountFilter',
            sRangeFormat: "<label>Amount</label> {from} {to}"
        }]
    });
});
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Vendor Orders</h1></div>

<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
    <div>{{ form(form) }}</div>
    <div class="admin_filter report-filter">
        <div class="side-clear" id="dateFilter"></div>
        <div class="clear-right" id="orderNoFilter"></div>
        <div class="col-md-2 clear-right" id="vendorFilter"></div>
        <div class="col-md-2 clear-right" id="businessFilter"></div>
        <div class="col-md-3 clear-right" id="categoryFilter"></div>
        <div class="col-md-2 side-clear  med-space" id="leadFilter"></div>
        <div class="col-md-2 clear-right  med-space" id="paymentFilter"></div>
        <div class="col-md-3 top-space  med-space" id="amountFilter"></div>
        <div class="col-md-5 clear-right action-links space">
            <span class="export-all"><a href="{{ path('b_bids_b_bids_exportall_orders') }}" class="form_submit">Export All</a></span>
            <span class="export-selected"><a href="#" class="form_submit" onclick="getSearchInputs();">Export Filtered Data</a></span>
            <span class="reset form_submit" onclick="fnResetFilters();">Reset</a></span>
        </div>
    </div>
    <div>
        <div class="latest-orders">
           <table id="example"> <thead> <tr> <th>Date Recieved</th> <th>Order Number</th> <th>Vendor Name</th> <th>Business Name</th> <th>Category</th> <th>Lead Package</th> <th>Payment Type</th> <th>Amount</th> </tr></thead> <tbody> <tr> <td colspan="8" class="dataTables_empty">Loading data from server... Please wait.</td></tr></tbody> <tfoot><tr> <th>Date Recieved</th> <th>Order Number</th> <th>Vendor Name</th> <th>Business Name</th> <th>Category</th> <th>Lead Package</th> <th>Payment Type</th> <th>Amount</th> </tr></tfoot> </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function getSearchInputs () {
        var oTable = $('#example').dataTable();
        var oSettings = oTable.fnSettings();

        var $form = document.forms["form"];
        $form.reset();
        var oForm = document.forms["form"].getElementsByTagName("input");
        var dateRange = '',amountRange = '';
        if(($('#example_range_from_0').val() != 'undefined') && ($('#example_range_from_0').val() != '')) {
            dateRange = $('#example_range_from_0').val() +'~';
            if($('#example_range_to_0').val() != 'undefined')
                dateRange += $('#example_range_to_0').val();
        }
        oForm[0].value = dateRange;
        oForm[1].value = oSettings.aoPreSearchCols[1].sSearch;
        oForm[2].value = oSettings.aoPreSearchCols[2].sSearch;
        oForm[3].value = oSettings.aoPreSearchCols[3].sSearch;
        oForm[4].value = oSettings.aoPreSearchCols[4].sSearch;
        if(oSettings.aoPreSearchCols[5].sSearch != '') {
            if (oSettings.aoPreSearchCols[5].sSearch     == "Bronze") {  oForm[5].value  = 25; }
            else if (oSettings.aoPreSearchCols[5].sSearch == "Silver") {  oForm[5].value  = 50; }
            else if (oSettings.aoPreSearchCols[5].sSearch == "Gold") { oForm[5].value = 100; }
            else { oForm[5].value = 250; }
        }
        oForm[6].value = oSettings.aoPreSearchCols[6].sSearch;

        if(($('#example_range_from_7').val() != 'undefined') && ($('#example_range_from_7').val() != '')) {
            amountRange = $('#example_range_from_7').val() +'~';
            if($('#example_range_to_7').val() != 'undefined')
                amountRange += $('#example_range_to_7').val();
        }
        oForm[7].value = amountRange;

        if((oForm[0].value =='') && (oForm[1].value =='') && (oForm[2].value =='') && (oForm[3].value =='') && (oForm[4].value =='') && (oForm[5].value =='') && (oForm[6].value =='') && (oForm[7].value ==''))
            alert('No filtered results');
        else
           $form.submit();
    }

    function fnResetFilters() {
        $("input").val("");
        $('div#leadFilter').find('select option:eq(0)').prop('selected', true);
        var table = $('#example').dataTable();
        table.fnFilterClear();
    }
</script>
{% endblock %}
