<html>
    <p>
        <b>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif"><b>Dear {{ name }},</b></span>
        </b><br/>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
            Thank you for submitting your feedback on the respective vendor.</p>
            <br/>
        </span>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
            We have now published your review and passed on your feedback to the vendor.</p>
            <br/>
        </span>
        <span>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
                To review your feedback please login to your dashboard or visit www.businessbid.ae
            </P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
                Please be assured that we will always strive to serve you better.
            </P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
                If you have any questions or need help call us on 04 42 13 777.
            </P>
            <br>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
                <br>
            BusinessBid</p>
        </span>
    </p>
</p>
</html>