{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script>
$(document).ready(function(){
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
       
        // Create stars holder
        var $span = $('<span />').width(size);
        
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

});
</script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<!--<script src="//code.jquery.com/jquery-1.10.2.js"></script>-->
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
	$("#datepicker3").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024',
		onSelect: function(date){
			var selectedDate = new Date(date);
			var msecsInADay = 86400000;
			var endDate = new Date(selectedDate.getTime() + msecsInADay);

			$("#datepicker4").datepicker( "option", "minDate", endDate );
			$("#datepicker4").datepicker( "option", "maxDate", '+2y' );
		}
	});

	$("#datepicker4").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true
	});
		
		var availableVendors = {{ accountList|json_encode|raw }};
    $( "#form_vendorname" ).autocomplete({
      source: availableVendors
    });
    
    var availablecustomers = {{ custList|json_encode|raw }};
    $( "#form_customername" ).autocomplete({
      source: availablecustomers
    });
	
});
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Reviews</h1></div>
{% if count !=0 %}
<div class="row text-right page-counter-history"><div class="counter-box">Now showing : {{ from }} to {{ to }} records</div></div>
{% endif %}
<div>
	
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
<div class="admin_filter">	
	{{ form_start(form) }}
	<div class="col-md-2 side-clear">{{ form_label(form.customername) }} {{ form_widget(form.customername) }}</div>
	<div class="col-md-2 clear-right">{{ form_label(form.vendorname) }} {{ form_widget(form.vendorname) }}</div>
	<div class="col-md-2 clear-right">{{ form_label(form.category) }} {{ form_widget(form.category) }}</div>
	<div class="col-md-2 clear-right" >{{ form_label(form.status) }} {{ form_widget(form.status) }}</div>
	<div class="col-md-med" >{{ form_label(form.fromdate) }} {{ form_widget(form.fromdate , { 'id': 'datepicker3' }) }}</div>
	<div class="col-md-med">{{ form_label(form.todate) }} {{ form_widget(form.todate, { 'id': 'datepicker4'  } ) }} </div>
	<div class="search-block top-space clear-right"> {{ form_widget(form.filter,{'label': 'Search' }) }} {{ form_rest(form) }}</div>
</div>	
<div class="latest-orders">
<table>
<thead><tr>
<th>Date Received</th>
<th>Customer Name</th>
<th>Category</th>
<th>Vendor Name</th>
<th>Business Name</th>
<th>Rating</th>
<th>Business Recommendation</th>
<th>Business Engagement</th>
<th>Review</th>
<th>Status</th>
<th>Action</th></tr></thead>
	{% for r in reviews %}
	<tr>
		<td>{{ r.created | date('Y-m-d h:i:s') }}</td>
		
		<td>{{ r.author }}</td>
		<td>{{ r.category }}</td>
		<td>{{ r.contactname }}</td>
		
		<td>{{ r.bizname }}</td>
		<td><span class="stars">{{ r.rating }}</span></td>
		<td>{{ r.businessrecomond }}</td>
		<td>{{ r.businessknow }}</td>
		<td><a href="{{ path('b_bids_b_bids_review', {'reviewid':r.id}) }}">{{ r.review|slice(0,50) }}...</a></td>
		<td>{% if r.modstatus ==1 %} Published {% elseif r.modstatus == 0 %}Not Published {% endif %}</td>
		
		<td>{% if r.modstatus !=1 %} <a href="{{ path('b_bids_b_bids_admin_publish_review', {'reviewid': r.id}) }}" onclick="return confirm('Are you sure to publish review ?')">Publish</a> {% else %} Published {% endif %}|<a href="{{ path('b_bids_b_bids_admin_review_edit',{'reviewid': r.id } ) }}">Edit</a></td>
	{% endfor %}
</table>
</div>
</div>
{% if count !=0 %}
<div class="row text-right ">
	<div class="counter-box top-space">
<div>{% set page_count = -count//10 %} 

<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_reviews',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(page_count) %}

  <li><a href="{{ path('b_bids_b_bids_reviews',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}
  
  <li><a href="{{ path('b_bids_b_bids_reviews',{'offset':-(page_count)}) }}">&raquo;</a></li>
</ul>
</div></div> 
</div>
{% else %}
<div>No Records Available</div>
{% endif %}
</div> 
</div>



{% endblock %}
