{% extends '::base_admin_new.html.twig' %}

{% block pageblock %}
<script type="text/javascript">

 function deletefunc(userid, username){
 
	
	var con = confirm('Are you sure to delete '+username+' ? The record once deleted cannot be retrived back');
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_user_delete',{'userid': "USERID"}) }}";
		var urlset = url.replace('USERID', userid);
			window.open(urlset,"_self");
			//alert(urlset);
		return true;
	}else{
		return false;
	}
 }
</script>
 
<div class="page-bg">
	<div class="container inner_container admin-dashboard">
		<div class="page-title"><h1>USERS</h1></div>
		
		<div>
			{% for flashMessage in app.session.flashbag.get('error') %}
				<div class="alert alert-danger">{{ flashMessage }}</div>
				
			{% endfor %}
			
			{% for flashMessage in app.session.flashbag.get('success') %}
				<div class="alert alert-success">{{ flashMessage }}</div>
				
			{% endfor %}
			
			{% for flashMessage in app.session.flashbag.get('message') %}
				<div class="alert alert-success">{{ flashMessage }}</div>
				
			{% endfor %}
			<div class="search_filter">
				<p id="dateFilter"></p>
				<p id="userTypeFilter"></p>
				<p id="nameFilter"></p>
				<p id="emailFilter"></p>
				<p id="contactFilter"></p>
				<p id="statusFilter"></p>
			</div>
			<div class="latest-orders">
				<table id="userlist">
					<thead><tr>
						<th>Date Created</th>
						<th>Profile</th>
						<th>Name</th>
						<th>Email</th>
						<th>Contact Number</th>
						<th>Status</th>		
						<th>Action</th>				
						<th>Updated Date</th>
						<th>Last Access Date</th>						
					</tr>
				</thead>
				<tfoot><tr>
					<th>Date Created</th>
					<th>Profile</th>
					<th>Name</th>
					<th>Email</th>
					<th>Contact Number</th>
					<th>Status</th>		
					<th>Action</th>			
					<th>Updated Date</th>
					<th>Last Access Date</th>					
				</tr>
				</tfoot>				
			</table>
			<!-- include the assets -->
			<link href="{{ asset('bundles/alidatatable/css/demo_table.css') }}" type="text/css" rel="stylesheet" />
			<link href="{{ asset('bundles/alidatatable/css/smoothness/jquery-ui-1.8.4.custom.css') }}" type="text/css" rel="stylesheet" />
			<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.js') }}"></script>
			<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
			<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.datatable.inc.js') }}"></script>
			<script type="text/javascript" src="{{ asset('bundles/alidatatable/js/jquery.dataTables.min.js') }}"></script>
			<script src="{{ asset('js/datatable/jquery.dataTables.columnFilter.min.js') }}" type="text/javascript"></script>    
			{{ datatable({ 
					'id' : 'userlist',
					'edit_route' : 'b_bids_b_bids_admin_user_edit',
					'delete_route' : 'b_bids_b_bids_admin_users_grid',
					'main_template' : 'AliDatatableBundle:Main:admin_users.html.twig',
			        'js' : {
			            'sAjaxSource' : path('b_bids_b_bids_admin_users_grid')
			        }
			    })
			}}
		</div>
	</div>
</div>
</div>
{% endblock %}
