{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/datatable/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
    $.datepicker.regional[""].changeMonth = true;
    $.datepicker.regional[""].changeYear = true;
    $.datepicker.setDefaults($.datepicker.regional['']);

    $('#example').dataTable({
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sEmptyTable": '',
            "sInfoEmpty": '',
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
        "sEmptyTable": "There are no records",
        "sAjaxSource": "{{ asset('reports/userlist.php') }}",
        "fnServerParams": function(aoData) {
            if (aoData[31].value != '') {
                aoData[31].value = (aoData[31].value == 'Active') ? 1 : 0;
            }
            if (aoData[19].value != '') {
                aoData[19].value = (aoData[19].value == 'Customer') ? 2 : 3;
            }
        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            $(nRow).children().each(function(index, td) {
            	if(index == 7){
            		if ($(td).html() == 0) {
            			$(td).css("background-color", "#FFDE00");
            		}
            	}
            })

        }
    }).columnFilter({
        aoColumns: [{
            type: "date-range",
            sSelector: "#dateFilter",
            sRangeFormat: "<label>Date</label> {from} {to}"
        }, {
            type: 'select',
            values: ["Customer", "Vendor"],
            sSelector: '#typeFilter'
        }, null, null, null, {
            type: 'select',
            values: ["Active", "Inactive"],
            sSelector: '#statusFilter'
        }, null, {
            type: 'select',
            values: ["All", "Zero"],
            sSelector: '#loginFilter'
        },null]
    });
});
</script>
<script type="text/javascript">

 function deletefunc(userid, username){


	var con = confirm('Are you sure to delete '+username+' ? The record once deleted cannot be retrived back');
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_user_delete',{'userid': "USERID"}) }}";
		var urlset = url.replace('USERID', userid);
			window.open(urlset,"_self");
			//alert(urlset);
		return true;
	}
	else
	{
		return false;
	}
 }
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Users List</h1></div>
{# {% if(count) %}
<div class="row text-right page-counter-history"><div class="counter-box">Now showing : {{ from }} to {{ to }} records</div></div>
{% endif %} #}
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

    <div class="admin_filter report-filter">
        <div class="col-md-3 side-clear" id="dateFilter"></div>
        <div class="col-md-3" id="typeFilter"></div>
        <div class="col-md-3" id="statusFilter"></div>
        <div class="col-md-3 clear-right" id="loginFilter"></div>
    </div>

{# <div class="admin_filter">
	{{ form_start(form) }}
		<div class="col-md-3 side-clear" >  {{ form_label(form.name) }} {{ form_widget(form.name) }}</div>
		<div class="col-md-3 side-right" >  {{ form_label(form.logincount) }} {{ form_widget(form.logincount) }}</div>
	    <div class="col-md-3 clear-right" >  {{ form_label(form.fromdate) }} {{ form_widget(form.fromdate , { 'id': 'datepicker3' }) }}</div>
	    <div class="col-md-3 clear-right">{{ form_label(form.todate) }} {{ form_widget(form.todate, { 'id': 'datepicker4'  }) }} </div>

		<div class="col-md-2 top-space clear-right"> {{ form_widget(form.filter, {'label':'Search'}) }} </div>
	{{ form_rest(form) }}
</div> #}
<div class="latest-orders">
<table id="example">
	<thead>
	<tr>
		<th>Date Created</th>
        <th>Profile</th>
        <th>Email</th>
        <th>Action</th>
        <th>Contact Number</th>
        <th>Status</th>
        <th>Name</th>
        <th>Login Count</th>
        <th>Last Access Date</th>
	</tr>
	</thead>
	<tbody><tr><td colspan="9" class="dataTables_empty">Loading data from server... Please wait</td></tr></tbody>
	<tfoot>
	<tr>
		<th>Date Created</th>
        <th>Profile</th>
        <th>Email</th>
        <th>Action</th>
        <th>Contact Number</th>
        <th>Status</th>
        <th>Name</th>
        <th>Login Count</th>
        <th>Last Access Date</th>
	</tr>
	</tfoot>
</table>
</div>
</div>
</div>
</div>
{% endblock %}
