{% extends '::base_admin.html.twig' %}

{% block pageblock %}
{# <script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/datatable/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $('#example').dataTable({
        "sPaginationType": "full_numbers",
        "aaSortingFixed": [[4,'asc']],
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sEmptyTable": '',
            "sInfoEmpty": '',
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
        "sEmptyTable": "There are no records",
        "sAjaxSource": "{{ asset('reports/vendor_leads_list.php') }}",
        "fnServerParams": function(aoData) {

        }
    }).columnFilter({
        aoColumns: [
                    { sSelector: "#companyNameFilter"},
                    { sSelector: "#vendorFilter"},
                    null,
                    { sSelector: "#categoryFilter", type:"select", values : {{ catArray|json_encode()|raw }} },
                    null,null
                ]
    });


    $("#btnExport").click(function() {
        $("#example").btechco_excelexport({
            containerid: "example",
            datatype: $datatype.Table
        });
    });
});
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Vendor Leads List</h1></div>

<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
<div>{{ form(form) }}</div>
<div class="admin_filter report-filter">
    <div class="col-md-3 " id="companyNameFilter"></div>
    <div class="col-md-3" id="vendorFilter"></div>
    <div class="col-md-3" id="categoryFilter"></div>{#
    <div class="col-md-2" id="emailFilter"></div>
    <div class="col-md-2 clear-right" id="contactFilter"></div>
    <div class="col-md-2 clear-right" id="statusFilter"></div> #}
    <div class="col-md-5 clear-right action-links">
    <span class="export-all"><a href="{{ path('b_bids_b_bids_exportall_leadhistory') }}" target="_blank" class="form_submit">Export All</a></span>
    <span class="export-selected"><a href="#" class="form_submit" onclick="getSearchInputs();">Export Filtered Data</a></span>
    <span class="reset"><a href="#" class="form_submit" onclick="fnResetFilters();">Reset</a></span>
    </div>
</div>

<div class="latest-orders">
<table id="example">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Vendor Name</th>
            <th>Contact Number</th>
            <th>Category</th>
            <th>Lead Count</th>
            <th>Total Leads till Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8" class="dataTables_empty">Loading data from server... Please wait</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Company Name</th>
            <th>Vendor Name</th>
            <th>Contact Number</th>
            <th>Category</th>
            <th>Lead Count</th>
            <th>Total Leads till Date</th>
        </tr>
    </tfoot>
</table>
</div>
</div>

</div>
<script type="text/javascript">
    function getSearchInputs () {
        var oTable = $('#example').dataTable();
        var oSettings = oTable.fnSettings();
        var $form = document.forms["form"];
        $form.reset();
        var oForm = document.forms["form"].getElementsByTagName("input");
        var dateRange = '';

        oForm[0].value = dateRange;
        oForm[2].value = oSettings.aoPreSearchCols[2].sSearch;
        oForm[3].value = oSettings.aoPreSearchCols[3].sSearch;
        oForm[4].value = oSettings.aoPreSearchCols[4].sSearch;
        if(oSettings.aoPreSearchCols[5].sSearch != '')
            oForm[5].value = (oSettings.aoPreSearchCols[5].sSearch == 'Active') ? 1 : 0;

        if((oForm[0].value =='~') && (oForm[2].value =='') && (oForm[3].value =='') && (oForm[4].value =='') && (oForm[5].value ==''))
            alert('No filtered results');
        else
           $form.submit();
    }

    function fnResetFilters() {
        var table = $('#example').dataTable();
        table.fnFilterClear();
        $('input').val('');
        $('div#statusFilter').find("select option:eq(0)").prop("selected",true);
    }
</script>
{% endblock %}
