{% extends '::base_admin.html.twig' %}


{% block pageblock %}
<script>
$(document).ready(function(){
  $(".cat").click(function(){
   var catid 	= $(this).attr('data-catid');
   var catname 	= $(this).attr('data-catname');
   $('#form_categoryid').val(catid);
   $('#form_category').val(catname);
  });
});
</script>

<div class="page-bg">
	<div class="container">
		<div class="page-title"><h1>User Information</h1></div>
		<div class="">
			{% for flashMessage in app.session.flashbag.get('success') %}

			<div class="alert alert-success">{{ flashMessage }}</div>

			{% endfor %}
		</div>
		<div class="dashboard-container vendor-user user-information">
			{% for user in users %}
				<div class="field-item"><label>Date Received</label><div class="field-value">{{ user.created|date('Y-m-d h:i:s') }} </div></div>
				<div class="field-item"><label>Profile</label><div class="field-value">{% if user.profileid == 1 %} Admin {% elseif user.profileid == 2 %} Consumer {% elseif user.profileid == 3 %} Vendor {% endif %} </div></div>
				<div class="field-item"><label>Name</label><div class="field-value">{{ user.contactname }} </div></div>
				<div class="field-item"><label>Email</label><div class="field-value">{{ user.email }} </div></div>
				<div class="field-item"><label>Contact Number</label><div class="field-value">{{ user.smsphone }} </div></div>
				{% if user.address is not empty %}
					<div class="field-item"><label>Address</label><div class="field-value">{{ user.address }} </div></div>
				{% endif %}
				{% if user.bizname is not empty %}
					<div class="field-item"><label>Business/Company name</label><div class="field-value">{{ user.bizname }} </div></div>
				{% endif %}
				<div class="field-item"><label>Status</label><div class="field-value"> {% if user.status == 1 %} Active {% elseif user.status == 2 %} Inactive {% elseif user.status == 3 %} Blocked {% endif %} </div></div>
				
				<div class="field-item"><label>Updated Date</label><div class="field-value">{{ user.updated|date('Y-m-d h:i:s') }} </div></div>
				<div class="field-item"><label>Last Access Date</label><div class="field-value"> {{ user.lastaccess|date('Y-m-d h:i:s') }} </div></div>
			{% endfor %}
			{% if vendorcat is not empty %}
				<div class="field-item"><label>Categories</label>
				{% for c in vendorcat %}
					<div class="cat" data-catid="{{ c.id }}" data-catname="{{ c.category }}"><div class="field-value"><a href="#" data-toggle="modal" data-target="#popup" class="category_{{ c.id ~'_'~ c.category }}">{{ c.category }}</a></div></div>
				{% endfor %}
				</div>
			{% endif %}
			<div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="myModalLabel">Leads Credit</h4>
						</div>
						
						{{ form_start(form) }}
						<div class="catgory-popup">
						<div class="col-sm-10">
						<div class="control">{{ form_label(form.credit) }} {{ form_widget(form.credit) }}</div>
						<div class="control">{{ form_widget(form.categoryid) }}</div>
						<div class="control">{{ form_widget(form.category) }}</div>
						</div>
						<div class="col-sm-2">
						{{ form_widget(form.submit) }}
						</div>
						</div>
						{{ form_end(form) }}
						
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}
