{% extends '::base_admin.html.twig' %}

{% block pageblock %}

<div class="container">
<div class="page-title"><h1>Mapped Vendors -Job request number-{{ enquiryid }}</h1>
	{% if expStatus == 2 %}<span class="cleared-status">Job is Cleared </span>
	{% elseif enquiryacceptcount == 3 %}<span class="open-status">Job Assigned </span>
	{% else %}<span class="close-status">Job is open </span>{% endif %}</div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
<table class="vendor-enquiries">
<thead><tr><td>Contact Name</td><td>Business/Company Name</td><td>Contact Number</td><td>Email</td><td>Lead Status</td></tr></thead>
	{% for mapped in mapping %}
	<tr>
		<td>{{ mapped.contactname }}</td>
		<td>{{ mapped.bizname }}</td>
		<td>{{ mapped.smsphone }}</td>
		<td>{{ mapped.email }}</td>
		<td>{% if mapped.acceptstatus == 0 %} Waiting For Response {% elseif mapped.acceptstatus == 1 %} Accepted  {% endif %}</td>

	</tr>
	{% endfor %}
</table>
</div>
</div>
{% endblock %}
