        <div class="photo_form_one_area modal1">
            <h2>Looking for Catering Services in the UAE?</h2>
            <p>Tell us a little bit about your catering requirements and receive multiple quotes in <span>3 easy steps</span>. Compare quotes and choose the best catering company.</p>
        </div>

        {{ form_start(categoryForm, {attr: {id: 'category_form'}}) }}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of softwares do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/catering_icon.png') }}" alt="catering Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>What kind of software do you required*</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in categoryForm.subcategory %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          <div class="error" id="kind_service"></div>
                      </div>
                      <div class="photo_contunue_btn proceed">
                          <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of softwares do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form eventPlaned">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/time_calander.png') }}" alt="calander Icon">
                  </div>
                  <div class="inner_photo_one_form_table software">
                      <h3>{{ form_label( categoryForm.event_planed ) }}</h3>
                      {{ form_widget( categoryForm.event_planed ,{'attr': {'class': 'event'}}) }}
                  </div>
                  <div class="error" id="event_planed"></div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/pandel_icon.png') }}" alt="pandel Icon">
                  </div>
                  <div class="inner_photo_one_form_table liveStation">
                      <h3>Would you require a Live Station?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( categoryForm.live_station.children[0] ,{'attr': {'class': 'live1'}}) }}
                                    {{ form_label( categoryForm.live_station.children[0] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( categoryForm.live_station.children[1] ,{'attr': {'class': 'live1'}}) }}
                                    {{ form_label( categoryForm.live_station.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="cat_livestation"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/alarm_icon.png') }}" alt="alarm Icon">
              </div>
              <div class="inner_photo_one_form_table mealtype">
                  <h3>What type of meal would you like?*</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( categoryForm.mealtype.children[0] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( categoryForm.mealtype.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( categoryForm.mealtype.children[2] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( categoryForm.mealtype.children[2] ) }}
                         </div>
                         <div class="child_pho_table_left_inner_text">
                             {{ form_widget( categoryForm.mealtype.children[4] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( categoryForm.mealtype.children[4] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( categoryForm.mealtype.children[1] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( categoryForm.mealtype.children[1] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( categoryForm.mealtype.children[3] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( categoryForm.mealtype.children[3] ) }}
                         </div>
                         <div class="child_pho_table_left_inner_text">
                             {{ form_widget( categoryForm.mealtype.children[5] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_widget( categoryForm.meal_other ,{'attr': {'class': 'meal'}}) }}
                              <h5>(max 30 characters)</h5>
                         </div>
                      </div>
                      <div class="error" id="cat_meal"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/beverages.png') }}" alt="beverages Icon">
              </div>
              <div class="inner_photo_one_form_table beverages">
                  <h3>Would you like beverages included?*</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( categoryForm.beverages.children[0] ,{'attr': {'class': 'beverages'}}) }}
                             {{ form_label( categoryForm.beverages.children[0] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.beverages.children[1] ,{'attr': {'class': 'beverages'}}) }}
                            {{ form_label( categoryForm.beverages.children[1] ) }}
                         </div>
                      </div>
                      <div class="error" id="cat_beverages"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/beverages.png') }}" alt="beverages Icon">
              </div>
              <div class="inner_photo_one_form_table dessert">
                  <h3>Would you like dessert included?*</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                          {{ form_widget( categoryForm.dessert.children[0] ,{'attr': {'class': 'desert'}}) }}
                          {{ form_label( categoryForm.dessert.children[0] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.dessert.children[1] ,{'attr': {'class': 'desert'}}) }}
                            {{ form_label( categoryForm.dessert.children[1] ) }}
                         </div>
                      </div>
                  <div class="error" id="cat_dessert"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/support.png') }}" alt="support Icon">
              </div>
              <div class="inner_photo_one_form_table supportStaff">
                  <h3>What type of support staff would you like?*</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.support_staff.children[0] ,{'attr': {'class': 'cat_support'}}) }}
                            {{ form_label( categoryForm.support_staff.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.support_staff.children[2] ,{'attr': {'class': 'cat_support'}}) }}
                                {{ form_label( categoryForm.support_staff.children[2] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.support_staff.children[1] ,{'attr': {'class': 'cat_support'}}) }}
                            {{ form_label( categoryForm.support_staff.children[1] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( categoryForm.support_staff_other.children[0] ,{'attr': {'class': 'cat_radsupport'}}) }}
                              {{ form_label( categoryForm.support_staff_other.children[0] ) }}
                         </div>
                      </div>
                    <div class="error" id="cat_support"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/cuisine_icon.png') }}" alt="cuisine Icon">
              </div>
              <div class="inner_photo_one_form_table cuisine">
                  <h3>What type of cuisine would you like served?*</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.cuisine.children[0] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( categoryForm.cuisine.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner_text">
                            {{ form_widget( categoryForm.cuisine.children[2] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( categoryForm.cuisine.children[2] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.cuisine.children[3] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( categoryForm.cuisine.children[3] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.cuisine.children[1] ,{'attr': {'class': 'cuisine'}}) }}
                                {{ form_label( categoryForm.cuisine.children[1] ) }}
                         </div>
                         <div class="child_pho_table_left_inner_text">
                            {{ form_widget( categoryForm.cuisine.children[4] ,{'attr': {'class': 'cuisine'}}) }}
                            {{ form_widget( categoryForm.cuisine_other ,{'attr': {'class': 'cuisine'}}) }}
                            <h5>(max 30 characters)</h5>
                         </div>
                         <div id="child-empty-box" class="child_pho_table_right_inner">
                         </div>
                      </div>
                    <div class="error" id="cat_cuisine"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/table_icon.png') }}" alt="table Icon">
              </div>
              <div class="inner_photo_one_form_table guests">
                  <h3>How many guests are you expecting?*</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.guests.children[0] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( categoryForm.guests.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.guests.children[2] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( categoryForm.guests.children[2] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( categoryForm.guests.children[4] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( categoryForm.guests.children[4] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.guests.children[1] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( categoryForm.guests.children[1] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.guests.children[3] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( categoryForm.guests.children[3] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                            {{ form_widget( categoryForm.guests.children[5] ,{'attr': {'class': 'guest'}}) }}
                                {{ form_label( categoryForm.guests.children[5] ) }}
                         </div>
                      </div>
                      <div class="error" id="cat_guests"></div>
                  </div>
              </div>
              <div class="photo_contunue_btn proceed"><a href="javascript:void(0)" id="continue2">CONTINUE</a></div>
              <div class="photo_contunue1_btn_back goback"><a href="javascript:void(0);"id="goback1">BACK</a>
              </div>
            </div>

          </div>
        </div>
        {# step 2 ends#}

        {# step 3 #}
        <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of softwares do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          {% if categoryForm.contactname is defined %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/add_man_icon.png') }}" alt="MAN Icon">
                  </div>
                  <div class="inner_photo_one_form_table1" >
                      <h3>{{ form_label( categoryForm.contactname ) }}</h3>
                          {{ form_widget( categoryForm.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.email ) }} </h3>
                     {{ form_widget( categoryForm.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/hand_shaik_icon.png') }}" alt="hand_shaik_icon Icon">
                  </div>
                  <div class="inner_photo_one_form_table2">
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_accounting_three_left">
                              {{ form_widget( categoryForm.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( categoryForm.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( categoryForm.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( categoryForm.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- ---------- For UAE ---------- -->


            <div class="photo_one_form for-uae">
              {% if categoryForm.city is defined %}
              <div class="inner_photo_one_form mask" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( categoryForm.city ) }}</h3>
                    <div class="child_pro_tabil_main mess1">
                      {{ form_widget( categoryForm.city,{'attr':{'class':'form-input'}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if categoryForm.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/area.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.location ) }}</h3>
                     {{ form_widget( categoryForm.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if categoryForm.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table1">
                        <h3>{{ form_label( categoryForm.mobilecode ) }}</h3>


                        <label style="margin-top:-15px;"><b>Area Code</b></label>
                        {{ form_widget( categoryForm.mobilecode ) }}
                        {{ form_widget( categoryForm.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table1">
                            <h3>{{ form_label( categoryForm.homecode ) }}</h3>


                             <label style="margin-top:-15px;"><b>Area Code</b></label>
                            {{ form_widget( categoryForm.homecode ) }}
                            {{ form_widget( categoryForm.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div>
                    {% endif %}
            </div>

            <!------------ For UAE ------------>
            <!------------ For International ------------>
            <div class="photo_one_form for-foreign">
              {% if categoryForm.country is defined %}
              <div class="inner_photo_one_form mask" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter your country.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.country ) }}</h3>
                     {{ form_widget( categoryForm.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.cityint ) }}</h3>
                      {{ form_widget( categoryForm.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if categoryForm.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.mobilecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( categoryForm.mobilecodeint ) }}
                      {{ form_widget( categoryForm.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.homecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( categoryForm.homecodeint ) }}
                      {{ form_widget( categoryForm.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>
            <!------------ End International ------------>

            <div class="photo_one_form" style="margib:top:-50px;">
              <div class="inner_photo_one_form">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/aed.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( categoryForm.hire ) }}</h3>
                    <div class="child_pro_tabil_main ">
                      {{ form_widget( categoryForm.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                </div>
                <div class="inner_photo_one_form_table1 ">
                    <h3>{{ form_label( categoryForm.description ) }}</h3>
                    {{ form_widget( categoryForm.description ) }}
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}
                <div class="inner_photo_one_form_table">

                  <div class="proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(categoryForm.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                   <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of softwares do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}"/></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}"/></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn">
                  <a href="javascript:void(0);" onclick="reQuote();">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn">
                  <a href="http://www.businessbid.ae" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}
        </div>    {{ form_end(categoryForm) }}