        <div class="photo_form_one_area modal1">
            <h2>Have a Landscaping or Gardening requirement in the UAE?</h2>
            <p>Tell us about your requirement and get multiple quotes from landscaping and gardening companies in the UAE. Compare quotes and hire the best contractor.</p>
        </div>

        {{ form_start(categoryForm, {attr: {id: 'category_form'}}) }}
        {# , {attr: {novalidate: 'novalidate'}} #}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/landscaping_icon.png') }}" alt="landscaping Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>What kind of Landscaping services do you require?*</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in categoryForm.subcategory %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          <div class="error" id="kind_service"></div>
                      </div>
                      <div class="photo_contunue_btn proceed">
                          <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/commercial_icon.png') }}" alt="commercial Icon">
                  </div>
                  <div class="inner_photo_one_form_table property">
                      <h3>What kind of property is the service required for?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                {{ form_widget( form.property_type.children[0] ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.property_type.children[2]  ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[2] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.property_type.children[1]  ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_label( form.property_type.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.property_type.children[3]  ,{'attr': {'class': 'kindofproperty'}}) }}
                                {{ form_widget( form.property_type_other  ,{'attr': {'class': 'kindofproperty'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="land_property"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form" style="display:none;" id="serviceListBlock">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/lawn_iocn.png') }}" alt="lawn Icon">
                  </div>
                  <div class="inner_photo_one_form_table serviceList">
                      <h3>Do you need any of the following lawn & garden services?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.service_list.children[0] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.service_list.children[2] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                {{ form_widget( form.service_list.children[4] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[4] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                {{ form_widget( form.service_list.children[6] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[6] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.service_list.children[1] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[1] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                  {{ form_widget( form.service_list.children[3] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[3] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                  {{ form_widget( form.service_list.children[5] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_label( form.service_list.children[5] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.service_list.children[7] ,{'attr': {'class': 'lawn_garden'}}) }}
                                {{ form_widget( form.service_list_other ,{'attr': {'class': 'lawn_garden'}}) }}
                                <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="land_need"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form" style="display:none;" id="landscapeServiceBlock">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/featuring_icon.png') }}" alt="featuring Icon">
                  </div>
                  <div class="inner_photo_one_form_table landscapeService">
                      <h3>Do you require any custom features installed or repaired?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.landscape_service.children[0] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.landscape_service.children[2] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.landscape_service.children[4] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[4] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.landscape_service.children[1] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[1] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.landscape_service.children[3] ,{'attr': {'class': 'land_need'}}) }}
                                {{ form_label( form.landscape_service.children[3] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.landscape_none.children[0] ,{'attr': {'class': 'land_otherneed'}}) }}
                                {{ form_label( form.landscape_none.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                              {{ form_widget( form.landscape_service.children[5] ,{'attr': {'class': 'land_need'}}) }}
                              {{ form_widget( form.landscape_other ,{'attr': {'class': 'land_need'}}) }}
                                <h5>(max 30 characters)</h5>
                             </div>
                              <div class="child_pho_table_right_inner"></div>
                          </div>
                          <div class="error" id="land_kindofprop"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form" style="display:none;" id="irrigationBlock">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/irrigation_icon.png') }}" alt="irrigation Icon">
                  </div>
                  <div class="inner_photo_one_form_table irrigation">
                      <h3>Do you need of the following irrigation services installed or repaired?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.irrigation.children[0] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                  {{ form_widget( form.irrigation.children[3] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[3] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.irrigation.children[1] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[1] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.irrigation.children[2] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_label( form.irrigation.children[2] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                  {{ form_widget( form.irrigation_none.children[0],{'attr': {'class': 'land_oirrigation'}} ) }}
                                {{ form_label( form.irrigation_none.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.irrigation.children[4] ,{'attr': {'class': 'land_irrig'}}) }}
                                {{ form_widget( form.irrigation_other ,{'attr': {'class': 'land_irrig'}}) }}
                                <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="land_irrigation"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimensionIcon.png') }}" alt="DimensionIcon Icon">
                  </div>
                  <div class="inner_photo_one_form_table dimensions">
                      <h3>What is the dimension of this project?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimensions.children[0] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[0] ) }}<sup>2</sup>
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimensions.children[2] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[2] ) }}<sup>2</sup>
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimensions.children[4] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[4] ) }}<sup>2</sup>+
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.dimensions.children[1] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[1] ) }}<sup>2</sup>
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.dimensions.children[3] ,{'attr': {'class': 'dimension'}}) }}
                                {{ form_label( form.dimensions.children[3] ) }}<sup>2</sup>
                             </div>
                             <div class="child_pho_table_right_inner">
                             </div>
                          </div>
                          <div class="error" id="land_dimension"></div>
                      </div>
                  </div>
              <div class="photo_contunue_btn proceed"><a href="javascript:void(0)" id="continue2">CONTINUE</a></div>
              <div class="photo_contunue1_btn_back goback"><a href="javascript:void(0);"id="goback1">BACK</a>
              </div>
              </div>

          </div>
        </div>
        {# step 2 ends#}

        {# step 3 #}
        <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          {% if categoryForm.contactname is defined %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/add_man_icon.png') }}" alt="MAN Icon">
                  </div>
                  <div class="inner_photo_one_form_table1" >
                      <h3>{{ form_label( categoryForm.contactname ) }}</h3>
                          {{ form_widget( categoryForm.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.email ) }} </h3>
                     {{ form_widget( categoryForm.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/hand_shaik_icon.png') }}" alt="hand_shaik_icon Icon">
                  </div>
                  <div class="inner_photo_one_form_table2">
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_accounting_three_left">
                              {{ form_widget( categoryForm.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( categoryForm.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( categoryForm.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( categoryForm.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- ---------- For UAE ---------- -->


            <div class="photo_one_form for-uae">
              {% if categoryForm.city is defined %}
              <div class="inner_photo_one_form mask" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( categoryForm.city ) }}</h3>
                    <div class="child_pro_tabil_main mess1">
                      {{ form_widget( categoryForm.city,{'attr':{'class':'form-input'}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if categoryForm.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/area.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.location ) }}</h3>
                     {{ form_widget( categoryForm.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if categoryForm.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table1">
                        <h3>{{ form_label( categoryForm.mobilecode ) }}</h3>


                        <label style="margin-top:-15px;"><b>Area Code</b></label>
                        {{ form_widget( categoryForm.mobilecode ) }}
                        {{ form_widget( categoryForm.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table1">
                            <h3>{{ form_label( categoryForm.homecode ) }}</h3>


                             <label style="margin-top:-15px;"><b>Area Code</b></label>
                            {{ form_widget( categoryForm.homecode ) }}
                            {{ form_widget( categoryForm.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div>
                    {% endif %}
            </div>

            <!------------ For UAE ------------>
            <!------------ For International ------------>
            <div class="photo_one_form for-foreign">
              {% if categoryForm.country is defined %}
              <div class="inner_photo_one_form mask" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter your country.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.country ) }}</h3>
                     {{ form_widget( categoryForm.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.cityint ) }}</h3>
                      {{ form_widget( categoryForm.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if categoryForm.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.mobilecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( categoryForm.mobilecodeint ) }}
                      {{ form_widget( categoryForm.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( categoryForm.homecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( categoryForm.homecodeint ) }}
                      {{ form_widget( categoryForm.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>
            <!------------ End International ------------>

            <div class="photo_one_form" style="margib:top:-50px;">
              <div class="inner_photo_one_form">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/aed.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( categoryForm.hire ) }}</h3>
                    <div class="child_pro_tabil_main ">
                      {{ form_widget( categoryForm.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                </div>
                <div class="inner_photo_one_form_table1 ">
                    <h3>{{ form_label( categoryForm.description ) }}</h3>
                    {{ form_widget( categoryForm.description ) }}
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}
                <div class="inner_photo_one_form_table">
                  <div class="proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(categoryForm.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                  <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>

                </div>
              </div>
          </div>
        </div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}"/></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}"/></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn">
                  <a href="javascript:void(0);" onclick="reQuote();">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn">
                  <a href="http://www.businessbid.ae" rel="canonical">CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}
        </div>    {{ form_end(categoryForm) }}