{% extends '::base.html.twig' %}
{% block title %}Easy Way To Get Beauty & Styling Quotes Here{% endblock %}
{% block noindexMeta %}<link rel="canonical" href="{{ url('b_bids_b_bids_post_by_search_inline',{'categoryid':catid }) }}" />{% endblock %}
{% block banner %}

{% endblock %}

{% block maincontent %}

<style>
    .pac-container:after{
        content:none !important;
    }
</style>
<link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
<link rel="stylesheet" href="{{ asset('css/nprogress.css') }}">
<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
<div class="cat-form">
  <div class="photo_form_one_area modal1">
    <h1>Looking for Beauty & Styling in the UAE</h1>
    <p>Have a beauty or a styling requirement for an event or occasion? Access competitive quotes from experienced service professionals in Dubai now by completing the short form below.
      <br>OR<br><br><span class="call-us">CALL (04) 4213777</span></p>
  </div>

        {{ form_start(form, {attr: {id: 'category_form'}}) }}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 1 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/Beauty-1.png') }}" alt="Hair services">
                  </div>
                  {% set oddoreven = 'even' %}
                  {% set subcategoryLength = form.subcategory|length - 1 %}
                  {% if form.subcategory|length is odd %}
                    {% set oddoreven = 'odd' %}
                  {% endif %}
                  <div class="inner_photo_one_form_table">
                      <h3>What services do you require?</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in form.subcategory %}
                            {% if child.vars.label == 'Other' %}
                              <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                                <div class="child_pho_table_left_inner_text" >
                                    {{ form_widget(child) }}
                                    {{ form_widget( form.subcategory_other  ,{'attr': {'class': 'subcategory_other'}}) }}
                                    <h5>(max 30 characters)</h5>
                                </div>
                              </div>
                            {% else %}
                              <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                                <div class="{% if oddoreven == 'even' and subcategoryLength == loop.index %}child_pho_table_left_inner_text{% else %}child_pho_table_left_inner{% endif %}" >
                                    {{ form_widget(child) }} {{ form_label(child) }}
                                </div>
                              </div>
                            {% endif %}
                          {% endfor %}
                          {% if (oddoreven == 'odd') %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner_text innertext2"></div>
                           </div>
                          {% endif %}
                          <div class="error" id="kind_service"></div>
                        </div>
                    <div class="photo_contunue_btn proceed">
                        <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                    </div>
                  </div>
              </div>
          </div>
        </div>

        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 2 of 4</p>
                    </div>
               </div>
              </div>
          </div>

        {% set oddoreven = 'even' %}
        {% set eventLength = form.event|length - 1 %}
        {% if form.event|length is odd %}
          {% set oddoreven = 'odd' %}
        {% endif %}
          <div class="photo_one_form">
          <div class="inner_photo_one_form event">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/Beauty-2a.png') }}" alt="Corporate Event">
              </div>
              <div class="inner_photo_one_form_table">
                  <h3>What event is the service required for?</h3>
                  <div class="child_pro_tabil_main">
                    {% for child in form.event %}
                      {% if child.vars.label == 'Other' %}
                        <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                          <div class="child_pho_table_left_inner_text" >
                              {{ form_widget(child) }}
                              {{ form_widget( form.event_other  ,{'attr': {'class': 'event_other'}}) }}
                              <h5>(max 30 characters)</h5>
                          </div>
                        </div>
                      {% else %}
                        <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                          <div class="{% if oddoreven == 'even' and eventLength == loop.index %}child_pho_table_left_inner_text{% else %}child_pho_table_left_inner{% endif %}" >
                              {{ form_widget(child) }} {{ form_label(child) }}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if (oddoreven == 'odd') %}
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_left_inner_text innertext2"></div>
                     </div>
                    {% endif %}
                    <div class="error" id="event"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form eventPlaned">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/scheduled.png') }}" alt="Beauty require">
                  </div>
                  <div class="inner_photo_one_form_table software">
                      <h3>What date do you require the service for?</h3>
                      {{ form_widget( form.event_planed ,{'attr': {'class': 'event'}}) }}
                  </div>
                  <div class="error" id="event_planed"></div>
              </div>
          </div>
        <div class="photo_one_form">
          <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/Beauty-2b.png') }}" alt="beauty service">
              </div>
              <div class="inner_photo_one_form_table services">
                  <h3>Is the service for?</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner_text">
                            {{ form_widget( form.service.children[0] ,{'attr': {'class': 'service'}}) }}
                            {{ form_label( form.service.children[0] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_left_inner_text">
                              {{ form_widget( form.service.children[1] ,{'attr': {'class': 'multipleServices'}}) }}
                              {{ form_widget( form.service_other ,{'attr': {'class': 'service'}}) }}
                              <h5>(max 30 characters)</h5>
                         </div>
                      </div>
                      <div class="error" id="services"></div>
                  </div>
              </div>
          </div>
        </div>
        {% set oddoreven = 'even' %}
        {% set onsiteLength = form.onsite|length - 1 %}
        {% if form.onsite|length is odd %}
          {% set oddoreven = 'odd' %}
        {% endif %}
        <div class="photo_one_form">
            <div class="inner_photo_one_form">
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/Beauty-2c.png') }}" alt="require onsite">
                </div>
                <div class="inner_photo_one_form_table onsite">
                    <h3>Do you require onsite service?</h3>
                    <div class="child_pro_tabil_main">
                      {% for child in form.onsite %}
                        <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                          <div class="{% if oddoreven == 'even' and onsiteLength == loop.index %}child_pho_table_left_inner{% else %}child_pho_table_left_inner{% endif %}" >
                              {{ form_widget(child) }} {{ form_label(child) }}
                          </div>
                        </div>
                      {% endfor %}
                      {% if (oddoreven == 'odd') and (onsiteLength != 2) %}
                        <div class="child_pho_table_right">
                           <div class="child_pho_table_left_inner_text innertext2"></div>
                       </div>
                      {% endif %}
                      <div class="error" id="onsite"></div>
                  </div>
                </div>
            </div>
        </div>
        {% set oddoreven = 'even' %}
        {% set hoursLength = form.hours|length - 1 %}
        {% if form.hours|length is odd %}
          {% set oddoreven = 'odd' %}
        {% endif %}
        <div class="photo_one_form">
          <div class="inner_photo_one_form hours">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/plan.png') }}" alt="beauty long">
              </div>
              <div class="inner_photo_one_form_table">
                  <h3>How long will the service be required for?</h3>
                  <div class="child_pro_tabil_main">
                    {% for child in form.hours %}
                      {% if child.vars.label == 'Other' %}
                        <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                          <div class="child_pho_table_left_inner_text" >
                              {{ form_widget(child) }}
                              {{ form_widget( form.hours_other  ,{'attr': {'class': 'hours_other'}}) }}
                              <h5>(max 30 characters)</h5>
                          </div>
                        </div>
                      {% else %}
                        <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                          <div class="{% if oddoreven == 'even' and hoursLength == loop.index %}child_pho_table_left_inner_text{% else %}child_pho_table_left_inner{% endif %}" >
                              {{ form_widget(child) }} {{ form_label(child) }}
                          </div>
                        </div>
                      {% endif %}
                    {% endfor %}
                    {% if (oddoreven == 'odd') and (hoursLength != 2) %}
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_left_inner_text innertext2"></div>
                     </div>
                    {% endif %}
                    <div class="error" id="hours"></div>
                </div>
                <div class="inner_photo_one_form_table">
                  <div class="proceed">
                      <a href="javascript:void(0)" id="continue2" class="button3"><button type="button">CONTINUE</button></a>
                  </div>
                  <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback1">BACK</a></div>
                </div>
              </div>
        </div>
      </div>
    </div>
      {# step 2 ends#}
      {# step 3 #}
       <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                  <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 3 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          {% if form.contactname is defined %}
          <div class="photo_form_main">
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/name.png') }}" alt="Name">
                  </div>
                  <div class="inner_photo_one_form_table" >
                      <h3>{{ form_label( form.contactname ) }}</h3>
                          {{ form_widget( form.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/email.png') }}" alt="Email">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.email ) }} </h3>
                     {{ form_widget( form.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/location.png') }}" alt="Location">
                  </div>
                  <div class="inner_photo_one_form_table res2" >
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main res21">
                          <div class="child_accounting_three_left">
                              {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>


              {% if form.city is defined %} <div class="photo_one_form for-uae ">
              <div class="inner_photo_one_form mask domcity_cont" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city icon.png') }}" alt="City Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                    <h3>{{ form_label( form.city ) }}</h3>
                    <div class="child_pro_tabil_main city_cont">
                      {{ form_widget( form.city,{'attr':{'class':''}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if form.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/location icon.png') }}" alt="Location Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.location ) }}</h3>
                     {{ form_widget( form.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if form.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/mobile icon.png') }}" alt="Mobile Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table">
                        <h3>{{ form_label( form.mobilecode ) }}</h3>


                        <label style="margin-top:-4px;"><b>Area Code</b></label>
                        {{ form_widget( form.mobilecode ) }}
                        {{ form_widget( form.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/phone icon.png') }}" alt="Phone Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table">
                            <h3>{{ form_label( form.homecode ) }}</h3>


                             <label style="margin-top:-4px;"><b>Area Code</b></label>
                            {{ form_widget( form.homecode ) }}
                            {{ form_widget( form.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div></div>
                    {% endif %}


            <div class="photo_one_form for-foreign">
              {% if form.country is defined %}
              <div class="inner_photo_one_form mask intCountry_cont" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/international icon.png') }}" alt="international Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.country ) }}</h3>
                     {{ form_widget( form.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city icon.png') }}" alt="City Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.cityint ) }}</h3>
                      {{ form_widget( form.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if form.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/mobile icon.png') }}" alt="Mobile Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.mobilecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.mobilecodeint ) }}
                      {{ form_widget( form.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/phone icon.png') }}" alt="Phone Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.homecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.homecodeint ) }}
                      {{ form_widget( form.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>

            <div class="photo_one_form" id="hireBlock">
              <div class="inner_photo_one_form hire_cont">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/looking to hire.png') }}" alt="Looking To Hire">
                  </div>
                  <div class="inner_photo_one_form_table resp1">
                    <h3>When are you looking to hire?*</h3>
                    <div class="child_pro_tabil_main  ">
                      {{ form_widget( form.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/information.png') }}" alt="Information">
                </div>
                <div class="inner_photo_one_form_table resp1">
                    <h3>Is there any other additional information you would like to provide?</h3>
                    {{ form_widget( form.description ) }}
                     <br> <h5 class="char">(max 120 characters)</h5>
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}
                <div class="inner_photo_one_form_table">
                  <div class="proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(form.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                  <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        </script></div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <p>Page 4 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}" rel="nofollow" alt="Twitter Bird"/></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}" rel="nofollow" alt="Facebook Sign" /></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn11">
                  <a href="{{ path('bizbids_vendor_search') }}">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn11">
                  <a href="{{ path('b_bids_b_bids_home_homepage') }}" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}
           {{ form_end(form) }}
</div>
</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
<script type="text/javascript">
    function scrollBox (tag) {
        $('html,body').animate({scrollTop: tag.position().top -10},'slow');
    }
    $(document).ready(function () {
        var forms = [
            '[ name="{{ form.vars.full_name }}"]'
          ];
        var validationFlag = true;
          $( forms.join(',') ).submit( function( e ){
            e.preventDefault();
            console.log("tried submitting")
            if(validationFlag) {
                postForm( $(this), function( response ){
                    if(response.hasOwnProperty('error')) {
                        alert(response.error);
                        var i = 1;
                        for (i = 1; i < 5; i++) {
                            $("div#step"+i).hide();
                        };
                        $("div#step"+response.step).show();
                    } else {
                        var form=document.createElement("form");form.setAttribute("method","post"),form.setAttribute("action",'{{ path("bizbids_job_post_sucessful") }}');var hiddenField=document.createElement("input");hiddenField.setAttribute("name","jobno"),hiddenField.setAttribute("value",response.jobNo),hiddenField.setAttribute("type","hidden"),form.appendChild(hiddenField),document.body.appendChild(form),form.submit();
                        $("#category_form")[0].reset();
                    }
                });
                ga('send', 'event', 'Button', 'Click', 'Form Sent');
            }
            return false;
          });
        function postForm( $form, callback ) {
            NProgress.start();
              $.ajax({
                type        : $form.attr( 'method' ),
                beforeSend  : function() { NProgress.inc() },
                url         : $form.attr( 'action' ),
                data        : $form.serialize(),
                success     : function(data) {
                  callback( data );
                  NProgress.done();
                },
                error : function (xhr) {
                    alert("Error occured.please try again");
                    NProgress.done();
                }
              });
        }
    })
</script>
<script type="text/javascript" src="{{ asset('js/nprogress.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/reviewsform.general.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/'~ twigFileName ~'.min.js') }}" ></script>
{% endblock %}
