        <div class="photo_form_one_area modal1">
            <h2>Need cleaning at your company or commercial facility?</h2>
            <p>Whether it is an office, warehouse, school or restaurant, fill out a simple form and get competitive quotes from multiple cleaning companies. Compare quotes and hire the best one or simply call 04 4213777.</p>
        </div>

        {{ form_start(form, {attr: {id: 'category_form'}}) }}
        {# , {attr: {novalidate: 'novalidate'}} #}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/cleaning_icon.png') }}" alt="Camara Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>What kind of service do you required*</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in form.subcategory %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          {% if form.subcategory|length is odd %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner" ></div>
                           </div>
                          {% endif %}
                          <div class="error" id="photography_service"></div>
                      </div>
                      <div class="photo_contunue_btn proceed">
                          <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                      </div>
                  </div>
              </div>
          </div>
        </div>
        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimensionIcon.png') }}" alt="Photo Icon">
                  </div>
                  <div class="inner_photo_one_form_table service">
                      <h3>What kind of property is the service required for?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.service.children[0] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.service.children[2] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.service.children[4] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[4] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.service.children[1] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[1] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.service.children[3] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_label( form.service.children[3] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.service.children[5] ,{'attr': {'class': 'service'}}) }}
                                  {{ form_widget( form.service_other  ,{'attr': {'class': 'service'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="service"></div>
                      </div>
                  </div>
              </div>
          </div>
          {# <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimensionIcon.png') }}" alt="cleaned Icon">
                  </div>
                  <div class="inner_photo_one_form_table offenCleaned">
                      <h3>How supplies do you need it cleaned?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.offen_cleaned.children[0] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_label( form.offen_cleaned.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.offen_cleaned.children[2] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_label( form.offen_cleaned.children[2] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.offen_cleaned.children[1] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_label( form.offen_cleaned.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.offen_cleaned.children[3] ,{'attr': {'class': 'offenCleaned'}}) }}
                                  {{ form_widget( form.offen_cleaned_other  ,{'attr': {'class': 'offenCleaned'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="error" id="offen_cleaned"></div>
                      </div>
                  </div>
              </div>
          </div> #}
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/equipment_icon.png') }}" alt="equipment Icon">
                  </div>
                  <div class="inner_photo_one_form_table supplies">
                      <h3>Will you provide cleaning equipment and supplies?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.supplies.children[0] ,{'attr': {'class': 'supplies'}}) }}
                                  {{ form_label( form.supplies.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.supplies.children[1] ,{'attr': {'class': 'supplies'}}) }}
                                  {{ form_label( form.supplies.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="supplies"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/during_icon.png') }}" alt="during Icon">
                  </div>
                  <div class="inner_photo_one_form_table occupied">
                      <h3>Will the property be in use during cleaning?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.occupied.children[0] ,{'attr': {'class': 'occupied'}}) }}
                                  {{ form_label( form.occupied.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.occupied.children[1] ,{'attr': {'class': 'occupied'}}) }}
                                  {{ form_label( form.occupied.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="occupied"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/spaces_icon.png') }}" alt="spaces Icon">
                  </div>
                  <div class="inner_photo_one_form_table spaces">
                      <h3>What spaces is the cleaning required for?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.spaces.children[0] ,{'attr': {'class': 'spaces'}}) }}
                                  {{ form_label( form.spaces.children[0] ) }}
                             </div>

                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.spaces.children[1] ,{'attr': {'class': 'spaces'}}) }}
                                  {{ form_label( form.spaces.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="spaces"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/require_icon.png') }}" alt="Image Icon">
                  </div>
                  <div class="inner_photo_one_form_table specific">
                      <h3>What specific services would you require?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.specific.children[0] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.specific.children[2] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.specific.children[4] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[4] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                 {{ form_widget( form.specific.children[6] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_widget( form.specific_other ,{'attr': {'class': 'specific'}}) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.specific.children[1] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[1] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.specific.children[3] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[3] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.specific.children[5] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_label( form.specific.children[5] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                             </div>
                          </div>
                          <div class="error" id="specific"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/aed.png') }}" alt="aed Icon">
                  </div>
                  <div class="inner_photo_one_form_table often">
                      <h3>How often do you need this service?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.often.children[0] ,{'attr': {'class': 'often'}}) }}
                                  {{ form_label( form.often.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                                  {{ form_widget( form.often.children[2] ,{'attr': {'class': 'specific'}}) }}
                                  {{ form_widget( form.often_other ,{'attr': {'class': 'often'}}) }}
                                  <h5>(max 30 characters)</h5>
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.often.children[1] ,{'attr': {'class': 'often'}}) }}
                                  {{ form_label( form.often.children[1] ) }}
                             </div>
                             <div class="child_pho_table_left_inner_text">
                             </div>
                          </div>
                          <div class="error" id="often"></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/dimensionIcon.png') }}" alt="DimensionIcon Icon">
                  </div>
                  <div class="inner_photo_one_form_table dimension">
                      <h3>What dimension services would you require?*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimension.children[0] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[0] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimension.children[2] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[2] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.dimension.children[4] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[4] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.dimension.children[1] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[1] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.dimension.children[3] ,{'attr': {'class': 'dimension'}}) }}
                                  {{ form_label( form.dimension.children[3] ) }}
                             </div>
                             <div class="child_pho_table_left_inner">
                             </div>
                          </div>
                          <div class="error" id="dimension"></div>
                      </div>
                       <div class="photo_contunue_btn proceed"><a href="javascript:void(0)" id="continue2">CONTINUE</a></div>
              <div class="photo_contunue1_btn_back goback"><a href="javascript:void(0);"id="goback1">BACK</a>
              </div>
                  </div>
              </div>

          </div>
        </div>
        {# step 2 ends#}

        {# step 3 #}
        <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          {% if form.contactname is defined %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/add_man_icon.png') }}" alt="MAN Icon">
                  </div>
                  <div class="inner_photo_one_form_table1" >
                      <h3>{{ form_label( form.contactname ) }}</h3>
                          {{ form_widget( form.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.email ) }} </h3>
                     {{ form_widget( form.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/hand_shaik_icon.png') }}" alt="hand_shaik_icon Icon">
                  </div>
                  <div class="inner_photo_one_form_table2">
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_accounting_three_left">
                              {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>
      <!-- ---------- For UAE ---------- -->


            <div class="photo_one_form for-uae">
              {% if form.city is defined %}
              <div class="inner_photo_one_form mask" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( form.city ) }}</h3>
                    <div class="child_pro_tabil_main mess1">
                      {{ form_widget( form.city,{'attr':{'class':'form-input'}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if form.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/area.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.location ) }}</h3>
                     {{ form_widget( form.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if form.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table1">
                        <h3>{{ form_label( form.mobilecode ) }}</h3>


                        <label style="margin-top:-15px;"><b>Area Code</b></label>
                        {{ form_widget( form.mobilecode ) }}
                        {{ form_widget( form.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table1">
                            <h3>{{ form_label( form.homecode ) }}</h3>


                             <label style="margin-top:-15px;"><b>Area Code</b></label>
                            {{ form_widget( form.homecode ) }}
                            {{ form_widget( form.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div>
                    {% endif %}
            </div>

            <!------------ For UAE ------------>
            <!------------ For International ------------>
            <div class="photo_one_form for-foreign">
              {% if form.country is defined %}
              <div class="inner_photo_one_form mask" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter your country.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.country ) }}</h3>
                     {{ form_widget( form.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.cityint ) }}</h3>
                      {{ form_widget( form.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if form.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.mobilecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.mobilecodeint ) }}
                      {{ form_widget( form.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table1">
                      <h3>{{ form_label( form.homecodeint ) }}</h3>
                     <label style="margin-top:-15px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.homecodeint ) }}
                      {{ form_widget( form.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>
            <!------------ End International ------------>

            <div class="photo_one_form" style="margib:top:-50px;">
              <div class="inner_photo_one_form">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/aed.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table1">
                    <h3>{{ form_label( form.hire ) }}</h3>
                    <div class="child_pro_tabil_main ">
                      {{ form_widget( form.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                </div>
                <div class="inner_photo_one_form_table1 ">
                    <h3>{{ form_label( form.description ) }}</h3>
                    {{ form_widget( form.description ) }}
                      <h5 class="char">(max 120 characters)</h5>
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}

                <div class="inner_photo_one_form_table">

                  <div class=" proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(form.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                   <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}" rel="nofollow" /></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}" rel="nofollow" /></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn">
                  <a href="javascript:void(0);" onclick="reQuote();">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn">
                  <a href="http://www.businessbid.ae" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}
        </div>    {{ form_end(form) }}