
  <div class="photo_form_one_area modal1">
    <h2>Looking for Event Management in the UAE</h2>
    <p>Tell us bit about your requirement and get free quotes from experienced event management companies in under a minute. Compare quote and hire the best one or simply call 04 4213777.</p>
  </div>

        {{ form_start(form, {attr: {id: 'category_form'}}) }}
        <div id="step1">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 1 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          {% set oddoreven = 'even' %}
          {% set eventLength = form.event_services|length - 1 %}
          {% if form.event_services|length is odd %}
            {% set oddoreven = 'odd' %}
          {% endif %}
          <div class="photo_one_form">
            <div class="inner_photo_one_form eventService">
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/event-mail.png') }}" alt="calander Icon">
                </div>
                <div class="inner_photo_one_form_table">
                    <h3>What event is the services required for?</h3>
                    <div class="child_pro_tabil_main">
                      {% for child in form.event_services %}
                        {% if child.vars.label == 'Other' %}
                          <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                            <div class="child_pho_table_left_inner_text" >
                                {{ form_widget(child) }}
                                {{ form_widget( form.event_other  ,{'attr': {'class': 'event_other'}}) }}
                                <h5>(max 30 characters)</h5>
                            </div>
                          </div>
                        {% else %}
                          <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                            <div class="{% if oddoreven == 'even' and eventLength == loop.index %}child_pho_table_left_inner_text{% else %}child_pho_table_left_inner{% endif %}" >
                                {{ form_widget(child) }} {{ form_label(child) }}
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                      {% if oddoreven == 'odd' %}
                        <div class="child_pho_table_right">
                           <div class="child_pho_table_left_inner_text" ></div>
                       </div>
                      {% endif %}
                      {# <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.event_services.children[0] ,{'attr': {'class': 'event_services'}}) }}
                              {{ form_label( form.event_services.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner_text">
                             {{ form_widget( form.event_services.children[2] ,{'attr': {'class': 'event_services'}}) }}
                              {{ form_label( form.event_services.children[2] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.event_services.children[1] ,{'attr': {'class': 'event_services'}}) }}
                              {{ form_label( form.event_services.children[1] ) }}
                         </div>
                         <div class="child_pho_table_left_inner_text">
                              {{ form_widget( form.event_services.children[3] ,{'attr': {'class': 'event_service'}}) }}
                              {{ form_widget( form.event_other  ,{'attr': {'class': 'event_service'}}) }}
                              <h5>(max 30 characters)</h5>
                         </div>
                      </div> #}
                      <div class="error" id="event_services"></div>
                  </div>
                </div>
          </div>
        </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/event-music.png') }}" alt="Camara Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>What services do you require?</h3>
                      <div class="child_pro_tabil_main kindofService">
                          {% for child in form.subcategory %}
                            <div class="child_pho_table_{{ cycle(['right', 'left'], loop.index) }}">
                              <div class="child_pho_table_left_inner" >
                                  {{ form_widget(child) }} {{ form_label(child) }}
                              </div>
                            </div>
                          {% endfor %}
                          {% if form.subcategory|length is odd %}
                            <div class="child_pho_table_right">
                               <div class="child_pho_table_left_inner" ></div>
                           </div>
                          {% endif %}
                          <div class="error" id="kind_service"></div>
                      </div>
                  <div class="photo_contunue_btn proceed">
                      <a href="javascript:void(0);" id="continue1">CONTINUE</a>
                  </div>
                  </div>
              </div>
          </div>
          </div>


        {# step 2 #}
        <div id="step2" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 2 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form eventPlaned">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/event-calendar.png') }}" alt="calander Icon">
                  </div>
                  <div class="inner_photo_one_form_table software">
                      <h3>What date is this event scheduled for?</h3>
                      {{ form_widget( form.event_planed ,{'attr': {'class': 'event'}}) }}
                  </div>
                  <div class="error" id="event_planed"></div>
              </div>
          </div>

          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/event-duration.png') }}" alt="pandel Icon">
                  </div>
                  <div class="inner_photo_one_form_table eventDuration">
                      <h3>Is this event duration over?</h3>
                      <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.duration.children[0] ,{'attr': {'class': 'live1'}}) }}
                                    {{ form_label( form.duration.children[0] ) }}
                             </div>
                          </div>
                          <div class="child_pho_table_right">
                             <div class="child_pho_table_right_inner ">
                                 {{ form_widget( form.duration.children[1] ,{'attr': {'class': 'live1'}}) }}
                                    {{ form_label( form.duration.children[1] ) }}
                             </div>
                          </div>
                          <div class="error" id="event_duration"></div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="photo_one_form" id="musicServicesBlock">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/event-music-services.png') }}" alt="alarm Icon">
              </div>
              <div class="inner_photo_one_form_table musicServices">
                  <h3>Which of the following Music Services do you require?</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.music_services.children[0] ,{'attr': {'class': 'musics'}}) }}
                            {{ form_label( form.music_services.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.music_services.children[2] ,{'attr': {'class': 'musics'}}) }}
                            {{ form_label( form.music_services.children[2] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.music_services.children[1] ,{'attr': {'class': 'musics'}}) }}
                            {{ form_label( form.music_services.children[1] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.music_services.children[3] ,{'attr': {'class': 'musics'}}) }}
                            {{ form_label( form.music_services.children[3] ) }}
                         </div>
                      </div>
                      <div class="error" id="music_services"></div>
                  </div>
              </div>
            </div>
          </div>
          <div class="photo_one_form" id="entertainersBlock">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/event-entertainers.png') }}" alt="alarm Icon">
              </div>
              <div class="inner_photo_one_form_table entertainers">
                  <h3>What type of Entertainers would you like?</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.entertainers.children[0] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.entertainers.children[2] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[2] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.entertainers.children[4] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[4] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.entertainers.children[6] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[6] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.entertainers.children[1] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[1] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.entertainers.children[3] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[3] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.entertainers.children[5] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[5] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.entertainers.children[7] ,{'attr': {'class': 'entertainers'}}) }}
                            {{ form_label( form.entertainers.children[7] ) }}
                         </div>
                      </div>
                      <div class="error" id="event_entertainers"></div>
                  </div>
              </div>
            </div>
          </div>

          <div class="photo_one_form" id="modelsBlock">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/event-model.png') }}" alt="alarm Icon">
              </div>
              <div class="inner_photo_one_form_table models">
                  <h3>How many Models do you require?</h3>
                  <div class="child_pro_tabil_main">
                    {% for model in form.models %}
                      <div class="child_accounting_three1_{{ cycle(['right', 'left'], loop.index) }}">
                        {{ form_widget(model,{'attr': {'class': 'model'}}) }} {{ form_label(model) }}
                      </div>
                    {% endfor %}
                    <div class="child_accounting_three1_left">
                      {{ form_widget( form.models_none.children[0] ,{'attr': {'class': 'models_noneed'}}) }}
                      {{ form_label( form.models_none.children[0] ) }}
                    </div>
                    <div class="child_accounting_three1_right innertext2">
                    </div>
                      {# <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.models.children[0] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.models.children[0] ) }}
                         </div>
                          <div class="child_pho_table_right_inner">
                             {{ form_widget( form.models.children[1] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.models.children[1] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.models.children[2] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.models.children[2] ) }}
                         </div>

                      </div>
                      <div class="child_pho_table_right">


                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.models.children[3] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.models.children[3] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( form.models_none.children[0] ,{'attr': {'class': 'models_noneed'}}) }}
                            {{ form_label( form.models_none.children[0] ) }}
                         </div>
                         <div class="child_pho_table_right_inner innertext2">
                         </div>
                      </div> #}
                      <div class="error" id="event_models"></div>
                  </div>
              </div>
            </div>
          </div>

          <div class="photo_one_form" id="hostsBlock">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/event-hosts.png') }}" alt="alarm Icon">
              </div>
              <div class="inner_photo_one_form_table hosts">
                  <h3>How many Hosts & Hostesses do you require?</h3>
                  <div class="child_pro_tabil_main">
                    {% for host in form.hosts %}
                      <div class="child_accounting_three1_{{ cycle(['right', 'left'], loop.index) }}">
                        {{ form_widget(host,{'attr': {'class': 'host'}}) }} {{ form_label(host) }}
                      </div>
                    {% endfor %}
                    <div class="child_accounting_three1_left">
                    {{ form_widget( form.hosts_none.children[0] ,{'attr': {'class': 'hosts_noneed'}}) }}
                    {{ form_label( form.hosts_none.children[0] ) }}
                    </div>
                    <div class="child_accounting_three1_right innertext2">
                    </div>
                      {# <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.hosts.children[0] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.hosts.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.hosts.children[2] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.hosts.children[2] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                            {{ form_widget( form.hosts_none.children[0] ,{'attr': {'class': 'hosts_noneed'}}) }}
                            {{ form_label( form.hosts_none.children[0] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.hosts.children[1] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.hosts.children[1] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.hosts.children[3] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.hosts.children[3] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                         </div>
                      </div> #}
                      <div class="error" id="event_host"></div>
                  </div>
              </div>
            </div>
          </div>

          <div class="photo_one_form" id="staffBlock">
            <div class="inner_photo_one_form">
              <div class="inner_photo_one_form_img">
                  <img src="{{ asset('img/event-staff.png') }}" alt="alarm Icon">
              </div>
              <div class="inner_photo_one_form_table staff">
                  <h3>How many Waiting Staff do you require?</h3>
                  <div class="child_pro_tabil_main">
                      <div class="child_pho_table_left">
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.staff.children[0] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.staff.children[0] ) }}
                         </div>
                         <div class="child_pho_table_left_inner">
                             {{ form_widget( form.staff.children[2] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.staff.children[2] ) }}
                         </div>
                      </div>
                      <div class="child_pho_table_right">
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.staff.children[1] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.staff.children[1] ) }}
                         </div>
                         <div class="child_pho_table_right_inner">
                             {{ form_widget( form.staff.children[3] ,{'attr': {'class': 'meal'}}) }}
                            {{ form_label( form.staff.children[3] ) }}
                         </div>
                      </div>
                      <div class="error" id="event_staff"></div>
                  </div>
              </div>
            </div>
          </div>

          <div class="photo_one_form">
              <div class="inner_photo_one_form">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/sound-lighting-guests.png') }}" alt="equipment Icon">
                  </div>
                  <div class="inner_photo_one_form_table guests">
                      <h3>How many guests will be attending the event?</h3>
                       <div class="child_pro_tabil_main">
                        {% for guest in form.guests %}
                          <div class="child_accounting_three1_{{ cycle(['right', 'left'], loop.index) }}">
                            {{ form_widget(guest,{'attr': {'class': 'guest'}}) }} {{ form_label(guest) }}
                          </div>
                        {% endfor %}
                      {# <div class="child_pro_tabil_main">
                          <div class="child_pho_table_left">
                             <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.guests.children[0] ,{'attr': {'class': 'arr_size'}}) }}
                                  {{ form_label( form.guests.children[0] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.guests.children[1] ,{'attr': {'class': 'arr_size'}}) }}
                                  {{ form_label( form.guests.children[1] ) }}
                             </div>
                              <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.guests.children[2] ,{'attr': {'class': 'arr_size'}}) }}
                                  {{ form_label( form.guests.children[2] ) }}
                             </div>


                          </div>
                          <div class="child_pho_table_right">


                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.guests.children[3] ,{'attr': {'class': 'arr_size'}}) }}
                                  {{ form_label( form.guests.children[3] ) }}
                             </div>
                              <div class="child_pho_table_left_inner">
                                 {{ form_widget( form.guests.children[4] ,{'attr': {'class': 'arr_size'}}) }}
                                  {{ form_label( form.guests.children[4] ) }}
                             </div>
                             <div class="child_pho_table_right_inner">
                                 {{ form_widget( form.guests.children[5] ,{'attr': {'class': 'arr_size'}}) }}
                                  {{ form_label( form.guests.children[5] ) }}
                             </div>
                          </div> #}
                          <div class="error" id="event_guests"></div>
                      </div>
                      <div class="inner_photo_one_form_table">
                        <div class="proceed">
                            <a href="javascript:void(0)" id="continue2" class="button3"><button type="button">CONTINUE</button></a>
                        </div>
                        <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback1">BACK</a></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      {# step 2 ends#}
      {# step 3 #}
        <div id="step3" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                  <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <div class="info_circel_inactive"></div>
                        <p>Page 3 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          {% if form.contactname is defined %}
          <div class="photo_form_main">
          <div class="photo_one_form">
              <div class="inner_photo_one_form name">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/add_man_icon.png') }}" alt="MAN Icon">
                  </div>
                  <div class="inner_photo_one_form_table" >
                      <h3>{{ form_label( form.contactname ) }}</h3>
                          {{ form_widget( form.contactname ,{'attr': {'class': 'form-input name'}}) }}
                      <div class="error" id="name" ></div>
                  </div>
              </div>
          </div>
          <div class="photo_one_form">
              <div class="inner_photo_one_form  email">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.email ) }} </h3>
                     {{ form_widget( form.email ,{'attr': {'class': 'form-input email_id'}}) }}
                     <div class="error" id="email" ></div>
                  </div>
              </div>
          </div>
          {% endif %}
          <div class="photo_one_form">
              <div class="inner_photo_one_form location">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/hand_shaik_icon.png') }}" alt="hand_shaik_icon Icon">
                  </div>
                  <div class="inner_photo_one_form_table res2" >
                      <h3>Select your Location*</h3>
                      <div class="child_pro_tabil_main res21">
                          <div class="child_accounting_three_left">
                              {{ form_widget( form.locationtype.children[0] ,{'attr': {'class': ' land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[0] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="child_accounting_three_right">
                             {{ form_widget( form.locationtype.children[1] ,{'attr': {'class': 'land_location'}}) }}
                                  <p>{{ form_label( form.locationtype.children[1] , null,{'label_attr': {'class': 'location-type'}}) }}</p>
                          </div>
                          <div class="error" id="location"></div>
                      </div>
                  </div>
              </div>
          </div>


              {% if form.city is defined %} <div class="photo_one_form for-uae ">
              <div class="inner_photo_one_form mask domcity_cont" id="domCity">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/city.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                    <h3>{{ form_label( form.city ) }}</h3>
                    <div class="child_pro_tabil_main city_cont">
                      {{ form_widget( form.city,{'attr':{'class':''}} ) }}
                    </div>
                  </div>
                </div>
                <div class="error" id="acc_city"></div>
              </div>
              {% endif %}
              {% if form.location is defined %}
              <div class="inner_photo_one_form mask" id="domArea">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/area.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.location ) }}</h3>
                     {{ form_widget( form.location,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_area"></div>
              </div>
              {% endif %}

              {% if form.mobilecode is defined %}
              <div class="mask" id="domContact" >
                <div class="inner_photo_one_form" style="margin-top: 40px;" id="uae_mobileno">
                    <div class="inner_photo_one_form_img">
                        <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                    </div>
                    <div id="int-country" class="inner_photo_one_form_table">
                        <h3>{{ form_label( form.mobilecode ) }}</h3>


                        <label style="margin-top:-4px;"><b>Area Code</b></label>
                        {{ form_widget( form.mobilecode ) }}
                        {{ form_widget( form.mobile,{'attr':{'class':'form-input'}}) }}

                    </div>
                    <div class="error" id="acc_mobile"></div>
                </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top: 40px;" >
                        <div class="inner_photo_one_form_img">
                            <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                        </div>
                        <div id="int-country" class="inner_photo_one_form_table">
                            <h3>{{ form_label( form.homecode ) }}</h3>


                             <label style="margin-top:-4px;"><b>Area Code</b></label>
                            {{ form_widget( form.homecode ) }}
                            {{ form_widget( form.homephone,{'attr':{'class':'form-input'}} ) }}

                        </div>
                    </div>
              </div></div>
                    {% endif %}


            <div class="photo_one_form for-foreign">
              {% if form.country is defined %}
              <div class="inner_photo_one_form mask intCountry_cont" id="intCountry">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter your country.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.country ) }}</h3>
                     {{ form_widget( form.country,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcountry"></div>
              </div>
              <div class="inner_photo_one_form mask" id="intCity" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/city.png') }}" alt="Message Icon">
                  </div>
                  <div class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.cityint ) }}</h3>
                      {{ form_widget( form.cityint,{'attr':{'class':'form-input'}} ) }}
                  </div>
                  <div class="error" id="acc_intcity"></div>
              </div>
              {% endif %}
              {% if form.mobilecodeint is defined %}
              <div class="mask" id="intContact">
                <div class="inner_photo_one_form" style="margin-top:40px;" id="int_mobileno">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter mobile.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.mobilecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.mobilecodeint ) }}
                      {{ form_widget( form.mobileint,{'attr':{'class':'form-input1'}} ) }}
                  </div>
                  <div class="error" id="acc_intmobile"></div>
              </div>
              <div class="inner_photo_one_form ph_cont" style="margin-top:40px;">
                  <div class="inner_photo_one_form_img">
                      <img src="{{ asset('img/enter phone number.png') }}" alt="Message Icon">
                  </div>
                  <div id="int-foreign" class="inner_photo_one_form_table">
                      <h3>{{ form_label( form.homecodeint ) }}</h3>
                     <label style="margin-top:-4px;"><b>Area Code &nbsp;&nbsp;&nbsp;+</b></label>
                      {{ form_widget( form.homecodeint ) }}
                      {{ form_widget( form.homephoneint,{'attr':{'class':'form-input1'}}) }}
                  </div>
              </div>
             </div>
              {% endif %}
            </div>

            <div class="photo_one_form" id="hireBlock">
              <div class="inner_photo_one_form hire_cont">
                <div class="inner_photo_one_form" style="margin-bottom: 40px;" >
                  <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/aed.png') }}" alt="looking to hire Icon">
                  </div>
                  <div class="inner_photo_one_form_table resp1">
                    <h3>When are you looking to hire?*</h3>
                    <div class="child_pro_tabil_main  ">
                      {{ form_widget( form.hire ) }}
                    </div>
                  </div>
                </div>
                <div class="inner_photo_one_form_img">
                    <img src="{{ asset('img/message_icon.png') }}" alt="Message Icon">
                </div>
                <div class="inner_photo_one_form_table resp1">
                    <h3>Is there any other additional information you would like to provide?</h3>
                    {{ form_widget( form.description ) }}
                     <br> <h5 class="char">(max 120 characters)</h5>
                </div>
                {# <div class="inner_photo_one_form_table captcha">
                  <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                  <noscript>
                  <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                  height="300" width="500" frameborder="0"></iframe><br>
                  </noscript>
                </div> #}
                <div class="inner_photo_one_form_table">
                  <div class="proceed">
                      <a href="javascript:void(0);" id="continue3" class="button3">{{ form_widget(form.postJob, {'label':'CONTINUE','attr':{'class': ''}}) }}</a>
                  </div>
                  <div class="photo_contunue_btn_back1 goback"><a href="javascript:void(0);"id="goback2">BACK</a></div>
                </div>
              </div>
          </div>
        </div>
        </script></div>
        {# step 3 ends #}
        {# Step 4 #}
        <div id="step4" style="display:none;">
          <div class="infograghy_photo_one">
              <div class="inner_infograghy_photo_one ">
              <div class="inner_child_info_photo_area_hr"></div>
                 <div class="inner_child_info_photo_area">
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>1. What sort of services do you require?</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>2. Tell us a bit more about your requirement</p>
                      </div>
                      <div class="child_infograghy_photo_one">
                          <div class="info_circel"></div>
                          <p>3. How would you like to be contacted?</p>
                      </div>
                      <div class="child_infograghy_photo_one_active">
                          <div class="info_circel_active modal3"></div>
                          <p>4. Done</p>
                      </div>
                 </div>
                 <div class="inner_child_info_photo_area mobile">
                    <div class="child_mobile_ingography">
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_inactive"></div>
                        <div class="info_circel_actived"></div>
                        <p>Page 4 of 4</p>
                    </div>
               </div>
              </div>
          </div>
          <div class="photo_one_form">
            <h3 class="thankyou-heading"><b>Thank you, you’re done!</b></h3>
              <p class="thankyou-content" id="enquiryResult">Your job request has been logged successfully and your request number is processing. The most suitable professionals will now contact you for a quote, compare them and hire the best pro!</p>
              <p class="thankyou-content">If you thought BusinessBid was useful to you, why not share the love? We’d greatly appreciate it. Like us on
              Facebook or follow us on Twitter to to keep updated on all the news and best deals.</p>
              <div class="social-icon">
                <a href="https://twitter.com/"><img src="{{ asset('img/twitter.png') }}" rel="nofollow" /></a>
                <a href="https://www.facebook.com/"><img src="{{ asset('img/facebook.png') }}" rel="nofollow" /></a>
              </div>
              <div id="thankyou-btn"  class="inner_photo_one_form">
              <div class="photo_contunue_btn11">
                  <a href="{{ path('bizbids_vendor_search') }}">LOG ANOTHER REQUEST</a>
              </div>
              <div class="photo_contunue_btn11">
                  <a href="{{ path('bizbids_vendor_search') }}" >CONTINUE TO HOMEPAGE</a>
              </div>
              </div>
          </div>
        </div>
        {# Step 4 ends#}

</div>{{ form_end(form) }}
