<div class="pop-container">
<p>BusinessBid respects the privacy of our users and has developed this Privacy Policy to demonstrate its commitment to protecting your privacy. This Privacy Policy is intended to describe for you, as an individual who is a user of www.businessbid.ae (and all websites and URL's controlled or operated by BusinessBid which link to this policy, unless otherwise specified) or our services, or otherwise provide us with information through various means the information we collect, how that information may be used, with whom it may be shared, and your choices about such uses and disclosures.</p>

<p>We encourage you to read this Privacy Policy carefully when using our website or services or transacting business with us. By using our website, you are accepting the practices described in this Privacy Policy.</p>

<p>If you have any questions about our privacy practices, please refer to the end of this Privacy Policy for information on how to contact us.</p>
<h4>Information we collect about you</h4>

<p>In General. We may collect personal information that can identify you such as your name and email address and other information that does not identify you. When you provide personal information through our website, the information may be sent to servers located in the United States and other countries around the world.</p>
<ul>
<li><strong>Information you provide</strong> We may collect and store any personal information you enter on our website or provide to us in some other manner. This includes identifying information, such as your name, address, e-mail address, telephone number, credit card information, and other personally identifiable information.</li>
<li><strong>Information from other sources</strong> We may also periodically obtain both personal and non-personal information about you from other businesses, business partners, contractors and other third parties. Examples of information that we may receive include: updated delivery and address information, purchase history, and additional demographic information.</li>
</ul>
<p>Use of cookies and other technologies to collect information. We use various technologies to collect information from your computer and about your activities on our site.</p>
<ul>
<li><strong>Information collected automatically</strong> We automatically collect information from your browser when you visit our website. This information includes your IP address, your browser type and language, access times, the content of any undeleted cookies that your browser previously accepted from us (see "Cookies" below), and the referring website address.</li>
<li><strong>Cookies</strong> When you visit our website, we may assign your computer one or more cookies, to facilitate access to our site and to personalize your online experience. Through the use of a cookie, we also may automatically collect information about your online activity on our site, such as the web pages you visit, the links you click, and the searches you conduct on our site. Most browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. If you choose to decline cookies, please note that you may not be able to sign in or use some of the interactive features offered on our website.</li>
<li><strong>Other Technologies</strong> May use standard Internet technology, such as web beacons and other similar technologies, to track your use of our site. We also may include web beacons in promotional [or other] e-mail messages or newsletters to determine whether messages have been opened and acted upon. The information we obtain in this manner enables us to customize the services we offer our website visitors to deliver targeted advertisements and to measure the overall effectiveness of our online advertising, content, programming or other activities.</li>
<li><strong>Information collected by third-parties</strong> We may allow third-parties, including our authorized service providers, advertising companies, and ad networks, to display advertisements on our site. These companies may use tracking technologies, such as cookies, to collect information about users who view or interact with their advertisements. Our website does not provide any personal information to these third parties. This information allows them to deliver targeted advertisements and gauge their effectiveness.</li>
</ul>
<h4>How we use the information we collect</h4>
<p>In general. We may use information that we collect about you to:</p>
<ul>
<li>Deliver the products and services that you have requested.</li>
<li>Manage your account and provide you with customer support.</li>
<li>Perform research and analysis about your use of, or interest in, our products, services, or content, or products, services or content offered by others.</li>
<li>Communicate with you by e-mail, postal mail, telephone and/or mobile devices or send newsletters about products or services that may be of interest to you either from us, our sister companies or other third parties.</li>
<li>Communicate with you with regard to partially completed service requests.</li>
<li>Develop and display content and advertising tailored to your interests on our site and other sites.</li>
<li>Verify your eligibility and deliver prizes in connection with contests and sweepstakes.</li>
<li>Perform background screening, which may include the use of third parties, on Service Professionals.</li>
<li>Enforce our terms and conditions.</li>
<li>Publicly-display comments, ratings and reviews and other content provided by you.</li>
<li>Manage our business.</li>
<li>Perform functions as otherwise described to you at the time of collection.</li>
</ul>
<p>Payment and Financial information. For vendors, we may use financial information or payment method to process payment for any purchases made on our website, enroll you in the discount, rebate, and other programs in which you elect to participate, to pre-qualify you for credit card and other offers that you might find of interest, to pre-qualify Service Professionals to participate in our contractor network, to protect against or identify possible fraudulent transactions, and otherwise as needed to manage our business. For consumers, we may use credit card information to process payment for any payments made on our website.</p>
<h4>Mobile Apps</h4>
<p>If you install one of our apps on your mobile device, your use of the app is subject to the applicable app license agreement.</p>
<h4>With whom we share your information</h4>

<p>We want you to understand when and with whom we may share personal or other information we have collected about you or your activities on our web site or while using our services.</p>

<p>Personal information. We do not share your personal information with others except as indicated below or when we inform you and give you an opportunity to opt out of having your personal information shared. We may share personal information with:</p>
<ul>
<li><strong>Authorized vendors: </strong> We may share your personal information with our authorized service providers that perform certain services on our behalf. These services may include fulfilling orders, processing credit card payments, delivering packages, providing customer service and marketing assistance, performing business and sales analysis, supporting our website functionality, and supporting contests, sweepstakes, surveys and other features offered through our website or performing background checks of vendors. We may also release information to collection and/or credit agencies for past due accounts. These service providers may have access to personal information needed to perform their functions but are not permitted to share or use such information for any other purposes.</li>
<li><strong>Marketing Affiliates: </strong> When you are referred to us via a third party marketing affiliate, we may share your email address, and other information that you provide, to such marketing affiliate.</li>
<li><strong>Business partners:</strong> When you make purchases, reservations or engage in promotions offered through our website or our services, we may share personal information with the businesses with which we partner to offer you those products, services, promotions, contests and/or sweepstakes. When you elect to engage in a particular merchant's offer or program, you authorize us to provide your email address and other information to that merchant.</li>
<li><strong>Vendors:</strong> We match your information and service request against our list of vendors. When you submit a service request through our website, you consent to our providing your personal information and request to the vendors we match with your request. Sharing this information with vendors allows them to contact you using the e-mail address or other contact information you provided. In addition, we have other approved contractual partners that fulfill service requests, or that utilize their own vendors to supplement our network, and we share your information with them in order to attempt to provide the services requested. If using our services pursuant to a membership with one of our partners, BusinessBid may share your service request activity information with such partner.</li>
<li><strong>Direct mail partners:</strong> From time to time we may share our postal mailing list with selected providers of goods and services that may be of interest to you.</li>
<li><strong>Other Situations:</strong> We also may disclose your information:-
<ul>
<li>In response to a subpoena or similar investigative demand, a court order, or a request for cooperation from a law enforcement or other government agency; to establish or exercise our legal rights; to defend against legal claims; or as otherwise required by law. In such cases, we may raise or waive any legal objection or right available to us.</li>
<li>When we believe disclosure is appropriate in connection with efforts to investigate, prevent, or take other action regarding illegal activity, suspected fraud or other wrongdoing; to protect and defend the rights, property or safety of our company, our users, our employees, or others; to comply with applicable law or cooperate with law enforcement; or to enforce our website terms and conditions or other agreements or policies.</li>
<li>In connection with a substantial corporate transaction, such as the sale of our business, a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.</li>
</ul>
</li>
</ul>
<p>For vendors, we may share your business contact information with third parties, including but not limited to, business name, address, telephone number, email address and name of owner or proprietor of the business.</p>

<p>Any third parties to whom we may disclose personal information may have their own privacy policies which describe how they use and disclose personal information. Those policies will govern use, handling and disclosure of your personal information once we have shared it with those third parties as described in this Privacy Policy.</p>

<p>Aggregated and non-personal information. We may share aggregated and non-personal information we collect under any of the above circumstances. We may also share it with third parties to develop and deliver targeted advertising on our websites and on websites of third parties. We may combine non-personal information we collect with additional non-personal information collected from other sources. We also may share aggregated information with third parties, including advisors, advertisers and investors, for the purpose of conducting general business analysis. For example, we may tell our advertisers the number of visitors to our website and the most popular features or services accessed. This information does not contain any personal information and may be used to develop website content and services that we hope you and other users will find of interest and to target content and advertising.</p>
<h4>How you can access your information</h4>
<p>If you have an online consumer account with us, you have the ability to review and update your personal information online by logging into your account. You can also review and update your personal information by contacting us. More information about how to contact us is provided below.</p>

<p>You can also choose to have your account disabled by contacting support@businessbid.ae After you deactivate your account, you will not be able to sign in to our website or access any of your personal information. However, you can open a new account at any time. If you deactivate your account, we may still retain certain information associated with your account for analytical purposes and recordkeeping integrity, as well as to prevent fraud, collect any fees owed, enforce our terms and conditions, take actions we deem necessary to protect the integrity of our web site or our users, or take other actions otherwise permitted by law. In addition, if certain information has already been provided to third parties as described in this Privacy Policy, retention of that information will be subject to those third parties' policies.</p>
<h4>Your choices about collection and use of your information</h4>
<ul>
<li>At any time a consumer user can choose to no longer receive commercial or promotional emails or newsletters from us by accessing your user account and opting out. You also will be given the opportunity, in any commercial e-mail that we send to you, to opt out of receiving such messages in the future. It may take up to 10 days for us to process an opt-out request. We may send you other types of transactional and relationship e-mail communications, such as service announcements, administrative notices, and surveys, without offering you the opportunity to opt out of receiving them.</li>
<li>If you prefer not to have us share your postal mailing information with these selected providers of goods and services that may be of interest to you, you can notify us at any time by emailing us at support@businessbid.ae</li>
</ul>
<h4>Blogs, bulletin boards, reviews and chat rooms</h4>
<p>We may provide areas on our websites where you can post information about yourself and others and communicate with others, as well as post reviews of products, establishments, contractors, and the like, or upload content (e.g. pictures, videos, audio files, etc.). Such postings are governed by our Terms & Conditions. In addition, such postings may appear on other websites or when searches are executed on the subject of your posting. Also, whenever you voluntarily disclose personal information on publicly-viewable web pages, that information will be publicly available and can be collected and used by others. For example, if you post your email address, you may receive unsolicited messages. We cannot control who reads your posting or what other users may do with the information you voluntarily post, so we encourage you to exercise discretion and caution with respect to your personal information. Once you have posted information, you may not be able to edit or delete such information.</p>

<h4>Children's privacy</h4>
<p>Our website is a general audience site, and we do not knowingly collect personal information from children under the age of 13.</p>
<h4>No Rights of Third Parties</h4>
<p>This Privacy Policy does not create rights enforceable by third parties or require disclosure of any personal information relating to users of the website.</p>
<h4>Changes to this Privacy Policy</h4>
<p>We will occasionally update this Privacy Policy to reflect changes in our practices and services. When we post changes to this Privacy Policy, we will revise the "last updated" date at the top of this Privacy Policy. If we make any material changes in the way we collect, use, and/or share your personal information, we will notify you by posting the updated policy on our website, with a link denoting that the policy has been updated. We recommend that you check our website from time to time to inform yourself of any changes in this Privacy Policy or any of our other policies.</p>

<h4>How to contact us</h4>
<p>If you have any questions about this Privacy Policy or our information-handling practices, or if you would like to request information about our disclosure of personal information to third parties for their direct marketing purposes, please contact us by e-mail or phone call listed under the Contact Us section of the website.</p>
<p>If we deny your request for access to, or refuse a request to correct personal information, we will explain why.</p>
<h4>Linked information:</h4>

<h5>Cookies:</h5>

<p>A cookie is a small text file that is stored on a user's computer for record keeping purposes. Cookies can be either session cookies or persistent cookies. A session cookie expires when you close your browser and is used to make it easier for you to navigate our website. A persistent cookie remains on your hard drive for an extended period of time.</p>
<p>For example, when you sign in to our website, we will record your user or member ID and the name on your user or member account in the cookie file on your computer. We also may record your password in this cookie file, if you indicated that you would like your password saved for automatic sign-in. For security purposes, we will encrypt any usernames, passwords, and other user or member account-related data that we store in such cookies. In the case of sites and services that do not use a user or member ID, the cookie will contain a unique identifier. We may allow our authorized service providers to serve cookies from our website to allow them to assist us in various activities, such as doing analysis and research on the effectiveness of our site, content and advertising.</p>

<p>You may delete or decline cookies by changing your browser settings. (Click "Help" in the toolbar of most browsers for instructions.) If you do so, some of the features and services of our website may not function properly.</p>
<h5>Web Beacons:</h5>
<p>Web beacons (also known as clear gifs, pixel tags or web bugs) are tiny graphics with a unique identifier, similar in function to cookies, and are used to track the online movements of web users or to access cookies. Unlike cookies which are stored on the user's computer hard drive, web beacons are embedded invisibly on the web pages (or in email) and are about the size of the period at the end of this sentence.</p>

<p>Web beacons may be used to deliver or communicate with cookies, to count users who have visited certain pages and to understand usage patterns. We also may receive an anonymous identification number if you come to our site from an online advertisement displayed on a third-party website.</p>
<h5>Mobile Device IDs:</h5>
<p>If you're using an app, we use mobile device IDs (the unique identifier assigned to a device by the manufacturer), instead of cookies, to recognize you. We do this to store your preferences and track your use of our apps. Unlike cookies, device IDs cannot be deleted. Ad companies use device IDs to track your use of the app, track the number of ads displayed, measure ad performance and display ads that are more relevant to you. Analytics companies use device IDs to track information about app usage. We share device IDs with service providers who power certain features, such as voice recognition.</p>
</div>