/* Fonts Style */
@font-face {
    font-family: 'proxima_novalight';
    src: url('new_fonts/proximanova-light-webfont.eot');
    src: url('new_fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-light-webfont.woff') format('woff'),
         url('new_fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('new_fonts/proximanova-bold-webfont.eot');
    src: url('new_fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-bold-webfont.woff') format('woff'),
         url('new_fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('new_fonts/proximanova-semibold-webfont.eot');
    src: url('new_fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('new_fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('new_fonts/ProximaNovaCond-Regular.eot');
  src: url('new_fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('new_fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('new_fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('new_fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('new_fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('new_fonts/ProximaNova-Extrabld.eot');
  src: url('new_fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('new_fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('new_fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('new_fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('new_fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{font-family: 'proxima_novalight', sans-serif;}
h1, h2, h3, h4, h5, h6{letter-spacing: normal; font-weight: normal;line-height: 1.4em;}
img{border: 0px solid;}
br{margin-bottom: 15px;}
/* ==========================================================================
  Business Card Style
========================================================================== */

/* */
/*Header Area Main*/
.header_area_main{
background:url("../images/bc_headder.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
height: 100%;
overflow: hidden;
width: 100%;}
.header_bg{position: relative;
width: 100%;}
.header_bg img{display: block;
height: 100%;
margin-left: auto;
margin-right: auto;
width: 100%;}
.inner_header_area{margin: 0 auto;
overflow: hidden;
position: relative;
width: 1140px;}
.child_header_area{background: #ffffff none repeat scroll 0 0;
border-radius: 5px;
height: 325px;
margin-left: 0;
margin-top: 35px;
opacity: 0.9;
overflow: hidden;
padding-left: 20px;
padding-right: 20px;
padding-top: 35px;
width: 610px;
z-index: 20;
margin-bottom: 40px;}
.child_header_area h1{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 42px;
line-height: 43px;
margin: 0;
padding-top: 10px;
text-align: center;}
.child_header_area h3{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 18px;
margin: 0;
text-align: center;
padding-top: 10px;}
.child_header_area h4{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 15px;
margin: 0;
padding-top: 10px;
text-align: center;}
.inner_header_btn{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: 'proxima_nova_rgbold';    
font-size: 20px;
margin-top: 23px;
padding: 20px 25px;
text-align: center;
text-decoration: none;
margin-left: 136px;}
.inner_header_btn:hover{background: #d4926e none repeat scroll 0 0;}



/*Printing Press Area*/
.printing_press_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_printing_press_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.printing_press_area_img{float: left;
margin-right: 25px;overflow: hidden;
width: 325px;}
.printing_press_area_img img{height: 280px;
width: 320px;}
.printing_press_area_txt{float: right;
overflow: hidden;
width: 770px;}
.printing_press_area_txt h1{color: #1e7cc8;
font-family: 'proxima_novalight';    
font-size: 25px;
margin: 0;
text-transform: uppercase;}
.printing_press_area_txt p{color: #303030;
font-family: 'proxima_novalight';    
font-size: 15px;}

/*Get Quort Area*/
.get_quort_area{background: #2f8dda none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.get_quort_area_inner{margin: 0 auto;
overflow: hidden;
width: 650px;}
.get_quort_area_inner h1{color: #ffffff;
font-family: 'proxima_nova_rgbold';    
font-size: 35px;
text-align: center;}
.get_court_child_one{float: left;
margin-left: 45px;
overflow: hidden;
text-align: center;
width: 165px;}
.get_court_child_one h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 28px;}
.get_court_child_one p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.get_court_child_two{float: left;
overflow: hidden;
text-align: center;
width: 150px;}
.get_court_child_two h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 23px;}
.get_court_child_two p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.get_court_child_three{float: left;
overflow: hidden;
text-align: center;
width: 215px;}
.get_court_child_three h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 24px;}
.get_court_child_three p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.get_quort_btn{height: 58px;
margin: 0 auto;
overflow: hidden;
padding-bottom: 10px;
padding-top: 20px;
width: 235px;}
.get_quort_btn a{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 25px;
padding:11px 22px;
text-align: center;
text-decoration: none;}
.get_quort_btn a:hover{background: #d4926e none repeat scroll 0 0;}


/*Type of Printing press service Area*/
.mainpress_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_mainpress_area{margin: 0 auto;
overflow: hidden;
text-align: center;
width: 1140px;}
.inner_mainpress_area h2{color: #2b80c6;
font-family: 'proxima_novalight';     
font-size: 25px;}
.child_inner_mainpress_area h2{}
.child_inner_mainpress_area{float: left;
margin-left: 30px;
margin-right: 30px;
margin-top: 15px;
width: 220px;}
.child_inner_mainpress_area img{height: 190px;overflow: hidden;
width: 190px;}
.child_inner_mainpress_area p{color: #303030;
font-size: 17px;}
/*BUSINESS CARDS AREA*/
.business_card_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_business_card_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.inner_business_card_area_txt{float: left;
margin-right: 20px;
width: 850px;}
.inner_business_card_area_txt h2{color: #2b80c6;
font-size: 25px;
margin: 0;
padding-top: 10px;}
.inner_business_card_area_txt p{}
.inner_business_card_area_img{float: left;overflow: hidden;
margin-top: 100px;
width: 270px;}
.inner_business_card_area_img img{height: 231px;
width: 250px;}

/*Stationary Area*/
.stationary_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.stationary_area_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.stationary_area_inner_img{float: left;overflow: hidden;
margin-right: 20px;
width: 335px;}
.stationary_area_inner_img img{height: 240px;padding-top: 60px;width: 340px;}
.stationary_area_inner_text{float: right;
width: 770px;}
.stationary_area_inner_text h2, .promot_event_area_text h2{color: #2b80c6;
font-size: 25px;
margin: 0;
padding-top: 15px;}
.stationary_area_inner_text p, .promot_event_area_text p{color: #303030;
font-size: 15px;}

/*EVENT PROMOTION PRINTING Area*/

.promot_event_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_promot_event_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.promot_event_area_text{float: left;
margin-right: 20px;
width: 840px;}
.promot_event_area_text h2{}
.promot_event_area_text p{}
.promot_event_area_img{float: right;overflow: hidden;
width: 270px;
margin-top: 70px;}
.promot_event_area_img img{height: 335px;
width: 270px;}

/*CORPORATE MARKETING PRINTING Area*/
.corporate_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.corporate_area_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.corporate_area_inner h2{color: #2b80c6;
font-size: 25px;
padding-left: 260px;}
.corporate_area_inner p{color: #303030;
font-size: 15px;}
.corporate_area_inner img{float: left;
height: 165px;
margin-bottom: 20px;
margin-right: 20px;
width: 240px;}

/*Dubai Printing Area*/
.dubai_printing_press_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_dubai_printing_press_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.inner_dubai_printing_press_area h3{color: #2b80c6;
font-size: 25px;
text-align: center;}
.printing_dubai_btn{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
height: 66px;
margin: 0 auto;
text-align: center;
width: 233px;}
.printing_dubai_btn a{color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 20px;
padding: 20px 25px;
text-decoration: none;}
.printing_dubai_btn:hover{background: #d4926e none repeat scroll 0 0;}




/* ==========================================================================
  Maintenance Page Style
========================================================================== */

/*Maintenance Headder Area*/
.cleaning_headder_area{background: #000000 url("../images/cleaning_bd.png") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.photo_headder_area{background: #000000 url("../images/photo_bg.png") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}

.man_headder_area{background: #000000 url("../images/maitain_bg.png") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.man_headder_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.main_child_hedder{background: #ffffff none repeat scroll 0 0;
border-radius: 5px;
height: 310px;
margin-bottom: 35px;
margin-top: 35px;
opacity: 0.9;
padding: 25px;
text-align: center;
width: 600px;}
.main_child_hedder h1{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 36px;
line-height: 44px;
margin: 0;
padding-bottom: 10px;}
.main_child_hedder h3{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 18px;
margin: 0;
padding-bottom: 5px;
padding-top: 13px;}
.main_child_hedder h4{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 15px;
margin: 0;
padding-bottom: 10px;}
.main_hed_btn{

color: #ffffff;
height: 66px;
margin: 30px auto 0;
text-align: center;
width: 315px;}
.main_hed_btn a{background: #eba883 none repeat scroll 0 0;border-radius: 5px;color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 20px;
padding: 10px 25px;
text-decoration: none;}
.main_hed_btn a:hover{background: #d4926e none repeat scroll 0 0;}

/*Maintenance Service Area*/
.man_service_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_inner_service{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.man_child_service_img{float: left;
margin-right: 10px;
margin-top: 50px;
overflow: hidden;    
width: 350px;}
.man_child_service_img img{width: 345px;
height: 310px;}
.man_child_service_txt{float: right;
overflow: hidden;
width: 770px;}
.man_child_service_txt h2{color: #1e7cc8;
font-size: 25px;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
.man_child_service_txt p{color: #303030;
font-size: 15px;}

/*Maintenance Step Area here*/
.man_get_quort_area{background: #2f8dda none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_get_quort_area_inner{margin: 0 auto;
overflow: hidden;
width: 730px;}
.man_get_quort_area_inner h1{color: #ffffff;
font-family: 'proxima_nova_rgbold';    
font-size: 35px;
text-align: center;}
.man_get_court_child_one{float: left;
margin-left: 110px;
overflow: hidden;
text-align: center;
width: 165px;}
.man_get_court_child_one h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 28px;}
.man_get_court_child_one p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.man_get_court_child_two{float: left;
overflow: hidden;
text-align: center;
width: 150px;}
.man_get_court_child_two h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 23px;}
.man_get_court_child_two p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.man_get_court_child_three{float: left;
overflow: hidden;
text-align: center;
width: 215px;}
.man_get_court_child_three h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 24px;}
.man_get_court_child_three p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.man_get_quort_btn{height: 100px;
margin: 0 auto;
overflow: hidden;
padding-bottom: 10px;
padding-top: 20px;
width: 235px;}
.man_get_quort_btn a{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 25px;
padding:11px 22px;
text-align: center;
text-decoration: none;}
.man_get_quort_btn a:hover{background: #d4926e none repeat scroll 0 0;}

/*Mantenance Printing press service Area*/
.man_mainpress_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_inner_mainpress_area{margin: 0 auto;
overflow: hidden;
text-align: center;
width: 1140px;}
.man_inner_mainpress_area h2{color: #2b80c6;
font-family: 'proxima_novalight';     
font-size: 25px;}
.man_child_inner_mainpress_area h2{}
.man_child_inner_mainpress_area{float: left;
margin-left: 80px;
margin-right: 80px;
margin-top: 15px;
width: 220px;}
.man_child_inner_mainpress_area img{height: 190px;overflow: hidden;
width: 190px;}
.man_child_inner_mainpress_area p{color: #303030;
font-size: 17px;}
.man_icon_boot{margin-left: -85px;}

/*Mantenance Handyman Area*/
.man_handyman_service_arae{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_handyman_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_handyman_txt{float: left;
margin-right: 10px;
overflow: hidden;
width: 805px;}
.child_handyman_txt h2, .child_man_electrical_txt h2, .child_man_painting_txt h2{color: #2b80c6;
font-size: 25px;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
.child_handyman_txt p, .child_man_electrical_txt p, .child_man_painting_txt p{color: #303030;
font-size: 15px;}
.child_handyman_img{float: right;
margin-top: 116px;
width: 300px;}
.child_handyman_img img{height: 200px;
width: 275px;}

/*Mantenance Electrical Area*/
.man_electrical_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_man_electrical{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_man_electrical_img{float: left;
margin-right: 20px;
margin-top: 40px;
width: 350px;}
.child_man_electrical_img img{width: 295px;
height: 320px;}
.child_man_electrical_txt{float: right;
overflow: hidden;
width: 740px;}
.child_man_electrical_txt h2{}
.child_man_electrical_txt p{}
/*Mantenance Plumbing Area*/
.man_plumbing_service_arae{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_plumbing_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_plumbing_txt{float: left;
margin-right: 10px;
overflow: hidden;
width: 805px;}
.child_plumbing_txt h2{color: #2b80c6;
font-size: 25px;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
.child_plumbing_txt p{color: #303030;
font-size: 15px;}
.child_plumbing_img{float: right;
margin-top: 116px;
width: 300px;}
.child_plumbing_img img{height: 210px;
width: 260px;}
/*Mantenance Painting Area*/
.man_painting_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_man_painting{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_man_painting_img{float: left;
margin-right: 20px;
margin-top: 85px;
width: 340px;}
.child_man_painting_img img{width: 340px;
height: 240px;}
.child_man_painting_txt{float: right;
overflow: hidden;
width: 775px;}
.child_man_painting_txt h2{}
.child_man_painting_txt p{}
/*Mantenance install Area*/
.man_install_service_arae{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_install_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_install_txt{float: left;
margin-right: 10px;
overflow: hidden;
width: 860px;}
.child_install_txt h2{color: #2b80c6;
font-size: 25px;
margin: 0;
padding-top: 20px;
text-transform: uppercase;}
.child_install_txt p{color: #303030;
font-size: 15px;}
.child_install_img{float: right;
margin-top: 100px;
width: 250px;}
.child_install_img img{height: 228px;
width: 252px;}

/*Mantenance Dubai printing Area*/
.man_dubai_printing_press_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_inner_dubai_printing_press_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.man_inner_dubai_printing_press_area h3{color: #2b80c6;
font-size: 25px;
text-align: center;}
.man_printing_dubai_btn{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
height: 66px;
margin: 0 auto;
text-align: center;
width: 233px;}
.man_printing_dubai_btn a{color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 20px;
padding: 20px 25px;
text-decoration: none;}
.man_printing_dubai_btn:hover{background: #d4926e none repeat scroll 0 0;}
.man_child_printing_press_text{ width: 90%;margin: 0 auto;}
/**/
.photo_icon_boot{margin-left: 290px}
.child_man_corporate_img img {
  height: 265px;
  width: 335px;
}


/* ==========================================================================
  Cleaning Page Style
========================================================================== */
.cleaning_headder_area{background: #000000 url("../images/cleaning_bd.png") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.cleaning_headder_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.cleaning_child_hedder{background: #ffffff none repeat scroll 0 0;
border-radius: 5px;
height: 310px;
margin-bottom: 35px;
margin-top: 35px;
opacity: 0.9;
padding: 25px;
text-align: center;
width: 677px;}
.cleaning_child_hedder h1{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 36px;
line-height: 44px;
margin: 0;
padding-bottom: 10px;}
.cleaning_child_hedder h3{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 18px;
margin: 0 auto;
padding-bottom: 5px;
padding-top: 13px;
width: 400px;}
.cleaning_child_hedder h4{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 15px;
margin: 0 auto;
padding-bottom: 10px;
width: 350px;}
/* Recedential Cleaning*/
.man_child_service_txt h2 span{font-family: 'proxima_nova_rgsemibold';
padding-left: 10px;
padding-right: 10px;}
.cleaning_mainpress_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.cleaning_inner_mainpress_area{margin: 0 auto;
overflow: hidden;
width: 845px;}
.cleaning_inner_mainpress_area h2{color: #2b80c6;
font-size: 25px;
margin: 0;
padding-top: 20px;
text-align: center;
text-transform: uppercase;}
.cleaning_child_inner_mainpress_area{float: left;
margin:20px 75px;
width: 270px;}
.cleaning_child_inner_mainpress_area p{text-align: center;}
.cleaning_child_inner_mainpress_area img{display: block;
margin-left: auto;
margin-right: auto;}
.cleaning_dubai_printing_press_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.clearing_hed_btn{color: #ffffff;
float: left;
height: 62px;
margin: 10px 20px 0 auto;
text-align: center;
width: 293px;}
.clearing_hed_btn a{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 16px;
padding: 20px;
text-decoration: none;}
.clearing_hed_btn a:hover{background: #d4926e none repeat scroll 0 0;}
p{padding-top:15px!important;}

































