/* Fonts Style */
@font-face {
    font-family: 'proxima_novalight';
    src: url('new_fonts/proximanova-light-webfont.eot');
    src: url('new_fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-light-webfont.woff') format('woff'),
         url('new_fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('new_fonts/proximanova-bold-webfont.eot');
    src: url('new_fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-bold-webfont.woff') format('woff'),
         url('new_fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('new_fonts/proximanova-semibold-webfont.eot');
    src: url('new_fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('new_fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('new_fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('new_fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('new_fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('new_fonts/ProximaNovaCond-Regular.eot');
  src: url('new_fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('new_fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('new_fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('new_fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('new_fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('new_fonts/ProximaNova-Extrabld.eot');
  src: url('new_fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('new_fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('new_fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('new_fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('new_fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}
body{font-family: 'proxima_novalight', sans-serif;}
h1, h2, h3, h4, h5, h6{letter-spacing: normal; font-weight: normal; line-height: 1.4em;}
img{border: 0px solid;}
br{margin-bottom: 15px;}
/* ==========================================================================
  Business Card Style
========================================================================== */

/* */
/*Header Area Main*/
.header_area_main{
background:url("../images/bc_headder.jpg") no-repeat scroll center top rgba(0, 0, 0, 0);
height: 100%;
overflow: hidden;
width: 100%;}
.header_bg{position: relative;
width: 100%;}
.header_bg img{display: block;
height: 100%;
margin-left: auto;
margin-right: auto;
width: 100%;}
.inner_header_area{margin: 0 auto;
overflow: hidden;
position: relative;
width: 1140px;}
.child_header_area{background: #ffffff none repeat scroll 0 0;
border-radius: 5px;
height: 335px;
margin-left: 0;
margin-top: 35px;
opacity: 0.9;
overflow: hidden;
padding-left: 20px;
padding-right: 20px;
padding-top: 25px;
width: 650px;
z-index: 20;
margin-bottom: 40px;}
.child_header_area h1{color: #5c5c5c;font-weight: normal;
font-family: "proxima_nova_rgbold";
font-size: 42px;
line-height: 43px;
margin: 0;
padding-top: 10px;
text-align: center;}
.child_header_area h3{color: #5c5c5c;font-weight: normal; line-height: 1.4em;
font-family: "proxima_nova_rgbold";
font-size: 18px;
margin: 0;
text-align: center;
padding-top: 10px;}
.child_header_area h4{color: #5c5c5c;font-weight: normal; line-height: 1.4em;
font-family: "proxima_nova_rgbold";
font-size: 15px;
margin: 0;
padding-top: 10px;
text-align: center;}
.inner_header_btn{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: 'proxima_nova_rgbold';    
font-size: 20px;
margin-top: 23px;
padding: 20px 25px;
text-align: center;
text-decoration: none;
margin-left: 136px;}
.inner_header_btn:hover{background: #d4926e none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}



/*Printing Press Area*/
.printing_press_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_printing_press_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.printing_press_area_img{float: left;
margin-right: 25px;overflow: hidden;
width: 325px;}
.printing_press_area_img img{height: 280px;
width: 320px;}
.printing_press_area_txt{float: right;
overflow: hidden;
width: 770px;}
.printing_press_area_txt h1{color: #1e7cc8;
font-family: "proxima_novalight";
font-size: 25px;
font-weight: normal;
line-height: 1.4em;
margin: 0 0 10px;
text-transform: uppercase;}
.printing_press_area_txt p{color: #303030;
font-family: 'proxima_novalight';    
font-size: 15px;}

/*Get Quort Area*/
.get_quort_area{background: #2f8dda none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.get_quort_area_inner{margin: 0 auto;
overflow: hidden;
width: 650px;}
.get_quort_area_inner h1{color: #ffffff;font-weight: normal; line-height: 1.4em;   
font-family: 'proxima_nova_rgbold';    
font-size: 35px;
margin-top: 10px;    
text-align: center;}
.get_court_child_one{float: left;
margin-left: 45px;
overflow: hidden;
text-align: center;
width: 165px;}
.get_court_child_one h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 28px;}
.get_court_child_one p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.get_court_child_two{float: left;
overflow: hidden;
text-align: center;
width: 150px;}
.get_court_child_two h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 23px;}
.get_court_child_two p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.get_court_child_three{float: left;
overflow: hidden;
text-align: center;
width: 215px;}
.get_court_child_three h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 24px;}
.get_court_child_three p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.get_quort_btn{height: 58px;
margin: 0 auto;
overflow: hidden;
padding-bottom: 10px;
padding-top:0px;
width: 235px;}
.get_quort_btn a{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 25px;
padding:11px 22px;
text-align: center;
text-decoration: none;}
.get_quort_btn a:hover{background: #d4926e none repeat scroll 0 0; color: #ffffff !important;text-decoration: none;}


/*Type of Printing press service Area*/
.mainpress_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_mainpress_area{margin: 0 auto;
overflow: hidden;
text-align: center;
width: 1140px;}
.inner_mainpress_area h2{color: #2b80c6;
font-family: 'proxima_novalight'; font-weight: normal; line-height: 1.4em;    
font-size: 25px;}
.child_inner_mainpress_area h2{}
.child_inner_mainpress_area{float: left;
margin-left: 30px;
margin-right: 30px;
margin-top: 15px;
width: 220px;}
.child_inner_mainpress_area img{height: 190px;overflow: hidden;
width: 190px;}
.child_inner_mainpress_area p{color: #303030;font-weight: normal; line-height: 1.4em;font-family: 'proxima_novalight'; margin-top: 15px;
font-size: 17px;}
/*BUSINESS CARDS AREA*/
.business_card_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_business_card_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.inner_business_card_area_txt{float: left;
margin-right: 20px;
width: 850px;}
.inner_business_card_area_txt h2{color: #2b80c6;
font-family: 'proxima_novalight';    
font-size: 25px;
font-weight: normal;
line-height: 1.4em;
margin: 0 0 10px;
padding-top: 10px;}
.inner_business_card_area_txt p{font-family: 'proxima_novalight';font-weight: normal; line-height: 1.4em; margin-bottom: 10px;}
.inner_business_card_area_img{float: left;overflow: hidden;
margin-top: 100px;
width: 270px;}
.inner_business_card_area_img img{height: 231px;
width: 250px;}

/*Stationary Area*/
.stationary_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.stationary_area_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.stationary_area_inner_img{float: left;overflow: hidden;
margin-right: 20px;
width: 335px;}
.stationary_area_inner_img img{height: 240px;padding-top: 60px;width: 340px;}
.stationary_area_inner_text{float: right;
width: 770px;}
.stationary_area_inner_text h2, .promot_event_area_text h2{color: #2b80c6;
font-family: 'proxima_novalight';     
font-size: 25px;
font-weight: normal;
line-height: 1.4em;
margin: 0 0 10px;
padding-top: 10px;}
.stationary_area_inner_text p, .promot_event_area_text p{color: #303030;
font-family: 'proxima_novalight';    
font-size: 15px;
font-weight: normal;
line-height: 1.4em;
margin-bottom: 10px;}

/*EVENT PROMOTION PRINTING Area*/

.promot_event_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_promot_event_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.promot_event_area_text{float: left;
margin-right: 20px;
width: 840px;}
.promot_event_area_text h2{}
.promot_event_area_text p{}
.promot_event_area_img{float: right;overflow: hidden;
width: 270px;
margin-top: 70px;}
.promot_event_area_img img{height: 335px;
width: 270px;}

/*CORPORATE MARKETING PRINTING Area*/
.corporate_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.corporate_area_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.corporate_area_inner h2{color: #2b80c6;
font-family: 'proxima_novalight';    
font-size: 25px;
font-weight: normal;    
margin: 0;
margin-bottom: 10px; 
line-height: 1.4em;  
padding-top: 15px;}
.corporate_area_inner p{color: #303030;
font-family: 'proxima_novalight';     
font-size: 15px;
font-weight: normal;
line-height: 1.4em;
margin-bottom: 10px;}
.corporate_area_inner img{float: left;
height: 165px;
margin-bottom: 20px;
margin-right: 20px;
width: 240px;}

/*Dubai Printing Area*/
.dubai_printing_press_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_dubai_printing_press_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.inner_dubai_printing_press_area h3{color: #2b80c6;
font-family: 'proxima_novalight';    
font-size: 25px;
font-weight: normal;
line-height: 1.4em;
text-align: center;}
.printing_dubai_btn{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
height: 66px;
margin: 0 auto;
text-align: center;
width: 233px;}
.printing_dubai_btn a{color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 20px;
padding: 20px 25px;
text-decoration: none;}
.printing_dubai_btn a:hover{background: #d4926e none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}




/* ==========================================================================
  Maintenance Page Style
========================================================================== */

/*Maintenance Headder Area*/
.cleaning_headder_area{background: #000000 url("../images/cleaning_bd.png") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.photo_headder_area{background: #000000 url("../images/photo_bg.jpg") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}

.man_headder_area{background: #000000 url("../images/maitain_bg.jpg") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.man_headder_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.main_child_hedder{background: #ffffff none repeat scroll 0 0;
border-radius: 5px;
margin-bottom: 20px;
margin-top: 35px;
opacity: 0.9;
padding: 25px;
text-align: center;
width: 600px;}
.main_child_hedder h1{color: #5c5c5c;font-weight: normal; line-height: 1.4em;
font-family: "proxima_nova_rgbold";
font-size: 42px;
line-height: 44px;
margin: 0;
padding-bottom: 10px;}
.main_child_hedder h3{color: #5c5c5c;font-weight: normal; line-height: 1.4em;
font-family: "proxima_nova_rgbold";
font-size: 18px;
margin: 0;
padding-bottom: 5px;
padding-top: 13px;}
.main_child_hedder h4{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 15px;font-weight: normal; line-height: 1.4em;
margin: 0;
padding-bottom: 10px;}
.main_hed_btn{
color: #ffffff;
height: 66px;
margin: 15px auto 0;
text-align: center;
width: 315px;}
.main_hed_btn a{background: #eba883 none repeat scroll 0 0;border-radius: 5px;color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 20px;
padding: 20px 25px;
text-decoration: none;}
.main_hed_btn a:hover{background: #d4926e none repeat scroll 0 0;color: #ffffff !important;text-decoration: none;}

/*Maintenance Service Area*/
.man_service_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_inner_service{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.man_child_service_img{float: left;
margin-right: 10px;
margin-top: 50px;
overflow: hidden;    
width: 350px;}
.man_child_service_img img{width: 345px;
height: 310px;}
.man_child_service_txt{float: right;
overflow: hidden;
width: 770px;}
.man_child_service_txt h2{color: #1e7cc8;
font-family: "proxima_novalight";
font-size: 25px;
font-weight: normal;
margin: 0;
padding-bottom: 20px;
padding-top: 20px;
text-transform: uppercase;}
.man_child_service_txt p{color: #303030;
font-family: "proxima_novalight";
font-size: 15px;
font-weight: normal;
margin-bottom: 10px;}

/*Maintenance Step Area here*/
.man_get_quort_area{background: #2f8dda none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_get_quort_area_inner{margin: 0 auto;
overflow: hidden;
width: 730px;}
.man_get_quort_area_inner h1{color: #ffffff;
font-family: "proxima_nova_rgbold";
font-size: 35px;
font-weight: normal;
margin-top: 10px;
text-align: center;}
.man_get_court_child_one{float: left;
margin-left: 110px;
overflow: hidden;
text-align: center;
width: 165px;}
.man_get_court_child_one h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 28px;}
.man_get_court_child_one p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.man_get_court_child_two{float: left;
overflow: hidden;
text-align: center;
width: 150px;}
.man_get_court_child_two h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 23px;}
.man_get_court_child_two p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.man_get_court_child_three{float: left;
overflow: hidden;
text-align: center;
width: 215px;}
.man_get_court_child_three h1{border: 4px solid #ffffff;
border-radius: 50%;
display: inline-block;
margin: 0;
padding: 8px 24px;}
.man_get_court_child_three p{color: #ffffff;
font-family: 'proxima_nova_rgbold';     
font-size: 15px;
text-align: center;}
.man_get_quort_btn{height: 58px;
margin: 0 auto;
overflow: hidden;
padding-bottom: 10px;
padding-top: 0;
width: 235px;}
.man_get_quort_btn a{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 25px;
padding:11px 22px;
text-align: center;
text-decoration: none;}
.man_get_quort_btn a:hover{background: #d4926e none repeat scroll 0 0; color: #ffffff !important;text-decoration: none;}

/*Mantenance Printing press service Area*/
.man_mainpress_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_inner_mainpress_area{margin: 0 auto;
overflow: hidden;
text-align: center;
width: 1140px;}
.man_inner_mainpress_area h2{color: #2b80c6;
font-family: "proxima_novalight";
font-size: 25px;
font-weight: normal;}
.man_child_inner_mainpress_area h2{}
.man_child_inner_mainpress_area{float: left;
margin-left: 80px;
margin-right: 80px;
margin-top: 15px;
width: 220px;}
.man_child_inner_mainpress_area img{height: 190px;overflow: hidden;
width: 190px;}
.man_child_inner_mainpress_area p{color: #303030;font-family: 'proxima_novalight'; font-weight: normal; margin-top: 10px;
font-size: 17px;}
.man_icon_boot{margin-left: -85px;}

/*Mantenance Handyman Area*/
.man_handyman_service_arae{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_handyman_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_handyman_txt{float: left;
margin-right: 10px;
overflow: hidden;
width: 805px;}
.child_handyman_txt h2, .child_man_electrical_txt h2, .child_man_painting_txt h2{color: #2b80c6;
font-family: 'proxima_novalight';
font-size: 25px;
font-weight: normal;
margin: 0;
padding-bottom: 10px;
padding-top: 20px;
text-transform: uppercase;}
.child_handyman_txt p, .child_man_electrical_txt p, .child_man_painting_txt p{color: #303030;font-family: 'proxima_novalight';
font-size: 15px;}
.child_handyman_img{float: right;
margin-top: 116px;
width: 300px;}
.child_handyman_img img{height: 200px;
width: 275px;}

/*Mantenance Electrical Area*/
.man_electrical_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_man_electrical{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_man_electrical_img{float: left;
margin-right: 20px;
margin-top: 40px;
width: 350px;}
.child_man_electrical_img img{width: 295px;
height: 320px;}
.child_man_electrical_txt{float: right;
overflow: hidden;
width: 740px;}
.child_man_electrical_txt h2{}
.child_man_electrical_txt p{}
/*Mantenance Plumbing Area*/
.man_plumbing_service_arae{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_plumbing_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_plumbing_txt{float: left;
margin-right: 10px;
overflow: hidden;
width: 805px;}
.child_plumbing_txt h2{color: #2b80c6;font-family: 'proxima_novalight';font-weight: normal;
font-size: 25px;
margin: 0;
padding-bottom: 15px;    
padding-top: 20px;
text-transform: uppercase;}
.child_plumbing_txt p{color: #303030;margin-bottom: 10px;font-family: 'proxima_novalight';font-weight: normal;
font-size: 15px;}
.child_plumbing_img{float: right;
margin-top: 116px;
width: 300px;}
.child_plumbing_img img{height: 210px;
width: 260px;}
/*Mantenance Painting Area*/
.man_painting_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_man_painting{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_man_painting_img{float: left;
margin-right: 20px;
margin-top: 85px;
width: 340px;}
.child_man_painting_img img{width: 340px;
height: 240px;}
.child_man_painting_txt{float: right;
overflow: hidden;
width: 775px;}
.child_man_painting_txt h2{}
.child_man_painting_txt p{}
/*Mantenance install Area*/
.man_install_service_arae{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.inner_install_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.child_install_txt{float: left;
margin-right: 10px;
overflow: hidden;
width: 860px;}
.child_install_txt h2{color: #2b80c6;font-family: 'proxima_novalight';font-weight: normal;
font-size: 25px;
margin: 0;
    margin-bottom: 15px;
padding-top: 20px;
text-transform: uppercase;}
.child_install_txt p{color: #303030;margin-bottom: 10px;font-family: 'proxima_novalight';font-weight: normal;
font-size: 15px;}
.child_install_img{float: right;
margin-top: 100px;
width: 250px;}
.child_install_img img{height: 228px;
width: 252px;}

/*Mantenance Dubai printing Area*/
.man_dubai_printing_press_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.man_inner_dubai_printing_press_area{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.man_inner_dubai_printing_press_area h3{color: #2b80c6;
font-family: "proxima_novalight";
font-size: 25px;
font-weight: normal;
line-height: 1.3em;
text-align: center;}
.man_printing_dubai_btn{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #ffffff;
height: 66px;
margin: 0 auto;
text-align: center;
width: 233px;}
.man_printing_dubai_btn a{color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 20px;
padding: 20px 25px;
text-decoration: none;}
.man_printing_dubai_btn:hover{background: #d4926e none repeat scroll 0 0; color: #ffffff !important;text-decoration: none;}
.man_child_printing_press_text{ width: 90%;margin: 0 auto;}
/**/
.photo_icon_boot{margin-left: 290px}
.child_man_corporate_img img {
  height: 265px;
  width: 335px;
}


/* ==========================================================================
  Cleaning Page Style
========================================================================== */
.cleaning_headder_area{background: #000000 url("../images/cleaning_bd.jpg") no-repeat scroll center top;
height: 100%;
overflow: hidden;
width: 100%;}
.cleaning_headder_inner{margin: 0 auto;
overflow: hidden;
width: 1140px;}
.cleaning_child_hedder{background: #ffffff none repeat scroll 0 0;
border-radius: 5px;
height: 345px;
margin-bottom: 35px;
margin-top: 35px;
opacity: 0.9;
padding: 25px;
text-align: center;
width: 677px;}
.cleaning_child_hedder h1{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 42px;
font-weight: normal;
line-height: 44px;
margin: 0;
padding-bottom: 10px;}
.cleaning_child_hedder h3{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 18px;
font-weight: normal;
margin: 0 auto;
padding-bottom: 5px;
padding-top: 13px;
width: 400px;}
.cleaning_child_hedder h4{color: #5c5c5c;
font-family: "proxima_nova_rgbold";
font-size: 15px;
font-weight: normal;
margin: 0 auto;
padding-bottom: 10px;
width: 350px;}
/* Recedential Cleaning*/
.man_child_service_txt h2 span{font-family: 'proxima_nova_rgsemibold';
padding-left: 10px;
padding-right: 10px;}
.cleaning_mainpress_area{background: #ffffff none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.cleaning_inner_mainpress_area{margin: 0 auto;
overflow: hidden;
width: 845px;}
.cleaning_inner_mainpress_area h2{color: #2b80c6;
font-family: 'proxima_novalight';    
font-size: 25px;
font-weight: normal;
margin: 0;
padding-top: 20px;
text-align: center;
text-transform: uppercase;}
.cleaning_child_inner_mainpress_area{float: left;
margin:20px 75px;
width: 270px;}
.cleaning_child_inner_mainpress_area p{text-align: center;font-family: 'proxima_novalight'; margin-top: 10px;}
.cleaning_child_inner_mainpress_area img{display: block;
margin-left: auto;
margin-right: auto;}
.cleaning_dubai_printing_press_area{background: #f4f4f4 none repeat scroll 0 0;
overflow: hidden;
padding: 30px 0;}
.clearing_hed_btn{color: #ffffff;
float: left;
height: 62px;
margin: 25px 15px 0 auto;
text-align: center;
width: 293px;}
.clearing_hed_btn a{background: #eba883 none repeat scroll 0 0;
border-radius: 5px;
color: #fff;
display: inline-block;
font-family: "proxima_nova_rgbold";
font-size: 16px;
padding: 20px;
text-decoration: none;}
.clearing_hed_btn a:hover{background: #d4926e none repeat scroll 0 0;color: #ffffff  !important;text-decoration: none;}


/*Responsive Style*/
/* Desktop Layout: 768px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 970px;} 
.printing_press_area_img {margin-top: 60px;}    
.printing_press_area_txt {width: 615px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;}    
.inner_business_card_area_txt {width: 675px;} 
.stationary_area_inner_text {width: 600px;}    
.promot_event_area_text {width: 670px;}   
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 970px;}
.man_child_service_img {width: 300px;}  
.man_child_service_img img {height: 250px;width: 300px;} 
.man_child_service_txt {width: 655px;} 
.man_get_court_child_one {margin-left: 215px;}
.man_child_inner_mainpress_area {margin-left: 48px;margin-right: 48px;} 
.man_icon_boot {margin-left: -104px;}
.child_handyman_txt {width: 670px;} 
.child_handyman_img {width: 280px;}
.child_man_electrical_txt {width: 595px;}
.child_plumbing_txt {width: 655px;}
.child_man_painting_txt {width: 605px;}
.child_install_txt {width: 705px;}    
/**/    
.photo_icon_boot {margin-left: 225px}    
    
    
    
    
    
    
    
    
    
    
    
        
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 700px;} 
.child_header_area {margin-left: 26px;margin-top: 26px;}    
.printing_press_area_img {margin-top: 60px;width: 250px;height: 250px;}    
.printing_press_area_txt {width: 420px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;width: 150px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.inner_business_card_area_txt {width: 440px;} 
.inner_business_card_area_img {width: 230px;}  
.stationary_area_inner_img {width: 230px;}    
.stationary_area_inner_text {width: 430px;}    
.promot_event_area_text {width: 430px;}    
.promot_event_area_img {width: 230px;}    
.printing_press_area_img img {height: 220px;width: 250px;}    
.stationary_area_inner_img img {height: 170px;width: 230px;} 
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 710px;}
.main_child_hedder {float: none;margin: 28px auto;}    
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 210px;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 180px;width: 200px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 485px;} 
.man_get_court_child_one {margin-left: 90px;}
.man_child_inner_mainpress_area {margin-left: 10px;
margin-right: 10px;
width: 200px;} 
.man_icon_boot {margin-left: -104px;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}    
/**/    
.photo_icon_boot {margin-left: 140px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 710px;} 
.cleaning_child_hedder {margin: 25px auto;width: 617px;float: none;}    
.clearing_hed_btn {width: 280px;margin: 10px 0 0 auto;} 
.clearing_hed_btn a { font-size: 16px;padding: 15px;}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* Mobile Layout: 320px. */
@media only screen and (min-width: 200px) and (max-width: 479px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 290px;} 
.child_header_area {height: 342px;
margin-bottom: 30px;
margin-left: 5px;
margin-top: 30px;
opacity: 1;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
width: 280px;}
.child_header_area h1 {font-size: 24px;
line-height: 28px;
padding-top: 5px;} 
.child_header_area h3 {font-size: 17px;
padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 9px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;margin: 0 auto;width: 250px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;margin: 0 auto;width: 280px;}    
.child_inner_mainpress_area {float: none;margin: 0 auto;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 280px;}    
.get_court_child_one, .get_court_child_two, .get_court_child_three {float: none;margin: 5px auto;width: 150px;} 
.corporate_area_inner h2 {padding-left: 5px;}    
.stationary_area_inner_img img {height: 160px;width: 220px;}    
.printing_press_area_img img {height: 190px;width: 220px;}    
.inner_dubai_printing_press_area h3 {font-size: 18px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 300px;}
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 310px;}
.main_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;
padding-top: 10px;}
.main_child_hedder h3 {font-size: 14px;
padding-bottom: 14px;
padding-top: 20px;}    
.main_child_hedder h4 {padding-top: 5px;}    
.main_hed_btn {margin: 1px auto 0;width: 235px;}
.main_hed_btn a {font-size: 15px;
    padding: 10px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 260px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 190px;
width: 250px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 280px;float: none; margin: 0 auto;} 
.man_get_court_child_one, .man_get_court_child_three, .man_get_court_child_two {
  float: none;
  margin: 0 auto;
}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}     
.man_get_quort_area_inner h1 {font-size: 25px;}    
.man_get_quort_btn a {font-size: 20px;} 
.man_get_quort_btn {width: 200px;} 
.man_inner_dubai_printing_press_area h3 {font-size: 20px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 300px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 360px;}      
.cleaning_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 5px;
width: 100%;}  
.cleaning_child_hedder h3 {width: 100%;}    
.cleaning_inner_mainpress_area {width: 300px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}     
.clearing_hed_btn {height: 46px;
margin: 0 auto 0 0;
width: 239px;}
.clearing_hed_btn a {font-size: 14px;padding: 10px;}    
    
    
    
    
    
    

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 430px;} 
.child_header_area {margin-bottom: 10px;
margin-left: 10px;
margin-top: 10px;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
width: 410px;
height: 360px;}
.child_header_area h1 {font-size: 35px;padding-top: 5px;} 
.child_header_area h3 {padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 85px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;
margin: 0 auto;
width: 300px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;
margin: 0 auto;
width: 400px;}    
.child_inner_mainpress_area {margin-left: 25px;margin-right: 25px;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 400px;}    
.get_court_child_one {margin-left: 0;width: 120px;}    
.get_court_child_two {width: 120px;}
.get_court_child_three {width: 120px;}    
.printing_press_area_img img {height: 275px;width: 290px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 100%; min-width:410px;}
.man_get_quort_area_inner{width:410px;}    
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 280px;}
.main_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 5px;padding-top: 10px;}
.main_child_hedder h4 {padding-top: 12px;}
.main_child_hedder h3 {font-size: 14px;padding-bottom: 20px;padding-top: 20px;}    
.main_hed_btn {margin: -4px auto 0;}
.main_hed_btn a {font-size: 18px;padding: 10px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 310px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 210px;
width: 280px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {float: none;
margin: 0 auto;
min-width: 390px;
width: 90%;} 
.man_get_court_child_one {margin-left: 45px;}
.man_get_court_child_three {margin-left: 107px;
margin-right: 5px;
width: 190px;}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: auto;}
.child_man_painting_img {margin-right: auto;}     
/*Cleaning*/
.cleaning_headder_inner {width: 410px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 295px;}      
.cleaning_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 12px;}  
.cleaning_inner_mainpress_area {width: 410px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}    
.cleaning_child_hedder h3 {font-size: 14px;padding-bottom: 16px;width: 375px;}    
.clearing_hed_btn {height: 47px;margin: 0 auto 0 70px;width: 251px;}
.clearing_hed_btn a {font-size: 14px;padding: 11px 18px;}    
    
    
    
    
    
    
    
    

    
}