/* ==========================================================================
   FONT STYLE AREA
   ========================================================================== */
@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('fonts/proximanova-regular-webfont.eot');
    src: url('fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('fonts/proximanova-regular-webfont.woff') format('woff'),
         url('fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_novalight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgbold';
    src: url('fonts/proximanova-bold-webfont.eot');
    src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-bold-webfont.woff') format('woff'),
         url('fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'proxima_nova_rgsemibold';
    src: url('fonts/proximanova-semibold-webfont.eot');
    src: url('fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-semibold-webfont.woff2') format('woff2'),
         url('fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-semibold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'ProximaNovaCond-Regular';
  src: url('fonts/ProximaNovaCond-Regular.eot');
  src: url('fonts/ProximaNovaCond-Regular.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNovaCond-Regular.woff2') format('woff2'),
       url('fonts/ProximaNovaCond-Regular.woff') format('woff'),
       url('fonts/ProximaNovaCond-Regular.ttf') format('truetype'),
       url('fonts/ProximaNovaCond-Regular.svg#ProximaNovaCond-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova-Extrabld';
  src: url('fonts/ProximaNova-Extrabld.eot');
  src: url('fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
       url('fonts/ProximaNova-Extrabld.woff2') format('woff2'),
       url('fonts/ProximaNova-Extrabld.woff') format('woff'),
       url('fonts/ProximaNova-Extrabld.ttf') format('truetype'),
       url('fonts/ProximaNova-Extrabld.svg#ProximaNova-Extrabld') format('svg');
  font-weight: normal;
  font-style: normal;
}

/**/
#step_area{} 
#step_area h1, .new_get_quort_area_inner h1, .new_get_court_child_one h1, .new_get_court_child_two h1, .new_get_court_child_three h1{font-family: "proxima_nova_rgbold";font-style: normal;font-weight: normal;margin-top: 0;}
.new_get_court_child_two h1, .new_get_court_child_three h1{border: 3px solid #fff;padding: 7px 24px;}
.new_get_court_child_one h1{border: 3px solid #fff;padding: 7px 26px;}
#step_area .stepS{}
#step_area .stepS .stepOne{}
#step_area .stepS .stepOne span.StepIcon{}
#step_area .stepS .stepOne span.StepIcon{}
#step_area .stepS .stepOne br{display: inline-block; margin: 0; padding: 0;}
#step_area .stepS .stepOne p{color: #ffffff;
font-family: "proxima_nova_rgbold";font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;
font-size: 15px;
text-align: center;}
#step_area .stepGet a{
  background: #eba883 none repeat scroll 0 0;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-family: "proxima_nova_rgbold";
  font-size: 25px;
  padding: 11px 22px;
  text-align: center;
  text-decoration: none;
}
.textCenter {margin: 18px 0 30px;}
.new_get_court_child_one p, .new_get_court_child_two p {font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;font-size: 15px;margin: 15px auto;}
#exhi_quort .new_get_court_child_one {margin-left: 125px;}
.new_get_court_child_three p {font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;margin: 15px auto;}
.new_get_quort_btn a {font-family: "proxima_nova_rgbold";font-family: 'proxima_nova_rgbold'; font-weight: normal; font-style: normal;}
.mail_left_text h2 {padding-top: 45px;margin: 6px 0;}
#pest_header .headesr_slide_text {padding: 30px;width: 525px;}
.new_get_court_child_three, #wedding_quort .new_get_court_child_three, #event_quort .new_get_court_child_three{width: 230px;}
.new_get_court_child_two, #wedding_quort .new_get_court_child_two, #event_quort .new_get_court_child_two {width: 230px;}
.new_get_court_child_one, #wedding_quort .new_get_court_child_one, #event_quort .new_get_court_child_one {margin-left: 0px;width: 230px;}
#wedding_quort .new_get_court_child_three {width: 230px;}
#pest_quort .new_get_court_child_three {width: 165px;}
#pest_quort .new_get_court_child_three p {margin: 0 auto;}
.new_fix_fix_quort{height: 1px;overflow: hidden;width: 100%;}
.get_quort_area {background: #2f8dda none repeat scroll 0 0;}
.get_court_child_one, .man_get_court_child_one, #pest_quort .new_get_court_child_one{margin-bottom: 10px;margin-left:0px;padding: 0 15px;width: 230px;}
.get_court_child_two, .man_get_court_child_two, #pest_quort .new_get_court_child_two, #exhi_quort .new_get_court_child_two, #get_quort .new_get_court_child_two {margin-bottom: 10px;margin-left: 0px;margin-right: 0px;padding: 0 15px;width: 230px;}
.get_court_child_three, .man_get_court_child_three, #pest_quort .new_get_court_child_three, #exhi_quort .new_get_court_child_three, #get_quort .new_get_court_child_three {margin-bottom: 10px;padding: 0 15px;width: 230px;}
#stand_lock .mail_left_text h2 {padding-top: 33px;}
.inner_quort_area p {color: #fff;}
#management_company .mail_left_text h2 {padding-top: 5px;}
.mail_right_text h2 {margin: 6px 0;}
#aduio_vusioul .mail_left_text h2 {padding-top: 15px;}
.mail_left_text h2 {padding-top: 5px;}
#companies_in_dubai .mail_left_text h2 {padding-top: 35px;}
#florists_dubai .mail_left_text h2 {padding-top: 20px;}
#gift_pc .mail_left_text h2 {padding-top: 20px;}
#confureance_event .mail_left_img {margin-top: 25px;}
#product_event .mail_left_img { margin-top: 20px;}
.QuotesSec {background: #2F8DDA none repeat scroll 0 0;}
.QuotesSec h2 {color: #ffffff;}
#white.get_quort_area {background: #2F8DDA none repeat scroll 0 0;}
#white.get_quort_area .inner_quort_area p {color: #ffffff;}
/*New Change on 30/10/2015 */
.man_get_court_child_one h2, #pest_quort .new_get_court_child_one h2 {border: 3px solid #ffffff;padding: 8px 21px;}
.man_get_court_child_two h2, #pest_quort .new_get_court_child_two h2 {border: 3px solid #ffffff;padding: 8px 17px;}
.man_get_court_child_three h2, #pest_quort .new_get_court_child_three h2 {border: 3px solid #ffffff;padding: 8px 18px;}
.man_get_quort_area_inner, #pest_quort .new_get_quort_area_inner {width: 730px;}
.man_get_quort_area_inner.photog {width: 770px;}
.man_get_quort_area_inner.photog .man_get_court_child_one {margin-left: 20px;}
.man_get_quort_area_inner br, .get_quort_area_inner br, .new_get_quort_area_inner br, #exhi_quort .new_get_quort_area_inner br {margin: 0;padding: 0;}
.get_court_child_one p, .get_court_child_two p, .get_court_child_three p, .man_get_court_child_one p, .man_get_court_child_two p, .man_get_court_child_three p{margin: 15px 0;font-family: 'proxima_nova_rgsemibold';}
.man_dubai_printing_press_area, .dubai_printing_press_area, .cleaning_dubai_printing_press_area {background: #2F8DDA none repeat scroll 0 0;}
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3, #white.get_quort_area .inner_quort_area p, .inner_quort_area p {color: #ffffff;font-family: "proxima_nova_rgsemibold";margin-bottom: 25px;margin-top: 20px;}
#white.get_quort_area .inner_quort_area p {color: #ffffff;font-family: "proxima_nova_rgsemibold";margin-bottom: 0px;margin-top: 20px;}
.get_quort_area_inner {width: 700px;}
#control_pest .mail_right_text.custom {display: none;}
.new_get_court_child_one p, .new_get_court_child_two p, .new_get_court_child_three p, #event_quort .new_get_court_child_three p, #exhi_quort .new_get_court_child_three p  {font-family: "proxima_nova_rgsemibold";}
#wedding_planner .custom {min-height: 100%;}
#wedding_newpress .custom {min-height: 100%;}
#step_area .new_get_court_child_one h1, #step_area .new_get_court_child_two h1, #step_area .new_get_court_child_three h1 {border: 3px solid #ffffff;padding: 7px 22px;}
#wedding_quort .new_get_court_child_two h1, #wedding_quort .new_get_court_child_three h1 {border: 3px solid #ffffff;padding: 7px 22px;}
#wedding_quort .new_get_court_child_one h1{border: 3px solid #ffffff;padding: 7px 26px;}
#event_quort .new_get_quort_area_inner {width: 690px;}
#exhi_quort .new_get_quort_area_inner { width: 780px;}
#exhi_quort .new_get_court_child_one, #get_quort .new_get_court_child_one {margin-bottom: 10px;margin-left: 38px;padding: 0 15px;width: 230px;}

/*Date 2/11/2015 Ali*/
.catererExperince .catererImg {display: inline-block;margin-left: 30px;margin-top: 25px;}
.catererExperince .catererImg .mobileImg {display: block;height: 100%;max-height: 150px;max-width: 150px;min-height: 150px;min-width: 150px;width: 100%;}











/* Desktop Layout: 768px. */
@media only screen and (min-width: 992px) and (max-width: 1199px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 970px;} 
.printing_press_area_img {margin-top: 60px;}    
.printing_press_area_txt {width: 615px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;}    
.inner_business_card_area_txt {width: 675px;} 
.stationary_area_inner_text {width: 600px;}    
.promot_event_area_text {width: 670px;}   
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 970px;}
.man_child_service_img {width: 300px;}  
.man_child_service_img img {height: 250px;width: 300px;} 
.man_child_service_txt {width: 655px;} 
.man_child_inner_mainpress_area {margin-left: 48px;margin-right: 48px;} 
.man_icon_boot {margin-left: -104px;}
.child_handyman_txt {width: 670px;} 
.child_handyman_img {width: 280px;}
.child_man_electrical_txt {width: 595px;}
.child_plumbing_txt {width: 655px;}
.child_man_painting_txt {width: 605px;}
.child_install_txt {width: 705px;}    
/**/    
.photo_icon_boot {margin-left: 225px}    
.printing_dubai_btn {height: 50px;}
.printing_dubai_btn a {padding: 12px 25px;}  
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3 {margin-top: 10px;}  
.man_get_quort_area_inner.photog {width: 730px;}
.man_get_quort_area_inner.photog .man_get_court_child_one {margin-left: 0px;}
.man_get_quort_btn, .man_printing_dubai_btn {height: 40px;width: 210px;}
.man_get_quort_btn a, .man_printing_dubai_btn a {font-size: 18px;padding: 7px 22px;}    
.original_menu ul li ul {height: 235px;}    
#white.get_quort_area .inner_quort_area p {margin-top: 0;} 
    
    
    
    
    
        
    
}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 700px;} 
.child_header_area {margin-left: 26px;margin-top: 26px;}    
.printing_press_area_img {margin-top: 60px;width: 250px;height: 250px;}    
.printing_press_area_txt {width: 420px;}    
.child_inner_mainpress_area {margin-left: 10px;margin-right: 10px;width: 150px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.inner_business_card_area_txt {width: 440px;} 
.inner_business_card_area_img {width: 230px;}  
.stationary_area_inner_img {width: 230px;}    
.stationary_area_inner_text {width: 430px;}    
.promot_event_area_text {width: 430px;}    
.promot_event_area_img {width: 230px;}    
.printing_press_area_img img {height: 220px;width: 250px;}    
.stationary_area_inner_img img {height: 170px;width: 230px;} 
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 710px;}
.main_child_hedder {float: none;margin: 35px auto;}    
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 210px;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 180px;width: 200px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 485px;} 
.man_child_inner_mainpress_area {margin-left: 10px;
margin-right: 10px;
width: 200px;} 
.man_icon_boot {margin-left: -104px;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}    
/**/    
.photo_icon_boot {margin-left: 140px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 710px;} 
.cleaning_child_hedder {margin: 25px auto;width: 617px;float: none;}    
.clearing_hed_btn {width: 280px;} 
.clearing_hed_btn a { font-size: 16px;padding: 15px;}    
.printing_dubai_btn {height: 50px;}
.printing_dubai_btn a {padding: 12px 25px;}  
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3 {margin-top: 10px;}  
.man_get_quort_area_inner.photog {width: 730px;}
.man_get_quort_area_inner.photog .man_get_court_child_one {margin-left: 0px;}
.inner_quort_area a.button {font-size: 16px;width: 210px;}
.man_get_quort_btn, .man_printing_dubai_btn {height: 40px;width: 210px;}
.man_get_quort_btn a, .man_printing_dubai_btn a {font-size: 18px;padding: 7px 22px;} 
#event_quort .new_get_quort_btn {height: 40px;padding: 0;width: 181px;}    
#event_quort .new_get_quort_btn a {font-size: 18px;padding: 7px 22px;} 
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3, #white.get_quort_area .inner_quort_area p, .inner_quort_area p {margin-bottom: 0;margin-top: 0;} 
#exhi_quort .new_get_court_child_one, #get_quort .new_get_court_child_one {margin-left: 15px;}  
#get_quort .new_get_quort_btn {height: 40px;padding: 0;width: 180px;}
#get_quort .new_get_quort_btn a {font-size: 18px;padding: 7px 20px;}    
    
    
    
    
    
    
    
    
    
    
    
    
    
}
/* Mobile Layout: 320px. */
@media only screen and (min-width: 200px) and (max-width: 479px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 290px;} 
.child_header_area {height: 342px;
margin-bottom: 30px;
margin-left: 5px;
margin-top: 30px;
opacity: 1;
padding-left: 5px;
padding-right: 5px;
padding-top: 5px;
width: 280px;}
.child_header_area h1 {font-size: 24px;
line-height: 28px;
padding-top: 5px;} 
.child_header_area h3 {font-size: 17px;
padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 9px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;margin: 0 auto;width: 250px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;margin: 0 auto;width: 280px;}    
.child_inner_mainpress_area {float: none;margin: 0 auto;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 280px;}    
.get_court_child_one, .get_court_child_two, .get_court_child_three {float: none;margin: 5px auto;width: 150px;} 
.corporate_area_inner h2 {padding-left: 5px;}    
.stationary_area_inner_img img {height: 160px;width: 220px;}    
.printing_press_area_img img {height: 190px;width: 220px;}    
.inner_dubai_printing_press_area h3 {font-size: 18px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 300px;}
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 310px;}
.main_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;
padding-top: 10px;}
.main_child_hedder h3 {font-size: 14px;
padding-bottom: 14px;
padding-top: 20px;}    
.main_child_hedder h4 {padding-top: 5px;}    
.main_hed_btn {margin: 1px auto 0;width: 220px;}
.main_hed_btn a {font-size: 15px;
    padding: 10px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 260px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 190px;
width: 250px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {width: 280px;float: none; margin: 0 auto;} 
.man_get_court_child_one, .man_get_court_child_three, .man_get_court_child_two {
  float: none;
  margin: 0 auto;
}    
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: 10px;}
.child_man_painting_img {margin-right: 10px;}     
.man_get_quort_area_inner h1 {font-size: 25px;}    
.man_get_quort_btn a {font-size: 20px;} 
.man_get_quort_btn {width: 200px;} 
.man_inner_dubai_printing_press_area h3 {font-size: 20px;}    
/*Cleaning*/
.cleaning_headder_inner {width: 300px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 250px;
height: 360px;}      
.cleaning_child_hedder h1 {font-size: 20px;
line-height: 23px;
padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 5px;
width: 100%;}  
.cleaning_child_hedder h3 {width: 100%;}    
.cleaning_inner_mainpress_area {width: 300px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}     
.clearing_hed_btn {height: 47px;margin:0 auto 0 0;width: 240px;}
.clearing_hed_btn a {font-size: 14px;padding: 9px 8px;}    
.headesr_slide_text h3 {margin-top: 0;} 
#event_header .headesr_slide_text {height: 358px;}    
.printing_dubai_btn {height: 40px;width: 225px;}
.printing_dubai_btn a {padding: 7px 25px;font-size: 18px;}   
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3 {margin-top: 10px;}    
.man_get_quort_area_inner.photog {width: 250px;}
.man_get_quort_area_inner.photog .man_get_court_child_one {margin: 0 auto;} 
.man_get_quort_btn {width: 180px;height: 40px;}  
.man_printing_dubai_btn, .get_quort_btn {width: 185px;height: 40px;}     
.man_get_quort_btn a, .man_printing_dubai_btn a, .get_quort_btn a {font-size: 18px;padding: 7px 22px;}   
.man_get_quort_btn a:hover, .man_printing_dubai_btn a:hover, .get_quort_btn a:hover {color: #ffffff;}   
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3 {margin-top: 10px;padding: 0 10px;font-size: 18px;}
#pest_header .headesr_slide_text {padding: 5px;width: 280px;} 
#pest_quort .new_get_quort_area_inner {width: 280px;}
#pest_quort .new_get_court_child_three {margin-left: 0px;}
.inner_quort_area a.button {font-size: 16px;width: 210px;} 
#wedding_header .headesr_slide_text h4 {padding-top: 5px;} 
#wedding_header .headesr_slide_text h1 {font-size: 22px;}    
#wedding_quort .new_get_court_child_three {width: 190px; margin: 0 auto;float: none;}
#white.get_quort_area .inner_quort_area p {margin-top: 0;}    
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3, #white.get_quort_area .inner_quort_area p, .inner_quort_area p {margin-bottom: 0;margin-top: 0;}   
#event_quort .new_get_quort_area_inner {width: 250px;} 
#event_quort .new_get_quort_btn {height: 40px;width: 170px;padding: 0;}    
#event_quort .new_get_quort_btn a {font-size: 18px;padding: 6px 16px;}
.new_get_court_child_two h1, .new_get_court_child_three h1 {padding: 7px 21px;}    
.headesr_slide_text h1 {font-size: 22px;}
#exhi_quort .new_get_quort_area_inner { width: 250px;}  
#exhi_quort .new_get_court_child_one, #get_quort .new_get_court_child_one { width: 150px;}   
    
    
    
    
    
    

}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
.inner_header_area, .inner_printing_press_area, .inner_mainpress_area, .inner_business_card_area, .stationary_area_inner, .inner_promot_event_area, .corporate_area_inner, .inner_dubai_printing_press_area{width: 430px;} 
.child_header_area {margin-bottom: 10px;margin-left: 10px;margin-top: 10px;padding-left: 5px;padding-right: 5px;padding-top: 5px;width: 410px;}
.child_header_area h1 {font-size: 35px;padding-top: 5px;} 
.child_header_area h3 {padding-top: 5px;}
.inner_header_btn {font-size: 18px;margin-left: 85px;margin-top: 5px;padding: 10px 14px;}    
.printing_press_area_img, .inner_business_card_area_img, .stationary_area_inner_img, .promot_event_area_img {float: none;
margin: 0 auto;
width: 300px;}    
.printing_press_area_txt, .inner_business_card_area_txt, .stationary_area_inner_text, .promot_event_area_text  {float: none;
margin: 0 auto;
width: 400px;}    
.child_inner_mainpress_area {margin-left: 25px;margin-right: 25px;width: 160px;} 
.child_inner_mainpress_area img {height: 145px;width: 145px;}    
.get_quort_area_inner {width: 400px;}    
.get_court_child_one {margin-left: 0;width: 120px;}    
.get_court_child_two {width: 120px;}
.get_court_child_three {width: 120px;}    
.printing_press_area_img img {height: 275px;width: 290px;}    
    
/*Mantance Page*/    
.man_headder_inner, .man_inner_service, .man_get_quort_area_inner, .man_inner_mainpress_area, .inner_handyman_area,  .inner_man_electrical, .inner_plumbing_area, .inner_man_painting, .inner_install_area, .man_inner_dubai_printing_press_area{width: 100%; min-width:410px;}
.man_get_quort_area_inner{width:410px;}    
.main_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 280px;}
.main_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 5px;padding-top: 10px;}
.main_child_hedder h4 {padding-top: 5px;padding-bottom: 0px;}
.main_child_hedder h3 {font-size: 14px;padding-bottom: 10px;padding-top: 10px;}    
.main_hed_btn {margin: 10px auto 0;}
.main_hed_btn a {font-size: 18px;padding: 10px 20px;}   
.man_child_service_img, .child_handyman_img, .child_man_electrical_img, .child_plumbing_img, .child_man_painting_img, .child_install_img {width: 310px; float: none; margin: 0 auto;}  
.man_child_service_img img, .child_handyman_img img, .child_man_electrical_img img, .child_plumbing_img img, .child_man_painting_img img, .child_install_img img {height: 210px;
width: 280px;} 
.man_child_service_txt, .child_handyman_txt, .child_man_electrical_txt, .child_man_painting_txt, .child_install_txt, .child_handyman_txt, .child_plumbing_txt, .child_man_painting_txt   {float: none;
margin: 0 auto;
min-width: 390px;
width: 90%;} 
.man_get_court_child_one, .man_get_court_child_two, .man_get_court_child_three  {float: left;margin: 0 auto;width: 130px;}
.man_child_inner_mainpress_area {float: none;
margin: 0 auto;
width: 190px;} 
.man_icon_boot {margin-left: auto;}   
.child_man_electrical_img { margin-right: auto;}
.child_man_painting_img {margin-right: auto;}     
/*Cleaning*/
.cleaning_headder_inner {width: 410px;} 
.cleaning_child_hedder {float: none;
margin: 35px auto;
padding: 10px;
width: 380px;
height: 295px;}      
.cleaning_child_hedder h1 {font-size: 25px;line-height: 29px;padding-bottom: 0;}
.cleaning_child_hedder h4 {padding-top: 12px;}  
.cleaning_inner_mainpress_area {width: 410px;}  
.cleaning_child_inner_mainpress_area {float: none;margin: 10px auto;width: 270px;}    
.cleaning_child_hedder h3 {font-size: 14px;padding-bottom: 16px;width: 375px;}    
.clearing_hed_btn {height: 47px;margin: 0 auto 0 70px;width: 251px;}
.clearing_hed_btn a {font-size: 14px;padding: 11px 18px;}    
.printing_dubai_btn {height: 40px;width: 225px;}
.printing_dubai_btn a {padding: 7px 25px;font-size: 18px;} 
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3 {margin-top: 10px;}   
.man_get_quort_area_inner.photog {width: 420px;}
.man_get_quort_area_inner.photog .man_get_court_child_one {margin-left: 0px;}   
.man_get_quort_area_inner h2 {font-size: 25px;}   
.man_get_quort_btn {width: 180px;height: 40px;}  
.man_printing_dubai_btn {width: 210px;height: 40px;}     
.man_get_quort_btn a, .man_printing_dubai_btn a {font-size: 18px;padding: 7px 22px;}  
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3 {margin-top: 10px;padding: 0 10px;font-size: 18px;}
#pest_header .headesr_slide_text {padding: 15px;width: 420px;} 
.headesr_slide_text h3{margin: 9px 0 12px;}   
.man_get_quort_area_inner, #pest_quort .new_get_quort_area_inner {width: 420px;}    
#pest_quort .new_get_court_child_one, #pest_quort .new_get_court_child_two, #pest_quort .new_get_court_child_three {width: 130px;padding: 0;margin-left: 0;} 
#pest_quort .new_get_court_child_one h1, #pest_quort .new_get_court_child_two h1, #pest_quort .new_get_court_child_three h1 {border: 3px solid #ffffff;padding: 7px 21px;text-align: center;}    
.inner_quort_area a.button {font-size: 16px;width: 210px;}
#wedding_header .headesr_slide_text h4 {padding-top: 5px;}    
#wedding_quort .new_get_court_child_one, #wedding_quort .new_get_court_child_three {margin-left: 0; width: 130px;}  
#wedding_quort .new_get_court_child_two {width: 130px;}    
#florists_quort .new_get_court_child_one {margin-left: 0;width: 130px;}   
.new_get_court_child_two, #wedding_quort .new_get_court_child_two, #event_quort .new_get_court_child_two {width: 130px;} 
#florists_quort .new_get_court_child_three {margin-left: 0;width: 130px;} 
.new_get_court_child_one, #wedding_quort .new_get_court_child_one, #event_quort .new_get_court_child_one {margin-left: 0;width: 130px;}  
.new_get_court_child_three, #wedding_quort .new_get_court_child_three, #event_quort .new_get_court_child_three {width: 130px;margin-left: 0;} 
.man_inner_dubai_printing_press_area h3, .inner_dubai_printing_press_area h3, #white.get_quort_area .inner_quort_area p, .inner_quort_area p {margin-bottom: 0;margin-top: 0;}  
.headesr_slide_text h1 {font-size: 25px; padding-top: 5px;}    
#event_quort .new_get_quort_area_inner {width: 420px;}   
#exhi_quort .new_get_quort_area_inner {width: 420px;}
#exhi_quort .new_get_court_child_one, #get_quort .new_get_court_child_one {margin-left: 0;width: 130px;}  
.get_court_child_two, .man_get_court_child_two, #pest_quort .new_get_court_child_two, #exhi_quort .new_get_court_child_two, #get_quort .new_get_court_child_two {width: 130px;}
.get_court_child_three, .man_get_court_child_three, #pest_quort .new_get_court_child_three, #exhi_quort .new_get_court_child_three, #get_quort .new_get_court_child_three {width: 130px;margin-left: 0;}  
 
    
}

/** Vinay work start here **/


/* ==========================================================================
   Medium Layout: 1280px.
   ========================================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
#ac_pc, #common_circel_area .inner_circel, #hvac_system .inner_hvac, #ac_header .header_slider, #split_pc, #portable_area, #air_coolers_area, #mist_area, #getquort .inner_area, #attest_header .header_slider, #attast_pc, #marriage_cer, #birth_certificate, #child_sponsorship, #education_attestation, #translation_services, #babysitters_header .header_slider, #babysitters_pc, #child_saifet, #child_saifet, #engage_child, #babysitter_changing, #meal_protection, #putting_child, #assist_chores, #pc_repair_header .header_slider, #repair_pc, #repair_and_fix, #data_updratadion, #virus_protection, #setup_cp, #data_takeover, #edulera_header .header_slider, #edu_ler_pc, #edu_totoring, #music_lessons, #dance_leasson, #art_printing, #language_curce, #assist_chores, #moving_header .header_slider, #storage_move, #domestic_moving, #inter_moving, #mov_pac_ser, #storage_ser, #presonal_trainer .header_slider, #personal_treaine_pc, #one_one_focus, #body_assessment, #personalized_pero, #exercise_fit_rut, #nutrition_manage, #rehabi_injury, #pet_header .header_slider, #personal_pet_pc, #gromming_image, #per_setting, #dog_traning, #kennal_serve, #dog_walker, #beauty_header .header_slider, #beauty_service, #hair_styleing, #make_up_service, #henna_service, #per_styling, #sports_header .header_slider, #sports_swi_pc, #swimming_lessons, #cricket_lesson, #football_service, #tennis_lesson, #basketball_less{width: 970px;}
    
#common_quort_area .inner_quort.attastation, #common_quort_area .inner_quort.education {width: 800px;} 
#common_quort_area .inner_quort.attastation .child_quort, #common_quort_area .inner_quort.education .child_quort {width: 230px;}  
#common_circel_area .inner_circel .comm_four .child_circle {width: 235px;} 
    
#ac_pc .left_text { width: 580px;} 
#hvac_system .left_text {margin-top: 20px;width: 635px;}
#split_pc .left_text {width: 600px;}  
#portable_area .left_text {width: 655px;}
#air_coolers_area .left_text {width: 605px;}    
#mist_area .left_text {width: 695px;} 
#attast_pc .left_text {width: 588px;}  
#marriage_cer .left_text {width: 585px;}
#birth_certificate .left_text {width: 636px;} 
#child_sponsorship .left_text {width: 620px;}  
#education_attestation .left_text {width: 595px;}
#translation_services .left_text {width: 635px;}   
#babysitters_pc .left_text {width: 585px;} 
#child_saifet .left_text {width: 685px;}   
#child_saifet .right_img {width: 270px;}  
#engage_child .left_img {width: 190px;}
#engage_child .left_text {width: 745px;}
#babysitter_changing .right_img {width: 240px;}    
#babysitter_changing .left_text {width: 715px;}  
#meal_protection .left_img {width: 250px;} 
#meal_protection .left_text {width: 690px;} 
#putting_child .right_img {width: 160px;}
#putting_child .left_text {width: 790px;} 
#assist_chores .left_img {width: 330px;} 
#assist_chores .left_text {width: 618px;}
#repair_pc .left_text {width: 585px;}
#repair_and_fix .left_text {width: 680px;}    
#data_updratadion .left_text {width: 605px;} 
#virus_protection .left_text {width: 610px;}
#setup_cp .left_text {width: 680px;}    
#data_takeover .left_text {width: 635px;}
    
#edu_ler_pc .left_img, #edu_totoring .right_img, #music_lessons .left_img, #art_printing .left_img, #language_curce .right_img, #personal_treaine_pc .left_img,  {float: none;height: 315px;margin: 0 auto;width: 348px;}
#edu_ler_pc .left_text, #edu_totoring .left_text, #music_lessons .left_text, #art_printing .left_text, #language_curce .left_text, #personal_treaine_pc .left_text,  {float: none;margin: 5px auto;width: 950px;}   
#dance_leasson .left_text {margin-top: 0px;width: 635px;}   
#dance_leasson .right_img, #beauty_service .left_img, #hair_styleing .right_img, #make_up_service .left_img, #henna_service .right_img, #per_styling .left_img {width: 310px;} 
    
#storage_move .left_img, #domestic_moving .right_img, #inter_moving .left_img, #mov_pac_ser .right_img, #storage_ser .left_img,  #beauty_service .left_img, #hair_styleing .right_img, #make_up_service .left_img, #henna_service .right_img, #per_styling .left_img, #sports_swi_pc .left_img, #swimming_lessons .right_img, #cricket_lesson .left_img, #football_service .right_img, #tennis_lesson .left_img, #basketball_less .right_img {float: none;margin: 0 auto;width: 348px;}   
#storage_move .left_text, #domestic_moving .left_text, #inter_moving .left_text, .main_text_area_right_new .full_width, .main_text_area_left_new .full_width, #mov_pac_ser .left_text, #storage_ser .left_text, #beauty_service .left_text, #hair_styleing .left_text, #make_up_service .left_text, #henna_service .left_text, #per_styling .left_text, #sports_swi_pc .left_text, #swimming_lessons .left_text, #cricket_lesson .left_text, #football_service .left_text, #tennis_lesson .left_text, #basketball_less .left_text{float: none;margin: 0 auto;width: 900px;}   
    
#one_one_focus .left_text {width: 635px;}
#one_one_focus .right_img {width: 315px;}
#body_assessment .left_img {width: 200px;} 
#body_assessment .left_text {width: 740px;}   
#personalized_pero .left_text {width: 710px;} 
#exercise_fit_rut .left_img {width: 180px;}  
#nutrition_manage .left_text {width: 715px;}
#nutrition_manage .right_img {width: 240px;margin-top: 70px;} 
#rehabi_injury .left_img {width: 235px;}    
#rehabi_injury .left_text {width: 700px;}  
#personal_pet_pc .left_text {width: 580px;}    
#gromming_image .left_text {width: 610px;}    
#gromming_image .right_img {width: 334px;margin-top: 64px;} 
#per_setting .left_img {width: 290px;}  
#per_setting .left_text {width: 650px;} 
#dog_traning .left_text {margin-top: 0;width: 705px;}
#dog_walker .left_img {width: 215px;}
#dog_walker .left_text {width: 715px;}
#kennal_serve .left_text {width: 705px;}
#kennal_serve .right_img {margin-top: 20px;} 
    


    
    
    
    
    
    
}
/* ==========================================================================
   Tablet Layout: 768px. 
   ========================================================================== */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
#ac_pc, #common_circel_area .inner_circel, #hvac_system .inner_hvac, #ac_header .header_slider, #split_pc, #portable_area, #air_coolers_area, #mist_area, #getquort .inner_area, #common_quort_area .inner_quort, #common_circel_area .inner_circel .comm_three, #attest_header .header_slider, #attast_pc, #marriage_cer, #birth_certificate, #child_sponsorship, #education_attestation, #translation_services, #babysitters_header .header_slider, #babysitters_pc, #child_saifet, #child_saifet, #engage_child, #babysitter_changing, #meal_protection, #putting_child, #assist_chores, #pc_repair_header .header_slider, #repair_pc, #repair_and_fix, #data_updratadion, #virus_protection, #setup_cp, #data_takeover, #edulera_header .header_slider, #edu_ler_pc, #edu_totoring, #music_lessons, #dance_leasson, #art_printing, #language_curce, #assist_chores, #moving_header .header_slider, #storage_move, #domestic_moving, #inter_moving, #mov_pac_ser, #storage_ser, #presonal_trainer .header_slider, #personal_treaine_pc, #one_one_focus, #body_assessment, #personalized_pero, #exercise_fit_rut, #nutrition_manage, #rehabi_injury, #pet_header .header_slider, #personal_pet_pc, #gromming_image, #per_setting, #dog_traning, #kennal_serve, #dog_walker, #beauty_header .header_slider, #beauty_service, #hair_styleing, #make_up_service, #henna_service, #per_styling, #sports_header .header_slider, #sports_swi_pc, #swimming_lessons, #cricket_lesson, #football_service, #tennis_lesson, #basketball_less {width: 720px;} 

#common_quort_area .inner_quort.attastation, #common_quort_area .inner_quort.education {width: 720px;} 
#common_quort_area .inner_quort.attastation .child_quort, #common_quort_area .inner_quort.education .child_quort {width: 205px;}    
    
#common_quort_area .inner_quort .child_quort {width: 205px;}    
#common_circel_area .inner_circel .child_circle {width: 235px;}
#common_circel_area .inner_circel .comm_two {width: 470px;}    
    
#ac_pc .left_text, #hvac_system .left_text, #split_pc .left_text, #portable_area .left_text, #air_coolers_area .left_text, #mist_area .left_text, #attast_pc .left_text, #marriage_cer .left_text, #birth_certificate .left_text, #child_sponsorship .left_text, #education_attestation .left_text, #translation_services .left_text, #babysitters_pc .left_text, #child_saifet .left_text, #engage_child .left_text, #babysitter_changing .left_text, #meal_protection .left_text, #putting_child .left_text, #assist_chores .left_text, #repair_pc .left_text, #repair_and_fix .left_text, #data_updratadion .left_text, #virus_protection .left_text, #setup_cp .left_text, #data_takeover .left_text, #edu_ler_pc .left_text, #edu_totoring .left_text, #music_lessons .left_text, #art_printing .left_text, #language_curce .left_text, #dance_leasson .left_text, #storage_move .left_text, #domestic_moving .left_text, #inter_moving .left_text, .main_text_area_right_new .full_width, .main_text_area_left_new .full_width, #mov_pac_ser .left_text, #storage_ser .left_text, #personal_treaine_pc .left_text, #body_assessment .left_text, #personalized_pero .left_text, #nutrition_manage .left_text,#rehabi_injury .left_text, #one_one_focus .left_text, #exercise_fit_rut .left_text, #personal_pet_pc .left_text, #gromming_image .left_text, #per_setting .left_text, #dog_traning .left_text, #dog_walker .left_text, #kennal_serve .left_text, #beauty_service .left_text, #hair_styleing .left_text, #make_up_service .left_text, #henna_service .left_text, #per_styling .left_text, #sports_swi_pc .left_text, #swimming_lessons .left_text, #cricket_lesson .left_text, #football_service .left_text, #tennis_lesson .left_text, #basketball_less .left_text{float: none; margin: 5px auto; width: 720px;} 
    
#ac_pc .left_img, #hvac_system .right_img, #split_pc .left_img, #portable_area .right_img, #air_coolers_area .left_img, #mist_area .right_img, #attast_pc .left_img, #marriage_cer .right_img, #birth_certificate .left_img, #child_sponsorship .right_img, #education_attestation .left_img, #translation_services .right_img, #engage_child .left_img, #child_saifet .right_img, #engage_child .left_img , #babysitter_changing .right_img, #meal_protection .left_img, #putting_child .right_img, #assist_chores .left_img, #repair_pc .left_img, #repair_and_fix .right_img, #data_updratadion .left_img, #virus_protection .right_img, #setup_cp .left_img, #data_takeover .right_img, #edu_ler_pc .left_img, #edu_totoring .right_img, #music_lessons .left_img, #art_printing .left_img, #language_curce .right_img, #dance_leasson .right_img, #storage_move .left_img, #domestic_moving .right_img, #inter_moving .left_img, #mov_pac_ser .right_img, #storage_ser .left_img, #personal_treaine_pc .left_img, #one_one_focus .right_img, #body_assessment .left_img, #exercise_fit_rut .left_img, #nutrition_manage .right_img, #rehabi_injury .left_img,#personalized_pero .right_img, #nutrition_manage .right_img, #personal_pet_pc .left_img, #gromming_image .right_img, #per_setting .left_img, #dog_traning .right_img, #dog_walker .left_img, #kennal_serve .right_img, #beauty_service .left_img, #hair_styleing .right_img, #make_up_service .left_img, #henna_service .right_img, #per_styling .left_img, #sports_swi_pc .left_img, #swimming_lessons .right_img, #cricket_lesson .left_img, #football_service .right_img, #tennis_lesson .left_img, #basketball_less .right_img{float: none;margin: 0 auto; width: 400px;}   
    
#common_circel_area .inner_circel .comm_four .child_circle {width: 175px;}    
#common_circel_area .inner_circel .comm_four .child_circle img{height: 150px;width: 150px;}    
 
    
}
/* ==========================================================================
   Mobile Layout: 320px.
   ========================================================================== */
@media only screen and (max-width: 767px) { 
#ac_pc, #common_circel_area .inner_circel, #hvac_system .inner_hvac, #ac_header .header_slider, #split_pc, #portable_area, #air_coolers_area, #mist_area, #getquort .inner_area, #common_quort_area .inner_quort, #common_circel_area .inner_circel .comm_three, #attest_header .header_slider, #attast_pc, #marriage_cer, #birth_certificate, #child_sponsorship, #education_attestation, #translation_services, #babysitters_header .header_slider, #babysitters_pc, #child_saifet, #child_saifet, #engage_child, #babysitter_changing, #meal_protection, #putting_child, #assist_chores, #pc_repair_header .header_slider, #repair_pc, #repair_and_fix, #data_updratadion, #virus_protection, #setup_cp, #data_takeover, #edulera_header .header_slider, #edu_ler_pc, #edu_totoring, #music_lessons, #dance_leasson, #art_printing, #language_curce, #assist_chores, #moving_header .header_slider, #storage_move, #domestic_moving, #inter_moving, #mov_pac_ser, #storage_ser, #presonal_trainer .header_slider, #personal_treaine_pc, #one_one_focus, #body_assessment, #personalized_pero, #exercise_fit_rut, #nutrition_manage, #rehabi_injury, #pet_header .header_slider, #personal_pet_pc, #gromming_image, #per_setting, #dog_traning, #kennal_serve, #dog_walker, #beauty_header .header_slider, #beauty_service, #hair_styleing, #make_up_service, #henna_service, #per_styling, #sports_header .header_slider, #sports_swi_pc, #swimming_lessons, #cricket_lesson, #football_service, #tennis_lesson, #basketball_less {width: 280px;} 

#common_quort_area .inner_quort.attastation, #common_quort_area .inner_quort.education {width: 280px;} 
#common_quort_area .inner_quort.attastation .child_quort, #common_quort_area .inner_quort.education .child_quort {width: 109px;} 
    
#common_quort_area .inner_quort .child_quort {width: 109px;}    
#common_circel_area .inner_circel .child_circle {float: left;width: 90px;}
#common_circel_area .inner_circel .child_circle img{height: 80px;width: 80px;}
#common_circel_area .inner_circel .comm_two {width: 190px;}    
#common_quort_area .inner_quort h1.headers {font-size: 25px;}
#getquort .inner_area {margin: 20px auto;}    
    
#ac_pc .left_text, #hvac_system .left_text, #split_pc .left_text, #portable_area .left_text, #air_coolers_area .left_text, #mist_area .left_text, #attast_pc .left_text, #marriage_cer .left_text, #birth_certificate .left_text, #child_sponsorship .left_text, #education_attestation .left_text, #translation_services .left_text, #babysitters_pc .left_text, #child_saifet .left_text, #engage_child .left_text, #babysitter_changing .left_text, #meal_protection .left_text, #putting_child .left_text, #assist_chores .left_text, #repair_pc .left_text, #repair_and_fix .left_text, #data_updratadion .left_text, #virus_protection .left_text, #setup_cp .left_text, #data_takeover .left_text, #edu_ler_pc .left_text, #edu_totoring .left_text, #music_lessons .left_text, #art_printing .left_text, #language_curce .left_text, #dance_leasson .left_text, #storage_move .left_text, #domestic_moving .left_text, #inter_moving .left_text, .main_text_area_right_new .full_width, .main_text_area_left_new .full_width, #mov_pac_ser .left_text, #storage_ser .left_text, #personal_treaine_pc .left_text, #body_assessment .left_text, #personalized_pero .left_text, #nutrition_manage .left_text,#rehabi_injury .left_text, #one_one_focus .left_text, #exercise_fit_rut .left_text, #personal_pet_pc .left_text, #gromming_image .left_text, #per_setting .left_text, #dog_traning .left_text, #dog_walker .left_text, #kennal_serve .left_text, #beauty_service .left_text, #hair_styleing .left_text, #make_up_service .left_text, #henna_service .left_text, #per_styling .left_text, #sports_swi_pc .left_text, #swimming_lessons .left_text, #cricket_lesson .left_text, #football_service .left_text, #tennis_lesson .left_text, #basketball_less .left_text  {float: none; margin: 5px auto; width: 250px;} 
    
#ac_pc .left_img, #hvac_system .right_img, #split_pc .left_img, #portable_area .right_img, #air_coolers_area .left_img, #mist_area .right_img, #attast_pc .left_img, #marriage_cer .right_img, #birth_certificate .left_img, #child_sponsorship .right_img, #education_attestation .left_img, #translation_services .right_img, #engage_child .left_img, #child_saifet .right_img, #engage_child .left_img , #babysitter_changing .right_img, #meal_protection .left_img, #putting_child .right_img, #assist_chores .left_img, #babysitters_pc .left_img, #repair_pc .left_img, #repair_and_fix .right_img, #data_updratadion .left_img, #virus_protection .right_img, #setup_cp .left_img, #data_takeover .right_img, #edu_ler_pc .left_img, #edu_totoring .right_img, #music_lessons .left_img, #art_printing .left_img, #language_curce .right_img, #dance_leasson .right_img, #storage_move .left_img, #domestic_moving .right_img, #inter_moving .left_img, #mov_pac_ser .right_img, #storage_ser .left_img, #personal_treaine_pc .left_img, #one_one_focus .right_img, #body_assessment .left_img, #exercise_fit_rut .left_img, #nutrition_manage .right_img, #rehabi_injury .left_img,#personalized_pero .right_img, #nutrition_manage .right_img, #personal_pet_pc .left_img, #gromming_image .right_img, #per_setting .left_img, #dog_traning .right_img, #dog_walker .left_img, #kennal_serve .right_img, #beauty_service .left_img, #hair_styleing .right_img, #make_up_service .left_img, #henna_service .right_img, #per_styling .left_img, #sports_swi_pc .left_img, #swimming_lessons .right_img, #cricket_lesson .left_img, #football_service .right_img, #tennis_lesson .left_img, #basketball_less .right_img{float: none;margin: 0 auto; width: 250px;}     
    
#ac_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#ac_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#ac_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#ac_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}
    
#attest_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#attest_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#attest_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#attest_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}  
    
#getquort .inner_area p {font-size: 18px;}   
#getquort .inner_area a.button {font-size: 18px;padding: 10px 25px;}  
    
#common_circel_area .inner_circel .comm_four .child_circle {width: 138px;}    
#common_circel_area .inner_circel .comm_four .child_circle img{height: 100px; width: 100px;}    
    
    
#babysitters_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#babysitters_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#babysitters_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#babysitters_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}
       
#pc_repair_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#pc_repair_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#pc_repair_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#pc_repair_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;} 
       
#edulera_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#edulera_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#edulera_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#edulera_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}  
       
#moving_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#moving_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#moving_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#moving_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}  
       
#presonal_trainer .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#presonal_trainer .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#presonal_trainer .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#presonal_trainer .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;} 
       
#pet_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#pet_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#pet_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#pet_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;} 
       
#beauty_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#beauty_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#beauty_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#beauty_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}  
       
#sports_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 250px;}   
#sports_header .headesr_slide_text h1 {font-size: 25px;line-height: 1.3em;} 
#sports_header .headesr_slide_text h3 {padding-bottom: 10px;padding-top: 5px;}    
#sports_header .headesr_slide_text a.button {padding: 10px 15px;font-size: 14px;}   
    
 
    
}
/* ==========================================================================
   Wide Mobile Layout: 480px.
   ========================================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
#ac_pc, #common_circel_area .inner_circel, #hvac_system .inner_hvac, #ac_header .header_slider, #split_pc, #portable_area, #air_coolers_area, #mist_area, #getquort .inner_area, #common_quort_area .inner_quort, #common_circel_area .inner_circel .comm_three, #attest_header .header_slider, #attast_pc, #marriage_cer, #birth_certificate, #child_sponsorship, #education_attestation, #translation_services, #babysitters_header .header_slider, #babysitters_pc, #child_saifet, #child_saifet, #engage_child, #babysitter_changing, #meal_protection, #putting_child, #assist_chores, #pc_repair_header .header_slider, #repair_pc, #repair_and_fix, #data_updratadion, #virus_protection, #setup_cp, #data_takeover, #edulera_header .header_slider, #edu_ler_pc, #edu_totoring, #music_lessons, #dance_leasson, #art_printing, #language_curce, #assist_chores, #moving_header .header_slider, #storage_move, #domestic_moving, #inter_moving, #mov_pac_ser, #storage_ser, #presonal_trainer .header_slider, #personal_treaine_pc, #one_one_focus, #body_assessment, #personalized_pero, #exercise_fit_rut, #nutrition_manage, #rehabi_injury, #pet_header .header_slider, #personal_pet_pc, #gromming_image, #per_setting, #dog_traning, #kennal_serve, #dog_walker, #beauty_header .header_slider, #beauty_service, #hair_styleing, #make_up_service, #henna_service, #per_styling, #sports_header .header_slider, #sports_swi_pc, #swimming_lessons, #cricket_lesson, #football_service, #tennis_lesson, #basketball_less{width: 420px;} 

#common_quort_area .inner_quort.attastation, #common_quort_area .inner_quort.education {width: 420px;} 
#common_quort_area .inner_quort.attastation .child_quort, #common_quort_area .inner_quort.education .child_quort {width: 109px;}
    
#common_quort_area .inner_quort .child_quort {width: 109px;}    
#common_circel_area .inner_circel .child_circle {float: left;width: 135px;}
#common_circel_area .inner_circel .child_circle img{height: 100px; width: 100px;}
#common_circel_area .inner_circel .comm_two {width: 270px;}
#getquort .inner_area a.button {font-size: 18px;padding: 15px 25px;}    
    
#ac_pc .left_text, #hvac_system .left_text, #split_pc .left_text, #portable_area .left_text, #air_coolers_area .left_text, #mist_area .left_text, #attast_pc .left_text, #marriage_cer .left_text, #birth_certificate .left_text, #child_sponsorship .left_text, #education_attestation .left_text, #translation_services .left_text, #babysitters_pc .left_text, #child_saifet .left_text, #engage_child .left_text, #babysitter_changing .left_text, #meal_protection .left_text, #putting_child .left_text, #assist_chores .left_text, #repair_pc .left_text, #repair_and_fix .left_text, #data_updratadion .left_text, #virus_protection .left_text, #setup_cp .left_text, #data_takeover .left_text, #edu_ler_pc .left_text, #edu_totoring .left_text, #music_lessons .left_text, #art_printing .left_text, #language_curce .left_text, #dance_leasson .left_text, #storage_move .left_text, #domestic_moving .left_text, #inter_moving .left_text, .main_text_area_right_new .full_width, .main_text_area_left_new .full_width, #mov_pac_ser .left_text, #storage_ser .left_text, #personal_treaine_pc .left_text, #body_assessment .left_text, #personalized_pero .left_text, #nutrition_manage .left_text,#rehabi_injury .left_text, #one_one_focus .left_text, #exercise_fit_rut .left_text, #personal_pet_pc .left_text, #gromming_image .left_text, #per_setting .left_text, #dog_traning .left_text, #dog_walker .left_text, #kennal_serve .left_text, #beauty_service .left_text, #hair_styleing .left_text, #make_up_service .left_text, #henna_service .left_text, #per_styling .left_text, #sports_swi_pc .left_text, #swimming_lessons .left_text, #cricket_lesson .left_text, #football_service .left_text, #tennis_lesson .left_text, #basketball_less .left_text{float: none; margin: 5px auto; width: 410px;} 
    
#ac_pc .left_img, #hvac_system .right_img, #split_pc .left_img, #portable_area .right_img, #air_coolers_area .left_img, #mist_area .right_img, #attast_pc .left_img, #marriage_cer .right_img, #birth_certificate .left_img, #child_sponsorship .right_img, #education_attestation .left_img, #translation_services .right_img, #engage_child .left_img, #child_saifet .right_img, #engage_child .left_img , #babysitter_changing .right_img, #meal_protection .left_img, #putting_child .right_img, #assist_chores .left_img, #repair_pc .left_img, #repair_and_fix .right_img, #data_updratadion .left_img, #virus_protection .right_img, #setup_cp .left_img, #data_takeover .right_img, #edu_ler_pc .left_img, #edu_totoring .right_img, #music_lessons .left_img, #art_printing .left_img, #language_curce .right_img, #dance_leasson .right_img, #storage_move .left_img, #domestic_moving .right_img, #inter_moving .left_img, #mov_pac_ser .right_img, #storage_ser .left_img, #personal_treaine_pc .left_img, #one_one_focus .right_img, #body_assessment .left_img, #exercise_fit_rut .left_img, #nutrition_manage .right_img, #rehabi_injury .left_img,#personalized_pero .right_img, #nutrition_manage .right_img, #personal_pet_pc .left_img, #gromming_image .right_img, #per_setting .left_img, #dog_traning .right_img, #dog_walker .left_img, #kennal_serve .right_img, #beauty_service .left_img, #hair_styleing .right_img, #make_up_service .left_img, #henna_service .right_img, #per_styling .left_img, #sports_swi_pc .left_img, #swimming_lessons .right_img, #cricket_lesson .left_img, #football_service .right_img, #tennis_lesson .left_img, #basketball_less .right_img{float: none;margin: 0 auto; width: 400px;}     
    
#ac_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#ac_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#ac_header .headesr_slide_text a.button {padding: 15px 25px;} 
#getquort .inner_area a.button {font-size: 18px;padding: 15px 25px;}
    
#attest_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#attest_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#attest_header .headesr_slide_text a.button {padding: 15px 25px;} 
    
#babysitters_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#babysitters_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#babysitters_header .headesr_slide_text a.button {padding: 15px 25px;} 
    
#pc_repair_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#pc_repair_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#pc_repair_header .headesr_slide_text a.button {padding: 15px 25px;}
    
#edulera_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#edulera_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#edulera_header .headesr_slide_text a.button {padding: 15px 25px;} 
    
#moving_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#moving_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#moving_header .headesr_slide_text a.button {padding: 15px 25px;} 
    
#presonal_trainer .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#presonal_trainer .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#presonal_trainer .headesr_slide_text a.button {padding: 15px 25px;}
    
#pet_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#pet_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#pet_header .headesr_slide_text a.button {padding: 15px 25px;} 
    
#beauty_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#beauty_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#beauty_header .headesr_slide_text a.button {padding: 15px 25px;}
    
#sports_header .headesr_slide_text {margin-bottom: 10px;margin-top: 10px;padding: 10px;width: 400px;}   
#sports_header .headesr_slide_text h1 {font-size: 30px;line-height: 1.3em;}    
#sports_header .headesr_slide_text a.button {padding: 15px 25px;} 
    
    
#common_circel_area .inner_circel .comm_four .child_circle {width: 195px;}   
#common_circel_area .inner_circel .comm_four .child_circle img{height: 150px; width: 150px;}   

}