
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Dear Admin,</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">MR/MRs {{ name }} and his/her Email ID is {{ email }} has Provided his contact Details to BusinessBid</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">
<span>
----------------------------------------------------------------------------------------------------------------------------------------
	<span>Mobile: {{ mobile }}</span>
	<span>Usertype: {% if usertype == 1 %} Others {% elseif usertype == 2 %} Customer {% else %} Vendor {% endif %}</span>
	<span>Message: {{ message }}</span>
	
</span>
</p>



