<p>
    <span  style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%"><b>Dear Admin</b> ,</span>
    <span >
        <span>
         
            <p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Please note that a customer has written a review on a vendor.</p>
            <p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Please log into action the review accordingly.</p>
            
        </span>
        <br>
        Regards
        <br>
        BusinessBid
       
    </span>
</p>
