

{{ leadcount }}
<div>
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">Hi {{ name }} </p>
	<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; float:left; margin-bottom:10px; width:100%">A total of {{ credit }} credits have been refunded to your account towards {{ categoryname }} category.</p>
</div>