{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>Add Category</h1></div>
<div class="edit-user-block">
<div class="form_wrapper col-md-6">
	{{ form_start(form) }}
			{{ form_errors(form) }}
<div>
    <div>   {{ form_errors(form.segmentid) }} </div>
	<div>	{{ form_errors(form.category) }} </div>
	<div>	{{ form_errors(form.price) }} </div>
	<div>	{{ form_errors(form.status) }} </div>
</div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	<div>
		<div class="control-group">{{ form_label(form.segmentid) }} <span>*</span></div> <div class="control">{{ form_widget(form.segmentid) }}</div>
		<div class="control-group">{{ form_label(form.suite) }} <span>*</span></div>  <div class="control">{{ form_widget(form.suite) }}</div>
		<div class="control-group">{{ form_label(form.category) }} <span>*</span></div>  <div class="control">{{ form_widget(form.category) }}</div>
		<div class="control-group">{{ form_label(form.description) }}</div>  <div class="control">{{ form_widget(form.description) }}</div>
		<div class="control-group">{{ form_label(form.price) }} <span>*</span></div>  <div class="control">{{ form_widget(form.price) }}</div>
		<div class="control-group">{{ form_label(form.status) }} <span>*</span></div>  <div class="control">{{ form_widget(form.status) }}</div>
		{% if form.registrationfee is defined %}
		<div class="control-group">{{ form_label(form.registrationfee) }} <span>*</span></div>  <div class="control">{{ form_widget(form.registrationfee) }}</div>
		{% endif %}
		<div class="control-group"><div class="sameline">{{ form_rest(form) }}</div><div class="sameline"><a class="btn btn-warning" href="javascript:window.history.go(-1)">Cancel</a></div></div>
	</div>
</div>
</div>
</div>
{% endblock %}
