{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>Add Sub Category</h1></div>
<div class="edit-user-block">
<div class="form_wrapper col-md-6">
		{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}


	{{ form_start(form) }}
		{{ form_errors(form) }}
<div>
    <div>   {{ form_errors(form.category) }} </div>
	<div>	{{ form_errors(form.subcategory) }} </div>
	<div>	{{ form_errors(form.description) }} </div>
</div>
<div>
		<div class="control-group">{{ form_label(form.category) }} : </div><div class="control"> {{ form_widget(form.category) }}</div>
		<div class="control-group">{{ form_label(form.subcategory) }}<span class="req">*</span> : </div><div class="control"> {{ form_widget(form.subcategory) }}</div>
		<div class="control-group">{{ form_label(form.description) }} : </div> <div class="control">{{ form_widget(form.description) }}</div>
		<div class="control-group"><div class="sameline">{{ form_rest(form) }}</div>
		<div class="sameline"> <a class="btn btn-warning" href="javascript:window.history.go(-1)">Cancel</a> </div></div>

</div>
</div>
</div>
</div>	
	
{% endblock %}

