{% set pid = app.session.get('pid') %}
{% extends pid == 1 ? '::base_admin.html.twig' : '::base.html.twig' %}



{% block maincontent %}
<script src="{{ asset('js/rating.js') }}"></script>
<link type="text/css" rel="stylesheet" href="{{ asset('css/rating.css') }}" media="all">

<script type="text/javascript">
$(document).ready(function() {
    $('#rate1').rating('form_ratework','ratingpost.php', {maxvalue:5});
    $('#rate2').rating('form_rateservice','ratingpost.php', {maxvalue:5});
    $('#rate3').rating('form_ratemoney','ratingpost.php', {maxvalue:5});
    $('#rate4').rating('form_ratebusiness','ratingpost.php', {maxvalue:5});

    $('#notchoose').hide();
    $('#ratings').hide();
    $('#form_businessknow').on('change load',function(){
        var value = $( "#form_businessknow option:selected" ).text();
        if(value=="I hired them")
        {
            $('#notchoose').hide();
            $('#ratings').show();
        }
        else if(value=="I spoke with them but did not hire")
        {

            $('#notchoose').show();
            $('#ratings').hide();
        }
        else
        {
                $('#notchoose').hide();
                $('#ratings').hide();
        }
    });

    $.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;

        // Create stars holder
        var $span = $('<span />').width(size);

        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

});
</script>

<div class="container review-container">
<!--<div class="breadcrum">Home / Vendor Review / Netiapps Software</div>-->

<div class="col-md-8 review-container-left">
<div><h1>REVIEW </h1></div>
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>
<div class="form_wrapper ">

    {{ form_start(form) }}
<div>
        <div class="control-group"><label>{{ form_label(form.customer_name) }}</label></div><div class="control">{{ form_widget(form.customer_name) }}</div>
        <div class="control-group"><label>{{ form_label(form.vendor) }}</label></div><div class="control">{{ form_widget(form.vendor) }}</div>
        <div class="control-group"><label>{{ form_label(form.businessknow) }}</label></div><div class="control">{{ form_widget(form.businessknow) }}</div>
        <div class="control-group"><label>{{ form_label(form.businessrecomond) }}</label></div><div class="control">{{ form_widget(form.businessrecomond) }}</div>
        <div class="control-group"><label>{{ form_label(form.servicesummary) }}</label></div><div class="control">{{ form_widget(form.servicesummary) }}</div>
        <!--<div class="control-group"><label>{# {{ form_label(form.showname) }} #}</label></div><div class="control">{# {{ form_widget(form.showname) }} #}</div>-->
        <div id="notchoose"><h2>{{ form_label(form.notchoose) }}</h2><div class="control notchoose">{{ form_widget(form.notchoose) }}</div></div>
        <div class="control-group"><label>Service Experience</label></div><div class="control">{{ form_widget(form.serviceexperience) }}</div>
<div id="ratings">
            <div>
                <div class="control-group"><label>How would you rate work quality?</label></div>
                <div id="rate1" class="rating">&nbsp;</div>

            </div>
            <div>
                <div class="control-group"><label>How would you rate customer service?</label></div>
                <div id="rate2" class="rating">&nbsp;</div>

            </div>
            <div>
                <div class="control-group"><label>How would you rate this vendor as value for money?</label></div>
                <div id="rate3" class="rating">&nbsp;</div>

            </div>
            <div>
                <div class="control-group"><label>What is your overall rating of this business?</label></div>
                <div id="rate4" class="rating">&nbsp;</div>

            </div>

</div>
</div>
<div class="note">Note: All fields are mandatory!</div>
    {{ form_rest(form) }}
</div>
</div>
<div class="col-md-4 review-container-right">
    {# <h4>Related Reviews</h4>
    <div class="relatedreview">
        <h2>Review of White Dove Woodworking, LLC</h2>
        <p><span class="stars">2</span></p>
        <p>Review by Cal G.</p>
        <p>Project: Construct Built-In Furniture
        The woodworker sets very high standards for his products and definitely has a unique style of his own! High quality craftsmanship.</p>
    </div>
    <div class="relatedreview">
        <h2>Review of White Dove Woodworking, LLC</h2>
        <p><span class="stars">3</span></p>
        <p>Review by Cal G.</p>
        <p>Project: Construct Built-In Furniture
        The woodworker sets very high standards for his products and definitely has a unique style of his own! High quality craftsmanship.</p>
    </div>
    <div class="relatedreview">
        <h2>Review of White Dove Woodworking, LLC</h2>
        <p><span class="stars">4</span></p>
        <p>Review by Cal G.</p>
        <p>Project: Construct Built-In Furniture
        The woodworker sets very high standards for his products and definitely has a unique style of his own! High quality craftsmanship.</p>
    </div> #}
</div>
</div>
{% endblock %}







