{% extends '::base_admin.html.twig' %}

{% block pageblock %}
{# <script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="//cdn.datatables.net/plug-ins/9dcbecd42ad/api/fnFilterClear.js"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#example').dataTable({
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
        "sAjaxSource": "{{ asset('reports/categories_reports.php') }}"
    }).columnFilter({
        aoColumns: [
        {
            sSelector: "#categoryFilter"
        }, {
            sSelector: "#descriptionFilter"
        }, {
            type: 'number-range',
            sSelector: '#priceFilter',
            sRangeFormat: "<label>Amount</label> {from} {to}"
        }]
    });
});
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Categories</h1></div>

<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
<div class="admin_filter report-filter">	
	<div class="col-md-4 side-clear" id="categoryFilter"></div>
    <div class="col-md-3 clear-right" id="descriptionFilter"></div>
    <div class="col-md-5 clear-right" id="priceFilter"></div>
	<div class="col-md-5 clear-right action-links">
	<span class="export-all"><a href="{{ path('b_bids_b_bids_exportall_categories') }}" class="form_submit">Export All</a></span>
	{# <span class="export-selected"><a href="#" class="form_submit" onclick="fnResetFilters();">Selected export to excel</a></span> #}
	<span class="reset"><a href="#" class="form_submit" onclick="fnResetFilters();">Reset</a></span>
	</div>
</div>
</div>	
			
<div class="latest-orders">
		<table id="example">
			<thead>
				<tr>
					<th>Category Name</th>
					<th>Description</th>
					<th>Price (AED)</th>
				</tr>
		</thead>
		<tbody>
			<tr>
				<td colspan="3" class="dataTables_empty">Loading data from server</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
                <th>Category Name</th>
                <th>Description</th>
                <th>Price (AED)</th>
            </tr>
		</tfoot>
	</table>
</div>
</div>

</div>
{% endblock %}
