{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script type="text/javascript">

 function deletefunc(catid, catname){
	var con = confirm("Are you sure to delete  "+catname+ "? The record once deleted cannot be retrived back!");
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_delete_category', {'categoryid' : "categoryID"}) }}";
		var urlset = url.replace('categoryID', catid);
			window.open(urlset,"_self");
		return true;
	}else{
		return false;
	}
 }
 
 function statusfunc(categoryID,catname,status){
 
			
			var redirUrl = "{{ path('b_bids_b_bids_admin_enable_category', {'catid' : "categoryID",'stat' : "status"})}}";
			redirUrl = redirUrl.replace('categoryID', categoryID);
			redirUrl = redirUrl.replace('status', status);
			window.open(redirUrl,"_self");
		 
 }
</script>
<div class="inner_container container">
<div class=""><h3>Category List <a class="btn btn-success pull-right"  href="{{ path('b_bids_b_bids_admin_add_category') }}">Add Category</a></h3> </div>
	<div class="segment-content row">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	<div class="latest-orders">
	<table>
        <thead>
         <tr>
            <th>Category Name</th>
            <th>Description</th>
            <th>Price (AED)</th>
            <th>Sub Links</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
         
	{% for category in categories %}
	 <tr>
		
		<td>{{ category.category }}</td>
		<td>{{ category.description }}</td>
		<td>{{ category.price }}</td>
		<td><a href="{{ path('b_bids_b_bids_admin_subcategories', {'categoryid' : category.id}) }}" >Subcategory</a> | <a href="{{ path('b_bids_b_bids_admin_keywords', {'categoryid' : category.id}) }}" >Keyword</a></td>
		<td>
		
	
		
		<a href="{{ path('b_bids_b_bids_admin_edit_category' , {'categoryid' : category.id }) }}" class="btn btn-warning"> Edit</a>
		<a href="#" onclick="deletefunc('{{ category.id }}', '{{ category.category }}')" class="btn btn-danger"> Delete</a>
		{% if(category.status==1) %}
		<a href="#" onclick="statusfunc('{{ category.id }}', '{{ category.category }}','0')" class="btn btn-danger">Disable</a>
		{% else %}
		<a href="#" onclick="statusfunc('{{ category.id }}', '{{ category.category }}','1')" class="btn btn-warning">Enable</a>
		{% endif %}
		</td>
	</tr>	
	{% endfor %}
	</tbody>
	</table>
	</div>
</div>

</div> 
{% endblock %}




