<html>
<p>
<b>
<span style="font-size:10.0pt;font-family:Helvetica,sans-serif"><b>Dear {{ name }},</b></span>
</b><br/>
<span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left"><strong>Your Email ID has been updated by admin.</p>
</span>
<span>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left"><strong>If you have any questions please feel free to contact our support center on <a style="color: #0099FF;">(04) 42 13 777</a>.</strong></P>
<br>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
<br>
BusinessBid</p>
</span>
</p>
</p>
</html>
