{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/datatable/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).on('click', '.myModalEnq',function(){$(".modal-body").html("Loading Data..... Please wait.");var a=$(this).attr("data-enq"),t="{{ path('b_bids_b_bids_form_extra_fields', {'id':'enq' } ) }}",d=t.replace("enq",a);$.ajax({url:d,success:function(a){$(".modal-body").html(a)}})});
$(document).ready(function() {
    $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
    $.datepicker.regional[""].changeMonth = true;
    $.datepicker.regional[""].changeYear = true;
    $.datepicker.setDefaults($.datepicker.regional['']);

    $('#jobList').dataTable({
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sEmptyTable": '',
            "sInfoEmpty": '',
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
        "sEmptyTable": "There are no records",
        "sAjaxSource": "{{ asset('reports/joblist.php') }}",
        "fnServerParams": function(aoData) {

        },
        "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            $(nRow).children().each(function(index, td) {
            	if(index == 7){
            		if ($(td).html() == 0) {
            			$(td).css("background-color", "#FFDE00");
            		}
            	}
            })

        }
    }).columnFilter({
        aoColumns: [{
            type: "date-range",
            sSelector: "#dateFilter",
            sRangeFormat: "<label>Date</label> {from} {to}"
        }, null, null, {
            type: 'select',
            values : {{ categoryList|json_encode()|raw }},
            sSelector: '#categoryFilter'
        }, null, {
            type: 'select',
            values: {{ cityList|json_encode()|raw }},
            sSelector: '#cityFilter'
        }, null, null,null]
    });
});
</script>
<script type="text/javascript">

 function deletefunc(enquiryid){
	var con = confirm('Are you sure to delete the Enquiry? The record once deleted cannot be retrived back!');
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_enquiry_delete',{'enquiryid': "ENQID"}) }}";
		var urlset = url.replace('ENQID', enquiryid);
		window.open(urlset,"_self");
		return true;
	}else{
		return false;
	}
 }
</script>
<div class="page-bg">
    <div class="container inner_container admin-dashboard">

<div class="page-title"><h1>JOB REQUESTS</h1></div>

<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
</div>

<div class="admin_filter report-filter">
    <div class="col-md-3 side-clear" id="dateFilter"></div>
    <div class="col-md-3" id="categoryFilter"></div>
    <div class="col-md-3" id="cityFilter"></div>
</div>
<div class="latest-orders">
	<table id="jobList">
		<thead>
		<tr>
			<th>Date Recieved</th>
			<th>Job Request Number</th>
			<th>Subject</th>
			<th>Category</th>
			<th>Description</th>
			<th>City</th>
			<th>Email</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		</thead>
		<tbody><tr><td colspan="9" class="dataTables_empty">Loading data from server... Please wait</td></tr></tbody>
		<tfoot>
		<tr>
			<th>Date Recieved</th>
			<th>Job Request Number</th>
			<th>Subject</th>
			<th>Category</th>
			<th>Description</th>
			<th>City</th>
			<th>Email</th>
			<th>Status</th>
			<th>Action</th>
		</tr>
		</tfoot>
	</table>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Additional Information</h4>
      </div>
      <div class="modal-body">
      </div>
    </div>
  </div>
</div>
{% endblock %}
