{% extends '::base_admin.html.twig' %}

{% block pageblock %}
{# <script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
    $.datepicker.regional[""].changeMonth = true;
    $.datepicker.regional[""].changeYear = true;
    $.datepicker.setDefaults($.datepicker.regional['']);
    $('#enquiryReports').dataTable({
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
     "sAjaxSource": "{{ asset('reports/enquiry_reports.php') }}",
        "fnServerParams": function(aoData) {
            if (aoData[36].value != '') {
                aoData[36].value = (aoData[36].value == 'Active') ? 1 : 2;
            }
        }
    }).columnFilter({
        aoColumns: [{
            type: "date-range",
            sSelector: "#dateFilter",
            sRangeFormat: "<label>Date</label> {from} {to}"

        }
        , {
            sSelector: "#jobnoFilter"
        }, {
            sSelector: "#subjectFilter"
        }, {

            type: 'select',

            values: {{ categories|json_encode|raw }},
            sSelector: "#categoryFilter"
        }, {
            sSelector: "#decriptionFilter"
        }, {
            type: 'select',
            values: ["Dubai", "Sharjah", "Abu Dhabi", "Ajman", "Fujairah", "Ras Al-Khaimah", "Umm Al-Quwain"],
            sSelector: '#cityFilter'
        }, {
            sSelector: "#emailFilter"
        }, {
            type: 'select',
            values: ["Active", "Inactive"],
            sSelector: '#statusFilter'
        }]
    });
});
</script>
<div class="page-bg">
    <div class="container inner_container admin-dashboard">
        <div class="page-title"><h1>Job Request Reports</h1></div>
        <div>
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-danger">{{ flashMessage }}</div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">{{ flashMessage }}</div>

            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('message') %}
                <div class="alert alert-success">{{ flashMessage }}</div>

            {% endfor %}
            <div>{{ form(form) }}</div>
            <div class="admin_filter report-filter" id="example2">
                <div class="col-md-3 side-clear" id="dateFilter"></div>
                <div class="col-md-2 clear-right" id="jobnoFilter"></div>
                <div class="col-md-2 clear-right" id="subjectFilter"></div>
                <div class="col-md-2 clear-right" id="categoryFilter"></div>
                <div class="col-md-2 clear-right" id="decriptionFilter"></div>
                <div class="col-md-2 side-clear med-space" id="cityFilter"></div>
                <div class="col-md-2 clear-right med-space" id="emailFilter"></div>
                <div class="col-md-2 med-space" id="statusFilter"></div>
                <div class="col-md-5 clear-right action-links space">
                    <span class="export-all"><a href="{{ path('b_bids_b_bids_exportall_jobrequest') }}" target="_blank" class="form_submit">Export All</a></span>
                    <span class="export-selected"><a href="#" class="form_submit" onclick="getSearchInputs();">Export Filtered Data</a></span>
                    <span class="reset"><a href="#" class="form_submit" onclick="fnResetFilters();">Reset</a></span>
                </div>
            </div>
        </div>
        <div class="latest-orders">
            <table id="enquiryReports"> <thead> <tr> <th>Date Created</th> <th>Job Request Number</th> <th>Subject</th> <th>Categories</th> <th>Description</th> <th>City</th> <th>Email</th> <th>Status</th> </tr></thead> <tbody> <tr> <td colspan="8" class="dataTables_empty">Loading data from server... Please wait.</td></tr></tbody> <tfoot> <tr> <th>Date Created</th> <th>Job Request Number</th> <th>Subject</th> <th>Categories</th> <th>Description</th> <th>City</th> <th>Email</th> <th>Status</th> </tr></tfoot> </table>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    function getSearchInputs () {
        var oTable = $('#enquiryReports').dataTable();
        var oSettings = oTable.fnSettings();
        var $form = document.forms["form"];
        $form.reset();
        var oForm = document.forms["form"].getElementsByTagName("input");
        var dateRange = '';
        if(($('#enquiryReports_range_from_0').val() != 'undefined') && ($('#enquiryReports_range_from_0').val() != '')) {
            dateRange = $('#enquiryReports_range_from_0').val() +'~';
            if($('#enquiryReports_range_to_0').val() != 'undefined')
                dateRange += $('#enquiryReports_range_to_0').val();
        }
        oForm[0].value = dateRange;
        oForm[1].value = oSettings.aoPreSearchCols[1].sSearch;
        oForm[2].value = oSettings.aoPreSearchCols[2].sSearch;
        oForm[3].value = oSettings.aoPreSearchCols[3].sSearch;
        oForm[4].value = oSettings.aoPreSearchCols[4].sSearch;
        oForm[5].value = oSettings.aoPreSearchCols[5].sSearch;
        oForm[6].value = oSettings.aoPreSearchCols[6].sSearch;

        if(oSettings.aoPreSearchCols[7].sSearch != '')
            oForm[7].value = (oSettings.aoPreSearchCols[7].sSearch == 'Active') ? 1 : 2;

        if((oForm[0].value =='') && (oForm[1].value =='') && (oForm[2].value =='') && (oForm[3].value =='') && (oForm[4].value =='') && (oForm[5].value =='') && (oForm[6].value =='') && (oForm[7].value ==''))
            alert('No filtered results');
        else
           $form.submit();
    }

    function fnResetFilters() {
    	$("input").val("");
    	$('div#categoryFilter').find('select option:eq(0)').prop('selected', true);
    	$('div#cityFilter').find('select option:eq(0)').prop('selected', true);
    	var table = $('#enquiryReports').dataTable();
        table.fnFilterClear();
    }
</script>
{% endblock %}
