{% extends '::base_admin.html.twig' %}

{% block pageblock %} 
<div class="container">
<div class="page-title"><h1>Credit Leads</h1></div>
<div class="edit-user-block">


<div class="form_wrapper col-md-6">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}


	{{ form_start(form) }}
		{{ form_errors(form) }}
<div>
   
	
	 
</div>
<div>
<div class="sameline">Crediting leads for {{ categoryname }} for {{ vendorname }} </div>
		
		 
		<div class="sameline">{{ form_label(form.leads) }} </div><div class="control">{{ form_widget(form.leads) }} </div> 
		<div class="sameline">{{ form_label(form.duration) }} </div><div class="control">{{ form_widget(form.duration) }} </div> 
	        <div class="sameline">{{ form_label(form.update) }} </div><div class="control">{{ form_widget(form.update) }} </div>
		{{ form_rest(form) }}		


</div>		
</div>
<div class="col-md-6 edit-user"><h4> Editing order: <span>{{ editemail }}</span></h4></div>

</div>	
</div>
{% endblock %}
