<p>
{% for user in users %}
<span  style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#000;"><b>Dear {{ user.contactname }}</b> ,</span>
<span  style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#000;">
<span>
<br>
<br>
Thank you for choosing the Free Trial feature.
<br>
This feature has now been activated and have
<span style="color: #0099FF;"><b>{{ user.leads }}  FREE</b></span>
business leads credited to your account for
<span style="color: #0099FF;"><b>"</b>
<b>{{ user.category  }}</b>
<b>"</b></span>
{% endfor %}
<br>
<br>
Please keep your mobile phone number handy as you will be now start receiving new business leads.
<br>
<br>
</span>
<b>If you have any questions please feel free to contact our support center on <a style="color: #0099FF;"> (04) 42 13 777</a>.</b>
<br>
<br>
Regards
<br>
BusinessBid
<br>
<br>
</span>
<span style=" style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#1f497d">
<u></u>
<u></u>
</span>
</p>
