{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>Vendor Lead Refund / Deduction</h1></div>
<div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
</div>
<div class="edit-user-block">
<div class="form_wrapper col-md-6">



    {{ form_start(form,{attr : {id : 'deductionForm'}}) }}
    <div>
        <div class="control-group">{{ form_label(form.vendorname) }} <span>*</span></div> <div class="control">{{ form_widget(form.vendorname) }}</div>
        <div class="control-group">{{ form_label(form.jobno) }} <span>*</span></div>  <div class="control">{{ form_widget(form.jobno) }}</div>
        <div class="control-group">{{ form_label(form.type) }} <span>*</span></div>  <div class="control">{{ form_widget(form.type) }}</div>
        <div class="control-group">
            <div class="sameline">{{ form_widget(form.submit) }}</div>
        </div>
    </div>
    {{ form_rest(form) }}
</div>
</div>
</div>
<script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $( "#form_vendorname" ).autocomplete({
          source: "{{ asset('autocomplete/vendor_names.php') }}",
          minLength: 2,
          select: function( event, ui ) {
            $('#form_vid').val(ui.item.id);
          },
          change: function(event,ui)
            {
                if (ui.item==null)
                {
                    $( this ).val('');
                    $( this ).focus();
                    $('#form_vid').val('');
                }
            }
        });
    });
</script>
{% endblock %}
