{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<div class="container">

<div class="page-title"><h1>VENDOR ORDERS : {% for o in order %} {{ o.ordernumber }} {% endfor %} </h1></div>
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
</div>
<div class="row orderdetails">
<table class="col-sm-6 gray-bg vendor-enquiries" width="100%">

	{% for o in order %}

	<tr><td width="30%"><strong>Order Number</strong></td><td width="70%">{{ o.ordernumber }}</td></tr>
	<tr><td><strong>Amount</strong></td><td>{{ o.amount }}</td></tr>
	<tr><td><strong>Status</strong></td><td>{% if o.status == 0 %} Not Approved {% elseif o.status==1 %} Approved {% endif %}</td></tr>
	<tr><td><strong>Payment Type</strong></td><td>{{ o.payoption }}</td></tr>
	{% endfor %}
</table>
</div>
<div class="row orderdetails">
<table class="col-sm-6  gray-bg vendor-enquiries" width="100%">
<thead><tr><td>Category Name</td><td>No: of Leads</td><td>Lead Pack</td></thead>
	{% for c in categories %}
		<tr><td width="50%">{{ c.category }}</td>
		<td>{{ c.leadpack }}</td>
		<td>{% if c.leadpack == 10 %}Bronze{% elseif c.leadpack == 25 %}Silver {% elseif c.leadpack == 50 %} Gold {% elseif c.leadpack == 100 %} Platinum {% endif %}</td>
		</tr>
	{% endfor %}
</table>
</div>
{% if formData is not empty %}
<div class="row orderdetails">
<table class="col-sm-6  gray-bg vendor-enquiries" width="100%"><thead><tr> <td colspan="2"><strong>Cheque Payment Details</strong></td></tr></thead><tr> <td class='tg-4eph'><strong>Company Name </strong></td><td class='tg-4eph'>{{ vendorCompName }}</td></tr><tr> <td class='tg-031e'><strong>Address </strong></td><td class='tg-031e'>{{ formData['address'] }}</td></tr><tr> <td class='tg-4eph'><strong>City</strong></td><td class='tg-4eph'>{{ formData['city'] }}</td></tr><tr> <td class='tg-031e'><strong>Contact Number </strong></td><td class='tg-031e'>{{ formData['contactnumber'] }}</td></tr><tr> <td class='tg-4eph'><strong>Contact Person</strong></td><td class='tg-4eph'>{{ formData['contactperson'] }}</td></tr>{% if formData['bankname'] is defined %}<tr> <td class='tg-031e'><strong>Bank Name </strong></td><td class='tg-031e'>{{ formData['bankname'] }}</td></tr><tr> <td class='tg-031e'><strong>Check Number </strong></td><td class='tg-031e'>{{ formData['checknumber'] }}</td></tr>{% endif %}</table>

</table>
</div>
{% endif %}
{% endblock %}


