{% extends '::base_admin.html.twig' %}

{% block pageblock %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
	$("#datepicker3").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024',
		onSelect: function(date){
			var selectedDate = new Date(date);
			var msecsInADay = 86400000;
			var endDate = new Date(selectedDate.getTime() + msecsInADay);

			$("#datepicker4").datepicker( "option", "minDate", endDate );
			$("#datepicker4").datepicker( "option", "maxDate", '+2y' );
		}
	});

	$("#datepicker4").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true
	});

	var availableVendors = {{ accountList|json_encode|raw }};
    $( "#form_vendorname" ).autocomplete({
      source: availableVendors
    });
});
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">

<div class="page-title"><h1>Vendor Orders</h1></div>
{% if(count) %}
<div class="row text-right page-counter-history"><div class="counter-box">Now showing : {{ from }} to {{ to }} records</div></div>
{% endif %}
<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
</div>
<div class="admin_filter">
	{{ form_start(form) }}
	<div class="col-md-3 side-clear">  {{ form_label(form.vendorname) }} {{ form_widget(form.vendorname) }}</div>
	<div class="col-md-3 clear-right">  {{ form_label(form.category) }} {{ form_widget(form.category) }}</div>
	<div class="col-md-2 clear-right">  {{ form_label(form.fromdate) }} {{ form_widget(form.fromdate , { 'id': 'datepicker3' }) }}</div>
	<div class="col-md-2 clear-right">{{ form_label(form.todate) }} {{ form_widget(form.todate, { 'id': 'datepicker4'  }) }} </div>
	<div class="col-md-2 top-space clear-right"> {{ form_widget(form.filter,{'label': 'Search' }) }}{{ form_rest(form) }} </div>
</div>
<div class="latest-orders">
<table>
<thead><tr><th>Date Recieved</th>
<th>Order Number</th>
<th>Vendor Name</th>
<th>Business Name</th>
<th>Category</th>
<th>Lead Package</th>
<th>Payment Type</th>
<th>Amount</th>
<th>Status</th>
</tr></thead>
{% if(orders is not empty) %}
{% for order in orders %}

	<tr>
	<td>{{ order.created|date('Y-m-d h:i:s') }}</td>
	<td><a href="{{ path('b_bids_b_bids_admin_order_view', {'id': order.id,'type':order.payoption } )}}">{{ order.ordernumber }}</a></td>
	<td>{{ order.contactname }}</td>
	<td>{{ order.bizname }}</td>
	<td>{{ order.category }}</td>
	<td>{% if order.leadpack == 10 %}Bronze{% elseif order.leadpack == 25 %}Silver {% elseif order.leadpack == 50 %} Gold {% elseif order.leadpack == 100 %} Platinum {% endif %}</td>
	<td>{{ order.payoption }}</td>
	<td>{{ order.amount }}</td>
	<td>{% if (order.status == 0 or order.status == 3) %} <a href="{{ path('b_bids_b_bids_admin_approve_order', {'id': order.id}) }}" onclick="return confirm('Are you sure to approve order ?')">Approve</a> {% elseif order.status == 1 %} Approved {% endif %}</td></tr>

{% endfor %}
{% else %}
<tr>
<td>
No Data Available
</td>
</tr>
{% endif %}
</table>
{% if(count) %}
<div class="row text-right ">
	<div class="counter-box top-space">
	{% set Epage_count = -count//10 %}
<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_admin_orders',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(Epage_count) %}

  <li><a href="{{ path('b_bids_b_bids_admin_orders',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}

  <li><a href="{{ path('b_bids_b_bids_admin_orders',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
</ul>
</div>
</div>
{% endif %}
</div>
</div>
{% endblock %}
