<p>
<span  style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#000;"><b>Dear {{ name }}</b> ,</span>
<span  style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#000;">
<span>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Please note that a customer has written a review about his recent engagement and experience with you and this has been published.</p>
<br>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">To review your feedback please login to your dashboard or visit www.businessbid.ae.</p>
<br><br>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Please be assured that we will always strive to serve you better.</p>
<br><br>
</span>
<b><p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">If you have any questions or need help call us on 04 42 13 777.</p></b>
<br>
<br>
Regards
<br>
BusinessBid
<br>
<br>
</span>
<span style=" style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left; color:#1f497d">
<u></u>
<u></u>
</span>
</p>
