{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<div class="container">
<div class="page-title"><h1>Upload Vendor Review</h1></div>
<div class="edit-user-block">
<div class="form_wrapper col-md-6">


<div>
    {# <div>   {{ form_errors(form) }} </div>
    <div>    </div> #}
</div>
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}
    {{ form_start(form,{attr : {id : 'reviewForm'}}) }}
    <div>
        <div class="control-group">{{ form_label(form.customername) }} <span>*</span></div> <div class="control">{{ form_widget(form.customername) }}</div>
        <div class="control-group">{{ form_label(form.vendorname) }} <span>*</span></div>  <div class="control">{{ form_widget(form.vendorname) }}</div>
        <div class="control-group">{{ form_label(form.enquiry) }} <span>*</span></div>  <div class="control">{{ form_widget(form.enquiry) }}</div>
        <div class="control-group">
            <div class="sameline">{{ form_widget(form.write) }}</div>
        </div>
        {# {{ form(form) }} #}
    </div>
    {{ form_rest(form) }}
</div>
</div>
</div>
<script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $( "#uploadreviews_form_customername" ).autocomplete({
          source: "{{ asset('autocomplete/customer_name.php') }}",
          minLength: 2,
          select: function( event, ui ) {
            $('#uploadreviews_form_uid').val(ui.item.id);

            vendorList(ui.item.id);
          },
          change: function(event,ui)
            {
                if (ui.item==null)
                {
                    $( this ).val('');
                    $( this ).focus();
                    $('#uploadreviews_form_uid').val('');
                }
            }
        });

        function vendorList(userid) {
            $.ajax({
                type: "POST",
                url: "{{ url('bizbids_reviews_ajax_call_upload') }}?type=vend&customer_id=" + userid,
                success: function(data) {
                    // Remove current options
                    $('#uploadreviews_form_vendorname').html('<option value="">Select a vendor</option>');
                    $.each(data, function(k, v) {
                        $('#uploadreviews_form_vendorname').append('<option value="' + k + '">' + v + '</option>');
                    });
                }
            });
        }

        function enqList(userid, vendorid) {
            $.ajax({
                type: "POST",
                url: "{{ url('bizbids_reviews_ajax_call_upload') }}?type=enq&customer_id=" + userid +"&vendor_id="+vendorid,
                success: function(data) {
                    $('#uploadreviews_form_enquiry').html('<option value="">Select a enquiry no</option>');
                    $.each(data, function(k, v) {
                        $('#uploadreviews_form_enquiry').append('<option value="' + k + '">' + v + '</option>');
                    });
                }
            });
        }
        $('#uploadreviews_form_vendorname').change(function(){
           var vendorid = $(this).val(), userid = $('#uploadreviews_form_uid').val();
           if(userid != '' && vendorid != '') {
                enqList(userid, vendorid) ;
           } else {
             alert('Select a vendor or user');
           }
            return false;
        });
        var forms = [
            '[ name="{{ form.vars.full_name }}"]'
          ];
        $( forms.join(',') ).submit( function( e ){
            e.preventDefault();
            console.log("Tried submitting");
            var vendorid = $('#uploadreviews_form_vendorname').val(), userid = $('#uploadreviews_form_uid').val(), eid = $('#uploadreviews_form_enquiry').val();
            if(vendorid == '' || userid == '' || eid == '') {
                alert('Please select a value');
                return false;
            }
            var reviewUrl = "{{ path('b_bids_b_bids_post_review', {'authorid':'aid' ,'vendorid': 'vid','enquiryid': 'eid'}) }}";
            reviewUrl = reviewUrl.replace("aid", userid);
            reviewUrl = reviewUrl.replace("vid", vendorid);
            reviewUrl = reviewUrl.replace("eid", eid);
            window.location.href = reviewUrl;
            return false;
        });

    });
</script>
{% endblock %}
