{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilter.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/bootstrap.js') }}"></script>
<script src="{{ asset('js/datatable/bootstrap.min.js') }}"></script>
<script type="text/javascript">

 function deletefunc(userid, username){
 
	
	var con = confirm('Are you sure to delete '+username+' ? The record once deleted cannot be retrived back');
	if(con){
		var url = "{{ path('b_bids_b_bids_admin_user_delete',{'userid': "USERID"}) }}";
		var urlset = url.replace('USERID', userid);
			window.open(urlset,"_self");
			//alert(urlset);
		return true;
	}else{
		return false;
	}
 }
</script>
<script type="text/javascript">
	$(document).ready( function () {
		$.datepicker.regional[""].dateFormat = 'yy-mm-dd';
        $.datepicker.regional[""].changeMonth = true;
        $.datepicker.regional[""].changeYear = true;
        $.datepicker.setDefaults($.datepicker.regional['']);
		$('#userList').dataTable({
			"bLengthChange": false,
	     	"iDisplayLength": 10,
	     	"language": {
	     		"search": "_INPUT_",
		        "searchPlaceholder": "Search records"
		    },
		    "sZeroRecords": "No Records to dispaly",
			"sPaginationType" : 'full_numbers',
			"sDom": '<"top"l>rt<"bottom"ip><"clear">'	
		}).columnFilter({aoColumns:[
						{ type:"date-range", sSelector: "#dateFilter" },
						{ type:"select", values : ["Consumer", "Vendor"], sSelector: "#profileFilter" },
						{ sSelector: "#nameFilter" },
						{ sSelector: "#emailFilter" },
						{ sSelector: "#contactFilter" },
						{ type:"select", values : ["Active", "Inactive"], sSelector: "#statusFilter" },
						null,
						null,
						null
						]}
					);
		
	} );
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>USERS</h1></div>

<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
<div class="admin_filter">	
	<div class="col-md-3 side-clear" id="dateFilter"></div>
	<div class="col-md-1 side-clear" id="profileFilter"></div>
    <div class="col-md-2 clear-right" id="nameFilter"></div>
    <div class="col-md-2 clear-right" id="emailFilter"></div>
    <div class="col-md-2 clear-right" id="contactFilter"></div>		
	<div class="col-md-2 top-space clear-right"id="statusFilter">
</div>
</div>	
			
<div class="latest-orders">
<table id="userList">
<thead>
	<tr>
		<th>Date Created</th>
		<th>Profile</th>
		<th>Name</th>
		<th>Email</th>
		<th>Contact Number</th>
		<th>Status</th>
		<th>Action</th>
		<th>Updated Date</th>
		<th>Last Access Date</th>
		</tr>
</thead>
<tfoot>
	<tr>
		<th>Date Created</th>
		<th>Profile</th>
		<th>Name</th>
		<th>Email</th>
		<th>Contact Number</th>
		<th>Status</th>
		<th>Action</th>
		<th>Updated Date</th>
		<th>Last Access Date</th>
		</tr>
</tfoot>
<tbody>
		{% if users is not empty %}
	{% for user in users %}
	<tr>
		<td>{{ user.created.date|date('Y-m-d') }}</td>
		<td>{% if user.profileid == 1 %} Admin {% elseif user.profileid == 2 %} Consumer {% elseif user.profileid == 3 %} Vendor {% endif %}</td>
		<td><a href="{{ path('b_bids_b_bids_admin_user_view',{'userid': user.id}) }}"> {{ user.contactname }}</a></td>
		<td>{{ user.email }}</td>
		<td>{{ user.smsphone }}</td>
		<td>{% if user.status == 1 %} Active {% elseif (user.status == 2) or (user.status == 0) %} Inactive {% elseif user.status == 3 %} Blocked {% endif %}</td>
		<td><a href="{{ path('b_bids_b_bids_admin_user_edit',{'userid': user.id}) }}">Edit</a> | 
		<a href="#" onclick="deletefunc('{{ user.id }}', '{{ user.email }}')" >Delete</a>
		<!--<a href="{{ path('b_bids_b_bids_admin_user_delete',{'userid': user.id}) }}">Delete</a>-->
		</td>
		<td>{{ user.updated|date('Y-m-d h:i:s') }}</td>
		<td>{{ user.lastaccess|date('Y-m-d h:i:s') }}</td>
		
		</tr>
		
	{% endfor %}
	{% else %}
	<tr><td>No Data Available</td></tr>
	{% endif %}
	</tbody>
</table>
</div>
</div>

</div>
</div> 
{% endblock %}
