{% extends '::base_admin.html.twig' %}
{% block pageblock %}

<div class="container">
<div class="page-title"><h1>Vendor Category Mapping</h1></div>
<div class="edit-user-block">

<div class="col-md-12 side-clear">
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}


    {{ form_start(form) }}
        {{ form_errors(form) }}
    <div>
        <div>{{ form_errors(form.category) }} </div>
        <div>{{ form_errors(form.vendor_name) }} </div>
        <div>{{ form_errors(form.from_date) }} </div>
        <div>{{ form_errors(form.to_date) }} </div>
        <div>{{ form_errors(form.description) }} </div>
    </div>

    <div class="container side-clear">
        <div class="col-sm-8 edit-form-vendor clear-left">

            <div class="col-sm-6 med-top-space"><div class="field-label">{{ form_label(form.category) }} <span class="req" id="emailexists"></span></div>{{ form_widget(form.category) }}</div>
            <div class="col-sm-6 med-top-space"><div class="field-label">{{ form_label(form.vendor_name) }}</div> {{ form_widget(form.vendor_name) }}</div>
            <div class="col-sm-6 med-top-space">{{ form_label(form.from_date) }} : {{ form_widget(form.from_date) }}</div>
            <div class="col-sm-6 med-top-space">{{ form_label(form.to_date) }} : {{ form_widget(form.to_date) }} </div>
            <div class="col-sm-6 med-top-space">{{ form_label(form.description) }} : {{ form_widget(form.description) }}</div>
            <div class="col-sm-10 med-top-space">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<div class="latest-orders">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Category</th>
                <th>Vendor</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>



        <tbody>
            {% if mappingList is not empty %}
            {% for m in mappingList %}
            <tr>
                <td>{{ m.category }}</td>
                <td>{{ m.contactname }}</td>
                <td>{{ m.startDate|date('d-m-Y') }}</td>
                <td>{{ m.endDate|date('d-m-Y') }}</td>
                <td>{{ m.description }}</td>
                <td>{% if m.status == 1 %} Active {% else %} Inactive {% endif %}</td>
                <td>{% if m.status == 1 %} <a href="{{ path('b_bids_b_bids_deactivate_category_mapping',{'vid': m.vid, 'cid': m.cid, 'type': 2 })}}">Deactivate</a> {% else %} <a href="{{ path('b_bids_b_bids_deactivate_category_mapping',{'vid': m.vid, 'cid': m.cid, 'type': 1 })}}">Activate</a> {% endif %}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="7">No Results found</td>
            </tr>
            {% endif %}
        </tbody>
        <tfoot><tr><th>Category</th>
                <th>Vendor</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th></tr></tfoot>
    </table>
</div>
<script src="{{ asset('js/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script>
  $(function() {
    $('#example').dataTable({
        "sPaginationType": "full_numbers",
        "oLanguage": {
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        }
    });
    $( "#form_vendor_name" ).autocomplete({
      source: "{{ asset('autocomplete/vendor_names.php') }}",
      minLength: 2,
      select: function( event, ui ) {
        $('#form_vid').val(ui.item.id);
      },
      change: function(event,ui)
        {
            if (ui.item==null)
            {
                $( this ).val('');
                $( this ).focus();
                $('#form_vid').val('');
            }
        }
    });

    var dates = $("#form_from_date, #form_to_date").datepicker({
        dateFormat: 'dd-mm-yy',
        changeMonth: true,
        minDate: new Date(),
      //  maxDate: '+5m',
        onSelect: function(selectedDate) {
            var option = this.id == "form_from_date" ? "minDate" : "maxDate",
            instance = $(this).data("datepicker"),
            date = $.datepicker.parseDate(
            instance.settings.dateFormat ||
            $.datepicker._defaults.dateFormat,
            selectedDate, instance.settings);
            dates.not(this).datepicker("option", option, date);
        }
    }).attr('readonly', 'readonly');

  });
</script>
{% endblock %}
