{% extends '::base_admin.html.twig' %}

{% block pageblock %}
{# <script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/datatable/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {

    $.datepicker.regional[""].dateFormat = 'yy-mm-dd';
    $.datepicker.regional[""].changeMonth = true;
    $.datepicker.regional[""].changeYear = true;
    $.datepicker.setDefaults($.datepicker.regional['']);
    $('#example').dataTable({
        "aaSorting" : [[0, 'desc']],
        "sPaginationType": "full_numbers",
        "aLengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
        ],
        "bProcessing": true,
        "bServerSide": true,
        "oLanguage": {
            "sEmptyTable": '',
            "sInfoEmpty": '',
            "sProcessing": 'Processing please wait',
            "sInfoFiltered": '',
            "oPaginate": {
                "sFirst": 'First',
                "sPrevious": '<<',
                "sNext": '>>',
                "sLast": 'Last'
            },
            "sZeroRecords": 'ZeroRecords',
            "sSearch": 'Search',
            "sLoadingRecords": 'LoadingRecords',
        },
        "sEmptyTable": "There are no records",
        "sAjaxSource": "{{ asset('reports/vendor_reports.php') }}",
        "fnServerParams": function(aoData) {
            if (aoData[30].value != '') {
                aoData[30].value = (aoData[30].value == 'Active') ? 1 : 0;
            }
            if (aoData[18].value != '') {
                aoData[18].value = (aoData[18].value == 'Customer') ? 2 : 3;
            }
        }
    }).columnFilter({
        aoColumns: [{
            type: "date-range",
            sSelector: "#dateFilter",
            sRangeFormat: "<label>Date</label> {from} {to}"
        }, null, {
            sSelector: "#nameFilter"
        }, {
            sSelector: "#emailFilter"
        }, {
            sSelector: "#contactFilter"
        }, {
            type: 'select',
            values: ["Active", "Inactive"],
            sSelector: '#statusFilter'
        }, null, null]
    });


    $("#btnExport").click(function() {
        $("#example").btechco_excelexport({
            containerid: "example",
            datatype: $datatype.Table
        });
    });
});
</script>
<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Vendor Reports</h1></div>

<div>
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
<div>{{ form(form) }}</div>
<div class="admin_filter report-filter">
	<div class="col-md-3 side-clear" id="dateFilter"></div>
    <div class="col-md-2" id="nameFilter"></div>
    <div class="col-md-2" id="emailFilter"></div>
    <div class="col-md-2 clear-right" id="contactFilter"></div>
	<div class="col-md-2 clear-right" id="statusFilter"></div>
	<div class="col-md-5 clear-right action-links">
	<span class="export-all"><a href="{{ path('b_bids_b_bids_exportall_vendors') }}" target="_blank" class="form_submit">Export All</a></span>
	<span class="export-selected"><a href="#" class="form_submit" onclick="getSearchInputs();">Export Filtered Data</a></span>
	<span class="reset"><a href="#" class="form_submit" onclick="fnResetFilters();">Reset</a></span>
	</div>
</div>

<div class="latest-orders">
		<table id="example"><thead><tr><th>Date Created</th><th>Profile</th><th>Name</th><th>Email</th><th>Contact Number</th><th>Status</th><th>Updated Date</th><th>Last Access Date</th></tr></thead><tbody><tr><td colspan="8" class="dataTables_empty">Loading data from server... Please wait</td></tr></tbody><tfoot><tr><th>Date Created</th><th>Profile</th><th>Name</th><th>Email</th><th>Contact Number</th><th>Status</th><th>Updated Date</th><th>Last Access Date</th></tr></tfoot></table>
</div>
</div>

</div>
<script type="text/javascript">
    function getSearchInputs () {
        var oTable = $('#example').dataTable();
        var oSettings = oTable.fnSettings();
        var $form = document.forms["form"];
        $form.reset();
        var oForm = document.forms["form"].getElementsByTagName("input");
        var dateRange = '';
        if($('#example_range_from_0').val() != 'undefined') {
            dateRange = $('#example_range_from_0').val() +'~';
            if($('#example_range_to_0').val() != 'undefined')
                dateRange += $('#example_range_to_0').val();
        }
        oForm[0].value = dateRange;
        oForm[2].value = oSettings.aoPreSearchCols[2].sSearch;
        oForm[3].value = oSettings.aoPreSearchCols[3].sSearch;
        oForm[4].value = oSettings.aoPreSearchCols[4].sSearch;
        if(oSettings.aoPreSearchCols[5].sSearch != '')
            oForm[5].value = (oSettings.aoPreSearchCols[5].sSearch == 'Active') ? 1 : 0;

        if((oForm[0].value =='~') && (oForm[2].value =='') && (oForm[3].value =='') && (oForm[4].value =='') && (oForm[5].value ==''))
            alert('No filtered results');
        else
           $form.submit();
    }

    function fnResetFilters() {
        var table = $('#example').dataTable();
        table.fnFilterClear();
        $('input').val('');
        $('div#statusFilter').find("select option:eq(0)").prop("selected",true);
    }
</script>
{% endblock %}
