{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/dataTables.tableTools.css') }}">
{# <script src="{{ asset('js/datatable/jquery-1.4.4.min.js') }}" type="text/javascript"></script> #}
<script src="{{ asset('js/datatable/jquery.dataTables.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/dataTables.tableTools.js') }}" type="text/javascript"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.7/api/fnReloadAjax.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript" src="{{ asset('js/datatable/fnFilterClear.js') }}"></script>
<script src="{{ asset('js/datatable/jquery-ui.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/datatable/jquery.dataTables.columnFilterNew.min.js') }}" type="text/javascript"></script>


<div class="page-bg">
<div class="container inner_container admin-dashboard">
<div class="page-title"><h1>Vendor Activation Service</h1></div>

<div>
    {% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('message') %}
    <div class="alert alert-success">{{ flashMessage }}</div>
    {% endfor %}
<div class="admin_filter report-filter">
    <div class="col-md-3 " id="companyNameFilter"></div>
    <div class="col-md-3" id="vendorFilter"></div>
    <div class="col-md-3" id="categoryFilter"></div>
    <strong>Note</strong>: Select category in order to deactivate vendor(s) in respective category. If not selected then vendor(s) will be deactivated in all categories.
    <div class="col-md-5 clear-right action-links">
    <span class="reset form_submit" onclick="toggleVendors(1);">Activate</span>
    <span class="reset form_submit" onclick="toggleVendors(2);">Deactivate</span>
    <span class="reset"><a href="#" class="form_submit" onclick="fnResetFilters();">Reset Filter</a></span>
    </div>
</div>

<div class="latest-orders">
<table id="example">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Vendor Name</th>
            <th>Contact Number</th>
            <th>Category</th>
            <th>User</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="8" class="dataTables_empty">Loading data from server... Please wait</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Company Name</th>
            <th>Vendor Name</th>
            <th>Contact Number</th>
            <th>Category</th>
            <th>User</th>
            <th>Status</th>
        </tr>
    </tfoot>
</table>
</div>
</div>

</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $("#example").dataTable({sDom:'T<"clear">lfrtip',oTableTools:{sRowSelect:"multi",aButtons:[]},sPaginationType:"full_numbers",aaSortingFixed:[[4,"asc"]],aLengthMenu:[[5,10,25,50,-1],[5,10,25,50,"All"]],bProcessing:!0,bServerSide:!0,oLanguage:{sEmptyTable:"",sInfoEmpty:"",sProcessing:"Processing please wait",sInfoFiltered:"",oPaginate:{sFirst:"First",sPrevious:"<<",sNext:">>",sLast:"Last"},sZeroRecords:"ZeroRecords",sSearch:"Search",sLoadingRecords:"LoadingRecords"},aoColumnDefs:[{aTargets:[4],bVisible:!1,bSearchable:!1}],sEmptyTable:"There are no records",sAjaxSource:"{{ asset('reports/vendor_on_off.php') }}",fnServerParams:function(){}}).columnFilter({aoColumns:[{sSelector:"#companyNameFilter"},{sSelector:"#vendorFilter"},null,{sSelector:"#categoryFilter",type:"select",values: {{ catArray|json_encode()|raw }} },null,null]}),$("#example tbody").on("click","tr",function(){$(this).toggleClass("selected")});
    });

    function toggleVendors(modetype) {
        var selected = [], table = $('#example').dataTable(), oTT = TableTools.fnGetInstance( 'example' ), aData = oTT.fnGetSelectedData();
        $.each( aData, function( key, value ) {
          // console.log( key + ": " + value['4'] );
            var index = $.inArray(value['4'], selected);
            if ( index === -1 ) {
                selected.push( value['4'] );
            }
        });
        var dataString = JSON.stringify(selected), category = $('select.select_filter').val();
        $.ajax({url:"{{ path('bizbids_vendor_on_off_ajax') }}",type:"POST",data:{data:dataString,modetype:modetype,category:category},success:function(){alert("Update succesfull..");table.fnReloadAjax()},error:function(a){console.log(a.message)}});
    }

    function fnResetFilters() {
        var table=$("#example").dataTable();table.fnFilterClear(),$("input").val(""),$("div#statusFilter").find("select option:eq(0)").prop("selected",!0);
    }
</script>
{% endblock %}
{# $('#example').dataTable({
            "sDom": 'T<"clear">lfrtip',
            "oTableTools": {
                "sRowSelect": "multi",
                "aButtons": [ ]
            },
            "sPaginationType": "full_numbers",
            "aaSortingFixed": [[4,'asc']],
            "aLengthMenu": [
                [5, 10, 25, 50, -1],
                [5, 10, 25, 50, "All"]
            ],
            "bProcessing": true,
            "bServerSide": true,
            "oLanguage": {
                "sEmptyTable": '',
                "sInfoEmpty": '',
                "sProcessing": 'Processing please wait',
                "sInfoFiltered": '',
                "oPaginate": {
                    "sFirst": 'First',
                    "sPrevious": '<<',
                    "sNext": '>>',
                    "sLast": 'Last'
                },
                "sZeroRecords": 'ZeroRecords',
                "sSearch": 'Search',
                "sLoadingRecords": 'LoadingRecords',
            },
            "aoColumnDefs": [
                {
                    "aTargets": [ 3 ],
                    "bVisible": false,
                    "bSearchable": false
                }
            ],
            "sEmptyTable": "There are no records",
            "sAjaxSource": "{{ asset('reports/vendor_on_off.php') }}",
            "fnServerParams": function(aoData) {

            }
        }).columnFilter({
            aoColumns: [
                        { sSelector: "#companyNameFilter"},
                        { sSelector: "#vendorFilter"},
                        null,
                        { sSelector: "#categoryFilter", type:"select", values : {{ catArray|json_encode()|raw }} },
                        null,null
                    ]
        })
        $('#example tbody').on('click', 'tr', function () {
            $(this).toggleClass('selected');
        });
    }); #}