{% extends '::base_admin.html.twig' %}
{% block pageblock %}

<div class="container">
<div class="page-title"><h1>Edit Information</h1></div>
<div class="edit-user-block">

<div class="col-md-12 side-clear">
    {% for flashMessage in app.session.flashbag.get('error') %}

    <div class="alert alert-danger">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('message') %}

    <div class="alert alert-success">{{ flashMessage }}</div>

    {% endfor %}


    {{ form_start(form) }}
        {{ form_errors(form) }}
	<div>
		<div>{{ form_errors(form.updateemailid) }} </div>
		<div>{{ form_errors(form.smsphone) }} </div>
		<div>{{ form_errors(form.homephone) }} </div>
    </div>

	<div class="container side-clear">
		<div class="col-sm-8 edit-form-vendor clear-left">
			<div class="col-sm-12"><label>User Email ID </label><span> {{ editemail }}</span></div>
			<div class="col-sm-6 med-top-space"><div class="field-label">{{ form_label(form.updateemailid) }} <span class="req" id="emailexists"></span></div>{{ form_widget(form.updateemailid) }}</div>
			<div class="col-sm-6 med-top-space"><div class="field-label">{{ form_label(form.contactname) }}</div> {{ form_widget(form.contactname) }}</div>
			<div class="col-sm-6 med-top-space"><div class="field-label">{{ form_label(form.mobilecode) }}<span class="req">*</span></div> {{ form_widget(form.mobilecode) }}{{ form_widget(form.smsphone) }}</div>
			<div class="col-sm-6 med-top-space"><div class="field-label">{{ form_label(form.homecode) }}  <span class="req">*</span>:</div><div class="area-code">{{ form_widget(form.homecode) }} </div> <div class="phone-no"> {{ form_widget(form.homephone) }}</div></div>
        	<div class="col-sm-6 med-top-space">{{ form_label(form.bizname) }} : {{ form_widget(form.bizname) }}</div>
			<div class="col-sm-6 med-top-space">{{ form_label(form.fax) }} : {{ form_widget(form.fax) }} </div>
            <div class="col-sm-6 med-top-space">{{ form_label(form.address) }} : {{ form_widget(form.address) }}</div>
			<div class="col-sm-6 med-top-space">{{ form_label(form.description) }} : {{ form_widget(form.description) }}</div>
        	<div class="col-sm-6 med-top-space">{{ form_label(form.status) }} {{ form_widget(form.status) }} </div>

            <div class="col-sm-10 med-top-space">{{ form_rest(form) }}</div>
            {{ form_end(form) }}
			</div>

			<div class="col-sm-4">
			{# Logo Start #}
				<div class="profile-name-edit-wrapper">
				<label>Vendor Logo</label>
				<div class="profile-name-edit">


				{% if logoObject is not empty %}
                    {% set logopath = asset('logo/'~logoObject.fileName) %}
					<div class="profile-picture"><img src="{{ logopath }}" >
						<a class="change-logo" href="#" id="changeimage">Change Logo</a>
					</div>
					<div id="logo-form" style="display:none;">
				{{ form_start(logoform) }}
				<div class="col-md-4">{{ form_widget(logoform.image) }}</div>
				<div class="col-md-5">{{ form_widget(logoform.Upload) }}</div>
				{{ form_end(logoform) }}
				</div>
				{% else %}
					<div id="logo-form" >
						{{ form_start(logoform) }}
						<div class="col-md-12">{{ form_widget(logoform.image) }}</div>
						<div class="col-md-12">{{ form_widget(logoform.Upload) }}</div>
						{{ form_end(logoform) }}
					</div>
				{% endif %}
			</div>
			{# Logo Ends #}
			</div>

            <div class="profile-name-edit-wrapper">
                <label>Vendor Test Account Status</label>
                <div class="profile-name-edit">
                    {% if testAccount is null or testAccount == 'No' %}
                    <a href="{{ path('bizbids_vendor_test_account_toggle',{'vid': vendorid, 'status': 'Yes' }) }}" class="btn btn-warning">Enable Test Account</a>
                    {% else %}
                    <a href="{{ path('bizbids_vendor_test_account_toggle',{'vid': vendorid, 'status': 'No' }) }}" class="btn btn-danger">Disable Test Account</a>
                    {% endif %}
                </div>
            </div>

			</div>
			</div>
</div>


<div class="col-sm-12 side-clear">
    {# Certifications Start #}
    <div class="add-certificate col-sm-4">
        <h2>Add Vendor Certifications</h2>
        <div class="add-certificate-block certificates">
            <form name="form" method="post" action="{{ path('b_bids_b_bids_vendor_save_certification') }}" onsubmit="return certificateValidate();" enctype="multipart/form-data">
				<label>Certificate Name</label>
                <span class="file-upload-wrapper">
                    <input type="text" id="form_certification" name="certification[]">
                    {# <div class="upload-button"><input type="file" name="certificationfile[]"></div> #}
                </span>
                <div id="morecertificates"></div>
                <div class="pull-right">
                    <a class="add_certificate_button"> add more certificates <span class="glyphicon glyphicon-plus"></span></a>
                </div>
                <button type="submit" id="form_save" name="form[save]">Add Certificate</button>
                <input type="hidden" name="vendor" value="{{ vendorid }}">
            </form>
        </div>

		{# Listing of certificates  #}
		<div class="list-certificate">
			{% for c in certifications %}
				<p><button type="button" class="close" title="Delete"  aria-hidden="true" onclick = "return deleteEntity('certification','{{ c.id }}','{{ vendorid }}');" >&times;</button> {{ c.certification }}</p>
			{% endfor %}
		</div>
    </div>
    {# Certifications Ends #}

    {# Products Start #}
    <div class="add-certificate col-sm-4">
        <h2>Add Your Products</h2>
        <form name="form" method="post" action="{{ path('b_bids_b_bids_vendor_save_product')}}" onsubmit="return productValidate();">
            <div class="add-certificate-block products">
				<label>Product Name</label>
                <span class="file-upload-wrapper">
                    <input type="text" id="form_product" name="product[]">
                </span>
                <div id="moreproducts"></div>
                <div class="pull-right"><a class="add_certificate_button add_products_button"> add more products <span class="glyphicon glyphicon-plus"></span></a></div>
                <button type="submit" id="form_save" name="form[save]" >Product &amp; Services</button>
            </div>
            <input type="hidden" name="vendor" value="{{ vendorid }}">
        </form>
		<div class="col-sm-12 side-clear">
			{# Listing of products  #}
				<div class="tab-pane">
					<div class="list-product">
						<div class="list-certificate">
							{% for p in products %}
								<p><button type="button" title="Delete" class="close"  aria-hidden="true" onclick = "return deleteEntity('product','{{ p.id }}','{{ vendorid }}');" >&times;</button>{{ p.product }} </p>
							{% endfor %}
						</div>
					</div>
				</div>
		</div>

    </div>
    {# Products Ends #}

    {# License Start #}
    <div class="tab-pane  col-sm-4" id="license">
        <div class="add-certificate">
            <h2>Add Vendor Business License</h2>
            <div class="newalbum add-certificate-block">
                {{ form_start(licenseform) }}
                {{ form_label(licenseform.expirydate) }}
				<div class="license-upload-wrapper">
				{{ form_widget(licenseform.expirydate, { 'id': 'datepicker3' }) }}
                <div class="business-license-upload">{{ form_widget(licenseform.licensefile) }}</div>
				</div>
                {{ form_widget(licenseform.save) }}
                {{ form_end(licenseform)  }}
            </div>
        </div>

		<div class="list-certificate">
            {% for e in expLicense %}
			<p>
				<span><a href="{{ asset('img/licenses') }}/{{ e.file}}">Click here to download the license</a></span>
				<span><button type="button" title="Delete" class="close"  aria-hidden="true" onclick = "return deleteEntity('license','{{ e.id }}','{{ vendorid }}');" >&times;</button><span class="Expiry">License Expiry Date : {{ e.expdate|date('Y-m-d') }}</span></span>
			</p>
            {% endfor %}
        </div>

    </div>
    {# License Ends #}

</div>

{# Products,Services Provided and city #}

<div class="col-sm-12 side-clear">
    {# Album Start #}
    <div class="add-certificate col-sm-4">
        <h2>Add Vendor Album</h2>
        <div class="add-certificate-block certificates vendor-album">
            <div class="license-upload-wrapper">
            {{ form_start(albumform,{'attr': {'onsubmit': 'return albumValidate();'}}) }}
                {{ form_label(albumform.albumname) }} {{ form_widget(albumform.albumname) }}
               {#  {{ form_label(albumform.description) }} {{ form_widget(albumform.description) }} #}
                <div class="business-license-upload">
                    {{ form_widget(albumform.albumimages, { 'full_name': albumform.albumimages.vars.full_name ~ '[]' }) }}
                </div>
                {{ form_widget(albumform.save) }}
            {{ form_end(albumform)  }}
            </div>
        </div>

        {# Listing of albums  #}
        <div class="list-certificate">
            {% for a in albums %}
            {% set albumid = a.albumid %}
            {% set defaultphotoid = a.defaultphotopath %}
            {% set imagepath = asset("gallery/"~albumid~"/"~albumid~"1") %}
            <div class="photo">
                <button type="button" title="Delete Album" class="close" onclick = "return deleteEntity('album','{{ a.id }}','{{ vendorid }}');">&times;</button>
                <a target="_blank" href="{{ path('b_bids_b_bids_album_view',{'albumid': albumid })}}"><img src="{{ imagepath }}" width="90px"></a>
                <p>{{ a.albumname }} </p>{# <p>{{ a.photocount }} Photo(s) </p> #}
            </div>
        {% endfor %}
        </div>
    </div>
    {# Album Ends #}

    {# City Start #}
    <div class="add-certificate col-sm-4">
        <h2>Add Your City</h2>
        {{ form_start(cityform, { 'attr': {'class': 'city_form'} }) }}
    <ul>
        {% for a in cityform.city %}
            <li class="city-field-item">
                {{ form_widget(a) }}{{ form_label(a) }}
            </li>
        {% endfor %}
            {{ form_widget(cityform.save, { 'attr': {'class': 'save_city'} },{ 'label': 'Save' }) }}
        </ul>
    {{ form_end(cityform) }}
    </div>
    {# City Ends #}

    {# Services Provided Start #}
    <div class="tab-pane  col-sm-4" id="categories">
        <div class="add-certificate">
            <h2>Add Vendor Services Provided</h2>
            <div class="newalbum add-certificate-block subcategories">
               <form action="{{ path('bizbids_addcat_port')}}" method="post">
                    <div class="morecertificates subcatadd">
                        <input type="text" id="form_cat" name="cat[]" placeholder="Enter your category">
                    </div>
                    <a id="addform1" class="btn btn-success btn-getquotes text-center">Add</a>
                    <div id="moreproducts1">
                    </div>
                    <input type="hidden" id="vendorid" name="vendorid" value="{{ vendorid }}">
                    <input type="hidden" id="setdata" value="0">
                    <input type="submit" id="savecat" name="form[save]" value="Save" class="btn btn-success btn-getquotes text-center">
                </form>
            </div>
        </div>

        <div class="list-certificate">
            {% if displaycat is not empty %}
            <div class="field-item1"><label>Service Portfolio</label>
                {% for a in displaycat %}
                <div class="main-cat">
                    <div class="field-value editcategory-port" id="{{ a.id }}">
                        <span class="catname">{{ a.category }} </span>
                    </div>
                    <span id="editdt" >
                        <input id="vendid" type="hidden" value="{{ a.id }}">
                        {# <span class="editcatname-port"><a href="#editdt-port" id="editcat-port{{ a.id }}" class="editcat-port">Edit</a>  </span> #}
                        <span class="deletecatname-port"><a href="#" onclick = "return deleteEntity('category','{{ a.id }}','{{ vendorid }}');" >Delete</a> </span>
                    </span>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

    </div>
    {# Services Provided Ends #}

</div>
{# Produ #}

<div>
    {# <div class="col-sm-6 side-clear top-space">
                <div class="col-sm-2"><a class="btn btn-warning" href="{{ path('b_bids_b_bids_admin_users',{'offset':1}) }}">Cancel</a></div>

            </div> #}
</div>
<script src="{{ asset('js/jquery-ui.js') }}"></script>
<script type="text/javascript">
var certificationDelUrl = "{{ path('b_bids_b_bids_unlink_certification', {'id':'cid','vid':'vid'}) }}", productDelUrl = "{{ path('b_bids_b_bids_unlink_product', {'id':'pid','vid':'vid'}) }}", licenseDelUrl = "{{ path('b_bids_b_bids_unlink_lisence', {'id':'eid','vid':'vid'}) }}", catDelUrl = "{{ path('bizbids_deletecat_port', {'id':'eid','vid':'vid'}) }}", albumDelUrl = "{{ path('b_bids_b_bids_unlink_album', {'id':'eid','vid':'vid'}) }}";
</script>
<script src="{{ asset('js/vendor.profile.edit.beautified.js') }}"></script>
{% endblock %}
