{% extends '::base_admin.html.twig' %}

{% block pageblock %}
<script>
$(document).ready(function(){
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
       
        // Create stars holder
        var $span = $('<span />').width(size);
        
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

});
</script>
<div class="container"> 
<div class="page-title"><h1>Review Information</h1></div>
<table class="col-sm-6 vendor-user gray-bg vendor-enquiries" width="100%">
	{% for r in review %}
	<tr><td><strong>Date Received</strong></td><td>	{{ r.created | date('Y-m-d h:i:s') }}</td></tr>
	<tr><td><strong>Customer Name</strong></td><td>	{{ r.author }} </td></tr>
	<tr><td><strong>Category</strong></td><td>{{ r.category }}</td></tr>
	<tr><td><strong>Vendor Name</strong></td><td>	{{ r.contactname }}</td></tr>
	<tr><td><strong>Vendor Busniess</strong></td><td> {{ r.bizname }}</td></tr>
	<tr><td><strong>Rating Review</strong></td><td><span class="stars">{{ r.rating }} </span></td></tr>
	<tr><td><strong>Busniess Recommendation</strong></td><td>{{ r.businessrecomond }}</td></tr>
	<tr><td><strong>Busniess Knowledge</strong></td><td> {{ r.businessknow }} </td></tr>
	
	<tr><td><strong>Service Summary</strong></td><td> {{ r.servicesummary }}</td></tr>
	<tr><td><strong>Status</strong></td><td>{% if r.modstatus == 0%} Not Published	{% elseif  r.modstatus ==1 %} Published {% endif %}</td></tr>
	<tr><td width="30%"><strong>Review</strong></td><td width="70%">{{ r.review }}</td></tr>
	<tr><td colspan="2" >{%if  r.modstatus !=1 %}<a href="{{ path('b_bids_b_bids_admin_publish_review', {'reviewid': r.id}) }}" class="btn btn-success">Publish</a> {% else %} <a href="#" class="btn btn-default disabled" > Published </a>{% endif %}</td></tr>
	{% endfor %} 

</table>
</div>
{% endblock %}
