{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container form-horizontal">


{% if(status == 2) %}
<h1>Account Activation</h1>

{% elseif(status == 1 ) %}
<h1>Reset Your Password</h1>

{% else %}
<h1>Reset Your Password</h1>

{% endif %}

{% for flashMessage in app.session.flashbag.get('error') %}
	<div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}
	<div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('success11') %}
	<div class="alert alert-success11">{{ flashMessage }}</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('message') %}
	<div class="alert alert-success">{{ flashMessage }}</div>
{% endfor %}

<div class="form_wrapper account-act-wrapper">




		{{ form_start(form) }}
			{{ form_errors(form) }}
		<div>
		    <div>   {{ form_errors(form.password.first) }} </div>
			<div>	{{ form_errors(form.password.second) }} </div>
		</div>
		<div>
			<div> {{ form_label(form.password.first) }} <span class="req">*</span> : </div><div class="control1"> {{ form_widget(form.password.first) }} </div>
			<div> {{ form_label(form.password.second) }} <span class="req">*</span> :  </div><div class="control"> {{ form_widget(form.password.second) }} </div>
			<div> {{ form_rest(form) }}  </div>
		</div>
</div>

<div class="align-center"><img src="{{ asset('img/logo.jpg') }}"></div>

</div>
{% endblock %}

