<table width="100%" bgcolor="#939598" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td colspan="2" align="center" valign="middle" bgcolor="#939598">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="23" bgcolor="#f36e23">&nbsp;</td>
  </tr>
<tr>
    <td align="center" bgcolor="#FFFFFF"><table width="550" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-size:12px;line-height: 22px;color:#262626;font-family: Calibri,Arial,sans-serif;">
        <p style="font-size:24px; margin-bottom:10px; font-weight:600; color:#1e7dc0;">Welcome to the BusinessBid Network.</p></td>
      </tr>
       
       <tr>
        <td align="left" style="font-size:14px;line-height: 22px;color:#262626;font-family: Calibri,Arial,sans-serif;"><p>BusinessBid is your one stop shop to receive multiple quotes from vendors for over 700 services across the UAE.</p>
          <p>With your own BusinessBid account now, you can be assured that you have access to qualified vendors to assist you with your projects anytime in a few easy steps.</p>
          <p>Please remember to write a review on your experiences. This will help us to serve you better. </p>
          <p style="font-size:12px; font-weight:600; margin-top:0px; margin-bottom:13px;">And of course, if you have any questions or need help call us on 04 42 13 777.</p></td>
      </tr> 
      <tr>
        <td align="center"></td>
      </tr>
      
      <tr>
        <td><p style="font-family: Calibri,Arial,sans-serif;font-size:12px;line-height:1.3em;text-align:left">Regards
				<br>
				BusinessBid Team</p></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
 
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
    </table>

    </td>
  </tr>
  </table>


