<html>
<p>
<b>
</b><br/>
<span style="font-size:12pt;font-family: Calibri,Arial,sans-serif;">
<br>{% if(useraccount == 2) %}
<table>
<tr>
        <td align="center" style="font-size:12px;line-height: 22px;color:#262626;font-family: Calibri,Arial,sans-serif;"><p>Welcome to the BusinessBid Network.</p>
          <p>BusinessBid is UAE’s most extensive service provisioning portal visited by thousands of customer’s every day. </p><br/>
          <p>BusinessBid has access to customers who are looking to engage vendors all over the UAE for their project needs.</p><br/>
          <p>With your own BusinessBid account now, you can be assured that you have access to qualified customer leads thus generating a reliable and easy source of new business generation.usinessBid has access to customers who are looking to engage vendors all over the UAE for their project needs.</p><br/>
          <p>Please ensure you set up your dashboard and profile to reflect your preferences and business needs.</p>
          <p style="font-size:12px; font-weight:600; margin-top:0px; margin-bottom:13px;">And of course, if you have any questions or need help call us on 04 42 13 777.</p></td>
      </tr>
      </table>
{% else %}
<p>Our records indicate that you have recently changed your password. </p>

<p style="font-family: Calibri,Arial,sans-serif;font-size:12px;"><strong>
If you believe that it was not you, please report this suspicious activity to BusinessBid on
<a>support@businessbid.ae</a>or call us on 04 42 13 777.</strong></P>

{% endif %}
</span>

<br>
<p style="font-family: Calibri,Arial,sans-serif;font-size:12px;line-height:1.3em;text-align:left">Regards
<br>
BusinessBid</p>
</span>
</p>
</p>
</html>
