<table width="100%" bgcolor="#939598" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td colspan="2" align="center" valign="middle" bgcolor="#939598">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="23" bgcolor="#f36e23">&nbsp;</td>
  </tr>
  <tr>
    <!--<td height="92" align="center" bgcolor="#FFFFFF"><img src="{{ asset('/img/logo.png')}}" ></td>-->
    <td height="92" align="center" bgcolor="#FFFFFF"><img src="http://115.124.120.36/web/img/logo.png" ></td>
  </tr>
  <tr>
    <td height="34" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF"><table width="550" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-size:12px;line-height: 22px;color:#262626;font-family:Arial,Arial,Helvetica,sans-serif">
        <p style="font-size:24px; margin-bottom:10px; font-weight:600; color:#1e7dc0;">Welcome to the BusinessBid Network.</p></td>
      </tr>
       
       <tr>
        <td align="left" style="font-size:14px;line-height: 22px;color:#262626;font-family:Arial,Arial,Helvetica,sans-serif"><p>We have only one more step to be completed and then your account with BusinessBid will be processed.</p>
          <p>With your own BusinessBid account, you can be assured that you have access to qualified customer leads who are looking for service professionals like yourselves to assist them with their projects.</p>
          <p>And of course, if you have any questions or need help call us on 04 42 13 777.</p>
        </td>
      </tr>
      <tr>
        <td align="left"  style="font-size:14px;line-height: 22px;color:#262626;font-family:Arial,Arial,Helvetica,sans-serif">Please click on the link below to set up your password and credentials.</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center"></td>
      </tr>
      <tr>
        <td align="center"><table width="280" bgcolor="#d25e00" align="center" cellspacing="2" cellpadding="0" border="0">
<tbody>
<tr>
<td bgcolor="#ff7201" align="center">
<a href="http://www.businessbid.ae{{ path('b_bids_b_bids_user_email_verify', {'userid': userid, 'userhash': userhash}) }}" target="_blank" style="color:#ffffff;font-family:Arial,Arial,Helvetica,sans-serif;font-size:20px;text-decoration:none;display:block;padding-top:12px;padding-bottom:12px"  >
<b>CLICK HERE </b>

</a>
</td>
</tr>
</tbody>
</table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
 
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
    </table>

    </td>
  </tr>
  </table>


