 <html>
 {% if(useraccount == 2) %}
<table width="100%" bgcolor="#939598" cellspacing="0" cellpadding="0" border="0">
  <tr>
    <td colspan="2" align="center" valign="middle" bgcolor="#939598">
    <table width="600" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td height="23" bgcolor="#f36e23">&nbsp;</td>
  </tr>
  <tr>
    <!--<td height="92" align="center" bgcolor="#FFFFFF"><img src="{{ asset('/img/logo.png')}}" ></td>-->
   <td height="92" align="center" bgcolor="#FFFFFF"><img src="http://115.124.120.36/web/img/logo.png" ></td>
  </tr>
  <tr>
  <td height="34" bgcolor="#FFFFFF">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#FFFFFF"><table width="550" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="center" style="font-size:12px;line-height: 22px;color:#262626;font-family:Arial,Arial,Helvetica,sans-serif">
        <p style="font-size:24px; margin-bottom:10px; font-weight:600; color:#1e7dc0;">Dear {{ name }}, Welcome to the BusinessBid Network.</p></td>
      </tr>
       
       <tr>
        <td align="center" style="font-size:14px;line-height: 22px;color:#262626;font-family:Arial,Arial,Helvetica,sans-serif"><p>BusinessBid is your one stop shop to receive multiple quotes from vendors for over 700 services across the UAE.</p>
          <p>This is your very own personalized BusinessBid Dashboard where you can:</p>
          <ul>
          <li>View all the Job Requests  you have logged</li>
          <li>View all your posted Vendor Reviews/li>
          <li>Update your personal Profile</li>
          <li>View all the Messages and Communications</li>
          <li>Log any Support Issues</li>
          <li>Log new Job Requests</li>
          </ul>
          <p>We have created this for you so you can have an amazing and efficient BusinessBid experience.</p>
          <p>As always we strive to deliver above and beyond and of course, if you have any questions or need help call us on . </p>
          <p style="font-size:28px; font-weight:600; margin-top:0px; margin-bottom:13px;">(04) 42 13 777 and you can email us at support@businessbid.ae .</strong></P>
<br></td>
      </tr>
      
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center"></td>
      </tr>
      <tr>
        <td align="center"></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
    </table></td>
  </tr>
  <tr>
    <td bgcolor="#eeeeee"><p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
				<br>
				BusinessBid Team</p></td>
  </tr>
 
  <tr>
    <td bgcolor="#eeeeee">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
  <tr>
    <td bgcolor="#939598">&nbsp;</td>
  </tr>
    </table>

    </td>
  </tr>
  </table>
 {% else %}

<p>
<b>
<span style="font-size:10.0pt;font-family:Helvetica,sans-serif"><b>Dear {{ name }},</b></span>
</b><br/>
<span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
<br>
<p>Your password has been changed successfully.</p>
</span>
<span>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left"><strong>If you have any questions please feel free to contact our support center on <a style="color: #0099FF;">(04) 42 13 777</a> and you can email us at support@businessbid.ae.</strong></P>
<br>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
<br>
BusinessBid Team</p>
</span>
</p>
</p>
{% endif %}
</html>


