{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}
<style>
.collapsedd .collapsed-content{
display: none;
list-style: none;
margin: 0;
padding: 0;
}
</style>
<script>
$(document).ready(function(){
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
       
        // Create stars holder
        var $span = $('<span />').width(size);
        
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();


	$(".moreview").click(function(){
	$(".moreview").not(this).html('View job request details');
		$(".collapsedd").not(this).children().children('div').slideUp('10000');
  		$(this).closest(".collapsedd").children().children('div').slideDown('10000');
		if($(this).html() == 'close')
			$(this).html('View job request details');
		else
			$(this).html('close');
		
	});	
	


});
</script>
<div class="col-md-9 dashboard-rightpanel">
<div class="row">
<div class="page-title">
<h1>My Customer Account</h1>
</div>
<div class="panel-title"><h2>Summary of the Reviews</h2></div>
{% if reviews is not empty %}
{% for r in reviews %}
<div class="rating-reviews">
<div class="form-item">
<div class="subject">{{ r.subj }}</div>
<div class="date">{{ r.created|date('Y-m-d H:m:s') }}<div class="rating"><span></span><span class="stars">{{ r.rating }}</span></div></div>
<label class="business-name">{{ r.bizname }}</label>
<div class="review">
<!--<a href="{{ path('b_bids_b_bids_mapped_reviews',{'rid':r.revid}) }}">{{ r.review }}</a>-->
{{ r.review }}</div>
<div class="view-details">
<!--<a href="{{ path('b_bids_b_bids_mapped_enquiry',{'eid':r.id}) }}">view Job Request Details</a>-->

    <div class="collapsedd"> 
        <span> 
            <a class="reviewss"><span class="moreview">view Job Request Details</span></a> 
            <div class="collapsed-content">
			<div class="col-sm-6 post-requirement gray-bg">
				<h2>Job Request Details</h2>
				<div class="item-field">
				<label>Date</label><div class="field-value">{{ r.created|date('Y-d-m') }}</div>
				</div>
				<div class="item-field">
				<label>Category</label><div class="field-value">{{ r.category }}</div>
				</div>
				<div class="item-field">
				<label>Subject</label><div class="field-value">{{ r.subj }}</div>
				</div>
				<div class="item-field">
				<label>City</label><div class="field-value">{{ r.location }}</div>
				</div>
				<div class="item-field">
				<label>Description</label><div class="field-value">{{ r.description }}</div>
				</div>
			</div>
			
			<div class="col-sm-6 post-requirement gray-bg">
				<h2>Job Review Details</h2>
				<div class="item-field">
				<label>Date</label><div class="field-value">{{ r.created|date('Y-d-m') }}</div>
				</div>
				<div class="item-field">
				<label>Category</label><div class="field-value">{{ r.category }}</div>
				</div>
				<div class="item-field">
				<label>Subject</label><div class="field-value">{{ r.subj }}</div>
				</div>
				<div class="item-field">
				<label>Business Now</label><div class="field-value">{{ r. businessknow }}</div>
				</div>
				<div class="item-field">
				<label>Business Recomendation</label><div class="field-value">{{ r.businessrecomond }}</div>
				</div>
				<div class="item-field">
				<label>Service Experience</label><div class="field-value">{{ r.serviceexperience }}</div>
				</div>
				<div class="item-field">
				<label>Service Summary</label><div class="field-value">{{ r.servicesummary }}</div>
				</div>
			</div>
			</div> 
        </span>
    </div> 
</div>
</div>
</div>
						
{% endfor %}

<div>Now showing : {{ from }} to {{ to }} of {{ count }} records</div>
<div>{% set Epage_count = -count//4 %}
<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_ratings',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(Epage_count) %}

  <li><a href="{{ path('b_bids_b_bids_ratings',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}

  <li><a href="{{ path('b_bids_b_bids_ratings',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
</ul>
</div>
{% else %}
<table>
<tr><td align="center">No Reviews Available</td></tr>
</table>
{% endif %}

</div>

{% endblock %}
