<table>
<p class="MsoNormal">
<span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">Dear Admin,</span>

<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">

<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">

MR/MRs {{ name }} and his/her Email ID is {{ email }} has Provided his contact Details to BusinessBid<u>

<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">
<span style="font-family:"Calibri","sans-serif";color:#1f497d">
----------------------------------------------------------------------------------------------------------------------------------------
	<span><h4>Mobile:</h4> {{ mobile }}</span>
	<span><h4>Usertype:</h4> {% if usertype == 1 %} Others {% elseif usertype == 2 %} Customer {% else %} Vendor {% endif %}</span>
	<span><h4>Message:</h4> {{ message }}</span>
	
</span>
</p>
<span>
<p>


<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<u></u>
<u></u>
</span>
</p>
</span>
</table>

