<table>
    <p class="MsoNormal">
        <span style="font-family: Calibri,Arial,sans-serif;font-size:12px;">Dear {{ name }},</span>
        <span style="font-size:12pt;font-family: Calibri,Arial,sans-serif;">
            <u></u>
            <u></u>
        </span>
    </p><br>
    <p class="MsoNormal">
        <span style="font-size:12.0pt;font-family: Calibri,Arial,sans-serif;">
            Thank you for contacting BusinessBid.
        </span>
    </p><br>
    <p class="MsoNormal">
        <span style="font-size:12pt;font-family: Calibri,Arial,sans-serif;">
            Our team is looking into your request and you can expect to be contacted with either an answer to your question or a solution to the issue raised.
        </span>
    </p><br>
    <p class="MsoNormal">
        <span style="font-size:12pt;font-family: Calibri,Arial,sans-serif;">
            Our expected time-frames to respond will vary according to the severity or complexity of the matter being addressed and volume of contacts reaching us but we will usually respond within 48 hours.
        </span>
    </p><br>
    <p class="MsoNormal">
        <span style="font-size:12pt;font-family: Calibri,Arial,sans-serif;">
            However we assure you that we are working to get back to you as fast as possible and to properly address your questions and concern.
        </span>
    </p><br>
    <span style="font-family: Calibri,Arial,sans-serif;font-size:12pt;">
        If the matter is urgent or need help call us on 04 42 13 777.
        <br>
        <br>
    </span>
    <span style="font-size:12pt;font-family: Calibri,Arial,sans-serif;">
        <u></u>
        <u></u>
    </span>
</p>
</span>
</table>
