<p>
    <span  style="font-family: Calibri,Arial,sans-serif;font-size:12px;"><b>Dear {{ name }}</b> ,</span>
    <span  style="font-family: Calibri,Arial,sans-serif;font-size:12px;">
        <span>
            <br>
            Thank you for submitting your feedback on the respective vendor.
            <br>
            <br>
            We have now published your review and passed on your feedback to the vendor.
            <br>
            <br>
            To review your feedback please login to your dashboard or visit www.businessbid.ae
            <br>
            <br>
            Please be assured that we will always strive to serve you better.
            <br><br>
        </span>
        <b>If you have any questions or need help call us on 04 42 13 777</b>
        <br>
        <br>
        Regards
        <br>
        BusinessBid
        <br>
        <br>
    </span>
    <span style="font-family: Calibri,Arial,sans-serif;font-size:12px;">
        <u></u>
        <u></u>
    </span>
</p>
