{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}

</script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<link rel="stylesheet" href="/resources/demos/style.css">
<script>
$(function() {
	$("#datepicker3").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true,
		maxDate: '+2y',
		yearRange: '2014:2024',
		onSelect: function(date){
			var selectedDate = new Date(date);
			var msecsInADay = 86400000;
			var endDate = new Date(selectedDate.getTime() + msecsInADay);

			$("#datepicker4").datepicker( "option", "minDate", endDate );
			$("#datepicker4").datepicker( "option", "maxDate", '+2y' );
		}
	});

	$("#datepicker4").datepicker({
		dateFormat: 'yy-mm-dd',
		changeMonth: true
	});


});
</script>
	{% block dashboard %}
		<div class="col-md-9 dashboard-rightpanel">
			<div class="page-title"><h1>My Messages</h1></div>
			{# <div class="row text-right page-counter"><div class="counter-box"><span class="now-show">1 of 20</span><span class="Prev btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span></span><span class="next btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-right"></span></span></div></div> #}
			<div class="message-reviews">
				{% for flashMessage in app.session.flashbag.get('error') %}

    {{ flashMessage }}

{% endfor %}
				{{ form_start(form) }}
				<div class="message-reviews-filter">
					<div class="col-md-4 side-clear"><div class="label">From</div>{{ form_errors(form.from) }} {{ form_widget(form.from, {'id': 'datepicker3'}) }}</div>
					<div class="col-md-4 side-clear"><div class="label">To</div>{{ form_errors(form.to) }} {{ form_widget(form.to, {'id': 'datepicker4'}) }}</div>
					<div class="col-md-4 search">{{ form_errors(form.email) }} {{ form_widget(form.email) }}</div>
					<div class="col-md-4 search-button">{{ form_widget(form.search) }} {{ form_rest(form) }}</div>
				</div>
				{% if emails is empty %}
					<div class="message-alert alert alert-success">
						You have not received any emails.
					</div>
				{% else %}
				{% for key, email in emails %}

					<div class="form-item messages-wrapper">
						<div class="subject">{{ email.fromemail }}</div>
						<div class="date">{{ email.created | date('Y-m-d h:i:s') }}</div>
						<div id="menu{#{{ key }}#}" class="example_menu">
							<div class="review"><a class="collapsed">{{ email.emailsubj }}</a><ul><li>{{ email.emailmessage | raw}}</li></ul></div>
						</div>
					</div>
				{% endfor %}
				{% endif %}
			</div>

		</div>
	{% endblock %}

{% endblock %}
