<html>
    <body>
        <p>
        <b>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif"><b>Dear {{ name }},</b></span>
        </b><br/>
        <span style="font-size:10.0pt;font-family:Helvetica,sans-serif">
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Congratulations!</p>
            <br/>
        </span>
        <span>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
            You have accepted- Job {{ enquiryid }} for {{ category }} in {{ location }} and 1 Lead have been deducted from your account.</P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
            Please Contact {{ authname }} on {{ authmobile }}.</P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
            Good luck with the project!</P>
            <br>
            <p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
                <br>
            BusinessBid</p>
    </body>
</html>