{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
	.pac-container:after{
    content:none !important;
}
</style>

<div class="container">
<div class="page-title"><h1>Post your Requirement</h1></div>


{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage }}</div>

{% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}

	{{ form_start(form) }}
	 <div id="errorBox"></div>
	<div> {{ form_errors(form) }} </div>
	<div> {{ form_errors(form.contactname) }} </div>
	<div> {{ form_errors(form.email) }} </div>
	<div> {{ form_errors(form.smscode) }} </div>
	<div> {{ form_errors(form.smsphone) }} </div>
	<div> {{ form_errors(form.homecode) }} </div>
	<div> {{ form_errors(form.homephone) }} </div>
	<div> {{ form_errors(form.category) }} </div>
	<div> {{ form_errors(form.subcategory) }} </div>
	<div> {{ form_errors(form.subj) }} </div>
	<div> {{ form_errors(form.description) }} </div>
	<div> {{ form_errors(form.city) }} </div>
	<div> {{ form_errors(form.location) }} </div>
	<div> {{ form_errors(form.hire) }} </div>

<div class="col-sm-6 post-requirement gray-bg">
	<h2> Your Registration Details </h2>
	<div class="form-item"> {{ form_label(form.contactname) }}  <div class="field-item">{{ form_widget(form.contactname) }} </div></div>
	<div class="form-item"> {{ form_label(form.email) }} <div class="field-item">{{ form_widget(form.email) }} </div></div>
	<div class="form-item"> {{ form_label(form.smscode) }}  <div class="field-item">{{ form_widget(form.smscode) }}{{ form_widget(form.smsphone) }} </div></div>
	<div class="form-item"> {{ form_label(form.homecode) }} <div class="field-item">{{ form_widget(form.homecode) }} {{ form_widget(form.homephone) }} </div></div>
</div>

<div class="col-sm-6 enquiry-details gray-bg">
	<h2> Your Enquiry Details </h2>
	<div class="form-item">
		<div class="col-sm-12 side-clear"> {{ form_label(form.category) }}  <div class="field-item">{{ form_widget(form.category) }}</div></div>
		
	</div>
	<div id="div_subcategory" style="display:none;">
		<div class="form-item">		
			<div class="col-sm-12 clear-right"> {{ form_label(form.subcategory) }}  
				<div id="checkbox_subcategory">
					{# <div class="field-item">{{ form_widget(form.subcategory) }} </div> #}
					<div class="field-item">{% for child in form.subcategory %} {{ form_widget(child) }} {{ form_label(child) }}{% endfor %} </div>
				</div>				
			</div>
		</div>
	</div>
	
	<div class="form-item"> {{ form_label(form.subj) }}  <div class="field-item">{{ form_widget(form.subj) }} </div></div>
	<div class="form-item"> {{ form_label(form.description) }}  <div class="field-item">{{ form_widget(form.description) }} <p class="help-block">(maximum 240 characters)</p></div></div>
	
	<div class="form-item">
		<div class="col-sm-4 side-clear"> {{ form_label(form.city) }}  <div class="field-item">{{ form_widget(form.city) }} </div></div>
		<div class="col-sm-4 clear-right"> {{ form_label(form.location) }} <div class="field-item">{{ form_widget(form.location) }}</div></div>
		<div class="col-sm-4 clear-right"> {{ form_label(form.hire) }} <div class="field-item">{{ form_widget(form.hire) }}</div></div>
	</div>
	<div class="form-item">  {{ form_end(form) }} </div></div>
</div>
<div>	




</div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>

<script>
	var input = document.getElementById('form_location');
	var options = {componentRestrictions: {country: 'AE'}};
	new google.maps.places.Autocomplete(input, options);
</script>
{% endblock %}
