{% extends '::base.html.twig' %}

{% block customjs %}
<script type="text/javascript">
	
	
	function timer(i){
		var arr = new Array('1d','2d','3d','4d');
		//alert(i);

	
	
		i = parseInt(i)+1;
		if(i!=4)
		{      if(i==1){
			 document.getElementById('loader1').style.width="33%";
			 document.getElementById('loader2').style.width="33%";
			 document.getElementById('form-succ').innerHTML = "Your request is being processed...";
			}
			if(i==2){
                         document.getElementById('loader1').style.width="66%";
                         document.getElementById('loader2').style.width="66%";
                         document.getElementById('form-succ').innerHTML = "Your request is being processed...";
                        }
			if(i==3){
                         document.getElementById('loader1').style.width="100%";
                         document.getElementById('loader2').style.width="100%";
                         document.getElementById('form-succ').innerHTML = "Your job request has been logged successfully. Please note your Job Request Number is {{ jobNo }}";
                        }
			
			setTimeout(function() { timer([i]); }, 5000);
		} else {
			{% if jobNo is defined %}
				document.getElementById('form-succ').innerHTML = "Your job request has been logged successfully. Please note your Job Request Number is {{ jobNo }}";
			{% endif %}
			setTimeout(function() { window.open('{{ path("b_bids_b_bids_home_homepage") }}', '_self'); }, 7000);			
		}
	}
</script>
{% endblock %}

{% block customcss %}
<style>
. des{
	width:100%;
	align-text:center;
}
</style>

{% endblock %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container loader-cont">

		<div class="bg-success alert-success" id="form-succ"></div>
		<div class="loader">
			<div class="load-arrow-left">
				<div class="load-arrow blue-arrow" id="loader1" style="width: 33%">
					<span></span>
				</div>
			</div>
			<div class="arrow-logo">
			</div>
			<div class="load-arrow-right">
				<div class="load-arrow orange-arrow" id="loader2" style="width: 33%">
					<span></span>
				</div>
			</div>
		</div>
		<!-- <div class="alert-success" id="request">
		</div> -->

		<div id="pstatus"></div>
	

</div>

	
</div>


<script type="text/javascript">

window.onload = timer(0);

</script>
{% endblock %}
