<html>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; "><b>Dear {{ name }},</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">
	Thank you for submitting your request. Your job request number is {{ jobrequestno }} .
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">What's next?.</p>

<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">
Please ensure that you have your phone handy as vendors will soon start contacting you to discuss your project requirements and pricing.
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">
	After you vendor engagement, please remember to write a review on your experience. This will help us to serve you better.
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">
	And of course, if you have any questions or need help call us on 04 42 13 777. 
</p>
<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">
	Good Luck with your project!. 
</p>

<p style="font-family:Proxinova,Calibri,Arial; font-size:11pt; line-height:15pt; margin-bottom:10px; float:left; width:100%; ">Regards
<br>
BusinessBid</p>

</html>
