{% extends '::base.html.twig' %}

{% block jquey %}

{% endblock %}

{% block banner %}

{% endblock %}



{% block maincontent %}
<style>
	.pac-container:after{
    content:none !important;
}
</style>
<div class="container form-horizontal">
	<h1>Post your Requirement</h1>
	{% for flashMessage in app.session.flashbag.get('error') %}

		<div class="alert alert-danger"{{ flashMessage }}</div>
	
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>
	
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	{{ form_start(form) }}
	<div class="form_wrapper">
	
		<div> {{ form_errors(form) }} </div>
		<div> {{ form_errors(form.category) }} </div>
		<div> {{ form_errors(form.subj) }} </div>
		<div> {{ form_errors(form.description) }} </div>
		<div> {{ form_errors(form.city) }} </div>
		
		<div >
			<div >{{ form_label(form.category) }}<span class="req">*</span>: </div> <div class="control"> {{ form_widget(form.category) }}</div>
		<div style="display:none" id="div_subcategory">
			<div>{{ form_label(form.subcategory) }}<span  class="req">*</span>: </div> 
			<div class="control" >  
					<div id="checkbox_subcategory" >
						Select a category first
						{% for child in form.subcategory %}
							<div class="sub-category" id="checkbox_subcategory">
								{{ form_widget(child) }} {{ form_label(child) }}
						        </div>
						{% endfor %} 
						{# {{ form_widget(form.subcategory) }} #}
					</div>	
			</div>
		</div>	
			<div>{{ form_label(form.subj) }}<span class="req">*</span>: </div> <div class="control">  {{  form_widget(form.subj) }}</div>
			<div>{{ form_label(form.description) }}<span class="req">*</span>: </div> <div class="control">  {{ form_widget(form.description) }}<p class="help-block2">(maximum 240 characters)</p></div>
			<div>{{ form_label(form.city) }}<span class="req">*</span>: </div> <div class="control">  {{ form_widget(form.city) }}</div
			<div>{{ form_label(form.location) }}<span class="req">*</span>: </div> <div class="control">  {{ form_widget(form.location) }}</div>
			<div>{{ form_label(form.hire) }}: </div> <div class="control">  {{ form_widget(form.hire) }}</div>
			{{ form_rest(form) }}
		</div>
		{{ form_end(form) }}
	</div>                                                                                                             
	</div>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
	var input = document.getElementById('form_location');
	var options = {componentRestrictions: {country: 'AE'}};
	new google.maps.places.Autocomplete(input, options);
</script>
{% endblock %}
