{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>View Job Requests</h1></div>

<div class="row">

<table class="vendor-enquiries">
<table>
<tr>
<th>Job Requested Date</th>
<th>Job Requested Number</th>
<th>Subject</th>
<th>Category</th>
<th>Description</th>
<th>Job Request Accepted Date</th>
<th>City</th>
<th>Location</th>
<th>Contact Name</th>
</tr>
{% if enquiry is not empty %}
{% for e in enquiry %}
<tr><td>{{ e.created|date('Y-m-d') }}</td>
<td>{{ e.id }}</td>
<td>{{ e.subj }}</td>
<td>{{ e.category }}</td>
<td>{{ e.description }}</td>
<td>{{ e.updated|date('Y-m-d') }}</td>
<td>{{ e.city }}</td>
<td>{{ e.location }}</td>

<td>{{ e.contactname }}</td></tr>
{% endfor %}

{% else %}

<tr><td>No data Available</td></tr>

{% endif %}
</table>


</table>

</div>
{% endblock %}
