<table>
<p class="MsoNormal">
<span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">Dear Admin,</span>

<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
The user with the Email ID is {{ email }} has Provided  feedback to BusinessBid
<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">
<span style="font-family:"Calibri","sans-serif";color:#1f497d">
----------------------------------------------------------------------------------------------------------------------------------------
	<span><h4>Name:</h4> {{ name }}</span>
	<span><h4>Subject:</h4> {{ summary }}</span>
	<span><h4>Feedback:</h4> {{ feedback }}</span>
	
</span>
</p>
<span>
<p>


<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<u></u>
<u></u>
</span>
</p>
</span>
</table>
