{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}


<div id="contact" class="contact-detail">
	<div class="container">
	
		<div class="page-title">
			<h1>Feedback Form</h1>
			<p>Your feedback is important to us please send us a message using the form below</p>
			{% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div> 
	
			{% endfor %}

			{% for flashMessage in app.session.flashbag.get('success') %}

				<div class="alert alert-success">{{ flashMessage }}</div>	
			
			{% endfor %}
			
			{% for flashMessage in app.session.flashbag.get('message') %}

			<div class="alert alert-success">{{ flashMessage }}</div>
				
			{% endfor %}
		</div>
		<div class="contact-content">
			<div class="column-left">
				<div class="feedback-form">
				
				
				{{ form_start(form,{'attr': {'onsubmit':'return feedBackValidate();'}}) }}
					<div class="control">{{ form_label(form.name) }}{{ form_widget(form.name) }}</div>
					<div class="control">{{ form_label(form.email) }} {{ form_widget(form.email) }}</div>
					<div class="control">{{ form_label(form.subject) }}{{ form_widget(form.subject) }}</div>
					<div class="control"> {{ form_label(form.feedback) }}{{ form_widget(form.feedback) }}<p class="help-block">(maximum 1000 characters)</p></div>
					<div class="control">
						<div class="captcha-block">
							<div class="col-sm-5 captcha-image">
								<img src="{{ asset('vvv/captcha.php') }}" id="captcha" /><br/>
									<a href="#" onclick="scrollTo();"
										id="change-image">Not readable? Change text.</a><br/><br/>
							</div>
							<div class="col-sm-7 captcha-text">
								{{ form_widget(form.verification) }}
							</div>
						</div>									
					</div>
					<div class="control">{{ form_widget(form.submit) }}</div>
					
					<div class="control-group">{{ form_rest(form) }} </div>
				{{ form_end(form) }}
				</div>
			</div>
			
			<div class="column-right">
			<div class="column-map">
				<p>If you would like to come and visit us, we are located at the address below: <br><br>Suite 503, Level 5,
Indigo Icon Tower, <br>Cluster F, Jumeirah Lakes Tower - Dubai, UAE<br>Sunday-Thursday 9 am - 6 pm</p>
			</div>   
			</div> 

		</div>
		<div class="align-center"><img src="{{ asset('img/logo.jpg') }} "> </div>
	</div>  
</div>
<script type="text/javascript">
	function scrollTo() {
		var pathUrl = "{{ asset('vvv/captcha.php') }}"+"?";
		document.getElementById('captcha').src=pathUrl+Math.random();
        $('html, body').animate({ scrollTop: $('.feedback-form').offset().top }, "slow");
        document.getElementById('form_verification').focus();
        return false;
    }	
    function feedBackValidate () {		
		var enteredText = $("#form_verification").val();		
		$.ajax({
			type: "POST",
			url: "{{ asset('vvv/check.php') }}",
			data: {"code": enteredText},
			success: function (result) {				
				if(result == 'true') {					
					return true;
				} else {
					alert("Invalid Captcha");
					return false;
				}
			}
	  	});
	}
</script>

{% endblock %}

