<table>
  <tr>
    <td colspan="2" align="center" valign="middle">
    <table>
<p class="MsoNormal">
<span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">
{% for user in users %}
<b>Dear {{ user.contactname }},</b>
{% endfor %}
<br>
<br>
</span>
</p>
<p class="MsoNormal">
<span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">
Thank you for choosing the Free Trial feature from Businessbids Networks
<span class="im">
Once this feature has been activated you will be notified by our team and then you will start receiving new business leads.
<br>
<br>
</span>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left"><strong>If you have any questions please feel free to contact our support center on <a style="color: #0099FF;"> (04) 42 13 777</a>.</strong></P>
<br>
<br>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left">Regards
<br>
BusinessBid</p>
<br>
<br>
</span>
<b>
<u>
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:#1f497d">
<u></u>
<u></u>
</span>
</u>
</b>
</p>
    </table>
