{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>Free Trail Orders</h1></div
<div class="row">
<table class="col-md-6 vendor-enquiries">

<thead><tr><th>Order No</th><th>Category</th><th>Status</th><th>Created Date</th><th>Updated Dated</th><th>Leads</th><th>Duration</th></tr></thead>
{% for o in order %}

        <tr><td>{{ o.orderno }}</td>
<td>{{ o.category }}</td><td>{{ o.status }}</td><td>{{ o.created| date('Y-m-d') }}</td><td>{{ o.updated| date('Y-m-d') }}</td><td> {{ o.leads }}</td>
<td>{{ o.duration }}</td>

{% endfor %}
</table>
</div>
</div>
{% endblock %}
