<table>
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;"><b>Dear Admin,</b></p><br/>
 {% for user in users %} 
<p style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">New Free Trial request has been initiated by  {{ user.contactname }} </p>
 {% endfor %} 
<p class="MsoNormal">
<span style="family:Helvetica,Arial,sans-serif;font-size:16px;line-height:1.3em;text-align:left;">BusinessBid</span>
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<u></u>
<u></u>
</span>
</p>
<p class="MsoNormal">
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:#1f497d">
----------------------------------------------------------------------------------------------------------------------------------------
</span>
</p>
<span>
<p>
<span style="font-family:Calibri,sans-serif; color:red;">
Once the BusinessBid admin initiates the Free Trial Feature then the vendor should also receive the following email.
<br>
<br>
</span>
<span style="font-size:11.0pt;font-family:"Calibri","sans-serif";color:red">
<u></u>
<u></u>
</span>
</p>
</span>
</table>
