{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}
{% block maincontent %} 
<div class="container">
<div class="page-title"><h1>Admin Login</h1></div>
<div class="edit-user-block">
<div class="form_wrapper col-md-6">
	{% for flashMessage in app.session.flashbag.get('error') %}

	<div class="alert alert-danger">{{ flashMessage|raw }}</div>
		
	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>
		
	{% endfor %}
		{{ form_start(form) }}
		{{ form_errors(form) }}
		<div>
			<div class="control">{{ form_widget(form.email) }}</div>

			<div class="control"> {{ form_widget(form.password) }}</div>
		</div>
	{{ form_rest(form) }} 
	{{ form_end(form) }}
		<h6><a href="{{ path('b_bids_b_bids_forgot_password') }}">Forgot your password?</a></h6>

</div>
</div>
</div>
{% endblock %}
