{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"> 
<h2>Review Details</h2>
</div>
<div class="col-sm-6 vendor-user gray-bg">



{% for r in mappedreview %} 
<tr><td>{{ r.created|date('Y-m-d H:m:s') }}</td>


 <div class="field-item"><label>Date</label><div class="field-value">{{ r.created|date('Y-d-m') }}</div></div>
		<div class="field-item"><label>Category</label><div class="field-value">{{ r.category }}</div></div>
		<div class="field-item"><label>Subject</label><div class="field-value">{{ r.subj }}</div></div>
		<div class="field-item"><label>Business Now</label><div class="field-value"> {{ r.businessknow }}</div></div>
		<div class="field-item"><label>Business Recomendation</label><div class="field-value">{{ r.businessrecomond }}</div></div>
		<div class="field-item"><label>Service Experience</label><div class="field-value">{{ r.serviceexperience }}</div></div>
		<div class="field-item"><label>Service Summary</label><div class="field-value">{{ r.servicesummary }}</div></div>
{% endfor %}

</div>
</div>

{% endblock %}
