{% extends '::newconsumer_dashboard.html.twig' %}

{% block enquiries %}
<div class="col-md-9 dashboard-rightpanel">
<h1>My Customer Account</h1>
{% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage|raw }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
<div class="page-title">
<h2>Matched Vendors Details<br>Job Request Number-{{ eid }}</h2>
</div>

<table>
<tr>
<th>Vendor Name</th>
<th>Business Name</th>
<th>Email ID</th>
<th>Address</th>
<th>Phone No</th>
<th>Description</th>
<th>Action</th></tr>
{% if mappedenquiry is not empty %}
{% for m in mappedenquiry %}
<tr>
<td>{{ m.contactname }}</td>
<td>{{ m.bizname }}</td>
<td>{{ m.email }}</td>
<td>{{ m.address }}</td>
<td>{{ m.smsphone }}</td>
<td>{% if m.description is not empty %}{{ m.description }} {% else %} N/A {% endif %}</td>
<td><a href="{{ path('b_bids_b_bids_post_review', {'authorid':authorid ,'vendorid':m.id,'enquiryid': eid}) }}">Write a Review</a></td>

</tr>
{% endfor %}
{% else %}
<tr>
<td>No matched vendors are available</td>
</tr>
{% endif %}
</table>
</div>

{% endblock %}
