{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"> 
<h2>Job Request Details-Job Request Number{%  if mappedenquiry is not empty %}
{% for e in mappedenquiry %} {{ e.id }}{% endfor %}
{% else %} N/A{% endif %}</h2>
</div>

<div class="col-sm-6 vendor-user gray-bg">

{%  if mappedenquiry is not empty %}
{% for e in mappedenquiry %} 
							
                             
        <div class="field-item"><label>Date</label><div class="field-value">{{ e.created|date('Y-d-m') }}</div></div>
		<div class="field-item"><label>Category</label><div class="field-value">{{ e.category }}</div></div>
		<div class="field-item"><label>Subject</label><div class="field-value">{{ e.subj }}</div></div>
		<div class="field-item"><label>City</label><div class="field-value"> {{ e.location }}</div></div>
		<div class="field-item"><label>Description</label><div class="field-value">{{ e.description }}</div></div>
		
		
                            
						{% endfor %}
{% else %}
<div class="field-item">
No Details are Available
</div>
{% endif %}

</div>
</div>

{% endblock %}
