{% if typeOfMenu == 'vendorSearch' %}
    {% for category in categories %}
        {% if loop.last %}
            <li><a class="all-category" href="{{ path('bizbids_vendor_search') }}">See All Categories</a></li>
        {% else %}
        <li><a class="{{ category.catClass }}" href="{% if loginFlag == true %}{{ path('b_bids_b_bids_post_by_search',{'categoryid':category.id }) }}{% else %}{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':category.id }) }}{% endif %}">{{ category.category }} Quotes</a></li>
        {% endif %}
    {% endfor %}
{% elseif typeOfMenu == 'vedorReview' %}
    {% for category in categories %}
        {% if loop.last %}
            <li><a class="all-reviews" href="{{ path('b_bids_b_bids_node4') }}">See All Reviews</a></li>
        {% else %}
        <li><a class="{{ category.catClass }}" href="{{ path('b_bids_b_bids_reviewform_post',{'catid':category.id}) }}">{{ category.category }} Reviews</a></li>
        {% endif %}
    {% endfor %}
{% elseif typeOfMenu == 'vendorResource' %}

    {% for category in categories %}
        {% if loop.last %}
            <li><a class="all-articles" href="http://www.businessbid.ae/resource_centre/home">See All Articles</a></li>
        {% else %}
        <li><a class="{{ category.catClass }}" href="http://www.businessbid.ae/resource_centre/{% if category.resourceLink is empty %}home-2{% else %}{{ category.resourceLink }}{% endif %}">{{ category.category|trim }} Articles</a></li>
        {% endif %}
    {% endfor %}
{% endif %}
