{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
	{% block dashboard %}
		<div class="col-md-9 dashboard-rightpanel">
			<div class="page-title"><h1>My Messages</h1></div>
			<!--<div class="row text-right page-counter"><div class="counter-box"><span class="now-show">1 of 20</span><span class="Prev btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-left"></span></span><span class="next btn btn-default btn-sm"><span class="glyphicon glyphicon-chevron-right"></span></span></div></div>-->
			<div class="message-reviews">
				{% for flashMessage in app.session.flashbag.get('error') %}
    				{{ flashMessage }}
				{% endfor %}

				{{ form_start(form) }}
				<div class="message-reviews-filter admin_filter">
					<div class="col-md-5 side-clear"><div class="label">From</div>{{ form_errors(form.from) }} {{ form_widget(form.from, {'id': 'datepicker1'}) }}</div>
					<div class="col-md-5 side-clear"><div class="label">To</div>{{ form_errors(form.to) }} {{ form_widget(form.to, {'id': 'datepicker2'}) }}</div>
					<!--<div class="col-md-4 search">{{ form_errors(form.email) }} {{ form_widget(form.email) }}</div>-->
					<div class="col-md-2 search-button">{{ form_widget(form.search) }} {{ form_rest(form) }}</div>
				</div>
				{{ form_end(form) }}

				{% if emails is empty %}
					<div class="message-alert alert alert-success">You have not received any emails.</div>
				{% else %}
				{% for email in emails %}
					<div class="form-item {{ loop.index }}">
						<div class="subject">{{ email.fromemail }}</div>
						<div class="date">{{ email.created | date('Y-m-d h:i:s') }}</div>
						<div id="menu" class="example_menu">
							<div class="review"><a class="collapsed">{{ email.emailsubj }}</a><ul><li>{{ email.emailmessage | raw}}</li></ul></div>
						</div>
					</div>
				{% endfor %}
				{% endif %}


			</div>

		</div>

	{% endblock %}

{% endblock %}
