{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}
<style>
.collapsedd .collapsed-content{
display: none;
list-style: none;
margin: 0;
padding: 0;
}
</style>

<script>
$(document).ready(function(){
$.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;
       
        // Create stars holder
        var $span = $('<span />').width(size);
        
        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();


	$(".moreview").click(function(){
	$(".moreview").not(this).html('View job request details');
		$(".collapsedd").not(this).children().children('div').slideUp('10000');
  		$(this).closest(".collapsedd").children().children('div').slideDown('10000');
		if($(this).html() == 'close') {
			$(this).html('View job request details');
			$(".collapsedd").not(this).children().children('div').slideUp('10000');
		}
		else
			$(this).html('close');
		
	});
});
</script>

<div class="col-md-9 dashboard-rightpanel">

<div class="page-title"><h1>Ratings & Reviews</h1></div>

{% if(count) %}

<div class="row text-right page-counter"><div class="counter-box"><span class="now-show">Now showing : {{ from }} to {{ to }} records</span></div></div>
{% endif %}
<div>
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

{% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
</div>

<div class="row">
{% if reviews is not empty %}
{% for r in reviews %}
<div class="rating-reviews">
<div class="form-item">
	<div class="subject">{{ r.subj }}</div>
	<div class="date">{{ r.created|date('Y-m-d H:m:s') }}<div class="rating"><span>{#{{ r.rating }}#}</span><span class="stars"></span></div></div>
	<label class="business-name">{{ r.author }}</label>
	<div class="review"><!--<a href="{{ path('b_bids_b_bids_mapped_reviews_vendor',{'rid':r.revid}) }}">-->{{ r.review }}</div>
	<div class="view-details"><!--<a href="{{ path('b_bids_b_bids_mapped_enquiry_vendor',{'eid':r.id}) }}">Click here view Description</a>-->
		<div class="collapsedd"> 
        <span> 
            <a class="reviewss"><span class="moreview">view Job Request Details</span></a> 
            <div class="collapsed-content">
			<div class="col-sm-6 post-requirement gray-bg">
				<h2>Job Request Details</h2>
				<div class="item-field">
				<label>Date</label><div class="field-value">{{ r.encreated|date('Y-d-m') }}</div>
				</div>
				<div class="item-field">
				<label>Category</label><div class="field-value">{{ r.category }}</div>
				</div>
				<div class="item-field">
				<label>Subject</label><div class="field-value">{{ r.subj }}</div>
				</div>
				<div class="item-field">
				<label>City</label><div class="field-value">{{ r.location }}</div>
				</div>
				<div class="item-field">
				<label>Description</label><div class="field-value">{{ r.description }}</div>
				</div>
			</div>
			
			<div class="col-sm-6 post-requirement gray-bg">
				<h2>Job Review Details</h2>
				<div class="item-field">
				<label>Date</label><div class="field-value">{{ r.encreated|date('Y-d-m') }}</div>
				</div>
				<div class="item-field">
				<label>Category</label><div class="field-value">{{ r.category }}</div>
				</div>
				<div class="item-field">
				<label>Subject</label><div class="field-value">{{ r.subj }}</div>
				</div>
				<div class="item-field">
				<label>Business Now</label><div class="field-value">{{ r.businessknow }}</div>
				</div>
				<div class="item-field">
				<label>Business Recomendation</label><div class="field-value">{{ r.servicesummary }}</div>
				</div>
				<div class="item-field">
				<label>Service Experience</label><div class="field-value">{{ r.serviceexperience }}</div>
				</div>
				<div class="item-field">
				<label>Service Summary</label><div class="field-value">{{ r.servicesummary }}</div>
				</div>
			</div>
			</div> 
        </span>
    </div>
	</div>
	
</div>



</div>
			
{% endfor %}
{% if(count) %}


<div>{% set Epage_count = -count//4 %}
<ul class="pagination">

  <li><a href="{{ path('b_bids_b_bids_my_reviews',{'offset':1}) }}">&laquo;</a></li>
{% for i in 1..-(Epage_count) %}

  <li><a href="{{ path('b_bids_b_bids_my_reviews',{'offset':i}) }}">{{ i }}</a></li>

{% endfor %}

  <li><a href="{{ path('b_bids_b_bids_my_reviews',{'offset':-(Epage_count)}) }}">&raquo;</a></li>
</ul>
</div>
{% endif %}

{% else %}
<table>
<tr><td align="center">No Reviews Available</td></tr>
</table>
{% endif %}

</div>
</div>
{% endblock %}

