{% extends '::base.html.twig' %}
{% block banner %}

{% endblock %}
{% block maincontent %}
<script>
$(document).ready(function(){
		var realpath = window.location.protocol + "//" + window.location.host + "/";
			$.ajax({url:realpath+"pullCategoryForFindMeVendor.php",success:function(result){

					$("#categoryfind").html(result);
				}});
			$.ajax({url:realpath+"pullCityForFindMeVendor.php",success:function(result){

					$("#city").html(result);
				}});
});
</script>
<div class="container how-works-block">
<div class="page-title1"><h1>How Business Bid Works</h1></div>
	<div class="row">
		<div class="how-work-icon1 col-md-5">
			<h2>Tell Us About Your Requirements</h2>
		</div>
		<div class="col-md-7">
			<ul>
				<li>Select a service or service category that is most applicable to your service requirement</li>
				<li>Provide a brief description that will allow us to match you with the best vendor</li>
			</ul>

		</div>
	</div>
	<div class="row">
		<div class="how-work-icon2 col-md-5">
			<h2>Get Quotations From Approved Vendors</h2>
		</div>
		<div class="col-md-7">
			<ul>
				<li>Receive contacts and quotations from up to 3 screened and approved vendors</li>
				<li>Check vendor ratings for previous jobs completed for added peace of mind</li>
			</ul>

		</div>
	</div>
	<div class="row">
		<div class="how-work-icon3 col-md-5">
			<h2>Choose the Best Vendor</h2>
		</div>
		<div class="col-md-7">
			<ul>
				<li>Choose the best vendor based on the quotes and previous ratings</li>
				<li>Rate the vendor for your project based on your experience</li>
			</ul>

		</div>
	</div>

	<div class="how-video">
	<h3>It's that Easy!</h3>
		<iframe width="50%" title="YouTube video player" src="http://www.youtube.com/embed/7qxGW9Ne5gA?HD=1;rel=0;showinfo=0;controls=0" height="258" frameborder="0"></iframe>
	</div>
	<div class="vendor-review-matched row">
		<div class="col-md-4 vendor-review-matched-img2"></div>
		<div class="col-md-8 vendor-review-matched-cont">
			<h2>Get Matched with Screened & Approved Vendors</h2>
			<p>Allow us to match you with the most suitable vendors for your project. Receive three quotations for your project by telling us a little about your requirement.</p>
		</div>
		<div class="col-md-12 vendor-review-matched-filter">
			<div class="col-md-4"><h3>Find Me Vendors</h3></div>
			<form name="search" method="request" action="{{ path('b_bids_b_bids_home_search') }}">
			<div class="col-md-3"><select name="category" id="categoryfind"></select></div>
			<div class="col-md-3"><select name="city" id="city"></select></div>
			<div class="col-md-2"><input type="submit" class="btn btn-success" name="submit" value="FIND ME VENDORS"></div>
			</form>
		</div>
	</div>
</div>

{% endblock %}