{% extends '::base.html.twig' %}

{% block banner %}

<div class="container works-container">
	<div class="row">
		<div class="col-md-6 works-content">
			<h1>How It Works For Vendors</h1>
			<p>BusinessBid is UAE's largest and most extensive one-stop portal with over 700 services which reaches out to thousands of customers every day. We help them find quality service professional and vendors like you to complete their projects.</p>
			<p>Stay ahead of the competition and join the BusinessBid network to get access to highly targeted prospects and qualified leads that will grow your business.</p>
			<p>Getting started is easy. Sign up today and let us help you grow your business, one homeowner at a time.</p>	
		</div>
		<div class="col-md-6 works-video">
			<iframe width="100%" height="300" src="//www.youtube.com/embed/La-gaNJQ64Q?rel=0" frameborder="0" allowfullscreen></iframe>
		</div>
		
	</div>
</div>

<div class="container works-control-block">
	<div class="works-title">It's your business – but let us do all the hard work for you</div>
	<div class="col-md-4">
		<div class="works-block">
			<h2><span>Get Noticed with Online Presence:</span></h2>
			<p>We create web pages of your business on our portal for the customers to view your services therefore increasing your business profile </p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="works-block">
			<h2><span>Pay per Leads:</span></h2>
			<p>Get access to all prospective and qualified leads but pay only for the ones you wish to undertake </p>
		</div>
	</div>
	<div class="col-md-4">
		<div class="works-block">
			<h2><span>Be busy, always:</span></h2>
			<p>Our unique lead and review management systems ensure you have access to all new projects in addition to generating repeat business</p>
		</div>
	</div>
</div>

<div class="container signup">
	<a class="btn btn-success signup-btn" href="{{ path('b_bids_b_bids_vendor_register') }}">SIGN UP TODAY</a>
</div>

{% endblock %}

{% block maincontent %}

{% endblock %}

