{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container">


<div class="form_wrapper_icon custtovend">

<div  class="form_wrapper">	
	<div class="bg-success">
	{% for flashMessage in app.session.flashbag.get('error') %}

				<div>{{ flashMessage }}</div> 
		
		{% endfor %}

		{% for flashMessage in app.session.flashbag.get('success') %}

			<div class="">{{ flashMessage }}</div>	
		
		{% endfor %}
		
		{% for flashMessage in app.session.flashbag.get('message') %}

		<div>{{ flashMessage }}</div>
			
		{% endfor %}

		</div>
	<div class="cust-vend-form">
		{{ form_start(form) }}
	  {{ form_errors(form) }}
	 
<div class="control-group">{{ form_label(form.password) }}<span class="req">*</span><b class="req" id="passwordexists"></b> : </div>
<div class="control"> {{ form_widget(form.password , { 'id': 'form_password' }) }} {{ form_widget(form.Submit) }} </div>

		
{{ form_end(form) }}
</div>
</div><div class="align-center"><img src="{{ asset('img/logo.jpg') }} "> </div>

</div>

</div>
</div>
{% endblock %}
