{% extends '::base.html.twig' %}
{% block title %}{% endblock %}
{% block noindexMeta %}<link rel="canonical" href="{{ url('b_bids_b_bids_reviewform_post',{'catid':catid }) }}" />{% endblock %}
{% block banner %}
{% endblock %}

{% block maincontent %}
<style>
    .pac-container:after{
        content:none !important;
    }
    .pac-container {
        background-color: #FFF;
        z-index: 1050;
        position: fixed;
        display: inline-block;
        float: left;
    }
</style>
<link rel="stylesheet" href="{{ asset('css/nprogress.css') }}">

<div class="container">
	<div class="breadcrum">Home / Vendor Review & Rating / {{ categoryname }}</div>
	 <div class="vendor_revirw_area">
             <div class="inner_vendor_area">
                 <div class="child_inned_vendor">
                     <div class="vendor_top_menu_drop">

                         <div class="vendor_top_menu_drop_one">
                            <select class="form-control" name="categories">
                                {% for category in categories %}
                                    <option value="{{ category.id }}" {% if category.id == catid %} selected="selected" {% endif %}>{{ category.category }}</option>
                                {% endfor %}
                            </select>
                         </div>
                         <div class="vendor_top_menu_drop_two">
                                <select class="form-control" name="sorting">
                                  <option value="hrated">Ratings: Highest Rated</option>
                                  {# <option value="mreviewed">Ratings: Most Reviewed</option> #}
                                  {# <option value="promo">Offering a Promotion</option> #}
                                  <option value="atoz">Alphabetical (A-Z)</option>
                                  <option value="ztoa">Alphabetical (Z-A)</option>
                                </select>
                         </div>
                     </div>
                     <div class="gray_box_area">
                         <div class="gray_box_area_child">
                             <p>Select up to 5 of the following companies and click Compare Quotes when you are done. You will then receive quotations from the companies that are available to take up your project.</p>
                         </div>
                     </div>
                     <div class="vendor_child_header">
                         <h2>{{ categoryname }}</h2>
                     </div>
                    {% if reviewList is not empty %}
                        {% for review in reviewList %}
                     <div class="vendor_child_main_content">
                         <div class="vendor_child_main_content_img">
                            {% if review.fileName is null %}
                             <img src="{{asset('img/noimage.png') }}" alt="{{ review.bizname }}">
                            {% else %}
                                <img src="{{asset('logo/' ~ review.fileName) }}" alt="{{ review.bizname }}">
                            {% endif %}
                         </div>
                         <div class="vendor_child_main_content_txt">
                             <h2><a href="{{ path('b_bids_b_bids_vendor',{'userid': review.userid, 'catid':catid }) }}">{{ review.bizname }}</a></h2>
                             <p><b>Cities Serviced:</b>
                                {% if vcGroup[review.userid] is defined %}
                                {{ vcGroup[review.userid]|join(", ")[:60] ~ '...' }}
                                {% else %}
                                    N/A
                                {% endif %}
                            </p>
                             <p><b>Services Offered:</b>
                                {% if vsGroup[review.userid] is defined %}
                                    <ul>{{ vsGroup[review.userid]|join(", ")[:60]~ '...' }}</ul>
                                {% else %}
                                    N/A
                                {% endif %}
                             </p>
                         </div>
                         <div class="vendor_child_main_content_rating">
                             <div class="rating_inner">
                                 <ul>
                                     {# <li><img src="{{asset('img/star'~ review.rating|round(1, 'floor') ~'.png') }}" alt="star"></li> #}

                                    {% if review.rating == 0 %}
                                        <li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li>
                                    {% else %}
                                     <li><img src="{{asset('img/star'~ roundrating(review.rating|round(1, 'floor')) ~'.png') }}" alt="star{{ review.rating|round(1, 'floor') }}"></li>
                                     {% endif %}

                                 </ul>
                                {% if rcGroup[review.userid][0] is defined %}
                                 <a href="{{ path('b_bids_b_bids_vendor',{'userid': review.userid, 'catid':catid }) }}"><p>{{ rcGroup[review.userid][0] }} &nbsp;Verified Review(s)</p></a>
                                {% endif %}
                             </div>
                             <div class="rating_inner_text">
                                 <h3>({{ review.rating|round(1, 'floor') }}/5.0)</h3>
                             </div>
                             <div class="rating_checkbox">
                                <label><!-- Squared TWO -->
                                <div class="squaredTwo">
                                    <input type="checkbox" value="{{ review.userid }}" id="squared{{ loop.index }}" name="check{{ loop.index }}" class="vcheck" />
                                    <label for="squared{{ loop.index }}"></label>
                                </div>
                                Request Quote</label>
                             </div>
                         </div>
                     </div>
                        {% endfor %}
                    {% endif %}
                    {# End of loop #}
                     <div class="get_mached_right_way">
                         <div class="get_mached_right_way_img">
                             <img src="{{asset('img/matchedlogo.png') }}" alt="">
                         </div>
                         <div class="get_mached_right_way_text">
                             <h2>Get matched Right Away</h2>
                             <p>Use our vendor match technology to receive quotation from the most appropriate vendors immediately.</p>
                         </div>
                         <div class="get_mached_right_way_btn">
                             <button type="submit" class="mached_btn">GET MATCHED NOW</button>
                         </div></div>
                          <div class="pagenavarea">
                            <div class="pagenavarea_inner">
                                {{ form(filterForm) }}
                                {{ pagination|raw }}
                             </div>
                         </div>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog" data-backdrop="static">
                          <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">

                              <div class="modal-body">
                                {% include 'BBidsBBidsHomeBundle:Categoriesform/Reviewforms:'~ twigFileName ~'.html.twig' %}
                              {# <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div> #}
                            </div>
                          </div>
                            </div>
                        </div>


                 </div>
                 <div id="sticky-anchor"></div>
                 <div id="sticky" class="child_inned_sideber_vendpr">
                     <div class="child_sideber_vendor">
                         <h2>Select up to 5 of the following companies and click Compare Quotes when you are done. You will then receive quotations from the companies that are available to take up your project.</h2>
                         {{ form_start(quoteForm) }}
                          <div class="form-group">
                            {{ form_label(quoteForm.com1) }}
                            {{ form_widget(quoteForm.com1) }}
                          </div>
                          <div class="form-group">
                            {{ form_label(quoteForm.com2) }}
                            {{ form_widget(quoteForm.com2) }}
                          </div>
                          <div class="form-group">
                            {{ form_label(quoteForm.com3) }}
                            {{ form_widget(quoteForm.com3) }}
                          </div>
                          <div class="form-group">
                            {{ form_label(quoteForm.com4) }}
                            {{ form_widget(quoteForm.com4) }}
                          </div>
                          <div class="form-group">
                            {{ form_label(quoteForm.com5) }}
                            {{ form_widget(quoteForm.com5) }}
                          </div>
                          <button type="button" class="compare_btn" id="compareQuotes">COMPARE QUOTES</button>
                          {{ form_end(quoteForm) }}
                          <h4>• You will receive quotes from the first 3 available companies.</h4>
                     </div>
                 </div>
                 {# <div class="compare_btn_area">
                     <button type="submit" class="compare_btn">COMPARE QUOTES</button>
                 </div> #}
             </div>
         </div>

<!-- Footer Script Here -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('categories_form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script>
var textBoxCount	=	1;
    function scrollBox (tag) {
        $('#myModal').animate({scrollTop: tag.position().top -10},'slow');
    }
    $(document).ready(function(){

        if ($('#sticky').length) { // make sure "#sticky" element exists
          var el = $('#sticky');
          var stickyTop = $('#sticky').offset().top; // returns number
          var stickyHeight = $('#sticky').height();

          $(window).scroll(function(){ // scroll event
              var limit = $('div.pagenavarea').offset().top - stickyHeight - 20;

              var windowTop = $(window).scrollTop(); // returns number

              if (stickyTop < windowTop){
                 el.css({ position: 'fixed', top: 0 , right: 100 });
              }
              else {
                 el.css('position','static');
              }

              if (limit < windowTop) {
              var diff = limit - windowTop;
              el.css({top: diff});
              }
            });
       }
        var forms = [
            '[ name="{{ form.vars.full_name }}"]'
          ];
        var validationFlag = true;
          $( forms.join(',') ).submit( function( e ){
            e.preventDefault();
            console.log("tried submitting")
            if(validationFlag) {
                postForm( $(this), function( response ){
                    if(response.hasOwnProperty('error')) {
                        alert(response.error);
                        var i = 1;
                        for (i = 1; i < 5; i++) {
                            $("div#step"+i).hide();
                        };
                        $("div#step"+response.step).show();
                    } else {
                        $('p#enquiryResult:contains("processing")').text($('p#enquiryResult:contains("processing")').text().replace('processing',response.jobNo));
                        $("#category_form")[0].reset();
                    }
                });
            }
            return false;
          });
        function postForm( $form, callback ) {
              $.ajax({
                type        : $form.attr( 'method' ),
                beforeSend  : function() { NProgress.inc() },
                url         : $form.attr( 'action' ),
                data        : $form.serialize(),
                success     : function(data) {
                    callback( data );
                    NProgress.done();
                },
                error : function (xhr) {
                    alert("Error occured.please try again");
                    NProgress.done();
                }
              });
        }

        $('select[name="categories"]').on('change', function() {
            var redirectUrl = "{{ path('b_bids_b_bids_reviewform_post',{'catid':'category'}) }}";
            var res = redirectUrl.replace("category", $(this).val());
            window.location.assign(res);
        });
    {% if vList is empty %}
    var vList = {};
    {% else %}
    var vList = {{ vList|json_encode|raw }};
    selVendorsInit(vList);
    {% endif %}
    $('div.squaredTwo :checkbox').click(function() {
        var $this = $(this),reqType,boxValue;
        boxValue = $this.val();
        if ($this.is(':checked')) {
            reqType = "add";
        } else {
            reqType = "del";
        }

        var len = 0;
        $.each(vList,function (n,i) {
            len += (i.status == '0') ? 0: 1;
        })
        if((len >= 5) && (reqType == 'add')) {
            alert('You have already selected 5 companies for your request. \n Click "OK" and change companies selection.')
            return false;
        }


        $.post('{{ path('b_bids_b_bids_reviews_quote') }}',
        {
            boxValue : boxValue,
            reqType : reqType,
            catid : {{ catid }}
        },
        function(data,status) {
        var textBoxArray	=	new Array();
            vList[boxValue] = {}
            vList[boxValue].name = data;

            vList[boxValue].status = (reqType == 'add') ? 1 : 0;
            //console.log('status ->'+vList[boxValue].status);
            //console.log('Data ->'+data);

            if(vList[boxValue].status==1){

             jQuery('input#form_com'+textBoxCount).val(data);
             textBoxCount++;
            }
            if(vList[boxValue].status==0){
				for(var j=1;j<=5;j++){
					if(jQuery('input#form_com'+j).val()!='' && jQuery('input#form_com'+j).val()!=data){
						textBoxArray.push(jQuery('input#form_com'+j).val());
					}
				}
				textBoxCount	=	textBoxArray.length;
				textBoxCount++;
				var l=1;
				for(var k=0;k<textBoxArray.length;k++){
					jQuery('input#form_com'+l).val(textBoxArray[k]);
					l++;
				}
				for(var k=textBoxArray.length;k<=5;k++){
					jQuery('input#form_com'+l).val('');
					//l++;
				}
            }

            return false;
            var i = 0;
            jQuery.each(vList,function(index, item) {
                i++;

                if(item.status == 1){
                      textBoxArray.push(item.name);
                    }
                else{
                    }
                if(i == 5) return false;
            }),
            textBoxInsertFn(textBoxArray);
        })
    });
function textBoxInsertFn(name){

var k=1;
for(var j=0;j<name.length;j++){
	if(k<5){
		jQuery('input#form_com'+k).val(name[j]);
		k++;
	}
}
for(var m=j;m<=5;m++){
jQuery('input#form_com'+k).val('');
}


}
    $('#compareQuotes').click(function(){
        var i = 0;
        jQuery.each(vList,function(index, item) {
            if(item.status == 1) {
                i++;
            }
            if(i == 5) return false;
        })
        if(i == 0) {
            alert("Select at least one vendor.")
            $('#myModal').modal('hide');
        } else {
            $('#myModal').modal('show');
        }
   });


});
</script>
<script type="text/javascript" src="{{ asset('js/nprogress.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/reviewsform.general.js') }}" ></script>
<script type="text/javascript" src="{{ asset('js/reviewsformsvalidation/'~ twigFileName ~'.min.js') }}" ></script>
</div>

{% block footerScript%}
{% endblock %}
{% endblock %}
