{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
    .pac-container:after{
    content:none !important;
}
</style>
<div class="container category-search"> 
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
    <div class="cat-form">
        <div class="page-title"><h1>GET FREE QUOTES FROM SIGNAGE & SIGNBOARD COMPANIES IN THE UAE</h1></div>
        <div class="cat-form-block">
            <div class="category-steps-block">
                <div class="col-md-4 steps"><span>1</span><p>Choose what services you require</p></div>
                <div class="col-md-4 steps"><span>2</span><p>Vendors contact you & offer you quotes</p></div>
                <div class="col-md-4 steps"><span>3</span><p>You engage the best Vendor</p></div>
            </div>
            <div class="cat-list-cont">
                <div class="cat-list-block">
                    <div class="col-md-1 icon-block">
                        <img src="{{asset('img/icon1.png')}}">
                    </div>
                    <div class="col-md-11">
						<h2>Which of the below signage service do you require?*</h2>
						<div class="col-md-12">
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>A-Frame Signs</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Post & Panel Signs</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Safety Signs</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Vinyl Lettering</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Reception Signage</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Roll-up Banners</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Window Signage</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Shop Signboards</label>
							</div>
							<div class="form-group col-md-4">
								<input type="checkbox">
								<label>Banner & General Signage</label>
							</div>
						</div>
                    </div>
                    <div class="error"></div>
                </div>

				<div class="cat-list-block">
                    <div class="col-md-1 icon-block">
                        <img src="{{asset('img/icon1.png')}}">
                    </div>
                    <div class="col-md-11">
						<h2>What is the approximate width?*</h2>
						<div class="col-md-12">
							<div class="form-group col-md-4">
								<input type="radio">
								<label>0-50 cm</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>50-100 cm</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>1-2 m</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>2-5 m</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>5-10 m</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>10+ m</label>
							</div>
						</div>
                    </div>
                    <div class="error"></div>
                </div>
				
				<div class="cat-list-block">
                    <div class="col-md-1 icon-block">
                        <img src="{{asset('img/icon1.png')}}">
                    </div>
                    <div class="col-md-11">
						<h2>What is the approximate height?*</h2>
						<div class="col-md-12">
							<div class="form-group col-md-4">
								<input type="radio">
								<label>0-50 cm</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>50-100 cm</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>1-2 m</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>2-5 m</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>5-10 m</label>
							</div>
							<div class="form-group col-md-4">
								<input type="radio">
								<label>10+ m</label>
							</div>
						</div>
                    </div>
                    <div class="error"></div>
                </div>
				
				
				<div class="cat-list-block">
                    <div class="col-md-1 icon-block">
                        <img src="{{asset('img/icon1.png')}}">
                    </div>
                    <div class="col-md-11">
						<h2>Does the signage require installation?</h2>
						<div class="col-md-12">
							<div class="form-group col-md-6">
								<input type="radio">
								<label>Yes, Installation</label>
							</div>
							<div class="form-group col-md-6">
								<input type="radio">
								<label>No, Installation</label>
							</div>
						</div>
                    </div>
                    <div class="error"></div>
                </div>
				

                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon6.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Enter Full Name*</h2>
                        <div class="col-md-12">
                           <input class="form-control">
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon7.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Enter E-mail*</h2>
                        <div class="col-md-12">
                           <input class="form-control">
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-list-block">
                    <div class="col-md-1 icon-block"><img src="{{asset('img/icon8.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Select your Location*</h2>
                        <div class="col-md-12">
                           <div class="form-control cus-location">
                                <div class="col-md-6">

                                    <input type="radio">
                                    <label>UAE</label>
                                </div>
                                <div class="col-md-6">
                                         <input type="radio">
                                        <label>International</label>
                                </div>
                           </div>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon4.png')}}"></div>
                    <div class="col-md-11">
                        <h2>When are you looking to hire?*</h2>
                        <div class="col-md-12">
                           <select class="form-control"></select>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon9.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Is there any other additional information you would like to provide?</h2>
                        <div class="col-md-12">
                           <textarea class="form-control"></textarea>
                           <span>(max 120 characters)</span>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-submit"><button class="btn btn-success">GET QUOTES NOW</button></div>
            </div>
        </div>
    </div>
   
</div>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
{% endblock %}