{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<style>
    .pac-container:after{
    content:none !important;
}
</style>
<div class="container category-search"> 
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>
    <div class="cat-form">
        <div class="page-title"><h1>GET FREE QUOTES FROM LANDSCAPING COMPANIES IN THE UAE</h1></div>
        <div class="cat-form-block">
            <div class="category-steps-block">
                <div class="col-md-4 steps"><span>1</span><p>Choose what services you require</p></div>
                <div class="col-md-4 steps"><span>2</span><p>Vendors contact you & offer you quotes</p></div>
                <div class="col-md-4 steps"><span>3</span><p>You engage the best Vendor</p></div>
            </div>
            <div class="cat-list-cont">
                <div class="cat-list-block">
                    <div class="col-md-1 icon-block">
                        <img src="{{asset('img/icon1.png')}}">
                    </div>
                    <div class="col-md-11">
                        <h2>What kind of services do you require?*</h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Lawns & Gardens</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Custom Features</label>
                            </div>
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Irrigation System</label>
                            </div>
                        </div>
                       
                        
                        <div class="error"></div>
                    </div>
                </div>


                
                     <div class="cat-list-block">
                         <div class="col-md-1 icon-block"> <img src="{{asset('img/icon7.png')}}"></div>
                            <div class="col-md-11">
                            <h2>What kind of property is the service required for?*</h2>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="checkbox">
                                    <label>Residential</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="checkbox">
                                    <label>Commercial</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <input type="checkbox">
                                    <label>Government</label>
                                </div>
                            </div>

                             <div class="col-md-4">
                                <div class="form-group">
                                <input type="checkbox">
                                <label>Other </label>
                                    <div class="other">
                                        <input class="form-control" type="text">
                                        <span>(max 30 characters)</span>
                                    </div>
                                </div>
                            </div>
                        <div class="error"></div>
                    </div>

                     

                </div>

               



                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon2.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Do you need the following landscaping & garden services?*</h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Landscape & Garden Design</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Landscape Construction</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Lawn Mowing</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Land Clearing & Tree Removal</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Synthetic Turfs</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Garden Maintenance</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Garden Flowers & Planting</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Other </label>
                                <div class="other">
                                <input class="form-control" type="text">
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>None</label>
                            </div>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>



                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon2.png')}}"></div>
                    <div class="col-md-11">
                        <h2>What kind of property is the service required for?*</h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Decking</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Pergola</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Patio</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Water Features</label>
                            </div>
                        </div>

                        

                    

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Other </label>
                                <div class="other">
                                <input class="form-control" type="text">
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                        
                        
                        <div class="error"></div>
                    </div>
                </div>


                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon2.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Do you require any custom features installed or repaired?*</h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Decking</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Pergola</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Patio</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Gazebo</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Gazebo</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Water Features</label>
                            </div>
                        </div>

                        

                    

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Other </label>
                                <div class="other">
                                <input class="form-control" type="text">
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>none</label>
                            </div>
                        </div>

                        
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon2.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Do you need the following irrigation services installed or repaired?*</h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Drip Irrigation</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Spray Irrigation</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Misting Systems</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="checkbox">
                                <label>Sprinkler System</label>
                            </div>
                        </div>

                       

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Other </label>
                                <div class="other">
                                <input class="form-control" type="text">
                                <span>(max 30 characters)</span>
                                </div>
                            </div>
                        </div>

                         <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>none</label>
                            </div>
                        </div>

                        
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon2.png')}}"></div>
                    <div class="col-md-11">
                        <h2>*What kind of property is the service required for? </h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Residential</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Commercial</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>Government </label>
                            </div>
                        </div>

                       
                        
                        
                        <div class="error"></div>
                    </div>
                </div>

                  <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon2.png')}}"></div>
                    <div class="col-md-11">
                        <h2>What is the dimension of this project?*</h2>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>0-50 m2</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>50-100 m2</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>100-250 m2</label>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>250-500 m2</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="radio">
                                <label>500+ m2</label>
                            </div>
                        </div>

                       
                        
                        
                        <div class="error"></div>
                    </div>
                </div>

                     <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon6.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Enter Full Name*</h2>
                        <div class="col-md-12">
                           <input class="form-control">
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon7.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Enter E-mail*</h2>
                        <div class="col-md-12">
                           <input class="form-control">
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-list-block">
                    <div class="col-md-1 icon-block"><img src="{{asset('img/icon8.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Select your Location*</h2>
                        <div class="col-md-12">
                           <div class="form-control cus-location">
                                <div class="col-md-6">

                                    <input type="radio">
                                    <label>UAE</label>
                                </div>
                                <div class="col-md-6">
                                         <input type="radio">
                                        <label>International</label>
                                </div>
                           </div>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                 <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon4.png')}}"></div>
                    <div class="col-md-11">
                        <h2>When are you looking to hire?*</h2>
                        <div class="col-md-12">
                           <select class="form-control"></select>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>

                <div class="cat-list-block">
                    <div class="col-md-1 icon-block"> <img src="{{asset('img/icon9.png')}}"></div>
                    <div class="col-md-11">
                        <h2>Is there any other additional information you would like to provide?</h2>
                        <div class="col-md-12">
                           <textarea class="form-control"></textarea>
                           <span>(max 120 characters)</span>
                        </div>
                        
                        <div class="error"></div>
                    </div>
                </div>




                




               


                <div class="cat-submit"><button class="btn btn-success">GET QUOTES NOW</button></div>
            </div>
        </div>
    </div>
   
</div>


<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&dummy=.js"></script>
<script>
    var input = document.getElementById('form_location');
    var options = {componentRestrictions: {country: 'AE'}};
    new google.maps.places.Autocomplete(input, options);
</script>
{% endblock %}
