{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}


<div id="contact" class="contact-detail">
	<div class="container">
		<div class="page-title">
			<h1>Site Map</h1>
		</div>
		<div class="col-sm-4 sitemap-block">
		<h3>About BusinessBid</h3>
			<ul class="menu nav">
				<li class="first leaf"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#aboutus" title="" >About Us</a></li>
				<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#meetteam" title="" class="active">Meet the Team</a></li>
				<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#career" title="" class="active">Career Opportunities</a></li>
				<li class="last leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#valuedpartner" title="" class="active">Valued Partners</a></li>
				<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact" title="" class="active">Contact Us</a></li>
			</ul>
		</div>
		<div class="col-sm-4 sitemap-block">
		  <h3>Vendor Resources</h3>
			<ul class="menu nav">
				<li class="leaf"><a href="{{ path('b_bids_b_bids_login') }}#vendor" title="">Login</a></li>
				<li class="first leaf active"><a href="{{ path('bizbids_are_you_a_vendor') }}" title="" class="active">Grow Your Business</a></li>
				<li class="leaf"><a href="{{ path('b_bids_b_bids_how_it_works_2') }}" title="">How it Works</a></li>
				<li class="first leaf"><a href="{{ path('b_bids_b_bids_vendor_register') }}" title="">Become a Vendor</a></li>
				<li class="leaf active"><a href="{{ path('b_bids_b_bids_faq') }}" title="" class="active">FAQ's &amp; Support</a></li>
			</ul>
		</div>
		<div class="col-sm-4 sitemap-block">
		 <h3>BusinessBid Services</h3>
		 	<ul class="menu nav">
				<li class="leaf"><a href="{{ path('bizbids_vendor_search') }}">Vendor Search</a></li>
				<li class="first leaf active"><a href="{{ path('b_bids_b_bids_node4') }}" >Vendor Reviews</a></li>

			</ul>
		</div>
		<div class="col-sm-4 sitemap-block">
		 <h3>Client Services</h3>
		 	 <ul class="menu nav">
				<li class="first leaf"><a href="{{ path('b_bids_b_bids_post_job') }}" title="">Post a Job</a></li>
				<li class="leaf"><a href="{{ path('bizbids_vendor_search') }}" title="">Find a Vendor</a></li>
				<li class="leaf"><a href="#" title="">Search Reviews</a></li>
				<li class="last leaf"><a href="{{ path('b_bids_b_bids_reviewlogin') }}" title="">Write a Review</a></li>
			</ul>
		</div>
		<div class="col-sm-4 sitemap-block">
		 <h3>Client Resources</h3>
		 	 <ul class="menu nav">
				<li class="leaf"><a href="{{ path('b_bids_b_bids_login') }}#consumer" title="">Login</a></li>
				<li class="leaf"><a href="{{ path('b_bids_b_bids_how_it_works_2') }}">How it Works</a></li>
				<!--<li class="first leaf"><a href="{{ path('b_bids_b_bids_consumer_register') }}" title="">Become a Consumer</a></li> -->
				<li class="last leaf active"><a href="http:../../../resource_centre" title="" class="active">Resource Center</a></li>
				<li class="leaf active"><a href="{{ path('b_bids_b_bids_node6') }}" title="" class="active">FAQ's &amp; Support</a></li>
				</ul>
		</div>
		<div class="col-sm-4 sitemap-block">
		<h3>BusinessBid Info</h3>
		 	 <ul class="menu nav">
				<li class="leaf"><a href="{{ path('b_bids_b_bids_how_it_works_2') }}">How it Works</a></li>
				<li class="leaf"><a href="{{ path('b_bids_b_bids_reviewlogin') }}">Write a Review</a></li>
				<li class="last leaf active"><a href="{{ path('b_bids_b_bids_post_job') }}" title="">Post a Job</a></li>
				<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact" title="" class="active">Contact Us</a></li>

				</ul>
		</div>
	</div>
</div>


{% endblock %}

