{% extends '::consumer_dashboard.html.twig' %}

{% block pageblock %}

<div class="col-md-9 dashboard-rightpanel thank-you-block"><h2>Thank you for choosing free trial feature.</h3>
<p>Once this feature has been activated you will be notified by our team and then you will start receiving new business leads. 
<br>
<br>
<strong>If you have any questions please feel free to contact our support centre on <a>1800 525 666</a>.</strong></p>
<br>
<h5>Regards,</h5>
<h5>BusinessBid</h5>
</div>
{% endblock %}
