{% extends '::consumer_dashboard.html.twig' %}



{% block pageblock %}



<div class="col-md-9 dashboard-rightpanel">
<div class="page-title"> 
<h1>View Ticket</h1>
</div>
<iframe width="880" height="600" frameBorder="0" src="http://115.124.125.80/support/view.php" >
 </iframe>
</div>


{% endblock %}

