{% extends '::base.html.twig' %}
{% block title %}Vendor Profile{% endblock %}
{% block noindexMeta %}<meta name="robots" content="noindex, follow">{% endblock %}
{% block banner %}
{% endblock %}

{% block maincontent %}
<script type="text/javascript" src="{{ asset('js/modernizr-2.8.3.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jquery.scrollbox.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jssor.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/jssor.slider.js') }}"></script>



<script>
        jQuery(document).ready(function ($) {
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlayInterval: 4000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)
                $UISearchMode: 0,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always

                    $Loop: 1,                                       //[Optional] Enable loop(circular) of carousel or not, 0: stop, 1: loop, 2 rewind, default value is 1
                    $SpacingX: 3,                                   //[Optional] Horizontal space between each thumbnail in pixel, default value is 0
                    $SpacingY: 3,                                   //[Optional] Vertical space between each thumbnail in pixel, default value is 0
                    $DisplayPieces: 6,                              //[Optional] Number of pieces to display, default value is 1
                    $ParkingPosition: 253,                          //[Optional] The offset position to park thumbnail,

                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                        $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                        $AutoCenter: 2,                                 //[Optional] Auto center arrows in parent container, 0 No, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                        $Steps: 6                                       //[Optional] Steps to go for each navigation request, default value is 1
                    }
                }
            };

            var jssor_slider1 = new $JssorSlider$("slider1_container", options);

            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var parentWidth = jssor_slider1.$Elmt.parentNode.clientWidth;
                if (parentWidth)
                    jssor_slider1.$ScaleWidth(Math.min(parentWidth, 720));
                else
                    window.setTimeout(ScaleSlider, 30);
            }
            ScaleSlider();

            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>

<script type="text/javascript">
  $('#demo2').scrollbox({
    linear: true,
    step: 1,
    delay: 0,
    speed: 100
  });
</script>
<link type="text/css" href = "{{ asset('css/jquery.galleryview-3.0-dev.css') }}" rel="stylesheet">
<script>
$(document).ready(function(){
  $.fn.stars = function() {
    return $(this).each(function() {
        // Get the value
        var val = parseFloat($(this).html());
        // Make sure that the value is in 0 - 5 range, multiply to get width
        var size = Math.max(0, (Math.min(5, val))) * 16;

        // Create stars holder
        var $span = $('<span />').width(size);

        // Replace the numerical value with stars
        $(this).html($span);
    });
}
$('span.stars').stars();

  $("button[data-target^='.bs-example-modal-lg_']").click(function(){
  var clss = $(this).attr('data-target');

    var cs = clss.split("_");

      $('#myGallery'+cs[1]).galleryView();


  });

$('#getcontvalue').hide();
  $('#getcontbutton').click(function(){
    $('#getcontvalue').toggle();
  });

$('div[id^="morediv"]').hide();
  $('span[id^="seemore"]').click(function(){
    var idd = $(this).attr('id');
    var arr = idd.split("_");

    $('#lessdiv_'+arr[1]).hide();
    $('#morediv_'+arr[1]).show();
  });
    $('span[id^="seeless"]').click(function(){
      var idd = $(this).attr('id');
      var arr = idd.split("_");
      $('#morediv_'+arr[1]).hide();
      $('#lessdiv_'+arr[1]).show();
    });

});
</script>

<div class="container vendor-view">
  <div class="breadcrum">Home / Vendor Review / {{ profile.bizname}}</div>
     <div id="homes" class="two_vendor_page_area">
            <div class="two_vendor_page_inner">
                <div class="two_vendor_child">
                    <div class="two_child_inner_vebdor">
                        <div class="two_vendor_child_inner_pre">
                            <div class="two_vendor_child_inner_pre_img">
                              {% if logoObject.fileName is null %}
                                <img src="{{ asset('img/noimage2.jpg') }}" alt="">
                              {% else %}
                                <img src="{{asset('logo/' ~ logoObject.fileName) }}" alt="{{ profile.bizname }}">
                              {% endif %}
                            </div>
                            <div class="two_vendor_child_inner_pre_txt">
                                <h2>{{ profile.bizname}}</h2>
                                 <div class="rating_inner">
                                     <ul>
                                        {% if finalRating.rating == 0 %}
                                        <li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li>
                                        {% else %}
                                         <li><img src="{{asset('img/star'~ roundrating(finalRating.rating|round(1, 'floor')) ~'.png') }}" alt="star{{ finalRating.rating|round(1, 'floor') }}"></li>
                                         {% endif %}
                                     </ul>
                                </div> </br>
                                <p><span>{{ finalRating.rating|round(1, 'floor') }}</span>| {{ noOfReviews }} Verified Review(s)</p>
                            </div>
                            <div class="two_vendor_child_inner_pre_btn">
                                <button type="button" class="compare_btn" data-toggle="modal" data-target="#myModal">SEND ENQUIRY </button>
                                <button type="button" class="compare_btn" id="getcontbutton">VIEW CONTACT DETAILS </button>
                                {% if profile is not empty %}
                                <div id="getcontvalue" class="contactdetails mask" ><h2>Contact details</h2> <p><label>Mobile </label> : {{ profile.smsphone }} </p><p><label>Landline </label> : {{ profile.homephone }}</p>  {# <p><label>Address</label> :{{ profile.address }}</p> #}</div>
                                {% endif %}
                            </div>
                            <!-- Modal -->
                            <div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog" role="document">
                                <div class="modal-content1">
                                  <div class="modal-body">
                                    {# Body starts #}
                                    <div class="main_area">
                                      <div class="quort_area">
                                          <div class="inner_quort_area">
                                            <button id="closeModal" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                              <h2>MAKE AN ENQUIRY</h2>
                                              <p>Fill out the form to request a free estimate.</p>
                                              {{ form_start(enqForm,{ attr: {'onsubmit': 'return validateForm();', 'id':'enqForm'} }) }}
                                              <div class="form_quort">
                                                    <div class="form-group1 contactname">
                                                      {{ form_label( enqForm.contactname) }}
                                                      {{ form_widget( enqForm.contactname) }}
                                                      <small id="contactname"></small>
                                                    </div>
                                                    <div class="form-group1 email">
                                                      {{ form_label( enqForm.email ) }}
                                                      {{ form_widget( enqForm.email) }}
                                                      <small id="email"></small>
                                                    </div>
                                                    <div class="form-group1 phone">
                                                      {{ form_label( enqForm.mobile) }}
                                                      {{ form_widget( enqForm.mobile) }}
                                                      <small id="phone"></small>
                                                    </div>
                                                    <div class="form-group1 description">
                                                      {{ form_label( enqForm.description ) }}
                                                      {{ form_widget( enqForm.description ) }}
                                                      <p>* Denotes a required field.</p>
                                                    </div>
                                                    {{ form_widget(enqForm.postJob) }}
                                                    <div class="footer_text">
                                                    </div>
                                              </div>
                                              {{ form_end(enqForm) }}
                                          </div>
                                      </div>
                                  </div>
                                    {# Body ends #}
                                  </div>

                                </div>
                              </div>
                            </div>
                            {# modal ends #}
                        </div>
                        <div class="two_vendor_child_inner">
                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home" class="active">Profile</a></li>
                                      <li><a href="#photos">Photos</a></li>
                                      <li><a href="#reviews">Ratings & Reviews</a></li>
                                      <li></li>
                                  </ul>
                              </div>

                          <!-- Tab panes -->
                          <div class="tab-content">
                            <div id="home">
                                <h2>{{ profile.bizname}}</h2>
                                <div id="profile_child">
                                  {% if profile.description is not empty %}
                                    {# <h2>{{ profile.description[:50] }}</h2> #}
                                    <p>{{ profile.description }}</p>
                                  {% else %}
                                    <h2>No description</h2>
                                    <p>No description</p>
                                  {% endif %}
                                </div>
                                <div class="profile_child_one">
                                    <h3>Services Portfolio</h3>
                                    {% for c in categories %}
                                      <p>{{ c['category'] }}</p>
                                    {% endfor %}

                                    {% if services is not empty %}
                                      {% for service in services %}
                                        <p>{{ service.category }}</p>
                                      {% endfor %}
                                    {% endif %}

                                    <h3>Certifications</h3>
                                    {% if certifications is not empty %}
                                    {% for c in certifications %}
                                    <p> {{ c.certification }} </p>
                                    {% endfor %}
                                    {% else %}
                                      <p>No certifications available</p>
                                    {% endif %}

                                    <h3>Products</h3>
                                    {% if products is not empty %}
                                    {% for pr in products %}
                                    <p> {{ pr.product }} </p>
                                      {% endfor %}
                                    {% else %}
                                      <p>No products available</p>
                                    {% endif %}
                                </div>
                                <div class="profile_child_two">
                                    <h3>Service Area </h3>
                                    {% if cities is not empty %}
                                    {% for city in cities %}
                                      <p>{{ city.city }}</p>
                                    {% endfor %}
                                    {% else %}
                                      <p>No service area</p>
                                    {% endif %}

                                    <h3>Business License</h3>
                                    {% if expLicense is not empty %}
                                      <a href="{{ asset('img/licenses/' ~ expLicense.file ~ '') }}" target="_blank">
                                      <img src="{{ asset('img/praper_three.png') }}" alt="Praper_three">
                                      CLICK TO VIEW</a>
                                    {% else %}
                                      <img src="{{ asset('img/praper_three.png') }}" alt="Praper_three">
                                      <p>No license to view</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>

                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home">Profile</a></li>
                                      <li><a href="#photos" class="active">Photos</a></li>
                                      <li><a href="#reviews">Ratings & Reviews</a></li>
                                      <li></li>
                                  </ul>
                              </div>
                            <div id="photos">
                                <h2>Photos</h2>
                                <div id="photos_child">
                                    <h2>My Work</h2>
                                    <p>{{ albums|length }} Projects</p>


    <!-- Jssor Slider Begin -->
    <!-- To move inline styles to css file/block, please specify a class name for each element. -->
    <div id="slider1_container" style="position: relative; width: 720px;
        height: 480px; overflow: hidden;">

        <!-- Loading Screen -->
        <div u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity:0.7; position: absolute; display: block;
                background-color: #000; top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
            <div style="position: absolute; display: block; background: url("img/loading.gif") no-repeat center center;
                top: 0px; left: 0px;width: 100%;height:100%;">
            </div>
        </div>

        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 720px; height: 480px;
            overflow: hidden;">
            {% for i,album in albums %}
              {% for j,p in photos[i] %}
                {% set albumid = p.albumid %}
                {% set photoid = p.photoid %}
                {% set ext = p.phototag %}
                {% set imagepath = asset("gallery/"~albumid~"/"~albumid~loop.index) %}
            <div>
                <img u="image" src="{{ imagepath }}" alt="{{ album.albumname }}">
                <img u="thumb" src="{{ imagepath }}" alt="{{ album.albumname }}">
            </div>
            {% endfor %}
          {% endfor %}
          {#
            <div>
              <img u="image" src="{{ asset('img/tropical-beach-wallpaper.jpg') }}" alt="1">
              <img u="thumb" src="{{ asset('img/05.jpg') }}" alt="1">

            </div>
            <div>
                <img u="image" src="{{ asset('img/nature.jpg') }}" alt="1">
              <img u="thumb" src="{{ asset('img/01.jpg') }}" alt="1">
            </div>
            <div>
             <img u="image" src="{{ asset('img/thumb-02.jpg') }}" alt="1">
              <img u="thumb" src="{{ asset('img/02.jpg') }}" alt="1">
            </div> #}


        </div>
        <!--#region Thumbnail Navigator Skin Begin -->

        <!-- thumbnail navigator container -->
        <div u="thumbnavigator" class="jssort07" style="width: 720px; height: 100px; left: 0px; bottom: 0px;">
            <!-- Thumbnail Item Skin Begin -->
            <div u="slides" style="cursor: default;">
                <div u="prototype" class="p">
                    <div u="thumbnailtemplate" class="i"></div>
                    <div class="o"></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
            <!--#region Arrow Navigator Skin Begin -->
            <!-- Help: http://www.jssor.com/development/slider-with-arrow-navigator-jquery.html -->

            <!-- Arrow Left -->
            <span u="arrowleft" class="jssora11l" style="top: 123px; left: 8px;">
            </span>
            <!-- Arrow Right -->
            <span u="arrowright" class="jssora11r" style="top: 123px; right: 11px;">
            </span>
            <!--#endregion Arrow Navigator Skin End -->
        </div>
        <!--#endregion Thumbnail Navigator Skin End -->

        <!-- Trigger -->
    </div>

                            </div>


                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home">Profile</a></li>
                                      <li><a href="#photos">Photos</a></li>
                                      <li><a href="#reviews" class="active">Ratings & Reviews</a></li>
                                      <li></li>
                                  </ul>
                              </div>
                            <div id="reviews">
                                <h2>Ratings & Reviews</h2>
                               {#  <button type="submit" class="reviews_button_review">Write a Review</button> #}
                                {% if war == 3%}
                                  <p> You are logged in as <h3>{{ profile.bizname }}</h3></p>
                                {% elseif war == 2%}
                                  {% set userid = app.session.get('uid') %}
                                  {% set returnurl = 'b_bids_b_bids_vendor+'~vendorid %}
                                  {% set userid = app.session.get('uid') %}
                                  <button type="submit" class="reviews_button_review" onclick="window.open('{{ path('b_bids_b_bids_login', {'returnurl': returnurl} ) }}', '_self');">Write a Review</button>
                                {% elseif war == 1 %}
                                  {% set userid = app.session.get('uid') %}
                                  {% set returnurl = '/post/review/'~ userid ~'/'~ vendorid ~'/'~ enqid %}
                                    <button type="submit" class="reviews_button_review" onclick="window.open('{{ path('b_bids_b_bids_post_review', {'authorid':userid, 'vendorid': vendorid, 'enquiryid':enqid }) }}', '_self');">Write a Review</button>
                                {% elseif war == 0 %}
                                   <p> You do not have any enquiry mapped against this vendor to write a review </p>
                                {% endif %}

                                <div id="reviews_child">
                                    <ul>
                                        <li><h4>Sort by newest</h4></li>
                                        <li>
                                          <select class="dropdown_select" name="dateSorting" id="dateSorting">
                                          <option value="">Date</option>
                                          <option value="{{ path('b_bids_b_bids_vendor',{'userid': vendorid, 'catid':catid})}}?sort=date&type=asc#reviews">Date Ascending</option>
                                          <option value="{{ path('b_bids_b_bids_vendor',{'userid': vendorid, 'catid':catid })}}?sort=date&type=desc#reviews">Date Decending</option>
                                          </select>
                                        </li>
                                        <li>{# <a href="?sort=rating"><p>Rating</p></a> #}
                                          <select class="dropdown_select" name="ratingSorting" id="ratingSorting">
                                          <option value="Rating">Rating</option>
                                          <option value="{{ path('b_bids_b_bids_vendor',{'userid': vendorid, 'catid':catid})}}?sort=rating&type=asc#reviews">Rating Ascending</option>
                                          <option value="{{ path('b_bids_b_bids_vendor',{'userid': vendorid, 'catid':catid })}}?sort=rating&type=desc#reviews">Rating Decending</option>
                                          </select>
                                        </li>
                                    </ul>
                                </div>
                                <div class="comments_area">
                                    {% for r in reviews %}
                                    <div class="reviews_inner_rating">
                                         <div class="rating_inner rating_inners">
                                             <ul>
                                                 {% if r.rating == 0 %}
                                                  <li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li><li><img src="{{asset('img/srar_blanck.png') }}" alt="star0"></li>
                                                  {% else %}
                                                   <li><img src="{{asset('img/star'~ roundrating(r.rating|round(1, 'floor')) ~'.png') }}" alt="star{{ r.rating|round(1, 'floor') }}"></li>
                                                   {% endif %}
                                             </ul>
                                         </div>
                                        <p><span>{{ r.rating }}</span>| {{ r.created|date('Y-m-d') }}</p>
                                    </div>
                                    <div class="reviews_inner_rating_text">
                                        <p><span>{{ r.author }}</span>{# in <a href="">West Hollywood, CA</a></br>
                                         <span>Project:</span> <a href="">Renovate or Repair a Home</a> #}</p>
                                        <p class="botm">{{ r.review }}</p>
                                    </div>
                                  {% endfor %}
                          <div class="border_area"></div>
                         {# <div class="pagenavarea">
                            <div class="pagenavarea_inner">
                             <ul>
                                 <li><a href="">Prev</a></li>
                                 <li><a href="" class="actve">1</a></li>
                                 <li><a href="">2</a></li>
                                 <li><a href="">3</a></li>
                                 <li><a href="">4</a></li>
                                 <li><a href="">.....</a></li>
                                 <li><a href="">29</a></li>
                                 <li><a href="">30</a></li>
                                 <li><a href="">Next</a></li>
                             </ul>
                             </div>
                         </div> #}
                                </div>
                            </div>
                          </div>
                              <div class="two_vendor_child_mainmenu">
                                  <ul>
                                      <li><a href="#home" class="active">Profile</a></li>
                                      <li><a href="#photos">Photos</a></li>
                                      <li><a href="#reviews">Ratings & Reviews</a></li>
                                      <li><a href="#homes">Top of Page</a></li>
                                  </ul>
                              </div>

                        </div>
                       </div>
                    </div>
                    <div id="sticky-anchor"></div>
              <div id="sticky" class="two_vendor_sideber"><!-- Sidber -->
                <div class="two_vendor_sideber_inner">
                  <h2>Find Companies</h2>
                  <p>Just tell us a little bit about what you need, and receive quotations from leading companies in the UAE.</p>
                  <a href="{{ path('b_bids_b_bids_post_by_search_inline', {'categoryid':catid}) }}"><button type="button" class="compare_btn">COMPARE QUOTES NOW</button></a>
                  {# {% if uid is not empty %}
                    <a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':14}) }}"><button type="button" class="compare_btn">COMPARE QUOTES NOW</button></a>
                  {% else %}
                    <a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':14}) }}"><button type="button" class="compare_btn">COMPARE QUOTES NOW</button></a>
                  {% endif %} #}
                </div>
              </div>
</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('select#ratingSorting,select#dateSorting').on('change', function () {
      var url = $(this).val(); // get selected value
      if (url !='') { // require a URL
          window.location = url; // redirect
      }
      return false;
  });
  $("#direct_enq_form_mobile").keyup(function(){
        var ccVal = $(this).val();
        if(ccVal == '') {
            $('small#phone').html('Enter phone number.');
        } else if(isNaN(ccVal)) {
            $('small#phone').html('Numbers only !');
        }
  });


});
  function validateForm () {
    var name =  /^[a-zA-Z ]*$/, email = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
    if($('#direct_enq_form_contactname').length > 0) {
      if($('#direct_enq_form_contactname').val() == '')
      {
          $('small#name').text("Please enter your full name");
          $('div.contactname').css("border","2px solid red");
          return false;
      }
      else if(!name.test($('#direct_enq_form_contactname').val()))
      {
          $('small#name').text("Please enter a valid full name");
          $('div.contactname').css("border","2px solid red");
          return false;
      }
      $('div.contactname').removeAttr('style');$('small#name').empty();
    }
    if($('#direct_enq_form_email').length > 0) {
      if($('#direct_enq_form_email').val() == '')
      {
          $('small#email').text("Please enter your Email-Id");
          $('div.email').css("border","2px solid red");
          return false;
      }
      else if(!email.test($('#direct_enq_form_email').val()))
      {
          $('small#email').text("Please enter a valid Email-Id");
          $('div.email').css("border","2px solid red");
          return false;
      }
      $('div.email').removeAttr('style');$('small#email').empty();
    }
    if($('#direct_enq_form_mobile').length && ($('#direct_enq_form_mobile').val() == ''))
    {
        $('small#phone').html("Please enter a valid phone number");
        $('div.phone').css("border","2px solid red");
        return false;
    }
    $('div.phone').removeAttr('style');$('small#phone').empty();
    if($('#direct_enq_form_description').length && ($('#direct_enq_form_description').val() == ''))
    {
        $('small#description').html("Please enter description");
        $('div.description').css("border","2px solid red");
        return false;
    }
    $('div.description').removeAttr('style');$('small#description').empty();
    $.ajax({
       type: "POST",
       url: '{{ path("bizbids_vendor_direct_enquiry") }}',
       data: $("#enqForm").serialize(), // serializes the form's elements.
       success: function(data)
       {
          // $('#myModal').modal('hide');
          alert("Enquiry sent successful");
          $('div#myModal').removeAttr('style');
          $('body').removeClass('modal-open');
          $('.modal-backdrop').remove();
          $("#enqForm")[0].reset();
       }
    });
    return false;
  }
</script>


</div>


{% endblock %}
{% block footerScript%}
{% endblock %}
