{% extends '::base.html.twig' %}
{% block title %}Categories Home{% endblock %}

{% block banner %}

{% endblock %}

{% block maincontent %}

<div class="container category-search">
    <div class="category-wrapper">
        {% for flashMessage in app.session.flashbag.get('error') %}

        <div class="alert alert-danger">{{ flashMessage }}</div>

        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('success') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">{{ flashMessage }}</div>

        {% endfor %}
    </div>

</div>
<!-- DROPDOWN AREA
    ================================================== -->
        <div class="six_area">
            <div class="six_child_area">
                <div class="inner_six_area">
                    <h2>SELECT A SERVICE CATEGORY</h2>
                    <div class="six_tabil">
                        <select name="categories" id="category">
                            <option value="">Select a category</option>
                        {% if categories is not empty %}
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.category }}</option>
                            {% endfor %}
                        {% endif %}
                        </select>
                    </div>
                    <div class="six_btn"><a href="#" id="get_quotes">START FREE QUOTES</a></div>
                </div>
            </div>
        </div>

    <!-- SERVICE CATEGORIES AREA
    ================================================== -->
    <div class="service_cat_area">
        <div class="inner_service_cat_area">
            <h1>OR</h1>
            <h2>CLICK ON A SERVICE CATEGORY</h2>
            <ul>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 14 }) }}"><div class="serv_one"></div></a><p>Accounting & Auditing</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 45 }) }}"><div class="serv_two"></div></a><p>Catering Services</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 87 }) }}"><div class="serv_three"></div></a><p>Interior Design & Fit Out Contractors</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 89 }) }}"><div class="serv_four"></div></a><p>IT Support</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 924 }) }}"><div class="serv_five"></div></a><p>Signage and Signboard</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 93 }) }}"><div class="serv_six"></div></a><p>Landscaping & Gardening</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 994 }) }}"><div class="serv_seven"></div></a><p>Maintenance</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 79 }) }}"><div class="serv_eight"></div></a><p>Business Cards & Printing Press</p></li>
                <li class="serv_blanck"></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 995 }) }}"><div class="serv_nine"></div></a><p>Commercial Cleaning</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 114 }) }}"><div class="serv_ten"></div></a><p>Photography</p></li>
                <li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 112 }) }}"><div class="serv_eleven"></div></a><p>Pest Control</p></li>
            </ul>
        </div>
    </div>
<script type="text/javascript">
$(document).ready(function(){
    $('select[name="categories"]').bind('change',function () {
        var cat = $(this).val(), urlPath = "{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid': 'cid' }) }}";
        urlPath = urlPath.replace("cid", cat);
        $("#get_quotes").attr('href', urlPath);
    });
});
</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-62204441-1', 'auto');ga('send', 'pageview');
</script>

{% endblock %}
