{% extends '::base.html.twig' %}

{% block banner %}

{% endblock %}

{% block maincontent %}
<div class="container form-horizontal vendor-register-form">
	<h1>Vendor Registration</h1>
<div  class="form_wrapper">
	{% for flashMessage in app.session.flashbag.get('error') %}

			<div class="alert alert-danger">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('success') %}

		<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}

	{% for flashMessage in app.session.flashbag.get('message') %}

	<div class="alert alert-success">{{ flashMessage }}</div>

	{% endfor %}
	{{ form_start(form) }}
	  {{ form_errors(form) }}

 <div>
    <div>   {{ form_errors(form.email) }} </div>
    <div>	{{ form_errors(form.smscode) }} </div>
	<div>	{{ form_errors(form.smsphone) }} </div>
	<div>   {{ form_errors(form.address) }} </div>
	<div>	{{ form_errors(form.bizname) }} </div>
	<div>	{{ form_errors(form.contactname) }} </div>
	<div>	{{ form_errors(form.homecode) }} </div>
	<div>	{{ form_errors(form.homephone) }} </div>
</div>
<div>

	   <div class="form-item">{{ form_label(form.contactname) }}<span class="req">*</span> : <div class="field-item"> {{ form_widget(form.contactname) }}</div></div>
		<div class="form-item">{{ form_label(form.email) }}<span class="req">*</span><b class="req" id="emailexists"></b> : <div class="field-item"> {{ form_widget(form.email, { 'id': 'form_vemail' }) }}</div></div>

		<div class="form-item">{{ form_label(form.smscode) }}<span class="req">*</span> : <div class="field-item"> {{ form_widget(form.smscode) }}{{ form_widget(form.smsphone) }}</div></div>
		<div class="form-item">{{ form_label(form.homecode) }} <span class="req">*</span> :<div class="field-item"> {{ form_widget(form.homecode) }}{{ form_widget(form.homephone) }}</div></div>

		<div class="form-item">{{ form_label(form.faxcode) }} : </div>
		<div class="form-inline  control">
		<div class="form-group area-code">{{ form_widget(form.faxcode) }} </div> <div class="form-group phone-no"> {{ form_widget(form.faxphone) }}</div></div>

		
		<div class="form-item">{{ form_label(form.bizname) }}<span class="req">*</span> : <div class="field-item"> {{ form_widget(form.bizname) }}</div></div>
		<div class="form-item">{{ form_label(form.address) }}<span class="req">*</span> : <div class="field-item"> {{ form_widget(form.address) }}</div></div>
		
		
		<div class="control">
            <div class="captcha-block">
                <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"></script>
                <noscript>
               <iframe src="https://www.google.com/recaptcha/api/noscript?k=6LcCrQMTAAAAAA3zTbRoCk0tmgghhTt_onX5-gMz"
                   height="300" width="500" frameborder="0"></iframe><br>
             </noscript>
             <div class="extra-text">
                 <div class="extra-block">
                     <ul>
                        <li>Enter text then click on button below to register</li>
                        <li>Your privacy is important, we do not provide information to third parties</li>
                     </ul>
                 </div>
             </div>
            </div>
        </div>

		<div class="control-group">{{ form_rest(form) }} </div>

</div>
</div></div>
{% endblock %}
