<!DOCTYPE HTML>
<head>
<title>Business BID</title>
<link type="text/css" rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--[if lt IE 9]>
  	<script src="{{ asset('js/html5shiv.min.js') }}"></script>
  	<script src="{{ asset('js/respond.min.js') }}"></script>
	<![endif]-->
	
	<link type="text/css" rel="stylesheet" href="{{ asset('css/hover-min.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/hover.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/style.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/layout.css') }}">
	<link type="text/css" rel="stylesheet" href="{{ asset('css/star-rating.css') }}" media="all">
	<link href='http://fonts.googleapis.com/css?family=Questrial|Didact+Gothic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arimo|Roboto:400,300' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>	
	
	
	<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="{{ asset('js/bootstrap.js') }}"></script>
<!--	<script src="{{ asset('js/bootstrap.min.js') }}"></script> -->
	<script src="{{ asset('js/star-rating.js') }}" type="text/javascript"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
 
{% block customcss %}

{% endblock %}

{% block javascripts %}



	<script>
	$(document).ready(function(){	
	
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$('#category').autocomplete({
	      	source: function( request, response ) {
	      	$.ajax({
	      	url : realpath+"ajax-info.php",
	      	dataType: "json",
	data: {
	   name_startsWith: request.term,
	   type: 'category'
	},
	 success: function( data ) {
	 response( $.map( data, function( item ) {
	 
	return {
	label: item,
	value: item
	
	}
	
	}));
	},
	select: function(event, ui) {
                               alert( $(event.target).val() );
                            }
	      	});
	      	},
	      	autoFocus: true,
	      	minLength: 2  
	      	 	
	      });

});
	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_subcategory").html('<option value="0">Select</option>');
	$("#form_category").on('change',function (){
	var ax = 	$("#form_category").val();
	
	$.ajax({url:realpath+"pullSubCategoryByCategory.php?categoryid="+ax,success:function(result){
	
	$("#form_subcategory").html(result);
	}});
	});
	
});

	$(document).ready(function(){
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	$("#form_email").on('input',function (){
	var ax = 	$("#form_email").val();
	if(ax==''){
	$("#emailexists").text('');
	}
	if(ax.indexOf('@') > -1 ) {
	
	$.ajax({url:realpath+"checkEmail.php?emailid="+ax,success:function(result){
	
	if(result == "exists") {
	$("#emailexists").text('Email address already exists!');
	} else {
	$("#emailexists").text('');
	}
	}});
	}
	});
	
});

	$(document).ready(function(){
	$('#form_description').attr("maxlength","300");
	$('#form_location').attr("maxlength","30");
	
	});

</script>
	<script type='text/javascript' >
	
	function jsfunction(){
	
	
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	document.getElementById("searchval").innerHTML=xmlhttp.responseText;
	megamenublogAjax();
	megamenubycatAjax();
	megamenubycatVendorSearchAjax();
	megamenubycatVendorReviewAjax();
	}
	  }
	xmlhttp.open("GET",realpath+"ajax-info.php",true);
	xmlhttp.send();

	
	
	}
	function megamenublogAjax(){

	
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
									//document.getElementById("megamenu1").innerHTML=xmlhttp.responseText;
		var mvsa = document.getElementById("megamenu1Anch");
		for (var i = 0; i < mvsa.childNodes.length; i++) {
			if (mvsa.childNodes[i].className == "dropdown-menu Resourcesegment-drop") {
				mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
			  break;
			}        
		}
	}
	  }
	xmlhttp.open("GET",realpath+"mega-menublog.php",true);
	//xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorSearch",true);

	xmlhttp.send();

	
	
	}
	function megamenubycatAjax(){

	
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	document.getElementById("megamenubycatUl").innerHTML=xmlhttp.responseText;
	}
	  }
	xmlhttp.open("GET",realpath+"mega-menubycat.php",true);
	xmlhttp.send();

	
	
	}
	function megamenubycatVendorSearchAjax(){

	
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();
	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
	//alert(xmlhttp.responseText);
	//console.log(xmlhttp.responseText);
		var mvsa = document.getElementById("megamenuVenSearchAnch");
		for (var i = 0; i < mvsa.childNodes.length; i++) {
			if (mvsa.childNodes[i].className == "dropdown-menu Searchsegment-drop") {
				mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
			  break;
			}        
		}
	//document.getElementById("megamenuVenSearchAnch").innerHTML = xmlhttp.responseText;
	}
	  }
	//xmlhttp.open("GET",realpath+"mega-menubycat.php?type=vendorSearch",true);
	xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorSearch",true);
	xmlhttp.send();

	
	
	}
	function megamenubycatVendorReviewAjax(){

	
	var realpath = window.location.protocol + "//" + window.location.host + "/";
	var xmlhttp;
	if (window.XMLHttpRequest)
	  {// code for IE7+, Firefox, Chrome, Opera, Safari
	  xmlhttp=new XMLHttpRequest();

	  }
	else
	  {// code for IE6, IE5
	  xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
	  }
	xmlhttp.onreadystatechange=function()
	  {
	  if (xmlhttp.readyState==4 && xmlhttp.status==200)
	{
		//alert(xmlhttp.responseText);
			var mvsa = document.getElementById("megamenuVenReviewAnch");
			for (var i = 0; i < mvsa.childNodes.length; i++) {
					if (mvsa.childNodes[i].className == "dropdown-menu Reviewsegment-drop") {
						mvsa.childNodes[i].innerHTML = xmlhttp.responseText;
					  break;
					}        
			}
	
		//document.getElementById("megamenuVenReviewUl").innerHTML = xmlhttp.responseText;
	}
	  }
	  xmlhttp.open("GET",realpath+"vendorReviewDropdown.php?type=vendorReview",true);
	//xmlhttp.open("GET",realpath+"mega-menubycat.php?type=vendorReview",true);
	xmlhttp.send();

	
	
	}
	
	
</script>

<script type="text/javascript">
function show_submenu(b, menuid)
{
	
	
	document.getElementById(b).style.display="block";
	if(menuid!="megaanchorbycat"){
	document.getElementById(menuid).className = "setbg";
	}
}

function hide_submenu(b, menuid)
{

	
	setTimeout(dispminus(b,menuid), 200);
	
	

	//document.getElementById(b).onmouseover = function() { document.getElementById(b).style.display="block"; }
	//document.getElementById(b).onmouseout = function() { document.getElementById(b).style.display="none"; }	
	//document.getElementById(b).style.display="none";
}

function dispminus(subid,menuid){
	if(menuid!="megaanchorbycat"){
	document.getElementById(menuid).className = "unsetbg";
	}
	document.getElementById(subid).style.display="none";
	
	
	}


$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });
  
});

 $(document).ready(function(){
      $(".Searchsegment-drop").mouseover(function(){
        $("#megamenuVenSearchAnch").css("background-color","#0e508e");
      });
	  
	   $(".Searchsegment-drop").mouseout(function(){
        $("#megamenuVenSearchAnch").css("background-color","#1e7cc8");
      });
    });
 $(document).ready(function(){
      $(".Reviewsegment-drop").mouseover(function(){
        $("#megamenuVenReviewAnch").css("background-color","#0e508e");
      });
	  
	   $(".Reviewsegment-drop").mouseout(function(){
        $("#megamenuVenReviewAnch").css("background-color","#1e7cc8");
      });
    });


</script>
{% endblock %}

{% block customjs %}

{% endblock %}

{% block jquery %}

{% endblock %}
</head>
<body>

{% set uid = app.session.get('uid') %}
{% set pid = app.session.get('pid') %}
{% set email = app.session.get('email') %}
{% set name = app.session.get('name') %}

<div class="main_container">
	<div class="top-nav-bar">
	<div class="container">
	<div class="row">
	<div class="col-sm-6 contact-info">
	<div class="col-sm-3">
	<span class="glyphicon glyphicon-earphone fa-phone"></span>
	<span>(04) 347 2022</span>
	</div>
	<div class="col-sm-3 left-clear">
	<span class="contact-no"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact">Contact Us</a></span>
	</div>
      
	</div>
	<div class="col-sm-2"></div>
	<div class="col-sm-4 clear-right ">
	<div class="right-top-links">
	 {% if uid is empty %}
	    <ul class="nav navbar-nav">
	       <li><a class="fb" href="{{ path('b_bids_b_bids_login') }}" ><img src="{{ asset('img/my-login.png') }}"></a></li>
	       <li><a class="fb" href="http://115.124.125.80/devfbtestlogin"><img src="{{ asset('img/fbsign.png') }}"></a> </li>
	<li id="flip"><span class="glyphicon glyphicon-search search-block-top"></span></li>
	<div id="panel"><input type="email" name="email" value="" placeholder="Search here" /> <input class="search-btn form_submit" type="submit" value="Search" /></div>                 	
	    </ul>
	{%endif%}
	
	</div>
	{% if uid is not null %}
	<div class="col-sm-12 clear-right dash-right-top-links">
	<ul>
	<li>Welcome, <span class="profile-name">{{ name }}</span></li> 
	<li><a href="{{ path('b_bids_b_bids_logout') }}">Logout</a></li> 
	</ul>
	</div>

	{% endif %}
	
	</div>
	</div>
	</div>
	</div>
	<!-- top header Starts -->
<div class="header">
	<div class="container">
    	<div class="row">
            <div class="col-md-5 logo"><a href="{{ path('b_bids_b_bids_home_homepage')}}"><img src="{{ asset('img/logo.jpg') }}" ></a></div>
            <div class="col-md-7 right_nav">
	{% block toprightmenu %}
            	<nav class="top_menu">
                	<ul class="nav navbar-nav">
                    	<li><a href="{{ path('b_bids_b_bids_how_it_works_2') }}">How it Works</a></li>
                     <li><a href="{{ path('b_bids_b_bids_reviewlogin') }}">Write a Review</a></li>
	<li><a href="{{ path('b_bids_b_bids_post_job') }}" title="">Post a Job</a></li>
	{% if uid is empty %}
                     	{% else %}
	{% if pid == 1 %}
	<li><a href="{{ path('b_bids_b_bids_admin_home') }}"> Dashboard </a></li>


	{% else %}
	<li><a href="{{ path('b_bids_b_bids_home') }}"> Dashboard </a></li>
	{% endif %}
	{% endif %} 
	{% if uid is null %}
                     <li>  <a class="fb" href="{{ path('b_bids_b_bids_grow_your_business') }}"><img src="{{ asset('img/ruvendor.jpg') }}"></a> </li>
                 {% endif %}
                  </ul>
                </nav>
	<nav class="top_menu_bottom">
	<ul>
	 
	</ul> 
	</nav>
	{% endblock %}
            </div>
        </div>
    </div>
</div>
    <!-- top header Ends -->
    <!-- Search block Starts -->
    <div class="search_block">
	{% block search %}
    	<div class="container">
        	<div class="row">
	<div class="col-md-7 left_nav">
	{% block topleftmenu %}
            	<nav class="user_menu_top">
                	<ul class="nav navbar-nav">
                    	<li><a href="{{ path('b_bids_b_bids_home_homepage')}}">Home</a></li>
						<li id = "megamenuVenSearchAnch" class="dropdown" onClick="javascript:hide_submenu('megamenu1', 'megamenu1Anch')">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendor Search<b class="caret"></b></a>
						<ul class="dropdown-menu Searchsegment-drop"  role="menu" aria-labelledby="dropdownMenu"></ul>
						</li>
						<li id = "megamenuVenReviewAnch" class="dropdown" onClick="javascript:hide_submenu('megamenu1', 'megamenu1Anch')">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendor Review<b class="caret"></b></a>
							<ul class="dropdown-menu Reviewsegment-drop"  role="menu" aria-labelledby="dropdownMenu"></ul>
						</li>
						<li id = "megamenu1Anch" class="dropdown" onClick="javascript:hide_submenu('megamenu1', 'megamenu1Anch')">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resource Centre<b class="caret"></b></a>
							<ul class="dropdown-menu Resourcesegment-drop"  role="menu" aria-labelledby="dropdownMenu"></ul>
						</li>
                        <!--<li id = "megamenu1Anch"  onClick="javascript:show_submenu('megamenu1', this.id);" onMouseOut="javascript:hide_submenu12('megamenu1', this.id);"><a href="#" id="megaanchor" >Resource Centre</a></li>-->
                    </ul>
                </nav>
              
	{% endblock %}
            </div>
	<div class="col-md-5 search_block">
	 <form name="search" method="request" action="{{ path('b_bids_b_bids_home_search') }}">
            	 	<input class="col-sm-8 search-box" type="text" list="browsers" placeholder="Type the service you require" id='category' name='category' ><datalist id="searchval"></datalist>
<input type="submit" value="Search" class="search-btn form_submit col-sm-3" />
                 </form>
	 </div>
    <!-- mega menu div block starts --> 
	{% block megamenu %}
	<div id="megamenuVenSearch" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenuVenSearch','megamenuVenSearchAnch');" onMouseOut="javascript:hide_submenu('megamenuVenSearch','megamenuVenSearchAnch');" ><div><ul id="megamenuVenSearchUl"></ul></div></div>
	<div id="megamenuVenReview" class="submenu menu-mega megamenubg-1 megamenubg" onMouseOver="javascript:show_submenu('megamenuVenReview','megamenuVenReviewAnch');" onMouseOut="javascript:hide_submenu('megamenuVenReview','megamenuVenReviewAnch');"><div class="review-menu-left"><ul id="megamenuVenReviewUl"></ul></div><div  class="review-menu-right"><button class="btn btn-success write-button" type="button" >Write a Review</button></div></div>
	<ul id="megamenu1" class="submenu menu-mega megamenubg" onMouseOver="javascript:show_submenu('megamenu1','megamenu1Anch');" onMouseOut="javascript:hide_submenu12('megamenu1','megamenu1Anch');" ></ul>
	<div id="megamenubycat" class="submenu menu-megabycat megamenubg" onMouseOver="javascript:show_submenu('megamenubycat','megaanchorbycat');" onMouseOut="javascript:hide_submenu('megamenubycat','megaanchorbycat');"><div><ul id="megamenubycatUl"></ul></div><div></div></div> 
	
	{% if uid is not null %}

	<script type="text/javascript">

	document.getElementById("megamenuVenSearch").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenuVenReview").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenu1").setAttribute("class", "submenu menu-mega-login megamenubg");
	document.getElementById("megamenubycat").setAttribute("class", "submenu menu-megabycat-login megamenubg");
	</script>


	{% endif %}
	
	{% endblock %}
    <!-- mega menu div block ends -->
            </div>
	    </div>
	   
	    {% endblock %}
	    
    </div>
   	<!-- Search block Ends -->
    <!-- Banner block Starts -->
    {% block banner %}

    <div class="jumbotron">
    <div id="carousel-example-generic" class="carousel slide carousel-fade" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	<li data-target="#carousel-example-generic" data-slide-to="3"></li>            
              </ol>
            
              <!-- Wrapper for slides -->
              <div class="carousel-inner">
	<div class="item">
                  	<img src="{{ asset('img/banner1.jpg') }}" alt="...">
                	</div>
	<div class="item active">
                  	<img src="{{ asset('img/banner2.jpg') }}" alt="...">
                	</div>
	  	<div class="item">
                  	<img src="{{ asset('img/banner3.jpg') }}" alt="...">
                	</div>
	<div class="item">
                  	<img src="{{ asset('img/banner4.jpg') }}" alt="...">
                	</div>
              </div>
            
             
            </div>
	
	<div class="category-right-block">
	<div class="row">
	<h2>Get Quick Quotes from Local Vendors for Free!</h2>
	<div class="col-md-6 side-clear right-med">
	{{ form_start(form) }}
	<div class="form-group">
	{{ form_widget(form.category) }}
	</div>
	</div>
	<div class="col-md-6 side-clear left-med">
	<div class="form-group">
	{{ form_widget(form.city) }}
	</div>
	</div>
	<div class="row">
	<div class="form-group col-sm-12">
	{{ form_rest(form) }}
	</div>
	</div>
	{{ form_end(form) }}
	</div>
	
	</div>

    </div>
    {% endblock %}
    <!-- Banner block Ends -->
	
	
    <!-- content block Starts -->
    {% block maincontent %}
    <div class="main_content">
	<div class="container content-top-one">
	<h1>How does it work? </h1>
	<h3>Find the perfect vendor for your project in just three simple steps</h3>
	<div class="content-top-one-block">
	<div class="col-sm-4 float-shadow">
	<div class="how-work">
	<img src="{{ asset('img/tell-us.jpg') }} " />
	<h4>TELL US ONCE</h4>
	<h5>Simply fill out a short form or give us a call</h5>
	</div>
	</div>
	<div class="col-sm-4 float-shadow">
	<div class="how-work">
	<img src="{{ asset('img/vendor-contacts.jpg') }} " />
	<h4>VENDORS CONTACT YOU</h4>
                                   <h5>Receive three quotes from screened vendors in minutes</h5>
	</div>
	</div>
	<div class="col-sm-4 float-shadow">
	<div class="how-work">
	<img src="{{ asset('img/choose-best-vendor.jpg') }} " />
	<h4>CHOOSE THE BEST VENDOR</h4>
	<h5>Use quotes and reviews to select the perfect vendors</h5>
	</div>
	</div>
	</div>
	</div>

<div class="content-top-two">
	<div class="container">
	<h1>Why choose Business Bid?</h1>
	<h3>The most effective way to find vendors for your work</h3>
	<div class="content-top-two-block">
	<div class="col-sm-4 wobble-vertical">
	<div class="choose-vendor">
	<img src="{{ asset('img/convenience.jpg') }} " />
	<h4>Convenience</h4>
	</div>
	<h5>Multiple quotations with a single, simple form</h5>
	</div>
	<div class="col-sm-4 wobble-vertical">
	<div class="choose-vendor">
	<img src="{{ asset('img/competitive.jpg') }} " />
	<h4>Competitive Pricing</h4>
	</div>
	<h5>Compare quotes before picking the most suitable</h5>

	</div>
	<div class="col-sm-4 wobble-vertical">
	<div class="choose-vendor">
	<img src="{{ asset('img/speed.jpg') }} " />
	<h4>Speed</h4>
	</div>
	<h5>Quick responses to all your job requests</h5>

	</div>
	<div class="col-sm-4 wobble-vertical">
	<div class="choose-vendor">
	<img src="{{ asset('img/reputation.jpg') }} " />
	<h4>Reputation</h4>
	</div>
	<h5>Check reviews and ratings for the inside scoop</h5>

	</div>
	<div class="col-sm-4 wobble-vertical">
	<div class="choose-vendor">
	<img src="{{ asset('img/freetouse.jpg') }} " />
	<h4>Free To Use</h4>
	</div>
	<h5>No usage fees. Ever!</h5>
	
	</div>
	<div class="col-sm-4 wobble-vertical">
	<div class="choose-vendor">
	<img src="{{ asset('img/support.jpg') }} " />
	<h4>Amazing Support</h4>
	</div>
	<h5>Local Office. Phone. Live Chat. Facebook. Twitter</h5>
	
	</div>
	</div>
	</div>

</div>
    	<div class="container content-top-three">
        	<div class="row">
	{% block recentactivity %}
	<h1>We operate all across the UAE</h1>
            <div class="col-md-6 grow">
	<img src="{{ asset('img/location-map.jpg') }} " />
            </div>
	
	<div class="col-md-6">
              <h2>Recent Jobs</h2>
              <div class="recent_block">
              {% for activity in activities %}
	<div class="activities-block">
	<div class="act-date">{{ activity.created|date('d-m-Y h:i') }}</div>
	{% if activity.type == 1%}
	<span><strong>{{ activity.contactname }}</strong> from {{ activity.city }}, posted a new job against <a href="{{ path('b_bids_b_bids_home_homepage') }}search?category={{ activity.category }}">{{ activity.category }}</a></span>
	{% else %}	
	<span><strong>{{ activity.contactname }}</strong> from {{ activity.city }}, recommended {{ activity.message }} for <a href="{{ path('b_bids_b_bids_home_homepage') }}search?category={{ activity.category }}">{{ activity.category }}</a></span>
	{% endif %}
	</div>
	 {% endfor %}
	</div>
	
	<div class="col-md-12 left-clear">
	{% block requestsfeed %}
	<div class="request">
	<h2>{{ enquiries }}</h2>
	<span>NUMBER OF NEW REQUESTS UPDATED TODAY</span>
	</div>
	{% endblock %}
	</div>
            </div>
	
	
	{% endblock %}
            </div>
            <div class="container">
	
	
	</div>
	     </div>
        </div>
	    
    </div>
	 <div class="certified_block">
    	<div class="container">
	<div class="row">
	<h1>We do work for you!</h1>
	<div class="content-block">
	<p>Each vendor undergoes a carefully designed selection and screening process by our team to ensure the highest quality and reliability.</p>
	<p>Your satisfication matters to us!</p>
	<p>Get the job done fast and hassle free by using Business Bid's certified vendors.</p>
	<p>Other customers just like you, leave reviews and ratings of vendors. This helps you choose the perfect vendor and ensures an excellent customer 
service experience.</p>
	</div>
	</div>
              </div>        
	</div>
	 <div class="popular_category_block">
    	<div class="container">
	<div class="row">
	<h1>Popular Categories</h1>
	<h3>Check out some of the hottest services in the UAE</h3>
	<div class="content-block">
	<div class="col-sm-12">
	<div class="col-sm-2">
	<ul>
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':17}) }}">Advertising <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':17}) }}">Advertising <br>Services</a></li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':47}) }}">Cleaning <br>Services</a> </li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':47}) }}">Cleaning <br>Services</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':87}) }}">Interior <br>Designers </a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':87}) }}">Interior <br>Designers </a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':112}) }}">Pest Control & <br>Inspection </a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':112}) }}">Pest Control & <br>Inspection </a> </li>
	{% endif %}	
	</ul>
	</div>
	<div class="col-sm-2">
	<ul>
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':23}) }}">Attestation <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':23}) }}">Attestation <br>Services</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':50}) }}">Computers - Repair <br>& Maintenance</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':50}) }}">Computers - Repair <br>& Maintenance</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':93}) }}">Landscape <br>& Lawns</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':93}) }}">Landscape <br>& Lawns</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':115}) }}">Property <br>Management <br>& Real Estate <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':115}) }}">Property <br>Management <br>& Real Estate <br>Services</a> </li>
	{% endif %}	
	</ul>
	</div>
	<div class="col-sm-2">
	<ul>
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':26}) }}">Babysitters & Nannies Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':26}) }}">Babysitters & Nannies Services</a> </li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':800}) }}">Courier <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':800}) }}">Courier <br>Services</a> </li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':92}) }}">Labour Supply <br>Service</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':92}) }}">Labour Supply <br>Service</a> </li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':114}) }}">Photography <br>& Video Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':114}) }}">Photography <br>& Video Services</a> </li>
	{% endif %}	
	</ul>
	</div>
	<div class="col-sm-2">
	<ul>
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':30}) }}">Building Construction Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':30}) }}">Building Construction Services</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':61}) }}">Driving Lessons <br>& Classes</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':61}) }}">Driving Lessons <br>& Classes</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':94}) }}">Language <br>Courses</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':94}) }}">Language <br>Courses</a> </li>
	{% endif %}
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':119}) }}">Security & Surveillance</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':119}) }}">Security & Surveillance</a> </li>
	{% endif %}	
	</ul>
	</div>

	<div class="col-sm-2">
	<ul>
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':33}) }}">Business Set up <br>& Formation</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':33}) }}">Business Set up <br>& Formation</a></li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':911}) }}">Event <br>Management</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':911}) }}">Event <br>Management</a> </li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':97}) }}">Maid <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':97}) }}">Maid <br>Services</a></li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':137}) }}">Vehicle Rental <br>& Transportation</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':137}) }}">Vehicle Rental <br>& Transportation</a> </li>
	{% endif %}	
	</ul>
	</div>
	<div class="col-sm-2">
	<ul>
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':45}) }}">Catering <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':45}) }}">Catering <br>Services</a> </li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':65}) }}">Exhibition Stands <br>& Kiosks</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':65}) }}">Exhibition Stands <br>& Kiosks</a> </li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':109}) }}">Party Planning <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':109}) }}">Party Planning <br>Services </a></li>
	{% endif %}	
	
	{% if uid is not empty %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search',{'categoryid':141}) }}">Wedding <br>Services</a></li>
	{% else %}
	<li><a href="{{ path('b_bids_b_bids_post_by_search_inline',{'categoryid':141}) }}">Wedding <br>Services</a></li>
	{% endif %}	
	</ul>
	</div>
	</div>
	</div>
	<div class="col-sm-12 see-all-cat-block"><a  href="{{ path('b_bids_b_bids_categories') }}" class="btn btn-success see-all-cat" >See All Categories</a></div>
	</div>
	</div>
       </div>

<div class="people_business_block">
    	<div class="container">
	<div class="row">

	<div class="content-block">
	<div class="col-sm-12">
	<img src="{{ asset('img/businessbid-logo-botom.png') }}" /> <h1>is the most efficient way for Customers 
to find Vendors in the UAE. Why not give it a try?</h1>
	</div>
	<div class="col-sm-12 see-all-cat-block "><a class="btn btn-success see-all-cat blue wobble-horizontal" href="{{ path('b_bids_b_bids_post_quote_inline') }}">Request Free Quotes</a><a class="btn btn-success see-all-cat peach wobble-horizontal" href="{{ path('b_bids_b_bids_how_it_works') }}">Register Your Business</a></div>
	</div>
	
	</div>
	</div>
       </div>

</div>
	{% endblock %}
    <!-- content block Ends -->
    

    
    <!-- footer block Starts -->
	{% block footer %}
<footer class="footer_wrapper">
	<div class="container">
	<div class="row">
	<div class="customer-benefits-block">
	 <div class="region region-footer-links-one footer-menu">
	<section id="block-menu-menu-footer-menu-one" class="block block-menu clearfix customer-benefits">
	<h2 class="block-title">Customer Benefits</h2>
	<ul class="menu nav">
	<li class="first leaf"><a>Convenience</a>
	<span>Multiple quotations with a single, simple form</span>
	</li>
	<li class="leaf active"><a>Competitive Pricing</a>
	<span>Compare quotes before choosing the most suitable.</span>
	</li>
	<li class="leaf active"><a>Speed</a>
	<span>Quick responses to all your job requests.</span>
	</li>
	<li class="leaf active"><a>Reputation</a>
	<span>Check reviews and ratings for the inside scoop.</span>
	</li>
	<li class="leaf active"><a>Free to Use</a>
	<span>No usage fees. Ever!</span>
	</li>
	<li class="last leaf active"><a>Amazing Support</a>
	<span>Phone. Live Chat. Facebook. Twitter.</span>
	</li>
	</ul>
	</section> <!-- /.block -->
	</div>
	</div>
	<div class="footer-right-menu-block">
	<div class="footer-right-menu-block-top">
	<div class="customer-benefits-block-first">
	 <div class="region region-footer-links-two footer-menu">
	<section id="block-menu-menu-footer-menu-two" class="block block-menu clearfix">
	<h2 class="block-title">About</h2>
	<ul class="menu nav">
	<li class="first leaf"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#aboutus" title="" >About Us</a></li>
	<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#meetteam" title="" class="active">Meet the Team</a></li>
	<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#career" title="" class="active">Career Oprtunities</a></li>
	<li class="last leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#valuedpartner" title="" class="active">Valued Partners</a></li>
	<li class="leaf active"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#contact" title="" class="active">Contact Us</a></li>
	</ul>
	</section> <!-- /.block -->
	</div>
	</div>
	<div class=" col-sm-3">
	<div class="region region-footer-links-three footer-menu">
	<section id="block-menu-menu-for-services-professionals" class="block block-menu clearfix ">
	<h2 class="block-title">Vendor Resources</h2>
	<ul class="menu nav">
	<li class="leaf"><a href="{{ path('b_bids_b_bids_login') }}#vendor" title="">Login</a></li>
	<li class="first leaf active"><a href="{{ path('b_bids_b_bids_grow_your_business') }}" title="" class="active">Grow Your Business</a></li>
	<li class="leaf"><a href="{{ path('b_bids_b_bids_how_it_works') }}" title="">How it Works</a></li>
	<li class="first leaf"><a href="{{ path('b_bids_b_bids_vendor_register') }}" title="">Become a Vendor</a></li>
	<li class="leaf active"><a href="{{ path('b_bids_b_bids_faq') }}" title="" class="active">FAQ's &amp; Support</a></li>
	</ul>
	</section>
	<!-- /.block -->
	</div>
	</div>
	<div class=" col-sm-3">
	<div class="region region-footer-links-four footer-menu social-links">
	<section id="block-menu-menu-for-services-professionals" class="block block-menu clearfix">
	<h2 class="block-title">Stay Connected</h2>
	<ul class="menu nav">
	<li class="leaf"><a href="#" class="facebook" target="_blank">Like us on Facebook</a></li>
	<li class="first leaf active"><a href="#" title="" class="twitter" target="_blank">Follow us on Twitter</a></li>
	<li class="leaf"><a href="#" title="" class="gplus" target="_blank">Follow Us on Google+</a></li>
	</ul>
	</section>
	<!-- /.block -->
	</div>
	</div>
	
	<div class="col-xs-12 customer-benefits-block-last footer_nav_liks">
	<div class="region region-footer-links-five">
	<section id="block-block-8" class="block block-block clearfix">
	<h2 class="block-title">Contact Us</h2>
	<address class="addr-map">Unit 203, Building EIB-03 Dubai Internet City</address>
	<span class="work-day-time">Sunday-Thursday</span>
	<span class="work-day-time">9 am - 6 pm</span>
	
	<span class="mobile">(04) 347 2000</span>
	<span class="telphone">(04) 347 2001</span>
	</section> <!-- /.block -->
	</div>
	 
	</div>
	</div>
	<div class="footer-right-menu-block-top">
	<div class="customer-benefits-block-first">
	 <div class="region region-footer-links-two footer-menu">
	<section id="block-menu-menu-footer-menu-two" class="block block-menu clearfix">
	<h2 class="block-title">Client Services</h2>
	<ul class="menu nav">
	<li class="first leaf"><a href="{{ path('b_bids_b_bids_post_job') }}" title="">Post a Job</a></li>
	<li class="leaf"><a href="{{ path('b_bids_b_bids_post_quote_inline') }}" title="">Find a Vendor</a></li>
	<li class="leaf"><a href="#" title="">Search Reviews</a></li>
	<li class="last leaf"><a href="{{ path('b_bids_b_bids_reviewlogin') }}" title="">Write a Review</a></li>
	</ul>
	</section> <!-- /.block -->
	</div>
	</div>
	<div class=" col-sm-3">
	<div class="region region-footer-links-three footer-menu">
	<section id="block-menu-menu-client-resources" class="block block-menu clearfix">
	<h2 class="block-title">Client Resources</h2>
	<ul class="menu nav">
	<li class="leaf"><a href="{{ path('b_bids_b_bids_login') }}#consumer" title="">Login</a></li>
	<li class="leaf"><a href="{{ path('b_bids_b_bids_how_it_works_2') }}">How it Works</a></li>
	<!--<li class="first leaf"><a href="{{ path('b_bids_b_bids_consumer_register') }}" title="">Become a Consumer</a></li> -->
	<li class="last leaf active"><a href="http:../../../resource_centre" title="" class="active">Resource Center</a></li>
	<li class="leaf active"><a href="{{ path('b_bids_b_bids_node6') }}" title="" class="active">FAQ's &amp; Support</a></li>
	</ul>
	</section> <!-- /.block -->
	</div>
	</div>
	<div class=" col-sm-3">
	<div class="region region-footer-links-four footer-menu">
	<section id="block-menu-menu-for-services-professionals" class="block block-menu clearfix payment-accept">
	<h2 class="block-title">Accepted Payment</h2>
	<ul class="menu nav col-sm-8">
	<li class="leaf"><a><img src="{{ asset('img/visa-icon.jpg') }} " /></a></li>
	<li class="leaf"><a><img src="{{ asset('img/masercard-icon.jpg') }} " /></a></li>
	<li class="leaf"><a><img src="{{ asset('img/cashu-icon.jpg') }} " /></a></li>
	<li class="leaf"><a><img src="{{ asset('img/paypal-icon.jpg') }} " /></a></li>
	<li class="leaf"><a><img src="{{ asset('img/securecode-icon.jpg') }}" /></a></li>
	</ul>
	</section> 
	<!-- /.block -->
	</div>
	</div>
	
	<div class="col-xs-12 customer-benefits-block-last footer_nav_liks">
	<div class="region region-footer-links-five">
	<section id="block-block-8" class="block block-block clearfix subscribe_news">
	<h2 class="block-title">Subscribe to Newsletter</h2>
	<div class="subscribe-text">Sign up with your e-mail to get tips, resources 
and amazing deals</div> <div class="mail-box"> 
<form name="news" method="post" action="{{ asset('newsletter.php') }}">
<input type="email" name="email" value="" placeholder="Enter your email here"> 
<input class="submit" type="submit" value="Subscribe" /></div>
</form>	</section> <!-- /.block -->
	</div>
	 
	</div>
	</div>
	
	<div class="footer-right-menu-block-top">
	<div class="region region-footer-quick-links">
	<section id="block-menu-menu-footer-quick-links" class="block block-menu clearfix">
	  <ul class="menu nav">
	  	<li class="first leaf"><a href="{{ path('b_bids_b_bids_feedback') }}">Feedback</a></li>
	<li class="leaf"><a href="{{ path('b_bids_b_bids_aboutbusinessbid') }}#career" title="">Careers</a></li>
	<li class="leaf"><a data-toggle="modal" data-target="#privacy-policy">Privacy policy</a></li>
	<li class="leaf"><a data-toggle="modal" data-target="#sitemap">Site Map</a></li>
	<li class="last leaf"><a data-toggle="modal" data-target="#terms-conditions">Terms &amp; Conditions</a></li>
	  </ul>
	</section> <!-- /.block -->
  	</div>
               	</div>


	</div>
	</div>
	</div>
	</div>
	<a href="#" class="live"></a>
</footer>
	{% endblock %}
    <!-- footer block ends -->
</div>

<div class="modal fade" id="privacy-policy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Privacy Policy</h4>
      </div>
	<iframe src="/web/htm-files/privacy-policy.html" width="100%" height="500" frameborder="0">
	</iframe>

    </div>
  </div>
</div>

<div class="modal fade" id="sitemap" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Site map</h4>
      </div>
      <div class="modal-body modal-body-story">
	sitemappppppp
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="terms-conditions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Terms &amp; Conditions</h4>
      </div>
	<iframe src="/web/htm-files/terms-conditions.html" width="100%" height="500" frameborder="0">
	</iframe>
    </div>
  </div>
</div>


</body>
</html>
<script type="text/javascript">
window.onload = jsfunction();
//window.onload = getcharactercount();
//window.onload = megamenuAjax();
</script>
